@charset "utf-8";
.bg-dark {
	background-color: #86878b!important;
}
.lead{
	font-size: 1.25rem;
	font-weight: 300;
	word-wrap: break-word;
	text-align: left;
}
.altura{
	height: 60px;
}
.section-heading{
	font-family: calibri;
	font-weight: 40px;
}
#area1{
	background: #fff;
}
#area2{
	background: #c0c0c0;
}
#area3{
	background: #948f8f;
}