@charset "UTF-8";

body{
	width: 100%;
	background: #54adfd;
	height: auto;
	font-family: arial;
	float: left;
	margin: 0%;
}

.menu{
	width: 100%;
	background: #453f3f;
	height: 90px;
	float: left;
}

.datos{
	width: 100%;
	background: #f2c545;
	height: 30px;
	float: left;
}

.cel{
	width: 2%;
	background: #9b2f10;
	height: 30px;
	float: left;
	margin-left: 60%;
}

.celarea{
	width: 10%;
	background: #7a0f00;
	height: 30px;
	float: left;
	margin-left: 1%;
}

.socios{
	width: 8%;
	background: #5c1916;
	height: 30px;
	float: left;
	margin-left: 1%;
}

.inicio{
	width: 5%;
	background: #530000;
	height: 30px;
	float: left;
	margin-left: 1%;
}

.page{
	width: 100%;
	background: #fe2020;
	height: 60px;
	float: left;
}

.logotipo{
	width: 9%;
	background: #970102;
	height: 60px;
	float left;
	margin-left: 5%;
	
}

.casa{
	width: 3%;
	background: #731115;
	height: 60px;
	float: left;
	margin-left: 50%;
	
}

.sobrenosotros{
	width: 5%;
	background: #731115;
	height: 60px;
	float: left;
	margin-left: 1%;
	
}

.productos{
	width: 10%;
	background: #731115;
	height: 60px;
	float: left;
	margin-left: 1%;
}

.experiencia{
	width: 15%;
	background: #731115;
	height: 60px;
	float: left;
	margin-left: 1%;
}

.contacto{
	width: 7%;
	background: #731115;
	height: 60px;
	float: left;
	margin-left: 1%;
}

.larguito1{
	width: 100%;
	background: #fbd283;
	height: 10px;
	float: left;
}

.larguito2{
	width: 100%;
	background: #9c9d58;
	height: 10px;
	float: left;
}

.seccion1{
	width: 100%;
	background: #fe9c53;
	height: 400px;
	float: left;
}

.paralax1{
	width: 50%;
	background: #997d2c;
	height: 400px;
	float: left;
}

.a{
	width: 80%;
	height: 200px;
	float: left;
	background: #c73b0b;
	margin-left: 4%;
	margin-top: 170px;
}

.a1{
	width: 100%;
	height: 50px;
	float: left;
	background: #7a0f00;

}

.a1name{
	width: 30%;
	height: 50px;
	float: left;
	background: #f72305;
	margin-left: 6%;
}

.a2texto{
	width: 100%;
	height: 100px;
	float: left;
	background: #eb8c00;
	
}

.a3{
	width: 100%;
	height: 50px;
	float: left;
	background: #f3480d;
}

.a3pie{
	width: 20%;
	height: 50px;
	float: left;
	background: #978e43;
	margin-left: 66%;
}

.paralax2{
	width: 50%;
	background: #fe9c53;
	height: 400px;
	float: left;
}

.seccion2{
	width: 100%;
	height: 300px;
	float: left;
	background: #c45908;
}
.larguito3{
	width: 100%;
	background: #7a0f00;
	height: 10px;
	float: left;
}

.box{
	width: 60%;
	background: #f02d35;
	height: 290px;
	float: left;
}

.box1{
	width: 100%;
	background: #cd3636;
	height: 60px;
	float: left;
}

.box1titulo{
	width: 35%;
	background: #ff0303;
	height: 60px;
	float: left;
	margin-left: 5%;
}

.box2{
	width: 100%;
	background: #ef6910;
	height: 170px;
	float: left;
}

.box3{
	width: 100%;
	background: #eb0c15;
	height: 60px;
	float: left;
}

.box3pie{
	width: 15%;
	background: #fe9c53;
	height: 60px;
	float: left;
	margin-left: 75%;
}

.box4{
	width: 40%;
	background: #978e43;
	height: 290px;
	float: left;
}

.seccion3{
	width: 100%;
	height: 900px;
	float: left;
	background: #e7a136;
}

.d{
	width: 30%;
	height: 400px;
	float: left;
	background: #e7b465;
	margin-left: 2%
}

.e{
	width: 30%;
	height: 400px;
	float: left;
	background: #e7b465;
	margin-left: 3%
}

.f{
	width: 30%;
	height: 400px;
	float: left;
	background: #e7b465;
	margin-left: 3%
}

.d1{
	width: 100%;
	height: 65px;
	float: left;
	background: #c73b0b;
}

.d1texto{
	width: 40%;
	height: 65px;
	float: left;
	background: #ff4607;
}

.d2{
	width: 100%;
	height: 270px;
	float: left;
	background: #230203;
}

.d3{
	width: 100%;
	height: 65px;
	float: left;
	background: #c95305;
}

.d3pie{
	width: 35%;
	height: 65px;
	float: right;
	background: #fc6e10;
}

.e1{
	width: 100%;
	height: 65px;
	float: left;
	background: #c73b0b;
}

.e1texto{
	width: 40%;
	height: 65px;
	float: left;
	background: #ff4607;
}

.e2{
	width: 100%;
	height: 270px;
	float: left;
	background: #230203;
}

.e3{
	width: 100%;
	height: 65px;
	float: left;
	background: #c95305;
}

.e3pie{
	width: 35%;
	height: 65px;
	float: right;
	background: #fc6e10;
}

.f1{
	width: 100%;
	height: 65px;
	float: left;
	background: #c73b0b;
}

.f1texto{
	width: 40%;
	height: 65px;
	float: left;
	background: #ff4607;
}

.f2{
	width: 100%;
	height: 270px;
	float: left;
	background: #230203;
}

.f3{
	width: 100%;
	height: 65px;
	float: left;
	background: #c95305;
}

.f3pie{
	width: 35%;
	height: 65px;
	float: right;
	background: #fc6e10;
}

.g{
	width: 30%;
	margin-top: 50px;
	height: 400px;
	float: left;
	background: #e7b465;
	margin-left: 2%

}

.h{
	width: 30%;
	margin-top: 50px;
	height: 400px;
	float: left;
	background: #e7b465;
	margin-left: 3%
}

.i{
	width: 30%;
	margin-top: 50px;
	height: 400px;
	float: left;
	background: #e7b465;
	margin-left: 3%
}

.g1{
	width: 100%;
	height: 65px;
	float: left;
	background: #c73b0b;
}

.g1texto{
	width: 40%;
	height: 65px;
	float: left;
	background: #ff4607;
}

.g2{
	width: 100%;
	height: 270px;
	float: left;
	background: #230203;
}

.g3{
	width: 100%;
	height: 65px;
	float: left;
	background: #c95305;
}

.g3pie{
	width: 35%;
	height: 65px;
	float: right;
	background: #fc6e10;
}

.h1{
	width: 100%;
	height: 65px;
	float: left;
	background: #c73b0b;
}

.h1texto{
	width: 40%;
	height: 65px;
	float: left;
	background: #ff4607;
}

.h2{
	width: 100%;
	height: 270px;
	float: left;
	background: #230203;
}

.h3{
	width: 100%;
	height: 65px;
	float: left;
	background: #c95305;
}

.h3pie{
	width: 35%;
	height: 65px;
	float: right;
	background: #fc6e10;
}


.i1{
	width: 100%;
	height: 65px;
	float: left;
	background: #c73b0b;
}

.i1texto{
	width: 40%;
	height: 65px;
	float: left;
	background: #ff4607;
}

.i2{
	width: 100%;
	height: 270px;
	float: left;
	background: #230203;
}

.i3{
	width: 100%;
	height: 65px;
	float: left;
	background: #c95305;
}

.i3pie{
	width: 35%;
	height: 65px;
	float: right;
	background: #fc6e10;
}

.seccion4{
	width: 100%;
	height: 300px;
	float: right;
	background: #0163ba;
}

.imagen{
	width: 34%;
	background: #731115;
	height: 300px;
	float: left;

}

.cuadro2{
	width: 66%;
	background: #fe6822;
	height: 300px;
	float: right;

}

.j2{
	width: 100%;
	background: #d60613;
	height: 50px;
	float: left;
	margin-top: 30px;

}

.j2titulo{
	width: 40%;
	background: #f72305;
	height: 50px;
	float: left;
	margin-left: 4%;
}

.textos{
	width: 100%;
	background: #c45623;
	height: 200px;
	float: left;
}

.texto1{
	width: 50%;
	background: #fe9c53;
	height: 200px;
	float: left;
}


.texto2{
	width: 50%;
	background: #a2931a;
	height: 200px;
	float: left;
}

.seccion5{
	width: 100%;
	height: 700px;
	float: right;
	background: #9b2f10;
}

.hijo51{
	width: 60%;
	height: 700px;
	float: left;
	background: #f76242;
}

.hijo52{
	width: 40%;
	height: 700px;
	float: left;
	background: #977254;
}

.titulo51{
	width: 100%;
	height: 90px;
	float: left;
	background: #f29609;
}
.contenedor1{
	width: 100%;
	height: 550px;
	float: left;
	background: #38352c;
}

.con1{
	width: 40%;
	height: 100px;
	float: left;
	background: #f2c545;
	margin-top: 40px;
}

.con2{
	width: 60%;
	height: 100px;
	float: left;
	background: #c73b0b;
	margin-top: 40px;
}

.con3{
	width: 40%;
	height: 100px;
	float: left;
	background: #f2c545;
	margin-top: 30px;
}

.con4{
	width: 60%;
	height: 100px;
	float: left;
	background: #c73b0b;
	margin-top: 30px;
}


.con5{
	width: 40%;
	height: 200px;
	float: left;
	background: #f2c545;
	margin-top: 50px;
}

.con6{
	width: 60%;
	height: 200px;
	float: left;
	background: #c73b0b;
	margin-top: 50px;
}

.contenedor2{
	width: 100%;
	height: 410px;
	float: left;
	background: #825137;
	margin-top: 90px;
}

.conte1{
	width: 100%;
	height: 110px;
	float: left;
	background: #330f02;
	margin-top: 50px;
}

.conte2{
	width: 60%;
	height: 110px;
	float: right;
	background: #ec4407;
	
}

.conte3{
	width: 100%;
	height: 110px;
	float: left;
	background: #330f02;
	margin-top: 100px;
}

.conte4{
	width: 25%;
	height: 110px;
	float: left;
	background: #e07d28;
	margin-left: 55%;
	
}

#footer{
	width: 100%;
	height: 250px;
	float: left;
	background: #731115;
	
}

.fo1{
	width: 30%;
	height: 250px;
	float: left;
	background: #7a0f00;
}

.fo2{
	width: 70%;
	height: 250px;
	float: left;
	background: #731115;
}

.imalogo{
	width: 100%;
	height: 90px;
	float: left;
	background: #330f02;
}

.imalogo1{
	width: 40%;
	height: 90px;
	float: left;
	background: #ff6924;
	margin-left: 30%;
}

.logis{
	width: 100%;
	height: 90px;
	float: left;
	background: #e7a136;
}

.logi1{
	width: 20%;
	height: 90px;
	float: left;
	background: #c13f47;
	margin-left: 20%;
}

.logi2{
	width: 20%;
	height: 90px;
	float: left;
	background: #c17953;
}

.logi3{
	width: 20%;
	height: 90px;
	float: left;
	background: #bcbd84;
}

.fo21{
	width: 100%;
	height: 125px;
	float: left;
	background: #fe2020;
}


.fo22{
	width: 100%;
	height: 50px;
	float: left;
	background: #d1aa70;
	margin-top: 50px;
}


.fo222{
	width: 25%;
	height: 50px;
	float: left;
	background: #c13f47;
	margin-left: 25%;
}