@charset "UTF-8";

body{
	width: 100%;
	background: #54adfd;
	height: auto;
	font-family: arial;
	float: left;
	margin: 0%;
}

.menu{
	width: 100%;
	background: #453f3f;
	height: 90px;
	float: left;
}

.datos{
	width: 100%;
	background: #f2c545;
	height: 30px;
	float: left;
}

.cel{
	width: 2%;
	background: #9b2f10;
	height: 30px;
	float: left;
	margin-left: 60%;
}

.celarea{
	width: 10%;
	background: #7a0f00;
	height: 30px;
	float: left;
	margin-left: 1%;
}

.socios{
	width: 8%;
	background: #5c1916;
	height: 30px;
	float: left;
	margin-left: 1%;
}

.inicio{
	width: 5%;
	background: #530000;
	height: 30px;
	float: left;
	margin-left: 1%;
}

.page{
	width: 100%;
	background: #fe2020;
	height: 60px;
	float: left;
}

.logotipo{
	width: 9%;
	background: #970102;
	height: 60px;
	float left;
	margin-left: 5%;
	
}

.casa{
	width: 3%;
	background: #731115;
	height: 60px;
	float: left;
	margin-left: 50%;
	
}

.sobrenosotros{
	width: 5%;
	background: #731115;
	height: 60px;
	float: left;
	margin-left: 1%;
	
}

.productos{
	width: 10%;
	background: #731115;
	height: 60px;
	float: left;
	margin-left: 1%;
}

.experiencia{
	width: 15%;
	background: #731115;
	height: 60px;
	float: left;
	margin-left: 1%;
}

.contacto{
	width: 7%;
	background: #731115;
	height: 60px;
	float: left;
	margin-left: 1%;
}

.larguito1{
	width: 100%;
	background: #fbd283;
	height: 10px;
	float: left;
}

.larguito2{
	width: 100%;
	background: #9c9d58;
	height: 10px;
	float: left;
}

.seccion1{
	width: 100%;
	background: #fe9c53;
	height: 400px;
	float: left;
}

.a{
	width: 100%;
	background: #fe9c53;
	height: 80px;
	float: left;
}

.box{
	width: 40%;
	background: #c73b0b;
	height: 300px;
	float: left;
	margin-left: 4%;
}

.boxmargin{
	width: 96%;
	background: #c73b0b;
	height: 10px;
	float: left;
	margin-left: 4%;
}
.box1name{
	width: 30%;
	background: #7a0f00;
	height: 60px;
	float: left;
	margin-left: 4%;
	
}

.box2texto{
	width: 85%;
	background: #eb8c00;
	height: 150px;
	float: left;
	margin-left: 4%;
	
}

.boxmargin2{
	width: 96%;
	background: #c73b0b;
	height: 20px;
	float: left;
	margin-left: 4%;

}

.box3boton{
	width: 15%;
	background: #978e43;
	height: 40px;
	float: left;
	margin-left: 80%;
	
}

.seccion2{
	width: 100%;
	background: #230203;
	height: 300px;
	float: left;
}

.larguito3{
	width: 100%;
	background: #7a0f00;
	height: 10px;
	float: left;
}

.box1{
	width: 60%;
	background: #f02d35;
	height: 290px;
	float: left;
	
}

.box1margin{
	width: 96%;
	background: #f02d35;
	height: 10px;
	float: left;
	margin-left: 4%;
}

.box1name1{
	width: 30%;
	background: #7a0f00;
	height: 60px;
	float: left;
	margin-left: 4%;
	
}

.box2texto1{
	width: 85%;
	background: #eb8c00;
	height: 150px;
	float: left;
	margin-left: 4%;
	
}

.box1margin21{
	width: 96%;
	background: #f02d35;
	height: 10px;
	float: left;
	margin-left: 4%;

}

.box13boton{
	width: 15%;
	background: #fe9c53;
	height: 50px;
	float: left;
	margin-left: 80%;
	
}

.box2{
	width: 40%;
	background: #978e43;
	height: 290px;
	float: left;