@charset "UTF-8";

body{
	background: #cfcdce;
	margin: 0;
	padding: 0;
	font-family: tahoma;
}

.encajonado{
 	display: block;
 	margin: auto;
 	width: 90%;
 	height: auto;
 	background: white;
 	min-height: 60px;

}

header{
	background: #ddae76;
	height: 325px;
	width: 100%;
	float: left;
}

.en1{
	width: 30%;
	height: 325px;
	float: left;
}

.en2{
	width: 70%;
	height: 325px;
	float: left;

}

.imagen1{
	background: url('../img/logo-header.png');
	width: 275px;
	height: 274px;
	margin: auto;
	display: block;
	float: left;
}

.en2 > div:first-child > h1{
	color: black;
	font-size: 35pt;
	letter-spacing: 0px;
	text-align: left;
	font-weight: bold;
	font-family: tahoma;
	margin: 0;
	padding: : 0;
	margin-top: 120px;
}

.en2 > div:last-child > h3{
	color: black;
	font-size: 16pt;
	letter-spacing: 3px;
	text-align: left;
	font-weight: lighter;
	font-family: tahoma;
	margin: 0;
	padding: 0;
	margin-left: 27%;
	
}

article{
	width: 100%;
	height: auto;
	float: left;
	background: white;
	border-bottom: 2.5px solid #cfcdce;
}

section > article:first-child > div >h2{
	color: black;
	text-align: left;
	font-family: tahoma;
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-size: 24;

}

section > article:first-child > div > p{
	color: black;
	text-align: left;
	font-size: 14pt;
	margin: 0;
	padding: 0;
	font-weight: lighter;
	line-height: 18pt;
	letter-spacing: 3px;
}

section > article:first-child > div{
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
	float: left;
	margin-top: 40px;
	margin-bottom: 40px;
}