@charset "utf-8";

body{
	background: #a6a4d5;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #da9712;
	height: 60px;
	float: left;
	
}

.child1{
	width: 55%;
	height: 60px;
	background: #de821d;
	float: left;
}

.child2{
	width: 44.6%;
	float: left;
	background: #e89ec1;
	height: 60px;
}

.a{
	width: 45%;
	float: left;
	height: 60px;
	background: #8a6a81;
}

.b{
	width: 55%;
	float: left;
	height: 60px;
	background: #d5cc2f;

}

.c{
	width: 27%;
	float: left;
	height: 60px;
	background: #f54307;
}

.d{
	width: 19%;
	float: left;
	height: 60px;
	background: #f49d42;

}

.e{
	width: 27%;
	float: left;
	height: 60px;
	background: #b37248;

}

.f{
	width: 27%;
	float: left;
	height: 60px;
	background: #df9319;

}

.g{
	width: 100%;
	float: left;
	height: 400px;
	background: #f177a8;

}

.h{
	width: 100%;
	float: left;
	height: 50px;
	background: #a4a989;

}

.seccion2{
	width: 100%;
	float: left;
	height: 600px;
	background: #a3a6db;
}

.i{
	width: 25%;
	float: left;
	height: 600px;
	background: #86b0cf;
	margin-left: 6%
}

.i1{
	width: 100%;
	float: left;
	height: 300px;
	background: #44878d;
}

.i2{
	width: 100%;
	float: left;
	height: 50px;
	background: #9b7c8b;
}

.i3{
	width: 100%;
	float: left;
	height: 180px;
	background: #ca4c3e;

}


.i4{
	width: 100%;
	float: left;
	height: 70px;
	background: #aa3a74;
}

.i5{
	width: 40%;
	float: left;
	height: 70px;
	background: #695a61;
	margin-left: 30%

}

.j{
	width: 25%;
	float: left;
	height: 600px;
	background: #86b0cf;
	margin-left: 6%
}

.j1{
	width: 100%;
	float: left;
	height: 300px;
	background: #44878d;
}

.j2{
	width: 100%;
	float: left;
	height: 50px;
	background: #9b7c8b;
}

.j3{
	width: 100%;
	float: left;
	height: 180px;
	background: #ca4c3e;

}


.j4{
	width: 100%;
	float: left;
	height: 70px;
	background: #aa3a74;
}

.j5{
	width: 40%;
	float: left;
	height: 70px;
	background: #695a61;
	margin-left: 30%

}

.k{
	width: 25%;
	float: left;
	height: 600px;
	background: #86b0cf;
	margin-left: 6%
}

.k1{
	width: 100%;
	float: left;
	height: 300px;
	background: #44878d;
}

.k2{
	width: 100%;
	float: left;
	height: 50px;
	background: #9b7c8b;
}

.k3{
	width: 100%;
	float: left;
	height: 180px;
	background: #ca4c3e;

}


.k4{
	width: 100%;
	float: left;
	height: 70px;
	background: #aa3a74;
}

.k5{
	width: 40%;
	float: left;
	height: 70px;
	background: #695a61;
	margin-left: 30%

}

.seccion3{
	width: 100%;
	float: left;
	height: 400px;
	background: #87b0b2;
}

.l{
	width: 50%;
	float: left;
	height: 90px;
	background: #7a9552;
	margin-left: 50%
}

.l1{
	width: 50%;
	float: left;
	height: 70px;
	background: #512836;
	margin-left: 50%
}

.l12{
	width: 50%;
	float: left;
	height: 70px;
	background: #b59157;
	margin-left: 50%
}

.l2{
	width: 50%;
	float: left;
	height: 70px;
	background: #ab4e56;
	margin-left: 50%

}

.l3{
	width: 50%;
	float: left;
	height: 70px;
	background: #4d8b88;
	margin-left: 50%

}

.l31{
	width: 20%;
	float: left;
	height: 70px;
	background: #2f80ab;
	margin-left: 40%
}

.l4{
	width: 50%;
	float: left;
	height: 100px;
	background: #779452;
	margin-left: 50%

}


#seccion4{
	width: 100%;
	background: #3e383a;
	height: 400px;
	float: left;
	
}

.child3{
	width: 60%;
	height: 400px;
	background: #383934;
	float: left;
}

.child4{
	width: 40%;
	float: right;
	background: #6b9996;
	height: 400px;
}

