@charset "UTF-8";

body{
	background: white;
	margin: 0;
	padding: 0;
	font-family: arial;	
}

header{
	background: #b6640e;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	float: left;
}



#encabezado{
	width: 100%;
	height: 60px;
	float: left;
	margin-left: 2%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.imagen1{
	background: url('../img/icono_logo.png');
	width: 33px;
	height: 22px;
	margin: auto;
	display: block;
	float: left;
	margin-top: 13px;
	margin-left: 1%;
}


#encabezado>li{
	width: 11.5%;
	height: 30px;
	display: block;
	float: left;
	text-align: center;
	padding-top: 14px;
	border-right: 0.2px solid white;
	border-left:  1px solid white;
	color: white;
}


#encabezado>li>a{
	text-decoration: none;
	color: white;
	text-align: center;
}

article{
	width: 100%;
	height: 500px;
	background: url('../img/crecimiento2.png') no-repeat;
	float: left;
	border-bottom: 20px solid white;
}

.a1{
	width: 40%;
	height: 500px;
	float: left;

}

.a2{
	width: 50%;
	height: 500px;
	float: left;
	margin-top: 55px;
}

.persona{
	background: url('../img/persona.png');
	width: 567px;
	height: 498px;
	float: left;
	margin: 0;
	display: block;

}

.a2> div:first-child >h2{
	color: #b6640e;
	text-align: left;
	font-family: tahoma;
	font-weight: bold;
	margin: 0;
	padding: 0;
	font-size: 24pt;
}

.a2> div:first-child >p{
	color: gray;
	text-align: left;
	font-size: 14pt;
	margin: 0;
	padding: 0;
	font-weight: lighter;
	line-height: 25pt;
	font-family: calibri;
	letter-spacing: 3px;
}

.a2> div:last-child >button{
	border: 1px solid #b6640e;
	background: white;
	width: 25%;
	height: 45px;
	border-radius: 5px;
	float: left;
	margin-top: 35px;
	text-align: center;
	font-weight: normal;
	font-size: 12pt;
	color: #b6640e;
	font-family: calibri;
	margin-left: 3%;
}

.seccion2{
	width: 100%;
	height: 400px;
	float: left;
	background: white;
	border-bottom: 20px: solid white;
}

.sec1{
	width: 24%;
	height: 400px;
	float: left;
	background: #f0f0f0;
	margin-left: 0.5%;
	
}

.hijo1{
	width: 100%;
	height: 100px;
	float: left;
}

.s1{
	width: 40%;
	height: 100px;
	float: left;	
}

.s2{
	width: 58%;
	height: 60px;
	float: left;
	border-bottom: 1px solid gray;

}
.libro{
	background: url('../img/icono1.png');
	width: 100px;
	height: 100px;
	float: left;
	margin: 0;
	display: block;
	margin-left: 5%;
	margin-top: 10px;

}

.s2 >h3{
	 color: black;
	 text-align: left;
	 font-family: tahoma;
	 font-weight: bold;
	 margin: 0;
	 padding: 0;
	 font-size: 18pt;
	 margin-top: 25px;
}


.sec1> div:last-child> p{
	color: black;
	text-align: left;
	font-size: 12pt;
	margin: 0;
	padding: 0;
	font-weight: lighter;
	line-height: 15pt;
	font-family: calibri;
	letter-spacing: 2px;
	margin-top: 15px;
}

.sec1> div:last-child{
	width: 94%;
	height: 300px;
	float: left;
	margin-left: 5%;
}

.sec2{
	width: 24%;
	height: 400px;
	float: left;
	background: #f0f0f0;
	margin-left: 0.5%;
	
}

.hijo3{
	width: 100%;
	height: 100px;
	float: left;
}

.t1{
	width: 40%;
	height: 100px;
	float: left;	
}

.t2{
	width: 58%;
	height: 60px;
	float: left;
	border-bottom: 1px solid gray;

}
.tabla{
	background: url('../img/icono2.png');
	width: 100px;
	height: 100px;
	float: left;
	margin: 0;
	display: block;
	margin-left: 5%;
	margin-top: 10px;

}

.t2 >h3{
	 color: black;
	 text-align: left;
	 font-family: tahoma;
	 font-weight: bold;
	 margin: 0;
	 padding: 0;
	 font-size: 18pt;
	 margin-top: 25px;
}


.sec2> div:last-child> p{
	color: black;
	text-align: left;
	font-size: 12pt;
	margin: 0;
	padding: 0;
	font-weight: lighter;
	line-height: 15pt;
	font-family: calibri;
	letter-spacing: 2px;
	margin-top: 15px;
}

.sec2> div:last-child{
	width: 94%;
	height: 300px;
	float: left;
	margin-left: 5%;
}



