@charset "UTF-8";

body{
	background: white;
	margin: 0;
	padding: 0;
	font-family: arial;
}

.contenedor{
	display: block;
	margin: auto;
	width: 50%;
	height: auto;
	background: white;
	min-height: 60px;
}

header{
	background: #FF7D3B;
	height: 150px;
	width: 100%;
	float: left;
}

.cl1{
	width: 30%;
	height: 150px;
	float: left;
}

.cl2{
	width: 70%;
	height: 150%;
	float: left;
}

.img1{
	background: url('../img/icon.gif');
	width: 70px;
	height: 70px;
	margin: auto;
	display: block;
	margin-top: 35px;
}


.cl2 > div:first-child  > h3{
	color: white;
	font-size: 16pt;
	letter-spacing: 12px;
	text-align: left;
	font-weight: normal;
	font-family: arial;
	margin: 0;
	padding: 0;
	margin-top: 40px;

}

.cl2 > div:last-child > h1{
	color: black;
	text-align: left;
	font-size: 22pt;
	font-weight: bold;
	font-family: tahoma;
	margin: 0;
	padding: 0;
}

article{
	width: 100%;
	float:left;
	background: black;
	height: auto;
	border-bottom: 2px solid #c3c3c3;
}

section > article:first-child > div >h2{
	color: white;
	text-align: left;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-size: 24pt;
}


section > article:first-child > div >p{
	color: gray;
	text-align: left;
	font-size: 12pt;
	margin: 0;
	padding: 0;
	font-weight: lighter;
	line-height: 18pt;
}

section  >article:first-child > div{
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
	float: left;
	margin-top: 40px;
	margin-bottom: 40px;
}

.pl3{
	width: 35%;
	height: auto;
	float: left;

}

.pl4{
	width: 55%;
	height: auto;
	float: left;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.img2{
	background: url('../img/article1.png');
	width: 115px;
	height: 115px;
	float: right;
	margin-right: 20%;
	margin-top: 15px;
}

.pl4 > div:first-child > p{
	color: gray;
	text-align: left;
	font-size: 12pt;
	margin: 0;
	padding: 0;
	font-weight: lighter;
	line-height: 18pt;
}

.pl4 > div:last-child  > button{
	border: none;
	background: red;
	width: 35%;
	height: 35px;
	float: left;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	margin-top: 10px;
	margin-bottom: 10px;
}

.contenido{
	background: black;
	width: 100%;
	height: 300px;
	float: left;
	padding: 0;
	border-bottom: 2px solid #c3c3c3;
}

.img3{
	background: url('../img/wide.png');
	width: 90px;
	height: 275px;
	margin:auto;
	display: block;
	margin-top: 10px;

}

.parrafito{
	background: black;
	width: 100%;
	height: 200px;
	float: left;
	padding: 0;
	border-bottom: 2px solid #c3c3c3;

}

.parrafito  >div:first-child{
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
	float: left;
	margin-top: 40px;
	margin-bottom: 40px;
}


.parrafito > div:first-child > p{
	color: gray;
	text-align: left;
	font-size: 12pt;
	margin: 0;
	padding: 0;
	font-weight: lighter;
	line-height: 18pt;
}

#footer{
	background: #44525f;
	width: 100%;
	height: 250px;
	float: left;
	padding: 0;
	border-bottom: 2px solid #c3c3c3;
}

#footer > div:first-child{
	width: 100%;
	height: 50px;
	margin-top: 10px;
	float: left;
	background: #44525f;
}

#footer > div:first-child > p{
	color: white;
	text-align: center;
	font-size: 12pt;
	margin: 0;
	padding: 0;
	font-weight: bold;
	line-height: 18pt;
}

.nl2{
	width: 50%;
	height: 190px;
	float: right;
	background: #44525f;
}

.nl3{
	width: 50%;
	height: 190px;
	float: left;
	background: #44525f;
}


.img4{
	background: url('../img/facebook.png');
	width: 74px;
	height: 74px;
	margin: auto;
	display: block;
	margin-top: 10px;
	margin-left: 75%;

}

.img5{
	background: url('../img/twitter.png');
	width: 74px;
	height: 74px;
	margin: 2%;
	display: block;
	margin-top: 10px;
	
}