@charset "utf-8";

body{
	background: #a6a4d5;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #da9712;
	height: 60px;
	float: left;
	
}

.child1{
	width: 55%;
	height: 60px;
	background: #de821d;
	float: left;
}

.child2{
	width: 44.6%;
	float: left;
	background: #e89ec1;
	height: 60px;
}

.a{
	width: 45%;
	float: left;
	height: 60px;
	background: #8a6a81;
}

.b{
	width: 55%;
	float: left;
	height: 60px;
	background: #d5cc2f;

}

.c{
	width: 27%;
	float: left;
	height: 60px;
	background: #f54307;
}

.d{
	width: 19%;
	float: left;
	height: 60px;
	background: #f49d42;

}

.e{
	width: 27%;
	float: left;
	height: 60px;
	background: #b37248;

}

.f{
	width: 27%;
	float: left;
	height: 60px;
	background: #df9319;

}

.g{
	width: 100%;
	float: left;
	height: 400px;
	background: #f177a8;

}

.h{
	width: 100%;
	float: left;
	height: 50px;
	background: #a4a989;

}


