@charset "utf-8";

body{
	background: #23e2f3;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
header{
	width: 100%;
	height: 50px;
	float: left;
	background: #a7f323;
}

.child1{
	width: 55%;
	height: 60px;
	float: left;
	background: #f38f13;
}

.child2{
	width: 45%;
	height: 60px;
	float: left;
	background: #9d23f3;
}

.a{
	width: 45%;
	height: 60px;
	float: left;
	background: #619498;

}

.b{
	width: 55%;
	height: 60px;
	float: left;
	background: #bcde54;
}


.c{
	width: 27%;
	height: 60px;
	float: left;
	background: #d7a079;
}

.d{
	width: 19%;
	height: 60px;
	float: left;
	background: #d1a53c;
}
.e{
	width: 27%;
	height: 60px;
	float: left;
	background: #889c79;
}
.f{
	width: 27%;
	height: 60px;
	float: left;
	background: #ceb537;
}

.seccion1{
	width: 100%;
	height: 600px;
	float: left;
	background: #254f5b;
}
.barra1{
	width: 100%;
	height: 580px;
	float: left;
	background: #e89ec1;
}
.barra2{
	width: 100%;
	height: 20px;
	float: left;
	background: #76c78c;
}







.abuelo{
	width: 100%;
	height: 660px;
	float: left;
	background: #80c2e4;
}
.papa{
	width: 25%;
	height: 100%;
	margin-left: 9%;
	background: #254f5b;
}

.hijo1{
	width: 100%;
	height: 50%;
	float: left;
	background: #1fabac;
}
.hijo2{
	width: 100%;
	height: 10%;
	float: left;
	background: #839aac;
}
.hijo3{
	width: 100%;
	height: 25%;
	float: left;
	background: #ae7763;
}
.hijo4{
	width: 100%;
	height: 15%;
	float: left;
	background: #254f5b;
}
.nieto1{
	width: 30%;
	height: 100%;
	float: left;
	background: #7e39a3;
}
.nieto2{
	width: 40%;
	height: 100%;
	float: left;
	background: #217a7c;
}
.nieto3{
	width: 30%;
	height: 100%;
	float: left;
	background: #7e39a3;
}




.papab{
	width: 25%;
	height: 100%;
	margin-left: 9%;
	background: #254f5b;
}

.hijob1{
	width: 100%;
	height: 50%;
	float: left;
	background: #1fabac;
}
.hijob2{
	width: 100%;
	height: 10%;
	float: left;
	background: #839aac;
}
.hijob3{
	width: 100%;
	height: 25%;
	float: left;
	background: #ae7763;
}
.hijob4{
	width: 100%;
	height: 15%;
	float: left;
	background: #254f5b;
}
.nietob1{
	width: 30%;
	height: 100%;
	float: left;
	background: #7e39a3;
}
.nietob2{
	width: 40%;
	height: 100%;
	float: left;
	background: #217a7c;
}
.nietob3{
	width: 30%;
	height: 100%;
	float: left;
	background: #7e39a3;
}



.papac{
	width: 25%;
	height: 100%;
	margin-left: 9%;
	background: #254f5b;
}

.hijoc1{
	width: 100%;
	height: 50%;
	float: left;
	background: #1fabac;
}
.hijoc2{
	width: 100%;
	height: 10%;
	float: left;
	background: #839aac;
}
.hijoc3{
	width: 100%;
	height: 25%;
	float: left;
	background: #ae7763;
}
.hijoc4{
	width: 100%;
	height: 15%;
	float: left;
	background: #254f5b;
}
.nietoc1{
	width: 30%;
	height: 100%;
	float: left;
	background: #7e39a3;
}
.nietoc2{
	width: 40%;
	height: 100%;
	float: left;
	background: #217a7c;
}
.nietoc3{
	width: 30%;
	height: 100%;
	float: left;
	background: #7e39a3;
}

























.seccion3{
	width: 100%;
	height: 660px;
	float: left;
	background: #254f5b;
}
.papa01{
	width: 50%;
	height: 100%;
	float: left;
	background: #38c5c4;
}
.papa02{
	width: 50%;
	height: 100%;
	float: left;
	background: #254f5b;
}
.hijo1depapa02{
	width: 100%;
	height: 18%;
	float: left;
	background: #2ec56b;
}
.hijo2depapa02{
	width: 100%;
	height: 18%;
	float: left;
	background: #254f5b;
}
.nieto1depapa02{
	width: 45%;
	height: 100%;
	float: left;
	background: #0a3947;
}
.nieto2depapa02{
	width: 55%;
	height: 100%;
	float: left;
	background: #95b37d;
}
.hijo3depapa02{
	width: 100%;
	height: 18%;
	float: left;
	background: #897a7f;
}
.hijo4depapa02{
	width: 100%;
	height: 18%;
	float: left;
	background: #0e4c5e;
}
.nieto3depapa02{
	width: 35%;
	height: 100%;
	float: left;
	background: #07776f;
}
.nieto4depapa02{
	width: 25%;
	height: 100%;
	float: left;
	background: #05a7d0;
}
.nieto5depapa02{
	width: 40%;
	height: 100%;
	float: left;
	background: #07776f;
}
.hijo5depapa02{
	width: 100%;
	height: 28%;
	float: left;
	background: #2aa961;
}



.seccion4{
	width: 100%;
	height: 550px;
	float: left;
	background: #254f5b;
}
.papa001{
	width: 60%;
	height: 100%;
	float: left;
	background: #347a8e;
}
.hijo1depapa001{
	width: 100%;
	height: 19%;
	float: left;
	background: #0c5049;
}
.hijo2depapa001{
	width: 100%;
	height: 19%;
	float: left;
	background: #0c5049;
}
.nieto1depapa001{
	width: 40%;
	height: 100%;
	float: left;
	background: #06637a;
}
.nieto2depapa001{
	width: 60%;
	height: 100%;
	float: left;
	background: #03abc8;
}
.hijo3depapa001{
	width: 100%;
	height: 19%;
	float: left;
	background: #0c5049;
}
.nieto3depapa001{
	width: 40%;
	height: 100%;
	float: left;
	background: #068095;
}
.nieto4depapa001{
	width: 60%;
	height: 100%;
	float: left;
	background: #00a5cd;
}
.hijo4depapa001{
	width: 100%;
	height: 37%;
	float: left;
	background: #0c5049;
}
.nieto5depapa001{
	width: 40%;
	height: 100%;
	float: left;
	background: #06637a;
}
.nieto6depapa001{
	width: 60%;
	height: 100%;
	float: left;
	background: #03abc8;
}	
.hijo5depapa001{
	width: 100%;
	height: 6%;
	float: left;
	background: #4f77a3;
}
.papa002{
	width: 40%;
	height: 100%;
	float: left;
	background: #3eb9b4;
}
.hijo1depapa002{
	width: 100%;
	height: 19%;
	float: left;
	margin-top: 19%; 
	background: #20b1ca;
}
.hijo2depapa002{
	width: 100%;
	height: 19%;
	float: left;
	margin-top: 10%; 
	background: #20b1ca;
}
.nieto1depapa002{
	width: 30%;
	height: 100%;
	margin-left: 45%;
	background: #4a2a91;
}




.pie{
	width: 100%;
	height: 110px;
	float: left;
	background: #254f5b;
}
.pie1{
	width: 30%;
	height: 100%;
	float: left;
	background: #294c9d;
}
.pie2{
	width: 70%;
	height: 100%;
	float: left;
	background: #294c9d;
}
.parte1{
	width: 100%;
	height: 50%;
	float: left;
	background: #18b58b;
}
.parte2{
	width: 100%;
	height: 50%;
	float: left;
	background: #518e7c;
}

