@charset: "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
#menu{
	width: 100%;
	background: #c3db51;
	height: 60px;
	float: left;
	border: 1px solid red;
}

.child1{
	width: 55%;
	height: 60px;
	border: 1px solid black;
	background: #629398;
	float: left;
}

.child2{
	width: 44.6%;
	float: left;
	background: #e89ec1;
	border:1px solid green;
	height: 60px;
}

.a{
	width: 45%;
	float: left;
	height: 60px;
	background: #3aa930;
}

.b{
	width: 55%;
	float: left;
	height: 60px;
	background: #b8de35;

}

.c{
	width: 27%;
	float:left;
	height: 60px;
	background: #b8de35;
}

.d{

    width: 19%;
	float:left;
	height: 60px;
	background: #d6a238;
}

.e{

	width: 27%;
	float:left;
	height: 60px;
	background: #859e77;

}

.f{
	width: 27%;
	float:left;
	height: 60px;
	background: #cbb442;


}

.chi3{
	width: 100%;
	height: 400px;
	float: left;
	background:#EF7C73;
	
}

.chi4{
	width: 100%;
	height: 16px;
	float: left;
	background:#99EF73;
}

.chi5{
	width: 100%;
	height: 500px;
	float: left;
	background:#73EBEF;
}

.g{
	width: 26%;
	height: 500px;
	float: left;
	border: #034D0D 1px solid;
	margin-left: 5.3%;
	background:#1A9C12;
	
}

.h{
	width: 26%;
	height: 500px;
	float: left;
	margin-right: 5.3%;
	margin-left: 5.3%;
	border:#034D0D 1px solid;
    background:#1A9C12;
	
	
}

.i{
	width: 26%;
	height: 500px;
	float: left;
	border:#034D0D 1px solid;
	margin-right: 5.3%;
	background:#1A9C12;
	
}


.chig{
	width: 100%;
	height: 220px;
	float: left;
	border:#034D0D 1px solid;
	background: #047158;
	
}

.chig1{
	width: 100%;
	height: 50px;
	float: left;
	border:#034D0D 1px solid;
	background:#98A099;
	
}

.chig2{
	width: 100%;
	height: 150px;
	float: left;
	border: #034D0D 1px solid;
	background:#AD5909;
	
}

.chig3{
	width: 100%;
	height: 80px;
	float: left;
	border: #034D0D 1px solid;
	background:#A30CCB;
}

.chi1h{
	width: 100%;
	height: 220px;
	float: left;
	border:#246104 1px solid;
	background:#047158;
}

.chi2h{
	width: 100%;
	height: 50px;
	float: left;
	border: #246104 1px solid;
	background:#98A099;
}
  .chi3h{
	width: 100%;
	height: 150px;
	float: left;
    border: #246104 1px solid;
    background: #AD5909;

}
  .chi4h{
	width: 100%;
	height: 80px;
	float: left;
	border: #207106 1px solid;
	background: #9219C4;
}
   .chii{
	width: 100%;
	height: 220px;
	float: left;
	border: #207106 1px solid;
    background:#047158;
}

   .chi2i{
	width: 100%;
	height: 50px;
	float: left;
	border: #207106 1px solid;
    background: #98A099;
}
    .chi3i{
	 width: 100%;
	 height: 150px;
	 float: left;
	 border: #207106 1px solid;
     background: #AD5909;
}   
    .chi4i{
	 width: 100%;
	 height: 80px;
	 float: left;
	 border: #207106 1px solid;
     background: #A30CCB;

 }  
   .al{
	width: 30%;
	height: 80px;
	float: left;
	background: #5E0D7B;
}
    .ex{
	width: 40%;
	height: 80px;
	float: left;
	border: #207106 1px solid;
	background: #207106 ;
}
    
   
   .al1{
	width: 30%;
	height: 80px;
	float: left;
	background: purple;
	border: #207106 1px solid;
}
    .ex1{
	width: 40%;
	height: 80px;
	float: left;
	border:#207106 1px solid;
	background: #207106;
}
    
    .al2{
	width: 30%;
	height: 80px;
	float: left;
	background: purple;
	border: #207106 1px solid;
}

.ex2{
	width: 40%;
	height: 80px;
	float: left;
	background: darkgreen;
	border: #207106 1px solid;
}


  .raiz{
	width: 100%;
	height: 360px;
	float: left;
	background:#88EC1F;
}
   .hi6{
	width: 50%;
	height: 360px;
	float: left;
	background:#A3FB46;
}
   .hi7{
	width: 50%;
	height: 360px;
	float: left;
	background:#5EAD0C ;
}

   .j{
	width: 100%;
	height: 60px;
	float: left;
	border:#284C04 1px solid;
	background:#1FB91F;
    }
   .k{
	width: 50%;
	height: 60px;
	float: left;
	margin-left: 50%;
	background:#FBDE3C;

}










	





