@charset: "utf-8";

body{
	background: #D3585F;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
.header{

    width: 100%;
 	height: 150px;
 	float. left;	
	background: #4ADE9D;
}
 .child1{
 	
	width: 100%;
	height: 40px;
	float: left;
	background: #252C29;
}
  .a{
	width: 60%;
	height: 40px;
	float: left;
	background: #0B9A5D;
}
   .b{
	width: 40%;
	height: 40px;
	float: left;
	background: #6A34AF;

}
    .be{
	width: 40%;
	height: 40px;
	float: left;
	background: #39D5DC;
}   
    .bi{
	width: 33%;
	height: 40px;
	float: left;
	background: #066569;
}
   .bo{
	width: 27%;
	height: 40px;
	float: left;
	background: #8ACBCE;
}
   .child2{

   	width: 100%;
	height: 80px;
	float: left;
	background: #C36183;
 }
   .chi3{
   	width: 6%;
	height: 80px;
	float: left;
	background:#501B2E;
}	
    .chi4{
   	 width: 15%;
	 height: 80px;
	 float: left;
	 background:#8FDC46;
}	
    .chi5{
   	 width: 25%;
	 height: 80px;
	 float: left;
	 background:#21E187;
}	

     .chi6{
   	 width: 8%;
	 height: 80px;
	 float: left;
	 background:#90E121;
}	
    .chi7{
   	 width: 8.5%;
	 height: 80px;
	 float: left;
	 background:#0ED5AD;
}	
     .chi8{
   	 width: 15%;
	 height: 80px;
	 float: left;
	 background:#A523D9;
}	

     .chi9{
   	 width: 13.5%;
	 height: 80px;
	 float: left;
	 background:#CAAAD7;
}	
     .chi10{
   	 width: 9%;
	 height: 80px;
	 float: left;
	 background:#D13758;
}	
	
    .chd{
   	width: 100%;
	height: 460px;
	float: left;
	background:#020D68;
	

}
     .chd1{
     width: 40%;
	 height: 460px;
	 float: left;
	 background:#61647E;
}
    .chd2{
     width: 100%;
	 height: 130px;
	 float: left;
	 background:#4D3A08;
}
	.chd3{
     width: 100%;
	 height: 200px;
	 float: left;
	 background:#BE58CD;
     }
 	

   

     .chd5{
     width: 15%;
	 height: 60px;
	 float: left;
	 background:#1AAFB6;
	 margin-left: 6.7%;
	 margin-right: 78.3%
     }

     .chd6{
     width: 33.3%;
	 height: 140px;
	 float: left;
	 background:#5CCD58;
	 margin-left: 66.7%;
     }
    
    .chd7{
     width: 100%;
	 height: 60px;
	 float: left;
	 background:#CD587F;

     }

     .chili{
     width: 100%;
	 height: 35px;
	 float: left;
	 background:#54CD2D;

     }
     .chili1{
     width: 33.3%;
	 height: 35px;
	 float: left;
	 background:#089F98;

     }

     .chili2{
     width: 33.3%;
	 height: 35px;
	 float: left;
	 background:#B63BA9;

     }
     .chili3{
     width: 33.3%;
	 height: 35px;
	 float: left;
	 background:#D789CF;
}
	 .chili4{
     width: 100%;
	 height: 300px;
	 float: left;
	 background:#DA0D29;

}

     .chili5{
    width: 26%;
	height: 300px;
	float: left;
	background:#DB86BC;
	margin-left: 5.3%;
}

.chili6{
    width: 26%;
	height: 300px;
	float: left;
	background:#DB86BC;
	margin-left: 5.3%;
}

.chili7{
    width: 26%;
	height: 300px;
	float: left;
	background:#DB86BC;
	margin-left: 5.3%;
}
 .chili8{
    width: 100%;
	height: 35px;
	float: left;
	background:#5E063E;
	
}
   .chili9{
     width: 33.3%;
	 height: 35px;
	 float: left;
	 background:#024D49;

     }

    .chili10{
     width: 33.3%;
	 height: 35px;
	 float: left;
	 background:#3B29D3;

     }

    .chili11{
     width: 33.3%;
	 height: 35px;
	 float: left;
	 background:#4E0348;
	 }

     .chili12{
     width: 100%;
	 height: 300px;
	 float: left;
	 background:#DA0D29;
	 }

	 .chili13{
     width: 26%;
	 height: 300px;
	 float: left;
	 background:#DB86BC;
	 margin-left: 5.3%;
 }
   
    .chili14{
     width: 26%;
	 height: 300px;
	 float: left;
	 background:#DB86BC;
	 margin-left: 5.3%;
	}

	.chili15{
     width: 26%;
	 height: 300px;
	 float: left;
	 background:#DB86BC;
	 margin-left: 5.3%;
	}

	.pa{
     width: 100%;
	 height: 310px;
	 float: left;
	 background:#58C168;
	 
	}
	 