@charset "utf-8";
body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
#contac{
	width: 100%;
	background: #949dcf;
	height: 90px;
	float: left;
}
.information{
	width: 100%;
	height: 45px;
	background: #aa92ba;
	float: left;
}
.x1{
	width: 10%;
	height: 45px;
	background: #ec8980;
	margin-left: 50%; 
	float: left;
}
.x2{
	width: 10%;
	height: 45px;
	background: #da685e;
	float: left;
}
.x3{
	width: 10%;
	height: 45px;
	background: #ab4a41;
	float: left;
}
.x4{
	width: 10%;
	height: 45px;
	background: #c3493f;
	float: left;
}
.x5{
	width: 10%;
	height: 45px;
	background: #ac2d23;
	float: left;
}
.bottom{
	width: 100%;
	height: 45px;
	background: #929fa7;
	float: right;
}
.xx1{
	width: 10%;
	height: 45px;
	background: #255e84;
	margin-left: 10%;
	float: left;
}
.xx2{
	width: 10%;
	height: 45px;
	background: #316d95;
	margin-left: 10%;
	float: left;
}
.xx3{
	width: 10%;
	height: 45px;
	background: #4280a9;
	float: left;
}
.xx4{
	width: 10%;
	height: 45px;
	background: #5694bd;
	float: left;
}
.xx5{
	width: 10%;
	height: 45px;
	background: #6ea8ce;
	float: left;
}
.xx6{
	width: 10%;
	height: 45px;
	background: #82b8dc;
	float: left;
}
.xx7{
	width: 10%;
	height: 45px;
	background: #90c5e8;
	float: left;
}
.xx8{
	width: 10%;
	height: 45px;
	background: #6a8292;
	float: left;
}
#parte1{
	width: 100%;
	height: 520px;
	background: #7b93b0;
	float:left;
}
.banner{
	width: 100%;	
	height: 520px;
	background: #072b57;
	float: left;
}
.texto{
	margin-top: 10%;
	margin-left: 5%;
	width: 60%;
	height: 200px;
	background: #77b77f;
	float: left;
}
.title{
	margin-top: 5%;
	margin-left: 5%;
	width: 20%;
	height: 50px;
	background: #599260;
	float: left;
}
.more{
	margin-top: 15%;
	margin-right: 5%;
	width: 20%;
	height: 50px;
	background: #668469;
	float: right;
}
#parte2{
	width: 100%;	
	height: 300px;
	background: #438990;
	margin-left:0px;
	float: left;
}
.b2{
	width: 33.33%;
	height: 300px;
	background: #0a3263;
	float: left;
}
.b3{
	width: 33.33%;
	height: 300px;
	background: #606c9b;
	float: left;
}
.b5{
	width: 33.33%;
	height: 50px;
	background: #8a94b8;
	margin-left: 65%;
	margin-top: 50%;
	float: left;
}
.b4{
	width: 33.33%;
	height: 300px;
	background: #5b627d;
	float: left;
}
#parte3{
	width: 100%;	
	height: 600px;
	background: #438990;
	margin-left:0px;
	float: left;
}
.c2{
	width: 40%;
	height: 600px;
	background: #3087a1;
	float: left;
}
.c3{
	width: 60%;
	height: 300px;
	background: #4cafaf;
	float: left;
}
.c4{
	width: 60%;
	height: 300px;
	background: #2c9090;
	float: left;
}
#parte4{
	width: 100%;	
	height: 200px;
	background: #2a6b6b;
	margin-left:0px;
	float: left;
}
.d1{
	width: 40%;
	height: 200px;
	background: #234343;
	float: left;
}