@charset "utf-8";
body{
  background:white;
  font-family:arial;
  margin:0;
  padding:0;
}
header{
  background:#2A120A;
  width:100%;
  height: 50px;
  padding: 0;
  margin: 0;
  float: left; 
}

.icon{
  width: 12%;
  height: 50px;
  margin: auto;
  float: left;
}

.img{
 width: 33px;
	height: 22px;
	background: url('../img/icono_purple.png');
    display: block;
   margin-top: 15px;
	float: left;
}

#menu{
  width:88%;
  height: 50px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu>li{
  width: 9%;
  height: 45px;
  display: block;
  float: left;
  text-align: center;
  padding-top: 19px;
  border-right:1px solid white; 
}
#menu>li>a{
  text-decoration: none;
  color: white;
  text-align: center; 
   
}

.grande{
  width: 100%;
  height: 500px;
  margin: auto;
  float: left;
}

.img2{
	width: 1404px;
	height: 500px;
	background: url('../img/crecimiento2.png');
    display: block;
    margin-top: 0px;
}

.cl2{

	width: 50%;
	height:500px;
	float: left;
}

 .cl2>div>h1{
  margin-left:15%; 
  padding: 0;
  letter-spacing: 2px;
  color: purple;
  font-size:26pt;
  text-align: left;
  font-family: calibri;
  font-weight: bold;
  margin-top: 30px;
}

.cl2>div>p{
  letter-spacing: 2px;
  color: black;
  font-family: calibri;
  font-weight:lighter;
  font-size: 16pt;
  margin-left: 15%;
  padding: 0;
  text-align: left;
  
}

.cl2>div>div>button{

 height: 45px;
  width: 12%;
  border-radius: 1px;
  border: 1px solid purple;
  text-align: center;
  font-family: calibri;
  font-size: 11pt;
  font-weight: lighter;
  margin-left: 10%;
  margin-top: 10px;
}

.cl2>div>div>button:hover{
  background: yellow;
  cursor:pointer;
  color:purple;
}
.mujer{
	width: 50%;
  height: 500px;
	float: left;
}

.img3{
  width: 567px;
  height: 498px;
  background: url('../img/persona3.png');
  display: block;
  margin-top: 0px;
  float:left;
    
 
}

#art2{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
  height: 300px;
  float: left;
  background:#F2F2F2 ;
}
#art2>div:first-child{
  margin-left: 5%;
  width: 27%;
  height: 300px;
  float: left;
}

#art2>div:nth-child(2){
  margin-left: 5%;
  width: 27%;
  height: 300px;
  float: left;
}
#art2>div:last-child{
  margin-left: 5%;
  width: 27%;
  height: 300px;
  float: left;
}
#art2>div>.cl3{
  width: 30%;
  height: 300px;
  float: left;
}
#art2>div>.cl4{
  width: 70%;
  height: 250px;
  float: left;
}

#art2>div>.cl3>.img2{
  width: 100px;
  height: 100px;
  background: url('../img/icono5.png');
  margin: auto;
  display: block;
  margin-top: 15px;
}
#art2>div>.cl3>.img3{
  width: 100px;
  height: 100px;
  background: url('../img/icono6.png');
  margin: auto;
  display: block;
  margin-top: 15px;
}

#art2>div>.cl3>.img4{
  width: 100px;
  height: 100px;
  background: url('../img/icono7.png');
  margin: auto;
  display: block;
  margin-top: 15px;
}
#art2>div>.cl4>p{
  font-family: calibri;
  color: black;
  letter-spacing: 1px;
  font-size: 10pt;
  font-weight: :lighter;
}