@charset: "utf-8";

body{
	background: #D3585F;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
.header{

    width: 100%;
 	height: 150px;
 	float: left;	
	background: red;
}

.inicio{

	width: 100%;
 	height: 40px;
 	float: left;	
	background: blue;
}

.in1{

	width: 50%;
 	height: 40px;
 	float: left;	
	background:red;
	}

.in2{

	width: 20%;
 	height: 40px;
 	float: left;	
	background:#39D5DC;
	}

.in3{

	width: 10%;
 	height: 40px;
 	float: left;	
	background:#7C0561;
	}

.in4{

	width: 10%;
 	height: 40px;
 	float: left;	
	background:#F97034;
	}

.in5{

	width: 10%;
 	height: 40px;
 	float: left;	
	background:#000000;
	}
 .inicio2{

	width: 100%;
 	height: 70px;
 	float: left;	
	background:#F9E134;
	}

.in6{

	width: 18%;
 	height: 70px;
 	float: left;	
	background:orange;
	}
.in7{

	width: 22%;
 	height: 70px;
 	float: left;	
	background:#F9E134;
	}

.in8{

	width: 9%;
 	height: 70px;
 	float: left;	
	background:gray;
	}
	
.in9{

	width: 7.8%;
 	height: 70px;
 	float: left;	
	background:red;
	}
	
.in10{

	width: 7.8%;
 	height: 70px;
 	float: left;	
	background:blue;
	}

.in11{

	width: 7.8%;
 	height: 70px;
 	float: left;	
	background:green;
	}

.in12{

	width: 7.8%;
 	height: 70px;
 	float: left;	
	background:white;
	}

.in13{

	width: 7.8%;
 	height: 70px;
 	float: left;	
	background:pink;
	}

.in14{

	width: 12%;
 	height: 70px;
 	float: left;	
	background:purple;
	}

.caja{

	width: 100%;
 	height: 500px;
 	float: left;	
	background:#B434F9;
	}

.ca1{

	width: 100%;
 	height: 80px;
 	float: left;	
	background:#B434F9;
	}

.ca2{

	width: 45%;
 	height: 200px;
 	float: left;	
	background:aqua;
	margin-left: 5%;
	}

.ca3{

	width: 100%;
 	height: 15px;
 	float: left;	
	background:#B434F9;
}

  .ca4{

	width: 22.5%;
 	height: 180px;
 	float: left;	
	background:blue;
	margin-left: 35%
	}

 .caja2{

	width: 100%;
 	height: 250px;
 	float: left;	
	background:purple;
	
}

 .c1{

	width: 33.33%;
 	height: 250px;
 	float: left;	
	background:orange;
	
	}

.c2{

	width: 33.33%;
 	height: 250px;
 	float: left;	
	background:pink;
	
	}

.hijoc2{

	width: 100%;
 	height: 62.5px;
 	float: left;	
	background:gray;
	
}

.hijoc3{

	width: 100%;
 	height: 125px;
 	float: left;	
	background:red;
	
	}

.hijoc4{

	width: 100%;
 	height: 62.5px;
 	float: left;	
	background:gray;
	
	}

.hijodc4{

	width: 20%;
 	height: 30px;
 	float: left;	
	background:pink;
	margin-left: 70%
	
	}

.c3{

	width: 33.33%;
 	height: 250px;
 	float: left;	
	background:#8E9008;
	
	}

.hijo1{

	width: 100%;
 	height: 62.5px;
 	float: left;	
	background:green;
	
}

.hijo2{

	width: 100%;
 	height: 125px;
 	float: left;	
	background:pink;
	
	}

.hijo3{

	width: 100%;
 	height: 62.5px;
 	float: left;	
	background:green;
	
	}

.hijo4{

	width: 20%;
 	height: 30px;
 	float: left;	
	background:purple;
	margin-left: 70%
	
	}

.grande{

	width: 100%;
 	height: 510px;
 	float: left;	
	background:brown;
	
	}

.gran{

	width: 100%;
 	height: 490px;
 	float: left;	
	background:pink;
	
	}

.sep{

	width: 100%;
 	height: 20px;
 	float: left;	
	background:pink;
	
	}

.cua1{

	width: 33%;
 	height: 450px;
 	float: left;	
	background:gray;
	margin-left: 1%
	
	}

.cua2{

	width: 66%;
 	height: 450px;
 	float: left;	
	background:green;
	
	}

.hcua2{

	width: 100%;
 	height: 225px;
 	float: left;	
	background:blue;
	
	}

.hcuaa{

	width: 50%;
 	height: 225px;
 	float: left;	
	background:purple;
	
	}

.haa{

	width: 100%;
 	height: 50px;
 	float: left;	
	background:purple;
	
	}

.hay{

	width: 50%;
 	height: 40px;
 	float: left;	
	background:pink;
	margin-left: 25%

	}

.hayi{

	width: 50%;
 	height:225px;
 	float: left;	
	background:orange;


	}

.hayi1{

	width: 50%;
 	height:225px;
 	float: left;	
	background:yellow;
	}

.hayi2{

	width: 50%;
 	height:225px;
 	float: left;	
	background:#000000;
	}

.hayi3{

	width: 100%;
 	height:90px;
 	float: left;	
	background:black;
	}

.hayi4{

	width: 35%;
 	height:20px;
 	float: left;	
	background:white;
	margin-left: 20%
	}