	@charset "utf-8";

body{
	background: #23e2f3;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
header{
	width: 100%;
	height: 50px;
	float: left;
	background: #a7f323;
}
.child1{
	width: 55%;
	height: 60px;
	float: left;
	background: #f38f13;
}
.child2{
	width: 45%;
	height: 60px;
	float: left;
	background: #9d23f3;
}
.a{
	width: 45%;
	height: 60px;
	float: left;
	background: #619498;
	border-width: 2px;
	border-color: #0c5049;	
}
.b{
	width: 55%;
	height: 60px;
	float: left;
	background: #bcde54;
	border-width: 2px;
	border-color: #0c5049;
}
.c{
	width: 27%;
	height: 60px;
	float: left;
	background: #d7a079;
	border-width: 2px;
	border-color: #0c5049;
}
.d{
	width: 19%;
	height: 60px;
	float: left;
	background: #d1a53c;
	border-width: 2px;
	border-color: #0c5049;
}
.e{
	width: 27%;
	height: 60px;
	float: left;
	background: #889c79;
}
.f{
	width: 27%;
	height: 60px;
	float: left;
	background: #ceb537;
}
.seccion1{
	width: 100%;
	height: 600px;
	float: left;
	background: #254f5b;
}
.barra1{
	width: 100%;
	height: 580px;
	float: left;
	background: #e89ec1;
}
.barra2{
	width: 100%;
	height: 20px;
	float: left;
	background: #76c78c;
}
.abuelo{
	width: 100%;
	height: 660px;
	float: left;
	background: #80c2e4;
}
.papa{
	width: 25%;
	height: 660px;
	float: left;
	margin-left: 6%;
	background: #254f5b;
}
.hijo1{
	width: 100%;
	height: 330px;
	float: left;
	background: #1fabac;
}
.hijo2{
	width: 100%;
	height: 66px;
	float: left;
	background: #839aac;
}
.hijo3{
	width: 100%;
	height: 165px;
	float: left;
	background: #ae7763;
}
.hijo4{
	width: 100%;
	height: 99px;
	float: left;
	background: #254f5b;
}
.nieto1{
	width: 30%;
	height: 99px;
	float: left;
	background: #7e39a3;
}
.nieto2{
	width: 40%;
	height: 99px;
	float: left;
	background: #217a7c;
}
.nieto3{
	width: 30%;
	height: 99px;
	float: left;
	background: #7e39a3;
}
.papab{
	width: 25%;
	height: 660px;
	float: left;
	margin-left: 6%;
	background: #254f5b;
}
.hijob1{
	width: 100%;
	height: 330px;
	float: left;
	background: #1fabac;
}
.hijob2{
	width: 100%;
	height: 66px;
	float: left;
	background: #839aac;
}
.hijob3{
	width: 100%;
	height: 165px;
	float: left;
	background: #ae7763;
}
.hijob4{
	width: 100%;
	height: 99px;
	float: left;
	background: #254f5b;
}
.nietob1{
	width: 30%;
	height: 99px;
	float: left;
	background: #7e39a3;
}
.nietob2{
	width: 40%;
	height: 99px;
	float: left;
	background: #217a7c;
}
.nietob3{
	width: 30%;
	height: 99px;
	float: left;
	background: #7e39a3;
}
.papac{
	width: 25%;
	height: 660px;
	float: left;
	margin-left: 6%;
	background: #254f5b;
}
.hijoc1{
	width: 100%;
	height: 330px;
	float: left;
	background: #1fabac;
}
.hijoc2{
	width: 100%;
	height: 66px;
	float: left;
	background: #839aac;
}
.hijoc3{
	width: 100%;
	height: 165px;
	float: left;
	background: #ae7763;
}
.hijoc4{
	width: 100%;
	height: 99px;
	float: left;
	background: #254f5b;
}
.nietoc1{
	width: 30%;
	height: 99px;
	float: left;
	background: #7e39a3;
}
.nietoc2{
	width: 40%;
	height: 99px;
	float: left;
	background: #217a7c;
}
.nietoc3{
	width: 30%;
	height: 99px;
	float: left;
	background: #7e39a3;
}
.seccion3{
	width: 100%;
	height: 600px;
	float: left;
	background: #254f5b;
}
.papa01{
	width: 50%;
	height: 600px;
	float: left;
	background: #38c5c4;
}
.papa02{
	width: 50%;
	height: 600px;
	float: left;
	background: #254f5b;
}
.hijo1depapa02{
	width: 100%;
	height: 108px;
	float: left;
	background: #2ec56b;
}
.hijo2depapa02{
	width: 100%;
	height: 108px;
	float: left;
	background: #254f5b;
}
.nieto1depapa02{
	width: 45%;
	height: 108px;
	float: left;
	background: #0a3947;
}
.nieto2depapa02{
	width: 55%;
	height: 108px;
	float: left;
	background: #95b37d;
}
.hijo3depapa02{
	width: 100%;
	height: 108px;
	float: left;
	background: #897a7f;
}
.hijo4depapa02{
	width: 100%;
	height: 108px;
	float: left;
	background: #0e4c5e;
}
.nieto3depapa02{
	width: 35%;
	height: 108px;
	float: left;
	background: #07776f;
}
.nieto4depapa02{
	width: 25%;
	height: 108px;
	float: left;
	background: #05a7d0;
}
.nieto5depapa02{
	width: 40%;
	height: 108px;
	float: left;
	background: #07776f;
}
.hijo5depapa02{
	width: 100%;
	height: 168px;
	float: left;
	background: #2aa961;
}
.seccion4{
	width: 100%;
	height: 550px;
	float: left;
	background: #254f5b;
}
.papa001{
	width: 60%;
	height: 550px;
	float: left;
	background: #0c5049;
}
.hijo1depapa001{
	width: 100%;
	height: 105px;
	float: left;
	background: #0c5049;
}
.hijo2depapa001{
	width: 100%;
	height: 105px;
	float: left;
	background: #0c5049;
}
.nieto1depapa001{
	width: 40%;
	height: 102px;
	float: left;
	margin-top: 3px;
	margin-left: 1%;
	background: #00a5cd;
}
.nieto2depapa001{
	width: 56%;
	height: 102px;
	float: left;
	margin-top: 3px;
	margin-left: 2%;
	background: #03abc8;
}
.hijo3depapa001{
	width: 100%;
	height: 105px;
	float: left;
	background: #0c5049;
}
.nieto3depapa001{
	width: 40%;
	height: 100px;
	float: left;
	margin-top: 4px;
	margin-left: 1%;
	background: #00a5cd;
}
.nieto4depapa001{
	width: 56%;
	height: 100px;
	float: left;
	margin-top: 4px;
	margin-left: 2%;
	background: #03abc8;
}
.hijo4depapa001{
	width: 100%;
	height: 203px;
	float: left;
	background: #0c5049;
}
.nieto5depapa001{
	width: 40%;
	height: 185px;
	float: left;
	margin-top: 13px;
	margin-left: 1%;
	background: #00a5cd;
}
.nieto6depapa001{
	width: 56%;
	height: 185px;
	float: left;
	margin-top: 13px;
	margin-left: 2%;
	background: #03abc8;
}	
.hijo5depapa001{
	width: 100%;
	height: 33px;
	float: left;
	background: #4f77a3;
}
.papa002{
	width: 40%;
	height: 550px;
	float: left;
	background: #3eb9b4;
}
.hijo1depapa002{
	width: 98%;
	height: 104px;
	float: left;
	margin-top: 100px;
	margin-left: 2%;
	background: #20b1ca;
}
.hijo2depapa002{
	width: 98%;
	height: 104px;
	float: left;
	margin-top: 55px; 
	margin-left: 2%;
	background: #20b1ca;
}
.nieto1depapa002{
	width: 30%;
	height: 104px;
	margin-left: 50%;
	background: #4a2a91;
}
.pie{
	width: 100%;
	height: 200px;
	float: left;
	background: #254f5b;
}
.piehijo1{
	width: 30%;
	height: 200px;
	float: left;
	background: #294c9d;
}
.piehijo2{
	width: 70%;
	height: 200;
	float: left;
	background: #294c9d;
}
.nietopie1{
	width: 100%;
	height: 100px;
	float: left;
	background: #18b58b;
}
.bisnieto1{
	width: 25%;
	height: 75px;
	float: left;
	margin-left: 25%;
	background: #294c9d;
}
.bisnieto2{
	width: 13%;
	height: 75px;
	float: left;
	margin-left: 0.5%;
	background: #294c9d;
}
.bisnieto3{
	width: 15%;
	height: 75px;
	float: left;
	margin-left: 0.5%;
	background: #294c9d;
}
.bisnieto4{
	width: 15%;
	height: 75px;
	float: left;
	margin-left: 0.5%;
	background: #294c9d;
}
.nietopie2{
	width: 100%;
	height: 100px;
	float: left;
	background: #518e7c;
}


/*ejercicio02*/

#head01{
	width: 100%;
	height: 50px;
	float: left;
	background: #25597F;
}
.heada{
	width: 100%;
	height: 50px;
	float: left;
	background: #6EB634;
}
.headahijo1{
	width: 60%;
	height: 50px;
	float: left;
	background: #A98ABF;
}
.headahijo2{
	width: 40%;
	height:50px;
	float: left;
	background: #A98A33;
}
.heada1{
	width: 15%;
	height: 50px;
	float: left;
	background: #EA4893;
}
.heada2{
	width: 35%;
	height: 50px;
	float: left;
	background: #32421B;
}
.heada3{
	width: 25%;
	height: 50px;
	float: left;
	background: #B87314;
}
.heada4{
	width: 25%;
	height: 50px;
	float: left;
	background: #92124C;
}
#headdd{
	width: 100%;
	height: 125px;
	float: left;
	background: #536224;
}
.headb{
	width: 100%;
	height: 100px;
	float: left;
	background: #8CDC97;
}
.headbhijo1{
	width: 40%;
	height: 100px;
	float: left;
	background: #8C4B97;
}
.headbnieto1{
	width: 30%;
	height: 75px;
	float: left;
	margin-top: 13px;
	margin-left: 8%;
	background: #259137;
}

.headbhijo2{
	width: 60%;
	height: 100px;
	float: left;
	background: #66A766;
}
.headb1{
	width: 16%;
	height: 75px;
	float: left;
	margin-top: 13px;
	background: #0F2216;
}
.headb2{
	width: 14%;
	height: 75px;
	float: left;
	margin-top: 13px;
	background: #483C90;
}
.headb3{
	width: 25%;
	height: 75px;
	float: left;
	margin-top: 13px;
	background: #DC8808;
}
.headb4{
	width: 29%;
	height: 75px;
	float: left;
	margin-top: 13px;
	background: #492563;
}
.headb5{
	width: 16%;
	height: 75px;
	float: left;
	margin-top: 13px;
	background: #D378AF;
}
.headc{
	width: 100%;
	height:12px;
	float: left;
	background: #6BC1EE;
}
.headd{
	width: 100%;
	height:13px;
	float: left;
	background: #2E4798;
}
#bloque3{
	width: 100%;
	height: 475px;
	float: left;
	background: #B5B5B5;
}
.bloque301{
	width: 100%;
	height: 470px;
	float: left;
	background: #668898;
}
.hijoblo301{
	width: 46%;
	height: 470px;
	float: left;
	margin-left: 2%;
	background: #77BD7C;
}
.nietoblo301{
	width: 100%;
	height: 280px;
	float: left;
	margin-top: 165px;
	background: #077232;
}
.bisblo301{
	width: 100%;
	height: 55px;
	float: left;
	background: #BFD11D;
}
.bisblo3011{
	width: 35%;
	height: 55px;
	float: left;
	margin-left: 8%;
	background: #3473B9;
}
.bisblo302{
	width: 100%;
	height: 170px;
	float: left;
	background: #DA4090;
}
.bisblo303{
	width: 100%;
	height: 55px;
	float: left;
	background: #D84515;
}
.bisblo3031{
	width: 20%;
	height: 55px;
	float: left;
	margin-left: 73%;
	background: #D378AF;
}
.bloque302{
	width: 100%;
	height: 5px;
	float: left;
	background: #1A1A1B;
}
#bloque4{
	width: 100%;
	height: 660px;
	float: left;
	background: #668898;
}
.blo401{
	width: 65%;
	height: 660px;
	float: left;
	background: #B86EAA;
}
.blo4011{
	width: 100%;
	height: 100px;
	float: left;
	margin-top: 90px;
	background: #016174;
}
.blo40111{
	width: 30%;
	height: 100px;
	float: left;
	margin-left: 5%;
	background: #028C38;
}
.blo4012{
	width: 100%;
	height: 340px;
	float: left;
	background: #43BDD8;
}.blo4013{
	width: 100%;
	height: 100px;
	float: left;
	background: #213A8F;
}
.blo40131{
	width: 30%;
	height: 100px;
	float: left;
	margin-left: 65%;
	background: #82BB26;
}
.blo402{
	width: 35%;
	height: 660px;
	float: left;
	background: #39AA35;
}
.blo4021{
	width: 100%;
	height: 10px;
	float: left;
	background: #8B4F14;
}.blo4022{
	width: 100%;
	height: 650px;
	float: left;
	background: #F9B215;
}
#bloque5{
	width: 100%;
	height: 660px;
	float: left;
	background: #D7D7D7;
}
.blo501{
	width: 25%;
	height: 660px;
	float: left;
	margin-left: 6%;
	background: #FF8C2F;
}
.blo5011{
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 35px;
	background: #D74915;
}
.blo50111{
	width: 45%;
	height: 40px;
	float: left;
	background: #6AEB00;
}
.blo5012{
	width: 100%;
	height: 235px;
	float: left;
	background: #D7DA00;
}
.blo50121{
	width: 100%;
	height: 45px;
	float: left;
	margin-top: 190px;
	background: #3A1700;
}
.blo501211{
	width: 40%;
	height: 45px;
	float: left;
	margin-left: 60%;
	background: #B4C800;
}
.blo5021{
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 40px;
	background: #00FBC6;
}
.blo50211{
	width: 45%;
	height: 40px;
	float: left;
	background: #519900;
}
.blo5022{
	width: 100%;
	height: 235px;
	float: left;
	background: #FFBE46;
}
.blo50221{
	width: 100%;
	height: 45px;
	float: left;
	margin-top: 190px;
	background: #002CE3;
}
.blo502211{
	width: 40%;
	height: 45px;
	float: left;
	margin-left: 60%;
	background: #CD00FB;
}
.blo0501{
	width: 25%;
	height: 660px;
	float: left;
	margin-left: 6%;
	background: #FF8C2F;
}
.blo05011{
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 35px;
	background: #D74915;
}
.blo050111{
	width: 45%;
	height: 40px;
	float: left;
	background: #6AEB00;
}
.blo05012{
	width: 100%;
	height: 235px;
	float: left;
	background: #D7DA00;
}
.blo050121{
	width: 100%;
	height: 45px;
	float: left;
	margin-top: 190px;
	background: #3A1700;
}
.blo0501211{
	width: 40%;
	height: 45px;
	float: left;
	margin-left: 60%;
	background: #B4C800;
}
.blo05021{
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 40px;
	background: #00FBC6;
}
.blo050211{
	width: 45%;
	height: 40px;
	float: left;
	background: #519900;
}
.blo05022{
	width: 100%;
	height: 235px;
	float: left;
	background: #FFBE46;
}
.blo050221{
	width: 100%;
	height: 45px;
	float: left;
	margin-top: 190px;
	background: #002CE3;
}
.blo0502211{
	width: 40%;
	height: 45px;
	float: left;
	margin-left: 60%;
	background: #CD00FB;
}
.bl501{
	width: 25%;
	height: 660px;
	float: left;
	margin-left: 6%;
	background: #FF8C2F;
}
.bl5011{
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 35px;
	background: #D74915;
}
.bl50111{
	width: 45%;
	height: 40px;
	float: left;
	background: #6AEB00;
}
.bl5012{
	width: 100%;
	height: 235px;
	float: left;
	background: #D7DA00;
}
.bl50121{
	width: 100%;
	height: 45px;
	float: left;
	margin-top: 190px;
	background: #3A1700;
}
.bl501211{
	width: 40%;
	height: 45px;
	float: left;
	margin-left: 60%;
	background: #B4C800;
}
.bl5021{
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 40px;
	background: #00FBC6;
}
.bl50211{
	width: 45%;
	height: 40px;
	float: left;
	background: #519900;
}
.bl5022{
	width: 100%;
	height: 235px;
	float: left;
	background: #FFBE46;
}
.bl50221{
	width: 100%;
	height: 45px;
	float: left;
	margin-top: 190px;
	background: #002CE3;
}
.bl502211{
	width: 40%;
	height: 45px;
	float: left;
	margin-left: 60%;
	background: #CD00FB;
}


/*laboratorio1*/

.head1lab{
	width: 100%;
	height: 50px;
	float: left;
	background: #6BB544;
}
.head01lab1{
	width: 100%;
	height: 50px;
	float: left;
	background: #F3E600;
}
.headlabhijo1{
	width: 50%;
	height: 50px;
	float: left;
	background: #3969B1;
}
.headlabhijo2{
	width: 50%;
	height: 50px;
	float: left;
	background: #3969B1;
}
.nietolab1{
	width: 5%;
	height: 50px;
	float: left;
	background: #73BF92;
}
.nietolab2{
	width: 35%;
	height: 50px;
	float: left;
	background: #A17EB7;
}
.nietolab3{
	width: 20%;
	height: 50px;
	float: left;
	background: #BE5FA0;
}
.nietolab4{
	width: 15%;
	height: 50px;
	float: left;
	background: #55398E;
}
.nietolab5{
	width: 25%;
	height: 60px;
	float: left;
	background: #57B892;
}
.labseccion1{
	width: 100%;
	height: 60px;
	float: left;
	background: #F3E600;
}
.sec1{
	width: 40%;
	height: 60px;
	float: left;
	background: #B44090;
}
.hijosec1{
	width: 20%;
	height: 60px;
	float: left;
	margin-left: 10%;
	background: #65378C;
}
.sec2{
	width: 60%;
	height: 60px;
	float: left;
	background: #0A7E35;
}
.hijo1sec2{
	width: 12%;
	height: 60px;
	float: left;
	background: #5DB463;
}
.hijo2sec2{
	width: 12%;
	height: 60px;
	float: left;
	background: #4E398E;
}
.hijo3sec2{
	width: 10%;
	height: 60px;
	float: left;
	background: #9EC419;
}
.hijo4sec2{
	width: 10%;
	height: 60px;
	float: left;
	background: #3A2680;
}
.hijo5sec2{
	width: 11%;
	height: 60px;
	float: left;
	background: #D17511;
}
.hijo6sec2{
	width: 25%;
	height: 60px;
	float: left;
	background: #C0D000;
}
.hijo7sec2{
	width: 20%;
	height: 60px;
	float: left;
	background: #104822;
}
.labsec02{
	width: 100%;
	height: 550px;
	float: left;
	background: #5D3863;
}
.lab2abuelo1{
	width: 45%;
	height: 550px;
	float: left;
	margin-left: 5%;
	background: #E83A66;
}
.lab2nieto1{
	width: 100%;
	height: 50px;
	float: left;
	margin-top: 100px;
	background: #E7B665;
}
.lab2nieto2{
	width: 100%;
	height: 150px;
	float: left;
	background: #274194;
}

.lab2nieto3{
	width: 100%;
	height: 50px;
	float: left;
	background: #E61065;
}
.labsec3{
	width: 100%;
	height: 300px;
	float: left;
	background: #88A163;
}
.labsechijo1{
	width: 35%;
	height: 300px;
	float: left;
	background: #88A1D9;
}
.labsechijo2{
	width: 65%;
	height: 300px;
	float: left;
	background: #043B63;
}
.lab3nie1{
	width: 50%;
	height: 300px;
	float: left;
	background: #E69400;
}
.lab3bis1{
	width: 100%;
	height: 50px;
	float: left;
	margin-top: 35px;
	background: #47AF5B;
}
.lab3bis2{
	width: 100%;
	height: 150px;
	float: left;
	background: #27471F;
}
.lab3bis3{
	width: 100%;
	height: 50px;
	float: left;
	background: #160C1A;
}
.lab3bisbis1{
	width: 30%;
	height: 50px;
	float: left;
	margin-left: 60%;
	background: #96CB9B;
}
.lab3nie2{
	width: 50%;
	height: 300px;
	float: left;
	background: #E59300;
}
.lab3bis4{
	width: 100%;
	height: 50px;
	float: left;
	margin-top: 35px;
	background: #72C6D2;
}
.lab3bis5{
	width: 100%;
	height: 150px;
	float: left;
	background: #55AF31;
}
.lab3bis6{
	width: 100%;
	height: 50px;
	float: left;
	background: #E23000;
}
.lab3bisbis2{
	width: 30%;
	height: 50px;
	float: left;
	margin-left: 60%;
	background: #73B62A;
}
.labsec4{
	width: 100%;
	height: 550px;
	float: left;
	background: #FAE1C6;
}
.lab4padre1{
	width: 100%;
	height: 505px;
	float: left;
	margin-top: 10px;
	background: #3F4898;
}
.lab4hijo1{
	width: 35%;
	height: 505px;
	float: left;
	margin-left: 1%;
	background: #74C4BA;
}
.lab4hijo2{
	width: 62%;
	height: 490px;
	float: left;
	margin-left: 1%;
	background: #66B661;
}
.lab4niett1{
	width: 100%;
	height: 246px;
	float: left;
	background: #8DD1E5;
}
.lab4nn1{
	width: 38%;
	height: 220px;
	float: left;
	margin-top: 13px;
	margin-left: 2%;
	background: #7CBD6B;
}
.lab4nnn1{
	width: 100%;
	height: 80px;
	float: left;
	margin-top: 70px;
	background: #D5D915;
}
.lab4nn2{
	width: 58%;
	height: 220px;
	float: left;
	margin-top: 13px;
	background: #88A695;
}
.lab4niett2{
	width: 100%;
	height: 246px;
	float: left;
	margin-top: 13px;
	background: #284395;
}
.lab4nn3{
	width: 58%;
	height: 220px;
	float: left;
	margin-top: 13px;
	margin-left: 2%;
	background: #484394;
}
.lab4nn4{
	width: 38%;
	height: 220px;
	float: left;
	margin-top: 13px;
	background: #54160B;
}
.lab4nnn2{
	width: 100%;
	height: 55px;
	float: left;
	margin-top: 65px;
	background: #D26913;
}
.lab4padre2{
	width: 100%;
	height: 20px;
	float: left;
	margin-top: 7px;
	background: #A78A12;
}
.labsec5{
	width: 100%;
	height: 550px;
	float: left;
	background: #FFD1B2;
}
.lab501{
	width: 100%;
	height: 275px;
	float: left;
	background: #0A0B0D;
}
.lab5011{
	width: 30%;
	height: 275px;
	float: left;
	margin-left: 15%;
	background: #1CFF91;
}
.lab50111{
	width: 100%;
	height: 60px;
	float: left;
	margin-top: 90px;
	background: #93C01F;
}
.lab5012{
	width: 20%;
	height: 275px;
	float: left;
	margin-left: 6%;
	background: #00908E;
}
.lab501122{
	width: 100%;
	height: 170px;
	float: left;
	margin-top: 50px;
	background: #73902A;
}	
.lab502{
	width: 100%;
	height: 275px;
	float: left;
	background: #D7A49C;
}
.lab551{
	width: 33.3%;
	height: 275px;
	float: left;
	background: #210F1D;
}
.lab552{
	width: 33.3%;
	height: 275px;
	float: left;
	background: #E0B991;
}
.lab553{
	width: 33.3%;
	height: 275px;
	float: left;
	background: #D7A49C;
}
.labsec6{
	width: 100%;
	height: 600px;
	float: left;
	background: #2E2E2E;
}
.lab61{
	width: 45%;
	height: 600px;
	float: left;
	background: #52254A;
}
.lab62{
	width: 55%;
	height: 600px;
	float: left;
	background: #7E2500;
}


