@charset "utf-8";
body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
#menu{
	width: 100%;
	background: #949dcf;
	height: 45px;
	float: left;
}
.child1{
	width: 55%;
	height: 45px;
	background: #aa92ba;
	float: left;
}
.child2{
	width: 45%;
	height: 45px;
	background: #7dc5a4;
	float: left;
}
.a{
	width: 45%;
	height: 45px;
	background: #074657;
	float: left;
}
.b{
	width: 55%;
	height: 45px;
	background: #096178;
	float: left;
}
.c{
	width: 27%;
	height: 45px;
	background: #0b7f9e;
	float: left;
}
.d{
	width: 19%;
	height: 45px;
	background: #1e91af;
	float: left;
}
.e{
	width: 27%;
	height: 45px;
	background: #37a7c4;
	float: left;
}
.f{
	width: 27%;
	height: 45px;
	background: #58b7d0;
	float: left;
}
.banner{
	width: 100%;	
	height: 400px;
	background: #072b57;
	float: left;
}
.linea{
	width: 100%;	
	height: 10px;
	background: #89c7d3;
	float: left;
}
#contenido1{
	width: 100%;
	height: 530px;
	background: #7b93b0;
	float:left;
}
.base{
	width: 27%;	
	height: 530px;
	background: #2267b9;
	margin-left:60px;
	float: left;
}
.b1{
	width: 100%;
	margin-top: 250px;
	height: 30px;
	background: #134d93;
	float: left;
}
.b2{
	width: 100%;
	height: 200px;
	background: #0a3263;
	float: left;
}
.b3{
	width: 50%;
	height: 50px;
	background: #041c3a;
	margin-left:25%;
	margin-right:25%;
	float: left;
} 
#contenido2{
	width: 100%;
	height: 300px;
	background: #7b93b0;
	float:left;
}
.base2{
	width: 50%;
	height: 300px;
	background: #7b93b0;
	float: left;
}
.base3{
	width: 50%;
	height: 300px;
	background: #4f5e71;
	float: left;
}
.a1{
	width: 100%;
	height: 55px;
	background: #699ddf;
	margin-top: 80px;
	float: left;
}
.a2{
	width: 100%;
	height: 55px;
	background: #457abd;
	margin-left:50%;
	float: left;
}
.a3{
	width: 100%;
	height: 55px;
	background: #2b5d9b;
	float: left;
}
.a4{
	width: 100%;
	height: 55px;
	background: #1e508d;
	float: left;
}
.a5{
	width: 50%;	
	height: 55px;
	background: #0d396e;
	margin-left:25%;
	margin-right:25%;
	float: left;
}
#contenido3{
	width: 100%;
	height: 300px;
	background: #7b93b0;
	float:left;
}
.base4{
	width: 50%;
	height: 300px;
	background: #7b93b0;
	float: left;
}
.d1{
	width: 100%;
	height: 55px;
	background: #699ddf;
	float: left;
}
.d2{
	width: 100%;
	height: 55px;
	background: #2f816e;
	float: left;
}
.d3{
	width: 50%;
	height: 55px;
	background: #56a895;
	float: left;
}
.d4{
	width: 50%;
	height: 55px;
	background: #83cdbc;	
	float: left;
}
.d5{
	width: 50%;
	height: 55px;
	background: #83cdbc;
	float: left;
}
.d6{
	width: 50%;
	height: 55px;
	background: #56a895;
	float: left;
}
.d7{
	width: 50%;
	height: 135px;
	background: #56a895;
	float: left;
}
.d8{
	width: 50%;
	height: 135px;
	background: #83cdbc;
	float: left;
}
.base5{
	width: 50%;
	height: 300px;
	background: #4f5e71;
	float: left;
}
.c1{
	width: 100%;
	height: 55px;
	background: #699ddf;
	margin-top: 80px;
	float: left;
}
.c2{
	width: 100%;
	height: 55px;
	background: #457abd;
	margin-left:50%;
	float: left;
}
.c3{
	width: 100%;
	height: 55px;
	background: #2b5d9b;
	float: left;
}
.c4{
	width: 100%;
	height: 55px;
	background: #1e508d;
	float: left;
}
.c5{
	width: 35%;	
	height: 55px;
	background: #0d396e;
	margin-left:50%;
	float: left;
}
.pie{
	width: 100%;
	height: 200px;
	background: #625370;
	float: left;
}
.d1{
	width: 100%;
	height: 200px;
	background: #857494;
	float: left;
}