@charset "utf-8";
body{
  background: white;
  font-family: arial;
  margin: 0;
  padding:0;
}
#hea{
	width: 100%;
	height: 50px;
	float: left;
	background: #045FB4;
}
.hea1{
	width: 2%;
	height: 50px;
	float: left;
	border-right: 1px solid #2EFEF7;
	padding: 0px 1% 0px 1%;
}
.hea1:hover{
	background: #04B4AE !important;
}
.imag{
	width: 33px;
	height: 22px;
	float: left;
	margin-top: 12px;
}
#hea>div>ul>li>a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 10pt;
	text-align: center;
}
#hea>div>ul>li{
	list-style: none;
	display: block;
	float: left;
	width: 7.5%;
	border-right: 1px solid #2EFEF7;
	height: 38px;
	margin: 0;
	padding: 0;
	text-align: center;
	padding-top: 12px;
}
ul{
	margin: 0;
	padding: 0;
}
a:hover{
	color: #045FB4 !important;
}
li:hover{
	background: #04B4AE !important;
}
.imagfond{
	background: url('../img/crecimiento2.png')no-repeat;
	width: 1404px;
	height: 500px;
	float: left;
}
.hi1{
	width: 40%;
	height: 300px;
	float: left;
}
.image1{
	background: url('../img/persona3nueva.png');
	width: 567px;
	height: 498px;
	float: left;
}
.hi2{
	width: 52%;
	height: 390px;
	float: left;
	padding: 0px 8% 0px 0%;
}
.hi2>div>h1{
	width: 100%;
	height: 60px;
	float: left;
	margin: 0;
	padding: 0;
	padding-top: 100px;
	color:  #045FB4;
	font-size: 28pt;
	font-weight: bold;
}
.hi2>div>p{ 
	font-family: calibri;
	letter-spacing: 0pt;
	text-align: left;
	color: black;
	line-height: 28pt;
	font-size: 18pt;
	width: 90%;
	font-weight: lighter;
}
.hi2>div>button{
	text-decoration: none;
	border: 1px solid #045FB4;
	height: 50px;
	border-radius: 5px;
	width: 15%;
	margin-left: 1%;
	background: white;
	text-align: center;
	margin-top: 15px;
	color: #045FB4;
	font-size: 11pt;
}
button:hover{
	background: #04B4AE !important;
	color: white !important;
}
.blok1{
  background: white;
  width: 100%;
  height: 420px;
  float: left;
  margin: 0;
  padding: 0;
}
.blok1>div{
  background: #F0EFEF;
  width: 30.66%;
  height: 380px;
  margin-top: 15px;
  margin-left: 2%;
  float: left;
}
.blok1>div>.dad1{
  width: 100%;
  height: 125px;
  float: left;
}
.blok1>div>.dad2{
  width: 90%;
  height: 283px;
  float: left;
  padding: 1px 5% 20px 5%;
}
.blok1>div>div>.sn1{
  width: 30%;
  height: 100px;
  float: left;
  padding: 22px 1% 0px 4%;
}
.blok1>div>div>.sn2{
  width: 64%;
  height: 125px;
  float: left;
  margin: 0;
  padding: 0;
}
.blok1>div>div>div>h2{
  font-family: arial;
  font-size: 17pt;
  margin-top: 28px;
  margin-bottom: 0;
}
.blok1>div>div>div>hr{
  float: left;
  border: 1px solid;
  width: 90%;
  margin: 0;
  padding: 0;
}
.blok1>div>div>p{
  float: left;
  font-family: arial;
  font-size: 12pt;
  margin-top: 0px;
  line-height: 20pt;
}
.blok2{
  background: white;
  width: 100%;
  height: 710px;
  float: left;
  margin: 0;
  padding: 10px 1% 10px 3%;
}
.blok2>div{
  background: #F0EFEF;
  width: 47%;
  height: 340px;
  margin-top: 15px;
  margin-left: 0.1%;
  float: left;
}
.blok2>div>.dad1{
  width: 100%;
  height: 125px;
  float: left;
}
.blok2>div>.dad2{
  width: 90%;
  height: 283px;
  float: left;
  padding: 1px 5% 20px 5%;
}
.blok2>div>div>.sn1{
  width: 30%;
  height: 100px;
  float: left;
  padding: 22px 1% 0px 4%;
}
.blok2>div>div>.sn2{
  width: 64%;
  height: 125px;
  float: left;
  margin: 0;
  padding: 0;
}
.blok2>div>div>div>h2{
  font-family: arial;
  font-size: 17pt;
  margin-top: 28px;
  margin-bottom: 0;
}
.blok2>div>div>div>hr{
  float: left;
  border: 1px solid;
  width: 90%;
  margin: 0;
  padding: 0;
}
.blok2>div>div>p{
  float: left;
  font-family: arial;
  font-size: 12pt;
  margin-top: 0px;
  line-height: 20pt;
}
#pies{
  width: 100%;
  height: 160px;
  float: left;
  background: white;
}
#pies>div{
  width: 100%;
  height: 100px;
  float: left;
  background: #045FB4;
  margin-top:60px;
}
#pies>div>p{
  font-family: arial;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 0;
  line-height: 18pt;
  font-weight: lighter; 
}