@charset: "utf-8";

body{
	background: #D3585F;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
.header{

    width: 100%;
 	height: 150px;
 	float. left;	
	background: #4ADE9D;
}
 .cd1{
 	
	width: 100%;
	height: 40px;
	float: left;
	background: #252C29;
}
  .a1{
	width: 60%;
	height: 40px;
	float: left;
	background: #0B9A5D;
}
   .b2{
	width: 40%;
	height: 40px;
	float: left;
	background: #6A34AF;

}
    .be{
	width: 40%;
	height: 40px;
	float: left;
	background: #39D5DC;
}   
    .bi{
	width: 33%;
	height: 40px;
	float: left;
	background: #066569;
}
   .bo{
	width: 27%;
	height: 40px;
	float: left;
	background: #8ACBCE;
}
   .child2{

   	width: 100%;
	height: 80px;
	float: left;
	background: #C36183;
 }
   .chi3{
   	width: 6%;
	height: 80px;
	float: left;
	background:#501B2E;
}	
    .chi4{
   	 width: 15%;
	 height: 80px;
	 float: left;
	 background:#8FDC46;
}	
    .chi5{
   	 width: 25%;
	 height: 80px;
	 float: left;
	 background:#21E187;
}	

     .chi6{
   	 width: 8%;
	 height: 80px;
	 float: left;
	 background:#90E121;
}	
    .chi7{
   	 width: 8.5%;
	 height: 80px;
	 float: left;
	 background:#0ED5AD;
}	
     .chi8{
   	 width: 15%;
	 height: 80px;
	 float: left;
	 background:#A523D9;
}	

     .chi9{
   	 width: 13.5%;
	 height: 80px;
	 float: left;
	 background:#CAAAD7;
}	
     .chi10{
   	 width: 9%;
	 height: 80px;
	 float: left;
	 background:#D13758;
}	
     .chi10{
   	 width: 9%;
	 height: 80px;
	 float: left;
	 background:#D13758;
}	

	
	.fran1{
   	width: 100%;
	height: 5px;
	float: left;
	background:red;
	
}
    
    .fran2{
   	width: 100%;
	height: 5px;
	float: left;
	background:yellow;
	

}
 .chd1{
     width: 40%;
	 height: 460px;
	 float: left;
	 background:#61647E;
}

     .hchd1{
     width: 100%;
	 height: 130px;
	 float: left;
	 background:#61647E;
}

    .hchd2{
     width: 5%;
	 height: 330px;
	 float: left;
	 background:#61647E;
}
    
    .chd2{
     width: 95%;
	 height: 320px;
	 float: left;
	 background:#4D3A08;
}

    .chd3{
     width: 60%;
	 height: 460px;
	 float: left;
	 background:#000000;
}

   .chd4{
     width: 100%;
	 height: 250px;
	 float: left;
	 background:purple;
}

  .chd5{
     width: 65%;
	 height: 250px;
	 float: left;
	 background:#DC67ED;
}

 .chd6{
     width: 10%;
	 height: 250px;
	 float: left;
	 background:#DC67ED;
}

.chd7{
     width: 90%;
	 height: 50px;
	 float: left;
	 background:#DC67ED;
}

.chd8{
     width: 15%;
	 height: 30px;
	 float: left;
	 background:#67EDD5;
}

.chd9{
     width: 90%;
	 height: 10px;
	 float: left;
	 background:#DC67ED;
}

.chd10{
     width: 88%;
	 height:90px;
	 float: left;
	 background:#B6ED67;
}

.chd11{
     width: 90%;
	 height:10px;
	 float: left;
	 background:#DC67ED;
}
.chd12{
     width: 12%;
	 height:35px;
	 float: left;
	 background:brown;
	 margin-left: 70%
}
    .chili{
     width: 100%;
	 height: 35px;
	 float: left;
	 background:#54CD2D;

     }

    .chili1{
     width: 33.3%;
	 height: 35px;
	 float: left;
	 background:#089F98;

     }

     .chili2{
     width: 33.3%;
	 height: 35px;
	 float: left;
	 background:#B63BA9;

     }
     .chili3{
     width: 33.3%;
	 height: 35px;
	 float: left;
	 background:#D789CF;
}
    .chili4{
     width: 100%;
	 height: 300px;
	 float: left;
	 background:#DA0D29;
}
	.chili5{
    width: 26%;
	height: 300px;
	float: left;
	background:#DB86BC;
	margin-left: 5.3%;
}

   .chili51{
    width: 100%;
	height: 250px;
	float: left;
	background:#DB86BC;
	
}

  .chili52{
    width: 20%;
	height: 50px;
	float: left;
	background:#000000;
	margin-left:80%
	
}
   .chili6{
    width: 26%;
	height: 300px;
	float: left;
	background:#DB86BC;
	margin-left: 5.3%;
	}
    
   .chili7{
    width: 100%;
	height: 250px;
	float: left;
	background:#DB86BC;
	}


	.chili71{
    width: 20%;
	height: 50px;
	float: left;
	background:#000000;
	margin-left:80%
	}
    
   .chili8{
    width: 26%;
	height: 300px;
	float: left;
	background:#DB86BC;
	margin-left: 5.3%;
}

   .chili9{
    
	width: 100%;
	height: 250px;
	float: left;
	background:#DB86BC;
	}

  .chili10{

  	width: 20%;
	height: 50px;
	float: left;
	background:#000000;
	margin-left:80%
	}
    
   .franji{
  	width: 100%;
	height: 35px;
	float: left;
	background:red;

	}

    .franji1{
     width: 33.3%;
	 height: 35px;
	 float: left;
	 background:#089F98;

     }

    .franji2{
     width: 33.3%;
	 height: 35px;
	 float: left;
	 background:pink;

     }

    .franji3{
     width: 33.3%;
	 height: 35px;
	 float: left;
	 background:green;

     }
     
     .frar{
     width: 100%;
	 height: 300px;
	 float: left;
	 background:red;

     }

     .gra{
     width: 100%;
	 height: 250px;
	 float: left;
	 background:blue;
	 }

	 .gra1{
     width: 30%;
	 height: 250px;
	 float: left;
	 background:purple;
	 }

	 .gra2{
     width: 70%;
	 height: 250px;
	 float: left;
	 background:orange;
	 }

     .gra3{
     width: 20%;
	 height: 45px;
	 float: left;
	 background:gray;
	 }
     
     .gra4{
     width: 80%;
	 height: 45px;
	 float: left;
	 background:orange;
	 }
     
     .gra5{
     width: 35%;
	 height: 205px;
	 float: left;
	 background:pink;
	 }

	 .gra6{
     width: 30%;
	 height: 50px;
	 float: left;
	 background:purple;
	 }

	 .gra7{
     width: 100%;
	 height: 70px;
	 float: left;
	 background:yellow;
	 }

	 .gra8{
     width: 30%;
	 height: 70px;
	 float: left;
	 background:brown;
	 }

	 .gra9{
     width: 70%;
	 height: 70px;
	 float: left;
	 background:aqua;
	 }

	 .lin{
     width: 100%;
	 height: 50px;
	 float: left;
	 background:blue;
	 }

	 .lin1{
     width: 25%;
	 height: 50px;
	 float: left;
	 background:#834F0B;
	 }

	 .lin2{
     width: 35%;
	 height: 50px;
	 float: left;
	 background:#5C8405;
	 }

	 .lin3{
     width: 18%;
	 height: 50px;
	 float: left;
	 background:gray;
	 }

	 .lin4{
     width: 18%;
	 height: 50px;
	 float: left;
	 background:darkgreen;
	 }

	 .lin5{
     width: 4%;
	 height: 50px;
	 float: left;
	 background:black;
	 }

	 .lin6{
     width: 100%;
	 height: 50px;
	 float: left;
	 background:#582D04;
	 }

	 .lin7{
     width: 100%;
	 height: 100px;
	 float: left;
	 background:#CA6608;
	 }

	 .lin8{
     width: 80%;
	 height: 100px;
	 float: left;
	 background:#FAAE66;
	 }

	 .lin9{
     width:33.3%;
	 height: 50px;
	 float: left;
	 background:lightblue;
	 }

	 .lin10{
     width:33.3%;
	 height: 50px;
	 float: left;
	 background:blue;
	 }

	 .lin11{
     width:33.3%;
	 height: 50px;
	 float: left;
	 background:red;
	 }

	 .lin12{
     width:100%;
	 height: 50px;
	 float: left;
	 background:gray;
	 }

	 .lin13{
     width:20%;
	 height: 100px;
	 float: left;
	 background:#000000;
	 
	 }

	 .lin14{
     width:80%;
	 height: 95px;
	 float: left;
	 background:pink;
	 
	 }

	 .cc {
     width:100%;
	 height: 150px;
	 float: left;
	 background:pink;
	 
	 }

	 .dd {
     width:60%;
	 height: 150px;
	 float: left;
	 background:pink;
	 
	 }

	 .ee {
     width:50%;
	 height: 100px;
	 float: left;
	 background:purple;
	 
	 }

	 .ff {
     width:50%;
	 height: 100px;
	 float: left;
	 background:#820C05;
	 
	 }

	 .fot {
     width:100%;
	 height: 50px;
	 float: left;
	 background:purple;
	 
	 }

	  .fot1 {
     width:10%;
	 height: 50px;
	 float: left;
	 background:brown;
	 
	 }

	 .fot2 {
     width:12%;
	 height: 50px;
	 float: left;
	 background:fuchsia;
	 
	 }

	 .fot3 {
     width:20%;
	 height: 50px;
	 float: left;
	 background:brown;
	 
	 }

	 .fot4 {
     width:7%;
	 height: 50px;
	 float: left;
	 background:yellow;
	 
	 }

	 .fot5 {
     width:7%;
	 height: 50px;
	 float: left;
	 background:orange;
	 
	 }

	 .fot6 {
     width:15%;
	 height: 50px;
	 float: left;
	 background:green;
	 
	 }

	 .fot7 {
     width:20%;
	 height: 50px;
	 float: left;
	 background:#C7CF15;
	 
	 }
	 .fot8 {
     width:9%;
	 height: 50px;
	 float: left;
	 background:white;
	 
	 }

	 .fot9 {
     width:100%;
	 height: 50px;
	 float: left;
	 background:white; 
	 }

	 .fot10 {
     width:10%;
	 height: 50px;
	 float: left;
	 background:brown; 
	 }

	 .fu {
     width:4%;
	 height: 50px;
	 float: left;
	 background:pink; 
	 }

	 .fu1 {
     width:4%;
	 height: 50px;
	 float: left;
	 background:black; 
	 }

	  .fu2 {
     width:4%;
	 height: 50px;
	 float: left;
	 background:pink; 
	 }

	 .fu3 {
     width:20%;
	 height: 50px;
	 float: left;
	 background:brown; 
	 }

	 .fu4 {
     width:58%;
	 height: 50px;
	 float: left;
	 background:gray; 
	 }

	 .ul {
     width:100%;
	 height: 50px;
	 float: left;
	 background:gray; 
	 }

	 .ul1 {
     width:42%;
	 height: 50px;
	 float: left;
	 background:brown; 
	 }

	 .ul2 {
     width:15%;
	 height: 50px;
	 float: left;
	 background:blue; 
	 }