	@charset "utf-8";

body{
	background: #D1CFCF;
	font-family: calibri;
	margin: 0;
	padding: 0;
}
#contentar3{
	width: 68%;
	height: auto;
	margin: auto;
	display: block;
	background: white;
}
#hea{
	background: #EDB174;
	width: 100%;
	height: 320px;
	float: left;
}
.blo1{
	width: 32%;
	float: left;
	height: 320px;
}
.blo2{
	width: 68%;
	float: left;
	height: 320px;
}
.imataza{
	display: block;
	background: url(../img/logo-header.png);
	width: 275px;
	height: 274px;
}
.coffee{
	width: 85%;
	height: 50px;
	float: left;
	margin-top: 120px;
}
.coffee >h1{
	font-family: arial black;
	font-size: 24pt;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.our{
	width: 75%;
	float: left;
	height: 35px;
}
.our >h3{
	font-family: arial;
	font-size: 14pt;
	font-weight: normal;
	text-align: right;
	margin: 0;
	padding: 0;
}
.bloc2{
	width: 90%;
	height: 220px;
	float: left;
	background: white;
}	
.block2{
	width: 90%;
	float: left;
	height: 220px;
	padding: 20px 5% 20px 5%;
	background: white;
	border-bottom: solid gray;
}
.block2 >h2{
	font-weight: bold;
	text-align: left;
	letter-spacing: 2px;
	color: black;
	font-size: 21pt;
	margin: 0;
	padding: 0;
}
.block2 >p{
	font-weight: normal;
	font-size: 14pt;
	text-align: left;
	color: black;
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}
.block3{
	width: 100%;
	height: 155px;
	float: left;
	background: white;
}
.izq{
	width:30;
	height: 155px;
	float: left;
	background: white;
}
.imaiz{
	display: block;
	background: url(../img/img1.png);
	width: 263px;
	height: 155px;
}
.der{
	width: 62%;
	float: left;
	height: 140px;
	padding: 10px 4% 10px 4%;
	background: white;
}
.der >h2{
	font-weight: bold;
	text-align: left;
	letter-spacing: 2px;
	color: black;
	font-size: 21pt;
	margin: 0;
	padding: 0;
}
.der >p{
	font-weight: normal;
	font-size: 14pt;
	text-align: left;
	color: black;
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}
.der >h4{
	font-weight: bold;
	text-align: right;
	color: black;
	letter-spacing: 2px;
	font-size: 16pt;
	margin: 0;
	padding: 0;
}
.block4{
	width: 100%;
	height: 200px;
	float: left;
	background: white;
	border-top: solid gray;
}
.arib{
	width: 100%;
	height: 20px;
	float: left;
	background: #EDB174;
}
.abaj{
	width: 100%;
	height: 180px;
	float: left;
}
.texiz{
	width: 42%;
	float: left;
	height: 150px;
	padding: 15px 4% 15px 4%;
}
.texiz >h2{
	font-weight: bold;
	text-align: left;
	letter-spacing: 3px;
	color: black;
	font-size: 21pt;
	margin: 0;
	padding: 0;
}
.texiz >p{
	font-weight: normal;
	font-size: 14pt;
	text-align: left;
	color: black;
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}
.texder{
	width: 42%;
	float: left;
	height: 150px;
	padding: 15px 4% 15px 4%;
}
.texder >h2{
	font-weight: bold;
	text-align: left;
	letter-spacing: 3px;
	color: black;
	font-size: 21pt;
	margin: 0;
	padding: 0;
}
.texder >p{
	font-weight: normal;
	font-size: 14pt;
	text-align: left;
	color: black;
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}
.block5{
	width: 100%;
	height: 314px;
	float: left;
	background: white;
	border-top: solid gray;
}
.imagrand{
	display: block;
	background: url(../img/article4.png)no-repeat;
	width: 100%;
	height: 314px;
}
.block6{
	width: 92%;
	float: left;
	height: 140px;
	padding: 20px 4% 20px 4%;
	background: white;
	border-bottom: solid gray;
}
.block6 >h2{
	font-weight: bold;
	text-align: left;
	letter-spacing: 3px;
	color: black;
	font-size: 21pt;
	margin: 0;
	padding: 0;
}
.block6 >p{
	font-weight: normal;
	font-size: 14pt;
	text-align: left;
	color: black;
	margin: 0;
	padding: 0;
	letter-spacing: 2px;
}
.futer{
	width: 100%;
	height: 100px;
	float: left;
	background: #35130D;
}
.copy{
	width: 10%;
	float: left;
	height: 100px;
}
.copy >p{
	margin-top: 50px;
	color: white;
	font-weight: normal;
	font-size: 12pt;
	margin-left: 25%;
}
.futer1{
	width: 30%;
	float: left;
	height: 100px;
}
.imafuter1{
	display: block;
	background: url(../img/logo-footer.png);
	width: 193px;
	height: 35px;
	margin-top: 35px;
}
.futer2{
	width: 50%;
	float: left;
	height: 100px;
}

.btn{
	width: 100%;
	height: 60px;
	float: left;
}	
.btn > button{
	width: 35%;
	color: #35130D;
	height: 50px;
	margin-left: 70%;
	margin-top: 25px;
	background: #EDB174;
	padding: 10px 1% 10px 1%;
	border: none;
	font-weight: bold;
	font-size: 11pt;
	letter-spacing: 2px;
}
