@charset "utf-8";
body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
#menu{
	width: 100%;
	background: #949dcf;
	height: 45px;
	float: left;
}
.child1{
	width: 55%;
	height: 45px;
	background: #aa92ba;
	float: left;
}
.child2{
	width: 45%;
	height: 45px;
	background: #7dc5a4;
	float: left;
}
.a{
	width: 45%;
	height: 45px;
	background: #074657;
	float: left;
}
.b{
	width: 55%;
	height: 45px;
	background: #096178;
	float: left;
}
.c{
	width: 27%;
	height: 45px;
	background: #0b7f9e;
	float: left;
}
.d{
	width: 19%;
	height: 45px;
	background: #1e91af;
	float: left;
}
.e{
	width: 27%;
	height: 45px;
	background: #37a7c4;
	float: left;
}
.f{
	width: 27%;
	height: 45px;
	background: #58b7d0;
	float: left;
}
.banner{
	width: 100%;	
	height: 400px;
	background: #072b57;
	float: left;
}
.linea{
	width: 100%;	
	height: 10px;
	background: #89c7d3;
	float: left;
}
#contenido1{
	width: 100%;
	height: 520px;
	background: #7b93b0;
	float:left;
}
.base{
	width: 27%;	
	height: 520px;
	background: #2267b9;
	margin-left:60px;
	float: left;
}
.b1{
	width: 100%;
	margin-top: 240px;
	height: 30px;
	background: #134d93;
	float: left;
}
.b2{
	width: 100%;
	height: 200px;
	background: #0a3263;
	float: left;
}
.b3{
	width: 50%;
	height: 50px;
	background: #041c3a;
	margin-left:25%;
	margin-right:25%;
	float: left;
} 
#contenido2{
	width: 100%;
	height: 290px;
	background: #7b93b0;
	float:left;
}
.base2{
	width: 50%;
	height: 290px;
	background: #7b93b0;
	float: left;
}
.base3{
	width: 50%;
	height: 290px;
	background: #4f5e71;
	float: left;
}
.a1{
	width: 100%;
	height: 55px;
	background: #699ddf;
	margin-top: 80px;
	float: left;
}
.a2{
	width: 50%;
	height: 55px;
	background: #457abd;
	margin-left:50%;
	float: left;
}
.a3{
	width: 100%;
	height: 55px;
	background: #2b5d9b;
	float: left;
}
.a4{
	width: 100%;
	height: 55px;
	background: #1e508d;
	float: left;
}
.a5{
	width: 50%;	
	height: 55px;
	background: #0d396e;
	margin-left:25%;
	margin-right:25%;
	float: left;
}
#contenido3{
	width: 100%;
	height: 290px;
	background: #7b93b0;
	float:left;
}
.base4{
	width: 50%;
	height: 290px;
	background: #7b93b0;
	float: left;
}
.d1{
	width: 100%;
	height: 55px;
	background: #699ddf;
	float: left;
}
.d2{
	width: 100%;
	height: 55px;
	background: #2f816e;
	float: left;
}
.d3{
	width: 50%;
	height: 55px;
	background: #56a895;
	float: left;
}
.d4{
	width: 50%;
	height: 55px;
	background: #83cdbc;	
	float: left;
}
.d5{
	width: 50%;
	height: 55px;
	background: #83cdbc;
	float: left;
}
.d6{
	width: 50%;
	height: 55px;
	background: #56a895;
	float: left;
}
.d7{
	width: 50%;
	height: 135px;
	background: #56a895;
	float: left;
}
.d8{
	width: 50%;
	height: 135px;
	background: #83cdbc;
	float: left;
}
.base5{
	width: 50%;
	height: 290px;
	background: #4f5e71;
	float: left;
}
.c1{
	width: 100%;
	height: 55px;
	background: #699ddf;
	margin-top: 80px;
	float: left;
}
.c2{
	width: 50%;
	height: 55px;
	background: #457abd;
	margin-left:50%;
	float: left;
}
.c3{
	width: 100%;
	height: 55px;
	background: #2b5d9b;
	float: left;
}
.c4{
	width: 100%;
	height: 55px;
	background: #1e508d;
	float: left;
}
.c5{
	width: 35%;	
	height: 55px;
	background: #0d396e;
	margin-left:50%;
	float: left;
}
.pie{
	width: 100%;
	height: 400px;
	background: #625370;
	float: left;
}
.base6{
	width: 25%;
	height: 400px;
	background: #85b2cb;
	float: left;
}
.e1{
	width: 100%;
	height: 50px;
	background: #857494;
	float: left;
}
.base7{
	width: 75%;
	height: 300px;
	background: #e64949;
	float: left;
}
.f1{
	width: 75%;
	height: 50px;
	background: #e5944d;
	float: right;
}
.f2{
	width: 30%;
	height: 50px;
	background: #812f5c;
	float: left;
}
.f3{
	width: 30%;
	height: 50px;
	background: #9d4a77;
	float: left;
}
.f4{
	width: 20%;
	height: 50px;
	background: #b46690;
	float: left;
}
.f5{
	width: 20%;
	height: 50px;
	background: #cb85ab;
	float: left;
}
.base8{
	width: 75%;
	height: 100px;
	background: #952f2f;
	float: right;
}
/*Ejercicio 2*/

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
#data{
	width: 100%;
	background: #949dcf;
	height: 90px;
	float: left;
}
.information{
	width: 100%;
	height: 45px;
	background: #aa92ba;
	float: left;
}
.z1{
	width: 10%;
	height: 45px;
	background: #273746;
	margin-left: 60%; 
	float: left;
}
.z2{
	width: 10%;
	height: 45px;
	background: #2c3e50;
	float: left;
}
.z3{
	width: 10%;
	height: 45px;
	background: #566573;
	float: left;
}
.z4{
	width: 10%;
	height: 45px;
	background: #808b96;
	float: left;
}
.bottom{
	width: 100%;
	height: 45px;
	background: #929fa7;
	float: right;
}
.zz1{
	width: 10%;
	height: 45px;
	background: #2f8f95;
	margin-left: 10%;
	float: left;
}
.zz2{
	width: 10%;
	height: 45px;
	background: #16666c;
	margin-left: 10%;
	float: left;
}
.zz3{
	width: 10%;
	height: 45px;
	background: #267c83;
	float: left;
}
.zz4{
	width: 15%;
	height: 45px;
	background: #399299;
	float: left;
}
.zz5{
	width: 25%;
	height: 45px;
	background: #4ea7af;
	float: left;
}
.zz6{
	width: 10%;
	height: 45px;
	background: #64b9c1;
	float: left;
}
#sezione1{
	width: 100%;
	height: 520px;
	background: #7b93b0;
	float:left;
}
.bandiera{
	width: 100%;	
	height: 520px;
	background: #072b57;
	float: left;
}
.testo{
	margin-top: 10%;
	margin-left: 5%;
	width: 40%;
	height: 300px;
	background: #77b77f;
	float: left;
}
.title{
	margin-top: 5%;
	margin-left: 5%;
	width: 90%;
	height: 200px;
	background: #599260;
	float: left;
}
.piu{
	margin-top: 1%;
	margin-right: 5%;
	width: 20%;
	height: 50px;
	background: #668469;
	float: right;
}
#sezione2{
	width: 100%;
	height: 300px;
	background: #7b93b0;
	float:left;
}
.bandiera2{
	width: 100%;
	height: 300px;
	background: #606d9c;
	float: left;
}
.testo2{	
	width: 60%;
	height: 300px;
	background: #77b77f;
	float: left;
}
.title2{
	margin-top: 5%;
	margin-left: 5%;
	width: 90%;
	height: 190px;
	background: #599260;
	float: left;
}
.piu2{
	margin-top: 1%;
	margin-right: 5%;
	width: 20%;
	height: 50px;
	background: #668469;
	float: right;
}
#sezione3{
	width: 100%;
	height: 600px;
	background: #7b93b0;
	float:left;
}
.scatola{
	width: 100%;
	height: 300px;
	background: #606d9c;
	float: left;	
}
.immagine{	
	width: 33.33%;
	height: 300px;
	background: #437d89;
	float: left;
}
.title3{
	margin-top: 5%;
	margin-left: 5%;
	width: 90%;
	height: 200px;
	background: #14444d;
	float: left;
}
.piu3{
	margin-top: 1%;
	margin-right: 5%;
	width: 20%;
	height: 50px;
	background: #052f37;
	float: right;
}