@charset "utf-8";
body{
	background: white;
	font-family: arial;
	margin: 0;
	padding: 0;
}
#cabeza{
	width: 100%;
	height: 50px;
	float: left;
	background: #C46207;
}
.cabeza1{
	width: 2%;
	height: 50px;
	float: left;
	border-right: 1px solid #DE8519;
	padding: 0px 1% 0px 1%;
}
.cabeza1:hover{
	background: #EBA907 !important;
}
.imaico{
	width: 33px;
	height: 22px;
	float: left;
	margin-top: 12px;
}
#cabeza>div>ul>li>a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 10pt;
	text-align: center;
}
#cabeza>div>ul>li{
	list-style: none;
	display: block;
	float: left;
	width: 11.5%;
	border-right: 1px solid #DE8519;
	height: 38px;
	margin: 0;
	padding: 0;
	text-align: center;
	padding-top: 12px;
}
ul{
	margin: 0;
	padding: 0;
}
a:hover{
	color: #813203 !important;
}
li:hover{
	background: #EBA907 !important;
}
.imagen{
	background: url('../img/crecimiento2.png')no-repeat;
	width: 100%;
	height: 500px;
	float: left;
}
.son1{
	width: 40%;
	height: 500px;
	float: left;
}
.imagen1{
	background: url('../img/persona.png');
	width: 567px;
	height: 498px;
	float: left;
}
.son2{
	width: 60%;
	height: 500px;
	float: right;
}
.son2>div>h1{
	width: 100%;
	height: 60px;
	float: left;
	margin: 0;
	padding: 0;
	padding-top: 100px;
	color: #C46207;
	font-size: 28pt;
	font-weight: bold;
	font-family: calibri;
}
.son2>div>p{ 
	font-family: calibri;
	letter-spacing: 0pt;
	text-align: left;
	color: black;
	line-height: 28pt;
	font-size: 18pt;
	width: 90%;
	font-weight: lighter;
}
.son2>div>button{
	text-decoration: none;
	border: 1px solid #C46207;
	height: 50px;
	border-radius: 5px;
	width: 25%;
	margin-left: 1%;
	background: white;
	text-align: center;
	margin-top: 15px;
	color: #C46207;
	font-size: 11pt;
}
button:hover{
	background: #C2B9B4 !important;
	color: white !important;
}
.block1{
	background: white;
	width: 100%;
	height: 450px;
	float: left;
	margin: 0;
	padding: 0;
}
.block1>div{
	background: #F0EFEF;
	width: 23.75%;
	height: 430px;
	margin-top: 15px;
	margin-left: 1%;
	float: left;
}
.block1>div>.papa1{
	width: 100%;
	height: 125px;
	float: left;
}
.block1>div>.papa2{
	width: 90%;
	height: 283px;
	float: left;
	padding: 1px 5% 20px 5%;
}
.block1>div>div>.son01{
	width: 30%;
	height: 100px;
	float: left;
	padding: 22px 1% 0px 4%;
}
.block1>div>div>.son02{
	width: 64%;
	height: 125px;
	float: left;
	margin: 0;
	padding: 0;
}
.block1>div>div>div>h2{
	font-family: arial;
	font-size: 17pt;
	margin-top: 28px;
	margin-bottom: 0;
}
.block1>div>div>div>hr{
	float: left;
	border: 1px solid;
	width: 90%;
	margin: 0;
	padding: 0;
}
.block1>div>div>p{
	float: left;
	font-family: arial;
	font-size: 12pt;
	margin-top: 0px;
	line-height: 20pt;
}
#piesito{
	width: 100%;
	height: 160px;
	float: left;
	background: white;
}
#piesito>div{
	width: 100%;
	height: 100px;
	float: left;
	background: #06050A;
	margin-top:60px;
}
#piesito>div>p{
	font-family: arial;
	color: white;
	text-align: center;
	margin-top: 10px;
	padding: 0;
	line-height: 18pt;
	font-weight: lighter;	
}