@charset"utf-8";
body{
	background: white;
	font-family: calibri;
	margin: 0;
	padding: 0;
}
#titular{
	width: 100%;
	height: 50px;
	float: left;
	background: orange;
	margin: 0;
	padding: 0;
}
#titular> div>ul>li>a{
	text-decoration: none;
	font-weight: normal;
	font-size: 12pt;
	color: white;
	text-align: center;
}
#titular> div>ul>li:first-child{
	float: left;
	width: 3%;
	border-right: 1px solid white;
	height: 40px;
	margin: 0;
	padding: 0;
	padding-top: 10px;

}
#titular> div>ul>li{
	list-style: none;
	display: block;
	float: left;
	width: 11.5%;
	border-right: 1px solid white;
	height: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
	padding-top: 10px;
}
ul{
	margin: 0;
	padding: 0;
}
a:hover{
	color: white !important;
}
li:hover{
	background: gray !important;
}
#caja1{
	width: 100%;
	height: 500px;
	float: left;
	background: white;
}
.vista{
	background: url(../img/crecimiento2.png)no-repeat;
	width: 100%;
	height: 500px;
}
.hijo1{
	width: 35%;
	height: 498px;
	float: left;
}
.im1{
	width: 100%;
	height: 498px;
	background: url(../img/persona.png)no-repeat;
}
.text{
	width: 65%;
	height: 500px;
	float: left;
}
.text>div>h1{
	width: 100%;
	height: 50px;
	font-family: calibri;
	font-size: 30pt;
	color: orange;
	padding: 0;
	margin: 0;
	padding-top: 50px;
	font-weight: bold;
}
.text>div>p{
	font-family: calibri;
	text-align: left;
	color: black;
	line-height: 2.1;
	font-size: 18pt; 
	font-weight: lighter;
	width: 75%;
}
.text>div>button{
	text-decoration: none;
	border:1px solid orange;
	border-radius: 5px;
	height: 50px;
	width: 20%;
	background: white;
	margin-left: 2%;
	text-align: center;
	color: orange;
	margin-top: 10px;
	font-size: 11pt;
}
.text>div>button:hover{
	background: #c3c3c3 !important;
}
#caja2{
	width: 100%;
	height: 800px;
	float: left;
	margin: 0;
	padding: 0;
	color: white;	
}
.informacion>div{
	background: gray;
	width: 20%;
	height: 380px;
	margin-left: 10px;
	margin-top: 15px;
}
.informacion>div>div{
	width: 30%;
	height: 100px;
	float: left;
	margin-left: 5px;
}
.fig1{
	background: url(../img/icono1.png)no-repeat;
	width: 100%;
	height: 100px;
}
.fig2{
	background: url(../img/icono2.png)no-repeat;
	width: 100%;
	height: 100px;
}
.fig3{
	background: url(../img/icono3.png)no-repeat;
	width: 100%;
	height: 100px;
}
.fig4{
	background: url(../img/icono4.png)no-repeat;
	width: 100%;
	height: 100px;
}
.informacion>div>div>div{
	width: 70%;
	height: 80px;
	float: left;
	margin-top: 25px;
	margin: 0;
	padding: 0;
	margin-left: 5px;
}
.informacion>div>div>div>p{
	width: 100%;
	height: 80px;
	float: left;
	margin-top: 25px;
	margin: 0;
	padding: 0;
	margin-left: 5px;
}
}




