@charset "utf-8";


body{
	background: #23e2f3;
	width: 100%;
	height: auto;
	font-family: arial;
	margin:0;
}
header{
	width: 100%;
	height: 50px;
	float: left;
	border: 1px solid red;
	background: #a7f323;
}
.child1{
	width: 55%;
	height: 60px;
	float: left;
	background: #f38f23
}
.child2{
	width: 45%;
	height: 60px;
	float: left;
	background: #9d23f3
}
.a{
	width: 45%;
	height: 60;
	float: left;
	background: #614898;
}
.b{
	width: 55%;
	height: 60px;
	float: left;
	background: #bcde54;
}
.c{
	width: 27%;
	height: 60px;
	float: left;
	background: #245869
}
.d{
	width: 19%;
	height: 60px;
	float: left;
	background: #485626
}
.e{
	width: 27%;
	height: 60px;
	float: left;
	background: #7841d4
}
.f{
	width: 27%;
	height: 60px;
	float: left;
	background: #5559f5;
}
.bisabuelo{
	width: 100%;
	height: 500px;
	float: left;
	background: #235646;
}
.hijo1{
	width: 100%;
	height: 475px;
	float: left;
	background: #4656;
	}
.hijo2{
	width: 100%;
	height: 25px;
	float: left;
	background: #459832;
}
.papa{
width: 100%;
height: 500px;
float: left;
background: #7962;
}
.primerhijo{
	width: 25%;
	height: 500px;
	float: left;
	margin-left: 4.25%;
	background: #3665;
}
.nieto1{
	width: 100%;
	height: 250px;
	float:left;
	background: #7174be;
}
.nieto2{
	width: 100%;
	height: 25px;
	float: left;
	background: #7195be;
}
.nieto3{
	width: 100%;
	height: 175px;
	float: left;
	background: #294059;
}
.nieto4{
	width: 100%;
	height: 50px;
	float: left;
	background: #446;
}
.binieto1{
	width: 36%;
	height: 50px;
	float: left;
	background: #235;
}
.binieto2{
	width: 28%;
	height: 50px;
	float: left;
	background: #784;
}
.binieto3{
	width: 36%;
	height: 50px;
	float: left;
	background: #235;
}
.segundohijo{
	width: 25%;
	height: 500px;
	float: left;
	margin-left: 4.25%;
	background: #3665;
}
.nieto5{
	width: 100%;
	height: 250px;
	float:left;
	background: #7174be;
}
.nieto6{
	width: 100%;
	height: 25px;
	float: left;
	background: #7195be;
}
.nieto7{
	width: 100%;
	height: 175px;
	float: left;
	background: #294059;
}
.nieto8{
	width: 100%;
	height: 50px;
	float: left;
	background: #446;
}
.binieto4{
	width: 36%;
	height: 50px;
	float: left;
	background: #235;
}
.binieto5{
	width: 28%;
	height: 50px;
	float: left;
	background: #784;
}
.binieto6{
	width: 36%;
	height: 50px;
	float: left;
	background: #235;
}
.tercerhijo{
	width: 25%;
	height: 500px;
	float: left;
	margin-left: 4.25%;
	background: #3665;
}
.nieto9{
	width: 100%;
	height: 250px;
	float:left;
	background: #7174be;
}
.nieto10{
	width: 100%;
	height: 25px;
	float: left;
	background: #7195be;
}
.nieto11{
	width: 100%;
	height: 175px;
	float: left;
	background: #294059;
}
.nieto12{
	width: 100%;
	height: 50px;
	float: left;
	background: #446;
}
.binieto7{
	width: 36%;
	height: 50px;
	float: left;
	background: #235;
}
.binieto8{
	width: 28%;
	height: 50px;
	float: left;
	background: #784;
}
.binieto9{
	width: 36%;
	height: 50px;
	float: left;
	background: #235;
}
.seccion3{
	width: 100%;
	height: 400px;
	float: left;
	background: #484ca3;
}
.caja1{
	width: 40%;
	height: 400px;
	float: left;
	background: #294b59;
}
.caja2{
	width: 60%;
	height: 400px;
	float: left;
	background: #21a0b3;
}
.cajita1{
	width: 100%;
	height: 80px;
	float: left;
	background: #d5edec;
}
.cajita2{
	width: 100%;
	height: 80px;
	float: left;
	background: #90cac7;
}
.cajita3{
	width: 100%;
	height: 80px;
	float: left;
	background: #75bbab;
}
.cajita4{
	width: 100%;
	height: 70px;
	float: left;
	background: #59a681;
}
.cajita5{
	width: 100%;
	height: 90px;
	float: left;
	background: #398853;
}
.cajitahija1{
	width: 50%;
	height: 80px;
	float: left;
	background: #6a8d95;
}
.cajitahija2{
	width: 50%;
	height: 80px;
	float: left;
	background: #3a4648;
}
.cajitahija3{
	width: 32%;
	height: 70px;
	float: left;
	margin-left: 32%;
	background: #4e6843;
}
.seccion4{
	width: 100%;
	height: 500px;
	float: left;
	background: #b1c8a6;
}
.cajita6{
	width: 60%;
	height: 500px;
	float: left;
	background: #5a9346;
}
.cajita7{
	width: 40%;
	height: 500px;
	float: left;
	background: #759341;
}
.cajitahija4{
	width: 100%;
	height: 82px;
	float: left;
	background: #323e1c;
}
.cajitahija5{
	width: 100%;
	height: 83px;
	float: left;
	background: #d6e591;
}
.cajitahija6{
	width: 100%;
	height: 85px;
	float: left;
	background: #c6e630;
}
.cajitahija7{
	width: 100%;
	height: 200px;
	float: left;
	background: #f1f2c0;
}
.cajitahija8{
	width: 100%;
	height: 50px;
	float: left;
	background: #eff098;
}
.hija5{
	width: 45%;
	height: 83px;
	float: left;
	background: #bfc068;
}
.hija55{
	width: 55%;
	height: 83px;
	float: left;
	background: #939444;
}
.hija6{
	width: 45%;
	height: 85px;
	float: left;
	background: #bcbe1e;
}
.hija66{
	width: 55%;
	height: 85px;
	float: left;
	background: #e9eb19;
}
.hija7{
	width: 45%;
	height: 200px;
	float: left;
	background: #bfc068;
}
.hija77{
	width: 55%;
	height: 200px;
	float: left;
	background: #939444;
}
.hij7{
	width: 100%;
	height: 83px;
	float: left;
	margin-top: 12%;
	background: #bfc068;
}
.hij77{
	width: 100%;
	height: 83px;
	float: left;
	margin-top: 10%;
	background: #bfc068;
}
.hijita7{
	width: 25%;
	height: 83px;
	float: left;
	margin-left: 60%;
	background: #6a6b1f;
}





