@charset "utf-8";

body {
	background: yellow;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0; 
}

header{
	width: 100%;
	background: #a7f323;
	height: 55px;
	float:left;
}

.alfa{
	width: 55%;
	height: 55px;
	background: #f38f23;
	float:left;
}

.beta{
	width: 45%;
	float:left;
	background: #9d23f3;
	height: 55px;

}

.a{
	width: 45%;
	float: left;
	height: 55px;
	background: #619498;
}

.b{
	width: 55%;
	float: left;
	height: 55px;
	background: #bcde54;
}

.c{
	width: 27%;
	float: left;
	height: 55px;
	background: #d99d85;
}

.d{
	width: 19%;
	float: left;
	height: 55px;
	background: #d1a43d;
}

.e{
	width: 27%;
	float: left;
	height: 55px;
	background: #8b9b76;
}

.f{
	width: 27%;
	float: left;
	height: 55px;
	background: #ceb537;
}

#uno{
	width: 100%;
	height: 170px;
	background: salmon;
	float:left;
}

.gamma{
	width: 100%;
	height: 170px;
	background: #f38f23;
	float:left;

}

.rayita{
	width: 100%;
	height: 20px;
	background: #black;
	float: left;
}

.gamma1{
	width: 8%;
	float: left;
	height: 215px;
	background: #619498;
}

.gamma2{
	width: 24%;
	float: left;
	height: 215px;
	background: #bcde54;
}

.gamma3{
	width: 6%;
	float: left;
	height: 215px;
	background: #619498;
}

.gamma4{
	width: 24%;
	float: left;
	height: 215px;
	background: #bcde54;
}

.gamma5{
	width: 6%;
	float: left;
	height: 215px;
	background: #619498;
}

.gamma6{
	width: 24%;
	float: left;
	height: 215px;
	background: #bcde54;
}

.gamma7{
	width: 8%;
	float: left;
	height: 215px;
	background: #619498;
}



.gamma2a{
	width: 100%;
	float: left;
	height: 100px;
	background: pink;
}
.gamma2b{
	width: 100%;
	float: left;
	height: 20px;
	background: #8A4C44;
}
.gamma2c{
	width: 100%;
	float: left;
	height: 65px;
	background: tomato;
}
.gamma2d{
	width: 100%;
	float: left;
	height: 30px;
	background: darkorange;
}

.gamma4a{
	width: 100%;
	float: left;
	height: 100px;
	background: pink;
}
.gamma4b{
	width: 100%;
	float: left;
	height: 20px;
	background: coral;
}
.gamma4c{
	width: 100%;
	float: left;
	height: 65px;
	background: tomato;
}
.gamma4d{
	width: 100%;
	float: left;
	height: 30px;
	background: darkorange;
}

.gamma6a{
	width: 100%;
	float: left;
	height: 100px;
	background: pink;
}
.gamma6b{
	width: 100%;
	float: left;
	height: 20px;
	background: coral;
}
.gamma6c{
	width: 100%;
	float: left;
	height: 65px;
	background: tomato;
}
.gamma6d{
	width: 100%;
	float: left;
	height: 30px;
	background: darkorange;
}

.gamma2d1{
	width: 32%;
	float: left;
	height: 30px;
	background: peru;	
	
}

.gamma2d2{
	width: 36%;
	float: left;
	height: 30px;
	background: blue;	
	
}

.gamma2d3{
	width: 32%;
	float: left;
	height: 30px;
	background: peru;	
	
}

.gamma4d1{
	width: 32%;
	float: left;
	height: 30px;
	background: peru;	
	
}

.gamma4d2{
	width: 36%;
	float: left;
	height: 30px;
	background: blue;	
	
}

.gamma4d3{
	width: 32%;
	float: left;
	height: 30px;
	background: peru;	
	
}

.gamma6d1{
	width: 32%;
	float: left;
	height: 30px;
	background: peru;	
	
}

.gamma6d2{
	width: 36%;
	float: left;
	height: 30px;
	background: blue;	
	
}

.gamma6d3{
	width: 32%;
	float: left;
	height: 30px;
	background: peru;	
	
}

.first{
	width: 50%;
	float: left;
	height: 170px;
	background: moccasin;

}

.second{
	width: 50%;
	float: left;
	height: 170px;
	background: orange;

}

.second1{
	width: 50%;
	float: left;
	height: 170px;
	background: black;
}


.second2h{
	width: 50%;
	float: left;
	height: 30px;
	background: olive;
	}

.second3h{
		width: 50%;
	float: left;
	height: 30px;
	background: lightcyan;
}

.second4{
	
		width: 100%;
	float: left;
	height: 30px;
	background: cadetblue;
	
}

.second5h{
	width: 35%;
	float: left;
	height: 30px;
	background: steelblue;
}

.second8h{
	width: 30%;
	float: left;
	height: 30px;
	background: midnightblue;
}

.second7h{
	width: 35%;
	float: left;
	height: 30px;
	background: navy;
}

.second9h{
	width: 100%;
	float: left;
	height: 50px;
	background: peru;
}

.third{
	width: 60%;
	float: left;
	height: 180px;
	background: peru;

}

.fourth{
	width: 40%;
	float: left;
	height: 180px;
	background: lavender;
}

