@charset "utf-8";

body{
  background: white;
  font-family: calibri;
   height: auto;
  margin:0;
  padding:0;
}
 
header{
  background: red;
  width: 100%;
  height: 40px;
  float: left;
  margin: 0;
  padding: 0;
}

#alpha{
  background: red;
  width: 100%;
  height: 40px;
  float: left;
  margin: 0;
  padding: 0;
}

.camara{
	width: 4%;
	height: 40px;
	float: left;
  border-right: 1px ;
  border-right-style:  solid ;
  border-right-color: white;
}

.icon{
	width: 32px;
  display: block;
  height: 25px;
  margin: auto;
  margin-top: 10px;  
}

#beta{
  width: 94%;
  height: 40px;
  float: left;
}

.menu{
  width: 100%;
  height: 40px;
  float: left;
  padding: 0;
  margin: 0;
}

header>#alpha>#beta>.menu>li{
  width: 12.43%;
  height: 28px;
  float:left;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  display: block;
  border-right: 1px ;
  border-right-style:  solid ;
  border-right-color: white;
  padding-top: 12px;
}

header>#alpha>#beta>.menu>li:hover{
  background-color: lightsalmon;
}

header>#alpha>#beta>.menu>li>a{
  font-size: 10pt;
  color: white;
  text-align: center;
  text-decoration: none;
}

/*Fin del header*/

#arti1{
  width: 100%;
  height: 500px;
  float: left;
  margin: 0;
  padding: 0;
}

#men{
  background: url('../img/crecimiento2.png');
  width: 1400px;
  height: 498px;
  float: left;
  display: block;
  margin: 0;
  padding: 0;
}

#men>div:first-child>.img{
  background: url('../img/persona.png');
  width: 567px;
  height: 498px;
  float: left;
}

#men>div:nth-child(2)>h1{
  margin: 0;
  padding: 0;
  margin-top: 40px;
  font-size: 28pt;
  font-weight: bold;
  text-align: left;
  color: tomato;
  margin-top: 50px;
}

#men>div:nth-child(2)>p{
  font-size: 20pt;
  font-weight: lighter;
  text-align: left;
  line-height: 30pt;
  margin-top: 40px;
  margin: 0;
  padding: 0;
}

#men>div:last-child>button{
  text-align: center;
  font-size: 11pt;
  width: 24%;
  height: 50px;
  border: 1px solid darkorange;
  float: left;
  display: block;
  margin-top: 40px;
  color: darkorange;
  background: white;
  margin-left: 3%; 
  border-radius:5px;
}

#men>.men_img{
	width: 40%;
	height: 500px;
	float: left;
}

#men>.text1{
	width: 60%;
	height: 680px;
	float: left;
}

#men>div:last-child>button:hover{
  background: thistle;
  color: white;
}

#arti2{
  background: white;
  width: 100%;
  height: 900px;
  float: left;
  margin-top: 30px;
}

article>#arti2>.a1{
  background: white;
  width: 100%;
  height: 400px;
}

article>#arti2>.a1>.b1{
  background: lightgray;
  width: 24%;
  height: 380px;
  float: left;
  margin-top: 10px;
  margin-left: 1%;
}

article>#arti2>.a1>.b1>.c1{
  width: 27%;
  height: 70px;
  float: left;
}

article>#arti2>.a1>.b1>.c1>.img2{
  background: url('../img/icono1.png');
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 15%;
}

article>#arti2>.a1>.b1>.text2{
  width: 58%;
  margin-left: 10%;
  margin-right: 5%;
  float: left;
}

article>#arti2>.a1>.b1>.text3{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  margin-top: 15px;
  line-height: 18pt;
}

article>#arti2>.a1>.b1>.c1>.img3{
  background: url('../img/icono2.png');
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 15%;
}

article>#arti2>.a1>.b1>.c1>.img4{
  background: url('../img/icono3.png');
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 15%;
}

article>#arti2>.a1>.b1>.c1>.img5{
  background: url('../img/icono4.png');
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 15%;
}

footer{
  width: 100%;
  height: 120px;
  float: left;
  background: black;
  text-align: center;
  font-size: 12pt;
  color: white;
  font-weight: normal;
  font-family: arial;
  margin: 0;
  padding: 0;
  margin: 10px;
}