@charset "utf-8";

body {
	background: yellow;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0
}

header{
	width: 100%;
	background: #a7f323;
	height: 45px;
	float:left;
}

#head1 {
	width: 100%;
	background: red;
	height: 15px;
	float:left;
}

.head1padre1 {
	width: 60%;
	background: indianred;
	height: 15px;
	float:left;
}

.head1padre2 {
	width: 40%;
	background: darkred;
	height: 15px;
	float:left;
}

.head1hijo1 {
	width: 10%;
	background: crimson;
	height: 15px;
	float:left;
}

.head1hijo2 {
	width: 40%;
	background: red;
	height: 15px;
	float:left;
}

.head1hijo3 {
	width: 30%;
	background: firebrick;
	height: 15px;
	float:left;
}

.head1hijo4 {
	width: 20%;
	background: crimson;
	height: 15px;
	float:left;
}

#head2 {
	width: 100%;
	background: blue;
	height: 30px;
	float:left;
	border-bottom: 10px;
	border-color: orange;
	border-style: solid;
}

.head2padre1 {
	width: 40%;
	background: darkorange;
	height: 30px;
	float:left;
}

.head2hijo1 {
	width: 15%;
	background: tomato;
	height: 30px;
	float:left;
}

.head2hijo2 {
	width: 55%;
	background: coral;
	height: 30px;
	float:left;
}

.head2hijo3 {
	width: 30%;
	background: lightsalmon;
	height: 30px;
	float:left;
}

.head2padre2 {
	width: 60%;
	background: orange;
	height: 30px;
	float:left;
}

.head22hijo1 {
	width: 15%;
	background: darkkhaki;
	height: 30px;
	float:left;
}

.head22hijo2 {
	width: 15%;
	background: khaki;
	height: 30px;
	float:left;
}

.head22hijo3 {
	width: 27.5%;
	background: palegoldenrod;
	height: 30px;
	float:left;
}

.head22hijo4 {
	width: 27.5%;
	background: peachpuff;
	height: 30px;
	float:left;
}

.head22hijo5 {
	width: 15%;
	background: moccasin;
	height: 30px;
	float:left;
}

#first {
	width: 100%;
	background: black;
	height: 300px;
	float:left;
	border-top: 10px;
	border-top-color: blue;
	border-style: solid;	
}

.first1 {
	width: 100%;
	background: chocolate;
	height: 300px;
	float:left;	
}

.first1a {
	width: 45%;
	background: maroon;
	height: 140px;
	float:left;	
	margin-left: 5%;
	margin-top: 140px;
}

.hijo1a1 {
	width: 100%;
	background: brown;
	height: 30px;
	float:left;	
}

.hijo1a1a  {
	width: 20%;
	background: peru;
	height: 30px;
	float:left;	
	margin-left: 18%;
}

.hijo1a2 {
	width: 100%;
	background: saddlebrown;
	height: 90px;
	float:left;	
}

.hijo1a3 {
	width: 100%;
	background: sienna;
	height: 20px;
	float:left;	
}

#second {
	width: 100%;
	background: wheat;
	height: 150px;
	float:left;
	border-top: 1px;
	border-top-color: black;
	border-style: solid;	
}

.secson1 {
	width: 60%;
	background: burlywood;
	height: 150px;
	float:left;	
}

.sec1 {
	width: 100%;
	background: tan;
	height: 30px;
	float:left;	
}

.hijosec1 {
	width: 30%;
	background: goldenrod;
	height: 30px;
	float:left;	
	margin-left: 10%;
}

.sec2 {
	width: 100%;
	background: rosybrowm;
	height: 100px;
	float:left;	
}

.sec3 {
	width: 100%;
	background: sandybrown;
	height: 20px;
	float:left;	
}

.hijosec3 {
	width: 20%;
	background: cornsilk;
	height: 20px;
	float:left;	
	margin-left: 70%;
}

.secson2 {
	width: 40%;
	background: sienna;
	height: 150px;
	float:left;	
}

#third {
	width: 100%;
	background: palevioletred;
	height: 400px;
	float:left;	
}

.thson1 {
	width: 100%;
	background: mediumvioletred;
	height: 200px;
	float:left;	
}

.thson2 {
	width: 100%;
	background: hotpink;
	height: 200px;
	float:left;	
}

.img1 {
	width: 33%;
	background: indianred;
	height: 200px;
	float:left;	
}

.img2 {
	width: 34%;
	background: pink;
	height: 200px;
	float:left;	
}

.img3 {
	width: 33%;
	background: darksalmon;
	height: 200px;
	float:left;	
}

.img3a {
	width: 33%;
	background: indianred;
	height: 200px;
	float:left;	
}

.img2a {
	width: 34%;
	background: palevioletred;
	height: 200px;
	float:left;	
}

.img1a {
	width: 33%;
	background: darksalmon;
	height: 200px;
	float:left;	
}

.lorem {
	width: 30%;
	background: red;
	height: 20px;
	float:left;	
	margin-left: 7%;
	margin-top: 20px;
}

.realimg {
	width: 85%;
	background: tomato;
	height: 140px;
	float:left;	
	margin-left: 7%;
}

.ver {
	width: 30%;
	background: crimson;
	height: 22px;
	float: right;
	margin-top: 118px;	
}

#fourth {
	width: 100%;
	background: wheat;
	height: 150px;
	float:left;	
}


.prima4th {
	width: 33%;
	background: plum;
	height: 150px;
	float:left;	
}

.seg4th {
	width: 67%;
	background: orchid;
	height: 150px;
	float:left;	
}

.segt {
	width: 22%;
	background: magenta;
	height: 25px;
	float:left;	
	margin-left: 6%;
	margin-top: 10px;
	margin-right: 90%;
}

.seg1 {
	width: 35%;
	background: slateblue;
	height: 100px;
	float:left;	
	margin-left: 6%;
}

.seg2 {
	width: 30%;
	background: purple;
	height: 40px;
	float:left;	
	margin-left: 6%;
}

#fifth {
	width: 100%;
	background: orange;
	height: 350px;
	float:left;	
}

.column1 {
	width: 64%;
	background: thistle;
	height: 350px;
	float:left;	
}

.contactenos {
	width: 100%;
	background: thistle;
	height: 50px;
	float:left;	
}

.contactenos1 {
	width: 35%;
	background: darkorchid;
	height: 50px;
	float:left;
	margin-left: 8%;	
}

.name {
	width: 100%;
	background: plum;
	height: 100px;
	float:left;	
}

.name1 {
	width: 20%;
	background: mediumorchid;
	height: 40px;
	float:left;	
	margin-top: 10px;
	margin-left: 8%;
}

.name2 {
	width: 50%;
	background: mediumorchid;
	height: 40px;
	float:left;	
	margin-top: 10px;
	margin-left: 10%;
}

.name3 {
	width: 50%;
	background: mediumorchid;
	height: 60px;
	float:left;	
	margin-top: 10px;
	margin-left: 10%;
}

.email {
	width: 100%;
	background: thistle;
	height: 100px;
	float:left;	
}

.message {
	width: 100%;
	background: plum;
	height: 100px;
	float:left;	
}

.column2 {
	width: 36%;
	background: thistle;
	height: 350px;
	float:left;	
}

.phone {
	width: 100%;
	background: violet;
	height: 180px;
	float:left;	
}

.phone1 {
	width: 20%;
	background: moccasin;
	height: 40px;
	float:left;	
	margin-top: 60px;
}

.phone2 {
	width: 60%;
	background: moccasin;
	height: 40px;
	float:left;	
	margin-left: 10%;
	margin-top: 60px;
}

.send {
	width: 100%;
	background: violet;
	height: 170px;
	float:left;	
}

.sendb {
	width: 30%;
	background: thistle;
	height: 40px;
	float:left;
	margin-left: 60%;
}

footer {
	width: 100%;
	background: darkmagenta;
	height: 120px;
	float:left;	
}

#furer1 {
	width: 40%;
	background: darkkhaki;
	height: 60px;
	float:left;	
}

.logo {
	width: 40%;
	background: palegoldenrod;
	height: 30px;
	float:left;	
	margin-top: 15px;
	margin-left: 21%;
}

.logo1 {
	width: 10%;
	background: palegoldenrod;
	height: 30px;
	float:left;	
	margin-left: 21%;
}

.logo2 {
	width: 10%;
	background: palegoldenrod;
	height: 30px;
	float:left;	
	margin-left: 5%;
}

.logo3 {
	width: 10%;
	background: palegoldenrod;
	height: 30px;
	float:left;	
	margin-left: 5%;
}

#furer2 {
	width: 60%;
	background: khaki;
	height: 60px;
	float:left;	
}

.line1 {
	width: 14%;
	background: darkkhaki;
	height: 20px;
	float:left;
	margin-top: 10px;
	margin-left: 6%;
}

.line2 {
	width: 21%;
	background: darkkhaki;
	height: 20px;
	float:left;
	margin-top: 10px;	
	margin-left: 6%
}

.line3 {
	width: 25%;
	background: darkkhaki;
	height: 20px;
	float:left;	
	margin-top: 10px;
	margin-left: 6%
}

.line4 {
	width: 14%;
	background: darkkhaki;
	height: 20px;
	float:left;	
	margin-top: 10px;
	margin-left: 6%
}

#furer3 {
	width: 40%;
	background: darkkhaki;
	height: 60px;
	float:left;	
}

#furer4 {
	width: 60%;
	background: khaki;
	height: 60px;
	float:left;	
}

.copyright {
	width: 20%;
	background: darkkhaki;
	height: 20px;
	float:left;	
	margin-top: 38px;
	margin-left: 20%;
}