@charset "utf-8";

body {
  background: #c3c3c3;
 font-family: arial;
  Margin: 0;
  padding: 0;
}

#encabezado {
  width: 100%;
  height: 60px;
  float: left;
  background: darkviolet;
}

#encabezado>div>ul>li>a {
  text-decoration: none;
  font-weight: normal;
  font-size: 12pt;
  color: lavender;
  text-align: center;
}

#encabezado>div>ul>li{
  list-style: none;
  display: block;
  float: left;
  width: 13%;
  border-right: 1px solid lavender;
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 20px;
}

ul{
  margin: 0;
  padding: 0;
}

a:hover{
  color:khaki !important;;
}

li:hover{
  background:black !important;
}

.banner {
  width: 100%;
  height: 500px;
  background: lavender;
  float:left;
}

.child1 {
  width: 40%;
  height: 500px;
  float: left;
}

.child2 {
  width: 60%;
  height: 500px;
  float: left;
}

.img1 {
  background: url('../img/img-flat.png');
  width: 501px;
  height: 500px;
}

.child2>div:first-child>h1 {
  width: 100%;
  height: 60px;
  float: left;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  color: purple;
  font-size: 24pt;
  font-weight: bold;
  font-family: calibri;
  letter-spacing: 2pt;
}

.child2>div:nth-child(2)>p {
  font-family: calibri;
  letter-spacing: 2pt;
  text-align: left;
  color: black;
  line-height: 20pt;
  font-size: 12pt;
  width: 90%;
  font-weight: lighter;
}

.child2>div:last-child>button {
  text-decoration: none;
  border: 1px solid purple;
  height: 50px;
  border-radius: 5px;
  width: 25%;
  margin-left: 10%;
  background: lavender;
  text-align: center;
  margin-top: 15x;
}

.sec2 {
  background: white;
  width: 100%;
  height: 350px;
  float: left;
}

.sec2>div {
  float:left;
  background: #c3c3c3;
  height: 230px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 70px
}

.sec2>div>div {
  width: 33.3%;
  height: 230px;
  float: left;
}

.sec2>div>div>div:first-child {
  width: 20%;
  margin-left: 10%;
  height: 230px;
  float: left;
}

.img2 {
  background: url('../img/v1.png')no-repeat;
  width: 100%;
  height: 118px;
  margin-top: 10px;
}

.img3 {
  background: url('../img/v2.png')no-repeat;
  width: 100%;
  height: 118px;
  margin-top: 10px;
}

.img4 {
  background: url('../img/v3.png')no-repeat;
  width: 100%;
  height: 118px;
  margin-top: 10px;
}

.sec2>div>div>div:last-child {
  padding-left: 5%;
  width: 65%;
  float: left;
  height: 230px;
}

.sec2>div>div>div:last-child>h2 {
  font-family: calibri;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 2pt;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.sec2>div>div>div:last-child>p {
  font-family: calibri;
  font-size: 12pt;
  font-weight: lighter;
  letter-spacing: 2pt;
  margin: 0;
  padding: 0;
}

#pie {
  width: 100%;
  height: 60px;
  float: left;
  background: purple;
}

#pie>p {
  text-align: center;
  font-weight: normal;
  color: white;
  font-size: 14pt;
}