@charset "UTF-8"; 
  

.container {
    /*width: 75%;*/
}
.sign > div{
    border-left: solid black 1px;
}
.sign{
    margin:0;
    padding: 0;
    background-color: #52909b;
    display: flex;
    justify-content: flex-end;
    height: 3em;
    border: solid black 1px;
}

.sign .phone{
    background-color: #FE9A2E;
    width: 25em;
}
.sign .partners{
    background-color: #688A08;
    width: 14em;
}
.sign .in{
    background-color: #D7DF01;
    width: 9.3em;
}
/*--------------------------------------------*/
.nav >div{
    border-left: solid black 1px;
}

.nav{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: left;
    height: 6em;
    background-color: rgb(7, 0, 19);
    border: solid black 1px;
}
.nav .n1{
    background-color: #2ECCFA;
    width: 8em;
}
.nav .n2{
    background-color: #C8FE2E;
    width: 16em;
}
.nav .n3{
    background-color: #2ECCFA;
    width: 25em;
}
.nav .n4{
    background-color: #F79F81;
    width: 8em;
}
.nav .n5{
    background-color: #FE9A2E;
    width: 11em;
}
.nav .n6{
    background-color: #C8FE2E;
    width: 16em;
}
.nav .n7{
    background-color: #DBA901;
    width: 23em;
}
.nav .n8{
    background-color: #FE9A2E;
    width: 12.4em;
}
/*---------------------------------*/
.section1{
    margin:0;
    padding: 0;
    display: flex;
    height: 37em;
    background-color: #F5A9D0;

}
.section1 .s_1{
    background-color: #2ECCFA;
    width: 38em;
    height: 22em;
    margin-left: 4em;
    margin-top: 10em;
}
.section1 .s_1 .s_2{
    background-color:  #c17865;
    height: 2em;
    width: 100%;
    margin: 1em 0;
}
.section1 .s_1 .s_3{
    background-color:  #e1a523;
    height: 6em;
    width: 100%;
}
.section1 .s_1 .s_4{
    background-color:  #525252;
    height: 3em;
    width: 100%;
    margin: 2em 0;
}
/*--------------------------------*/
.section2{
    margin:0;
    padding: 0;
    display: flex;
    height: 22em;
    background-color: #01b576;;

}.section2 .s_2{
    background-color: #2ECCFA;
    width: 58em;
    height: 100%;
  
}
.section2 .s_2 .s2_2{
    background-color:  #c17865;
    height: 2em;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
}
.section2 .s_2 .s2_3{
    background-color:  #e1a523;
    height: 6em;
    width: 100%;
    
}
.section2 .s_2 .s2_4{
    background-color:  #525252;
    height: 3em;
    width: 100%;
    margin-top: 1em;
}
/*-----------------------*/
.main{
    margin:0;
    padding: 0;
    height: 59em;
    display: grid;
    background-color: #62dddb;
    border: solid black 1px;
    grid-template-columns: repeat(3, minmax(10px,1fr));
    grid-template-rows: 2;
    grid-gap: 10px;
}

.main .m1{
    height:25em;
    width:25em;
    margin-left: 3em;
    margin-top: 2em;
    grid-column: 1;
    grid-row: 1;
    
}
.main .m1 .m1_1{
    height:2em;
    width: 100%;
    background-color: #c17865; 
}
.main .m1 .m1_2{
    height:20em;
    width: 100%;
    background-color: #00cbc8;
    margin-top: 0.5em;
}
.main .m1 .m1_3{
    height: 3em;
    width: 100%;
    background-color: #525252;
}

.main .m2{
    height: 25em;
    width:25em;
    margin-left: 3em;
    margin-top: 2em;
    grid-column: 2;
    grid-row: 1;
    
}
.main .m2 .m2_1{
    height:2em;
    width: 100%;
    background-color: #c17865; 
}
.main .m2 .m2_2{
    height:20em;
    width: 100%;
    background-color: #00cbc8;
    margin-top: 0.5em;
}
.main .m2 .m2_3{
    height: 3em;
    width: 100%;
    background-color: #525252;
}

.main .m3{
    height: 25em;
    width:25em;
    margin-left: 3em;
    margin-top: 2em;
    grid-column: 3;
    grid-row: 1;
    
}
.main .m3 .m3_1{
    height:2em;
    width: 100%;
    background-color: #c17865; 
}
.main .m3 .m3_2{
    height:20em;
    width: 100%;
    background-color: #00cbc8;
    margin-top: 0.5em;
}
.main .m3 .m3_3{
    height: 3em;
    width: 100%;
    background-color: #525252;
}

.main .m4{
    height: 25em;
    width:25em;
    margin-left: 3em;
    margin-top: 2em;
    grid-column: 1;
    grid-row: 2;
    
}
.main .m4 .m4_1{
    height:2em;
    width: 100%;
    background-color: #c17865; 
}
.main .m4 .m4_2{
    height:20em;
    width: 100%;
    background-color: #00cbc8;
    margin-top: 0.5em;
}
.main .m4 .m4_3{
    height: 3em;
    width: 100%;
    background-color: #525252;
    justify-self: left;
}

.main .m5{
    height: 25em;
    width:25em;
    margin-left: 3em;
    margin-top: 2em;
    grid-column: 2;
    grid-row: 2;
    
}
.main .m5 .m5_1{
    height:2em;
    width: 100%;
    background-color: #c17865; 
}
.main .m5 .m5_2{
    height:20em;
    width: 100%;
    background-color: #00cbc8;
    margin-top: 0.5em;
}
.main .m5 .m5_3{
    height: 3em;
    width: 100%;
    background-color: #525252;
    justify-self: left;
}

.main .m6{
    height: 25em;
    width:25em;
    margin-left: 3em;
    margin-top: 2em;
    grid-column: 3;
    grid-row: 2;
    
}
.main .m6 .m6_1{
    height:2em;
    width: 100%;
    background-color: #c17865; 
}
.main .m6 .m6_2{
    height:20em;
    width: 100%;
    background-color: #00cbc8;
    margin-top: 0.5em;
}
.main .m6 .m6_3{
    height: 3em;
    width: 100%;
    background-color: #525252;
    justify-self: left;
}
/*---------------------------------------*/
.about{
    margin:0;
    padding: 0;
    display: flex;
    height: 18em;
    justify-content: flex-end;
    background-color: #01b576;;

}
.about .a_1{
    background-color: #2ECCFA;
    width: 57em;
    height: 100%;
    display: grid;
    grid-auto-columns: 2;
    grid-template-rows: 2;
    grid-column-gap: 3em;
  
}
.about .a_1 .a_2{
    background-color:  #c17865;
    height: 2.5em;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 0.4em;
    grid-column: 1 / span 2;
}
.about .a_1 .a_3{
    background-color:  #e1a523;
    height: 14em;
    width: 100%;
    grid-column: 1;
    grid-row: 2;
}
.about .a_1 .a_4{
    background-color:  #e1a523;
    height: 14em;
    width: 100%;
    grid-column: 2;
    grid-row: 2;
    
    
}
/*----------------------------------*/
.contact{
    margin:0;
    padding-top: 2em;
    height: 30em;
    background-color: #00605c;
}
.contact .c1{
    background-color: #c27762;
    height: 3em;
    width: 100%;
    
}
.contact .c2{
    background-color: #01b576;
    height: 4em;
    width: 100%;
    margin-top: 2em;
    display: flex;

}
.contact .c2 .c2_1{
    width: 20em;
    background-color: #f09ea4;
    height: 100%;
    margin-left: 4em;

}
.contact .c2 .c2_2{
    width: 30em;
    background-color: #4f929b;
    height: 100%;
    margin-left: 1em;

}
.contact .c2 .c2_3{
    width: 20em;
    background-color: #f09ea4;
    height: 100%;
    margin-left: 0;

}
.contact .c2 .c2_4{
    width: 10em;
    background-color: #bbc968;
    height: 100%;
    margin-left: 0;

}


.contact .c3{
    background-color: #01b576;
    height: 4em;
    width: 100%;
    margin-top: 3em;
    display: flex;

}
.contact .c3 .c3_1{
    width: 20em;
    background-color: #f09ea4;
    height: 100%;
    margin-left: 4em;

}
.contact .c3 .c3_2{
    width: 30em;
    background-color: #4f929b;
    height: 100%;
    margin-left: 1em;

}
.contact .c3 .c3_3{
    width: 11em;
    background-color: #4c4949;
    height: 100%;
    margin-left: 20em;

}
.contact .c4{
    background-color: #01b576;
    height: 8em;
    width: 100%;
    margin-top: 3em;
    display: flex;

}
.contact .c4 .c4_1{
    width: 20em;
    background-color: #f09ea4;
    height: 100%;
    margin-left: 4em;

}
.contact .c4 .c4_2{
    width: 30em;
    background-color: #4f929b;
    height: 100%;
    margin-left: 1em;

}

/*-----------------------*/
.footer{
    background-color: #6b93d8;
    height: 10em;
    padding-top: 2em;
    display: flex;
}
.footer .f1{
    background-color: #01b576;
    height: 9em;
    width: 12em;
    border: solid black 1px;
    margin-left: 10em;

}
.footer .f2{
    height: 2em;
    width: 5em;
    background-color: #053774;
    margin-top: 1em;
    margin-left: 30em;
}
.footer .f3{
    height: 2em;
    width: 7em;
    background-color: #053774;
    margin-top: 1em;
    margin-left: 1em;
}
.footer .f4{
    height: 2em;
    width: 8em;
    background-color: #053774;
    margin-top: 1em;
    margin-left: 1em;
}
.footer .f5{
    height: 2em;
    width: 9em;
    background-color: #053774;
    margin-top: 1em;
    margin-left: 1em;
}
.footer .f6{
    height: 2em;
    width: 5em;
    background-color: #053774;
    margin-top: 1em;
    margin-left: 1em;
}
.footer2{
    height: 4em;
    background-color: #6b93d8;
}
.footer2 .f2_1{
    height:2.5em;
    width: 100%;
    background-color: #9487a3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer2 .f2_1 .f2_2{
    height:100%;
    width:8em;
    background-color: #5f0e5b;
}