@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}

body {
    margin: 0;
    font-family: font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

.clasemenu{
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 2px;
}
.elboton{
	float: right;
	margin-right: 5px;
	background: rgb(0, 161, 249);
	width: 8%;
	height: 30px;
	margin-right: 1%;
	margin-top: 5px;
	color: rgb(255, 255, 255);
	border-radius: 4px;
	border: 1px solid rgb(10, 182, 202);
	font-size: 14px;
}	

.banner input[type="button"]{
	background: rgb(255, 255, 255);
	width: 20%;
	padding: 15px;
	margin-left: 4%;
	color: rgb(1, 71, 141);
	border-radius: 5px;
	border: 1px solid rgb(1, 71, 141);
	font-size: 14px;
}
.contenedor{
	background: rgb(255, 255, 255);
	width: 100%;
	margin: auto;
	display: block;
}

#menu{
	background: rgb(1, 71, 141);
	width: 100%;
	float: left;
	height: 40px;
}

#menu > ul{
	width: 100%;
	float: left;
	height: auto;
}

#menu > ul > li{
	list-style: none;
	display: block;
	float: left;
	color: rgb(255, 255, 255);
	width: 8%;
	height: 40px;
	text-align: center;
	border-left: 1px solid rgb(10, 182, 202)
}
#menu > ul > li:nine-child{
	border-right: 1px solid rgb(10, 182, 202)
}


#menu > ul > li > a{
	text-decoration: none;
	margin-top:10px;
	display: block;
	color: rgb(255, 255, 255);
	font-size: 12px;
	font-weight: lighter;
}

#menu > ul > li:hover{
	background: rgb(152, 152, 152);
	color: rgb(255, 255, 255);
	font-size: 12px;
	font-weight: lighter;
}
#menu > ul > li:active{
	background: black;
	color: rgb(255, 255, 255);
	font-size: 12px;
	font-weight: lighter;
}

.banner{
	background: url("../img/crecimiento2.png");
	float: left;
	width: 100%;
	min-height: 300px;
}


.img-banner{
	background: url("../img/persona3nueva.png");
	width: 501px;
	height: 501px;
	float: left;
}
.banner > div:first-child{
	width: 40%;
	float: left;
	height: auto;
}

.banner > div:last-child{
	width: 60%;
	float: left;
	height: auto;
}


.banner > div:last-child > div{
	width: 75%;
	float: left;
	height: auto;
	display: block;
	margin: auto;
}

.banner > div:last-child > div > h1{
	margin-top: 10%;
	font-size: 26pt;
	color: rgb(1, 71, 141);
}

.banner > div:last-child > div > p{
	font-size: 16pt;
	margin-bottom: 2%;
	text-align: left;
	line-height: 1.8em;
	color: rgb(0, 0, 0);
	font-weight: lighter;
}

.banner > div:last-child > div > div{
	width: 100%;
	float: left;
	height: auto;
}


.banner input[type="button"]:hover{
	background: rgb(150, 150, 150);
	color: rgb(255, 255, 255);
}


.ico1{
	background: url("../img/icono5.png") no-repeat;
	width: 120px;
	height: 120px;
	float: left;
}

.ico2{
	background: url("../img/icono6.png") no-repeat;
	width: 115px;
	height: 119px;
	float: left;
}

.ico3{
	background: url("../img/icono7.png") no-repeat;
	width: 120px;
	height: 120px;
	float: left;
}

.ico4{
	background: url("../img/icono8.png") no-repeat;
	width: 119px;
	height: 120px;
	float: left;
}
article{
	background: rgb(240, 240, 240);
	width: 33.3%;
    margin: auto;
	float: left;
	display: block;
	height: auto;
	border: 3px; 
}

.body-1{
	width: 80%;
	display: block;
	margin: 5px;
	float: left;
	padding: 5%;
}

.body-2{
	width: 70%;
	border-left: 1px;
	display: block;
	margin: 5px;
	float: left;
	padding: 5%;
}
article > p{
	margin-top: 10px;
	float: left;
	width: 70%;
	text-align: left;
}

section{
	width: 100%;
	margin-top: 2%;
	float: left;
}

footer{
	margin-top: 5%;
	width: 100%;
	float: left;
	height: 50px;
	text-align: center;
	font-weight: lighter;
	color: rgb(255, 255, 255);
	background: rgb(1, 71, 141);
}

.articulodiferente{
	width: 50%;

}