@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
#areamenu1{
	width: 100%;
	background:#D3EA12;
	height: 50px;
	float: left;
}
.hijo1{
	width: 60%;
	height: 50px;
	background: #629398;
	float: left;
}
.hijo2{
	width: 4%;
	height: 50px;
	background:#62C00A;
	float: left;
}
.hijo3{
	width: 12%;
	height: 50px;
	background:#D8A54B;
	float: left;
}
.hijo4{
	width: 9%;
	height: 50px;
	background:#1D69CA;
	float: left;
}
.hijo5{
	width: 11%;
	height: 50px;
	background:#399959;
	float: left;
}
.hijo6{
	width: 4%;
	height: 50px;
	background:#0D355D;
	float: left;
}
.hijo22{
	width: 100%;
	background:#D3EA12;
	height: 80px;
	float: left;
}
}
#areamenu2{
	width: 100%;
	background:#D3EA12;
	height: 80px;
	float: left;
}
.hijo1menu2{
	width: 40%;
	height: 80px;
	background:#0D5D1C;
	float: left;
}
.hijo2menu2{
	width: 4%;
	height: 80px;
	background:#0D335D;
	float: left;
}
.hijo3menu2{
	width: 11%;
	height: 80px;
	background:#5E18D8;
	float: left;
}
.hijo4menu2{
	width:17%;
	height:80px;
	background:#C120B9;
	float: left;
}
.hijo5menu2{
	width:16%;
	height:80px;
	background:#DDEA73;
	float: left;
}
.hijo6menu2{
	width: 12%;
	height: 80px;
	background:#DA4714;
	float: left;
}
#secciona{
	width:100%;
	background:#DE3A12;
	height: 80%;
	float: left;
	margin-top: 5%;
}
.barrita{
	width: 100%;
	height: 5px;
	background: #0D335D;
	float:left;
}
.barrita2{
	width: 100%;
	height: 5px;
	background:#D3EA12;
	float:left;
}
.banner{
	width: 100%;
	height:300px;
	background:#FA1B1B;
	float:left;
}
.hijo1debanner{
	width: 45%;
	height:300px;
	background:#006D7C;
	float:left;
}
.ñieto1{
	width: 100%;
	height:80px;
	background:#B953E8;
	float:left;
	margin-left: 10%;
}
.ñieto2{
	width: 100%;
	height:20px;
	background:#E8352F;
	float:left;
	margin-left: 10%;
}
.ñieto3{
	width: 100%;
	height:100px;
	background:#FFC80E;
	float:left;
	margin-left: 10%;
}
.ñieto4{
	width: 100%;
	height:100px;
	background:#0EFFF8;
	float:left;
	margin-left: 10%;
}
.hijitodel4{
	width: 40%;
	height:100px;
	background:#D3EA12;
	float:left;
	margin-left: 60%;
}
.barritanegra{
	width: 100%;
	height: 5px;
	background:#000000;
	float:left;
}
.seccionb{
	width:100%;
	background:#0D355D;
	height: 160px;
	float: left;
}
.hijo1b{
	width:55%;
	background:#3D1FAD;
	height:30px;
	float: left;
}
.hijo2b{
	width:55%;
	background:#8066DE;
	height:75px;
	float: left;
}
.hijo3b{
	width:55%;
	background:#D3EA12;
	height:55px;
	float: left;
}
.hijitodel3b{
	width:20%;
	background:#DA4714;
	height:55px;
	float: left;
	margin-left: 80%;
}
.barritatop{
	width: 100%;
	height: 25px;
	background:#2B4EFF;
	float:left;
}
#seccion3{
	width: 100%;
	background: #ff7203;
	height: 440px;
	float: left;
}
.g{
	width: 25%;
	background: #8546f3;
	height: 420px;
	float: left;
	margin-left: 6.25%;
}
.g1{
	width: 100%;
	background:  #f001ff ;
	height: 175px;
	float: left;
}
.cuadro{
	width:100%;
	background:#EADF3F;
	height: 125px;
	float:left;
}
.cuadro2{
	width:100%;
	background:#971AAE;
	height: 50px;
	float:left;
}
.g2{
	width: 100%;
	background: #ff014a;
	height: 20px;
	float: left;
}
.g3{
	width: 100%;
	background: #01fff3;
	height: 175px;
	float: left;
}
.g4{
	width: 100%;
	background: #0180ff;
	height: 50px;
	float: left;
}
.gg1{
	width: 35%;
	background: #0701c4;
	height: 50px;
	float: left;
	margin-left: 65%;
}
.sobrenosotros{
	width: 100%;
	height: 150px;
	background: #0D335D;
	float:left;
}
.hijo1desobre{
	width: 30%;
	height: 150px;
	background:#2BFFBF;
	float:left;
}
.hijo2desobre{
	width: 35%;
	height: 150px;
	background:#71B015;
	float:left;
}
.hijo3desobre{
	width: 35%;
	height: 150px;
	background:#770808;
	float:left;
}
.hijo3desobre{
	width: 35%;
	height: 150px;
	background:#770808;
	float:left;
}
.nosotros1{
	width: 100%;
	height: 40px;
	background:#3DA615;
	float:left;
}
.nosotros2{
	width: 100%;
	height: 110px;
	background:#5976F8;
	float:left;
}
.nosotros3{
	width: 100%;
	height: 70px;
	background:#5976F8;
	float:left;
}
