@charset "utf-8";
body{
	background: #ffae00;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
#menu1{
	width:100%;
	background:#c3db51;
	height:45px;
	float:left;
}
.hijo1{
	width:10%;
	height:45px;
	background:#ff0404;
	float:left;
	margin-left:50%;
}
.hijo2{
	width:10%;
	height:45px;
	background:#06ffff;
	float:left;
}.hijo3{
	width:10%;
	height:45px;
	background:#062bff ;
	float:left;
}
.hijo4{
	width:10%;
	height:45px;
	background:#a406ff;
	float:left;
}
.hijo5{
	width:10%;
	height:45px;
	background:#ff065c;
	float:left;
}
#menu2{
width:100%;
background:#0b99ea;
height:45px;
float:left;
}
.hijo1menu2{
width:10%;
height:45px;
background:#0b55ea;
float:left;
margin-left:10%;
}
.hijo2menu2{
width:10%;
height:45px;
background:#960bea;
float:left;
}
.hijo3menu2{
width:10%;
height:45px;
background: #d3f404;
float:left;
}
.hijo4menu2{
width:10%;
height:45px;
background:#04f430;
float:left;
}
.hijo5menu2{
width:10%;
height:45px;
background:#04f4af;
float:left;
}
.hijo6menu2{
width:10%;
height:45px;
background:#2504f4;
float:left;
}
.hijo7menu2{
width:10%;
height:45px;
background:#961ea9;
float:left;
}
.hijo8menu2{
width:10%;
height:45px;
background:#850d0d;
float:left;
}