@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
#areamenu1{
	width: 100%;
	background:#D3EA12;
	height: 50px;
	float: left;
}
.hijo1{
	width: 60%;
	height: 50px;
	background: #629398;
	float: left;
}
.hijo2{
	width: 4%;
	height: 50px;
	background:#62C00A;
	float: left;
}
.hijo3{
	width: 12%;
	height: 50px;
	background:#D8A54B;
	float: left;
}
.hijo4{
	width: 9%;
	height: 50px;
	background:#1D69CA;
	float: left;
}
.hijo5{
	width: 11%;
	height: 50px;
	background:#399959;
	float: left;
}
.hijo6{
	width: 4%;
	height: 50px;
	background:#0D355D;
	float: left;
}
.hijo22{
	width: 100%;
	background:#D3EA12;
	height: 80px;
	float: left;
}
}
#areamenu2{
	width: 100%;
	background:#D3EA12;
	height: 80px;
	float: left;
}
.hijo1menu2{
	width: 40%;
	height: 80px;
	background:#0D5D1C;
	float: left;
}
.hijo2menu2{
	width: 4%;
	height: 80px;
	background:#0D335D;
	float: left;
}
.hijo3menu2{
	width: 11%;
	height: 80px;
	background:#5E18D8;
	float: left;
}
.hijo4menu2{
	width:17%;
	height:80px;
	background:#C120B9;
	float: left;
}
.hijo5menu2{
	width:16%;
	height:80px;
	background:#DDEA73;
	float: left;
}
.hijo6menu2{
	width: 12%;
	height: 80px;
	background:#DA4714;
	float: left;
}
.barrita{
	width: 100%;
	height: 5px;
	background: #0D335D;
	float:left;
}
.barrita2{
	width: 100%;
	height: 5px;
	background:#D3EA12;
	float:left;
}
.banner{
	width: 100%;
	height:300px;
	background:#FA1B1B;
	float:left;
}
.hijo1debanner{
	width: 50%;
	height:300px;
	background:#006D7C;
	float:left;
}
.ñieto1{
	width: 100%;
	height:100px;
	background:#B953E8;
	float:left;
}