@charset "utf-8";

body{
  background:white;
  font-family:calibri;
  margin:0;
  padding:0;
  color: black;
}
header{
background: #FF8F20;
  margin: 0;
  padding: 0;
  height: 35px;
  width: 100%;
  float: left;
}
#menu{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35px;
  float: left;
  background: #FF8F20;
}
header>#menu>.camarita{
width: 3%;
float: left;
border-right: 1px solid white;
height:35px;
}
header>#menu>.principal{
width: 96%;
height: 35px;
float: left;
}
header>#menu>.camarita>.camara{
  width: 33px;
  height: 22px;
  background: url('../img/icono_logo.png');
  display: block;
  margin:8px;
}
header>#menu>.principal>#principalesbotones{
  height: 35px;
  width: 100%;
  padding: 0;
  margin: 0;
  float: left;
  border-right: 0px solid white;
}
header>#menu>.principal>#principalesbotones>li{
  display: block;
  float: left;
  font-size: 10pt;
  text-align: center;
  padding-top: 7%;
  width: 12%;
  height: 28px;
  border-right:1px solid white
}
header>#menu>.principal>#principalesbotones>li>a{
  text-decoration: none;
  font-size: 10pt;
  color: white;
  text-align: center;
}
header>#menu>.principal>#principalesbotones>li:hover{
    background:orange;
}
section>#articulo1{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 498px;
  float: left;
}
#banner{
  margin: 0;
  padding: 0;
  background: url('../img/crecimiento2.png');
  width: 1404px;
  height: 498px;
  float: left;
  display: block;
}
#banner>.hombre{
  width: 45%;
  height: 498px;
  float: left;
}
#banner>div:first-child>.img1{
  background: url('../img/persona.png');
  width: 567px;
  height: 498px;
  float: left;
}

#banner>.txt{
  width: 55%;
  height: 674px;
  float: left;
}
#banner>div:nth-child(2)>h1{
  margin: 0;
  padding: 0;
  margin-top: 50px;
  font-size: 30pt;
  font-weight: bold;
  text-align: left;
  color: #DA6C00;
}
#banner>div:nth-child(2)>p{
  margin: 0;
  padding: 0;
  margin-top: 40px;
  font-size: 18pt;
  color: #000134;
  line-height: 32pt;
  font-weight: lighter;
  text-align: left;
}
#banner>div:last-child>button{
  float: left;
  display: block;
  height:50px;
  width: 22%;
  border-radius:4px;
  border: 1px solid #FF8000;
  margin-top: 43px;
  text-align: center;
  font-size: 11pt;
  color: #FF8E1E;
  background: white;
  margin-left: 3%;
}
#banner>div:last-child>button:hover{
  background: #FF8000;
  color: white;
}
#seccion2{
  width: 100%;
  height: 900px;
  float: left;
  background: white;
  margin-top: 35px;
}
article>#seccion2>.area1de4cajas{
  width: 100%;
  height: 400px;
  background: white;
}
article>#seccion2>.area1de4cajas>.cuadro1{
  width: 23.7%;
  height: 380px;
  background: #EEEEEE;
  margin-top: 10px;
  float: left;
  margin-left: 1%;
}
article>#seccion2>.area1de4cajas>.cuadro1>.caja1>.img2{
  background: url('../img/icono1.png');
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 12%;
}
article>#seccion2>.area1de4cajas>.cuadro1>.caja1>.texto2{
  width: 58%;
  margin-left: 10%;
  margin-right: 5%;
  float: left;
}
article>#seccion2>.area1de4cajas>.cuadro1>.caja1>.texto3{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 18px;
  line-height: 17pt;
  float: left;
}
article>#seccion2>.area1de4cajas>.cuadro1>.caja1>.img3{
  background: url('../img/icono2.png');
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 12%;
}

article>#seccion2>.area1de4cajas>.cuadro1>.caja1>.img4{
  background: url('../img/icono3.png');
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 12%;
}

article>#seccion2>.area1de4cajas>.cuadro1>.caja1>.img5{
  background: url('../img/icono4.png');
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 12%;
}