@charset "utf-8";
body{
	background: #ffae00;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
#menu1{
	width: 100%;
	background: #c3db51;
	height: 60px;
	float: left;
}
.child1{
	width: 55%;
	height: 60px;
	background: #629398;
	float: left;
}