@charset "utf-8";
body{
  background:#E7E7E7;
  font-family:arial;
  margin:0;
  padding:0;
  color: black;
}
.contenedor{
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
    background: white;
}
header{
background:#FEBF81;
  margin:0;
  padding:0;
  height: 300px;
  width: 100%;
  float: left;
display: block;
}
.cl1{
	width: 30%;
    height: 300px;
    float: left;
}
.img1{
  height: 275px;
  width: 274px;
  background: url('../img/logo-header.png');
  margin: 0;
  display: block;
}
.cl2{
	width: 70%;
    height: 300px;
    float: left;
}
#bannermenu>.cl2>div>h3{
  margin: 0;
  padding: 0;
  color: #754822;
  font-size: 60pt;
  text-align: left;
  font-family: calibri;
  font-weight: bold;
  margin-top: 100px;
}
#bannermenu>.cl2>div>p{
  margin: 0;
  margin-left: 500px;
  padding: 0;
  color: black;
  font-size: 20pt;
  text-align: left;
  font-family: calibri;
  font-weight:lighter;
}
#bannerbanner{
  background:#ffffff ;
  width: 100%;
  height: 250px;
  float: left;
}
#bannerbanner>.cl3>div>h1{
  margin-left:70px;
  color:black;
  font-size: 20pt;
  text-align: left;
  font-family: calibri;
  font-weight: bold;
  margin-top: 30px;
  letter-spacing: 3px
}
#bannerbanner>.cl3>div>p{
  margin-left:70px;
  color:black;
  font-size: 15pt;
  text-align: left;
  font-family: calibri;
  font-weight: lighter;
  margin-right: 70px;
}
#bannerbanner>.cl3>div>.cl3-2{
  margin-left:70px;
  color:black;
  font-size: 15pt;
  text-align: left;
  font-family: calibri;
  font-weight: lighter;
  margin-right: 70px;
}
.cl4{
  width: 100%;
  height: 155px;
  background: red;
  float: left;
}
.img2{
    height: 155px;
  width: 263px;
  background: url('../img/img1.png');
  margin: 0;
  display: block;
}
.cl5{
  width: 17%;
  height: 155px;
  background: blue;
  float: left;
}
#disco>.cl4>div>h2{
  margin-left:70px;
  color:black;
  font-size: 15pt;
  text-align: left;
  font-family: calibri;
  font-weight: lighter;
  margin-right: 70px;
}
#disco>.cl4>div>p{
  margin-left:70px;
  color:black;
  font-size: 15pt;
  text-align: left;
  font-family: calibri;
  font-weight: lighter;
  margin-right: 70px;
}

