@charset "utf-8";
body{
  background:#E7E7E7;
  font-family:arial;
  margin:0;
  padding:0;
  color: black;
}
.contenedor{
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
    background: white;
}
header{
background:#FEBF81;
  margin:0;
  padding:0;
  height: 300px;
  width: 100%;
  float: left;
display: block;
}
.cl1{
	width: 30%;
    height: 300px;
    float: left;
}
.img1{
  height: 275px;
  width: 274px;
  background: url('../img/logo-header.png');
  margin: 0;
  display: block;
}
.cl2{
	width: 70%;
    height: 300px;
    float: left;
}
#BannerMenu>.cl2>div>h3{
  margin: 0;
  padding: 0;
  color: #754822;
  font-size: 60pt;
  text-align: left;
  font-family: calibri;
  font-weight: bold;
  margin-top: 100px;
}
#BannerMenu>.cl2>div>p{
  margin: 0;
  margin-left: 500px;
  padding: 0;
  color: black;
  font-size: 20pt;
  text-align: left;
  font-family: calibri;
  font-weight:lighter;
}