@charset "utf-8";
body{
	background: #ffae00;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
#menu1{
	width:100%;
	background:#c3db51;
	height:125px;
	float:left;
}
.menus{
	width: 100%;
	height: 45px;
	float: left;
}
.hijo1{
	width:6%;
	height:45px;
	background:#ff0404;
	float:left;
	margin-left:49%;
}
.hijo2{
	width:18%;
	height:45px;
	background:#06ffff;
	float:left;
}.hijo3{
	width:11%;
	height:45px;
	background:#062bff ;
	float:left;
}
.hijo4{
	width:6%;
	height:45px;
	background:#092d56;
	float:left;
}
.hijo5{
	width:10%;
	height:45px;
	background:#ff065c;
	float:left;
}
#menu2{
width:100%;
background:#0b99ea;
height:80px;
float:left;
}
.hijo1menu2{
width:15%;
height:80px;
background:#1e0956;
float:left;
}
.logo{
width:30%;
height:80px;
background:#0b55ea;
float:left;
}
.hijo2menu2{
width:6%;
height:80px;
background:#960bea;
float:left;
}
.hijo3menu2{
width:8%;
height:80px;
background: #d3f404;
float:left;
}
.hijo4menu2{
width:13%;
height:80px;
background:#04f430;
float:left;
}
.hijo5menu2{
width:7%;
height:80px;
background:#04f4af;
float:left;
}
.hijo6menu2{
width:2%;
height:80px;
background:#2504f4;
float:left;
}
.hijo7menu2{
width:6%;
height:80px;
background:#961ea9;
float:left;
}
.hijo8menu2{
width:13%;
height:80px;
background:#850d0d;
float:left;
}
.bannerpadre{
width:100%;
background:#46bb0c;
height:400px;
float:left;
}
.hijo1bannerpadre{
width:50%;
background:#0cb9bb;
height:400px;
float:left;
}
.hijo1bannerpadre{
width:50%;
background:#0cb9bb;
height:400px;
float:left;
}
.hijobanner1{
width:100%;
background:#930cbb;
height:80px;
float:left;
}
.hijobanner2{
width:100%;
background:#d91728;
height:120px;
float:left;
}
.hijobanner3{
width:100%;
background:#d97517;
height:130px;
float:left;
}
.hijobanner4{
width:100%;
background:#0068ff;
height:70px;
float:left;
}
.more{
width:20%;
background: #ff0909;
height:70px;
float:left;	
margin-left: 80%;
}
.hijo2bannerpadre{
width:50%;
background:#418fff;
height:400px;
float:left;
}
.pez{
width:100%;
background:#0f4d71;
height:200px;
float:left;
}
.areaA{
width:100%;
background: #710f5c;
height:220px;
float:left;
}
.area1{
width:33.33%;
background:#fbff00;
height:220px;
float:left;
} 
.area2{
width:33.33%;
background:#ff0000;
height:220px;
float:left;
}
.area3{
width:33.33%;
background: #ff00d8;
height:220px;
float:left;
}
.hijodearea21{
width:100%;
background:#41cc17;
height:50px;
float:left;
}
.hijodearea22{
width:100%;
background:#5ff096;
height:120px;
float:left;
}
.hijodearea23{
width:100%;
background:#d8f05f;
height:50px;
float:left;
}
.hijodearea31{
width:100%;
background:#5f7af0;
height:50px;
float:left;
}
.hijodearea32{
width:100%;
background:#7525db;
height:120px;
float:left;
}
.hijodearea33{
width:100%;
background: #27b20e;
height:50px;
float:left;
}

