@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
#menu{
	width: 100%;
	background: #c3db51;
	height: 60px;
	float: left;
}
.child1{
	width: 55%;
	height: 60px;
	background: #629398;
	float: left;
}
.a{
	width: 45%;
	float: left;
	height: 60px;
	background: #3aa930;
}
.b{
	width: 55%;
	float: left;
	height: 60px;
	background: #b8de35;
}
.child2{
	width: 45%;
	float: left;
	background: #e89ec1
	height: 60px;
}

.c{
	width: 27%;
	float: left;
	height: 60px;
	background: #da9f75;
}
.d{
	width: 19%;
	float: left;
	height: 60px;
	background: #d6a238;
}
.e{
	width: 27%;
	float: left;
	height: 60px;
	background: #859e77;
}
.f{
	width: 27%;
	float: left;
	height: 60px;
	background: #cbb442;
}
.banner{
	width: 100%;
	background: #33fff6;
	height: 350px;
	float: left;
}
.banner2{
	width: 100%;
	background: #ffd433;
	height: 15px;
	float: left;
}
#seccion3{
	width: 100%;
	background: #ff7203;
	height: 400px;
	float: left;
}
.g{
	width: 25%;
	background: #8546f3;
	height: 400px;
	float: left;
	margin-left: 6.25%;
}
.g1{
	width: 100%;
	background:  #f001ff ;
	height: 200px;
	float: left;
}
.g2{
	width: 100%;
	background: #ff014a;
	height: 20px;
	float: left;
}
.g3{
	width: 100%;
	background: #01fff3;
	height: 130px;
	float: left;
}
.g4{
	width: 100%;
	background: #0180ff;
	height: 50px;
	float: left;
}
.gg1{
	width: 35%;
	background: #0701c4;
	height: 50px;
	float: left;
	margin-left: 33.3%;
}
#seccion4{
	width: 100%;
	background: #01c40d ;
	height: 350px;
	float: left;
}
.h1{
	width: 50%;
	background: #C70039;
	height: 350px;
	float: left;
}
.h2{
width: 50%;
	background: #01c4c1;
	height: 350px;
	float: left;
}
.hh1{
	width: 100%;
	background:  #28f3a9;
	height: 70px;
	float: left;
}
.hh2{
	width: 100%;
	background:  #6c77ff;
	height: 70px;
	float: left;
}
.hhh1{
	width: 50%;
	background: #ff9b00;
	height: 70px;
	float: left;
}
.hhh2{
	width: 50%;
	background: #1700ff;
	height: 70px;
	float: left;
}
.hh3{
	width: 100%;
	background: #f8ff6c;
	height: 70px;
	float: left;
}
.hh4{
	width: 100%;
	background: #00e4ff;
	height: 60px;
	float: left;
}
.hhh4{
	width: 25%;
	background: #fb00ff;
	height: 60px;
	float: left;
	margin-left: 38%;
}
.hh5{
	width: 100%;
	background: #fc97fe;
	height: 80px;
	float: left;
}
#seccion5{
    width: 100%;
	background:  #ffd100;
	height: 400px;
	float: left;	
}
.i1{
	width: 50%;
	background:   #009bff;
	height: 400px;
	float: left;
}
.ii1{
	width: 100%;
	background: #f8ff6c;
	height: 355px;
	float: left;
}
.iii1{
	width: 40%;
	background:   #610985;
	height: 70px;
	float: left;
	margin-left:0.5%;
	margin-top: 10%;
}
.iii2{
	width: 58.8%;
	background:   #610985;
	height: 70px;
	float: left;
	margin-left:0.5%;
	margin-top: 10%;
}
.iii3{
	width: 40%;
	background:   #610985;
	height: 70px;
	float: left;
	margin-left:0.5%;
	margin-top: 0.5%;
}
.iii4{
	width: 58.8%;
	background:   #610985;
	height: 70px;
	float: left;
	margin-left:0.5%;
	margin-top: 0.5%;
}
.iii5{
	width: 40%;
	background:   #610985;
	height: 100px;
	float: left;
	margin-left:0.5%;
	margin-top: 1.5%;
}
.iii6{
	width: 58.8%;
	background:   #610985;
	height: 100px;
	float: left;
	margin-left:0.5%;
	margin-top: 1.5%;
}
.ik2{
	width: 50%;
	background: #bd1de4;
	height: 420px;
	float: left;
}

.i2{
	width: 50%;
	background: #bd1de4;
	height: 400px;
	float: left;
}
.ii2{
	width: 200%;
	height: 70px;
	background: #E1558A;
	float: left;
	margin-top: 17%;
}
.ii3{
	width: 200%;
	height: 80px;
	background: #E1558A;
	float: left;
	margin-top: 12%;
}
.iii{
	width: 25%;
	height: 80px;
	background:#F8FAA7;
	float: left;
	margin-left: 55%
}
#seccion6{
	width: 100%;
	height: 300px;
	background:#0023FF;
	float: left;
}
.j{
	width: 35%;
	height: 300px;
	background:#74F54A;
	float: left;
}
.j1{
	width: 98%;
	height: 300px;
	background:#F72033;
	float: left;
}
.j2{
	width: 65%;
	height: 130px;
	background:#FF5733;
	float: left;
}	
.jj1{
	width: 28%;
	height: 50px;
	background:#00CDFF;
	float: left;
	margin-left: 22%;
}
.jj2{
	width: 15%;
	height: 50px;
	background:#00CDFF;
	float: left;
	margin-left: 0.5%;
}
.jj3{
	width: 15%;
	height: 50px;
	background:#00CDFF;
	float: left;
	margin-left: 0.5%;
}
.jj4{
	width: 15%;
	height: 50px;
	background:#00CDFF;
	float: left;
	margin-left: 1%;
}