@charset "utf-8";

body{
  background:white;
  font-family:arial;
  margin:0;
  padding:0;
  color: black;
}
header{
background: black;
  margin: 0;
  padding: 0;
  height: 35px;
  width: 100%;
  float: left;
}
#menu{
 width: 100%;
  height: 50px;
  float: left;
  margin: 0;
  padding: 0;
   margin-left: 5%;
}
#menu>li{
  width: 8%;
  height: 25px;
  display: block;
  float: left;
  text-align: center;
  border-right: 1px solid  #1a71b5;
  padding-top: 10px;
}
#menu>li>a{
  text-decoration:none;
  color: blanchedalmond;
  text-align: center; 
}
#menu>li:hover{
  background: yellow;

}
#menu>li>a:hover{
  color: black;
}
.texto{
  width: 60%;
  height:100px;
}
.mujer{
  width: 40%;
  height: 100px;
  float: right;
  margin: 0;
  padding: 0;
}
article>.img1{
  height: 674px;
  width: 1404px;
  background: url('../img/crecimiento2.png');
  margin: auto;
  display: block;
  float: left;
}
section>article>div>div>button{
  width: 17%;
  height: 40px;
  border-radius: 5px;
  border:1px solid #843893;
  float: right;
  text-align: center;
  font-size: 11pt;
  color: #843893;
  background: white;
  margin-left: 5%;
}
section>article>div>div>h2{
 margin: 0;
  padding: 0;
 letter-spacing: 2px;
  color: purple;
  font-size: 35pt;
  text-align: left;
  font-family: calibri;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 100px;
  background: :  #7617d5;
}
section>article>div>div>p{
 letter-spacing: 2px;
  color: black;
  font-size: 15pt;
  text-align: left;
  font-family: calibri;
  font-weight: lighter;
  margin-top: 10px;
  margin-left: 100px;

}
.img2{
  height: 498px;
  width: 567px;
  background: url('../img/persona3.png');
  margin: auto;
  display: block;
  float: right;
}

section>article>div>h2{
   margin: 0;
  padding: 0;
 letter-spacing: 2px;
  color: purple;
  font-size: 26pt;
  text-align: left;
  font-family: calibri;
  font-weight: bold;
  margin-top: 100px;
}
section>article>div>p{
  letter-spacing: 2px;
  color: black;
  font-family: calibri;
  font-weight: lighter;
  font-size: 16pt;
  margin: 0;
  padding: 0;
  text-align: left;
}
#art2{
  width: 100%;
  margin-bottom: 40px;
  margin-top: 30px;
  height: 250px;
  float: left;
  background:  #e7e7e7;
}
#art2>div:first-child{
  margin-left: 5%;
  width: 27%;
  height: 250px;
  float: left;
}
#art2>div>.cl3{
  width: 30%;
  height: 250px;
  float: left;
}
#art2>div>.cl4{
  width: 70%;
  height: 250px;
  float: left;
}
#art2>div>.cl3>.img3{
  width: 100px;
  height: 100px;
 background: url('../img/icono5.png');
  margin: auto;
  display: block;
  margin-top: 15px;
}
#art2>div>.cl3>.img4{
  width: 100px;
  height: 100px;
 background: url('../img/icono6.png');
  margin: auto;
  display: block;
  margin-top: 15px;
}
#art2>div>.cl3>.img5{
  width: 100px;
  height: 100px;
 background: url('../img/icono7.png');
  margin: auto;
  display: block;
  margin-top: 15px;
}
#art2>div:nth-child(2){
  margin-left: 5%;
  width: 27%;
  height: 250px;
  float: left;
}
#art2>div:last-child{
  margin-left: 5%;
  width: 27%;
  height: 250px;
  float: left;
}
article>div>div>h2{
  margin: 0;
  padding: 0;
 letter-spacing: 2px;
  color: black;
  font-size: 26pt;
  text-align: right;
  font-family: calibri;
  font-weight: bold;
  margin-top: 100px;
}
.art3{
  width: 100%;
  margin-bottom: 40px;
  margin-top: 30px;
  height: 250px;
  float: left;
  background:  #e7e7e7;
}
#art3>div:first-child{
  margin-left: 5%;
  width: 27%;
  height: 250px;
  float: left;
}
#art3>div>.cl5{
  width: 30%;
  height: 250px;
  float: left;
}
#art3>div>.cl4{
  width: 70%;
  height: 250px;
  float: left;
  }
  #art3>div>.cl3>.img6{
  width: 100px;
  height: 100px;
 background: url('../img/icono5.png');
  margin: auto;
  display: block;
  margin-top: 15px;
}
footer>div{
  background: purple;
  height: 120px;
  width: 100%;
float: left;
}

footer>div>p{
    text-align: center;
  font-size: 12pt;
  font-family: arial;
  color: white;
}footer>div>div>p{
    text-align: center;
  font-size: 12pt;
  font-family: arial;
  color: white;
}
