@charset "utf-8";

body{
  background: #E7E7E7;
  margin: 0;
  padding: 0;
  font-family: calibri;
}
.contenedor{
  display: block;
  margin: auto;
  width: 40%;
  height: auto;
  background: white;
  min-height: 60px;
}

header{
  background: #FEBF81;
  height: 330px;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.cl1{
  width: 30%;
    height: 300px;
    float: left;
}
 .img1{
  background: url('../img/logo-header.png');
  width:275px;
  height: 274px;
  margin-left;
  display:block; 
 }
 
.cl2{
  width: 70%;
    height: 300px;
    float: left;
}
header>div:last-child>h3{
  color: #211203;
  font-size: 32pt;
  text-align: left;
  font-weight: bold;
  font-family: arial black;
  margin: 0;
  padding: 0;
  margin-top: 120px;
}
header>div:last-child>p{
  color: #211203;
  font-size: 18pt;
  text-align: left;
  font-weight: lighter;
  font-family: calibri;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  margin-top: 4px;
  margin-left: 38%;
}
article{
  width: 100%;
  float: left;
  border-bottom: 2px solid #A5A5A5;
  background: white;
  height: auto;
}
.cl3{
  width: 100%
  height:auto;
  float: left;
}

section > article:first-child >div> h1{
    color: black;
  font-size: 23pt;
  text-align: left;
  font-weight: bold;
    margin-top: 22px;
  margin-left: 55%;
  letter-spacing: 2.3px;
  font-family: calibri;
  margin: 0;
  padding: 0;
}

section > article:first-child >div> p{
    color: black;
  font-size: 14pt;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-left: 6%;
  letter-spacing: 2.3px;
  margin-bottom: 35px;
  text-align: left;
  font-weight: normal;
  font-family: calibri;
}