@charset "utf-8";

body{
	background: #A8F7FF;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0%;
	
}

#encabezado{
	width: 100%;
	background: #FFF7FF;
	height: 100px;
	float: left;
	
}

.contacto{
	width: 100%;
	height: 35px;	
	background: #FFFFE5;
	float: left;
}

.num{
	width:  20%;
	height: 65px;	
	background: #B94AE8;
	float: left;
	margin-left: 56%
}


.our{
	width:  10%;
	height: 65px;	
	background: #B987E8;
	float: left;
	
}

.more{
	width:  8%;
	height: 65px;	
	background: #BFA8E8;
	float: left;
	
}

.sign{
	width:  6%;
	height: 65px;	
	background: #E0C5E8;
	float: left;
	
}

.menu{
	width: 100%;
	height: 65px;	
	background: #000302;
	float: left;
}

.logo{
	width: 20%;
	height: 65px;	
	background: #1AC978;
	float: left;
}

.datos{
	width: 80%;
	height: 65px;	
	background: #90A5A7;
	float: left;
}

.d1{
	width: 8%;
	height: 65px;	
	background: #55ADC9;
	float: left;
	margin-left: 26%;
}

.d2{
	width: 10%;
	height: 65px;	
	background: #95ADC9;
	float: left;
}

.d3{
	width: 10%;
	height: 65px;	
	background: #CAADC9;
	float: left;
}

.d4{
	width: 12%;
	height: 65px;	
	background: #EBE0EA;
	float: left;
}

.d5{
	width: 6%;
	height: 65px;	
	background: #EBE0A0;
	float: left;
}

.d6{
	width: 15%;
	height: 65px;	
	background: #EBE067;
	float: left;
}

.d7{
	width: 13%;
	height: 65px;	
	background: #8DCA5D;
	float: left;
}

#carrusel{
	width: 100%;
	background: #C03DE8;
	height: 700px;
	float: left;
	
}

.know{
	width: 55%;
	height: 700px;	
	background: #A86355;
	float: left;
}

.ventana{
	width: 100%;
	height: 350px;	
	background: #B8E1D2;
	float: left;
	margin-top: 3%
}

.ven1{
	width: 100%;
	height: 50px;	
	background: #74E128;
	float: left;
	margin-top: 3%
}

.ven2{
	width: 100%;
	height: 280px;	
	background: #89E17B;
	float: left;
	
}

.ven3{
	width: 100%;
	height: 50px;	
	background: #89E1DA;
	float: left;
	
}


.ven3a{
	width: 15%;
	height: 50px;	
	background: #1A2AC9;
	float: right;
	
}

#lorem{
	width: 100%;
	background: #F0DFA7;
	height: 350px;
	float: left;
	
}

.foto{
	width: 40%;
	height: 350px;	
	background: #B8B4A7;
	float: left;
}

.letra{
	width: 60%;
	height: 350px;	
	background: #F0DFA7;
	float: left;
}

.letra1{
	width: 50%;
	height: 350px;	
	background: #C2B0E4;
	float: left;
}

.let1{
	width: 100%;
	height: 50px;	
	background: #8DCA78;
	float: left;
	
}

.let1a{
	width: 25%;
	height: 50px;	
	background: #2458D6;
	float: left;
	
}


.let2{
	width: 100%;
	height: 250px;	
	background: #72A391;
	float: left;
	
}
.let3{
	width: 100%;
	height: 50px;	
	background: #95D6BF;
	float: left;
	
}

.let3a{
	width: 20%;
	height: 50px;	
	background: #2458D6;
	float: right;
	
}

.letra2{
	width: 50%;
	height: 350px;	
	background: #807496;
	float: left;
}


#eternity{
	width: 100%;
	background: #A86355;
	height: 650px;
	float: left;
	
}

.et1{
	width: 30%;
	height: 600px;	
	background: #F0DFD2;
	float: left;
	margin-top: 1%;
	margin-left: 1%;
}

.et2{
	width: 67%;
	height: 290px;	
	background: #F0DFD2;
	float: left;
	margin-top: 1%;
	margin-left: 1%;
}

.et3{
	width: 67%;
	height: 290px;	
	background: #F0DFD2;
	float: left;
	margin-top: 1%;
	margin-left: 1%;
}


#debajo{
	width: 100%;
	background: #C18265;
	height: 20px;
	float: left;
	
}

#redes{
	width: 100%;
	background: #41B0E8;
	height: 350px;
	float: left;
	
}

.redes1{
	width: 55%;
	height: 350px;	
	background: #2458D6;
	float: left;

}

.redes2{
	width: 45%;
	height: 350px;	
	background: #2492D6;
	float: left;

}

#imagenes{
	width: 100%;
	background: #C18265;
	height: 350px;
	float: left;
	
}

.im1{
	width: 33.3%;
	height: 350px;	
	background: #B152C9;
	float: left;
	
}

.im2{
	width: 33.3%;
	height: 350px;	
	background: #F0D4BA;
	float: left;
}

.im3{
	width: 33.3%;
	height: 350px;	
	background: #E89B88;
	float: left;
	
}

#info{
	width: 100%;
	background: #A8E8D8;
	height: 650px;
	float: left;
	
}

.info1{
	width: 40%;
	height: 650px;	
	background: #B8C9A7;
	float: left;
	
}

.info2{
	width: 30%;
	height: 650px;	
	background: #A892D6;
	float: left;
	
}

#pie{
	width: 100%;
	background: #140B78;
	height: 200px;
	float: left;
	
}


.pie1{
	width: 35%;
	height: 200px;	
	background: #1A33C9;
	float: left;
	
}

.pie2{
	width: 65%;
	height: 200px;	
	background: #1A7FC9;
	float: left;
	
}
