@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #c3db51;
	height: 60px;
	float: left;
	
}

.child1{
	width: 55%;
	height: 60px;	
	background: #FF4C4C;
	float: left;
}

.child2{
	width: 44.9%;
	float: left;
	background: #e89ec1;
    height: 60px;
}

.a{
	width: 45%;
	float:left;
	height: 60px;
	background: #3aa930;
}

.b{
	width: 55%;
	float:left;
	height: 60px;
	background: #43B27B;
}

.c{
	width: 27%;
	float:left;
	height: 60px;
	background: #da9f75;
}

.d{
	width: 19%;
	float:left;
	height: 60px;
	background: #93FFC9;
}

.e{
	width: 27%;
	float:left;
	height: 60px;
	background: #8744B2;
}

.f{
	width: 27%;
	float:left;
	height: 60px;
	background: #B255A7;
}


#carrusel{
	width: 100%;
	background: #00E9D5;
	height: 500px;
	float: left;
}

.g{  
	width: 100%;
	float:left;
	height: 492px;
	background: #D9A553;

}

#apartado1{
	width: 100%;
	background: #B0F8FF;
	height: 500px;
	float: left;
}

.child3{
	width: 27%;
	height: 500px;	
	background: #E8B35A;
	float: right;
	margin-right: 60px;
}

.child4{
	width: 27%;
	height: 500px;	
	background: #E8B35A;
	float: right;
	margin-right: 67px;
}

.child5{
	width: 27%;
	height: 500px;	
	background: #E8B35A;
	float: left;
	margin-left:60px;
}

.c1{
	width: 100%;
	float:left;
	height: 250px;
	background: #A35E3E;
}

.c2{
	width: 100%;
	float:left;
	height: 250px;
	background: #A35E3E;
}

.c3{
	width: 100%;
	float:left;
	height: 250px;
	background: #A35E3E;
}

.c1a{
	width: 100%;
	float:left;
	height: 250px;
	background: #C2E839;
}

.c2a{
	width: 100%;
	float:left;
	height: 250px;
	background: #C2E839;
}

.c3a{
	width: 100%;
	float:left;
	height: 250px;
	background: #C2E839;
}

.c1aa{
	width: 100%;
	float:left;
	height: 45px;
	background: #33B9C2;
}

.c1ab{
	width: 100%;
	float:left;
	height: 138px;
	background: #FFDE8B;
}

.c1ac{
	width: 100%;
	float:left;
	height: 66px;
	background: #FF4BFD;
}

.c2aa{
	width: 100%;
	float:left;
	height: 45px;
	background: #33B9C2;
}

.c2ab{
	width: 100%;
	float:left;
	height: 138px;
	background: #FFDE8B;
}

.c2ac{
	width: 100%;
	float:left;
	height: 66px;
	background: #FF4BFD;
}

.c3aa{
	width: 100%;
	float:left;
	height: 45px;
	background: #33B9C2;
}

.c3ab{
	width: 100%;
	float:left;
	height: 138px;
	background: #FFDE8B;
}

.c3ac{
	width: 100%;
	float:left;
	height: 66px;
	background: #FF4BFD;
}

.c1ac1{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #33C2A0;
}

.c1ac2{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #F08D83;
}

.c1ac3{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #33C2A0;
}

.c2ac1{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #33C2A0;
}

.c2ac2{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #F08D83;
}

.c2ac3{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #33C2A0;
}

.c3ac1{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #33C2A0;
}

.c3ac2{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #F08D83;
}

.c3ac3{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #33C2A0;
}

#apartado2{
	width: 100%;
	background: #FFE9D5;
	height: 400px;
	float: left;
}

.child6{
	width: 50%;
	height: 400px;	
	background: #DEB73A;
	float: left;
}

.child7{
	width: 50%;
	height: 400px;	
	background: #DEA23A;
	float: right;
}


.ch6a{
	width: 100%;
	float:left;
	height: 400px;
	background: #E85939;
	
}

.ch7a{
	width: 100%;
	float:left;
	height: 70px;
	background: #009EE9;
	margin-top: 57px;
}

.ch7b{
	width: 100%;
	float:left;
	height: 70px;
	background: #00E9A4;
}

.ch7c{
	width: 100%;
	float:left;
	height: 70px;
	background: #C4E9A4;
}

.ch7a1{
	width: 45%;
	float:left;
	height: 70px;
	background: #5E2406;	
}

.ch7a2{
	width: 55%;
	float:left;
	height: 70px;
	background: #C74C0D;	
}

.ch7b1{
	width: 35%;
	float:left;
	height: 70px;
	background: #1189DE;	
}

.ch7b2{
	width: 25%;
	float:left;
	height: 70px;
	background: #9789DE;	
}

.ch7b3{
	width: 40%;
	float:left;
	height: 70px;
	background: #E289DE;	
}

#apartado3{
	width: 100%;
	background: #F5D8DC;
	height: 500px;
	float: left;
}

.child8{
	width: 60%;
	height: 500px;	
	background: #FFC263;
	float: left;	
}

.child9{
	width: 40%;
	height: 500px;	
	background: #FFB999;
	float: left;

}

.ch81{
	width: 100%;
	float:left;
	height: 80px;
	background: #E00CE8;
			
}

.ch82{
	width: 44%;
	float:left;
	height: 350px;
	background: #A7FF63;
	margin-left:3% #FFC263;
	margin-top: 3%  #FFC263;
	margin-bottom: 3%  #FFC263;
	margin-right: 3% #FFC263;
				
}

.ch82a{
	width: 100%;
	float:left;
	height: 80px;
	background: #44FF99;
	border-left:1px  solid #FFC263;
	border-right: 8px  solid  #FFC263;
	border-top: 3px solid #FFC263;
	border-bottom: 2px  solid #FFC263;
				
}

.ch82b{
	width: 100%;
	float:left;
	height: 80px;
	background: #44FF99;
	border-left:1px  solid #FFC263;
	border-right: 8px  solid #FFC263;
	border-top: 1px  solid #FFC263;
	border-bottom: 6px  solid #FFC263;
				
}

.ch82c{
	width: 100%;
	float:left;
	height: 175px;
	background: #44FF99;
	border-left:1px  solid #FFC263;
	border-right: 8px  solid #FFC263;
	border-top: 6px  solid #FFC263;
					
}

.ch83{
	width: 54%;
	float:right;
	height: 350px;
	background: #A7FF63;
	border-left:1px  solid #FFC263;
	border-top: 2px  solid #FFC263;
	border-right: 1px solid #FFC263;
	border-bottom: 2px  solid #FFC263;
				
}


.ch83a{
	width: 100%;
	float:left;
	height: 80px;
	background: #44FF99;
	border-right: 4px  solid #FFC263;
	border-top: 1px  solid #FFC263;
	border-bottom: 2px  solid #FFC263;
				
}

.ch83b{
	width: 100%;
	float:left;
	height: 80px;
	background: #44FF99;
	border-right: 4px  solid #FFC263;
	border-top: 1px  solid #FFC263;
	border-bottom: 6px  solid #FFC263;
				
}

.ch83c{
	width: 100%;
	float:left;
	height: 175px;
	background: #44FF99;
	border-right: 4px  solid #FFC263;
	border-top: 6px  solid #FFC263;
					
}


.ch84{
	width: 100%;
	float:left;
	height: 67px;
	background: #FFFF99;			
}

.ch91{
	width: 100%;
	float:left;
	height: 80px;
	background: #A14E04;
	margin-top: 82px;			
}

.ch92{
	width: 100%;
	float:left;
	height: 80px;
	background: #A14E04;
	margin-top: 50px;			
}

.ch92a{
	width: 25%;
	float:right;
	height: 80px;
	background: #E3A96E;
	margin-right: 80px;			
}

#fin{
	width: 100%;
	background: #F5D8DC;
	height: 150px;
	float: left;
}

.child10{
	width: 30%;
	height: 150px;	
	background: #8A49E3;
	float: left;	
}

.child11{
	width: 69.7%;
	height: 150px;	
	background: #2993E3;
	float: right;	
}

.ch11a{
	width: 100%;
	float:right;
	height: 73px;
	background: #4CD9E3;
			
}

.c11{
	width: 100%;
	float:right;
	height: 40px;
	background: #4CD9E3;
			
}

.ch11a1{
	width: 23%;
	float:left;
	height: 40px;
	background: #215BC4;
	border-right: 2px solid #8A49E3;
	margin-left: 18%;
			
}

.ch11a2{
	width: 15%;
	float:left;
	height: 40px;
	background: #215BC4;
	border-right: 2px solid #8A49E3;			
}

.ch11a3{
	width: 20%;
	float:left;
	height: 40px;
	background: #215BC4;
	border-right: 	2px solid #8A49E3;		
}

.ch11a4{
	width: 20%;
	float:left;
	height: 40px;
	background: #215BC4;
	border-right: 	2px solid #8A49E3;
}



/*Ejercicio 2 Beatriz*/

body{
	background: #26E8C8;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#contactos{
	width: 100%;
	background: #DEAA66;
	height: 120px;
	float: left;
}

.hijo1{
	width: 100%;
	float:left;
	height: 45px;
	background: #8355FF;
}


.solo{
	width: 65%;
	float:left;
	height: 45px;
	background: #D40CE8;
}

.datos{
	width: 35%;
	float:left;
	height: 45px;
	background: #7253FA;
}

#primeraimagen{
	width: 100%;
	background: #750CE8;
	height: 450px;
	float: left;
}

#art1{
	width: 100%;
	background: #82DE66;
	height: 250px;
	float: left;
}

#art2{
	width: 100%;
	background: #E8AE26;
	height: 680px;
	float: left;
}

#art3{
	width: 100%;
	background: #62FAD5;
	height: 250px;
	float: left;
}

#art4{
	width: 100%;
	background: #E8AE6B;
	height: 500px;
	float: left;
}

#pie{
	width: 100%;
	background: #8495E8;
	height: 250px;
	float: left;
}

















