@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #c3db51;
	height: 60px;
	float: left;
	
}

.child1{
	width: 55%;
	height: 60px;	
	background: #FF4C4C;
	float: left;
}

.child2{
	width: 44.6%;
	float: left;
	background: #e89ec1;
	border: 1px solid green;
	height: 60px;
}

.a{
	width: 45%;
	float:left;
	height: 60px;
	background: #3aa930;
}

.b{
	width: 55%;
	float:left;
	height: 60px;
	background: #43B27B;
}

.c{
	width: 27%;
	float:left;
	height: 60px;
	background: #da9f75;
}

.d{
	width: 19%;
	float:left;
	height: 60px;
	background: #93FFC9;
}

.e{
	width: 27%;
	float:left;
	height: 60px;
	background: #8744B2;
}

.f{
	width: 27%;
	float:left;
	height: 60px;
	background: #B255A7;
}


#carrusel{
	width: 100%;
	background: #00E9D5;
	height: 350px;
	float: left;
}

.g{  
	width: 100%;
	float:left;
	height: 345px;
	background: #D9A553;

}

#apartado1{
	width: 100%;
	background: #B0F8FF;
	height: 500px;
	float: left;
}

.child3{
	width: 27%;
	height: 500px;	
	background: #E8B35A;
	float: right;
	margin-right: 60px;
}

.child4{
	width: 27%;
	height: 500px;	
	background: #E8B35A;
	float: right;
	margin-right: 67px;
}

.child5{
	width: 27%;
	height: 500px;	
	background: #E8B35A;
	float: left;
	margin-left:60px;
}

.c1{
	width: 100%;
	float:left;
	height: 250px;
	background: #A35E3E;
}

.c2{
	width: 100%;
	float:left;
	height: 250px;
	background: #A35E3E;
}

.c3{
	width: 100%;
	float:left;
	height: 250px;
	background: #A35E3E;
}

.c1a{
	width: 100%;
	float:left;
	height: 250px;
	background: #C2E839;
}

.c2a{
	width: 100%;
	float:left;
	height: 250px;
	background: #C2E839;
}

.c3a{
	width: 100%;
	float:left;
	height: 250px;
	background: #C2E839;
}

.c1aa{
	width: 100%;
	float:left;
	height: 45px;
	background: #33B9C2;
}

.c1ab{
	width: 100%;
	float:left;
	height: 138px;
	background: #FFDE8B;
}

.c1ac{
	width: 100%;
	float:left;
	height: 66px;
	background: #FF4BFD;
}

.c2aa{
	width: 100%;
	float:left;
	height: 45px;
	background: #33B9C2;
}

.c2ab{
	width: 100%;
	float:left;
	height: 138px;
	background: #FFDE8B;
}

.c2ac{
	width: 100%;
	float:left;
	height: 66px;
	background: #FF4BFD;
}

.c3aa{
	width: 100%;
	float:left;
	height: 45px;
	background: #33B9C2;
}

.c3ab{
	width: 100%;
	float:left;
	height: 138px;
	background: #FFDE8B;
}

.c3ac{
	width: 100%;
	float:left;
	height: 66px;
	background: #FF4BFD;
}

.c1ac1{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #33C2A0;
}

.c1ac2{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #F08D83;
}

.c1ac3{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #33C2A0;
}

.c2ac1{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #33C2A0;
}

.c2ac2{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #F08D83;
}

.c2ac3{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #33C2A0;
}

.c3ac1{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #33C2A0;
}

.c3ac2{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #F08D83;
}

.c3ac3{
	width: 33.3%;
	float:left;
	height: 66px;
	background: #33C2A0;
}

#apartado2{
	width: 100%;
	background: #FFE9D5;
	height: 350px;
	float: left;
}

.child6{
	width: 50%;
	height: 350px;	
	background: #DEB73A;
	float: left;
}

.child7{
	width: 50%;
	height: 350px;	
	background: #DEA23A;
	float: right;
}


.ch6a{
	width: 100%;
	float:left;
	height: 350px;
	background: #E85939;
	
}

.ch7a{
	width: 100%;
	float:left;
	height: 70px;
	background: #009EE9;
	margin-top: 57px;
}

.ch7b{
	width: 100%;
	float:left;
	height: 70px;
	background: #00E9A4;
}

.ch7c{
	width: 100%;
	float:left;
	height: 70px;
	background: #C4E9A4;
}

.ch7a1{
	width: 45%;
	float:left;
	height: 70px;
	background: #5E2406;	
}

.ch7a2{
	width: 55%;
	float:left;
	height: 70px;
	background: #C74C0D;	
}

.ch7b1{
	width: 35%;
	float:left;
	height: 70px;
	background: #1189DE;	
}

.ch7b2{
	width: 25%;
	float:left;
	height: 70px;
	background: #9789DE;	
}

.ch7b3{
	width: 40%;
	float:left;
	height: 70px;
	background: #E289DE;	
}

#apartado3{
	width: 100%;
	background: #FFE9D5;
	height: 400px;
	float: left;
}

.child8{
	width: 60%;
	height: 400px;	
	background: #E85350;
	float: left;	
}

.child9{
	width: 40%;
	height: 400px;	
	background: #ECFF66;
	float:left;	
}

.ch8a{
	width: 100%;
	float:left;
	height: 60px;
	background: #8A2A0C;

}

.ch8b{
	width: 43%;
	float:left;
	height: 60px;
	background: #B7BEB5;
	margin-left: 2px;
	margin-top: 2px;

}

.ch8c{
	width: 55%;
	float:right;
	height: 60px;
	background: #B7BEB5;
	margin-left: 10px;
	margin-right: 2px;
	margin-top: 2px;

}

.ch8d{
	width: 43%;
	float:left;
	height: 60px;
	background: #B7BEB5;
	margin-left: 2px;
	margin-top: 2px;

}

.ch8e{
	width: 55%;
	float:right;
	height: 60px;
	background: #B7BEB5;
	margin-left: 10px;
	margin-right: 2px;
	margin-top: 2px;

}

.ch8f{
	width: 43%;
	float:left;
	height: 150px;
	background: #B7BEB5;
	margin-left: 2px;
	margin-top: 10px;

}

.ch8g{
	width: 55%;
	float:right;
	height: 150px;
	background: #B7BEB5;
	margin-left: 10px;
	margin-right: 2px;
	margin-top: 10px;

}

.ch8h{
	width: 100%;
	float:right;
	height: 150px;
	background: #E083F0;
	margin-left: 10px;
	
}
.ch9a{
	width: 100%;
	float:left;
	height: 70px;
	background: #D49750;
	margin-top: 60px;

}

.ch9b{
	width: 100%;
	float:left;
	height: 70px;
	background: #D49750;
	margin-top: 60px;
	
}

.ch9b1{
	width: 20%;
	float:right;
	height: 70px;
	background: #702D09;
	margin-right: 45px;
		
}


#fin{
	width: 100%;
	background: #F5D8DC;
	height: 150px;
	float: left;
}

.child10{
	width: 30%;
	height: 150px;	
	background: #8A49E3;
	float: left;	
}

.child11{
	width: 69.7%;
	height: 150px;	
	background: #2993E3;
	float: right;	
}

.ch11a{
	width: 100%;
	float:right;
	height: 73px;
	background: #4CD9E3;
			
}

.ch11a1{
	width: 23%;
	float:left;
	height: 40px;
	background: #215BC4;
	margin-right: 2px;
	margin-left: 190px
			
}

.ch11a2{
	width: 15%;
	float:left;
	height: 40px;
	background: #215BC4;
	margin-right: 2px;
			
}

.ch11a3{
	width: 20%;
	float:left;
	height: 40px;
	background: #215BC4;
	margin-right: 2px;
			
}

.ch11a4{
	width: 20%;
	float:left;
	height: 40px;
	background: #215BC4;
	margin-right: 2px;
			
}


