@charset "utf-8";

body{
	background: #f6f8f1;
	margin: 0;
	padding: 0;
	font-family: arial;
}

.contenedor{
	display: block;
	margin: auto;
	width: 90%;
	height: auto;
	background: white;
	min-height: 60px;
}

header{
	background: #ddae76;
	height:350px;
	float: left;
	width: 100%;
}

.clase1{
	width: 25%;
	height: 350px;
	float: left;


}

.clase2{
	width: 75%;
	height: 350px;
	float: left;


}


.img1{
	background: url('../img/logo-header.png');
	width: 275px;
	height: 273px;
	display: block;
	margin-top: 0px;
}

.clase2 > div:first-child > h1{
	color: #28160a;
	font-size: 43pt;
	letter-spacing: 1px;
	text-align: left;
	font-weight:bold;
	font-family: arial black;
	padding: 0;
	margin: 0;
	margin-top: 120px;
}

.clase2 > div:last-child> h3{
	color: #28160a;
	font-size: 20pt;
	text-align: left;
	font-weight:lighter;
	font-family: microsoft yahei;
	padding: 0;
	margin: 0;
	margin-left: 45%;
	letter-spacing: 3px;
	
}

article{
	width: 100%;
	float: left;
	background: white;
	height: auto;
	border-bottom: 2px solid #c3c3c3;
}

section > article:first-child > div > h2{
    color: black;
	font-size: 18pt;
	text-align: left;
	font-weight: bold;
	font-family: calibri;
	padding: 0;
	margin: 0;
	

}

section > article:first-child > div >p{
    color: black;
    line-height: 18pt;
	font-size: 12pt;
	text-align: left;
	font-weight: auto;
	font-family: verdana;
	padding: 0;
	margin: 0;
	letter-spacing: 2px;
	
}

section > article:first-child > div{
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
	float:left;
	margin-bottom: 30px;
	margin-top: 40px
}



