@charset "utf-8";

body{
  background: white;
  font-family:arial;
  margin:0;
  padding:0;
}
 #mn{
 	width: 100%;
 	height: 60px;
 	float: left;
 	background: #1a5276;
 }

 #mn>div>ul>li>a{
  text-decoration: none;
  font-weight: normal;
  font-size: 10pt;
  color: white;
  text-align: center;
}
#mn>div>ul>li{
  list-style: none;
  display:block;
  float: left;
  width: 8%;
  border-right:1px solid #FAE5D3;
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top:20px;
}
#mn>div>button{
  text-decoration: none;
  border: 1px solid white;
  width: 8%;
  height: 40px;
  background: #2e86c1;
  color:white;
  border-radius: 5px;
  text-align: center;
  margin-left: 8%;
  margin-top: 10px;
}
ul{
	margin: 0;
	padding: 0;
}
.banner{
	width: 100%;
	height: 674px;
	float: left;
	background:url(../img/crecimiento2.png);
}
.imgpr3{
	width: 40%;
	height: 674px;
	float: left;
}
.ctx{
  width: 60%;
  height:674px;
  float: left;
}
.textbnr{
  width: 70%;
  height: 574px;
  margin-left: 10%;
  margin-top: 70px;
}
.ctx> div> h1{
  font-size: 24pt;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold; 
  color:#1a5276;
}
.ctx> div> p{
  font-size: 12pt;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 22pt;
  color:gray;
}

.ctx>.textbnr>.botones>button{
  text-decoration: none;
  border: 1px solid #2e86c1;
  width: 20%;
  height: 40px;
  background: white;
  color: #2e86c1;
  border-radius: 5px;
  text-align: center;
  margin-left: 4%;
  margin-top: 10px;
}