@charset "utf-8";

body{
	background: white;
	margin:0;
	padding:0;
}
#menu{
	width: 100%;
	height: 60px;
	float: left;
	background: #b6640e;
}
#menu>div>ul>li>a{
	text-decoration: none;
	font-weight: normal;
	font-size: 12pt;
	color: white;
	text-align: center;
	font-family:calibri;
}
#menu>div>ul>li{
	list-style: none;
	display:block;
	float: left;
	width: 11%;
	border-right:1px solid #FAE5D3;
	height: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
	padding-top:20px;
}
#menu>div>ul>.iconomn{
	width:5%;
	float: left;
}
ul{
	margin: 0;
	padding: 0;
}
li:hover{
	background: #EDBB99 !important;
}
.banner{
	width: 100%;
	height: 498px;
	float: left;
	background:url(../img/crecimiento2.png);
}
.imghombre{
	width: 40%;
	height: 498px;
	float: left;
}
.cajatx{
	width: 45%;
	height: 400px;
	float: left;
	margin-top: 40px;
}
.cajatx> div> h1{
	font-size: 26pt;
	font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-weight: bold; 
	color:#b6640e;
}
.cajatx> div> p{
	font-size: 14pt;
	font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	line-height: 22pt;
	color:gray;
}
.cajatx>.textobnr>.botones>button{
	text-decoration: none;
	border: 1px solid #b6640e;
	width: 30%;
	height: 50px;
	background: white;
	color: #b6640e;
	border-radius: 5px;
	text-align: center;
	margin-left: 2%;
	margin-top: 30px;
	font-size: 12pt;
}
.bloquestx1{
	width: 100%;
	height: 500px;
	float: left;
	background: white;
}
.bloq1{
	width: 20%;
	height: 445px;
	float: left;
	background:  #f2f3f4;
	margin-top: 25px;
	margin-left: 1%;
	padding: 10px 2% 20px 2%;
}
.bloq2{
	width: 20%;
	height: 445px;
	float: left;
	background:  #f2f3f4;
	margin-top: 25px;
	margin-left: 1%;
	padding: 10px 2% 20px 2%;
}
.bloq3{
	width: 20%;
	height: 445px;
	float: left;
	background:  #f2f3f4;
	margin-top: 25px;
	margin-left: 1%;
	padding: 10px 2% 20px 2%;
}
.bloq4{
	width: 19%;
	height: 445px;
	float: left;
	background:  #f2f3f4;
	margin-top: 25px;
	margin-left: 1%;
	padding: 10px 2% 20px 2%;
}
.headbq1{
	width: 100%;
	height: 100pX;
	float: left;
}
.icono1{
	width: 40%;
	height: 100px;
	float: left;
}
.titulo1{
	width: 60%;
	height: 100px;
	float: left;
}
.bloqtx1{
	width: 100%;
	height: 300px;
	float: left;
}
.headbq2{
	width: 100%;
	height: 100pX;
	float: left;
}
.icono2{
	width: 40%;
	height: 100px;
	float: left;
}
.titulo2{
	width: 60%;
	height: 100px;
	float: left;
}
.bloqtx2{
	width: 100%;
	height: 300px;
	float: left;
}
.headbq3{
	width: 100%;
	height: 100pX;
	float: left;
}
.icono3{
	width: 40%;
	height: 100px;
	float: left;
}
.titulo3{
	width: 60%;
	height: 100px;
	float: left;
}
.bloqtx3{
	width: 100%;
	height: 300px;
	float: left;
}
.headbq4{
	width: 100%;
	height: 100pX;
	float: left;
}
.icono4{
	width: 40%;
	height: 100px;
	float: left;
}
.titulo4{
	width: 60%;
	height: 100px;
	float: left;
}
.bloqtx4{
	width: 100%;
	height: 300px;
	float: left;
}
h2{
	font-size: 20pt;
	border-bottom:1px solid gray;
	font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.bloquestx1>.bloq1>.bloqtx1>p{
	font-size: 12pt;
	font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	color: #626567 ;
}
.bloquestx1>.bloq2>.bloqtx2>p{
	font-size: 12pt;
	font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	color: #626567 ;
}
.bloquestx1>.bloq3>.bloqtx3>p{
	font-size: 12pt;
	font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	color: #626567 ;
}
.bloquestx1>.bloq4>.bloqtx4>p{
	font-size: 12pt;
	font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	color: #626567 ;
}
.bloquestx2{
	width: 100%;
	height: 575px;
	float: left;
	background: white;
}
.bloquestx2>.bloq1>.bloqtx1>p{
	font-size: 12pt;
	font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	color: #626567 ;
}
.bloquestx2>.bloq2>.bloqtx2>p{
	font-size: 12pt;
	font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	color: #626567 ;
}
.bloquestx2>.bloq3>.bloqtx3>p{
	font-size: 12pt;
	font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	color: #626567 ;
}
.bloquestx2>.bloq4>.bloqtx4>p{
	font-size: 12pt;
	font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	color: #626567 ;
}
.contactos{
	width: 100%;
	height: 90px;
	background: black;
	float: left;
}
.datosalm{
	width: 20%;
	height: 40px;
	float: left;
	margin-left: 40%;
}
.contactos>.datosalm>p{
	color:white;
	text-align: center;
}