@charset "utf-8";

body { background: #23e2f3;
	width: 100%;
	height: auto;
	font font-family: arial; 
	margin:0;
}
header{
	width: 100%;
	height: 150px;
	float: left;
	background: #a2f323;
}
.m1{
	width: 100%;
	height: 50px;
	float: left;
	background: #17202A;
}
.m2{
	width: 100%;
	height: 100px;
	float: left;
	background: #ECF0F1;
}
.m1h1{
	width: 60%;
	height: 50px;
	float: left;
	background: #1C2833;
}
.m1h2{
	width: 40%;
	height: 50px;
	float: left;
	background: #566573;
}
.m1n1{
	width: 10%;
	height: 50px;
	float: left;
	background: #424949;
}
.m1n2{
	width: 35%;
	height: 50px;
	float: left;
	background: #839192;
}
.m1n3{
	width: 30%;
	height: 50px;
	float: left;
	background: #AAB7B8;
}
.m1n4{
	width: 20%;
	height: 50px;
	float: left;
	background: #E5E8E8;
}
.m2h1{
	width: 35%;
	height: 100px;
	float: left;
	background: #5F6A6A;
}
.m2n1{
	width: 40%;
	height: 100px;
	float: left;
	background: #ECF0F1;
	margin-left: 10%;
}
.m2h2{
	width: 65%;
	height: 100px;
	float: left;
	background: #5F6A6A;
}
.m2n2{
	width: 12%;
	height: 100px;
	float: left;
	background: #1ABC9C;
}
.m2n3{
	width: 14%;
	height: 100px;
	float: left;
	background: #76D7C4;
}
.m2n4{
	width: 24%;
	height: 100px;
	float: left;
	background: #1ABC9C;
}
.m2n5{
	width: 30%;
	height: 100px;
	float: left;
	background: #76D7C4;
}
.m2n6{
	width: 12%;
	height: 100px;
	float: left;
	background: #1ABC9C;
}
.banner{
	width: 100%;
	height: 500px;
	float: left;
	background: #D6DBDF;
}
.bh1{
	width: 100%;
	height: 10px;
	float: left;
	background: #3498DB;
}
.bh2{
	width: 100%;
	height: 10px;
	float: left;
	background: #154360;
}
.bn1{
	width: 50%;
	height: 480px;
	float: left; 
	background: #BDC3C7;
}
.bs1{
	width: 90%;
	height: 60px;
	float: right;
	background: #566573;
	margin-top: 150px;
}
.bs2{
	width: 90%;
	height: 160px;
	float: right;
	background: #2C3E50;
}
.bs3{
	width: 90%;
	height: 60px;
	float: right;
	background: #566573;
}
.bs4{
	width: 90%;
	height: 20px;
	float: right;
	background: #2C3E50;
}
.bsh{
	width: 15%;
	height: 60px;
	float: right;
	background: #154360;
}
.bloque1{
	width: 100%;
	height: 275px;
	float: left;
	background: #2874A6;
}
.b1h1{
	width: 70%;
	height: 275px;
	float: left;
	background: #A3E4D7;
}
.b1h2{
	width: 30%;
	height: 275px;
	float: left;
	background: #BDC3C7;
}
.b1n1{
	width: 85%;
	height: 55px;
	float: left;
	margin-left: 10%;
	margin-top: 50px;
	background: #85C1E9;
}
.b1n2{
	width: 85%;
	height: 105px;
	float: left;
	margin-left: 10%;
	background: #5D6D7E;
}
.b1n3{
	width: 85%;
	height: 55px;
	float: left;
	margin-left: 10%;
	background: #85C1E9;
}
.b1s1{
	width: 15%;
	height: 55px;
	float: right;
	background: #45B39D;
}
.bloque2{
	width: 100%;
	height: 800px;
	float: left;
	background: #EBF5FB;
}
.b2h1{
	width: 28%;
	height: 800px;
	float: left;
	margin-left: 4%;
	background: #A9CCE3;
}
.b2n1{
	width: 100%;
	height: 50px;
	float: left;
	background: #52BE80;
}
.margen1{
	width: 100%;
	height: 20px;
	float: left;
	background: #FADBD8;
}
.b2n2{
	width: 100%;
	height: 325px;
	float: left;
	background: #A3E4D7;
}
.b2n3{
	width: 100%;
	height: 50px;
	float: left;
	background: #52BE80;
}
.margen2{
	width: 100%;
	height: 20px;
	float: left;
	background: #FADBD8;
}
.b2n4{
	width: 100%;
	height: 325px;
	float: left;
	background: #A3E4D7;
}
.b2n5{
	width: 100%;
	height: 50px;
	float: left;
	background: #52BE80;
}
.b2s1{
	width: 20%;
	height: 50px;
	float: right;
	margin-top: 275px;
	background: #73C6B6;
}
.b2s2{
	width: 20%;
	height: 50px;
	float: right;
	margin-top: 275px;
	background: #73C6B6;
}
.b2h2{
	width: 28%;
	height: 800px;
	float: left;
	margin-left: 4%;
	background: #A9CCE3;
}
.b2n6{
	width: 100%;
	height: 50px;
	float: left;
	background: #52BE80;
}
.margen3{
	width: 100%;
	height: 20px;
	float: left;
	background: #FADBD8;
}
.b2n7{
	width: 100%;
	height: 325px;
	float: left;
	background: #A3E4D7;
}
.b2n8{
	width: 100%;
	height: 50px;
	float: left;
	background: #52BE80;
}
.margen4{
	width: 100%;
	height: 20px;
	float: left;
	background: #FADBD8;
}
.b2n9{
	width: 100%;
	height: 325px;
	float: left;
	background: #A3E4D7;
}
.b2n10{
	width: 100%;
	height: 50px;
	float: left;
	background: #52BE80;
}
.b2s3{
	width: 20%;
	height: 50px;
	float: right;
	margin-top: 275px;
	background: #73C6B6;
}
.b2s4{
	width: 20%;
	height: 50px;
	float: right;
	margin-top: 275px;
	background: #73C6B6;
}
.b2h3{
	width: 28%;
	height: 800px;
	float: left;
	margin-left: 4%;
	background: #A9CCE3;
}
.b2n11{
	width: 100%;
	height: 50px;
	float: left;
	background: #52BE80;
}
.margen5{
	width: 100%;
	height: 20px;
	float: left;
	background: #FADBD8;
}
.b2n12{
	width: 100%;
	height: 325px;
	float: left;
	background: #A3E4D7;
}
.b2n13{
	width: 100%;
	height: 50px;
	float: left;
	background: #52BE80;
}
.margen6{
	width: 100%;
	height: 20px;
	float: left;
	background: #FADBD8;
}
.b2n14{
	width: 100%;
	height: 325px;
	float: left;
	background: #A3E4D7;
}
.b2n15{
	width: 100%;
	height: 50px;
	float: left;
	background: #52BE80;
}
.b2s5{
	width: 20%;
	height: 50px;
	float: right;
	margin-top: 275px;
	background: #73C6B6;
}
.b2s6{
	width: 20%;
	height: 50px;
	float: right;
	margin-top: 275px;
	background: #73C6B6;
}
.bloque3{
	width: 100%;
	height: 275px;
	float: left;
	background: #AED6F1;
}
.b3h1{
	width: 30%;
	height: 275px;
	float: left;
	background: #85C1E9;
}
.b3h2{
	width: 70%;
	height: 275px;
	float: left;
	background: #5499C7;
}
.b3n1{
	width: 35%;
	height: 275px;
	float: left;
	margin-left: 10%;
	background: #E8F6F3;
}

.b3s1{
	width: 100%;
	height: 20px;
	float: left;
	background: #AED6F1;
}
.b3s2{
	width: 100%;
	height: 25px;
	float: left;
	background: #E8F6F3;
}
.b3s3{
	width: 100%;
	height: 200px;
	float: left;
	background: #ABEBC6;
}
.b3s4{
	width: 100%;
	height: 30px;
	float: left;
	background: #AED6F1;
}

.b3n2{
	width: 25%;
	height: 275px;
	float: left;
	margin-left: 10%;
	background: #E8F6F3;
}

.b3s5{
	width: 100%;
	height: 20px;
	float: left;
	background: #AED6F1;
}
.b3s6{
	width: 100%;
	height: 25px;
	float: left;
	background: #E8F6F3;
}
.b3s7{
	width: 100%;
	height: 200px;
	float: left;
	background: #ABEBC6;
}
.b3s8{
	width: 100%;
	height: 30px;
	float: left;
	background: #AED6F1;
}
.bloque4{
	width: 100%;
	height: 500px;
	float: left;
	background: gray;
}
.b4h1{
	width: 100%;
	height: 100px;
	float: left;
	background: #D5F5E3;
}
.b4h2{
	width: 100%;
	height: 400px;
	float: left;
	background: #A9DFBF;
}
.b4n1{
	width: 10%;
	height: 100px;
	float: left;
	background: gray;
}
.b4n2{
	width: 25%;
	height: 100px;
	float: left;
	background: #99A3A4;
}
.b4n3{
	width: 65%;
	height: 100px;
	float: left;
	background: gray;
}
.b4n4{
	width: 60%;
	height: 400px;
	float: left;
	background: #D5DBDB;
}
.b4n5{
	width: 40%;
	height: 400px;
	float: left;
	background: #99A3A4;
}
.b4s1{
	width: 15%;
	height: 400px;
	float: left;
	background: #99A3A4;
}
.b4s2{
	width: 25%;
	height: 400px;
	float: left;
	background: #A3E4D7;
}
.b4s3{
	width: 15%;
	height: 400px;
	float: left;
	background: #99A3A4;
}
.b4s4{
	width: 45%;
	height: 400px;
	float: left;
	background: #A3E4D7;
}
.b4t1{
	width: 100%;
	height: 20px;
	float: left;
	background: #76D7C4;
}
.b4t2{
	width: 100%;
	height: 50px;
	float: left;
	background: gray;
}
.b4t3{
	width: 100%;
	height: 50px;
	float: left;
	background: #76D7C4;
}
.b4t4{
	width: 100%;
	height: 50px;
	float: left;
	background: gray;
}
.b4t5{
	width: 100%;
	height: 50px;
	float: left;
	background: #76D7C4;
}
.b4t6{
	width: 100%;
	height: 50px;
	float: left;
	background: gray;
}
.b4t7{
	width: 100%;
	height: 20px;
	float: left;
	background: #76D7C4;
}
.b4t8{
	width: 100%;
	height: 50px;
	float: left;
	background: gray;
}
.b4t9{
	width: 100%;
	height: 50px;
	float: left;
	background: #76D7C4;
}
.b4t10{
	width: 100%;
	height: 50px;
	float: left;
	background: gray;
}
.b4t11{
	width: 100%;
	height: 50px;
	float: left;
	background: #76D7C4;
}
.b4t12{
	width: 100%;
	height: 50px;
	float: left;
	background: gray;
}
.b4s5{
	width: 100%;
	height: 20px;
	float: left;
	background: #D6EAF8;
}
.b4s6{
	width: 100%;
	height: 50px;
	float: left;
	background: gray;
}
.b4s7{
	width: 100%;
	height: 20px;
	float: left;
	background: #D6EAF8;
}
.b4s8{
	width: 100%;
	height: 100px;
	float: left;
	background: gray;
}
.contactos
{
	width: 100%;
	height: 300px;
	float: left;
	background: #7DCEA0;
}
.ch1{
	width: 40%;
	height: 300px;
	float: left;
	background: #FDF2E9;
}
.ch2{
	width: 60%;
	height: 300px;
	float: left;
	background: #FADBD8;
}