@charset "utf-8";

body{
  background: white;
  font-family:arial;
  margin:0;
  padding:0;
}
 #mn{
 	width: 100%;
 	height: 60px;
 	float: left;
 	background: #1a5276;
 }

 #mn>div>ul>li>a{
  text-decoration: none;
  font-weight: normal;
  font-size: 10pt;
  color: white;
  text-align: center;
}
#mn>div>ul>li{
  list-style: none;
  display:block;
  float: left;
  width: 8%;
  border-right:1px solid white;
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top:20px;
}
#mn>div>button{
  text-decoration: none;
  border: 1px solid white;
  width: 8%;
  height: 40px;
  background: #2e86c1;
  color:white;
  border-radius: 5px;
  text-align: center;
  margin-left: 8%;
  margin-top: 10px;
}
ul{
	margin: 0;
	padding: 0;
}
.banner{
	width: 100%;
	height: 500px;
	float: left;
	background:url(../img/crecimiento2.png);
}
.imgpr3{
	width: 40%;
	height: 500px;
	float: left;
}
.ctx{
  width: 60%;
  height:500px;
  float: left;
}
.textbnr{
  width: 70%;
  height: 500px;
  margin-left: 10%;
  margin-top: 70px;
}
.ctx> div> h1{
  font-size: 24pt;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold; 
  color:#1a5276;
}
.ctx> div> p{
  font-size: 12pt;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 22pt;
  color:gray;
}

.ctx>.textbnr>.botones>button{
  text-decoration: none;
  border: 1px solid #2e86c1;
  width: 20%;
  height: 40px;
  background: white;
  color: #2e86c1;
  border-radius: 5px;
  text-align: center;
  margin-left: 4%;
  margin-top: 10px;
}
.bloque1{
  width: 100%;
  height: 460px;
  float: left;
  background: white;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding:30px 1% 30px 1%;
}
.b1h1{
  width: 26%;
  height: 440px;
  float: left;
  background:  #ecf0f1 ;
  padding: 10px 2% 10px 2%;
  margin-right:4%;
}
.b1h2{
  width: 26%;
  height: 440px;
  float: left;
  background:  #ecf0f1 ;
  padding: 10px 2% 10px 2%;
  margin-right:4%;
}
.b1h3{
  width: 26%;
  height: 440px;
  float: left;
  background:   #ecf0f1;
  padding: 10px 2% 10px 2%;
}
.b1n1{
  width: 100%;
  height: 100px;
  float: left;
}
.b1n2{
  width: 100%;
  height: 340px;
  float: left;
}
.b1s1{
  width: 40%;
  height: 100px;
  float: left;
}
.b1s2{
  width: 60%;
  height: 100px;
  float: left;
}
.b1n3{
  width: 100%;
  height: 100px;
  float: left;
}
.b1n4{
  width: 100%;
  height: 340px;
  float: left;
}
.b1s3{
  width: 40%;
  height: 100px;
  float: left;
}
.b1s4{
  width: 60%;
  height: 100px;
  float: left;
}
.b1n5{
  width: 100%;
  height: 100px;
  float: left;
}
.b1n6{
  width: 100%;
  height: 340px;
  float: left;
}
.b1s5{
  width: 40%;
  height: 100px;
  float: left;
}
.b1s6{
  width: 60%;
  height: 100px;
  float: left;
}
.bloque2{
  width: 100%;
  height: 460px;
  float: left;
  background: white;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding:30px 1% 30px 1%;
}
.b2h1{
  width: 46%;
  height: 440px;
  float: left;
  background:  #ecf0f1 ;
  padding: 10px 2% 10px 2%;

}
.b2h2{
  width: 45%;
  height: 440px;
  float: left;
  background:  #ecf0f1 ;
  padding: 10px 2% 10px 2%;
  border-left:2px solid white;
}
.b2n1{
  width: 100%;
  height: 100px;
  float: left;
}
.b2n2{
  width: 100%;
  height: 340px;
  float: left;
}
.b2s1{
  width: 40%;
  height: 100px;
  float: left;
}
.b2s2{
  width: 60%;
  height: 100px;
  float: left;
}
.b2n3{
  width: 100%;
  height: 100px;
  float: left;
}
.b2n4{
  width: 100%;
  height: 340px;
  float: left;
}
.b2s3{
  width: 40%;
  height: 100px;
  float: left;
}
.b2s4{
  width: 60%;
  height: 100px;
  float: left;
}
h2{
  font-size: 20pt;
  border-bottom:1px solid gray;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.bloque3{
  width: 100%;
  height: 460px;
  float: left;
  background: white;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding:30px 1% 30px 1%;
}
.b3h1{
  width: 46%;
  height: 440px;
  float: left;
  background:  #ecf0f1 ;
  padding: 10px 2% 10px 2%;

}
.b3h2{
  width: 45%;
  height: 440px;
  float: left;
  background:  #ecf0f1 ;
  padding: 10px 2% 10px 2%;
  border-left:2px solid white;
}
.b3n1{
  width: 100%;
  height: 100px;
  float: left;
}
.b3n2{
  width: 100%;
  height: 340px;
  float: left;
}
.b3s1{
  width: 40%;
  height: 100px;
  float: left;
}
.b3s2{
  width: 60%;
  height: 100px;
  float: left;
}
.b3n3{
  width: 100%;
  height: 100px;
  float: left;
}
.b3n4{
  width: 100%;
  height: 340px;
  float: left;
}
.b3s3{
  width: 40%;
  height: 100px;
  float: left;
}
.b3s4{
  width: 60%;
  height: 100px;
  float: left;
}
.contactos{
  width: 100%;
  height: 90px;
  background: #1a5276;
  float: left;
}
.datosalm{
  width: 20%;
  height: 40px;
  float: left;
  margin-left: 40%;
}
.contactos>.datosalm>p{
  color:white;
  text-align: center;
}