@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #c3db51;
	height: 60px;
	float: left;
}


.child1{
	width: 55%;
	height: 60px;
	background: #629398;
	float: left;
}


.child2{
	width: 44.6%;
	float: left;
	background: #e89ec1;
	height: 60px;
}


.a{
	width: 45%;
	float: left;
	height: 60px;
	background: #3aa930
}


.b{
	width: 55%;
	float: left;
	height: 60px;
	background: #b8de35;
}


.c{
	width: 27%;
	float: left;
	height: 60px;
	background: #da9F75;
}


.d{
	width: 19%;
	float: left;
	height: 60px;
	background: #d6a238;
}


.e{
	width: 27%;
	float: left;
	height: 60px;
	background: #859e77;
}


.f{
	width: 27%;
	float: left;
	height: 60px;
	background: #cbb442;
}


.g{
	width: 100%;
	float: left;
	height: 400px;
	background: #e89ec1;
}

.h{
	width: 100%;
	float: left;
	height: 50px;
	background: #a4a989;
}


.i{
	width: 25%;
	float: left;
	height: 600px;
	background: #57700b;
	margin-left: 6%
}


.i1{
	width: 100%;
	float: left;
	height: 300px;
	background: #b8ec19;
}


.i2{
	width: 100%;
	float: left;
	height: 50px;
	background: #066465;
}


.i3{
	width: 100%;
	float: left;
	height: 180px;
	background: #999d9d;
}


.i4{
	width: 100%;
	float: left;
	height: 70px;
	background: #eca713;
}


.i5{
	width: 50%;
	float: left;
	height: 70px;
	background: #b8ec19;
	margin-left: 25%
}


.j{
	width: 25%;
	float: left;
	height: 600px;
	background: #57700b;
	margin-left: 6%
}


.j1{
	width: 100%;
	float: left;
	height: 300px;
	background: #b8ec19;
}


.j2{
	width: 100%;
	float: left;
	height: 50px;
	background: #066465;
}


.j3{
	width: 100%;
	float: left;
	height: 180px;
	background: #999d9d;
}


.j4{
	width: 100%;
	float: left;
	height: 70px;
	background: #eca713;
}


.j5{
	width: 50%;
	float: left;
	height: 70px;
	background: #b8ec19;
	margin-left: 25%
}


.k{
	width: 25%;
	float: left;
	height: 600px;
	background: #57700b;
	margin-left: 6%
}


.k1{
	width: 100%;
	float: left;
	height: 300px;
	background: #b8ec19;
}


.k2{
	width: 100%;
	float: left;
	height: 50px;
	background: #066465;
}


.k3{
	width: 100%;
	float: left;
	height: 180px;
	background: #999d9d;
}


.k4{
	width: 100%;
	float: left;
	height: 70px;
	background: #eca713;
}


.k5{
	width: 50%;
	float: left;
	height: 70px;
	background: #b8ec19;
	margin-left: 25%
}

.seccion3{
	width: 100%;
	float: left;
	height: 500px;
	background: #ff623f;

}

<<<<<<< HEAD
.l{
	width: 100%;
	float: left;
	height: 400px;
	background:#b5922e; 
}


.l1{
	width: 50%;
	float: left;
	height: 400px;
	background:#0e1c27; 
}


.m{
	width: 50%;
	float: left;
	height: 400px;
	background:#b5922e; 
}


.m1{
	width: 100%;
	float: left;
	height: 70px;
	background:#3c7297; 
}



.m2{
	width: 50%;
	float: left;
	height: 70px;
	background:#81630f;
	margin-left: 50%; 
}


.m3{
	width: 100%;
	float: left;
	height: 70px;
	background:#86b1d0;
}


.m4{
	width: 100%;
	float: left;
	height: 70px;
	background:#c6aa5c;
}


.m5{
	width: 30%;
	float: left;
	height: 70px;
	background:#86d0ae;
	margin-left:40%;
}


.n{
	width: 100%;
	float: left;
	height: 500px;
	background:#04e47d;
}

.nn{
	width: 60%;
	float: left;
	height: 500px;
	background: #64615a;

}


.petrolito{
	width: 50%;
	float: left;
	height: 500px;
	background: #bef2f9;
}



.l{
	width: 50%;
	float: left;
	height: 500px;
	background: #b0fc42;
}

.l1{
	width: 100%;
	float: left;
	height: 90px;
	background: #6c0c23;
	margin-top: 90px;
}

.l1hijo{
	width: 50%;
	float:right;
	height: 90px;
	background: #ffe867;
}

.l2{
 	width: 100%;
 	float: left;
 	height: 90px;
 	background: #ff4959;
}

.l3{
 	width: 100%;
 	float: left;
 	height: 90px;
 	background: #5cdae2;
}

.n1{
	width: 40%;
	float: left;
	height: 500px;
	background:#9e9d9b;
}


.n2{
	width: 100%;
	float: left;
	height: 100px;
	background:#9e9d9b;
}


.n2_01{
	width: 100%;
	float: left;
	height: 350px;
	background:#69a388;
}


.n2_02{
	width: 35%;
	float: left;
	height: 350px;
	background:#9d8d60;
	margin-left:1%;
}


.n2_02{
	width: 60%;
	float: left;
	height: 350px;
	background:#4b6258;
	margin-left:3%;
}


.n2_1{
	width: 100%;
	float: left;
	height: 90px;
	background:#594f34;
	
}


.n2_2{
	width: 100%;
	float: left;
	height: 90px;
	background:#adf8d6;
	margin-top: 10px;
	
}


.n2_3{
	width: 100%;
	float: left;
	height: 135px;
	background:#6a551b;
	margin-top: 20px;
	
}


.n3{
	width: 100%;
	float: left;
	height: 50px;
	background:#2ffb9e;
	
}


.ñ1{
	width: 98%;
	float: left;
	height: 90px;
	background:#535047;
	margin-top: 80px;
	margin-left:1%;
	
}


.ñ2{
	width: 98%;
	float: left;
	height: 90px;
	background:#b9d8ca;
	margin-top: 70px;
	margin-left:1%;
	
}


.ñ3{
	width: 20%;
	float: left;
	height: 90px;
	background:#dac076;
	margin-top: 70px;
	margin-left:1%;
	
}


.l4{
	width: 30%;
 	float: left;
 	height: 90px;
 	background: #17b6ff;
 	margin-left: 40%;
}

.pinchemecosto{
	width: 100%;
	float: left;
	height: 850px;
	background: #ff25a0;
}

.pinchemecostojr{
	width: 60%;
 	float: left;
 	height: 850px;
 	background: #3f372d;
}

.gemelito{
	width: 40%;
 	float: right;
 	height: 850px;
 	background: #8aedf1;
}

.jr1{
	width: 100%;
 	float: left;
 	height: 170px;
 	background: #ff6737;
 
}

.jr2{
	width: 100%;
 	float: left;
 	height: 585px;
 	background: #661b03;
 
}

.jr3{
	width: 39.5%;
 	float: left;
 	height: 585px;
 	background: #b0fc42;
 
}

.jr4{
	width: 55%;
 	float: left;
 	height: 585px;
 	background: #6c0c23;
 	margin-left: 5%;
}


.jr31{
	width: 99%;
 	float: left;
 	height: 160px;
 	background: #00b7ef;
 	margin-left: 1%
}