@charset "utf-8";

body{
	background: #cfbb80;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #b26d6d;
	height: 60px;
	float: left;
}

.child1{
	width: 80%;
	height: 60px;
	background: #b26d6d;
	float: left;
}


.child2{
	width: 20%;
	float: left;
	background: #e89ec1;
	height: 60px;
}


.a{
	width: 5%;
	float: left;
	height: 60px;
	background: #b26d6d;
}

.b{
	width: 10%;
	float: left;
	height: 60px;
	background: #842c2c;
}

.c{
	width: 30%;
	float: left;
	height: 60px;
	background: #bf4545;
}

.d{
	width: 15%;
	float: left;
	height: 60px;
	background: #842c2c;
}

.e{
	width: 50%;
	float: left;
	height: 60px;
	background: #842c2c;
}

.f{
	width: 50%;
	float: left;
	height: 60px;
	background: #998041;
}