@charset "UTF-8";

body{
	background: white;
	margin: 0;
	padding: 0;
	font-family: arial;	
}

header{
	background: #b6640e;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	float: left;
}



#contenido1{
	width: 100%;
	height: 60px;
	float: left;
	margin-left: 2%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.imag1{
	background: url('../img/icono_logo.png');
	width: 33px;
	height: 22px;
	margin: auto;
	display: block;
	float: left;
	margin-top: 12px;
	margin-left: 0.5%;
}


#contenido1>li{
	width: 11.5%;
	height: 30px;
	display: block;
	float: left;
	text-align: center;
	font-family: calibri;
	padding-top: 14px;
	border-right: 0.1px solid #d17d25;
	color: white;
	margin-left: 5px
}


#contenido1>li>a{
	text-decoration: none;
	color: white;
	text-align: center;
}


article{
	width: 100%;
	height: 500px;
	background: url('../img/crecimiento2.png') no-repeat;
	float: left;
	border-bottom: 20px: solid white;
}

.c1{
	width: 40%;
	height: 500px;
	float: left;
}

.c2{
	width: 60%;
	height: 500px;
	float: left;
}

.hombre{
	background: url('../img/persona.png');
	width: 567px;
	height: 500px;
	display: block;
	margin: 0;
	float: left;
}


.contenido3{
	width:47%;
	height:495px;
	float:left;
}

.contenido3>h1{
    font-weight: bold;
    padding:0;
    margin:0;
    margin-top: 70px;
    font-family: calibri;
    color: #b6640e;
    font-size:28pt;
    text-align: left;
}

.contenido3>p{
    color: #000;
    line-height: 30pt;
    padding: 0;
    margin:0;
    font-family: calibri;
    font-size: 16pt;
    font-weight: lighter;
    text-align: left;
  
}

.contenido3>div>button{
	color:#b6640e;
    font-family: arial;
    font-size: 11pt;
    font-weight: lighter;
    margin-left: 2%;
    margin-top: 10px;
    background: white;
    height: 50px;
    width: 26%;
    border-radius: 2px;
    border: 1px solid #b6640e;
    text-align: center;
    
}


#contenido4{
    width: 1404px;
    height: 450px;
    float: left;
    background: white;
}

#d{
    width: 1404px;
    height: 520px;
    float: left;
    background: white;
}


.con41{
    margin-bottom: 25px;
    height: 430px;
    float: left;
    background: #ECECED;
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 25px;
    
}

.con41>div:first-child{
    width: 92%;
    height: 350px;
    margin-left:4%;
    margin-right: 4%;
    float:left;
}

.con41>div:nth-child(2){
    width: 92%;
    height: 350px;
    margin-left: 4%;
    margin-right: 4%;
    float:left;
}

.con41>div:nth-child(3){
    width: 92%;
    height: 350px;
    margin-left: 4%;
    margin-right: 4%;
    float:left;
}

.con41>div:last-child{
    width: 92%;
    height: 350px;
    margin-left: 4%;
    margin-right: 4%;
    float:left;
}

.c41a{
    width: 40%;
    height: 130px;
    float: left;
}

.c41b{
    width: 60%;
    height: 130px;
    float: left;
}

.con41>.c41{
    width: 40%;
    height: 410px;
    float: left;
}


.con41>.c41c{
    width: 60%;
    height: 410px;
    float: left;
}

.con41>div>.c41>.c41a>.imgfolder{
    width: 100px;
    height: 100px;
    background: url('../img/icono1.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}

.con41>div>.c41>.c41a>.imgtabla{
    width: 100px;
    height: 100px;
    background: url('../img/icono2.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}


.con41>div>.c41>.c41a>.imgperson{
    width: 100px;
    height: 100px;
    background: url('../img/icono3.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}


.con41>div>.c41>.c41a>.imgnota{
    width: 100px;
    height: 100px;
    background: url('../img/icono4.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}


.con41>div>.c41>.c41b>h2{
    font-family: calibri;
    color: black;
    font-size: 20pt;
    margin:0;
    margin-top: 25px;
    font-weight: bold;
}

.con41>div>.c41c>p{
  font-family: calibri;
  font-size: 13pt;
  font-weight: normal;
  text-align: left;
  color: #212121;
  margin-left: 5%;
  line-height: 16pt;
  padding: 0;
  margin:0;
}


#pie{
  width: 100%;
  height: 90px;
  float: left;
  background: black;
}

#pie>p{
  text-align: center;
  font-weight: normal;
  color:white;
  font-family: agency fb;
  font-size: 16pt;
  margin:0;
  margin-top: 10px;
}

