@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #c3db51;
	height: 60px;
	float: left;
}


.child1{
	width: 55%;
	height: 60px;
	background: #629398;
	float: left;
}


.child2{
	width: 44.6%;
	float: left;
	background: #e89ec1;
	height: 60px;
}


.a{
	width: 45%;
	float: left;
	height: 60px;
	background: #3aa930
}


.b{
	width: 55%;
	float: left;
	height: 60px;
	background: #b8de35;
}


.c{
	width: 27%;
	float: left;
	height: 60px;
	background: #da9F75;
}


.d{
	width: 19%;
	float: left;
	height: 60px;
	background: #d6a238;
}


.e{
	width: 27%;
	float: left;
	height: 60px;
	background: #859e77;
}


.f{
	width: 27%;
	float: left;
	height: 60px;
	background: #cbb442;
}


.g{
	width: 100%;
	float: left;
	height: 400px;
	background: #e89ec1;
}

.h{
	width: 100%;
	float: left;
	height: 50px;
	background: #a4a989;
}


.i{
	width: 25%;
	float: left;
	height: 600px;
	background: #57700b;
	margin-left: 6%
}


.i1{
	width: 100%;
	float: left;
	height: 300px;
	background: #b8ec19;
}


.i2{
	width: 100%;
	float: left;
	height: 50px;
	background: #066465;
}


.i3{
	width: 100%;
	float: left;
	height: 180px;
	background: #999d9d;
}


.i4{
	width: 100%;
	float: left;
	height: 70px;
	background: #eca713;
}


.i5{
	width: 50%;
	float: left;
	height: 70px;
	background: #b8ec19;
	margin-left: 25%
}


.j{
	width: 25%;
	float: left;
	height: 600px;
	background: #57700b;
	margin-left: 6%
}


.j1{
	width: 100%;
	float: left;
	height: 300px;
	background: #b8ec19;
}


.j2{
	width: 100%;
	float: left;
	height: 50px;
	background: #066465;
}


.j3{
	width: 100%;
	float: left;
	height: 180px;
	background: #999d9d;
}


.j4{
	width: 100%;
	float: left;
	height: 70px;
	background: #eca713;
}


.j5{
	width: 50%;
	float: left;
	height: 70px;
	background: #b8ec19;
	margin-left: 25%
}


.k{
	width: 25%;
	float: left;
	height: 600px;
	background: #57700b;
	margin-left: 6%
}


.k1{
	width: 100%;
	float: left;
	height: 300px;
	background: #b8ec19;
}


.k2{
	width: 100%;
	float: left;
	height: 50px;
	background: #066465;
}


.k3{
	width: 100%;
	float: left;
	height: 180px;
	background: #999d9d;
}


.k4{
	width: 100%;
	float: left;
	height: 70px;
	background: #eca713;
}


.k5{
	width: 50%;
	float: left;
	height: 70px;
	background: #b8ec19;
	margin-left: 25%
}


.seccion3{
	width: 100%;
	float: left;
	height: 400px;
	background: #132d3f;
}

.l{
	width: 50%;
	float: left;
	height: 400px;
	background: #456510;
}

.m{
	width: 50%;
	float: left;
	height: 400px;
	background: #7d9358;
}

.m1{
	width: 100%;
	float: left;
	height: 70px;
	background: #22628e;
	margin-top: 75px;
}

.m2{
	width: 50%;
	float:left;
	height: 70px;
	background: #23313b;
	margin-left: 50%

}

.m3{
	width: 100%;
	float: left;
	height: 70px;
	background: #6499bd;
}

.m4{
	width: 100%;
	float: left;
	height: 70px;
	background: #054c7d;
}

.m5{
	width: 30%;
	float: left;
	margin-left: 40%;
	height: 70px;
	background: #2b2e30;
}

.seccion4{
	width: 100%;
	float: left;
	height: 500px;
	background: #456e8a;
}


.n{
	width: 60%;
	float: left;
	height: 500px;
	background: #33aafb;
}

.ñ{
	width: 40%;
	float: left;
	height: 500px;
	background: #8bbe37;
}

.n1{
	width: 100%;
	float: left;
	height: 100px;
	background: #525d40;
}

.n2{
	width: 100%;
	float: left;
	height: 350px;
	background: #548406;
}

.n2_1{
	width: 35%;
	float: left;
	margin-left: 1%;
	height: 350px;
	background: #aed966;
}

.n2_2{
	width: 60%;
	float: left;
	margin-left: 3%;
	height: 350px;
	background: #aed966;
}

.n2_1_1{
	width: 100%;
	float: left;
	height: 90px;
	background: #33aafb;
}

.n2_1_2{
	width: 100%;
	float: left;
	height: 90px;
	background: #097cbd;
	margin-top: 10px;
}

.n2_1_3{
	width: 100%;
	float: left;
	height: 135px;
	background: #097cbd;
	margin-top: 20px;
}

.n3{
	width: 100%;
	float: left;
	height: 50px;
	background: #882e7a;
}

.ñ1{
	width: 98%;
	float: left;
	height: 90px;
	background: #0687af;
	margin-top: 80px;
	margin-left: 1%;
}

.ñ2{
	width: 98%;
	float: left;
	height: 90px;
	background: #0687af;
	margin-top: 70px;
	margin-left: 1%;
}

.ñ3{
	width: 20%;
	float: left;
	margin-left: 60%;
	height: 90px;
	background: #901e73;	
}