@charset "utf-8";

body{
	background: #cfbb80;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #b26d6d;
	height: 60px;
	float: left;
}

.child1{
	width: 80%;
	height: 60px;
	background: #b26d6d;
	float: left;
}


.child2{
	width: 20%;
	float: left;
	background: #e89ec1;
	height: 60px;
}


.a{
	width: 5%;
	float: left;
	height: 60px;
	background: #b26d6d;
}

.b{
	width: 10%;
	float: left;
	height: 60px;
	background: #842c2c;
}

.c{
	width: 30%;
	float: left;
	height: 60px;
	background: #bf4545;
}

.d{
	width: 15%;
	float: left;
	height: 60px;
	background: #842c2c;
}

.e{
	width: 50%;
	float: left;
	height: 60px;
	background: #842c2c;
}

.f{
	width: 50%;
	float: left;
	height: 60px;
	background: #998041;
}

.g{
	width: 100%;
	float: left;
	height: 200px;
	background: #cfbb80;
	margin-left: 6%;
}

.g1{
	width: 10%;
	float: left;
	height: 90px;
	background: #998041;
	margin-left: 4%;
}

.g2{
	width: 8%;
	float: left;
	height: 90px;
	background: #bf4545;
	margin-left: 30%;
}

.g3{
	width: 5%;
	float: left;
	height: 90px;
	background: #bf4545;
	margin-left: 3%;
}

.g4{
	width: 5%;
	float: left;
	height: 90px;
	background: #bf4545;
	margin-left: 3%;
}

.g5{
	width: 5%;
	float: left;
	height: 90px;
	background: #bf4545;
	margin-left: 3%;
}

.g6{
	width: 5%;
	float: left;
	height: 90px;
	background: #bf4545;
	margin-left: 3%;
}

.g7{
	width: 5%;
	float: left;
	height: 90px;
	background: #bf4545;
	margin-left: 3%;
}

.g8{
	width: 5%;
	float: left;
	height: 90px;
	background: #bf4545;
	margin-left: 3%;
}

.g9{
	width: 100%;
	float: left;
	height: 5px;
	background: #842c2c;
	margin-left: 0%;
}

.h{
	width: 30%;
	float: left;
	height: 400px;
	background: #998041;
	margin-left: 8%;
}

.h1{
	width: 30%;
	float: left;
	height: 60px;
	background: #bf4545;
	margin-left: 8%;
	margin-top: 10%;
}

.h2{
	width: 80%;
	float: under;
	height: 240px;
	background: #bf4545;
	margin-left: 8%;
	margin-top: 30%;
}

.i{
	width: 30%;
	float: left;
	height: 500px;
	background: #998041;
	margin-left: 3%;
}