@charset "utf-8";

body{
	background: #000;
	width: 100%;
	height: auto;
	font-family: arial;
	float left;
	margin: 0;
}

.menu{
	width: 100%;
	background: #b26d6d;
	height: 115px;
	float: left;
}

.menu1{
	width: 100%;
	height: 40px;
	background: #b26d6d;
	float: left;
}

.m_1{
	width: 61%;
	float: left;
	height: 40px;
	background: #fff;
}


.m_2{
	width: 39%;
	float: left;
	height: 40px;
	background: #fff;
}


.telefono{
	width: 2%;
	float: left;
	background: #e89ec1;
	height: 30px;
	margin left:60%;
}


.numero{
	width: 10%;
	float: left;
	height: 30px;
	background: #b26d6d;
	margin left: 1%;
}

.compañeros{
	width: 8%;
	float: left;
	height: 30px;
	background: #842c2c;
	margin left: 1%;
}

.entrar{
	width: 5%;
	float: left;
	height: 30px;
	background: #bf4545;
	margin left: 1%;
}

.menu2{
	width: 100%;
	float: left;
	height: 60px;
	background: #842c2c;
}

.home{
	width: 3%;
	float: left;
	height: 60px;
	background: #842c2c;
	margin left: 50%;
}

.aboutus{
	width: 5%;
	float: left;
	height: 60px;
	background: #998041;
	margin left: 1%;
}

.prodservic{
	width: 10%;
	float: left;
	height: 60px;
	background: #cfbb80;
	margin-left: 1%;
}

.oilexperience{
	width: 15%;
	float: left;
	height: 60px;
	background: #998041;
	margin-left: 1%;
}

.contact{
	width: 7%;
	float: left;
	height: 60px;
	background: #bf4545;
	margin-left: 1%;
}

.log{
	width: 9%;
	float: left;
	height: 60px;
	background: #bf4545;
	margin-left: 5%;
}

.cintio1{
	width: 100%;
	float: left;
	height: 10px;
	background: #bf4545;
	float left;
}

.cintio2{
	width: 100%;
	float: left;
	height: 10px;
	background: #bf4545;
	float left;
}

.g6{
	width: 5%;
	float: left;
	height: 90px;
	background: #bf4545;
	margin-left: 3%;
}

.g7{
	width: 5%;
	float: left;
	height: 90px;
	background: #bf4545;
	margin-left: 3%;
}

.g8{
	width: 5%;
	float: left;
	height: 90px;
	background: #bf4545;
	margin-left: 3%;
}

.g9{
	width: 100%;
	float: left;
	height: 5px;
	background: #842c2c;
	margin-left: 0%;
}

.h{
	width: 30%;
	float: left;
	height: 400px;
	background: #998041;
	margin-left: 8%;
}

.h1{
	width: 30%;
	float: left;
	height: 60px;
	background: #bf4545;
	margin-left: 8%;
	margin-top: 10%;
}

.h2{
	width: 80%;
	float: under;
	height: 240px;
	background: #bf4545;
	margin-left: 8%;
	margin-top: 30%;
}

.i{
	width: 30%;
	float: left;
	height: 500px;
	background: #998041;
	margin-left: 3%;
}