@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #000;
	height: 60px;
	float: left;
}


.child1{
	width: 40%;
	height: 60px;
	background: #629398;
	float: left;
}

.a{
	width: 20%;
	float: left;
	height: 60px;
	background: #BF4545
}


.b{
	width: 55%;
	float: left;
	height: 60px;
	background: #b8de35;
}


.c{
	width: 27%;
	float: left;
	height: 60px;
	background: #da9F75;
}


.d{
	width: 19%;
	float: left;
	height: 60px;
	background: #d6a238;
}


.e{
	width: 27%;
	float: left;
	height: 60px;
	background: #859e77;
}