@charset "utf-8";

body{
	background: #000;
	width: 100%;
	height: auto;
	font-family: arial;
	float left;
	margin: 0;
}

.menu{
	width: 100%;
	background: #b26d6d;
	height: 115px;
	float: left;
}

.menu1{
	width: 100%;
	height: 40px;
	background: #b26d6d;
	float: left;
}

.m_1{
	width: 61%;
	float: left;
	height: 40px;
	background: #fff;
}


.m_2{
	width: 39%;
	float: left;
	height: 40px;
	background: #c67068;
}


.telefono{
	width: 9%;
	float: left;
	background: #e89ec1;
	height: 40px;
}


.numero{
	width: 40%;
	float: left;
	height: 40px;
	background: #b26d6d;
}

.compañeros{
	width: 27%;
	float: left;
	height: 40px;
	background: #e11402;
}

.entrar{
	width: 20%;
	float: left;
	height: 40px;
	background: #6f504d;
}

.menu2{
	width: 100%;
	float: left;
	height: 75px;
	background: #842c2c;
}



.logo{
	width: 15%;
	float: left;
	height: 75px;
	background: #842c2c;
	margin left: 3%;
}


.home{
	width: 6.5%;
	float: left;
	height: 75px;
	background: #842c2c;
	margin left: 3%;
}

.aboutus{
	width: 8.5%;
	float: left;
	height: 75px;
	background: #998041;
}

.prodservic{
	width: 15%;
	float: left;
	height: 75px;
	background: #cfbb80;
}

.oilexperience{
	width: 18%;
	float: left;
	height: 75px;
	background: #998041;
}

.contact{
	width: 9%;
	float: left;
	height: 75px;
	background: #bf4545;
}



.cintio1{
	width: 100%;
	float: left;
	height: 10px;
	background: #bf4545;
	float left;
}

.cintio2{
	width: 100%;
	float: left;
	height: 10px;
	background: #fca9a2;
	float left;
}


.carr{
	width: 100%;
	float:left;
	height: 425px;
	background: #7d514d;
}

.carr2{
	width: 42%;
	float:left;
	margin-top:130px;
	margin-left:3%;
	margin-bottom:30px;
	height: 275px;
	background: #be4f45;
}

.ourservices{
	width: 100%;
	float:left;
	height: 55px;
	background: #701810;
}

.no{
	width: 25%;
	float:left;
	margin-left: 5%;
	height: 45px;
	margin-top: 5px;
	background: #fb7b6f;
}


.text1{
	width: 100%;
	float:left;
	height: 165px;
	background: #4a4140;
}

.tex2_0{
	width: 90%;
	float:left;
	margin-left: 3%;
	height: 155px;
	margin-top: 5px;
	background: #646f3c;
}

.form1{
	width: 100%;
	float:left;
	height: 40px;
	background: #B1DBD5;
}

.form2{
	width: 15.5%;
	float:left;
	margin-left: 80%;
	height: 40px;
	background: #FFFF;
}