@charset "UTF-8";

body{
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: arial;
}


.contenedor{
	display: block;
	margin:auto;
	width: 40%;
	height: auto;
	background: white;
	min-height: 60px;
}


header{
	background:#E8F285;
	height: 170px;
	width: 100%;
	float: left;
}


.cl1{
	width: 30%;
	height: 170px;
	float: left;

}


.cl2{
	width: 70%;
	height: 170px;
	float: left;
}


.img1{
	background: url('../img/icon.gif');
	width: 70px;
	height: 70px;
	margin: auto;
	display: block;
	margin-top: 50px;
}