@charset "UTF-8";

body{
	background: white;
	margin: 0;
	padding: 0;
	font-family: arial;	
}

header{
	background: #b6640e;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	float: left;
}



#contenido1{
	width: 100%;
	height: 60px;
	float: left;
	margin-left: 2%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.imag1{
	background: url('../img/icono_logo.png');
	width: 33px;
	height: 22px;
	margin: auto;
	display: block;
	float: left;
	margin-top: 12px;
	margin-left: 0.5%;
}


#contenido1>li{
	width: 11.5%;
	height: 30px;
	display: block;
	float: left;
	text-align: center;
	font-family: calibri;
	padding-top: 14px;
	border-right: 0.1px solid #d17d25;
	color: white;
	margin-left: 5px
}


#contenido1>li>a{
	text-decoration: none;
	color: white;
	text-align: center;
}


article{
	width: 100%;
	height: 500px;
	background: url('../img/crecimiento2.png') no-repeat;
	float: left;
	border-bottom: 20px: solid white;
}

.c1{
	width: 40%;
	height: 500px;
	float: left;
}

.c2{
	width: 60%;
	height: 500px;
	float: left;
}

.hombre{
	background: url('../img/persona.png');
	width: 567px;
	height: 500px;
	display: block;
	margin: 0;
	float: left;
}


.c2> div:first-child >h2{
	font-weight: bold;
	margin: 0;
	padding: 0;
	font-size: 24pt;
	color: #b6640e;
	text-align: left;
	font-family: tahoma;
	
}

.c2> div:first-child >p{
	margin: 0;
	padding: 0;
	font-weight: lighter;
	line-height: 25pt;
	font-family: calibri;
	color: gray;
	text-align: left;
	font-size: 14pt;
	letter-spacing: 3px;
}


.c2> div:last-child >button{
	text-align: center;
	font-weight: normal;
	font-size: 14pt;
	color: #b6640e;
	font-family: calibri;
	margin-left: 3%;
	border: 1px solid #b6640e;
	background: white;
	width: 25%;
	height: 45px;
	border-radius: 5px;
	float: left;
	margin-top: 35px;
}


.contenido3{
	width: 100%;
	height: 400px;
	float: left;
	background: black;
	border-bottom: 20px: solid white;
}

.c3{
	width: 24%;
	height: 400px;
	float: left;
	background: #f0f0f0;
	margin-left: 0.5%;
	
}