@charset "UTF-8";

body{
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: arial;
}


.contenedor{
	display: block;
	margin:auto;
	width: 50%;
	height: auto;
	background: white;
	min-height: 60px;
}


header{
	background:#E8B826;
	height: 170px;
	width: 100%;
	float: left;
}


.cl1{
	width: 30%;
	height: 170px;
	float: left;

}


.cl2{
	width: 70%;
	height: 170px;
	float: left;
}


.img1{
	background: url('../img/icon.gif');
	width: 70px;
	height: 70px;
	margin: auto;
	display: block;
	margin-top: 50px;
}


.cl2 > div:first-child > h3{
color: white;
font-size: 18pt;
letter-spacing: 12px;
text-align: left;
font-weight: normal;
font-family:  arial;
margin: 0;
padding: 0;
margin-top: 45px;

}

/*
.cl2 > div:nth(2)-child > h1{

}
*/

.cl2 > div:last-child > h1{
	color: #000;
	text-align: left;
	font-size: 25pt;
	font-weight: bold;
	font-family: tahoma;
	margin: 0;
	padding: 0;

}


article{
	width: 100%;
	float: left;
	background: white;
	height: auto;
	border-bottom: 1px solid #c3c3c3;

}


section > article:first-child > div > h2{
	color: black;
	text-align: left;
	font-family: arial;
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-size: 22pt;
}


section > article:first-child > div > p{
	color: black;
	text-align: left;
	font-family: arial;
	font-weight: lighter;
	padding: 0;
	margin: 0;
	font-size: 12pt;
	line-height: 20pt;
}


section > article:first-child > div{
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
	float: left;
	margin-top: 40px;
	margin-bottom: 40px;

}


.p13{
	width: 35%;
	height: auto;
	float: left;
}


.p14{
	width: 55%;
	height: auto;
	float: left;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
}


.img2{
	background: url('../img/article1.png');
	width: 115%;
	height: 115px;
	float: right;
	margin-top: 15px;
}


.p14 > div:first-child > p{
	color: gray;
	text-align: left;
	font-size: 12pt;
	margin: 0;
	padding: 0;
	font-weight: lighter;
	line-height: 16px;
}


.p14 > div:first-child > button{
	border: none;
	background: red;
	width: 35%;
	height: 30px;
	float: left;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
}