@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #c3db51;
	height: 60px;
	float: left;
}


.child1{
	width: 55%;
	height: 60px;
	background: #629398;
	float: left;
}


.child2{
	width: 44.6%;
	float: left;
	background: #e89ec1;
	height: 60px;
}


.a{
	width: 45%;
	float: left;
	height: 60px;
	background: #3aa930
}


.b{
	width: 55%;
	float: left;
	height: 60px;
	background: #b8de35;
}


.c{
	width: 27%;
	float: left;
	height: 60px;
	background: #da9F75;
}


.d{
	width: 19%;
	float: left;
	height: 60px;
	background: #d6a238;
}


.e{
	width: 27%;
	float: left;
	height: 60px;
	background: #859e77;
}


.f{
	width: 27%;
	float: left;
	height: 60px;
	background: #cbb442;
}


.g{
	width: 100%;
	float: left;
	height: 400px;
	background: #e89ec1;
}

.h{
	width: 100%;
	float: left;
	height: 50px;
	background: #a4a989;
}


.i{
	width: 25%;
	float: left;
	height: 600px;
	background: #57700b;
	margin-left: 6%
}


.i1{
	width: 100%;
	float: left;
	height: 300px;
	background: #b8ec19;
}


.i2{
	width: 100%;
	float: left;
	height: 50px;
	background: #066465;
}


.i3{
	width: 100%;
	float: left;
	height: 180px;
	background: #999d9d;
}


.i4{
	width: 100%;
	float: left;
	height: 70px;
	background: #eca713;
}


.i5{
	width: 50%;
	float: left;
	height: 70px;
	background: #b8ec19;
	margin-left: 25%
}


.j{
	width: 25%;
	float: left;
	height: 600px;
	background: #57700b;
	margin-left: 6%
}


.j1{
	width: 100%;
	float: left;
	height: 300px;
	background: #b8ec19;
}


.j2{
	width: 100%;
	float: left;
	height: 50px;
	background: #066465;
}


.j3{
	width: 100%;
	float: left;
	height: 180px;
	background: #999d9d;
}


.j4{
	width: 100%;
	float: left;
	height: 70px;
	background: #eca713;
}


.j5{
	width: 50%;
	float: left;
	height: 70px;
	background: #b8ec19;
	margin-left: 25%
}


.k{
	width: 25%;
	float: left;
	height: 600px;
	background: #57700b;
	margin-left: 6%
}


.k1{
	width: 100%;
	float: left;
	height: 300px;
	background: #b8ec19;
}


.k2{
	width: 100%;
	float: left;
	height: 50px;
	background: #066465;
}


.k3{
	width: 100%;
	float: left;
	height: 180px;
	background: #999d9d;
}


.k4{
	width: 100%;
	float: left;
	height: 70px;
	background: #eca713;
}


.k5{
	width: 50%;
	float: left;
	height: 70px;
	background: #b8ec19;
	margin-left: 25%
}

