@charset "utf-8";

body{
	background: gray;
	margin:0;
	padding:0;
	font-family: arial;
}
.caja1{
	display: block;
	margin: auto;
	width: 90%;
	height: auto;
	background: black;
	min-height: 300px;
}
header{
	background:#FCBC78;
	height: 300px;
	width: 100%;
	float: left;

}
.box1{
    width: 30%;
    height:300px;
    float: left;
  
}
.box2{
	width: 65%;
	height:300px;
	background:;
	float: right;
}
.img01{
	background: url('../img/logo-header.png');
	width:275px;
	height:274px;
	margin: auto;
	display: block;
	float: left; 
}
.box2 > div:first-child > h3{
	color:#231302;
	font-size: 38pt;
	letter-spacing: 1px;
	text-align: left;
	font-weight: normal;
	font-family: arial black;
	margin: 0;
	padding: 0;
	margin-top: 100px;

}
.sub > h6{
	color: black;
	text-align: center;
	font-size: 18pt;
	font-weight: normal;
	font-family: arial;
	letter-spacing: 3pt;
	padding: 0;
	margin-left: 30%;
}

#cuerpazo{
	display: block;
	margin: auto;
	width: 90%;
	height: auto;
	min-height: 250px;

}

article{
	background:white;
	height: 250px;
	width: 100%;
	float: left;
	padding: 0;
	margin:0;
	border-bottom:2px solid gray; 

}
section>article:first-child>div>h2{
	color: black;
	text-align:left;
	font-family:arial black;
	padding: 0;
	margin:0;
	font-size:18pt;
	padding-top:20px;
	font-weight:normal;
	margin-left: 3%;
	margin-right: 3%;
	letter-spacing: 3pt;
}
section>article:first-child>div>p{
	color: black;
	text-align: left;
	font-size: 14pt;
	font-weight: normal;
	font-family: arial;
	letter-spacing: 3px;
	padding: 0;
	margin:0;
	margin-left: 3%;
	margin-right: 3%;
}
.seg2{
	width: 100%;
	height:155px;
	float: left;
	background: white;
	border-bottom: 20px solid #ffc266;
}
.imgspace{
	width: 20%;
    height:155px;
    float: left;
    background: white;
}
.imgxx{
	background: url('../img/img1.png.');
	width:263px;
	height:155px;
	margin: auto;
	display: block;
	float: left; 
}
.textcup{
	width: 72%;
	height:155px;
	float: left;
	background: white;
}
.textcup >h2{
    color: black;
	text-align:left;
	font-family:arial black;
	padding: 0;
	margin:0;
	font-size:18pt;
	padding-top:20px;
	font-weight:normal;
	margin-left: 5%;
	margin-right: 3%;
	letter-spacing: 3pt;
}
.textcup >p{
	color: black;
	text-align: left;
	font-size: 14pt;
	font-weight: normal;
	font-family: arial;
	letter-spacing: 3px;
	padding: 0;
	margin:0;
	margin-left: 5%;
	
}
.textcup>h3{
	color: black;
	text-align: left;
	font-size: 14pt;
	font-weight: normal;
	font-family: arial black;
	letter-spacing: 3px;
	padding: 0;
	margin:0;
	margin-left: 65%;
}

.line{
    width: 100%;
	height:20px;
	float: left;
	background: #ffc266;
	border-top: 2px solid gray;
	
}
.seg3shop{
	width: 100%;
	height:200px;
	float: left;
	background: white;

}
.boxtext1{
	width: 50%;
	height:200px;
	float: left;
	background: white;
}
.boxtext1>h2{
	color: black;
	text-align: left;
	font-size: 18pt;
	font-weight: normal;
	font-family: arial black;
	letter-spacing: 3px;
	padding: 0;
	margin:0;
	margin-left: 10%;
	margin-top: 20px;
}
.boxtext1>p{
	color: black;
	text-align: left;
	font-size: 14pt;
	font-weight: normal;
	font-family: arial;
	letter-spacing: 3px;
	padding: 0;
	margin:0;
	margin-left: 10%;
}
.boxtext2{
	width: 50%;
	height:200px;
	float: left;
	background: white;
}
.boxtext2>h2{
	color: black;
	text-align: left;
	font-size: 18pt;
	font-weight: normal;
	font-family: arial black;
	letter-spacing: 3px;
	padding: 0;
	margin:0;
	margin-left: 10%;
	margin-top: 20px;
}
.boxtext2>p{
	color: black;
	text-align: left;
	font-size: 14pt;
	font-weight: normal;
	font-family: arial;
	letter-spacing: 3px;
	padding: 0;
	margin:0;
	margin-left: 10%;
	
}
.seg4pster{
	width: 100%;
	height:500px;
	float: left;
	background: white;
}
.segmilon{
	width: 100%;
	height:200px;
	float: left;
	background: white;
}
.segmilon>h2{
	color: black;
	text-align: left;
	font-size: 24pt;
	font-family: arial black;
	letter-spacing: 4pt;
	padding: 0;
	margin:0;
	margin-left: 10%;
	margin-top:30px; 
}
.segmilon>p{
	color: black;
	text-align: left;
	font-size: 14pt;
	font-weight: normal;
	font-family: arial;
	letter-spacing: 3px;
	padding: 0;
	margin:0;
	margin-left: 10%;
	margin-right: 10%;
}
.pie{
	width: 100%;
	height:200px;
	float: left;
	background: #803300;
}
.hijo1{
	width: 60%;
	height:200px;
	float: left;
	background: #803300;
}
.sub1hijo1{
	width: 30%;
	height:200px;
	float: left;
	background: #803300;
	

}
.sub2hijo2{
	width: 50%;
	height:200px;
	float: left;
	background: #803300;

}
.sub1hijo1>h6{
	color: white;
	text-align: left;
	font-size: 14pt;
	font-weight: normal;
	font-family: arial;
	letter-spacing: 3px;
	padding: 0;
	margin:0;
	margin-left: 50%;
    margin-top: 50px;
}
.valdes{
	height:40px; 
	width:100%;
	margin: auto;
	float: left;
	

}
.logo{

	width:193px;
	height:35px;
	float: left; 
}
.pucho{
	height:200px; 
	width:20%;
	float: left;
	
}
button{
	border-style:none;
	width: 80%;
	height: 60px;
	margin-top: 30px;
	float:left;
	margin-left: 10%;
	background:#FFAC3B;
	color:brown;
	font-family: arial black;
}