@charset "utf-8";

body{
	background: #000; 
	width:100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
#menu{
	width: 100%;
	background: gray;
	height: 60px;
	float: left;
}
.child1{
	width: 55%;
	height: 60px;
	background: #629398;
	float: left; 	
}
.child2{
	width: 45%;
	float: left;
	background: #e89ec1;
	height: 60px;
}
.a{
	width: 50%;
	float:left;
	height: 60px;
	background:#3aa930;
}
.b{
	width: 30%;
	float:left;
	height: 60px;
	background:#b8de35;
}
.c{
	width: 35%;
	float:left;
	height: 60px;
	background: #da9f75;
}
.d{
	width: 40%;
	float:left;
	height: 60px;
	background:#b8de35;
}
.sec2{
	width: 100%;
	float: left;
	height:500px;
	background:#33a4bd;
	border: 700px border-color:blue;
}
.sec3{
	width: 100%;
	float: left;
	height:500px;
	background:yellow;
	
}
.sec31{
	width: 100%;
	float:left;
	height:20px;
	background:red;
}
.sec32{
	width:25%;
	float: left;
	height:480px;
	background: white;
	margin-left:6%
}
.sech321{
	width: 100%;
	float: left;
	height:240px;
	background: orange;
}
.sech322{
	width:100%;
	float: left;
	height: 240px;
	background:blue;
}
.secn321{
	width: 100%;
	float: left;
	height: 50px;
	background:#a26060;
}
.senn322{
	width: 100%;
	float: left;
	height: 110px;
	background: #fe0303;
}
.senn323{
	width: 40%;
	float: left;
	height:80px;
	background:#3aC00f;
	margin-left:30%;
}
.sec33{
	width:25%;
	float: left;
	height:480px;
	background: gray;
	margin-left:6%;
}
.sech331{
	width: 100%;
	float: left;
	height:240px;
	background: orange;
}
.sech332{
	width:100%;
	float: left;
	height: 240px;
	background:blue;
}
.secn331{
	width: 100%;
	float: left;
	height: 50px;
	background:#a26060;
}
.senn332{
	width: 100%;
	float: left;
	height: 110px;
	background: #fe0303;
}
.senn333{
	width: 40%;
	float: left;
	height:80px;
	background:#3aC00f;
	margin-left:30%;
}
.sec34{
	width:25%;
	float: left;
	height:480px;
	background: gray;
	margin-left:6%;
}
.sech341{
	width: 100%;
	float: left;
	height:240px;
	background: orange;
}
.sech342{
	width:100%;
	float: left;
	height: 240px;
	background:blue;
}
.secn341{
	width: 100%;
	float: left;
	height: 50px;
	background:#a26060;
}
.senn342{
	width: 100%;
	float: left;
	height: 110px;
	background: #fe0303;
}
.senn343{
	width: 40%;
	float: left;
	height:80px;
	background:#3aC00f;
	margin-left:30%;
}
.sec4{
	width: 100%;
	float: left;
	height:600px;
	background:gray;
}
.sech41{
	width: 50%;
	float:left;
	height: 600px;
	background:#fe39fb;
}
.sech42{
	width:50%;
	float:left;
	height: 600px;
	background:#9dc736;
}
.secn421{
	width: 100%;
	float:left;
	height: 100px;
	background:white;
}
.secn422{
	width: 40%;
	float:left;
	height: 100px;
	background:red;
}
.secn423{
	width: 60%;
	float:left;
	height: 100px;
	background:purple;

}
.secn424{
	width: 100%;
	float:left;
	height: 100px;
	background:#2f3c0e;
}
.secn425{
	width: 100%;
	float:left;
	height: 100px;
	background:#fd6c24;
}

.secn426{
	width: 30%;
	float:left;
	height:100px;
	background:#63280C;
	margin-left: 40%;
}
.secn427{
	width: 100%;
	float:left;
	height: 200px;
	background:#2061ae;
}
.sec5{
	width: 100%;
	float: left;
	height: 650px;
	background: gray;
}
.sech51{
	width: 55%;
	float:left;
	height: 600px;
	background:#ff5419;
}
.secn51{
	width: 100%;
	float: left;
	height: 100px;
	background: gray;
}
.secn52{
	width: 100%;
	float:left;
	height: 100px;
	background: violet;
}
.secn53{
	width: 50%;
	float:left;
	height: 100px;
	background: blue;
	margin-left: 50%;
}
.secn54{
	width: 100%;
	float:left;
	height: 100px;
	background: red;
}
.secn55{
	width:50%; 
	float:left;
	height: 100px;
	background:white;
	margin-left: 50%;
}
.secn56{
	width: 100%;
	float:left;
	height: 300px;
	background: cyan;
}
.secn57{
	width: 50%;
	float:left;
	height: 300px;
	background:salmon;
	margin-left: 50%;
}
.sech52{
	width: 45%;
	float: left;
	height: 650px;
	background: orange;
}
.secn521{
	width: 100%;
	float: left;
	height: 100px;
	background:orange;
}
.secn523{
	width: 100%;
	float:left;
	height:100px;
	background:green;
}
.secn524{
	width: 100%;
	float:left;
	height: 50px;
	background: orange;
}
.secn525{
	width: 100%;
	float:left;
	height:100px;
	background: green;
}
.secn526{
	width: 30%;
	float:left;
	height: 100px;
	background:blue;
	margin-left:50%;
}
.sec6{
    width: 100%;
	float: left;
	height:400px;
	background:red;
}
.sech61{
	width: 40%;
	float:left;
	height:400px;
	background:green;
}
.sech62{
	width: 60%;
	float:left;
	height: 400px;
	background:cadetblue;
}
.sech612{
	width: 2%;
	float:right;
	height: 400px;
	background: black;
}
.secn61{
	width: 100%;
	height:200px;
	background: white;
	float: left;
}

.secn62{
	width: 25%;
	float:left;
	height:100px;
	background:white;
}
.secn63{
	width:30%;
	float:left;
	height: 100px;
	background:yellow;
}
.secn64{
	width: 2%;
	float:left;
	height: 100px;
	background:white;
}
.secn65{
	width: 10%;
	float:left;
	height: 100px;
	background:yellow;
}
.secn66{
	width: 2%;
	float:left;
	height: 100px;
	background: white;
}
.secn67{
	width: 10%;
	float:left;
	height: 100px;
	background:yellow;
}
.secn68{
	width: 2%;
	float:left;
	height: 100px;
	background: white;
}
.secn69{
	width: 10%;
	float:left;
	height: 100px;
	background:yellow;
}

/*eje2*/


#supermenu{
	width: 100%;
	background: gray;
	height: 60px;
	float: left;
}

.hsm1{
	width: 60%;
	background:purple;
	height: 60px;
	float: left;
}
.hsm2{
	width: 15%;
	height: 60px;
	float: left;
	background: yellow;
}
.hsm3{
	width: 12.5%;
	height: 60px;
	float: left;
	background: blue;
}
.hsm4{
	width: 12.5%;
	height: 60px;
	float: left;
	background: green;
}
#supermenu2{
	width: 100%;
	height:80px;
	float:left;
    background:#ffbba3; 
}













