@charset "utf-8";

body{
	background: gray;
	margin:0;
	padding:0;
	font-family: arial;
}
.caja1{
	display: block;
	margin: auto;
	width: 50%;
	height: auto;
	background: black;
	min-height: 60px; 
}
header{
	background: white;
	height: 150px;
	width: 100%;
	float: left;
}