@charset "utf-8";

body{
	background: black;
	width:100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#supermenu1{
	width: 100%;
	background: gray;
	height: 60px;
	float:left;
}

.hij1menu1{
	width: 50%;
	background: yellow;
	height: 60px;
	float:left;
}
.hij2menu1{
	width: 20%;
	background: red;
	height: 60px;
	float:left;

}
.hij3menu1{
	width: 10%;
	background: blue;
	height: 60px;
	float:left;
}
.hij4menu1{
	width: 10%;
	background: salmon;
	height: 60px;
	float:left;
}
.hij5menu1{
	width: 10%;
	background: green;
	height: 60px;
	float:left;
}
.menu2{
	width: 100%;
	background: gray;
	height: 60px;
	float:left;
}
.hij1menu2{
	width:30%;
	background: #ff5733;
	height: 60px;
	float:left;
}
.hij2menu2{
	width: 20%;
	background: blue;
	height: 60px;
	float:left;
}
.hij3menu2{
	width: 10%;
	background: white;
	height: 60px;
	float:left;
}
.hijo4menu2{
	width: 10%;
	background: orange;
	height: 60px;
	float:left;
}
.hijo5menu2{
	width: 10%;
	background: violet;
	height: 60px;
	float:left;
}
.hijo6menu2{
	width: 10%;
	background:#33ff58;
	height: 60px;
	float:left;
}
.hijo7menu2{
	width: 10%;
	background:#ffe033;
	height: 60px;
	float:left;
}
.hijo8menu2{
	width: 10%;
	background:#ff6433;
	height: 60px;
	float:left;
}
.hijo9menu2{
	width: 10%;
	background:yellow;
	height: 60px;
	float:left;
}
.ultralphaseg{
	width:100%;
	background:gray;
	height: 800px;
	float: left;
}
.h1ultra{
	width:100%;
	background:#33fcff;
	height: 400px;
	float: left;
}
.n1ultra{
	width:50%;
	background:purple;
	height: 400px;
	float: left;

}
.ultranie1{
	width:100%;
	background:gray;
	height: 50px;
	float: left;

}
.ultranie2{
	width:20%;
	background:white;
	height: 50px;
	float: left;

}
.ultranie3{
	width:100%;
	background:blue;
	height: 300px;
	float: left;
}

.h2ultra{
	width:100%;
	background:#fcff33;
	height: 400px;
	float: left;
}
.nie1h2ultra{
	width:40%;
	background:blue;
	height: 400px;
	float: left;
	margin-left: 30%;
}
.superomega{
	width:100%;
	background:red;
	height: 400px;
	float: left;
	
}
.hi1superomega{
	width:33.33%;
	background:violet;
	height: 400px;
	float: left;
}
.hi2superomega{
	width:33.33%;
	background:#280439;
	height: 400px;
	float: left;
}
.ni1superomega{
	width:100%;
	background:green;
	height: 50px;
	float: left;

}
.ni2superomega{
	width:100%;
	background:gray;
	height: 300px;
	float: left;
}
.ni3superomega{
	width:100%;
	background:blue;
	height: 50px;
	float: left;
}
.nie4superomega{
	width:30%;
	background:green;
	height: 50px;
	float: right;
}
.hi3superomega{
	width:33.33%;
	background:violet;
	height: 400px;
	float: left;
}
.ni13superomega{
	width:100%;
	background:red;
	height: 50px;
	float: left;

}
.ni23superomega{
	width:100%;
	background:yellow;
	height: 300px;
	float: left;
}
.ni33superomega{
	width:100%;
	background:brown;
	height: 50px;
	float: left;
}
.nie43superomega{
	width:30%;
	background:salmon;
	height: 50px;
	float: right;
}
.gigalphaseg{
	width: 100%;
	background:#f2e09a;
	height: 600px;
	float: left;
}
.hijo1gigalpha{
	width: 100%;
	background:purple;
	height: 550px;
	float: left;
}
.nie1alpha{
	width: 40%;
	background:white;
	height: 500px;
	float:left;
	margin-top: 25px;
	margin-left: 1%;
}
.nie2alpha{
	width: 55%;
	background:white;
	height:245px;
	float: left;
	margin-top: 25px;
	margin-left: 2%;
}
.nienie1{
	width: 50%;
	background:gray;
	height: 245px;
	float: left;
}

.nienie2{
	width: 50%;
	background:red;
	height: 245px;
	float: left;
}
.nie3alpha{
	width: 55%;
	background:white;
	height:245px;
	float: left;
	margin-top: 10px;
	margin-left: 2%;
}
.nienie3alpha{
	width: 50%;
	background:blue;
	height: 245px;
	float: left;
}
.nienie4alpha{
	width: 50%;
	background:yellow;
	height: 245px;
	float: left;
}

.metalgigaseg{
	width: 100%;
	background:gray;
	height: 300px;
	float: left;
}
.metalhijo1{
	width: 50%;
	background:blue;
	height: 300px;
	float: left;
}
.metalhijo2{
	width: 50%;
	background:red;
	height: 300px;
	float: left;

}

.broncegigaseg{
	width: 100%;
	background:gray;
	height: 300px;
	float:left;
}