@charset "utf-8";

body{
	background: gray;
	font-family: arial;
	margin:0;
	padding: 0;

}

#cabezaso{
	height: 60px;
	width: 100%;
	background: #B45F04;
	margin: 0;
	padding: 0;
	float:left;
}
#cabezaso>div>ul>li>a{
	text-decoration: none;
	font-weight: normal;
	font-size: 12pt;
	color:white;
	text-align: center;
}
#cabezaso>div>ul>li{
width: 10%; 
list-style:none;
display: block;
float: left;
height: 40px;
margin: 0;
padding: 0;
text-align: center;
padding-top:20px;  
color:white;
border-right: 1px solid orange;
}
ul{
	margin: 0;
	padding: 0;
}
a:hover{
	color:white ;
}
li:hover{
	background: orange ;
}
