@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}

html{
	background: rgb(207, 205, 205);
	font-family: arial, helvetica, "calibri";
}

.top-section{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	background: rgb(255, 255, 255);
	font-size: 12px;
}

header{
	background: rgb(221, 175, 118);
	width: 100%;
	min-height: 300px;
	float: left;
}

.imagen2{
	 background-image: url("../img/logo-header.png");
	 width: 275px;
	 height: 274px;
	 float: left;
}

header h1{
	margin-top: 10%;
	margin-right: 5%;
	color: rgb(38, 22, 11);
	font-size: 40px;
	text-align: right;
	font-weight: bold;
	font-family: arial;
}

header  h4{
	margin-top: 10px;
	margin-right: 10%;
	font-family: "calibri" !important;
	font-size: 20px;
	text-align: right;
	color: rgb(0, 0, 0);
	letter-spacing: 2px;
}

article{
	border-bottom: 2px solid rgb(207, 205, 205);
	width: 100%;
	float: left;
	height: auto;
	background: white;
}

.mid1{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	min-height: 200px;
	float: left;
	margin-bottom: 2%;
	margin-top: 2%;
	
}

.mid1 > div > h3{
	font-weight: bold;
	color: rgb(0, 0, 0);
	text-align: left;
	font-size: 28px;
	line-height: 2;
	font-family: "calibri";
} 

.mid1 > div > p{
	font-size: 18px;
	text-align: left;
	line-height: 1.7em;
	color: rgb(0, 0, 0);
	font-family: "calibri";
}

.mid-imagen{
	 background-image: url("../img/img1.png");
	 width: 263px;
	 height: 155px;
	 float: left;
}

.mid-p2 > div > h3{
	font-weight: bold;
	color: rgb(0, 0, 0);
	text-align: left;
	font-size: 28px;
	line-height: 2;
	font-family: "calibri";
	margin-left: 35%;
} 
.mid-p2 > div > p{
	font-size: 18px;
	text-align: left;
	color: rgb(0, 0, 0);
	font-family: "calibri";
	margin-left: 35%;
}

.mid-p3{
	width: 49%;
	float: left;
}
.mid-p4{
	width: 49%;
	float: left;
}
.mid-p3 > div > h3{
	font-weight: bold;
	color: rgb(0, 0, 0);
	text-align: left;
	font-size: 28px;
	line-height: 2;
	font-family: "calibri";
	margin-left: 10%;
	margin-right: 5%;
	margin-top: 3%;
}
.barra{
	border-top: 20px solid rgb(221, 175, 118);
	min-height: auto;
}
.mid-p3 > div > p{
	font-size: 18px;
	text-align: left;
	color: rgb(0, 0, 0);
	font-family: "calibri";
	margin-left: 10%;
	margin-bottom: 5%;
}

.mid-p4 > div > p{
	font-size: 18px;
	text-align: left;
	color: rgb(0, 0, 0);
	font-family: "calibri";
	margin-left: 5%;
	margin-bottom: 5%;
}
.mid-p4 > div > h3{
	font-weight: bold;
	color: rgb(0, 0, 0);
	text-align: left;
	font-size: 28px;
	line-height: 2;
	font-family: "calibri";
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
}
.s-imagen{
	background: url("../img/article4.png");
	width: 100%;
	height: 314px;
	float:left;
}
.mid-p5 > div > h3{
	font-weight: bold;
	color: rgb(0, 0, 0);
	text-align: left;
	font-size: 28px;
	line-height: 2;
	font-family: "calibri";
	margin-left: 5%;
	margin-top: 3%;
	letter-spacing: 2px;
}
.mid-p5 > div > p{
	font-size: 18px;
	text-align: left;
	color: rgb(0, 0, 0);
	font-family: "calibri";
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 3%;
}

footer{
	width: 100%;
	background: rgb(51, 20, 2);
	min-height: 80px;
	float: left;
}

.bott1 {
	width: 6%;
	float: left;
	height: auto;
	padding-top: 4%;
	padding-bottom: 4.2%;
	padding-left: 2%;
}

.bott1 > p{
	font-family: "calibri";
	font-size: 13px;
	text-align: left;
	color: rgb(255, 255, 255);
}

.bot2 {
	width: 24%;
	float: left;
	height: auto;
	padding-top: 2.5%;
	padding-bottom: 4.2%;
}

.logovaldez{
	 background-image: url("../img/logo-footer.png");
	 width: 193px;
	 height: 35px;
	 float: left;
	 margin-top: 20px;
	 margin-left: 10px;
}

.bott3 {
	width: 60%;
	float: left;
	height: auto;
	padding-bottom: 3%;
	padding-top: 2%;
	padding-right: 8%;
}

.bott3 > input {
	background: rgb(221, 175, 118);
	color: rgb(51, 20, 2);
	font-weight: bold;
	text-align: center;
	border: none !important;
	font-family: "calibri";
	float: right;
	padding-top: 15px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 15px;
	font-size: 18px;
	letter-spacing: 2px;
}