@charset "utf-8";

body{
	background: #80c3e1;
    width: 100%;
    height:auto;
    font-family: arial;
    margin: 0;
}

#menu{
	width: 100%;
	background: #c3db51;
	height: 60px;
	float:left;
}

.child1{
	width: 55%;
	height: 60px;
	background: #629398;
	float: left;
}

.child2{
	width: 44.8%;
	float: left;
	background: #e89ec1;
	height: : 60px;

}

.a{
	width: 45%;
	float: left;
	height: : 60px;
	background: #3aa930;
}

.b{
	width: 55%;
	float: left;
	height: 60px;
	background: #b8de35;
}

.c{
	width: 27%;
	float: left;
	height: 60px;
	background: #da9f75;
}

.d{
	width: 19%;
	float: left;
	height: 60px;
	background: #d6a238;
}

.e{
	width: 27%;
	float: left;
	height: 60px;
	background: #859e77;
}
.f{
	width: 27%;
	float: left;
	height: 60px;
	background: #cbb442;
}

.child3{
	width: 100%;
	float: left;
	min-height: 400px;
	background: #95ee77;
}

.g{
	width: 100%;
	float: left;
	min-height: 400px;
	background: #f58ca7;
	margin-bottom: 2%;
}

.child4{
	width: 100%;
	float: left;
	min-height: 500px;
}

.h{
	width: 26.6%;
	float: left;
	min-height: 550px;
	margin-left: 5%;
}

.i{
	width: 26.6%;
	float: left;
	min-height: 550px;
	margin-left: 5%;
}

.j{
	width: 26.6%;
	float: left;
	min-height: 550px;
	margin-right: 5%;
	margin-left: 5%;
}

.h1{
	width: 100%;
	float: left;
	height: 350px;
	background: #2f9ca6;
}

.h2{
	width: 100%;
	float: left;
	height: 30px;
	background: #816a74;
}

.h3{
	width: 100%;
	float: left;
	height: 200px;
	background: #9a4f31;
}

.h4{
	width: 100%;
	float: left;
	height: 60px;
}

.h41{
	width: 33.33%;
	float: left;
	height: 60px;
	background: #442053;
}

.h42{
	width: 33.33%;
	float: left;
	height: 60px;
	background: #206041;
}

.h43{
	width: 33.33%;
	float: left;
	height: 60px;
	background: #442053;
}

.i1{
	width: 100%;
	float: left;
	height: 350px;
	background: #2f9ca6;
}

.i2{
	width: 100%;
	float: left;
	height: 30px;
	background: #816a74;
}

.i3{
	width: 100%;
	float: left;
	height: 200px;
	background: #9a4f31;
}

.i4{
	width: 100%;
	float: left;
	height: 60px;
}

.i41{
	width: 33.33%;
	float: left;
	height: 60px;
	background: #442053;
}

.i42{
	width: 33.33%;
	float: left;
	height: 60px;
	background: #206041;
}

.i43{
	width: 33.33%;
	float: left;
	height: 60px;
	background: #442053;
}

.j1{
	width: 100%;
	float: left;
	height: 350px;
	background: #2f9ca6;
}

.j2{
	width: 100%;
	float: left;
	height: 30px;
	background: #816a74;
}

.j3{
	width: 100%;
	float: left;
	height: 200px;
	background: #9a4f31;
}

.j4{
	width: 100%;
	float: left;
	height: 60px;
}

.j41{
	width: 33.33%;
	float: left;
	height: 60px;
	background: #442053;
}

.j42{
	width: 33.33%;
	float: left;
	height: 60px;
	background: #206041;
}

.j43{
	width: 33.33%;
	float: left;
	height: 60px;
	background: #442053;
}

.child5{
	width: 100%;
	float: left;
	min-height: 200px;
}

.k{
	width: 49.9%;
	float: left;
	min-height: 420px;
	background: #86d5cb;
	border: 0.5px solid #0c2a0f;
}

.l{
	width: 49.9%;
	float: left;
	min-height: 420px;
	background: #6cbbb1;
	border: 0.5px solid #0c2a0f;
}

.l1{
	width: 100%;
	float: left;
	height: 80px;
	background: #98d49e;
}

.l2{
	width: 100%;
	float: left;
	height: 80px;
}

.l21{
	width: 50%;
	float: left;
	height: 80px;
	background: #18182a;
}

.l22{
	width: 50%;
	float: left;
	height: 80px;
	background: #f0ec80;
}

.l3{
	width: 100%;
	float: left;
	height: 80px;
	background: #f45a6c;
}

.l4{
	width: 100%;
	float: left;
	height: 80px;
}

.l41{
	width: 33.3%;
	float: left;
	height: 80px;
	background: #30c19a;
}

.l42{
	width: 33.3%;
	float: left;
	height: 80px;
	background: #3793cd;
}

.l43{
	width: 33.3%;
	float: left;
	height: 80px;
	background: #30c19a;
}

.l5{
	width: 100%;
	float: left;
	height: 100px;
	background: #98d49e;
}

.child6{
	width: 100%;
	float: left;
	min-height: 500px;
}

.m{
	width: 60%;
	float: left;
	min-height: 500px;
}

.n{
	width: 40%;
	float: left;
	min-height: 500px;
	background: #86d5cb; 
}

.m1{
	width: 100%;
	float: left;
	min-height: 100px;
	background: #03262c;
}

.m2{
	width: 99.5%;
	float: left;
	min-height: 200px;
	background: #4dc3e1;
	border: 2px solid #1b3b3d;
}

.m21{
	width: 49.53%;
	float: left;
	height: 200px;
	background: #4dc3e1;
	border: 2px solid #1b3b3d;
}

.m22{
	width: 49.53%;
	float: left;
	height: 200px;
	background: #4dc3e1;
	border: 2px solid #1b3b3d;
}

.m21a{
	width: 100%;
	float: left;
	height: 100px;
	background: #4dc3e1;
	border-bottom: 1px solid #1b3b3d;
}

.m21b{
	width: 100%;
	float: left;
	height: 100px;
	background: #4dc3e1;
	border-bottom: 1px solid #1b3b3d;
}

.m22a{
	width: 100%;
	float: left;
	height: 100px;
	background: #4dc3e1;
	border-bottom: 1px solid #1b3b3d;
}

.m22b{
	width: 100%;
	float: left;
	height: 100px;
	background: #4dc3e1;
	border-bottom: 1px solid #1b3b3d;
}

.m3{
	width: 99.5%;
	float: left;
	min-height: 200px;
	background: #4dc3e1;
	border: 2px solid #1b3b3d;
}

.m31{
	width: 49.53%;
	float: left;
	height: 200px;
	background: #4dc3e1;
	border: 2px solid #1b3b3d;
}

.m32{
	width: 49.53%;
	float: left;
	height: 200px;
	background: #4dc3e1;
	border: 2px solid #1b3b3d;
}

.m4{
	width: 100%;
	float: left;
	height: 30px;
	background: #544b5e;
}

.n1{
	width: 100%;
	float: left;
	height: 100px;
	background: #86d5cb;
	border-top: 1px solid #0c2a0f; 
}

.n2{
	width: 97.5%;
	margin-left: 2%;
	float: left;
	height: 100px;
	background: #4dc3e1;
	border: 1px solid #0c2a0f; 
}

.n3{
	width: 100%;
	float: left;
	height: 50px;
	background: #86d5cb;
}

.n4{
	width: 97.5%;
	margin-left: 2%;
	float: left;
	height: 100px;
	background: #4dc3e1;
	border: 1px solid #0c2a0f; 
}

.n4a{
	width: 20%;
	margin-left: 70%;
	margin-right: 10%;
	float: left;
	height: 100px;
	background: #32194b;
}

.n5{
	width: 100%;
	float: left;
	height: 190px;
	background: #86d5cb;
}

.child7{
	width: 20%;
	float: left;
	min-height: 200px;
	background: #0f235c;

}

.child8{
	width: 79.5%;
	float: left;
	min-height: 200px;
	border-left: 3px solid #f6eb8d !important;
	background: #3a4344;

}

.o{
	width: 100%;
	float: left;
	height: 100px;
	background: #3e9b7d;
}


.o1{
	width: 29%;
	float: left;
	height: 50px;
	background: #0b1071;
	margin-left: 20%;
}

.o2{
	width: 15%;
	float: left;
	height: 50px;
	background: #0b1071;
	border-left: 1px solid #3e9b7d;
}

.o3{
	width: 15%;
	float: left;
	height: 50px;
	background: #0b1071;
	border-left: 1px solid #3e9b7d;
}

.o4{
	width: 15%;
	float: left;
	height: 50px;
	background: #0b1071;
	margin-right: 5%;
	border-left: 1px solid #3e9b7d;
}