@charset "utf-8";
body {
	background: #80c3e1;
	width: 100%;
	height: auto; 
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #949dcf;
	height: 45px;
	float: left;
}
.child1{
	width: 55%;
	height: 45px;
	background: #9692ba;
	float: left;
}

.child2{
	width: 45%;
	background: #22766f;
	float: left;
	height: 45px;
}

.a{
	width: 45%;
	float: left;
	height: 45px;
	background: #80C603;
}

.b{
	width: 55%;
	float: left;
	height: 45px;
	background: #FFC300;
}

.c{
	width:27%;
	float: left;
	height: 45px;
	background: #900C3F;
}

.d{
	width:19%;
	float: left;
	height: 45px;
	background: #CA5582;
}

.e{
	width:27%;
	float: left;
	height: 45px;
	background: #581845;
}

.f{
	width:27%;
	float: left;
	height: 45px;
	background: #157A91;
}

#cuerpo{
	width: 100%;
	background:  #6ba633;
	height:600px;
	float: left;
}

.hijounico{
	width: 100%;
	background: #CCEC93;
	height: 450px;
	float: left;
}

.borde{
	width: 100%;
	background:  #f78067;
	height: 20px;
	float: left;
}


#productos{
	background: #BBE9DF;
	width: 100%;
	height: 525px;
	float: left;
}

.g{
	width: 25%;
	height: 525px;
	float: left;
	background: #03476D;
	margin-left: 85px;
}

.g1{
	width: 100%;
	height: 200px;
	float: center;
	background:  #33a69c;
}

.g2{
	width: 100%;
	height: 35px;
	float: left;
	background:  #e97b80;
}

.g3{
	width: 100%;
	height: 250px;
	float: left;
	background:  #f5c7c9;
}

.g4{
	width: 100%;
	height: 85px;
	float: left;
	background: #6292da;
}

.g4a{
	width: 25%;
	height: 85px;
	float: left;
	background:  #4d68aa;
	margin-left: 35%;
	margin-right: 35%;
}
.h{
	width: 25%;
	height: 525px;
	float: left;
	background: #03476D;
	margin-left: 75px;
}

.h1{
	width: 100%;
	height: 200px;
	float: center;
	background:  #33a69c;
}

.h2{
	width: 100%;
	height: 35px;
	float: left;
	background:  #e97b80;
}

.h3{
	width: 100%;
	height: 250px;
	float: left;
	background:  #f5c7c9;
}

.h4{
	width: 100%;
	height: 85px;
	float: left;
	background: #6292da;
}

.h4a{
	width: 25%;
	height: 85px;
	float: left;
	background:  #4d68aa;
	margin-left: 35%;
	margin-right: 35%;
}

.i{
	width: 25%;
	height: 525px;
	float: left;
	background: #03476D;
	margin-left: 85px;	
}

.i1{
	width: 100%;
	height: 200px;
	float: center;
	background:  #33a69c;
}

.i2{
	width: 100%;
	height: 35px;
	float: left;
	background:  #e97b80;
}

.i3{
	width: 100%;
	height: 250px;
	float: left;
	background:  #f5c7c9;
}

.i4{
	width: 100%;
	height: 85px;
	float: left;
	background: #6292da;
}

.i4a{
	width: 25%;
	height: 85px;
	float: left;
	background:  #4d68aa;
	margin-left: 35%;
	margin-right: 35%;
}

#origen{
	background: #A1ACD5;
	width: 100%;
	height: 450px;
	float: left;
}
.j{
	background: #A1ACD5;
	width: 100%;
	height: 450px;
	float: left;
}

.j1{
	background: #9d5275;
	width: 50%;
	height: 450px;
	float: left;
}

.j2{
	background: #f89d22;
	width: 50%;
	height: 450px;
	float: left;
}

.j2a{
	background: #7b507a;
	width: 100%;
	height: 60px;
	float: left;
}

.j2b{
	background: #563e55 ;
	width: 50%;
	height: 60px;
	float: left;
	margin-top: 10px;
	
}
.j2c{
	background: #5b1937;
	width: 100%;
	height: 50px;
	float: left;
	margin-top: 20px;
	margin-left: 50%;
}