@charset "utf-8";
body {
	background: #80c3e1;
	width: 100%;
	height: auto; 
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #949dcf;
	height: 45px;
	float: left;
}
.child1{
	width: 55%;
	height: 45px;
	background: #9692ba;
	float: left;
}

.child2{
	width: 45%;
	background: #22766f;
	float: left;
	height: 45px;
}

.a{
	width: 45%;
	float: left;
	height: 45px;
	background: #80C603;
}

.b{
	width: 55%;
	float: left;
	height: 45px;
	background: #FFC300;
}

.c{
	width:27%;
	float: left;
	height: 45px;
	background: #900C3F;
}

.d{
	width:19%;
	float: left;
	height: 45px;
	background: #CA5582;
}

.e{
	width:27%;
	float: left;
	height: 45px;
	background: #581845;
}

.f{
	width:27%;
	float: left;
	height: 45px;
	background: #157A91;
}

#cuerpo{
	width: 100%;
	background:  #6ba633;
	height:600px;
	float: left;
}

.hijounico{
	width: 100%;
	background: #CCEC93;
	height: 450px;
	float: left;
}

.borde{
	width: 100%;
	background:  #f78067;
	height: 20px;
	float: left;
}


#productos{
	background: #BBE9DF;
	width: 100%;
	height: 525px;
	float: left;
}

.g{
	width: 25%;
	height: 500px;
	float: left;
	background: #03476D;
	margin-left: 85px;
}

.g1{
	width: 25%;
	height: 200px;
	float: left;
	background:  #33a69c;
	margin-left: 85px;
}

.g2{
	width: 25%;
	height: 30px;
	float: left;
	background:  #00508f;
	margin-left: 85px;
}

.g3{
	width: 25%;
	height: 150px;
	float: left;
	background:  #7ec313;
	margin-left: 85px;
}
.h{
	width: 25%;
	height: 500px;
	float: left;
	background: #03476D;
	margin-left: 75px;
}

.i{
	width: 25%;
	height: 500px;
	float: left;
	background: #03476D;
	margin-left: 85px;	
}

#origen{
	background: #A1ACD5;
	width: 100%;
	height: 450px;
	float: left;
}