@charset "utf-8";

body{
  background:white;
  font-family:arial; 
  margin:0;
  padding:0;
}

header{
  background:#232323;
  margin:0;
  padding:0;
  height: 40px;
  width:100%;
  float:left;
}

.barra{
  width:20%;
  height:40px;
  float:left;
  border-right: 1px solid #c3c3c3;
  
}

.bar1{
  width:73%;
  height:40px;
  float:left;
  
} 

.img1{
  background: url('../img/icono_purple.png');
  width:33px;
  height:22px;
  margin-top:8px;
  margin-left:4px;
  display: block;
}

#menu{
  width:100%;
  height:40px;
  float:left;
  padding:0;
  margin:0; 
  
}

#menu>li:first-child{
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid  #626064;
}

#menu>li:nth-child(2){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid  #626064;
}

#menu>li:nth-child(3){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid  #626064;
}

#menu>li:nth-child(4){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(5){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid  #626064;
}

#menu>li:nth-child(6){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid  #626064;
}

#menu>li:nth-child(7){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid  #626064;
}
#menu>li:nth-child(8){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid  #626064;
}

#menu>li:nth-child(9){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid  #626064;
}

#menu>li:nth-child(10){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid  #626064;
}

#menu>li:last-child{
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid  #626064;
}
a{
  text-decoration: none;
  color:white;
  text-align: center;
  font-family: calibri;
  font-size: 10pt;
}

header>.boton>button^{
  height:30px;
  border-radius: 5px;
  width:100%;
  background:#bc7bbd;
  color:white; 
  font-size: 11pt 
  margin-right:5px;
  margin-top:5px;
}
.boton>button:hover{
  background: #d9d3ef;
  cursor: pointer;
  color: white;
}

.ban{
  width:1404%;
  height:150px;
  float:left;
}

.img2{
  background: url('../img/crecimiento2.png');
  width:1404px;
  height:674px;
  display: block;
} 
  
.caja1{
  width:60%;
  height:150px;
  float:left;
}

.caja2{
  width:40%;
  height:150px;
  float:left;
}
.img3{
  background: url('../img/persona3.png');
  width:567px;
  height:498px;
  display: block;
} 
.caja1>h1{
  color: #5f0581;
  text-align:center;
  font-family: calibri;
  font-weight: bold;
  padding:0;
  margin-left:10px;
  font-size:30pt;
  margin-top:50px;  
}

.caja1>p{
  color:   #7f7e83;
  text-align:left;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: lighter;
  font-size: 14pt;
  padding:0;
  margin-left:150px; 
  text-align: left;
  line-height: 30px;
  margin-right: 150px;
}

.caja1>div>button{
  height: 38px;
  width: 12%;
  border-radius: 2px;
  border: 1px solid #7d0581;
  text-align: center;
  font-family: calibri;
  font-size: 11pt;
  font-weight: lighter;
  margin-left: 10%;
  margin-right: 15%
  margin-top: 10px;
  color:#7d0581;
}

.caja1>div>button:first-child{
  height: 38px;
  width: 12%;
  border-radius: 5px;
  border: 1px solid #7d0581;
  text-align: center;
  font-family: calibri;
  font-size: 11pt;
  font-weight: lighter;
  margin-left: 20%;
  margin-top: 10px;
  color:#7d0581;
}
.caja1>div>button:nth-child(2){
  height: 38px;
  width: 12%;
  border-radius: 5px;
  border: 1px solid #7d0581;
  text-align: center;
  font-family: calibri;
  font-size: 11pt;
  font-weight: lighter;
  margin-left: 2%;
  margin-top: 10px;
  color:#7d0581;
}
.caja1>div>button:nth-child(3){
  height: 38px;
  width: 12%;
  border-radius: 5px;
  border: 1px solid #7d0581;
  text-align: center;
  font-family: calibri;
  font-size: 11pt;
  font-weight: lighter;
  margin-left: 2%;
  margin-top: 10px;
  color:#7d0581;
}
.caja1>div>button:last-child{
  height: 38px;
  width: 12%;
  border-radius: 5px;
  border: 1px solid #7d0581;
  text-align: center;
  font-family: calibri;
  font-size: 11pt;
  font-weight: lighter;
  margin-left: 2%;
  margin-top: 10px;
  color:#7d0581;
}
#caja3{
  width: 100%;
  margin-bottom: 40px;
  height: 300px;
  float:left;
  background: #f0f0f0;
}

#caja3>div:first-child{
  margin-left: 5%;
  width: 27%;
  height: 250px;
  float:left;
}

#caja3>div:nth-child(2){
  margin-left: 5%;
  width: 27%;
  height: 250px;
  float:left;
}

#caja3>div:last-child{
  margin-left: 5%;
  width: 27%;
  height: 250px;
  float:left;
}

#caja3>div>.cl3{
  width: 30%;
  height: 250px;
  float:left;
}

#caja3>div>.cl4{
  width: 70%;
  height: 250px;
  float:left;
}

#caja3>div>.cl3>.img4{
  width: 100px;
  height: 100px;
  background: url('../img/icono5.png');
  margin:auto;
  display: block;
  margin-top: 15px;
}

#caja3>div>.cl4>p{
  font-family: calibri;
  color:black;
  letter-spacing: 2px;
  font-family: 12pt;
  font-weight: lighter;
}

#caja3>div>.cl3>.img5{
  width: 100px;
  height: 100px;
  background: url('../img/icono6.png');
  margin:auto;
  display: block;
  margin-top: 15px;
}


#caja3>div>.cl3>.img6{
  width: 100px;
  height: 100px;
  background: url('../img/icono7.png');
  margin:auto;
  display: block;
  margin-top: 15px;
}



