@charset "utf-8";

body{
    background:white;
    font-family:calibri;
    margin:0;
    padding:0;
    color:black;
}

header{
  background:#b6640e;
  margin:0;
  padding:0;
  height: 40px;
  width:100%;
  float:left;
}

.icono{
  width:4%;
  height:40px;
  float:left;
  border-right: 1px solid #d17d25; 
}

.barra{
  width:94%;
  height:40px;
  float:left; 
} 

.img1{
  background: url('../img/icono_logo.png');
  width:33px;
  height:22px;
  margin-top:8px;
  margin-left:6px;
  display: block;
}
#menu{
  width:100%;
  height:40px;
  float:left;
  padding:0;
  margin:0; 
}

#menu>li:first-child{
  width:12.4%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid  #d17d25;
}

#menu>li:nth-child(2){
  width:12.4%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid  #d17d25;
}

#menu>li:nth-child(3){
  width:12.4%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid  #d17d25;
}

#menu>li:nth-child(4){
  width:12.4%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #d17d25;
}

#menu>li:nth-child(5){
  width:12.4%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid  #d17d25;
}

#menu>li:nth-child(6){
  width:12.4%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid  #d17d25;
}

#menu>li:nth-child(7){
  width:12.4%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #d17d25;
}

#menu>li:last-child{
  width:12.4%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid  #d17d25;
}

#menu>li>a{
  text-decoration: none;
  color:white;
  text-align: center;
  font-family: calibri;
  font-size: 10pt;
}
#menu>li:hover{
    background: #e6cdb3;
}

#menu>li>a:hover{
   color: #482400;
}

#banner{
    width:100%;
    height:500px;
    float:left;
}

.bar1{
    width:58%;
    height:500px;
    float:left;
}

.img2{
    background: url('../img/crecimiento2.png');
    width:1404px;
    height:498px;
    display: block;
}   

.barr1{
    width:40%;
    height:400px;
    float:left;
}
.img3{
    background: url('../img/persona.png');
    width:567px;
    height:498px;   
}   

.barr2{
    width:45.8%;
    height:495px;
    float:left;
}

.barr2>h1{
    font-family: calibri;
    color: #b6640e;
    font-size:30pt;
    text-align: left;
    font-weight: bold;
    padding:0;
    margin:0;
    margin-top: 68px;
}

.barr2>p{
  font-family: calibri;
  font-size: 17.5pt;
  font-weight: lighter;
  text-align: left;
  color: #787878;
  line-height: 27pt;
  padding: 0;
  margin:0;
}

.barr2>div>button{
  height: 40px;
  width: 18%;
  border-radius: 5px;
  border: 1px solid #b6640e;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 10pt;
  font-weight:normal;
  margin-top: 15px;
  color: #b6640e;
  background: white; 
}

.barr2>div>button:first-child{
  height: 40px;
  width: 20%;
  border-radius: 5px;
  border: 1px solid #b6640e;
  text-align: center;
  font-family: arial;
  font-size: 10pt;
  font-weight:normal;
  margin-top: 10px;
  margin-left:18px;
  color: #b6640e;
  background: white;
}
 
 .barr2>div>button:nth-child(2){
  height: 40px;
  width: 20%;
  border-radius: 5px;
  border: 1px solid #b6640e;
  text-align: center;
  margin-left: 5px; 
  font-family: arial;
  font-size: 10pt;
  font-weight:normal;
  color: #b6640e;
  background: white;
}

.barr2>div>button:last-child{
  height: 40px;
  width: 20%;
  border-radius: 5px;
  border: 1px solid #b6640e;
  text-align: center;
  margin-left: 5px; 
  font-family: arial;
  font-size: 10pt;
  font-weight:normal;
  color: #b6640e;
  background: white;
}

#cuatro{
    width: 100%;
    height: 410px;
    float: left;
    background: white;
}

#ocho{
    width: 100%;
    height: 450px;
    float: left;
    background: white;
}

.barr3{
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 380px;
    float: left;
    background: #f0f0f0;
}

.barr3>div:first-child{
    margin-left:4%;
    margin-right: 4%;
    width: 90%;
    height: 350px;
    float:left;
}

.barr3>div:nth-child(2){
    margin-left: 4%;
    margin-right: 4%;
    width: 90%;
    height: 350px;
    float:left;
}

.barr3>div:nth-child(3){
    margin-left: 4%;
    margin-right: 4%;
    width: 90%;
    height: 350px;
    float:left;
}

.barr3>div:last-child{
    margin-left: 4%;
    margin-right: 4%;
    width: 90%;
    height: 350px;
    float:left;
}

.b1a{
    width: 40%;
    height: 125px;
    float: left;
}

.b1b{
    width: 60%;
    height: 125px;
    float: left;
}

.barr3>.b1a{
    width: 40%;
    height: 415px;
    float: left;
}


.barr3>.b1b{
    width: 60%;
    height: 415px;
    float: left;
}

.barr3>div>.b1>.b1a>.img4{
    width: 100px;
    height: 100px;
    background: url('../img/icono1.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}

.barr3>div>.b1>.b1a>.img5{
    width: 100px;
    height: 100px;
    background: url('../img/icono2.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}

.barr3>div>.b1>.b1a>.img6{
    width: 100px;
    height: 100px;
    background: url('../img/icono3.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}

.barr3>div>.b1>.b1a>.img7{
    width: 100px;
    height: 100px;
    background: url('../img/icono4.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}

.barr3>div>.b1>.b1b>h2{
    font-family: calibri;
    color: black;
    font-size: 20pt;
    margin:0;
    margin-top: 25px;
    font-weight: normal;
}

.barr3>div>.parrafo>p{
  font-family: calibri;
  font-size: 12.3pt;
  font-weight: lighter;
  text-align: left;
  color: #1e1c1c;
  margin-left: 5%;
  line-height: 16pt;
  padding: 0;
  margin:0;
}

footer{
  background:black;
  height:100px;
  width:100%;
  float:left;
  margin-top: 20px;
}
footer>p{
  font-family: calibri;
  color:white;
  text-align: center;
}