@charset "utf-8";
body {
	background: #80c3e1;
	width: 100%;
	height: auto; 
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #949dcf;
	height: 45px;
	float: left;
}

.icono{
	width: 55%;
	height: 45px;
	background: #98aae2;
	margin-left: 65%
}
