@charset "utf-8";

#bod {
	background: #00ADFF;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
	} 

	#menus
	{
	width: 100%;
	height: 115px;
	float: left;
	background: #BF9FC1;
}



.menu1{
	width: 100%;
	float: left;
	height: 40px;
	background: #28BDBC;
}

.menu1a{
	width: 61%;
	float: left;
	height: 40px;
    background: #82BD8F;
}

.men2a{
	width: 39%;
	float: left;
	height: 40px;
    background: #A39FC1;
}

.pho{
	width: 9%;
	height: 40px;
	float: left;
	background: #074A8E;
}

.tel{
	width: 40%;
	height: 40px;
	float: left;
	background: #816C8E;
}

.part{
	width: 27%;
	height: 40px;
	float: left;
	background: #FFE7C1;
}

.sig{
	width: 20%;
	height: 40px;
	float: left;
	background: #BDB982;
}



.menu2{width: 100%;
	float: left;
	height: 75px;
	background: #BDB65F;
}

.log{
	width: 15%;
	height: 75px;
	margin-left: 3%;
	float: left;
	background: #AABD35;
}

.hom{
	width: 6.5%;
	height: 75px;
	margin-left: 23%;
	float: left;
	background: #C1604B;
}

.ab{
	width: 8.5%;
	height: 75px;
	float: left;
	background: #06D1ED;
}

.ps{
	width: 15%;
	height: 75px;
	float: left;
	background: #9F22EE;
}

.exp{
	width: 18%;
	height: 75px;
	float: left;
	background: #93FE0F;
}

.con{
	width: 9%;
	height: 75px;
	float: left;
	background: #EE2511;
}


.l1{
	width: 100%;
	float: left;
	height: 10px;
	background: #3DEE34;
}

.l2{
	width: 100%;
	float: left;
	height: 10px;
	background: #FFF27F;
}

#c{
	width: 100%;
	float:left;
	height: 425px;
	background: #FF830C;
}

.tc{
	width: 42%;
	float:left;
	margin-top:130px;
	margin-left:3%;
	margin-bottom:30px;
	height: 275px;
	background: #EC58FE;
}



.service{
	width: 100%;
	float:left;
	height: 55px;
	background: #FFB800;
}

.te{
	width: 100%;
	float:left;
	height: 165px;
	background: #4E16FE;
}

.verm1{
	width: 100%;
	float:left;
	height: 40px;
	background: #5AED8D;
}

.ma1{
	width: 15.5%;
	float:left;
	margin-left: 80%;
	height: 40px;
	background: #5D2E62;
}

.l3{
	width: 100%;
	float: left;
	height: 8px;
	background: #7AABFE;
}

#des{
	width: 100%;
	float:left;
	height: 275px;
	background: #5D2E62;
}

.ctxt2{
	width: 65%;
	float:left;
	height: 275px;
	background: #C9EE64;
}

.tit1{
	width: 100%;
	float:left;
	margin-top: 25px;
	height: 50px;
	background: #5AED8D;
}

.text2{
	width: 100%;
	float:left;
	height: 132px;
	background: #160A62;
}

.cver1{
	width: 100%;
	float:left;
	height: 50px;
	background: #FF933D;
}

.verm1{
	width: 15%;
	float:left;
	margin-left:80%;
	height: 50px;
	background: #D63FF7;
}

.im1{
	width: 35%;
	float:left;
	height: 275px;
	background: #42ED3E;
}

#imgdes{
	width: 100%;
	float:left;
	height: 675px;
	background: #5848C1;
}

.limage1{
	width: 28%;
	float:left;
	height: 675px;
	background: #B779C1;
	margin-left: 4%;
}

.img1{
	width: 100%;
	float:left;
	margin-top: 10px;
	height: 300px;
	background: #228B7E;
}

.tt1{
	width: 100%;
	float:left;
	height: 50px;
	background: #24E881;
}

.vm2{
	width: 35%;
	float:left;
	margin-left: 65%;
	margin-top: 200px;
	height: 50px;
	background: #EB4283;
}

.imag2{
	width: 100%;
	float:left;
	margin-top: 30px;
	height: 300px;
	background: #96AFFF;
}


.lineimage2{
	width: 28%;
	float:left;
	height: 675px;
	background: #EB9B54;
	margin-left: 4%;
}

.lineimage3{
	width: 28%;
	float:left;
	height: 675px;
	background: #C9C9C9;
	margin-left: 4%;
}

#abu{
	width: 100%;
	float:left;
	height: 300px;
	background: #CEBCAB2;
}


.im{
	width: 35%;
	float:left;
	height: 300px;
	background: #A791C7;
}
.txt{
	width: 65%;
	float:left;
	height: 300px;
	background: #CDFFE7;
}






