@charset "utf-8";

body{
	background: #fffacd;
	font-family: arial;
	padding: 0;
	margin: 0;
	margin-left: 8%; 
	margin-right: 8%;
	height: auto;
	width: auto;
}

.contenedor{
	width: 70%;
	height:300px;
	margin: auto;
	display: block;
}

#iniciodepagina{
	background:#ffdead;
	height: 350px;
	width: 100%;	
}


.img1{
	background: url('../img/logo-header.png');
	width: 275px;
	height: 275px;
	margin-top: 5px;
}
.text_1{ 
	padding-top: 100px; 

 }

.text_2>h3{
	font-size: 16pt; 
	font-weight: lighter;
}
#iniciodepagina>div:first-child{
	width: 40%;
	float: left;
	height: 350px;
} 

.art1{ 
	height: auto; 
	width: 100%; 
 }
.biografia{
	border:none;
    background: white;
    width: 100%;
    height: auto;
    float: left;
    color:black;
    text-align: left;
}
.biografia>first_child>h2{
	font-size: 14pt; 
	font-weight: bold; 
	padding-bottom: 10px; 
} 
.biografia>nth_child(2)>p{ 
	padding-top:0; 
	margin-top: 0;
 	font-weight: lighter; 
 	font-size: 12pt; 

}

.biografia>last_child>p{ 
	padding-top:10; 
	margin-top: 0;
 	font-weight: lighter; 
 	font-size: 12pt; 
 	
 }



