@charset "utf-8";

body{
	background: #8b4513;
	font-family: tahoma;
	padding: 0;
	margin: 0;
}

#latte{
	background:#ffdead;
	height: 370px;
	width: 100%;	
}

.latte{ 
	background:#8b4513;
	background-repeat:no-repeat;  
	width: 320%;
	height: 300px;
}

.img1{
	background: 
	background-repeat:no-repeat;
	width: 320%;
	height: 300px;
	margin: auto;
	display: block;
	margin-top: 5px;
}

.cl2 > div:first-child > h3{
   color:white;
   font-size: 18pt;
   letter-spacing: 12px;
   text-align: left;
   font-weight: normal;
   font-family: calibri;
   margin:0;
   padding: 0;
   margin-top: 25px;
}

.cl2 > div:last-child > h1{
	color:#17134a;
	text-align: left;
	font-size: 26pt;
	font-weight: bold;
	font-family: tahoma;
	padding:0;
	margin:0;
}


article{
	width: 100%;
	float: left;
	background: white;
	height: auto;
	border-bottom: 1px solid #c3c3c3;
}

section > article:first-child > div > h2{
	color:black;
	text-align: left;
	font-family: calibri;
	font-weight: bold;
	padding:0;
	margin:0;
	font-size: 24pt;
}

section > article:first-child > div > p{
	color:gray;
	text-align: left;
	font-size: 12pt;
	margin:0;
	padding: 0;
	font-weight: lighter;
	line-height: 16pt;
}

section > article:first-child > div{
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
	float: left;
	margin-top: 40px;
	margin-bottom: 40px;

}

.pl3{
	width: 35%;
	height: auto;
	float: left;
}

.pl4{
	width: 55%;
	margin-top: 20px;
	margin-bottom: 20px;
	height: auto;
	float: left;
	margin-right: 10%
}

.img2{
	background: url('../img/article1.png');
	width: 115px;
	height: 115px;
	float: right;
	margin-top: 15px;
}

.pl4 > div:first-child > p{
    color:gray;
	text-align: left;
	font-size: 12pt;
	margin:0;
	padding: 0;
	font-weight: lighter;
	line-height: 16pt;
}

.pl4 > div:last-child > button{
    border:none;
    background: red;
    width: 45%;
    height: 45px;
    float: left;
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
}