@charset "utf-8";

body{  
	background: 
	font;font-family: calibri; 
	margin: 0; 
	padding:0; 
} 

#contenedor{ 
	width: 50%; 
	height: auto; 
	margin:auto; 
	display: block; 
	background: white; 
	min-height: 500px; 
} 

#heater{
	background: #FFA678; 
	width: 180%; 
	height: 150px; 
	float: left;
} 

.cl1{
	
	width: 79.8%; 
	float: left; 
	height: 150px; 
	border: 1px solid red;  
}  

.cl2{
	width: 80%; 
	float: left; 
	height: 150px; 
} 

.img-center{
	margin: auto; 
	display: block; 
	display: 


}