@charset "utf-8";

body{ 
	background: #23e2f3;
    width:100%;
    height: auto; 
    font-family: arial; 
    margin:0; 
}

header{ 
	width:100%; 
	height: 60px; 
	float: left; 
	background:rebeccapurple; 
} 

.child1{ 
	width:55%; 
	height: 60px; 
	float: left; 
	background:purple; 
} 

.child2{ 

	width:45%;
	height: 60px; 
	float: left; 
	background:slateblue; 
} 

.a{ 
    width:45%; 
    height: 60px; 
    float: left; 
    background:magenta; 
} 

.b{ 
	width:45%; 
	height: 60px; 
	float:left; 
	background:#a76700; 
} 

.c{ 
	width:27%; 
	height: 60px; 
	float: left; 
	background:#00497f; 
} 

.d{ 
	width:19%; 
	height: 60px; 
	float: left; 
	background:#299ba2;   
} 

.e{ 
	width:27%; 
	height: 60px; 
	float: left; 
	background:#303a89; 
} 

.f{ 
	width:27%; 
	height: 60px; 
	float: left; 
	background:#af60a2; 
}  
.child4{ 
	width: 100%; 
	height: 400px; 
	float: left; 
	background: blue; 
} 
.child5{ 
	width: 100%; 
	height: 700px; 
	float: left; 
	background: #520644; 
} 
.g{ 
	width: 100%;
	height:500px; 
	float: left; 
	background: #3aaa35; 
}  
.child1h{ 
	width: 50%; 
	height:200px;
	float: left; 
	background:#3a74;  
}  
.child2h{ 
	width: 50%; 
	height: 80px; 
	float: left; 
	background:#243a74; 
} 
.child3h{ 
	width: 100%;
	height: 120px; 
	float: left; 
	background: #e6007e; 
} 
.child4h{ 
	width: 100%; 
	height: 25px; 
	float: left; 
	background: pink; 
} 
.i{ 
	width: 100%; 
	height: 600px; 
	float: left; 
	background: seagreen;
} 
.j{ 
	width: 100%; 
	height: 25px; 
	float: left; 
	background: lightseagreen;
