@charset "utf-8"; 
body{
	background: #23e2f3;
    width:100%;
    height: auto; 
    font-family: arial; 
    margin:0; 
}

header{ 
	width:100%; 
	height: 60px; 
	float: left; 
	background:blueviolet; 
} 

.child1{ 
	width:45%; 
	height: 60px; 
	float: left; 
	background:blue; 
} 

.child2{ 

	width:55%;
	height: 60px; 
	float: left; 
	background:indigo; 
} 
  .one{ 
    width:45%; 
    height: 60px; 
    float: left; 
    background:fuchsia; 
} 

.two{ 
	width:45%; 
	height: 60px; 
	float:left; 
	background:lavender; 
} 

.tree{ 
	width:55%; 
	height: 60px; 
	float: left; 
	background:mediumpurple; 
} 

.four{ 
	width:20%; 
	height: 60px; 
	float: left; 
	background:darkmagenta;   
} 

.five{ 
	width:27%; 
	height: 60px; 
	float: left; 
	background:mediumturquoise; 
} 

.six{ 
	width:45%; 
	height: 60px; 
	float: left; 
	background:steelblue;  
}

