@charset "utf-8";

body{
	background: #23e2f3;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0%;
}

header{
	width:100%;
	height:60px;
	float: left;
	background: #a7f323;
}

.child1{
	width: 55%;
	height: 60px;
	float:left;
	background: #f38f23;
}

.child2{
	width: 45%;
	height:60px;
	float:left;
	background: #9d23f3;
}

.a{
	width: 45%;
	height: 60px;
	float: left;
	background: #619498;
}

.b{
	width: 55%;
	height: 60px;
	float: left;
	background: #bcde54;
}

.c{
	width: 27%;
	height: 60px;
	float: left;
	background: #cea47a;
}

.d{
	width: 19%;
	height: 60px;
	float: left;
	background: #d1a53c;
}

.e{
	width: 27%;
	height: 60px;
	float: left;
	background: #889c79;
}
.f{
	width: 27%;
	height: 60px;
	float: left;
	background: #ceb537;
}

.g{
	width: 100%;
	height:500px;
	float: left;
	background: #e89ec1;
}

.h{
	width: 100%;
	height: 10px;
	float: left;
	background: #7bcaad;
}



.columna{
	width: 100%;
	height:500px;
	float: left;
	background: #7dc3e7;
}

.c1{
	width: 27%;
	height: 500px;
	float: left;
	margin-left:4.75%;
	background: #1fabac;
}
.c2{
	width: 27%;
	height: 500px;
	float: left;
	margin-left:4.75%;
	background: #1fabac;
}
.c3{
	width: 27%;
	height: 500px;
	float: left;
	margin-left:4.75%;
	background: #1fabac;
}

.c1_1{
	width: 100%;
	height: 250px;
	float: left;
	background: #1b9fa0;
}

.c1_2{
	width: 100%;
	height: 30px;
	float: left;
	background: #71a4a8;
}

.c1_3{
	width: 100%;
	height: 150px;
	float: left;
	background: #ae7763;
}

.c1_4{
	width: 100%;
	height: 70px;
	float: left;
	background: #3d8486;	
}

.c1_4_1{
	width: 30%;
	height: 70px;
	float: left;
	background: #7e6896;

}

.c1_4_2{
	width: 40%;
	height: 70px;
	float: left;
	background: #3d8486;
	
}

.c1_4_3{
	width: 30%;
	height: 70px;
	float: left;
	background: #7e6896;
	
}

.c2_1{
	width: 100%;
	height: 250px;
	float: left;
	background: #1b9fa0;
}

.c2_2{
	width: 100%;
	height: 30px;
	float: left;
	background: #71a4a8;
}

.c2_3{
	width: 100%;
	height: 150px;
	float: left;
	background: #ae7763;
}

.c2_4{
	width: 100%;
	height: 70px;
	float: left;
	background: #3d8486;	
}

.c2_4_1{
	width: 30%;
	height: 70px;
	float: left;
	background: #7e6896;

}

.c2_4_2{
	width: 40%;
	height: 70px;
	float: left;
	background: #3d8486;
	
}

.c2_4_3{
	width: 30%;
	height: 70px;
	float: left;
	background: #7e6896;
	
}

.c3_1{
	width: 100%;
	height: 250px;
	float: left;
	background: #1b9fa0;
}

.c3_2{
	width: 100%;
	height: 30px;
	float: left;
	background: #71a4a8;
}

.c3_3{
	width: 100%;
	height: 150px;
	float: left;
	background: #ae7763;
}

.c3_4{
	width: 100%;
	height: 70px;
	float: left;
	background: #3d8486;	
}

.c3_4_1{
	width: 30%;
	height: 70px;
	float: left;
	background: #7e6896;

}

.c3_4_2{
	width: 40%;
	height: 70px;
	float: left;
	background: #3d8486;
	
}

.c3_4_3{
	width: 30%;
	height: 70px;
	float: left;
	background: #7e6896;
	
}

.foto_descripcion{
	width: 100%;
	height: 500px;
	float: left;
	background: #0d8c8b;
}

.p1{
	width: 50%;
	height: 500px;
	float: left;
	background: #5ebdac;
}

.p2{
	width: 50%;
	height: 500px;
	float: left;
	background: #000000;
}

.p2_a{
	width: 100%;
	height: 100px;
	float: left;
	background: #4cb57a;
}

.p2_b_1{
	width: 50%;
	height: 100px;
	float: left;
	background: #254f5b;
}

.p2_b_2{
	width: 50%;
	height: 100px;
	float: left;
	background: #95b37d;
}

.p2_c{
	width: 100%;
	height: 100px;
	float: left;
	background: #8c777e;
}

.p2_d{
	width: 100%;
	height: 100px;
	float: left;
	background: #ffffff;
}

.p2_d_1{
	width: 33%;
	height:100px;
	float: left;
	background: #2aada5;
}

.p2_d_2{
	width: 33%;
	height:100px;
	float: left;
	background: #16a8b7;
}

.p2_d_3{
	width: 34%;
	height:100px;
	float: left;
	background: #2aada5;
}

.p2_e{
	width: 100%;
	height: 100px;
	float: left;
	background: #4db57a;
}

.tablas{
	width: 100%;
	height: 550px;
	float: left;
	background: #6176a1;
}

.tabla_1{
	width: 60%;
	height: 500px;
	float: left;
	background: #17625d;
}

.tabla_1_1{
	width: 100%;
	height: 100px;
	float: left;
	background: #1b605b;
}

.tabla_1_2{
	width: 100%;
	height: 100px;
	float: left;
	background: #1b605b;
	
}

.tabla_1_2_a{
	width: 58%;
	height: 100px;
	float: right;
	background: #01a4cd;
	border: 2px solid #17625d;
	
}

.tabla_1_2_b{
	width: 39%;
	height: 100px;
	float: left;
	background: #4db57a;
	border: 2px solid #17625d;
}

.tabla_1_3{
	width: 100%;
	height: 100px;
	float: left;
	background: #1b605b;
	
}

.tabla_1_3_a{
	width: 58%;
	height: 100px;
	float: right;
	background: #01a4cd;
	border: 2px solid #17625d;
	margin-top: 4px;
	
}

.tabla_1_3_b{
	width: 39%;
	height: 100px;
	float: left;
	background: #4db57a;
	border: 2px solid #17625d;
	margin-top: 4px;
}