@charset "utf-8";

body{
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
	background: #23e2f3;
}

header{
	width: 100%;
	height: 130px;
	float: left;
	background: #a7f323;

}

.a{
	width: 60%;
	height: 30px;
	float: left;
	background: #5c888b;
}

.b{
	width: 40%;
	height: 30px;
	float: left;
	background: #4f3d31;
}

.b_1{
	width: 20%;
	height: 30px;
	float: left;
	background: #9a7a62;

}

.b_2{
	width: 30%;
	height: 30px;
	float: left;
	background: #bf992f;
}

.b_3{
	width: 25%;
	height: 30px;
	float: left;
	background: #79906e;
}

.b_4{
	width: 25%;
	height: 30px;
	float: left;
	background: #e8cf38;
}

.c{
	width: 30%;
	height: 80px;
	float: left;
	background: #ffffff;
}

.c_1{
	width: 50%;
	height: 80px;
	float: left;
	background: #37459B;
}

.c_2{
	width: 50%;
	height: 80px;
	float: left;
	background: #7a509f;
}
.d{
	width: 70%;
	height: 80px;
	float: left;
	background: #000;

}

.d_1{
	width: 12.5%;
	height: 80px;
	float: left;
	background: #4eb7c4;
}

.d_2{
	width: 12.5%;
	height: 80px;
	float: left;
	background: #7abb36;
}

.d_3{
	width: 25%;
	height: 80px;
	float: left;
	background: #9c8d6d;
}

.d_4{
	width: 30%;
	height: 80px;
	float: left;
	background: #86631d;
}

.d_5{
	width: 20%;
	height: 80px;
	float: left;
	background: #607a46;
}
.e{
	width: 100%;
	height: 10px;
	float: left;
	background: #4694d6;
}

.f{
	width: 100%;
	height: 10px;
	float: left;
	background: #305cab;
  }

.foto{
	width: 100%;
	height: 500px;
	float: left;
	background: #43aaa6;
}

.g{
	width: 50%;
	height: 350px;
	float: left;
	background: #2a345e;
	margin-top: 120px;
	margin-left: 20px;
}

.g_1{
	width: 100%;
	height: 75px;
	float: left;
	background: #7676b9;
}

.g_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #4654a4;

}

.g_3{
	width: 100%;
	height: 75px;
	float: left;
	background: #273260;
}

.g_3_1{
	width: 20%;
	height: 75px;
	float: right;
	background: #181f41;
}

.foto_descripcion{
	width: 100%;
	height: 300px;
	float: left;
	background: #8ec89a;
}

.des_a{
	width: 75%;
	height: 300px;
	float: left;
	background: #686868;
}

.des_a_1{
	width: 95%;
	height: 240px;
	float: left;
	margin-left: 20px;
	margin-top: 30px;
	background: #2A345E;
}

.des_a_1_1{
	width: 100%;
	height: 60px;
	float: left;
	background: #7676B9;
}

.des_a_1_2{
	width: 100%;
	height: 120px;
	float: left;
	background: #4654A4;
}

.des_a_1_3{
	width: 100%;
	height: 60px;
	float: left;
	background: #273260;
}

.des_a_1_3_1{
	width: 20%;
	height: 60px;
	float: right;
	background: #181F41;
}

.columnas{
	width: 100%;
	height: 800px;
	float: left;
	background: #1D443E;
}

.col_a{
	width: 33.33%;
	height: 400px;
	float: left;
	background: #c0191d;
}

.col_a_1_1{
	width: 91%;
	height: 350px;
	margin-top: 25px;
    margin-left: 4%;
    margin-right: 4px;
	float: left;
	background: #E600FF;
}

.col_a_1_1_1{
	width: 100%;
	height: 75px;
	float: left;
	background: #1D443E;
}

.col_a_1_1_1_1{
	width: 45%;
	height: 75px;
	float: left;
	background: #f39200;
}

.col_a_1_1_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #5a90cc;
}

.col_a_1_1_3{
	width: 100%;
	height: 75px;
	float: left;
	background: #2e4490;
}

.col_a_1_1_3_1{
	width: 25%;
	height: 75px;
	float: right;
	background: #f39200;
}

.col_b{
	width: 33.33%;
	height: 400px;
	float: left;
	background: #c0191d;
}

.col_b_1_1{
	width: 91%;
	height: 350px;
	margin-top: 25px;
    margin-left: 4%;
    margin-right: 4px;
	float: left;
	background: #E600FF;
}

.col_b_1_1_1{
	width: 100%;
	height: 75px;
	float: left;
	background: #1D443E;
}

.col_b_1_1_1_1{
	width: 45%;
	height: 75px;
	float: left;
	background: #f39200;
}

.col_b_1_1_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #5a90cc;
}

.col_b_1_1_3{
	width: 100%;
	height: 75px;
	float: left;
	background: #2e4490;
}

.col_b_1_1_3_1{
	width: 25%;
	height: 75px;
	float: right;
	background: #f39200;
}

.col_c{
	width: 33.33%;
	height: 400px;
	float: left;
	background: #c0191d;
}

.col_c_1_1{
	width: 91%;
	height: 350px;
	margin-top: 25px;
    margin-left: 4%;
    margin-right: 4px;
	float: left;
	background: #E600FF;
}

.col_c_1_1_1{
	width: 100%;
	height: 75px;
	float: left;
	background: #1D443E;
}

.col_c_1_1_1_1{
	width: 45%;
	height: 75px;
	float: left;
	background: #f39200;
}

.col_c_1_1_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #5a90cc;
}

.col_c_1_1_3{
	width: 100%;
	height: 75px;
	float: left;
	background: #2e4490;
}

.col_c_1_1_3_1{
	width: 25%;
	height: 75px;
	float: right;
	background: #f39200;
}

.col_d{
	width: 33.33%;
	height: 400px;
	float: left;
	background: #c0191d;
}

.col_d_1_1{
	width: 91%;
	height: 350px;
	margin-top: 25px;
    margin-left: 4%;
    margin-right: 4px;
	float: left;
	background: #E600FF;
}

.col_d_1_1_1{
	width: 100%;
	height: 75px;
	float: left;
	background: #1D443E;
}

.col_d_1_1_1_1{
	width: 45%;
	height: 75px;
	float: left;
	background: #f39200;
}

.col_d_1_1_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #5a90cc;
}

.col_d_1_1_3{
	width: 100%;
	height: 75px;
	float: left;
	background: #2e4490;
}

.col_d_1_1_3_1{
	width: 25%;
	height: 75px;
	float: right;
	background: #f39200;
}

.col_e{
	width: 33.33%;
	height: 400px;
	float: left;
	background: #c0191d;
}

.col_e_1_1{
	width: 91%;
	height: 350px;
	margin-top: 25px;
    margin-left: 4%;
    margin-right: 4px;
	float: left;
	background: #E600FF;
}

.col_e_1_1_1{
	width: 100%;
	height: 75px;
	float: left;
	background: #1D443E;
}

.col_e_1_1_1_1{
	width: 45%;
	height: 75px;
	float: left;
	background: #f39200;
}

.col_e_1_1_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #5a90cc;
}

.col_e_1_1_3{
	width: 100%;
	height: 75px;
	float: left;
	background: #2e4490;
}

.col_e_1_1_3_1{
	width: 25%;
	height: 75px;
	float: right;
	background: #f39200;
}

.col_f{
	width: 33.33%;
	height: 400px;
	float: left;
	background: #c0191d;
}

.col_f_1_1{
	width: 91%;
	height: 350px;
	margin-top: 25px;
    margin-left: 4%;
    margin-right: 4px;
	float: left;
	background: #E600FF;
}

.col_f_1_1_1{
	width: 100%;
	height: 75px;
	float: left;
	background: #1D443E;
}

.col_f_1_1_1_1{
	width: 45%;
	height: 75px;
	float: left;
	background: #f39200;
}

.col_f_1_1_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #5a90cc;
}

.col_f_1_1_3{
	width: 100%;
	height: 75px;
	float: left;
	background: #2e4490;
}

.col_f_1_1_3_1{
	width: 25%;
	height: 75px;
	float: right;
	background: #f39200;
}

.parte4{
	width: 100%;
	height: 300px;
	float: left;
	background: #BEBFBF;
}

.sec_3{
	width: 25%;
	height: 300px;
	float: left;
	background: #b7d167;
}

.sec_4{
	width: 75%;
	height: 300px;
	float: left;
	background: #989797;
}

.sec_4_1{
	width: 50%;
	height: 300px;
	float: left;
	background: #686868;
}

.sec_4_1_1{
	width: 92%;
	height: 220px;
	margin-top: 40px;
	margin-left: 4%;
    margin-right: 4px;
	float: left;
	background: #282828;
}

.sec_4_1_1_1{
	width: 40%;
	height: 50px;
	float: left;
	background: #7676B9;
}

.sec_4_1_1_2{
	width: 100%;
	height: 170px;
	float: left;
	background: #4654A4;
}

.sec_4_2{
	width: 50%;
	height: 300px;
	float: left;
	background: #686868;
}

.sec_4_2_1{
	width: 92%;
	height: 220px;
	margin-top: 40px;
	margin-left: 4%;
    margin-right: 4px;
	float: left;
	background: #282828;
}

.sec_4_2_1_1{
	width: 100%;
	height: 50px;
	float: left;
	background: #282828;
}

.sec_4_2_1_2{
	width: 40%;
	height: 100px;
	float: left;
	background: #4654A4;
}
