@charset "utf-8";

body{
  background:#9e1b14;
  font-family: arial;
  margin:0;
  padding:0;
  
}
#encabezado{
	 width: 100%;
  height: 300px;
  float: left;
  background: #22233d;
}

#primero{
	 width: 100%;
  height: 300px;
  float: left;
  background: #ddae76;
}

.fotografia{
	width: 30%;
	height: 300px;
	float: left;
	
}

.im1{
  background: url('../img/logo-header.png');
  width: 275px;
  height: 274px
}

.texto{
  width: 70%;
  height: 300px;
  float: left;
  background: #ddae76;
}

.texto2>div:first-child>h1{
  width: 100%;
  height: 60px;
  float: center;
  margin:0;
  padding: 0;
  padding-top: 100px; 
  color: #27170a;
  font-size: 45pt;
  font-weight: bold;
  font-family: calibri;
  letter-spacing: 6px;
  text-align: center;
}

.texto2>div:nth-child(2)>p{
  font-family: calibri;
  letter-spacing: 2pt;
  text-align: left;
  color:black;
  line-height: 20pt;
  font-size: 20pt;
  width: 90%;
  font-weight: lighter;
  text-align: right;
}

#segundo{
  width: 100%;
  height: 300px;
  float: left;
  background: #c3c3c3;
}

.texto3>div:first-child>p{
  font-family: calibri;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  padding:0;
  padding-left: 70px;
}

.texto3>div:nth-child(2)>p{
  font-family: calibri;
  font-weight: normal;
  font-size: 18px;
  padding-left: 70px;
  text-align: left;
  padding-right:70px;
  letter-spacing: 2px
}

.texto3>div:last-child>p{
  font-family: calibri;
  font-size: 18px;
  padding-left: 70px;
  font-weight: normal;
  letter-spacing: 2px;
  padding-right: 70px
}

#cafe_descripcion{
  width: 100%;
  height: 200px;
  background: lime;
  
}

#tercero{
  width: 100%;
  height: 155px;
  float: left;
  background: purple;
}

.foto_cafe{
  background: lime;
  width: 100%;
  height: 155px;
  

}

.foto_cafe2{
  background:purple;
  width: 50%;
  height: 155px;
}


.foto_cafe3{
  background:red;
  width: 40%;
  height: 155px;
}

.banner{
  width: 100%;
  height: 155px;
  float: left;
  background: #aff1d9
}

.child1{
  width: 20%;
  height: 150px;
  float: left;
  
}

.child2{
  width: 60%;
  height: 155px;
  float: left;
  
}

.im2{
  background: url('../img/img1.png');
  width: 263px;
  height: 155px;
}





