@charset "utf-8";
body 	{
	font-family:arial,helvetica,tahoma;
	background:white;
	margin:0px;
	padding:0px;
}
.contenedor 	{
	width:70%;
	min-height:1250px;
	background:#e6e6e6;
	margin-left:15%;
	border:1px solid black;
}

header	{
	width:100%;
	min-height:10px;
	background:#000000;
	float:left;
}
.header 	{
	width:100%;
	min-height:80px;
	background:white;
	float:left;
}
.head_1	{
	width:10%;
	min-height:15px;
	background:black;
	margin-top:40px;
	margin-left:4%;
	float:left;
}

.head_2	{
	width:10%;
	min-height:15px;
	background:black;
	margin-top:40px;
	margin-left:4%;
	float:left;
}

.head_3	{
	width:10%;
	min-height:15px;
	background:black;
	margin-top:40px;
	margin-left:4%;
	float:left;
}

.head_4	{
	width:10%;
	min-height:15px;
	background:black;
	margin-top:40px;
	margin-left:4%;
	float:left;
}

.fino_1   {
	width:100%;
	min-height:5px;
	background:#57b0ff;
	float:left;
}

.cuadro		{
	width:100%;
	min-height:500px;
	background:#ffffff;
	float:left;
}

.cuadro_1		{
	width:100%;
	min-height:150px;
	margin-left:0%;
	margin-top:100px;
	background:#000000;
	float:left;
}

.linea	{
	width:100%;
	min-height:3px;
	background:#010000;
	float:left;
}

.franjablanca

.cuadrogris	{
	width:30%;
	min-height:200px;
	margin-left:70%;
	background:#cecece; 
	float:left;
}

.cuadrito	{
	width:10%;
	min-height:45px;
	margin-left:50%;
	margin-top:120px;
	border: 2px solid white;
	float-left;
}

.nombre {
   width: 10%;
  float-left: 

}

.carnet {
    width: 8%;
    float-left: 

}
footer{
	width:100%;
	min-height:350px;
	background:#000000;
	margin-top:10px;
	float:left;
}
  