@charset "utf-8";

body{
	background: #000;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#inicio{
	width: 100%;
	background: #c3db51;
	height: 90px;
	float: left;
}

.inicio1{
	width: 100%;
	height: 30px;
	background: #19aadf;
	float: left;
}

.a1{
	width: 4%;
	margin-left: 58%;
	float: left;
	height: 30px;
	background: #3aa930;

}

.a2{
	width: 12%;
	margin-left: 1%;
	float: left;
	height: 30px;
	background: #3aa930;

}

.a3{
	width: 1%;
	margin-left: 1%;
	float: left;
	height: 30px;
	background: #3aa930;

}

.a4{
	width: 8%;
	margin-left: 1%;
	float: left;
	height: 30px;
	background: #3aa930;

}

.a5{
	width: 1%;
	margin-left: 1%;
	float: left;
	height: 30px;
	background: #3aa930;

}

.a6{
	width: 8%;
	margin-left: 1%;
	float: left;
	height: 30px;
	background: #3aa930;

}

.inicio2{
	width: 100%;
	height: 60px;
	background: #18546a;
	float: left;
}

.b1{
	width: 9%;
	margin-left: 4%;
	float: left;
	height: 60px;
	background: #02161d;

}

.b2{
	width: 7%;
	margin-left: 31%;
	float: left;
	height: 60px;
	background: #02161d;

}

.b3{
	width: 7%;
	margin-left: 2%;
	float: left;
	height: 60px;
	background: #02161d;

}

.b4{
	width: 11%;
	margin-left: 2%;
	float: left;
	height: 60px;
	background: #02161d;

}

.b5{
	width: 11%;
	margin-left: 2%;
	float: left;
	height: 60px;
	background: #02161d;

}

.b6{
	width: 7%;
	margin-left: 2%;
	float: left;
	height: 60px;
	background: #02161d;

}

.barra1{
	width: 100%;
	height: 8px;
	background: #2a5931;
	float: left;
}

.barra2{
	width: 100%;
	height: 8px;
	background: #1ab032;
	float: left;
}

.sec1{
	width: 100%;
	background: #002b57;
	height: 450px;
	float: left;
}

.cajatexto1{
	width: 45%;
	background:#0dec61;
	height: 250px;
	float: left;
	margin-left: 4%;
	margin-top: 150px; 
}

.cajatexto2{
	width: 100%;
	background:#e1c823;
	height: 45px;
	float: left;
}

.boton1{
	width: 25%;
	background:#655909;
	height: 45px;
	float: left;
	margin-left: 4%;
}

.cajatexto3{
	width: 100%;
	background:#d9d6c3;
	height: 160px;
	float: left;
}

.cajatexto4{
	width: 100%;
	background:#e1c823;
	height: 45px;
	float: left;
}

.boton2{
	width: 15%;
	background:#655909;
	height: 45px;
	float: left;
	margin-left: 80%;
}

.barra3{
	width: 100%;
	height: 8px;
	background: #10e7d0;
	float: left;
}

.sec2{
	width: 100%;
	background: #5c1463;
	height: 250px;
	float: left;
}

.cajatexto5{
	width: 70%;
	background:#bf254d;
	height: 250px;
	float: left;
}

.cajatexto6{
	width: 100%;
	background:#a62345;
	height: 45px;
	float: left;
}

.boton3{
	width: 25%;
	background:#e29aad;
	height: 45px;
	float: left;
	margin-left: 4%;
}

.cajatexto7{
	width: 100%;
	background:#bd0c63;
	height: 160px;
	float: left;
}

.cajatexto8{
	width: 100%;
	background:#f6154f;
	height: 45px;
	float: left;
}

.boton4{
	width: 15%;
	background:#e29aad;
	height: 45px;
	float: left;
	margin-left: 80%;
}

.imagen1{
	width: 30%;
	background:#140cbd;
	height: 250px;
	float: left;
}

.sec3{
	width: 100%;
	background: #0cbd4a;
	height: 650px;
	float: left;
}
.cajatexto9{
	width: 31%;
	background:#0dec61;
	height: 250px;
	float: left;
	margin-left: 1%;
	margin-top: 50px; 
}

.cajatexto10{
	width: 100%;
	background:#439055;
	height: 45px;
	float: left;
}

.cajatexto11{
	width: 25%;
	background:#b3de60;
	height: 45px;
	float: left;
	margin-left: 4%;
}

.imagen2{
	width: 100%;
	background:#0d6a23;
	height: 160px;
	float: left;
}

.cajatexto12{
	width: 100%;
	background:#054619;
	height: 45px;
	float: left;
}

.boton5{
	width: 15%;
	background:#aeac12;
	height: 45px;
	float: left;
	margin-left: 80%;
}

.cajatexto13{
	width: 31%;
	background:#0dec61;
	height: 250px;
	float: left;
	margin-left: 2%;
	margin-top: 50px; 
}

.cajatexto14{
	width: 100%;
	background:#439055;
	height: 45px;
	float: left;
}

.cajatexto15{
	width: 25%;
	background:#b3de60;
	height: 45px;
	float: left;
	margin-left: 4%;
}

.imagen3{
	width: 100%;
	background:#0d6a23;
	height: 160px;
	float: left;
}

.cajatexto16{
	width: 100%;
	background:#054619;
	height: 45px;
	float: left;
}

.boton6{
	width: 15%;
	background:#aeac12;
	height: 45px;
	float: left;
	margin-left: 80%;
}

.cajatexto17{
	width: 31%;
	background:#0dec61;
	height: 250px;
	float: left;
	margin-left: 2%;
	margin-top: 50px; 
}

.cajatexto18{
	width: 100%;
	background:#439055;
	height: 45px;
	float: left;
}

.cajatexto19{
	width: 25%;
	background:#b3de60;
	height: 45px;
	float: left;
	margin-left: 4%;
}

.imagen4{
	width: 100%;
	background:#0d6a23;
	height: 160px;
	float: left;
}

.cajatexto20{
	width: 100%;
	background:#054619;
	height: 45px;
	float: left;
}

.boton7{
	width: 15%;
	background:#aeac12;
	height: 45px;
	float: left;
	margin-left: 80%;
}

.cajatexto21{
	width: 31%;
	background:#0dec61;
	height: 250px;
	float: left;
	margin-left: 1%;
	margin-top: 50px; 
}

.cajatexto22{
	width: 100%;
	background:#439055;
	height: 45px;
	float: left;
}

.cajatexto23{
	width: 25%;
	background:#b3de60;
	height: 45px;
	float: left;
	margin-left: 4%;
}

.imagen5{
	width: 100%;
	background:#0d6a23;
	height: 160px;
	float: left;
}

.cajatexto24{
	width: 100%;
	background:#054619;
	height: 45px;
	float: left;
}

.boton8{
	width: 15%;
	background:#aeac12;
	height: 45px;
	float: left;
	margin-left: 80%;
}

.cajatexto25{
	width: 31%;
	background:#0dec61;
	height: 250px;
	float: left;
	margin-left: 2%;
	margin-top: 50px; 
}

.cajatexto26{
	width: 100%;
	background:#439055;
	height: 45px;
	float: left;
}

.cajatexto27{
	width: 25%;
	background:#b3de60;
	height: 45px;
	float: left;
	margin-left: 4%;
}

.imagen6{
	width: 100%;
	background:#0d6a23;
	height: 160px;
	float: left;
}

.cajatexto28{
	width: 100%;
	background:#054619;
	height: 45px;
	float: left;
}

.boton9{
	width: 15%;
	background:#aeac12;
	height: 45px;
	float: left;
	margin-left: 80%;
}

.cajatexto29{
	width: 31%;
	background:#0dec61;
	height: 250px;
	float: left;
	margin-left: 2%;
	margin-top: 50px; 
}

.cajatexto30{
	width: 100%;
	background:#439055;
	height: 45px;
	float: left;
}

.cajatexto31{
	width: 25%;
	background:#b3de60;
	height: 45px;
	float: left;
	margin-left: 4%;
}

.imagen7{
	width: 100%;
	background:#0d6a23;
	height: 160px;
	float: left;
}

.cajatexto32{
	width: 100%;
	background:#054619;
	height: 45px;
	float: left;
}

.boton10{
	width: 15%;
	background:#aeac12;
	height: 45px;
	float: left;
	margin-left: 80%;
}

.sec4{
	width: 100%;
	background: #76d519;
	height: 250px;
	float: left;
}

.cajatexto33{
	width: 30%;
	background:#bf254d;
	height: 250px;
	float: left;
}

.cajatexto34{
	width: 100%;
	background:#a62345;
	height: 45px;
	float: left;
}

.boton11{
	width: 25%;
	background:#e29aad;
	height: 45px;
	float: left;
	margin-left: 4%;
}

.cajatexto35{
	width: 100%;
	background:#bd0c63;
	height: 160px;
	float: left;
}

.cajatexto36{
	width: 100%;
	background:#f6154f;
	height: 45px;
	float: left;
}

.boton12{
	width: 15%;
	background:#e29aad;
	height: 45px;
	float: left;
	margin-left: 80%;
}

.imagen8{
	width: 70%;
	background:#140cbd;
	height: 250px;
	float: left;
}

