@charset "utf-8";

body{
	background: #000;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #c3db51;
	height: 60px;
	float: left;
}

.child1{
	width: 55%;
	height: 60px;
	background: #629398;
	float: left;
}

.child2{
	width: 45%;
	height: 60px;
	background: #e89ec1;
	float: left;
}

.a{
	width: 45%;
	float: left;
	height: 60px;
	background: #3aa930;
}

.b{
	width: 55%;
	float: left;
	height: 60px;
	background: #b8de35;
}

.c{
	width: 27%;
	float: left;
	height: 60px;
	background: #da9f75;
}

.d{
	width: 19%;
	float: left;
	height: 60px;
	background: #d6a238;
}

.e{
	width: 27%;
	float: left;
	height: 60px;
	background: #859e77;
}

.f{
	width: 27%;
	float: left;
	height: 60px;
	background: #cbb442;
}

.g{
	width: 100%;
	float: left;
	background: #e8dd2b;
	height: 500px;
}

.h{
	width: 100%;
	float: left;
	background: #0cec90;
	height: 40px;
}

.secc2{
	width: 100%;
	float: left;
	background: #eb3de1;
	height: 600px;
}

.i{
	width: 25%;
	float: left;
	background: #8a4286;
	height: 600px;
	margin-left:6%;
}

.i1{
	width: 100%;
	float: left;
	background: #592356;
	height: 300px;
}

.i2{
	width: 100%;
	float: left;
	background: #94e4e7;
	height: 50px;
}

.i3{
	width: 100%;
	float: left;
	background: #0c5457;
	height: 180px;
}

.i4{
	width: 100%;
	float: left;
	background: #3bcd50;
	height: 70px;
}

.i5{
	width: 50%;
	float: left;
	background: #f3f539;
	height: 70px;
	margin-left: 25%;
}

.j{
	width: 25%;
	float: left;
	background: #8a4286;
	height: 600px;
	margin-left:6%;
}

.j1{
	width: 100%;
	float: left;
	background: #592356;
	height: 300px;
}

.j2{
	width: 100%;
	float: left;
	background: #94e4e7;
	height: 50px;
}

.j3{
	width: 100%;
	float: left;
	background: #0c5457;
	height: 180px;
}

.j4{
	width: 100%;
	float: left;
	background: #3bcd50;
	height: 70px;
}

.j5{
	width: 50%;
	float: left;
	background: #f3f539;
	height: 70px;
	margin-left: 25%;
}

.k{
	width: 25%;
	float: left;
	background: #8a4286;
	height: 600px;
	margin-left:6%;
}

.k1{
	width: 100%;
	float: left;
	background: #592356;
	height: 300px;
}

.k2{
	width: 100%;
	float: left;
	background: #94e4e7;
	height: 50px;
}

.k3{
	width: 100%;
	float: left;
	background: #0c5457;
	height: 180px;
}

.k4{
	width: 100%;
	float: left;
	background: #3bcd50;
	height: 70px;
}

.k5{
	width: 50%;
	float: left;
	background: #f3f539;
	height: 70px;
	margin-left: 25%;
}

.l{
	width: 100%;
	float: left;
	background: #1ea5b9;
	height: 400px;
}