@charset "utf-8";

body{
	background: #fbf1d8;
	padding: 0;
	margin: 0;
	font-family: arial;
}

.contenedor{
 	display: block;
 	margin: auto;
 	height: auto;
 	width: 100%;
 	background: #232323;
 	min-height: 40px;
}

header{
	background:#232323;
	width: : 100%x; 
	height: 40px;
	float: left;
}

.logo{
	background: url('../img/icono_purple.png');
	width: 34%;
	height: 22px;
	margin: 0;
	display: block;
	padding: 0;
	margin-top: .5px;
}

button{
	border: solid;
	background:#ae73a8; 
	width: 12%;
	height:25px;
	font-weight: normal;
	font-size: 10pt;
}

#menu1{
    width: 250%;
    height: 40px;
    float: left;
    margin: 0;
    padding: 0;
}

#menu1>li{
    width: 7%;
    height:28px;
    display: block;
    float:left;
    padding-top: 12px;
    font-family: calibri;
    font-size: 8.5pt;
    text-align: center;
    border-right: 1px solid #4F4F47;
}

#menu1>li>a{
    text-decoration: none;
    color: white;
    text-align: center;
}

#menu1>li:hover{
    background: #EDB176;
}

#menu1>li>a:hover{
   color: black;
}