@charset "utf-8";

body {
	margin: 0;
	padding-right: 0;
	font-family: Arial;
	color: #212529;
	background-color: #fff;
}

.contenedor{
    width: 100%;
	float: left;
    margin: auto;
  
}

.icono{
	background-image: url("../img/icono_logo.png");
	float: left;
	width: 2.9%;
	height: 22px;
}

header>#menu{
	width: 100%;
	background: #c87b2b;
	float: left;
	height: 40px;	
}

header>#menu>div{
	width: 3%;
	background: #c87b2b;
	float: left;
	height: 22px;
	margin: 1%;
}

header>#menu>ul{
	width: 90%;
	float: left;
	height: auto;	
}

header>#menu>ul>li{
	display: block;
	float: left;
	color: #ffffff;
	width: 10%;
	height: 40px;
	text-align: center;
	border-left: 1px solid white;
}

#menu>ul>li{
	display: block;
	float: left;
	color: #ffffff;
	width: 18%;
	height: 40px;
	text-align: center;
}

#menu>ul>li:last-child{
	border-right: 1px solid white;
}


#menu>ul>li>a{
	text-decoration: none;
	display: block;
	color: #ffffff;
	font-size: 12px;
	font-weight: lighter;
}

#menu>ul>li:hover{
	background: #1b5d84;
	color: #ffffff;
	font-size: 12px;
	font-weight: lighter;
}

#menu>ul>li:letras{
	background: black;
	color: #ffffff;
	font-size: 12px;
	font-weight: lighter;
}

.banner{
	background-image: url("../img/crecimiento2.png");
	float: left;
	width: 100%;
	min-height: 300px;
}

.img-banner{
	background: url("../img/persona.png");
	width: 567px;
	height: 498px;
	float: left;
}


.banner>div:first-child{
	width: 40%;
	float: left;
	height: auto;
}

.banner>div:last-child{
	width: 60%;
	float: left;
	height: auto;
}


.banner>div:last-child>div{
	width: 75%;
	float: left;
	height: auto;
	display: block;
	margin: auto;
}

.banner>div:last-child>div>h1{
	padding-top: 40%;
	font-size: 28pt;
	color: #c87b2b;
}

.banner>div:last-child>div>p{
	font-size: 30pt;
	margin-bottom: 2%;
	text-align: left;
	line-height: 1.8em;
	color: #000000;
	font-weight: lighter;
	padding-right: 8%;
}
.banner>div:last-child>div>div{
	width: 100%;
	float: left;
	height: auto;
}

.banner input[type="button"]{
	background: #ffffff;
	width: 15%;
	padding: 15px;
	margin-left: 1%;
	color: rgb(183, 99, 13);
	border-radius: 5px;
	border: 1px solid rgb(182, 99, 13);
	font-size: 14px;
}

.banner input[type="button"]:hover{
	background: #98969a;
	color: #ffffff;
}

.icono1{
	background: url("../img/icono1.png") ;
	width: 100px;
	height: 100px;
	float: left;
}

.icono2{
	background: url("../img/icono2.png") ;
	width: 100px;
	height: 100px;
	float: left;
}

.icono3{
	background: url("../img/icono3.png");
	width: 100px;
	height: 100px;
	float: left;
}

.icono4{
	background: url("../img/icono4.png");
	width: 100px;
	height: 100px;
	float: left;
}


article{
	margin-top: 20px;
  	width: 22%;
  	float: left;
  	height: auto;
  	margin-left:2.5%;
  	background: #ffffff;
}

.g{
	width: 75%;
	margin: auto;
	float: left;
	padding: 5%;
}

.ga{
	width: 75%;
	display: block;
	margin: auto;
	float: left;
	padding: 5%;
}

article p{
	float: left;
	width: 75%;
	text-align: left;
}

section{
	margin-top: 2%;
	float: left;
}

footer{
	margin-top: 5%;
	width: 100%;
	float: left;
	height: 80px;
	text-align: center;
	font-weight: lighter;
	color: #ffffff;
	background: #000000;
}

