@charset "utf-8";

body{
	background: white;
	padding: 0;
	margin: 0;
	font-family: arial;
}

.contenedor{
 	display: block;
 	margin: auto;
 	height: auto;
 	width: 100%;
 	background: #232323;
 	min-height: 40px;
}

header{
	background:#232323;
	width: : 100%x; 
	height: 40px;
	float: left;
}

.logo{
	background: url('../img/icono_purple.png');
	width: 34%;
	height: 22px;
	margin: 0;
	display: block;
	padding: 0;
	margin-top: .5px;
}

button{
  background-color: #cd72a6;
  color: white;
  font-size:10pt;
  width: 8%;
  height: 30px;
  font-weight: bold; 
  margin-top: 4px;
  margin-left: 8%;
  border: solid #cd72a6;
  border-radius: 7px;
}

#menu1>button:hover{
    background: #922e67;
 }

#menu1{
    width: 250%;
    height: 40px;
    float: left;
    margin: 0;
    padding: 0;
}

#menu1>li{
    width: 7%;
    height:28px;
    display: block;
    float:left;
    padding-top: 12px;
    font-family: calibri;
    font-size: 8.5pt;
    text-align: center;
    border-right: 1px solid #54544f;
}

#menu1>li>a{
    text-decoration: none;
    color: white;
    text-align: center;
}

#menu1>li:hover{
    background: #bdcd72;
}

#menu1>li>a:hover{
   color: black;
}

#g{
    width:100%;
    height:500px;
    float:left;
}

.g1>.imagen1{
    width: 1400px;
    height: 500px;
    background: url('../img/crecimiento2.png');
    margin: auto;
    display: block;
}

.ga1{
    width:57%;
    height:495px;
    margin left: 15%;
    float:left;
}


.ga1>h1{
    font-family: helvetica;
    font-size:32pt;
    font-weight: bold;
    color: #795094;
    text-align: left;
    padding:0;
    margin:0;
    margin-top: 70px;
    margin-left: 15%;
}

.ga1>p{
  font-family: helvetica;
  font-size: 16pt;
  font-weight: lighter;
  line-height: 27pt;
  text-align: left;
  color: #35393B;
  padding: 0;
  margin:0;
  margin-left: 15%;
  margin-right: 20%;
}


.ga1>div>button{
    background: white;
    height: 46px;
    width: 12%;
    border-radius: 5px;
    border: 1px solid #7f589c;
    font-family: helvetica;
    font-size: 10pt;
    font-weight: lighter;
    text-align: center;
    color:#7f589c;
    margin-left: 22%;
    margin-top: 10px;
}

.ga1>div>button:nth-child(2){
    background: white;
    height: 46px;
    width: 12%;
    border-radius: 5px;
    border: 1px solid #7f589c;
    font-family: helvetica;
    font-size: 10pt;
    font-weight: lighter;
    text-align: center;
    color:#7f589c;
    margin-left: 2.5%;
    margin-top: 10px;
}


.ga1>div>button:nth-child(3){
    background: white;
    height: 46px;
    width: 12%;
    border-radius: 5px;
    border: 1px solid #7f589c;
    font-family: helvetica;
    font-size: 10pt;
    font-weight: lighter;
    text-align: center;
    color:#7f589c;
    margin-left: 2.5%;
    margin-top: 10px;
}


.ga1>div>button:last-child{
    background: white;
    height: 46px;
    width: 12%;
    border-radius: 5px;
    border: 1px solid #7f589c;
    font-family: helvetica;
    font-size: 10pt;
    font-weight: lighter;
    text-align: center;
    color:#7f589c;
    margin-left: 2.5%;
    margin-top: 10px;
}
.ga2{
    width:40%;
    height:500px;
    float:left;
}

.ga2>.imagen2{
    width: 560px;
    height: 500px;
    background: url('../img/persona3.png');
    margin: auto;
    display: block;
    margin-right: 10px;
}