@charset "utf-8";

body{
	background: #FF6138;
	width: 100%;
	height:auto;
	font-family:arial;
	margin: 0;
 }

 #menu{
 	width: 100%;
 	background: #79BD8F;
 	height: 110px;
 	float: left;
  }

  .hijo1{
  	width: 100%;
 	background: #00A388;
 	height: 38px;
 	float: left;

  }

  .iconotel{
  	width: 4%;
 	background: #153641;
 	height: 38px;
 	float: left;
 	margin-left:55%;
  }

  .tel{
  	width: 13%;
 	background: #2A6887;
 	height: 38px;
 	float: left;
}

.ourpartners{
	width: 11%;
 	background: #6DB3BF;
 	height: 38px;
 	float: left;
}

.moreinfo{
	width: 9%;
 	background: #94CFC9;
 	height: 38px;
 	float: left;
}

.signin{
	width: 8%;
 	background: #B6FFF8;
 	height: 38px;
 	float: left;
}


.logo{
	width: 15%;
 	background: #EB6896;
 	height:72px;
 	float: left;
 }
.home{
	width: 5%;
 	background: #46698D;
 	height:72px;
 	float: left;
 	margin-left: 33%;
}

.knowus{
	width: 7%;
 	background: #BA93CC;
 	height:72px;
 	float: left;
 }

 .brands{
 	width: 8%;
 	background: #F0DFA7;
 	height:72px;
 	float: left;
}

.corporate{
	width: 8%;
 	background: #C18265;
 	height:72px;
 	float: left;

}

.blog{
	width: 6%;
 	background: #C2B099;
 	height:72px;
 	float: left;
}

.comunity{
	width: 9.5%;
 	background: #FFBAB3;
 	height:72px;
 	float: left;
}

.contact{
	width: 8.5%;
 	background: #E8C7A3;
 	height:72px;
 	float: left;
}

#contenedor1{
	width: 100%;
 	background: #FE7F2D;
 	height:620px;
 	float: left;

}

.hijoa{
	width: 56%;
 	background: #FCCA46;
 	height:620px;
 	float: left;

}

.margen{
	width:100%;
 	background: #3C2B3E;
 	height:60px;
 	float: left;
}

.caja{
	width:100%;
 	background: #F5D2BC;
 	height:228px;
 	float: left;
}

.cajatexto{
	width:94%;
 	background: #CC8C8B;
 	height:228px;
 	float: left;
 	margin-left:6%;
}

.titulo{
	width:17%;
 	background: #314559;
 	height:55px;
 	float: left;

}

.text{
    width:100%;
 	background: #4A90BF;
 	height:145px;
 	float: left;

}



.more{
	width:12%;
 	background: #F25757;
 	height:28px;
 	float: left;
 	margin-left: 88%;
}

#contenedor2{
	width:100%;
 	background: #99A273;
 	height:300px;
 	float: left;
}

.img{
	width:40%;
 	background: #D8995A;
 	height:300px;
 	float: left;
}

.cajasdetexto{
	width:60%;
 	background: #F2E8DC;
 	height:300px;
 	float: left;

}

.cajatexto1{
	width:50%;
 	background: #6C8286;
 	height:300px;
 	float: left;
}

.cajatexto2{
	width:50%;
 	background: #9A8A91;
 	height:300px;
 	float: left;

}

.titul{
	width:100%;
 	background: #DD7F7C;
 	height:75px;
 	float: left;
}

.texto{
	width:100%;
 	background: #A65C3D;
 	height:180px;
 	float: left;
}