@charset "utf-8";

body{
	background: #FF536C;
	width: 100%;
	height:auto;
	font-family:arial;
	margin: 0;
 }

 #menu{
 	width: 100%;
 	background: #c3db51;
 	height: 60px;
 	float: left;
 	
 }

 .child1{
 	width: 55%;
 	height:60px;
 	background: #FFB14C;
 	float:left;
 }

 .child2{
 	width: 45%;
 	float: left;
 	background: #FF9F93;
 	height: 60px;
 	
 }

 .a{
 	width: 45%;
 	float:left;
 	height: 60px;
 	background:#7F7270;
 }

 .b{
 	width: 55%;
 	float:left;
 	height: 60px;
 	background:#43B27B;
}

.c{
	width: 27%;
 	float:left;
 	height: 60px;
 	background:#93FFC9;
}

.d{
	width: 19%;
 	float:left;
 	height: 60px;
 	background:#6484B2;

}

.e{
	width: 27%;
 	float:left;
 	height: 60px;
 	background:#8744B2;
}

.f{
	width: 27%;
 	float:left;
 	height: 60px;
 	background:#B255A7;

}

#información{
	width: 100%;
	background: purple;
	height:2410px;
	float: left;
}

.slideshowrosa{
	width: 100%;
	background: #FF70D7;
	float: left;
	height: 500px;
}

#premium{
	width: 100%;
	background: #6399FF;
	float: left;
	height: 793px;
	margin-top: 10px;
}

.hijo1{
	height: 650px;
	width: 28%;
	background:#8DFF63;
	float:left;
	margin-left:4%;
}

.dentrodehijo1{
	height: 600px;
	width: 100%;
	background:#E8485A;
	float:left;
	
}

.dentrodehijo12{
	height: 120px;
	width: 100%;
	background: #2725FF;
	float: left;
	margin-top: 100%;
}

.dentrodehijo13{
	height: 200px;
	width: 100%;
	background: #E8A848;
	float: left;
	margin-top:40px;
}

.dentrodehijo14{
	height: 82px;
	width: 100%;
	background: #8925E8;
	float: left;
	margin-top:200px;

}

.dentrodehijo15{
	height: 82px;
	width: 28%;
	background: #FF1312;
	float: left;
	margin-top:0px;
	margin-left: 37%;
}



#banner{
	height: 520px;
	width: 100%;
	background:#FFA94E;
	float: left;
	margin-top: 3.7%;
}

.hijoa{
	height: 620px;
	width: 50%;
	background:#D9B0FF;
	float: left;
	margin-top: 0px;
}

.hijob{
	height: 620px;
	width: 50%;
	background:#FF4488;
	float: left;
	margin-top: 0px;
	
}

.texto1{
	height: 140px;
	width: 100%;
	background:#52B45F;
	float: left;
}

.texto2{
	height: 110px;
	width: 45%;
	background:#79FFDD;
	float: left;
	margin-top:0px;
}

.texto3{
	height: 110px;
	width: 100%;
	background:#E89E32;
	float: left;

}

.texto4{
	height: 100px;
	width: 100%;
	background:#ED889A;
	float: left;

}

.boton{
	height: 100px;
	width: 25%;
	background:#F76B41;
	float: left;
	margin-left: 37%;

}


#contacto{
	height: 700px;
	width: 100%;
	background:;
	float: left;

}

.franja{
	height: 100px;
	width: 100%;
	background:#4E5DFF;
	float: left;
	margin-top: 100px;
}

.izquierda{
	height: 700px;
	width: 60%;
	background:;
	float: left;

}

.derecha{
	height: 580px;
	width: 40%;
	background:#83D655;
	float: left;
	margin-top: 100px;
}

.derecha1{
	height: 100px;
	width: 100%;
	background:#63A6A2;
	float: left;
	margin-top: 20%;

}

.derecha2{
	height: 100px;
	width: 100%;
	background:#63A6A2;
	float: left;
	margin-top: 10%;

}

.derecha3{
	height: 100px;
	width: 20%;
	background:#E89F0C;
	float: left;
	margin-left:63%; 
}


.izquierda1{
	margin-top:0px; 
	height: 418px;
	width: 40%;
	background:#4E5DFF;
	float: left;

}

.izquierda2{
	margin-top:0px; 
	height: 418px;
	width: 60%;
	background:#4E5DFF;
	float: left;
}

.hijoi1{
	margin-top:0%; 
	height: 100px;
	width: 96.5%;
	background:#FF4488;
	float: left;
	margin-left:12px;

}

.hijoi2{
	margin-top:5px; 
	height: 100px;
	width: 96.5%;
	background:#FF4488;
	float: left;
	margin-left:12px
}

.hijoi3{
	margin-top:12px; 
	height: 200px;
	width: 96.5%;
	background:#FF4488;
	float: left;
	margin-left:12px;


}
.nombre{
	margin-top:0%; 
	height: 100px;
	width: 100%;
	background:#FF4488;
	float: left;
	margin-left:2px;
}

.email{
	margin-top:5px; 
	height: 100px;
	width: 100%;
	background:#FF4488;
	float: left;
	margin-left:2px

}

.mensaje{
	margin-top:12px; 
	height: 200px;
	width: 100%;
	background:#FF4488;
	float: left;
	margin-left:2px

}

.franja2{
	height: 62px;
	width: 100%;
	background:#FF6A2F;
	float: left;
}

#pie{
	height: 340px;
	width: 100%;
	background:#0CB8E8;
	float: left;
	margin-top: 0%;
}

.pie1{
	height: 340px;
	width: 30%;
	background:#A69C63;
	float: left;
}

.pie2{
	height: 340px;
	width: 70%;
	background:#733C06;
	float: left;
}

.h1{
	height: 50%;
	width: 100%;
	background:#BC59FF;
	float: left;
	margin-left: 1%

}

.h2{
	height: 50%;
	width: 100%;
	background:#B1C7FF;
	float: left;
	margin-left: 1%
}

.j1{
	height: 50%;
	width: 25%;
	background:#4631FF;
	float: left;
	margin-left: 23%;

}

.j2{
	height: 50%;
	width: 15%;
	background:#4631FF;
	float: left;
	margin-left: 0.5%
}