@charset "utf-8";

body{
	background: #f6f8f1;
	margin: 0;
	padding: 0;
	font-family: arial;
}

.contenedor{
	display: block;
	margin: auto;
	width: 40%;
	height: auto;
	background: white;
	min-height: 60px;
}

header{
	background: #A0E575;
	height:170px;
	float: left;
	width: 100%;
}

.cl1{
	width: 30%;
	height: 170px;
	float: left;
}

.cl2{
	width: 70%;
	height: 170px;
	float: left;
}

.img1{
	background: url('../img/icon.gif');
	width: 70px;
	height: 70px;
	margin: auto;
	display: block;
	margin-top: 50px;
}

.cl2 > div:first-child > h3{
	color: white;
	font-size: 14pt;
	letter-spacing: 12px;
	text-align: left;
	font-weight:bold;
	font-family: calibri;
	padding: 0;
	margin: 0;
	margin-top: 50px;

}

.cl2 > div:last-child> h1{
	color: #02153B;
	font-size: 26pt;
	text-align: left;
	font-weight: bold;
	font-family: arial;
	padding: 0;
	margin: 0;

}