@charset "utf-8";

body{
	background: white;
	margin: 0;
	padding: 0;
	font-family: arial;
}

#caja{
	margin: 0;
	padding: 0;
	height: 50px;
	width: 100%;
	float: left;
}

.icono{
	width: 4%;
	height: 45px;
	float: left;
	background:#B6640E; 
	margin: 0;
	padding: 0;
}

.menu{
	width: 96%;
	height: 45px;
	float: left;
	background:#B6640E; 
	margin:0;
	padding: 0;
}


.menu>li{
	width: 12%;
	height:30px;
	display: block;
	float: left;
	text-align: center;
	padding-top: 15px;
	border-right: 1px solid #B97F11;
	font-family: calibri;
	font-weight: lighter;
}

.menu>li>a{
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
}

.menu>li:hover{
	background:white;
}

.menu>li>a:hover{
	color: black;
}

#caja>.icono>.img1{
	width: 33px;
	height: 22px;
	background: url('../img/icono_logo.png');
	margin: auto;
	display: block;
	margin-top:10px;
	margin-left:5px;
}

#sec1{
	width: 100%;
	height: 500px;
	float: left;
	background:white;
}

#sec1>.banner{
	width: 100%;
	height: 500px;
	float: left;
	background:white;
}

.texto{
	width:60%;
	height:500px;
	float: left;

}

.hombre{
	width:40%;
	height:500px;
	float: left;
}

#sec1>.banner>.img2{
	background: url('../img/crecimiento2.png');
	width: 100%;
	height:674px;
	margin:0;
	display: block;
	float: left;
	padding: 0;
}

.hombre>.img3{
	background: url('../img/persona.png');
	width: 567px;
	height:498px;
	margin:0;
	float: left;
	margin-left:;
}

.img2>.texto>h1{
	color: #C06E28;
	font-size: 25pt;
	text-align: left;
	font-weight:bold;
	font-family: -apple-system, BlinkMacSystemFont, 
	"Segoe UI", Roboto, "Helvetica Neue", Arial,sans-serif;
	padding: 0;
	margin: 0;
	margin-top:60px;
	margin-left:%;
}

.texto>p{
	color:black;
	font-size: 16pt;
	text-align: left;
	font-weight:lighter;
	font-family: -apple-system, BlinkMacSystemFont, 
	"Segoe UI", Roboto, "Helvetica Neue", Arial,sans-serif;
	padding: 0;
	margin: 0;
	margin-top:;
	margin-left:0%;
	line-height: 30pt;
	margin-right:25%;

}

.texto>div>button{
	height:47px; 
	width:180px;
	background:white;
	border-radius: 3px;
	border: 1px solid #C06E28;
	color:#C06E28;
	font-family:calibri;
	font-weight: normal;
	margin-top: 40px;
	margin-left:2%;
	font-size: 12pt; 
}

.texto>div>button:nth-child(2){
	height:47px; 
	width:180px;
	background:white;
	border-radius: 3px;
	border: 1px solid #C06E28;
	color: #C06E28;
	font-family:calibri;
	font-weight: normal;
	margin-top: 40px;
	margin-left:2%;
	font-size: 12pt; 
}

.texto>div>button:nth-child(3){
	height:47px; 
	width:180px;
	background:white;
	border-radius: 3px;
	border: 1px solid #C06E28;
	color: #C06E28;
	font-family:calibri;
	font-weight: normal;
	margin-top: 40px;
	margin-left:2%;
	font-size: 12pt; 
}

.texto>div>button:nth-child(4){
	height:47px; 
	width:180px;
	background:white;
	border-radius: 3px;
	border: 1px solid #C06E28;
	color: #C06E28;
	font-family:calibri;
	font-weight: normal;
	margin-top: 40px;
	margin-left:2%;
	font-size: 12pt; 
}

#sec2{
	width: 100%;
	height:auto;
	float: left;
}

.gris{
	width: 100%;
	height: 350px;
	background:#E8E8E8;
	float: left;
	margin-left:0%; 

}

.clas1{
	width: 40%;
	height: 130px;
	float: left;
}

.clas2{
	width: 60%;
	height: 130px;
	float: left;
}

.text1{
	width: 100%;
	height: 130px;
	float: left;
}

.clas1>.img4{
	background: url('../img/icono1.png');
	width: 100px;
	height:100px;
	margin:0;
	float: left;
	margin-top: 10px;
	display: b
}

.clas1>.img5{
	background: url('../img/icono2.png');
	width: 100px;
	height:100px;
	margin:0;
	float: left;
	margin-top: 10px;
}

.clas1>.img6{
	background: url('../img/icono3.png');
	width: 100px;
	height:100px;
	margin:0;
	margin-top: 10px;
}

.clas1>.img7{
	background: url('../img/icono4.png');
	width: 100px;
	height:100px;
	margin:0;
	margin-top: 10px;
}

.gris>.t1>h2{
	color:black;
	font-size:18pt;
	text-align: left;
	font-weight:bold;
	font-family:calibri;
	padding: 0;
	margin: 0;
	margin-top:20px;
	margin-left:40%;

}
#sec2>div:first-child{
	margin-left:1%;
	margin-right: 1%;
	width: 23%;
	height: 250px;
	float: left;
}

#sec2>div:nth-child(2){
	margin-left:1%;
	margin-right: 1%;
	width: 23%;
	height: 250px;
	float: left;
}

#sec2>div:nth-child(3){
	margin-left:1%;
	margin-right: 1%;
	width: 23%;
	height: 250px;
	float: left;
}

#sec2>div:last-child{
	margin-left:1%;
	margin-right: 1%;
	width: 23%;
	height: 250px;
	float: left;
	font-family: calibri;
}