@charset "utf-8";

body{
	background: #f6f8f1;
	margin: 0;
	padding: 0;
	color:black;
	font-family: arial;
}

header{
	background: #0E0661;
	margin: 0;
	padding: 0;
	height: 70px;
	width: 100%;
	float: left;
}

#menu{
	width: 100%;
	height: 70px;
	float: left;
	margin: 0;
	padding: 0;
}

#menu>li{
	width: 12%;
	height: 45px;
	display: block;
	float: left;
	text-align: center;
	padding-top: 25px;
	border-right: 1px solid cyan;
}

#menu>li>a{
	text-decoration: none;
	color: cyan;
	text-align: center;
	
}

#menu>li:hover{
	background: #89B5E8;
}

#menu>li>a:hover{
	color: black;
}

#banner{
	width: 100%;
	height: 520px;
	float: left;
	background: cyan;
}

#banner>.cl1{
	width: 40%;
	height: 520px;
	float: left;
}

#banner>.cl2{
	width: 60%;
	height: 520px;
	float: left;
}

#banner>.cl1>.img1{
	width: 501px;
	height: 501px;
	background: url('../img/img-flat.png');
	margin: auto;
	display: block;
}

#banner>.cl2>div>h1{
	margin: 0;
	padding: 0;
	letter-spacing: 2px;
	color: purple;
	font-size: 26pt;
	text-align: left;
	font-family: calibri;
	font-weight: bold;
	margin-top: 100px;
}

#banner>.cl2>div>p{
	letter-spacing: 2px;
	color: black;
	font-family: calibri;
	font-weight: lighter;
	font-size: 16pt;
	margin: 0;
	padding: 0;
	text-align: left;
}

#banner>.cl2>div>div>button{
	background: cyan;
	height: 50px;
	width: 15%;
	border-radius: 2px;
	border: 1px solid purple;
	text-align: center;
	font-family: calibri;
	font-size: 12pt;
	font-weight: lighter;
	margin-left: 10%;
	margin-top: 10px;
}

#art2{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 40px;
	height: 250px;
	float: left;
	background: gray;
}

