@charset "utf-8";

body{
	background: #c3c3c3;
	margin: 0;
	padding: 0;
	font-family: arial;
}

.contenedor{
	display: block;
	margin: auto;
	width: 75%;
	height: auto;
	background:#EDAF73;
	min-height: 350px;
}

.a1{
	width: 21%;
	height: 300px;
	float: left;

}

.a2{
	width: 79%;
	height: 300px;
	float: left;

}


.img1{
	background: url('../img/logo-header.png');
	width: 275px;
	height: 274px;
	margin: auto;
	display: block;
	margin-top:2px;
	float: left;
}

.a2> div:first-child>h1{
	color: #371C0B;
	font-size: 35pt;
	text-align: left;
	font-weight:bold;
	font-family:arial black;
	padding: 0;
	margin: 0;
	margin-top: 90px;
	margin-left: 9%;
}

.a2> div:last-child>h3{
	color: #371C0B;
	font-size: 19pt;
	text-align: left;
	font-weight: normal;
	letter-spacing: 2px;
	font-family:calibri;
	padding: 0;
	margin:0;
	margin-top:0px;
	margin-left: 43%;

}

article{
	width: 75%;
	float: left;
	background: white;
	height: auto;
	margin-left: 12.5%;
	
}

.titulo{
	height: 275px;
	width: 100%;
    float: left;
	background: white;
}

.titulo>h2{
	color: black;
	letter-spacing: 3px;
	font-size: 24pt;
	text-align: left;
	font-weight: bold;
	font-family:calibri;
	padding: 0;
	margin:0;
	margin-left: 6%;
	margin-top: 20px;
}

.titulo>p{
	color:black;
	font-size: 14pt;
	text-align: left;
	font-weight:normal;
	font-family:calibri;
	letter-spacing: 3px;
	padding: 0;
	margin: 0;
	margin-left: 6%;
	margin-right: 6%;
}

.sec2{
	height: 155px;
	width: 100%;
    float: left;
	background:white;
    border-top: 3px solid #c3c3c3;
    border-bottom:3px solid #c3c3c3;
}

.ac{
	height: 155px;
	width: 23%;
    float: left;
	background:white;
}

.ad{
	height: 155px;
	width: 77%;
    float: left;
	background: white;
}

.img2{
	background: url('../img/img1.png');
	width: 263px;
	height:155px;
	margin: auto;
	display: block;
	float: left;
}

.ad>h2{
	color: black;
	letter-spacing: 3px;
	font-size: 24pt;
	text-align: left;
	font-weight: bold;
	font-family:calibri;
	padding: 0;
	margin:0;
	margin-top:25px;
	margin-left: 5%;
}

.ad>p{
	color:black;
	font-size: 13pt;
	text-align: left;
	font-weight:normal;
	font-family:calibri;
	letter-spacing: 3px;
	padding: 0;
	margin: 0;
	margin-left: 5%;
	margin-right: 5%;
}

.ad>h4{
	color:black;
	font-size: 15pt;
	text-align: left;
	font-weight:bold;
	font-family:calibri;
	letter-spacing: 3px;
	padding: 0;
	margin: 0;
	margin-left:50%;
}

.rectangulo{
	height: 20px;
	width: 100%;
	background:#EDAF73;
	float: left;
}

.sec3{
	height:165px;
	width: 100%;
	background:white;
	float: left;
	border-bottom:3px solid #c3c3c3;
}

.first{
	height:160px;
	width: 50%;
	background:white;
	float: left;

}

.our{
	height:160px;
	width: 50%;
	background:white;
	float: left;

}

.first>h2{
	color: black;
	letter-spacing: 3px;
	font-size: 22pt;
	text-align: left;
	font-weight: bold;
	font-family:calibri;
	padding: 0;
	margin:0;
	margin-top:18px;
	margin-left: 12%;
}

.first>p{
	color:black;
	font-size: 13pt;
	text-align: left;
	font-weight:normal;
	font-family:calibri;
	letter-spacing: 2px;
	padding: 0;
	margin: 0;
	margin-left: 12%;
	margin-top: 8px;

}

.our>h2{
	color: black;
	letter-spacing: 3px;
	font-size: 22pt;
	text-align: left;
	font-weight: bold;
	font-family:calibri;
	padding: 0;
	margin:0;
	margin-top:18px;
	margin-left: 12%;
}

.our>p{
	color:black;
	font-size: 13pt;
	text-align: left;
	font-weight:normal;
	font-family:calibri;
	letter-spacing: 2px;
	padding: 0;
	margin: 0;
	margin-left: 12%;
	margin-top: 8px;
}

.af{
	height:314px;
	width:100%;
	background:white;
	float: left;
}

.img3{
	background: url('../img/article4.png');
	width: 100%;
	height:314px;
	margin: auto;
	display: block;
	float: left;
}

.texto3{
	height:160px;
	width:100%;
	background:white;
	float: left;
}

.texto3>h2{
	color: black;
	letter-spacing: 3px;
	font-size: 22pt;
	text-align: left;
	font-weight: bold;
	font-family:calibri;
	padding: 0;
	margin:0;
	margin-top:0px;
	margin-left:5%;
	margin-top: 20px;
}

.texto3>p{
	color:black;
	font-size: 13pt;
	text-align: left;
	font-weight:normal;
	font-family:calibri;
	letter-spacing: 2px;
	padding: 0;
	margin: 0;
	margin-left: 5%;
	margin-top: 12px;

}

#pie{
	height:70px;
	width:75%;
	background:#380C00;
	float: left;

}

.plogo{
	height:75px;
	width:40%;
	background:#380C00;
	float: left;
}

.boton{
	height:75px;
	width:50%;
	background:#380C00;
	float: left;
}

.copyright{
	height:75px;
	width:10%;
	background:#380C00;
	float: left;


}

.img4{
	background: url('../img/logo-footer.png');
	width: 193px;
	height:35px;
	margin: auto;
	display: block;
	float: left;
	margin-left:3%;
	margin-top: 30px;
}

.copyright>h5{
	color: white;
	letter-spacing: 1px;
	font-size: 12pt;
	text-align: left;
	font-weight: normal;
	font-family:calibri;
	padding: 0;
	margin:0;
	margin-top:43px;
	margin-left:20%;
}

.boton>button{
	border: none;
	background:#EDAF73;
	height: 38px;
	width: 27%;
	float: left;
	color:#380C00;
	text-align: center;
	font-weight:bold;
	font-size: 11pt;
	margin-top: 32px;
	margin-left: 60%;
	font-family: arial;
	letter-spacing: 2px;
}