@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #c3db51;
	height: 60px;
	float: left;
}

.menuarriba{

}
.menuabajo{

}











































