@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #c3db51;
	height: 60px;
	float: left;
}

.child1{
	width: 55%;
	height: 60px;
	background: #629398;
	float:left;
}

.child2{
	width: 45%;
	float: left;
	background: #e89ec1;
	height: 60px;
}

.a{
	width:45%;
	float: left;
	height: 60px;
	background: #3aa930;
}
.b{
	width: 55%;
	float: left;
	height: 60px;
	background: #b8de35;
}
.c{
	width: 27%;
	float: left;
	height: 60px;
	background: #17c772;
}
.d{
	width: 19%;
	float: left;
	height: 60px;
	background: #d6a238;
}
.e{
	width: 27%;
	float: left;
	height: 60px;
	background: #859e77;
}
.f{
	width: 27%;
	float: left;
	height: 60px;
	background: #cbb442;
}
.g_grande{
	width: 100%;
	height: 350px;
	background: #7521cd;
}
.linea{
	width: 100%;
	height: 10px;
	background: #0ca700;
}
.productos{
	width: 100%;
	float: left;
	height: 480px;
	background: #cbb442;
}
.prod1{
	width: 25%;
	float: left;
	height: 480px;
	background: #b8de35;
	margin-left: 6.25%; 
}
.p1{
	width: 100%;
	float: left;
	height: 240px;
	background: #0385e0; 
}
.p2{
	width: 100%;
	float: left;
	height: 40px;
	background: #67acb1;
}
.p3{
	width: 100%;
	float: left;
	height: 130px;
	background: #e35938;
}
.p4{
	width: 100%;
	float: left;
	height: 70px;
	background: #8f57c7;
}
/*50c7be*/
.p4a{
	width: 33%;
	float: left;
	height: 70px;
	background: #50c7be;
	margin-left: 33%; 
}
/*coment1*/
.prod2{
	width: 25%;
	float: left;
	height: 480px;
	background: #b8de35;
	margin-left: 6.25%; 
}
.p1b{
	width: 100%;
	float: left;
	height: 240px;
	background: #0385e0; 
}
.p2b{
	width: 100%;
	float: left;
	height: 40px;
	background: #67acb1;
}
.p3b{
	width: 100%;
	float: left;
	height: 130px;
	background: #e35938;
}
.p4b{
	width: 100%;
	float: left;
	height: 70px;
	background: #8f57c7;
}
.p4ba{
	width: 33%;
	float: left;
	height: 70px;
	background: #50c7be;
	margin-left: 33%; 
}
/*coment02*/
.prod3{
	width: 25%;
	float: left;
	height: 480px;
	background: #b8de35;
	margin-left: 6.25%; 
}
.p1c{
	width: 100%;
	float: left;
	height: 240px;
	background: #0385e0; 
}
.p2c{
	width: 100%;
	float: left;
	height: 40px;
	background: #67acb1;
}
.p3c{
	width: 100%;
	float: left;
	height: 130px;
	background: #e35938;
}
.p4c{
	width: 100%;
	float: left;
	height: 70px;
	background: #8f57c7;
}
.p4ca{
	width: 33%;
	float: left;
	height: 70px;
	background: #50c7be;
	margin-left: 33%; 
}
/*coment para separar sections*/
.cuadro3{
	width: 100%;
	float: left;
	height: 350px;
	background: #062ea0;
}
.c3izq{
	width: 50%;
	float: left;
	height: 350px;
	background: #76f3f2;
}

.c3der{
	width: 50%;
	float: right;
	height: 350px;
	background: #fc5487;
}
.cder1{
	width: 100%;
	float: right;
	height: 70px;
	background: #47d584;
}
/*separar. cuadro2*/
.cder2{
	width: 100%;
	float: right;
	height: 180px;
	background: #2aada8;
}
.primer{
	width: 100%;
	float: right;
	height: 60px;
}

.cder2aa{
	width: 50%;
	float: left;
	height: 60px;
	background: #254f5b;
}
.cder2ab{
	width: 50%;
	float: right;
	height: 60px;
	background: #a1df6f;
}
.segund{
	width: 100%;
	height: 60px;
	background: #cf5480;
	float: left;
}
.tercer{
	width: 100%;
	height: 60px;
	background: #23b2a0;
	float: left;
}
.hijo{
	width: 33%;
	height: 60px;
	background: #0e899b;
	float: left;
	margin-left: 33%;
}
/*fincuadro2*/
.cder3{
	width: 100%;
	float: right;
	height: 100px;
	background: #4db57a;
}
/*fin de cuadro 3*/
/*coment para separar sections*/
.cuadro4{
	width: 100%;
	float: left;
	height: 400px;
	background: #904aad;
}
/*ultimo section*/
.ciz{
	width: 59%;
	float: left;
	height: 400px;
	background: red;
}
.cuadrogr{
	width: 100%;
	float: left;
	height: 365px;
	background: #19625b;
}
.c01{
	width: 42%;
	float: left;
	height: 75px;
	background: #02a3d1;
	margin-left: 0.5%;
	margin-top: 80px;
}
.c02{
	width: 55%;
	float: right;
	height: 75px;
	background: #02a3d1;
	margin-right: 1%;
	margin-top: 80px;
}
/*comentparaseparar*/
.c03{
	width: 42%;
	float: left;
	height: 75px;
	background: #02a3d1;
	margin-left: 0.5%;
	margin-top: 3px;
}
.c04{
	width: 55%;
	float: right;
	height: 75px;
	background: #02a3d1;
	margin-right: 1%;
	margin-top: 3px;
}
/*comentparaseparar*/
.c05{
	width: 42%;
	float: left;
	height: 125px;
	background: #02a3d1;
	margin-left: 0.5%;
	margin-top: 3px;
}
.c06{
	width: 55%;
	float: right;
	height: 125px;
	background: #02a3d1;
	margin-right: 1%;
	margin-top: 3px;
}
.cuadrochic{
	width: 100%;
	float: left;
	height: 35px;
	background: #ab58ce;
}
/*siguientecuadro*/
.cdere{
	width: 100%;
	float: top;
	height: 400px;
	background: #4bdad4;
}
.prim{
	width: 100%;
	float: top;
	height: 400px;
	background: #101a7c;
}



































