@charset "utf-8";

body{
	background: #cfcdce;
	margin: 0;
	padding: 0;
	font-family: arial;
}
.contenedor{
	display: block;
	margin: auto;
	width: 88%;
	height: auto;
	background: #ddae76;
	min-height: 250px;
}
.cl1{
	width: 30%;
	height: 170px;
	float: left;
}

.cl2{
	width: 70%;
	height: 170px;
	float: left;
}








