@chars@charset "utf-8";
body{
  background:white;
  font-family:arial;
  margin:0;
  color: black;
  padding:0;
}
header{
  background: #b6640e;
  margin: 0;
  padding: 0;
 height: 45px;
  width: 100%;
  float: left;
}
header>.cl1{
	width: 10%;
  height: 0;
  /*! display: block; */
  float: left;
  text-align: center;
  padding: 0;
  margin: 0;
 border-right: 1px solid cyan;
}
header>.cl1>.img1{
 width: 33px;
  height: 22px;
  background: url('../img/icono_logo.png');
  display: block;
  margin: left;
  margin-top: 11px;
}
#menu{
  width: 80%;
  height: 45px;
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 180px;
}
#menu>li{
  width: 8%;
  height: 35px;
  display: block;
  float: left;
  padding: 0;
  font-size: 9pt;
  margin: 0;
  padding-top: 15px;
  margin-left: 1%;
  text-align: center;
 border-right: 1px solid white;
}
#menu>li>a{
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
  float: left;
  margin-left: 2%;
}
header>div{
 width: 100%;
  height: 0px;
  float: left;
   margin: 0;
  padding: 0;
  text-align: center;
}
#banner{
  width: 100%;
  height: 100%;
  float: left;
  background: url('../img/crecimiento2.png');
}
#banner>.cl2>.img2{
  width: 567px;
  height: 498px;
  background: url('../img/persona.png');
  margin: auto;
  display: block;
  float: left;
  margin-right: 6px;
}
#banner>div>.cl3>div>h1{
  margin:0;
  padding: 0;
  letter-spacing: 1px;
  color:  #b5630d;
  font-size: 30pt;
  text-align: left;
  font-family: calibri;
  font-weight: bold;
  margin-top: 60px;
}
#banner>div> .cl3 > div >p{
  letter-spacing: 1px;
  color: black;
   font-family: calibri;
   font-weight: lighter;
  font-size: 16pt;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-left: 150px;
  margin-right: 175px;
  line-height: 45px;
}
#banner>div> div>div>div>button{
  height: 45px;
  width: 13%;
  border-radius: 5px;
  border: 1px solid #b6640e;
  text-align: center;
  font-family: arial;
  font-size: 11pt;
  font-weight: lighter;
  padding: 0;
  margin: 0;
  margin-right: 2px;
  margin-top: 10px;
  float: left;
  margin-left: 10px;
  color: #b6640e;
}
#banner>div>div>div>div>button:hover{
  cursor: pointer;
  color: #641811;
}
#art2{
  width: 100%;
  height: 390px;
  margin-top: 25px;
  float: left;
  background: #ffffff;
}
#art2>div:first-child{
  margin-left: 0.5%;
  width: 24%;
  height: 390px;
  float: left;
  background: #e2dcdc;
}
#art2>div:nth-child(2){
  margin-left: 1%;
  width: 24%;
  height: 390px;
  float: left;
  background: #e2dcdc;
}
#art2>div:nth-child(3){
  margin-left: 1%;
  width: 24%;
  height: 390px;
  float: left;
  background: #e2dcdc;
}
#art2>div:last-child{
  margin-left: 1%;
  margin-right: 0.5%;
  width: 24%;
  height: 390px;
  float: left;
  background: #e2dcdc;
}
#art2>div>.cl4{
  width: 30%;
  height: 100px;
  float: left;
  margin-left: 14px;
}
#art2>div>.cl4>.img3{
  width: 100px;
  height: 100px;
  background: url('../img/icono1.png');
  margin: auto;
  display: block;
  margin-top: 15px;
  float:left;
}
#art2>div>.cl4>.img4{
  width: 100px;
  height: 100px;
  background: url('../img/icono2.png');
  margin: auto;
  display: block;
  margin-top: 15px;
  float:left;
}

#art2>div>.cl4>.img5{
  width: 100px;
  height: 100px;
  background: url('../img/icono3.png');
  margin: auto;
  display: block;
  margin-top: 15px;
  float:left;
}
#art2>div>.cl4>.img6{
  width: 100px;
  height: 100px;
  background: url('../img/icono4.png');
  margin: auto;
  display: block;
  margin-top: 15px;
  float:left;
}
#art2>div>div>.cl5>h2{
  font-family: calibri; 
  font-weight: bold;
  color: black;
  padding: 0;
  margin: 0;
  float: right;
  font-size: 16pt;
  margin-top: 1px;
}

.p1{
  font-family: calibri;
  color: black;
  padding: 0;
  margin: 0;
  margin-left: 5%; 
  margin-right: 4%;
  font-size: 12pt;
  font-weight: lighter;
  margin-top: 50px;
}
.p3{
	font-family: calibri;
  color: black;
  padding: 0;
  margin: 0;
  margin-left: 5%; 
  margin-right: 4%;
  font-size: 12pt;
  font-weight: lighter;
}

#art3{
  width: 100%;
  margin-top: 25px;
  margin-bottom: 4px;
  height: 390px;
  float: left;
  background: #ffffff;
}
#art3>div:first-child{
  margin-left: 0.5%;
  width: 24%;
  height: 390px;
  float: left;
  background: #e2dcdc;
}
#art3>div:nth-child(2){
  margin-left: 1%;
  width: 24%;
  height: 390px;
  float: left;
  background: #e2dcdc;
}
#art3>div:nth-child(3){
  margin-left: 1%;
  width: 24%;
  height: 390px;
  float: left;
  background: #e2dcdc;
}
#art3>div:last-child{
  margin-left: 1%;
  margin-right: 0.5%;
  width: 24%;
  height: 390px;
  float: left;
  background: #e2dcdc;
}
  /*aaaaaaaaaa*/

 #art3>div>.cl4>.img3{
  width: 100px;
  height: 100px;
  background: url('../img/icono1.png');
  margin: auto;
  display: block;
  margin-top: 15px;
  float:left;
}
#art3>div>.cl4>.img4{
  width: 100px;
  height: 100px;
  background: url('../img/icono2.png');
  margin: auto;
  display: block;
  margin-top: 15px;
  float:left;
}

#art3>div>.cl4>.img5{
  width: 100px;
  height: 100px;
  background: url('../img/icono3.png');
  margin: auto;
  display: block;
  margin-top: 15px;
  float:left;
}
#art3>div>.cl4>.img6{
  width: 100px;
  height: 100px;
  background: url('../img/icono4.png');
  margin: auto;
  display: block;
  margin-top: 15px;
  float:left;
}
footer{
  background: #040108;
  height: 100px;
  width: 100%;
  float: left;
}

footer>p{
  color:white;
  text-align: center;
   font-family: calibri;
   font-weight: lighter;
  font-size: 13pt;
  margin: 0;
  padding: 0;
}































