@charset "utf-8";

body{
	background: #ceef34;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: black;
	height: 60px;
	float: left;
}
.menuarriba{
	width: 100%;
	background: black;
	height: 40px;
	float: left;
}
.icono{
	width: 4%;
	background: #0680a9;
	height: 20px;
	float: left;
	margin-left: 60%;
	margin-top: 10px;
}
.tel{
	width: 13%;
	background: #0680a9;
	height: 20px;
	float: left;
	margin-left: 1%;
	margin-top: 10px;
}
.li1{
	width: 0.5%;
	background: #0680a9;
	height: 20px;
	float: left;
	margin-left: 1%;
	margin-top: 10px;
}
.our{
	width: 9%;
	background: #0680a9;
	height: 20px;
	float: left;
	margin-left: 1%;
	margin-top: 10px;
}
.li2{
	width: 0.5%;
	background: #0680a9;
	height: 20px;
	float: left;
	margin-left: 1%;
	margin-top: 10px;
}
.sing{
	width: 5%;
	background: #0680a9;
	height: 20px;
	float: left;
	margin-left: 1%;
	margin-top: 10px;
}

.menuabajo{
	width: 100%;
	background: white;
	height: 85px;
	float: left;
}
.logo{
	width: 14%;
	background: #5d88aa;
	height: 70px;
	float: left;
	margin-left: 40px;
	margin-top: 8px;
}
.home{
	width: 6%;
	background: #0680a9;
	height: 40px;
	float: left;
	margin-left: 275px;
	margin-top: 24px;
}
.about{
	width: 8%;
	background: #0680a9;
	height: 40px;
	float: left;
	margin-left: 12px;
	margin-top: 24px;
}
.prod{
	width: 13.5%;
	background: #0680a9;
	height: 40px;
	float: left;
	margin-left: 12px;
	margin-top: 24px;
}
.the{
	width: 17%;
	background: #0680a9;
	height: 40px;
	float: left;
	margin-left: 18px;
	margin-top: 24px;
}
.contact{
	width: 8%;
	background: #0680a9;
	height: 40px;
	float: left;
	margin-left: 18px;
	margin-top: 24px;
}
.celeste{
	width: 100%;
	background: #02b3f7;
	height: 10px;
	float: left;
}
.azul{
	width: 100%;
	background: #0162c3;
	height: 10px;
	float: left;
}
/*fin de uno y 
comienzo del siguiente*/
.cuadro1{
	width: 100%;
	background: #cfcfcf;
	height: 565px;
	float: bottom;
}
.cgris{
	width: 43.5%;
	background: #463c3b;
	height: 255px;
	float: left;
	margin: 4px; 
	margin-top: 230px;
	margin-left: 35px;
}
.lineanegra{
	width: 100%;
	background: black;
	height: 5px;
	float: bottom;
}
.cuadro2{
	width: 100%;
	background: #0063c0;
	height: 250px;
	float: bottom;
}
.cuadro3{
	width: 100%;
	background: #f6f2f2;
	height: 750px;
	float: bottom;
}
.cuadro4{
	width: 100%;
	background: #0163bc;
	height: 255px;
	float: bottom;
}
.cuadro5{
	width: 100%;
	background: #262022;
	height: 475px;
	float: bottom;
}




































