@charset "utf-8";

body{
	background: #cfcdce;
	margin: 0;
	padding: 0;
	font-family: arial;
}
#cont{
	display: block;
	margin: auto;
	width: 88%;
	height: auto;
	background: white;
}
header{
	background: #ddae76;
	height: 315px;
	width: 100%;
	float: left;
	display: block;
	padding: 0;
	margin: 0;
}
.img1{
	background: url('../img/logo-header.png');
	width: 275px;
	height: 274px;
	display: block;
	margin-top: 0;
	margin-left: 0;
}
.cl1{
	width: 30%;
	height: 150px;
	float: left;
	margin-top: 0;
	padding: 0;
	margin: 0;
}
.cl2{
	width: 70%;
	height: 170px;
	float: left;
	margin-top: 75px;
}
.cl2 > div:first-child > h1{
	color: #26150d;
	font-size: 50pt;
	text-align: right;
	font-weight: bold;
	font-family: calibri;
	margin: 0;
	padding: 0;
	margin-top: 25px;
	margin-right: 7%;
}
.cl2 > div:last-child > p{
	color: #26150d;
	text-align: right;
	font-size: 20pt;
	font-weight: normal;
	font-family: tahoma;
	padding: 0;
	margin: 0;
	margin-right: 15%;
	letter-spacing: 4px;
}
article{
width: 100%;
	float: left;
	background: white;
	height: auto;
	border-bottom: 1px solid #c3c3c3;
}
section > article:first-child > div > h2 {
	color: black;
	font-size: 30pt;
	font-family: calibri;
	text-align: left;
	font-weight: bold;
	letter-spacing: 3px;
	margin-left: 5%;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0;
}
section > article:first-child > div > p{
	color: #010101;
	text-align: left;
	font-family: arial;
	font-size: 16pt;
	letter-spacing: 2.5px;
	padding: 0;
	margin: 0;
	margin-left: 5%;
	margin-right: 3%;
	font-weight: lighter;
	line-height: 16pt;
	margin-bottom: 5px;
	line-height: 18pt;
}
/*cortepara separar*/ 


.c2{
	width: 100%;
	height: 159px;
	float: left;
	background: #a5a1a3;
	padding: 0;
	margin: 0;
}
.img2{
	background: url('../img/img1.png');
	width: 263px;
	height: 155px;
	float: left;
	margin-top: 1px;
}

.cl4{
	width: 77.1%;
	background: white;
	height: 159px;
	float: right;
	margin-top: 2px;
	margin-bottom: 2px;
}

.cl4 > h2{
	text-align: left;
	font-family: arial;
	font-size: 22pt;
	letter-spacing: 2.5px;
	padding: 0;
	margin: 0;
	margin-left: 5%;
	margin-right: 3%;
	font-weight: bold;
	line-height: 16pt;
	margin-top: 25px;
	line-height: 18pt;
}
/*line-height: 16pt;*/


.cl4 > p{
	text-align: left;
	font-family: arial;
	font-size: 15pt;
	letter-spacing: 3px;
	padding: 0;
	margin: 0;
	margin-left: 5%;
	margin-right: 3%;
	font-weight: normal;
	line-height: 16pt;
	margin-top: 15px;
	line-height: 18pt;
}
.cl4 > div > p{
	text-align: right;
	font-family: arial;
	font-size: 15pt;
	letter-spacing: 2px;
	padding: 0;
	margin: 0;
	margin-right: 5%;
	font-weight: bold;
	line-height: 10pt;
}
.linea1{
	width: 100%;
	height: 15px;
	float: left;
	background: #dcaf76;
}
.c3{
	width: 50%;
	height: 170px;
	float: left;
	background: white;
	padding: 0;
	margin: 0;
}
.c3 > div:first-child > h2{
	text-align: left;
	font-family: calibri;
	font-size: 25pt;
	letter-spacing: 2.5px;
	padding: 0;
	margin: 0;
	margin-left: 8%;
	font-weight: bold;
	line-height: 16pt;
	margin-top: 28px;
	line-height: 18pt;
}
.c3 > div:last-child > p{
	text-align: left;
	font-family: calibri;
	font-size: 16pt;
	letter-spacing: 2px;
	padding: 0;
	margin: 0;
	margin-left: 8%;
	margin-right: 12%;
	font-weight: normal;
	line-height: 15pt;
}














