@charset "utf-8";


body{
	background: blue;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0%;
}

.head1{
	width: 100%;
	height: 25px;
	float: left;
	background: #ffffff; 
}

.hea1{
	width: 50%;
	height: 25px;
	float: left;
	background: #373737;
}

.hea2{
	width: 50%;
	height: 25px;
	float: left;
	background: #9f9d9d;
}

.hea2h1{
	width: 5%;
	height: 25px;
	float: left;
	background: #621d1d;
}

.hea2h2{
	width: 35%;
	height: 25px;
	float: left;
	background: #d44a4a;
}

.hea2h3{
	width: 25%;
	height: 25px;
	float: left;
	background: #a82f2f;
}

.hea2h4{
	width: 25%;
	height: 25px;
	float: left;
	background: #8d1515;
}

.hea2h5{
	width: 10%;
	height: 25px;
	float: left;
	background: #000a16;
}

.head2{
	width: 100%;
	height: 70px;
	float: left;
	background: #559ff8;
}

.headh1{
	width: 40%;
	height: 70px;
	float: left;
	background: #0875f9;
}

.logo{
	width: 20%;
	height: 60px;
	float: left;
	margin-left: 10%;
	margin-top: 5px;
	background: #e6ecf4;
}

.headh2{
	width: 60%;
	height: 70px;
	float: left;
	background: #12273f;
}

.hijo1{
	width: 10%;
	height: 70px;
	float: left;
	background: #5ea2f4;
}

.hijo2{
	width: 15%;
	height: 70px;
	float: left;
	background: #104b91;
}

.hijo3{
	width: 15%;
	height: 70px;
	float: left;
	background: #a1bad7;
}

.hijo4{
	width: 20%;
	height: 70px;
	float: left;
	background: #0d76f3;
}

.hijo5{
	width: 10%;
	height: 70px;
	float: left;
	background: #8e97a1;
}

.hijo6{
	width: 18%;
	height: 70px;
	float: left;
	background: #373a3d;
}

.hijo7{
	width: 12%;
	height: 70px;
	float: left;
	background: #6eadf8;
}

.imagen{
	width: 100%;
	height: 600px;
	float: left;
	background: #010916;
}

.imagenh{
	width: 50%;
	height: 200px;
	float: left;
	margin-left: 5%;
	margin-top: 80px;
	background: #0574ab;
}

.imgh1{
	width: 20%;
	height: 50px;
	float: left;
	background: #fbfffe;
}

.imgh2{
	width: 95%;
	height: 110px;
	float: left;
	background: #7d8482;
}

.imgh3{
	width: 15%;
	height: 30px;
	float: right;
	margin-top: 5px;
	margin-right: 5%;
	background: #274f86;
}

.lorem{
	width: 100%;
	height: 250px;
	float: left;
	background: #b0dff5;
}

.lor1{
	width: 40%;
	height: 250px;
	float: left;
	background: #258ec6;
}


.lor2{
	width: 30%;
	height: 250px;
	float: left;
	background: #0b1521;
}


.lor2h1{
	width: 100%;
	height: 50px;
	float: left;
	background: #fafafb;
}

.lor2hin1{
	width: 60%;
	height: 50px;
	float: left;
	background: #a0bde0;
}

.lor2hin2{
	width: 40%;
	height: 50px;
	float: left;
	background: #4896f4;
}

.lor2h2{
	width: 100%;
	height: 150px;
	float: left;
	background: #a7adb4;
}

.lor2h3{
	width: 100%;
	height: 50px;
	float: left;
	background: #01567f;
}

.lor2hin3{
	width: 70%;
	height: 50px;
	float: left;
	background: #919495;
}

.lor2hin4{
	width: 30%;
	height: 50px;
	float: left;
	background: #72c8f2;
}
.lor3{
	width: 30%;
	height: 250px;
	float: left;
	background: #24446a;
}

.lor3h1{
	width: 100%;
	height: 50px;
	float: left;
	background: #688593;
}

.lor3h1n1{
	width: 60%;
	height: 50px;
	float: left;
	background: #38a8de;
}

.lor3h1n2{
	width: 40%;
	height: 50px;
	float: left;
	background: #2d86f0;
}

.lor3h2{
	width: 100%;
	height: 150px;
	float: left;
	background: #010916;
}

.lor3h3{
	width: 100%;
	height: 50px;
	float: left;
	background: #cfd9e9;
}

.lor3h3n1{
	width: 70%;
	height: 50px;
	float: left;
	background: #5f6672;
}

.lor3h3n2{
	width: 30%;
	height: 50px;
	float: left;
	background: #035785;
}

.perfumes{
	width: 100%;
	height: 650px;
	float: left;
	background: #ffffff;
}

.per1{
	width: 100%;
	height: 630px;
	float: left;
	background: #f3dec3;
}

.per2{
	width: 100%;
	height: 20px;
	float: left;
	background: #cfb97f;
}