@charset "utf-8";

body{
	background: #23e2f3;
	width: 100%;
	height: auto;
	font-family: arial;
	margin:0;
}

header{
	width: 100%;
	height: 60px;
	float: left;
	background: #a7f323;
}

.child1{
	width: 55%;
	height: 60px;
	float: left;
	background: #f38f23;

} 

.child2{
	width: 45%;
	height: 60px;
	float: left;
	background: #9d23f3;

}

.a{
	width: 40%;
	height: 60px;
	float: left;
	background: #bcde54;
}

.b{
	width:  60%;
	height: 60px;
	float: left;
	background: #fff;
}

.c{
	width: 26%;
	height: 60px;
	float: left;
	background: #13d89d;
}

.d{
	width: 22%;
	height: 60px;
	float: left;
	background: #d49111;
}

.e{
	width: 26%;
	height: 60px;
	float: left;
	background: #87b17c;
}

.f{
	width: 26%;
	height: 60px;
	float: left;
	background: #d7cc32;
}

.g{
	width: 100%;
	height: 530px;
	float: left;
	background: #c078a7;
	border: 1px solid blue;
}

.h{
	width: 100%;
	height: 50px;
	float: left;
	background: #34f6c2;
}

.torre1{
	width: 100%;
	height: 500px;
	float: left;
	background: #b18825;
}

.t1{
	width: 27%;
	height: 500px;
	float: left;
	margin-left: 4.75%;
	background: #0daa83;
}

.t2{
	width: 27%;
	height: 500px;
	float: left;
	margin-left: 4.75%;
	background: #0daa83;
}

.t3{
	width: 27%;
	height: 500px;
	float: left;
	margin-left: 4.75%;
	background: #0daa83;
}

.t1h1{
	width: 100%;
	height: 250px;
	float: left;
	background: #28f30d;
}

.t1h2{
	width: 100%;
	height: 25px;
	float: left;
	background: #1963b7;
}

.t1h3{
	width: 100%;
	height: 150px;
	float: left;
	background: #942ebf;
}

.t1h4{
	width: 100%;
	height: 75px;
	float: left;
	background: #e43316;
}

.t1h4n{
	width: 40%;
	height: 75px;
	float: left;
	margin-left: 30%;
    background: #1e6708;
}

.t2h1{
	width: 100%;
	height: 250px;
	float: left;
	background: #28f30d;
}

.t2h2{
	width: 100%;
	height: 25px;
	float: left;
	background: #1963b7;
}

.t2h3{
	width: 100%;
	height: 150px;
	float: left;
	background: #942ebf;
}

.t2h4{
	width: 100%;
	height: 75px;
	float: left;
	background: #e43316;
}

.t2h4n{
	width: 40%;
	height: 75px;
	float: left;
	margin-left: 30%;
    background: #1e6708;
}

.t3h1{
	width: 100%;
	height: 250px;
	float: left;
	background: #28f30d;
}

.t3h2{
	width: 100%;
	height: 25px;
	float: left;
	background: #1963b7;
}

.t3h3{
	width: 100%;
	height: 150px;
	float: left;
	background: #942ebf;
}

.t3h4{
	width: 100%;
	height: 75px;
	float: left;
	background: #e43316;
}

.t3h4n{
	width: 40%;
	height: 75px;
	float: left;
	margin-left: 30%;
    background: #1e6708;
}

.cajaderecha{
	width: 50%;
	height: 470px;
	float: left;
    background: #8da2e4;
}

.cajaizquierda{
	width: 50%;
	height: 470px;
	float: left;
    background: #3692d9;
}

.cajita1{
	width: 50%;
	height: 60px;
	float: left;
	margin-top: 20%;
	background: #073456;		
}

.cajita2{
	width: 50%;
	height: 60px;
	float: left;
	margin-top: 20%;
	background: #86c50d;	
}

.cajita3{
	width: 100%;
	height: 60px;
	float: left;
	margin-bottom: 0px; 
    background: #af1669;
}

.cajita4{
	width: 100%;
	height: 60px;
	float: left;
	margin-bottom: 0px;
    background: #d6bd14; 
}

.cajita4n{
	width: 25%;
	height: 60px;
	float: left;
	margin-left: 37%;
    background: #6f3403;
    border: 1px solid blue;
}

.seccion4{
	width: 100%;
	height: 500px;
	float: left;
    background: #460d5e;
}

.cuadrito1{
	width: 56%;
	height: 455px;
	float: left;
    background: #219107;
}

.cuadrito2{
	width: 44%;
	height: 500px;
	float: right;
    background: #787770;
}

.cuadritohijo{
	width: 99%;
	height: 308px;
	float: right;
	margin-top: 146px;
	margin-right: 4px;
	background: #219107;
}

.cuadriton1{
	width: 40%;
	height: 75px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	background: #3284cd; 
}

.cuadriton2{
	width: 58%;
	height: 75px;
	float: left;
	margin-top: 5px;
	margin-left: 8px;
	background: #3284cd; 
}

.cuadriton3{
	width: 40%;
	height: 75px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	background: #3284cd; 
}

.cuadriton4{
	width: 58%;
	height: 75px;
	float: left;
	margin-top: 5px;
	margin-left: 8px;
	background: #3284cd;
}

.cuadriton5{
	width: 40%;
	height: 130px;
	float: left;
	margin-top: 12px;
	margin-left: 5px;
	background: #3284cd; 
}

.cuadriton6{
	width: 58%;
	height: 130px;
	float: left;
	margin-top: 12px;
	margin-left: 8px;
	background: #3284cd; 
}

.cuadtito2h1{
	width: 99%;
	height: 85px;
	float: right;
	margin-top: 20%;
	background: #86c50d;
	border: 1px solid blue;	
}

.cuadrito2h2{
	width: 99%;
	height: 85px;
	float: right;
	margin-top: 5%;
	background: #062138;
	border: 1px solid blue;
}

.cuadrito2h2nbn{
	width: 15%;
	height: 85px;
	float: left;
	margin-left: 60%;
    background: #187037; 
}

.cuadrito3{
	width: 56%;
	height: 45px;
	float: left;
	margin-bottom: 1px;
	background: #79b2e6;
}

footer{
	width: 100%;
	height: 285px;
	float: left;
    background: #eff6f2;
}

.ultimo1{
	width: 25%;
	height: 285px;
	float: left;
    background: #431ee1;
}

.ultimo2{
	width: 74.5%;
	height: 132px;
	float: left;
	margin-left:  0.3%;
    background: #0ac3bc;
    border: 1px solid blue;
}

.ultimo2h1{
	width: 25%;
	height: 60px;
	float: left;
	margin-left: 20%;
    background: #1450d8; 
}

.ultimo2h2{
	width: 13%;
	height: 60px;
	float: left;
	margin-left: 0.5%;
    background: #1450d8;
}

.ultimo2h3{
	width: 13%;
	height: 60px;
	float: left;
	margin-left: 0.5%;
    background: #1450d8;
}

.ultimo2h4{
	width: 13%;
	height: 60px;
	float: left;
	margin-left: 0.5%;
    background: #1450d8;
}
.ultimo3{
	width: 74.7%;
	height: 150px;
	float: left;
	margin-left: 0.3%;
    background: #1b4241;
}


/*ejercicio 2*/


@charset "utf-8";


body{
	background: blue;
	width: 100%;
	height: auto;
	font-family: arial;
	margin:0%;
}

.cabeza{
	width: 100%;
	height: 30px;
	float: left;
	background: #020202;
}

.cabezah1{
	width: 60%;
	height: 30px;
	float: left;
	background: #020202;
}

.cabezah2{
	width: 40%;
	height: 30px;
	float: left;
	background: #b5bec5;
}

.cabezah2n1{
	width: 59%;
	height: 30px;
	float: left;
	background: #56abfc; 
}

.separador1{
	width: 1%;
	height: 30px;
	float: left;
	background: #0374e6;
}

.cabezah2n2{
	width: 20%;
	height: 30px;
	float: left;
	background: #56abfc;
}

.separador2{
	width: 1%;
	height: 30px;
	float: left;
	background: #0374e6;
}

.cabezah2n3{
	width: 19%;
	height: 30px;
	float: left;
	background: #56abfc;
}

.menu{
	width: 100%;
	height: 50px;
	float: left;
	background: #b5bec5;
}

.caja1{
	width: 40%;
	height: 75px;
	float: left;
	background: #ffffff;
}

.caja1h{
	width: 20%;
	height: 45px;
	float: left;
	margin-left: 10%;
	margin-top: 7px;
	background: #636465;
}

.caja2{
	width: 60%;
	height: 75px;
	float: left;
	background: #668dae;
}

.caja2h1{
	width: 10%;
	height: 75px;
	float: left;
	background: #1d3e5f;
}

.caja2h2{
	width: 17%;
	height: 75px;
	float: left;
	background: #2e3b4b;
}

.caja2h3{
	width: 29%;
	height: 75px;
	float: left;
	background: #a5bdd5;
}

.caja2h4{
	width: 29%;
	height: 75px;
	float: left;
	background: #6e8398;
}

.caja2h5{
	width: 15%;
	height: 75px;
	float: left;
	background: #779bbd;
}

.imagen{
	width: 100%;
	height: 550px;
	float: left;
	background: #3b5c7b;
}

.fila1{
	width: 100%;
	height: 10px;
	float: left;
	background: #54adfd;
}

.fila2{
	width: 100%;
	height: 10px;
	float: left;
	background: #0163ba;
}

.fila3{
	width: 100%;
	height: 530px;
	float: left;
	background: #b5bec5;
}

.fila3h1{
	width: 40%;
	height: 300px;
	float: left;
	margin-left: 2%;
	margin-top: 200px;
    background: #1d3e5f;
}

.fila3h1n{
	width: 100%;
	height: 50px;
	float: left;
	background: #668dae;
}

.fila3h2n{
	width: 100%;
	height: 200px;
	float: left;
	background: #5799d5;
}

.fila3h3n{
	width: 100%;
	height: 50px;
	float: left;
	background: #24425e;
}

.loren{
	width: 100%;
	height: 350PX;
	float: left;
	background: #2e3b4b;
}

.loren1{
	width: 100%;
	height: 8PX;
	float: left;
	background: #070707;
}

.loren2{
	width: 100%;
	height: 342PX;
	float: left;
	background: #3b9ff5;
}

.loren2n1{
	width: 10%;
	height: 50px;
	float: left;
	margin-left: 5%;
	margin-top: 50px;
	background: #6798c1;
}

.loren2n2{
	width: 34%;
	height: 337px;
	float: right;
	margin-top: 5px;
	background: #6798c1;
}

.loren2n3{
	width: 60%;
	height: 130px;
	float: top;
	margin-top: 120px;
	margin-left: 5%;
	background: #3b5c7b;
}

.loren2n4{
	width: 8%;
	height: 50px;
	float: left;
	margin-top: 20px;
	margin-left: 57%;
	background: #2177c4;
}

.loremipsum{
	width: 100%;
	height: 1200px;
	float: left;
	background: #ffffff;
}

.loremipsum1{
	width: 10%;
	height: 50px;
	float: left;
	margin-left: 2%;
	margin-top: 20px;
	background: #5a5f63;
}

.loremipsum2{
	width: 10%;
	height: 50px;
	float: left;
	margin-left: 23%;
	margin-top: 20px;
	background: #5a5f63;
}

.loremipsum3{
	width: 10%;
	height: 50px;
	float: left;
	margin-left: 23%;
	margin-top: 20px;
	background: #5a5f63;
}

.loremipsumimg1{
	width: 30%;
	height: 480px;
	float: left;
	margin-left: 2%;
	margin-top: 15px;
	background: #3071a9;
}

.loremipsumimg1n1{
	width: 30%;
	height: 60px;
	float: right;
	margin-top: 419px;
	background: #082e52;
	border: 1px solid white;
}

.loremipsumimg2{
	width: 30%;
	height: 480px;
	float: left;
	margin-left: 3%;
	margin-top: 15px;
	background: #3071a9;
}

.loremipsumimg1n2{
	width: 30%;
	height: 60px;
	float: right;
	margin-top: 420px;
	background: #082e52;
	border: 1px solid white;
}
.loremipsumimg3{
	width: 30%;
	height: 480px;
	float: left;
	margin-left: 3%;
	margin-top: 15px;
	background: #3071a9;
}

.loremipsumimg1n3{
	width: 30%;
	height: 60px;
	float: right;
	margin-top: 420px;
	background: #082e52;
	border: 1px solid white;
}

.loremipsum4{
	width: 10%;
	height: 50px;
	float: left;
	margin-left: 2%;
	margin-top: 50px;
	background: #5a5f63;
}

.loremipsum5{
	width: 10%;
	height: 50px;
	float: left;
	margin-left: 23%;
	margin-top: 50px;
	background: #5a5f63;
}

.loremipsum6{
	width: 10%;
	height: 50px;
	float: left;
	margin-left: 23%;
	margin-top: 50px;
	background: #5a5f63;
}

.loremipsumimg4{
	width: 30%;
	height: 480px;
	float: left;
	margin-left: 2%;
	margin-top: 15px;
	background: #3071a9;
}

.loremipsumimg1n4{
	width: 30%;
	height: 60px;
	float: right;
	margin-top: 420px;
	background: #082e52;
	border: 1px solid white;
}

.loremipsumimg5{
	width: 30%;
	height: 480px;
	float: left;
	margin-left: 3%;
	margin-top: 15px;
	background: #3071a9;
}

.loremipsumimg1n5{
    width: 30%;
	height: 60px;
	float: right;
	margin-top: 420px;
	background: #082e52;
	border: 1px solid white;
}


.loremipsumimg6{
	width: 30%;
	height: 480px;
	float: left;
	margin-left: 3%;
	margin-top: 15px;
	background: #3071a9;
}

.loremipsumimg1n6{
    width: 30%;
	height: 60px;
	float: right;
	margin-top: 420px;
	background: #082e52;
	border: 1px solid white;
}

.ultimaseccion{
	width: 100%;
	height: 350PX;
	float: left;
	background: #2e3b4b;
}

.maquina{
	width: 34%;
	height: 350px;
	float: left;
	background: #087ce3;
}

.about{
	width: 66%;
	height: 350px;
	float: left;
	background: #082e52;
}

.contactos{
	width: 100%;
	height: 630px;
	float: left;
	background: #2c2d2e;
}

.contactos1{
	width: 20%;
	height: 40px;
	float: left;
	margin-left: 9%;
	margin-top: 20px;
	background: #358ede;
}

.nemes{
	width: 5%;
	height: 40px;
	float: top;
	margin-left: 9%;
	margin-top: 80px;
	background: #3071a9;
}

