@charset "utf-8";

body{
	background: #23e2f3;
	width: 100%;
	height: auto;
	font-family: arial;
	margin:0;
}

header{
	width: 100%;
	height: 60px;
	float: left;
	background: #a7f323;
}


.child1{
	width: 55%;
	height: 60px;
	float: left;
	background: #f38f23;
}

.child2{
	width: 45%;
	height: 60px;
	float: left;
	background: #9d23f3;
}

.a{
	width: 45%;
	height: 60px;
	float: left;
	background: #619498;
}

.b{
    width: 55%;
	height: 60px;
	float: left;
	background: #bcde54;
}

.c{
	width: 27%;
	height: 60px;
	float: left;
	background: #d7a079;
}

.d{
	width: 27%;
	height: 60px;
	float: left;
	background: #d1a538;
}

.e{
	width: 27%;
	height: 60px;
	float: left;
	background: #889c79;
}

.f{
	width: 19%;
	height: 60px;
	float: left;
	background: #ceb537;
}

section{
	width: 100%;
	height: 1500px;
	float: left;
	background: #80c2e4;
}

.cajarosa{
	width: 100%;
	height: 400px;
	float: left;
	background: #d50b6b;
}

.cajaturqueza{
	width: 100%;
	height:20px;
	float: left;
	background: #47ab78;
}

.cajaceleste{
	width: 100%;
	height: 400px;
	float: left;
	background: #1485bf;
}

.j{
	width: 20%;
	height: 400px;
	float: left;
	margin-left: 10%;
	background: #1a7b7c;
}

.k{
	width: 20%;
	height: 400px;
	float: left;
	margin-left: 10%;
	background: #1a7b7c;
}

.l{
	width: 20%;
	height: 400px;
	float: left;
	margin-left: 10%;
	background: #1a7b7c;
}

.j1{
	width: 100%;
	height: 200px;
	margin-top: 200px;
	background: #4b9e66;
}

.k1{
	width: 100%;
	height: 200px;
	margin-top: 200px;
	background: #4b9e66;
}

.l1{
	width: 100%;
	height: 200px;
	margin-top: 200px;
	background: #4b9e66;
}

.j1a{
	width: 100%;
	height: 15px;
	background: #719598;
}

.j1b{
	width: 100%;
	height: 125px;
	background: #b4522e;
}

.j1c{
	width: 100%;
	height: 60px;
	background: #996cc6;
}

.j1ca{
	width: 35%;
	height: 60px;
	float: left;
	background: #562c69;
}

.j1cb{
	width: 30%;
	height: 60px;
	float: left;
	background: #38868a;
}
.j1cc{
	width: 35%;
	height: 60px;
	float: left;
	background: #562c69;
}

.k1a{
	width: 100%;
	height: 15px;
	background: #719598;
}

.k1b{
	width: 100%;
	height: 125px;
	background: #b4522e;
}

.k1c{
	width: 100%;
	height: 60px;
	background: #b4522e;
}

.k1ca{
	width: 35%;
	height: 60px;
	float: left;
	background: #562c69;
}

.k1cb{
	width: 30%;
	height: 60px;
	float: left;
	background: #38868a;
}

.k1cc{
	width: 35%;
	height: 60px;
	float: left;
	background: #562c69;
}

.l1a{
	width: 100%;
	height: 15px;
	background: #719598;
}

.l1b{
	width: 100%;
	height: 125px;
	background: #b4522e;
}

.l1c{
	width: 100%;
	height: 60px;
	background: #b4522e;
}