@charset "utf-8";
body{
  font-family: calibri;
  margin: 0;
  padding: 0;
  background: grey;
}
#menu{
  width: 100%;
  height:40px;
  float: left;
  background:#b6640e;
}
ul{
  margin: 0;
  padding: 0;
}
#menu>div>ul>li>a{
  text-decoration: none;
  font-weight: normal;
  font-size: 12pt;
  color: white;
  text-align: center;
}
#menu>div>ul>li:first-child{
  float: left;
  width: 4%;
  height: 40px;
  margin: 0px;
  padding: 0;
}
.imagen1{
  background: url(../img/icono_logo.png);
  width:33px;
  height: 22px;
  margin: 10px;
}
#menu>div>ul>li{
  list-style: none;
  display: block;
  float: left;
  width: 11.5%;
  border-right: 1px solid white;
  height:30px;
  margin:0;
  padding:0;
  text-align: center;
  padding-top: 10px;
}
a:hover{
  color: #ffc62b !important;
}
li:hover{
  background: #9c5409 !important;
}
.Bloque1{
  background:white;
  width: 100%;
	height: 498px;
	float:left;
}
