@charset "utf-8";

body{
	background: #23e2f3;
	width: 100%;
	height: auto;
	font-family: arial;
	margin:0;
}

header{
	width: 100%;
	height: 60px;
	float: left;
	background: #a7f323;
}


.child1{
	width: 55%;
	height: 60px;
	float: left;
	background: #f38f23;
}

.child2{
	width: 45%;
	height: 60px;
	float: left;
	background: #9d23f3;
}

.a{
	width: 45%;
	height: 60px;
	float: left;
	background: #619498;
}

.b{
    width: 55%;
	height: 60px;
	float: left;
	background: #bcde54;
}

.c{
	width: 27%;
	height: 60px;
	float: left;
	background: #d7a079;
}

.d{
	width: 27%;
	height: 60px;
	float: left;
	background: #d1a538;
}

.e{
	width: 27%;
	height: 60px;
	float: left;
	background: #889c79;
}

.f{
	width: 19%;
	height: 60px;
	float: left;
	background: #ceb537;
}

.cajarosa{
    width: 100%;
    height: 300px;
    float: left;
    background: #f265a7;
}

.cajaturqueza{
    width: 100%;
    height: 10px;
    float: left;
    background: #35aa5a;
}

.celeste{
	width: 100%;
	height: 500px;
	float: left;
	background: #9fc8dd;
}

.p1{
	width: 20%;
	height: 500px;
	position: relative; left: 20px;
	background: #238c8d;
}

.p2{
	width: 20%;
	height: 500px;
	position: relative; left: 50%;
	background: #238c8d;
}