@charset "utf-8";
body{
	background: #23e2f3;
	width: 100%;
	height: auto;
	font-family: arial;
	margin:0;
}
header{
	width: 100%;
	height: 60px;
	float: left;
	background: #a7f323;
}
.child1{
	width: 55%;
	height: 60px;
	float: left;
	background: #f38f23;
}
.child2{
	width: 45%;
	height: 60px;
	float: left;
	background: #9d23f3;
}
.a{
	width: 45%;
	height: 60px;
	float: left;
	background: #619498;
}
.b{
    width: 55%;
	height: 60px;
	float: left;
	background: #bcde54;
}
.c{
	width: 27%;
	height: 60px;
	float: left;
	background: #d7a079;
}
.d{
	width: 27%;
	height: 60px;
	float: left;
	background: #d1a538;
}
.e{
	width: 27%;
	height: 60px;
	float: left;
	background: #889c79;
}
.f{
	width: 19%;
	height: 60px;
	float: left;
	background: #ceb537;
}
section{
	width: 100%;
	height: 1820px;
	float: left;
	background: #80c2e4;
}
.cajarosa{
	width: 100%;
	height: 400px;
	float: left;
	background: #d50b6b;
}
.cajaturqueza{
	width: 100%;
	height:20px;
	float: left;
	background: #47ab78;
}
.cajaceleste{
	width: 100%;
	height: 400px;
	float: left;
	background: #1485bf;
}
.j{
	width: 20%;
	height: 400px;
	float: left;
	margin-left: 10%;
	background: #1a7b7c;
}
.k{
	width: 20%;
	height: 400px;
	float: left;
	margin-left: 10%;
	background: #1a7b7c;
}
.l{
	width: 20%;
	height: 400px;
	float: left;
	margin-left: 10%;
	background: #1a7b7c;
}
.j1{
	width: 100%;
	height: 200px;
	margin-top: 200px;
	background: #4b9e66;
}
.k1{
	width: 100%;
	height: 200px;
	margin-top: 200px;
	background: #4b9e66;
}
.l1{
	width: 100%;
	height: 200px;
	margin-top: 200px;
	background: #4b9e66;
}
.j1a{
	width: 100%;
	height: 15px;
	background: #719598;
}
.j1b{
	width: 100%;
	height: 125px;
	background: #b4522e;
}
.j1c{
	width: 100%;
	height: 60px;
	background: #996cc6;
}
.j1ca{
	width: 35%;
	height: 60px;
	float: left;
	background: #562c69;
}
.j1cb{
	width: 30%;
	height: 60px;
	float: left;
	background: #38868a;
}
.j1cc{
	width: 35%;
	height: 60px;
	float: left;
	background: #562c69;
}
.k1a{
	width: 100%;
	height: 15px;
	background: #719598;
}
.k1b{
	width: 100%;
	height: 125px;
	background: #b4522e;
}
.k1c{
	width: 100%;
	height: 60px;
	background: #b4522e;
}
.k1ca{
	width: 35%;
	height: 60px;
	float: left;
	background: #562c69;
}
.k1cb{
	width: 30%;
	height: 60px;
	float: left;
	background: #38868a;
}
.k1cc{
	width: 35%;
	height: 60px;
	float: left;
	background: #562c69;
}
.l1a{
	width: 100%;
	height: 15px;
	background: #719598;
}
.l1b{
	width: 100%;
	height: 125px;
	background: #b4522e;
}
.l1c{
	width: 100%;
	height: 60px;
	background: #b4522e;
}
.l1ca{
	width: 35%;
	height: 60px;
	float: left;
	background: #562c69;
}
.l1cb{
	width: 30%;
	height: 60px;
	float: left;
	background: #38868a;
}
.l1cc{
	width: 35%;
	height: 60px;
	float: left;
	background: #562c69;
}
.caja2{
	width: 100%;
	height: 400px;
	float: left;
	background: #2bf9f7
}
.cuadroceleste{
	width: 50%;
	height: 400px;
	float: left;
	background: #53cfb0;
}
.cuadrovarios{
	width: 50%;
	height: 400px;
	float: left;
}
.cv1{
	width: 100%;
	height: 80px;
	float: left;
	background: #49b876;
}
.cv2{
	width: 100%;
	height: 80px;
	float: left;
	background: #09be00;
}
.cv3{
	width: 100%;
	height: 80px;
	float: left;
	background: #897880;
	}
.cv4{
	width: 100%;
	height: 60px;
	float: left;
	background: #3fa3a3;
}
.cv5{
	width: 100%;
	height: 100px;
	float: left;
	background: #2ee27c;
}
.cv2a{
	width: 45%; 
	height: 80px;
	float: left;
	background: #254f5b;
}
.cv2b{
	width: 55%; 
	height: 80px;
	float: left;
	background: #95b37d;
}
.cv4a{
	width: 35%;
	height: 60px;
	float: left;
	background: #26787f;
}
.cv4b{
	width: 20%;
	height: 60px;
	float: left;
	background: #116bd1;
}
.cv4c{
	width: 45%;
	height: 60px;
	float: left;
	background: #26787f;
}
.caja3{
	width: 100%;
	height: 600px;
	float: left;
	background: #89a29f;
}
.c3{
	width: 60%;
	height: 600px;
	float: left;
	background: #489a92;
}
.c4{
	width: 40%;
	height: 600px;
	float: left;
	background: #40b9b4;
}
.c3a{
	width: 100%;
	height: 520px;
	float: left;
	background: #165b56;
}
.c3b{
	width: 100%;
	height: 80px;
	float: left;
	background: #4178b4;
}
.c3aa{
	width: 43%;
	height: 100px;
	float: left;
	margin-top: 110px;
	margin-left: 2%;
	background: #0c8eb3;
}
.c3ab{
	width: 52%;
	height: 100px;
	float: left;
	margin-top: 110px;
	margin-left: 1%;
	background: #0c8eb3;
}
.c3ac{
	width: 43%;
	height: 100px;
	float: left;
	margin-top: 4px;
	margin-left: 2%;
	background: #0c8eb3;
}
.c3ad{
	width: 52%;
	height: 100px;
	float: left;
	margin-top: 4px;
	margin-left: 1%;
	background: #0c8eb3;
}
.ca3e{
	width: 43%;
	height: 197px;
	float: left;
	margin-top: 8px;
	margin-left: 2%;
	background: #0c8eb3;
}
.ca3f{
	width: 52%;
	height: 197px;
	float: left;
	margin-top: 8px;
	margin-left: 1%;
	background: #0c8eb3;
}
.c4a{
	width: 99%;
	height: 110px;
	float: left;
	margin-top: 110px;
	margin-left: 1%;
	background: #0c8eb3;
}
.c4b{
	width: 99%;
	height: 110px;
	float: left;
	margin-top: 60px;
	margin-left: 1%;
	background: #0c8eb3;
}
footer{
	width: 100%;
	height: 300px;
	float: left;
	background: #518f7e;
}
.caja4{
	width: 100%;
	height: 300px;
	float: left;
	background: #397563;
}
.caja4a{
	width: 25%;
	height: 300px;
	float: left;
	background: #26488c;
}
.caja4b{
	width: 75%;
	height: 300px;
	float: left;
	background: #1d6d52;
}
.caja4b1{
	width: 100%;
	height: 145px;
	float: left;
	background: #26b891;
}
.caja4b2{
	width: 100%;
	height: 155px;
	float: left;
	background: #4a9b3e;
}
.caja4b1a{
	width: 30%;
	height: 73px;
	float: left;
	margin-left: 27%;
	background: #203fa0;
}
.caja4b1b{
	width: 12%;
	height: 73px;
	float: left;
	margin-left: 0.5%;
	background: #203fa0;
}
.caja4b1c{
	width: 12%;
	height: 73px;
	float: left;
	margin-left: 0.5%;
	background: #203fa0;
}
.caja4b1d{
	width: 12%;
	height: 73px;
	float: left;
	margin-left: 0.5%;
	background: #203fa0;
}