@charset "utf-8";
body{
  font-family: calibri;
  margin: 0;
  padding: 0;
  background: grey;
}
#menu{
  width: 100%;
  height:40px;
  float: left;
  background:#b6640e;
}
ul{
  margin: 0;
  padding: 0;
}
#menu>div>ul>li{
  list-style: none;
  display: block;
  float: left;
  width: 11.5%;
  border-right: 1px solid white;
  height:30px;
  margin:0;
  padding:0;
  text-align: center;
  padding-top: 10px;
}
#menu>div>ul>li>a{
  text-decoration: none;
  font-weight: normal;
  font-size: 12pt;
  color: white;
  text-align: center;
}
#menu>div>ul>li:first-child{
  float: left;
  width: 4%;
  height: 40px;
  margin: 0px;
  padding: 0;
}
.imagen1{
  background: url(../img/icono_logo.png);
  width:33px;
  height: 22px;
  margin: 10px;
}
a:hover{
  color: #ffc62b !important;
}
li:hover{
  background: #9c5409 !important;
}
.bloque1{
  background:white;
  float:left;
  width: 100%;
	height: 500px;
}
.fondo{
  background: url(../img/crecimiento2.png)no-repeat;
  float: left;
	width: 100%;
	height: 500px;
}
.ba{
  width: 42%;
	height:500px;
	float:left;
}
.bb{
  width: 58%;
  height:500px;
	float:left;
}
.imagen2{
  background: url(../img/persona.png);
	width: 567px;
	height: 498px;
}
.bb>div:first-child>h1{
  width: 100%;
  height: 55px;
  color: #b6640e;
  font-size: 28pt;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  float: left;
}
.bb>div:nth-child(2){
  width: 75%;
	font-weight: lighter;
	font-size: 16pt;
	line-height: 25pt;
	padding-top: 110px;
}
.bloque1>div>.bb>div>button{
  text-decoration: none;
  border: 1px solid #b6640e;
  height: 45px;
  width: 22%;
  border-radius: 4px;
  margin-left: 2%;
  margin-top: 30px;
  background: white;
  text-align: center;
  color: #b6640e;
  font-size: 11pt;
}
button:hover{
  background: #f4b472 !important;
}
.bloque2{
  background: white;
  float: left;
	width: 100%;
	height: 875px;
}
.bloque2>div{
  width: 99%;
  height: 875px;
  margin-right: 1%;
}
.bloque2>div>div{
  background: #e6e5e5;
	width: 24%;
	height: 395px;
	margin-left: 1%;
	float: left;
	margin-top: 20px;
}
.bloque2>div>div>div:first-child{
  float: left;
  width: 40%;
  height: 110px;
  margin: 0;
  padding: 0;
  margin-left: 5%;
  margin-top: 15px;
}
.imagen3{
  background: url('../img/icono1.png') no-repeat;
	width: 100px;
	height: 100px;
}
.bloque2>div>div>div:nth-child(2){
  width: 49.5%;	
	height: 100px;
	float: left;
}
.bloque2>div>div>div:nth-child(2)>h2{
	font-weight: bolder;
  font-size: 18pt;
	margin: 0;
	padding: 0;
	padding-top: 20px;
}
hr{
	color:#9a9a9a;
}
.bloque2>div>div>div:last-child{
  width: 90%;
	height: 255px;
	float: left;
	margin-left: 5%;
}
.bloque2>div>div>div:last-child>p{
  font-size: 13pt;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}
.imagen4{
  background: url('../img/icono2.png') no-repeat;
	width: 100px;
	height: 100px;
}
.imagen5{
  background: url('../img/icono3.png') no-repeat;
	width: 100px;
	height: 100px;
}
.imagen6{
  background: url('../img/icono4.png') no-repeat;
	width: 100px;
	height: 100px;
}
#final{
  width: 100%;
  height: 150px;
  float: left;
  background: black;
}
#final>div{
  text-align: center;
  font-weight: lighter;
  color: white;
  font-size: 13pt;
}