@charset "utf-8";
body{
  background: white;
  font-family: calibri;
  margin: 0;
  padding: 0;
}
#menu{
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background: #01478d;
  float: left;
}
ul{
  margin: 0;
  padding: 0;
}
#menu>div>ul>li{
  list-style: none;
  display: block;
  float: left;
  width: 8%;
  border-right: 1px solid #0abcca;
  height: 35px;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 15px
}
#menu>div>ul>li>a{
  text-decoration: none;
  font-weight: normal;
  font-size: 12pt;
  color: white;
  text-align: center;
}
#menu>div>ul>li:first-child{
  float: left;
  width: 5%;
  height: 50px;
  margin: 0;
  padding: 0;
}
.imagen1{
  background: url(../img/icono_blue.png);
  width: 33px;
  height: 22px;
  margin: 15px;
}
a:hover{
  color: #0abcca !important;
}
li:hover{
  background: #082f56 !important;
}
#menu>div>button{
  text-decoration: none;
  border: 1px solid #6fd8ff;
  height: 35px;
  border-radius: 5px;
  width: 8%;
  margin-left: 11%;
  margin-top: 7px;
  background: #00a1f9;
  text-align: center;
  color: white;
}
button:hover{
  background: #0c74ad !important;
}
.banner{
  float: left;
  background: url(../img/crecimiento2.png);
  width: 1404px;
  height: 500px;
  margin: 0;
  padding: 0;
}
.a{
  float: left;
  width: 45%;
  height: 500px;
}
.b{
  float: left;
  width: 55%;
  height: 500px;
}
.banner>div>.imagen2{
  background: url(../img/persona3nueva.png);
  width: 567px;
  height: 500px;
  margin: 0px;
}
.banner>div>.texto2>div>h1{
  font-family: -apple-system, BlinkMac SystemFont, "Segoe UI", Roboto; "Helvetica Neue", Arial, sans-serif;
  color: #053b81;
  font-size: 25pt;
  width: 70%;
  height: 35px;
}
.banner>div>.texto2>div>p{
  font-family: -apple-system, BlinkMac SystemFont, "Segoe UI", Roboto; "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 2pt;
  text-align: left;
  color:black;
  line-height: 24pt;
  font-weight: lighter;
  width: 70%;
}
.banner>div>div>div>button{
  text-decoration: none;
  border: 1px solid #053381;
  height: 50px;
  border-radius: 5px;
  width: 12%;
  margin-left: 5%;
  margin-top: 20px;
  background: white;
  text-align: center;
  color: #053381;
}
.banner2{
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  float: left;
  background: white;
}
.b1{
  background: #e4e2e2;
  width: 31%;
  height: 360px;
  float: left;
  margin-left: 2%
}
.b2{
  background: #e4e2e2;
  width: 31%;
  height: 360px;
  float: left;
  margin-left: 1.5%
}
.b3{
  background: #e4e2e2;
  width: 31%;
  height: 360px;
  float: left;
  margin-left: 1.5%
}
.b1a{
  background: none;
  width: 30%;
  height: 100px;
  margin: 0;
  padding: 0;
  float: left;
}
.b1b{
  background: none;
  width: 70%;
  height: 100px;
  margin: 0;
  padding: 0;
  float: left;
}
.banner2>.b1>.b1a>.imagen3{
  background: url(../img/icono5.png);
  width: 100px;
  height: 100px;
  margin: 10px;
}
