@charset "utf-8";
body{
	background: #ffffcf;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
header{
	width: 100%;
	height: auto;
	float: left;
	background: #95e0f9;
}
.child{
	width: 100%;
	height: 200px;
	float: left;
	background: #95e0f9;
}
.a{
	width: 100%;
	height: 50px;
	float: left;
	background: #bccace;
}
.b{
	width: 100%;
	height: 150px;
	float: left;
	background: #94f7b5;
}
.a1{
	width: 60%;
	height: 50px;
	float: left;
	background: #000;
}
.a2{
	width: 40%;
	height: 150px;
	float: left;
	background: #6b6b6b;
}
.a2a{
	width: 15%;
	height: 50px;
	float: left;
	background: #01aefd;
}
.a2b{
	width: 35%;
	height: 50px;
	float: left;
	background: #05a4db;
}
.a2c{
	width: 25%;
	height: 50px;
	float: left;
	background: #01aefd;
}
.a2d{
	width: 25%;
	height: 50px;
	float: left;
	background: #05a4db;
}
.b1{
	width: 40%;
	height: 150px;
	float: left;
	background: #cfcfcf;
}
.b2{
	width: 60%;
	height: 150px;
	float: left;
	background: #adadad;
}
.b1a{
	width: 40%;
	height: 130px;
	float: left;
	margin-left: 10%;
	margin-top: 10px;
	background: #adadad;
}
.b2a{
	width: 15%;
	height: 150px;
	float: left;
	background: #96ccca;
}
.b2b{
	width: 20%;
	height: 150px;
	float: left;
	background: #3397d7;
}
.b2c{
	width: 20%;
	height: 150px;
	float: left;
	background: #96ccca;
}
.b2d{
	width: 25%;
	height: 150px;
	float: left;
	background: #3397d7;
}
.b2e{
	width: 20%;
	height: 150px;
	float: left;
	background: #96ccca;
}
.c{
	width: 100%;
	height: 15px;
	float: left;
	background: #00b1fa;
}
.d{
	width: 100%;
	height: 15px;
	float: left;
	background: #0068b4;
}
section{
	width: 100%;
	height: 3200px;
	float: left;
	background: #ffebd8;
}
.child1{
	width: 100%;
	height: 600px;
	float: left;
	background: #d0d0d0;
}