@charset "utf-8";
body{
	background: #BDE1FF;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
header{
	width: 100%;
	height: 150px;
	float: left;
	background: #FBFFC0;
}
.child{
	width: 100%;
	height: 35px;
	float: left;
	background: #4A75FF;
}
.a{
	width: 50%;
	height: 35px;
	float: left;
	background: #4DFFFA;
}
.b{
	width: 50%;
	height: 35px;
	float: left;
	background:#F252FF;
}
.b1{
	width: 10%;
	height: 35px;
	float: left;
	background:#9902AA;
}
.b2{
	width: 25%;
	height: 35px;
	float: left;
	background:#B734E2;
}
.b3{
	width: 20%;
	height: 35px;
	float: left;
	background:#9902AA;
}
.b4{
	width: 18%;
	height: 35px;
	float: left;
	background:#B734E2;
}
.b5{
	width: 27%;
	height: 35px;
	float: left;
	background:#9902AA;
}
.child1{
	width: 100%;
	height: 115px;
	float: left;
	background: #4A75FF;
}
.c{
	width: 40%;
	height: 115px;
	float: left;
	background: #FFFA50;
}
.d{
	width: 60%;
	height: 115px;
	float: left;
	background: #A8A12A;
}
.c1{
	width: 35%;
	height: 115px;
	float: left;
	margin-left: 5%;
	background: #F252FF;
}
.d1{
	width: 15%;
	height: 115px;
	float: left;
	background: #6300FF;
}
.d2{
	width: 15%;
	height: 115px;
	float: left;
	background: #09AEC9;
}
.d3{
	width: 15%;
	height: 115px;
	float: left;
	background: #6300ff;
}
.d4{
	width: 19%;
	height: 115px;
	float: left;
	background: #09AEC9;
}
.d5{
	width: 10%;
	height: 115px;
	float: left;
	background: #6300ff;
}
.d6{
	width: 13%;
	height: 115px;
	float: left;
	background: #09AEC9;
}
.d7{
	width: 13%;
	height: 115px;
	float: left;
	background: #6300ff;
}
section{
	width: 100%;
	height: 2100px;
	float: left;
	background: #FBFFC0;
}
.child2{
	width: 100%;
	height: 500px;
	float: left;
	background: #ABFF52;
}
.e{
	width: 55%;
	height: 500px;
	float: left;
	background: #FF7900;
}
.f{
	width: 45%;
	height: 500px;
	float: left;
	background: #FF1D68;
}
.e1{
	width: 94%;
	height: 250px;
	float: left;
	margin-left: 4%;
	margin-top: 70px;
	background: #FF99E5;
}
.e1a{
	width: 100%;
	height: 50px;
	float: left;
	background: #0025FF;
}
.e1b{
	width: 100%;
	height: 150px;
	float: left;
	background: #859CFF;
}
.e1c{
	width: 100%;
	height: 50px;
	float: left;
	background: #0025FF;
}
.e1c1{
	width: 35%;
	height: 50px;
	float: right;
	background: #409BBF;
}
.child3{
	width: 100%;
	height: 300px;
	float: left;
	background: #F252FF;
}
.g{
	width: 40%;
	height: 300px;
	float: left;
	background: #FF0000;
}
.h{
	width: 60%;
	height: 300px;
	float: left;
	background: #FFF800;
}
.h1{
	width: 42.5%;
	height: 300px;
	float: left;
	margin-left: 5%;
	background: #58FF00;
}
.h2{
	width: 42.5%;
	height: 300px;
	float: left;
	margin-left: 5%;
	background: #B192FC;
}
.h1a{
	width: 100%;
	height: 75px;
	float: left;
	background: #0080FF;
}
.h1b{
	width: 100%;
	height: 150px;
	float: left;
	background: #9B962C;
}
.h1c{
	width: 100%;
	height: 75px;
	float: left;
	background: #0080FF;
}
.h2a{
	width: 100%;
	height: 75px;
	float: left;
	background: #9B962C;
}
.h2b{
	width: 100%;
	height: 150px;
	float: left;
	background: #0080FF;
}
.h2c{
	width: 100%;
	height: 75px;
	float: left;
	background: #9B962C;
}
.h1c1{
	width: 35%;
	height: 75px;
	float: right;
	background: #FF6464;
}
.h2c1{
	width: 35%;
	height: 75px;
	float: right;
	background: #FF6464;
}
.child4{
	width: 100%;
	height: 500px;
	float: right;
	background: #66C1FF;
}
.i{
	width: 40%;
	height: 450px;
	float: left;
	margin-left: 2.5%;
	margin-top: 10px;
	background: #D64EDD;
}
.j{
	width: 52.5%;
	height: 450px;
	float: left;
	margin-left: 2.5%;
	margin-top: 10px;
	background: #D64EDD;
}
.k{
	width: 100%;
	height: 30px;
	float: left;
	margin-top: 10px;
	background: #404CE2;
}