@charset "utf-8";

body{
	background: #000;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menuej2{
	width: 100%;
	background: #e03d40;
	height: 100px;
	float: left;
}

.a1{
	width: 100%;
	background: #e03d40;
	height: 30px;
	float: left;
}

.aa1{
	width: 20%;
	background: #541719;
	height: 30px;
	float: left;
	margin-left: 60%;
}

.aa2{
	width: 10%;
	background: #e39967;
	height: 30px;
	float: left;
}

.aa3{
	width: 5%;
	background: #f4ed7f;
	height: 30px;
	float: left;
}

.b1{
	width: 100%;
	background: #d8d383;
	height: 70px;
	float: left;
}

.bb1{
	width: 10%;
	background: #dea058;
	height: 58px;
	float: left;
	margin-top: 5px;
	margin-left: 3%;
}

.bb2{
	width: 5%;
	background: #7d83c3;
	height: 70px;
	float: left;
	margin-left: 25%;
}

.bb3{
	width: 7%;
	background: #66689a;
	height: 70px;
	float: left;
}

.bb4{
	width: 19%;
	background: #2f2851;
	height: 70px;
	float: left;
}

.bb5{
	width: 19%;
	background: #83da6f;
	height: 70px;
	float: left;
}

.bb6{
	width: 6%;
	background: #ffb451;
	height: 70px;
	float: left;
}

.c1{
	width: 100%;
	background: #da5e59;
	height: 400px;
	float: left;
}

.cc1{
	width: 100%;
	background: #8aa5d6;
	height: 10px;
	float: left;
}

.cc2{
	width: 100%;
	background: #5979ae;
	height: 10px;
	float: left;
}

.cc3{
	width: 40.5%;
	background: #6b3735;
	height: 225px;
	float: left;
	margin-left: 30px;
	margin-top: 125px;
}

.cca{
	width: 100%;
	background: #6aa961;
	height: 45px;
	float: left;
}

.cca1{
	width: 30%;
	background: #80fdf9;
	height: 45px;
	float: left;
	margin-left: 15px;
}

.ccb{
	width: 100%;
	background: #6464a7;
	height: 112.5px;
	float: left;
}

.ccc{
	width: 100%;
	background: #342166;
	height: 67.5px;
	float: left;
}

.ccc1{
	width: 15%;
	background: #5ba5a7;
	height: 55px;
	float: left;
	margin-top: 7px;
	margin-left: 84%;
}


.cc4{
	width: 100%;
	background: #593f40;
	height: 3px;
	float: left;
	margin-top: 30px;
}

.d{
	width: 100%;
	background: #5975a6;
	height: 200px;
	float: left;
}

.d1{
	width: 60%;
	background: #13475c;
	height: 200px;
	float: left;
}

.da1{
	width: 100%;
	background: #be58d5;
	height: 55px;
	float: left;
}

.da2{
	width: 100%;
	background: #503c6a;
	height: 100px;
	float: left;
}

.da3{
	width: 100%;
	background: #13475c;
	height: 45px;
	float: left;
}

.dab{
	width: 8%;
	background: #4756a0;
	height: 30px;
	float: left;
	margin-left: 90%;
	margin-top: 7.5px;
}

.d2{
	width: 40%;
	background: #aae4e8;
	height: 200px;
	float: left;
}

.db2{
	width: 100%;
	background: #d4b9ba;
	height: 195px;
	float: left;
	margin-top: 5px;
}

.e{
	width: 100%;
	background: #92d6c8;
	height: 800px;
	float: left;
}

.e1{
	width: 33.33%;
	background: #3d605a;
	height: 800px;
	float: left;
}

.ee1{
	width: 100%;
	background: #f1a63b;
	height: 400px;
	float: left;
}

.eee1{
	width: 30%;
	background: #f9f699;
	height: 25px;
	float: left;
	margin-top: 5px;
	margin-left: 5%;
}

.eee2{
	width: 90%;
	background: #53d4e3;
	height: 365px;
	float: left;
	margin-left: 5%;
}

.eex{
	width: 25%;
	background: #b2de9c;
	height: 40px;
	float: left;
	margin-left: 75%;
	margin-top: 325px;
}


.ee2{
	width: 100%;
	background: #06bb8a;
	height: 400px;
	float: left;
}


.e2{
	width: 33.33%;
	background: #73df83;
	height: 800px;
	float: left;
}


.e3{
	width: 33.34%;
	background: #c36c6c;
	height: 800px;
	float: left;
}


.g{
	width: 100%;
	background: #ffc4f2;
	height: 200px;
	float: left;
}


.gg1{
	width: 33%;
	background: #5d124c;
	height: 200px;
	float: left;
}


.gg2{
	width: 67%;
	background: #ea33c1;
	height: 200px;
	float: left;
}

.h{
	width: 50%;
	background: #d6ff66;
	height: 200px;
	float: left;
}

.h1{
	width: 100%;
	background: #a5fff0;
	height: 25px;
	float: left;
	margin-top: 10px;
}

.h11{
	width: 20%;
	background: #164307;
	height: 25px;
	float: left;
	margin-left: 15%;
}

.h2{
	width: 100%;
	background: #f83b8b;
	height: 15px;
	float: left;
	margin-top: 10px;
}

.h22{
	width: 15%;
	background: #433307;
	height: 15px;
	float: left;
	margin-left: 15%;
}

.h3{
	width: 100%;
	background: #d7f08a;
	height: 15px;
	float: left;
}

.h33{
	width: 18%;
	background: #073343;
	height: 15px;
	float: left;
	margin-left: 15%;
}


.h4{
	width: 100%;
	background: #40e633;
	height: 15px;
	float: left;
}

.h44{
	width: 21%;
	background: #951870;
	height: 15px;
	float: left;
	margin-left: 15%;
}


.h5{
	width: 100%;
	background: #e6d733;
	height: 15px;
	float: left;
}

.h55{
	width: 32%;
	background: #951818;
	height: 15px;
	float: left;
	margin-left: 15%;
}


.h6{
	width: 100%;
	background: #c85139;
	height: 15px;
	float: left;
}

.h66{
	width: 28%;
	background: #ee4e4e;
	height: 15px;
	float: left;
	margin-left: 15%;
}

.h7{
	width: 100%;
	background: #abff7d;
	height: 15px;
	float: left;
}

.h77{
	width: 50%;
	background: #055c16;
	height: 15px;
	float: left;
	margin-left: 15%;
}

.h8{
	width: 100%;
	background: #9b82e4;
	height: 15px;
	float: left;
}

.h88{
	width: 53%;
	background: #3e0733;
	height: 15px;
	float: left;
	margin-left: 15%;
}

.h9{
	width: 100%;
	background: #3003b1;
	height: 15px;
	float: left;
}

.h99{
	width: 56%;
	background: #91960e;
	height: 15px;
	float: left;
	margin-left: 15%;
}

.h10{
	width: 100%;
	background: #13053a;
	height: 15px;
	float: left;
}

.h100{
	width: 54%;
	background: #b40190;
	height: 15px;
	float: left;
	margin-left: 15%;
}

.hh{
	width: 50%;
	background: #4bffdf;
	height: 200px;
	float: left;
}

.hh1{
	width: 100%;
	background: #cdf15e;
	height: 15px;
	float: left;
	margin-top: 45px;
}

.hj{
	width: 30%;
	background: #d1a2c8;
	height: 15px;
	float: left;
	margin-left: 10%;
}

.hh2{
	width: 100%;
	background: #4a023c;
	height: 15px;
	float: left;
}

.hj2{
	width: 30%;
	background: #cacdf0;
	height: 15px;
	float: left;
	margin-left: 10%;
}


.hh3{
	width: 100%;
	background: #172ed8;
	height: 15px;
	float: left;
}

.hj3{
	width: 27%;
	background: #caf0f0;
	height: 15px;
	float: left;
	margin-left: 10%;
}


.k{
	width: 100%;
	background: #061481;
	height: 450px;
	float: left;
}

.k1{
	width: 70%;
	background: #9a0101;
	height: 450px;
	float: left;
}

.kk1{
	width: 100%;
	background: #471212;
	height: 50px;
	float: left;
}

.kk3{
	width: 100%;
	background: #6f7acb;
	height: 112.5px;
	float: left;
}

.kkk1{
	width: 30%;
	background: #9397ba;
	height: 50px;
	float: left;
	margin-left: 10%;
}

.kk2{
	width: 100%;
	background: #a93535;
	height: 112.5px;
	float: left;
}

.kkk2{
	width: 15%;
	background: #00073e;
	height: 50px;
	float: left;
	margin-top: 35px;
	margin-left: 10%
}


.kkk3{
	width: 60%;
	background: #00073e;
	height: 50px;
	float: left;
	margin-top: 35px;
	margin-left: 7%;
}

.kk4{
	width: 100%;
	background: #c2b70d;
	height: 175px;
	float: left;
}

.kkkk{
	width: 60%;
	background: #00073e;
	height: 100px;
	float: left;
	margin-top: 35px;
	margin-left: 7%;
}

.k2{
	width: 30%;
	background: #f58554;
	height: 450px;
	float: left;
}


.kkx{
	width: 100%;
	background: #0cff3a;
	height: 160px;
	float: left;
}



.xw{
	width: 20%;
	background: #05022d;
	height: 50px;
	float: left;
	margin-left: 10%;
	margin-top:85px;
}

.xw1{
	width: 50%;
	background: #05022d;
	height: 50px;
	float: left;
	margin-left: 10%;
	margin-top:85px;
}

.kkx1{
	width: 100%;
	background: #022d0a;
	height: 290px;
	float: left;
}

.kkx2{
	width: 30%;
	background: #05022d;
	height: 50px;
	float: left;
	margin-left: 60%;
	margin-top:40px;
}

.foot{
	width: 100%;
	background: #022237;
	height: 250px;
	float: left;
}

.p1{
	width: 45%;
	background: #a39df1;
	height: 250px;
	float: left;
}

.pp{
	width: 25%;
	background: #0924c6;
	height: 100px;
	float: left;
	margin-left: 20%;
	margin-top: 25px;
}

.pp1{
	width: 100%;
	background: #d77f59;
	height: 100px;
	float: left;
}

.pp2{
	width: 100%;
	background: #fccb20;
	height: 30px;
	float: left;
}


.p2{
	width: 55%;
	background: #605e6f;
	height: 250px;
	float: left;
}

.ppp{
	width: 10%;
	background: #32980a;
	height: 50px;
	float: left;
}

.ppp1{
	width: 10%;
	background: #f4bc13;
	height: 50px;
	float: left;
}

.ppp2{
	width: 30%;
	background: #ff6f53;
	height: 50px;
	float: left;
}

.ppp3{
	width: 40%;
	background: #852512;
	height: 50px;
	float: left;
}

.ppp4{
	width: 10%;
	background: #513e3a;
	height: 50px;
	float: left;
}

.ppp5{
	width: 20%;
	background: #7d9a73;
	height: 50px;
	float: left;
	margin-top: 150px;
	margin-left: 10%
}