@charset "utf-8";

body{
	background: #f6f8f1;
	margin: 0;
	padding: 0;
	font-family: arial;
}

.contenedor{
	display: block;
	margin: auto;
	width: 40%;
	height: auto;
	background: white;
	min-height: 60px;
}

header{
	background: #c5ffb6;
	height:170px;
	width: 100%;
	float: left;
}

.kl1{
	width: 30%;
	height: 170px;
	float: left;
}

.kl2{
	width: 70% ;
	height:170px;
	float: left;
}

.img1{
	background: url('../img/icon.gif');
	width: 70px;
	height: 70px;
	margin: auto;
	display: block;
	margin-top: 50px;
}

.kl2 > div:first-child>h3{
	color: white;
	font-size: 14pt;
	letter-spacing: 12px;
	text-align: left;
	font-weight: normal;
	font-family: calibri; 
	margin: 0;
	padding: 0;
	margin-top: 40px;
}

.kl2 > div:last-child>h1{
	color: #060147;
	font-size: 22pt;
	text-align: left;
	font-weight: bold;
	font-family: tahoma;
	margin: 0;
	padding: 0;
}

article{
	width: 100%;
	float: left;
	background: white;
	height: auto;
	border-bottom: 1px solid #c3c3c3;
}

section > article:first-child >div > h2{
	color: black;
	text-align: left;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-size: 20pt;
}

section > article:first-child > div > p{
	color: #c3c3c3;
	text-align: left;
	font-weight: lighter;
	font-size: 12pt;
	padding: 0;
	margin: 0;
	line-height: 14pt;
}

section > article:first-child > div{
	width: 92%;
	margin-left:4%;
	margin-right: 4%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.cl3{
	width: 35%;
	height: auto;
	float: left;
}

.cl4{
	width: 60%;
	height: auto;
	float: left;
	margin-top: 10px;
	margin-right: 5%;
	margin-bottom: 10px;
}

.img2{
	background: url('../img/article1.png');
	width: 115px;
	height: 115px;
	float: right;
	margin-top: 10px;
}

.cl4 > div:first-child> p{
	color: #c3c3c3;
	text-align: left;
	font-weight: lighter;
	font-size: 12pt;
	padding: 0;
	margin: 0;
	line-height: 14pt;
}

.cl4 > div:last-child> button{
	border:none;
	background: red;
	width: 35%;
	height: 30px;
	float: left;
	color:white;
	text-align: left;
	font-weight: bold;
	font-size: 12.5pt;
}
