@charset "utf-8"

body{
	background: #000;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menlab{
	width: 100%;
	background: #f395c4;
	height: 100px;
	float: left;
}

.m{
	width: 100%;
	background: #e371aa;
	height: 30px;
	float: left;
}

.m1{
	width: 20%;
	background: #9c78d8;
	height: 30px;
	float: left;
	margin-left: 57%;
}

.m2{
	width: 10%;
	background: #89deea;
	height: 30px;
	float: left;
}

.m3{
	width: 5%;
	background: #bbf2c4;
	height: 30px;
	float: left;
}

.m4{
	width: 5%;
	background: #a7edb2;
	height: 30px;
	float: left;
}

.mm{
	width: 100%;
	background: #567e66;
	height: 70px;
	float: left;
}

.mm1{
	width: 5.5%;
	background: #1c502e;
	height: 58px;
	float: left;
	margin-top: 5px;
	margin-left: 3%;
}

.mm2{
	width: 5%;
	background: #1c3356;
	height: 70px;
	float: left;
	margin-left: 40%;
}

.mm3{
	width: 7%;
	background: #4d204b;
	height: 70px;
	float: left;
}

.mm4{
	width: 6%;
	background: #7f3878;
	height: 70px;
	float: left;
}

.mm5{
	width: 8%;
	background: #1f0422;
	height: 70px;
	float: left;
}

.mm6{
	width: 3%;
	background: #513353;
	height: 70px;
	float: left;
}

.mm7{
	width: 10%;
	background: #bb7dbd;
	height: 70px;
	float: left;
}

.mm8{
	width: 7%;
	background: #41318a;
	height: 70px;
	float: left;
}

.l{
	width: 100%;
	background: #dfb789;
	height: 600px;
	float: left;
}

.l1{
	width: 100%;
	background: #2b6c70;
	height: 600px;
	float: left;
}

.l1{
	width: 40.5%;
	background: #e58f2a;
	height: 225px;
	float: left;
	margin-left: 60px;
	margin-top: 100px;
}

.ll1{
	width: 100%;
	background: #2b6c70;
	height: 56.25px;
	float: left;
}

.ll2{
	width: 20%;
	background: #0eeaf8;
	height: 56.25px;
	float: left;
}

.lc{
	width: 100%;
	background: #17263c;
	height: 112.5px;
	float: left;
}

.lc1{
	width: 100%;
	background: #287249;
	height: 56.25px;
	float: left;
}

.lc2{
	width: 10%;
	background: #132878;
	height: 50px;
	float: left;
	margin-left: 85%;
	margin-top: 2.5px;
}

.k{
	width: 100%;
	background: #6cc2e8;
	height: 300px;
	float: left;
}

.k1{
	width: 30%;
	background: #05577a;
	height: 300px;
	float: left;
}

.k2{
	width: 70%;
	background: #deef7f;
	height: 300px;
	float: left;
}

.kk{
	width: 50%;
	background: #e5bbf9;
	height: 300px;
	float: left;
}

.kk1{
	width: 100%;
	background: #45112d;
	height: 60px;
	float: left;
}

.kk2{
	width: 100%;
	background: #348286;
	height: 150px;
	float: left;
}

.kk3{
	width: 100%;
	background: #fdffbf;
	height: 90px;
	float: left;
}

.kkk{
	width: 15%;
	background: #53f169;
	height: 40px;
	float: left;
	margin-top: 25px;
	margin-left: 80%;
}


.kp{
	width: 50%;
	background: #deef7f;
	height: 300px;
	float: left;
}

.kp1{
	width: 100%;
	background: #912d63;
	height: 60px;
	float: left;
}

.kp2{
	width: 100%;
	background: #a6e5e8;
	height: 150px;
	float: left;
}

.kp3{
	width: 100%;
	background: #f3f5b4;
	height: 90px;
	float: left;
}

.kkp{
	width: 100%;
	background: #fdffbf;
	height: 90px;
	float: left;
}

.kkpp{
	width: 15%;
	background: #53f169;
	height: 40px;
	float: left;
	margin-top: 25px;
	margin-left: 80%;
}

.y{
	width: 100%;
	background: #86d571;
	height: 800px;
	float: left;
}

.yy{
	width: 26%;
	background: #fbffa1;
	height: 700px;
	float: left;
	margin-left: 3%;
	margin-top: 25px;
}


.yy1{
	width: 66%;
	background: #7fcbbc;
	height: 300px;
	float: left;
	margin-left: 3%;
	margin-top: 25px;
}

.yya1{
	width: 45%;
	background: #f3b7fa;
	height: 300px;
	float: left;
}

.yyb1{
	width: 55%;
	background: #3c5f58;
	height: 300px;
	float: left;
}

.yy2{
	width: 66%;
	background: #fef27d;
	height: 300px;
	float: left;
	margin-left: 3%;
	margin-top: 25px;
}

.yya2{
	width: 55%;
	background: #fa8d45;
	height: 300px;
	float: left;
}

.yyb2{
	width: 45%;
	background: #ecccac;
	height: 300px;
	float: left;
}

.yyy{
	width: 100%;
	background: #6c6863;
	height: 10px;
	float: left;
	margin-top: 65px;
}


.pc{
	width: 100%;
	background: #182875;
	height: 250px;
	float: left;
}

.pc1{
	width: 15%;
	background: #e8ccb0;
	height: 200px;
	float: left;
	margin-left: 50%;
	margin-top: 25px;
}


.i{
	width: 100%;
	background: #5a9992;
	height: 190px;
	float: left;
}

.i1{
	width: 33.33%;
	background: #241323;
	height: 188px;
	float: left;
	margin-top: 2px
}

.i2{
	width: 33.33%;
	background: #d5b791;
	height: 188px;
	float: left;
	margin-top: 2px
}

.i3{
	width: 33.34%;
	background: #c8a19a;
	height: 188px;
	float: left;
	margin-top: 2px
}


.w{
	width: 100%;
	background: #ffafb8;
	height: 600px;
	float: left;
}

.w1{
	width: 40%;
	background: #fd5266;
	height: 600px;
	float: left;
}

.w1{
	width: 40%;
	background: #fd5266;
	height: 600px;
	float: left;
}

.ww1{
	width: 100%;
	background: #9b74fe;
	height: 54px;
	float: left;
	margin-top: 60px;
}

.www1{
	width: 30%;
	background: #040250;
	height: 54px;
	float: left;
	margin-left: 10%
}

.ww2{
	width: 100%;
	background: #322dff;
	height: 54px;
	float: left;
}

.www2{
	width: 16%;
	background: #e4f33e;
	height: 54px;
	float: left;
	margin-left: 10%
}

.ww3{
	width: 100%;
	background: #341f69;
	height: 54px;
	float: left;
}

.www3{
	width: 30%;
	background: #0ffcd8;
	height: 54px;
	float: left;
	margin-left: 10%
}

.ww4{
	width: 100%;
	background: #4d67e8;
	height: 54px;
	float: left;
}

.www4{
	width: 18%;
	background: #6eda33;
	height: 54px;
	float: left;
	margin-left: 10%
}

.ww5{
	width: 100%;
	background: #73d3ff;
	height: 54px;
	float: left;
}

.www5{
	width: 40%;
	background: #f7ec6c;
	height: 54px;
	float: left;
	margin-left: 10%
}

.ww6{
	width: 100%;
	background: #ccffd9;
	height: 54px;
	float: left;
}

.www6{
	width: 28%;
	background: #f1731f;
	height: 54px;
	float: left;
	margin-left: 10%
}


.ww7{
	width: 100%;
	background: #f7ffcc;
	height: 54px;
	float: left;
}

.www7{
	width: 26%;
	background: #e7e01b;
	height: 54px;
	float: left;
	margin-left: 10%
}

.ww8{
	width: 100%;
	background: #ffc274;
	height: 54px;
	float: left;
}

.www8{
	width: 10%;
	background: #41ffef;
	height: 54px;
	float: left;
	margin-left: 10%
}

.ww9{
	width: 100%;
	background: #f48e0b;
	height: 54px;
	float: left;
}

.www9{
	width: 45%;
	background: #0b005c;
	height: 54px;
	float: left;
	margin-left: 10%
}


.ww10{
	width: 100%;
	background: #f83333;
	height: 54px;
	float: left;
}

.www10{
	width: 55%;
	background: #6e0f0f;
	height: 54px;
	float: left;
	margin-left: 10%
}


.w2{
	width: 30%;
	background: #b32334;
	height: 600px;
	float: left;
}

.wa2{
	width: 100%;
	background: #872e1e;
	height: 60px;
	float: left;
	margin-top: 60px;
}

.wb2{
	width: 100%;
	background: #330cdd;
	height: 180px;
	float: left;
}

.wc2{
	width: 100%;
	background: #3ce885;
	height: 90px;
	float: left;
}

.wd2{
	width: 100%;
	background: #dfee37;
	height: 90px;
	float: left;
}

.we2{
	width: 100%;
	background: #8ced5d;
	height: 120px;
	float: left;
}

.w3{
	width: 30%;
	background: #590f18;
	height: 600px;
	float: left;
}

.w3{
	width: 30%;
	background: #590f18;
	height: 600px;
	float: left;
}

.wz{
	width: 100%;
	background: #6290f8;
	height: 60px;
	float: left;
}

.wy{
	width: 10%;
	background: #e8ecf5;
	height: 30px;
	float: left;
	margin-top: 30px;
	margin-left: 87%
}

.wx{
	width: 100%;
	background: #0d2969;
	height: 540px;
	float: left;
}


.pie{
	width: 100%;
	background: #022237;
	height: 250px;
	float: left;
}


.f{
	width: 35%;
	background: #99ffb1;
	height: 250px;
	float: left;
}

.ff{
	width: 65%;
	background: #397146;
	height: 250px;
	float: left;
}
