@charset "utf-8";

body{
	background: #f6f8f1;
	margin: 0;
	padding: 0;
	font-family: arial;
}

.contenedor{
	display: block;
	margin: auto;
	width: 90%;
	height: auto;
	background: white;
	min-height: 60px;
}

header{
	background: #ddae76;
	height:320px;
	width: 100%;
	float: left;
}

.caja1{
	width: 35%;
	height: 320px;
	float: left;
}

.caja2{
	width: 65% ;
	height:320px;
	float: left;
}

.imglogo{
	background: url('../img/logo-header.png');
	width: 275px;
	height: 274px;
	margin: 0;
	display: block;
	padding: 0;
}

.caja2 > div:first-child>h3{
	color: #261609;
	font-size: 40pt;
	letter-spacing: 1px;
	text-align: left;
	font-weight: bold;
	font-family: tahoma; 
	margin: 0;
	padding: 0;
	margin-top: 100px;
	margin-right: 5%
}

.caja2 > div:last-child>h2{
	color: #261609;
	font-size: 18pt;
	letter-spacing: 1px;
	text-align: left;
	font-weight: normal;
	font-family: tahoma; 
	margin: 0;
	padding: 0;
	margin-left: 38%
}