@charset "utf-8";

body{
	background: #000;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menuej2{
	width: 100%;
	background: #e03d40;
	height: 100px;
	float: left;
}

.a1{
	width: 100%;
	background: #e03d40;
	height: 30px;
	float: left;
}

.aa1{
	width: 20%;
	background: #541719;
	height: 30px;
	float: left;
	margin-left: 60%;
}

.aa2{
	width: 10%;
	background: #e39967;
	height: 30px;
	float: left;
}

.aa3{
	width: 5%;
	background: #f4ed7f;
	height: 30px;
	float: left;
}

.b1{
	width: 100%;
	background: #d8d383;
	height: 70px;
	float: left;
}

.bb1{
	width: 10%;
	background: #dea058;
	height: 58px;
	float: left;
	margin-top: 5px;
	margin-left: 3%;
}

.bb2{
	width: 5%;
	background: #7d83c3;
	height: 70px;
	float: left;
	margin-left: 25%;
}

.bb3{
	width: 7%;
	background: #66689a;
	height: 70px;
	float: left;
}

.bb4{
	width: 19%;
	background: #2f2851;
	height: 70px;
	float: left;
}

.bb5{
	width: 19%;
	background: #83da6f;
	height: 70px;
	float: left;
}

.bb6{
	width: 6%;
	background: #ffb451;
	height: 70px;
	float: left;
}

.c1{
	width: 100%;
	background: #da5e59;
	height: 400px;
	float: left;
}

.cc1{
	width: 100%;
	background: #8aa5d6;
	height: 10px;
	float: left;
}

.cc2{
	width: 100%;
	background: #5979ae;
	height: 10px;
	float: left;
}

.cc3{
	width: 40.5%;
	background: #6b3735;
	height: 225px;
	float: left;
	margin-left: 30px;
	margin-top: 125px;
}

.cca{
	width: 100%;
	background: #6aa961;
	height: 45px;
	float: left;
}

.cca1{
	width: 30%;
	background: #80fdf9;
	height: 45px;
	float: left;
	margin-left: 15px;
}

.ccb{
	width: 100%;
	background: #6464a7;
	height: 112.5px;
	float: left;
}

.ccc{
	width: 100%;
	background: #342166;
	height: 67.5px;
	float: left;
}

.ccc1{
	width: 15%;
	background: #5ba5a7;
	height: 55px;
	float: left;
	margin-top: 7px;
	margin-left: 84%;
}


.cc4{
	width: 100%;
	background: #593f40;
	height: 3px;
	float: left;
	margin-top: 30px;
}

