@charset "utf-8";

body{
	background: #000;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menuej2{
	width: 100%;
	background: #e03d40;
	height: 30px;
	float: left;
}

.a1{
	width: 100%;
	background: #e03d40;
	height: 30px;
	float: left;
}