@charset "utf-8";

body{
	background: #000;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#encabezado{
	width: 100%;
	background: #6f8409;
	height: 65px;
	float: left;
}

.hijo1{
	height: 65px;
	width: 65%;
	float: left;
	background: #c938af;
}

.z1{
	height: 65px;
	width: 30%;
	float: left;
	background: #4ae5f1;
}

.z2{
	height: 65px;
	width: 50%;
	float: left;
	background: #faef91;
}

.z3{
	height: 65px;
	width: 20%;
	float: left;
	background: #ee9860;
}

.hijo2{
	height: 65px;
	width: 35%;
	float: left;
	background: #faf191;
}

.y1{
	height: 65px;
	width: 20%;
	float: left;
	background: #d4582c;
}

.y2{
	height: 65px;
	width: 35%;
	float: left;
	background: #42df72;
}

.y3{
	height: 65px;
	width: 45%;
	float: left;
	background: #f41808;
}

.Secc2{
	height: 400px;
	width: 100%;
	float: left;
	background: #f04596;
}

.x1{
	height: 400px;
	width: 100%;
	float: left;
	background: #ec1c7f;
}

.x2{
	height: 10px;
	width: 100%;
	float: left;
	background: #9eeebc;
}

.Secc3{
	height: 550px;
	width: 100%;
	float: left;
	background: #80c2e5;
}

.w{
	height: 550px;
	width: 28%;
	float: left;
	background: #144646;
	margin-left: 4%
}

.w1{
	height: 275px;
	width: 100%;
	float: left;
	background: #87f481;
}

.w2{
	height: 27.5px;
	width: 100%;
	float: left;
	background: #f4612b;
}

.w3{
	height: 178.75px;
	width: 100%;
	float: left;
	background: #c387df;
}

.w4{
	height: 68.75px;
	width: 100%;
	float: left;
	background: #253f41;
}
.ww1{
	height: 68.75px;
	width: 50%;
	float: left;
	background: #c2fbff;
	margin-left: 25%
}

.v{
	height: 550px;
	width: 28%;
	float: left;
	background: #144646;
	margin-left: 4%
}

.v1{
	height: 275px;
	width: 100%;
	float: left;
	background: #87f481;
}

.v2{
	height: 27.5px;
	width: 100%;
	float: left;
	background: #f4612b;
}

.v3{
	height: 178.75px;
	width: 100%;
	float: left;
	background: #c387df;
}

.v4{
	height: 68.75px;
	width: 100%;
	float: left;
	background: #253f41;
}
.vv1{
	height: 68.75px;
	width: 50%;
	float: left;
	background: #c2fbff;
	margin-left: 25%
}

.u{
	height: 550px;
	width: 28%;
	float: left;
	background: #144646;
	margin-left: 4%
}

.u1{
	height: 275px;
	width: 100%;
	float: left;
	background: #87f481;
}

.u2{
	height: 27.5px;
	width: 100%;
	float: left;
	background: #f4612b;
}

.u3{
	height: 178.75px;
	width: 100%;
	float: left;
	background: #c387df;
}

.u4{
	height: 68.75px;
	width: 100%;
	float: left;
	background: #253f41;
}

.uu1{
	height: 68.75px;
	width: 50%;
	float: left;
	background: #c2fbff;
	margin-left: 25%
}

.Secc4{
	height: 350px;
	width: 100%;
	float: left;
	background: #2f3f3f;
}

.t1{
	height: 350px;
	width: 48%;
	float: left;
	background: #2a706f;
}

.s2{
	height: 350px;
	width: 52%;
	float: left;
	background: #ba90db;
}

.ss1{
	height: 70px;
	width: 100%;
	float: left;
	background: #988dee;
}

.ss2{
	height: 63px;
	width: 100%;
	float: left;
	background: #7ae127;
}

.sss21{
	height: 63px;
	width: 47%;
	float: left;
	background: #f98be0;
}

.sss22{
	height: 63px;
	width: 53%;
	float: left;
	background: #9ee8eb;
}

.ss3{
	height: 63px;
	width: 100%;
	float: left;
	background: #7e9ad8;
}

.ss4{
	height: 63px;
	width: 100%;
	float: left;
	background: #e8db81;
}

.sss41{
	height: 63px;
	width: 30%;
	float: left;
	background: #aa0404;
	margin-left: 33%
}

.ss5{
	height: 91px;
	width: 100%;
	float: left;
	background: #dc8484;
}

.secc5{
	height: 500px;
	width: 100%;
	float: left;
	background: #00580a;
}

.r1{
	height: 500px;
	width: 60%;
	float: left;
	background: #81dfd6;
}

.rr1{
	height: 450px;
	width: 100%;
	float: left;
	background: #d94a79;
}

.rrr11{
	height:	182px;
	width: 100%;
	float: left;
	background: #d94a79;
}

.rrr111{
	height: 100px;
	width: 40%;
	float: left;
	background: #8c1f50;
	margin-top: 10%;
	margin-left: 0.1%
}

.rrr112{
	height: 100px;
	width: 59%;
	float: left;
	background: #8c1f50;
	margin-left: 0.5%;
	margin-top: 10%;
}

.t{
	height: 100px;
	width: 40%;
	float: left;
	background: #8c1f50;
	margin-top: 0.3%;
	margin-left: 0.1%
}

.rt12{
	height: 100px;
	width: 40%;
	float: left;
	background: #8c1f50;
	margin-top: 0.3%;
	margin-left: 0.2%
}

.rt13{
	height: 100px;
	width: 57%;
	float: left;
	background: #8c1f50;
	margin-left: 0.5%;
	margin-top: 0.3%;
}

.rq14{
	height: px;
	width: 40%;
	float: left;
	background: #8c1f50;
	margin-top: 0.5%;
	margin-left: 0.2%
}

.rq15{
	height: px;
	width: 40%;
	float: left;
	background: #8c1f50;
	margin-top: 0.5%;
	margin-left: 0.2%
}


.rr2{
	height: 50px;
	width: 100%;
	float: left;
	background: #7b6782;
}

.q1{
	height: 500px;
	width: 40%;
	float: left;
	background: #357572;
}

.qq1{
	height: 80px;
	width: 100%;
	float: left;
	background: #02abc8;
	margin-top: 13%;
}
.qq2{
	height: 80px;
	width: 100%;
	float: left;
	background: #02abc8;
	margin-top: 7%;
}

.qqq21{
	height: 80px;
	width: 20%;
	float: left;
	background: #7e6ab0;
	margin-left: 55%;
}