@charset "utf-8";

body{
	background: #f6f8f1;
	margin: 0;
	padding: 0;
	font-family: arial;
}

.contenedor{
	display: block;
	margin: auto;
	width: 80%;
	height: auto;
	background: white;
	min-height: 60px;
}

header{
	background: #ddae76;
	height:320px;
	width: 100%;
	float: left;
}

.caja1{
	width: 30%;
	height: 320px;
	float: left;
}

.caja2{
	width: 70% ;
	height:320px;
	float: left;
}

.imglogo{
	background: url('../img/logo-header.png');
	width: 275px;
	height: 274px;
	margin: 0;
	display: block;
	padding: 0;
}

.caja2 > div:first-child>h4{
	color: #261609;
	font-size: 40pt;
	letter-spacing: 1px;
	text-align: left;
	font-weight: bold;
	font-family: tahoma; 
	margin: 0;
	padding: 0;
}

.caja2 > div:first-child>h1{
	color: #261609;
	font-size: 18pt;
	letter-spacing: 1px;
	text-align: left;
	font-weight: normal;
	font-family: tahoma; 
	margin: 0;
	padding: 0;
	margin-left: 38%
}

header> div:last-child > div{
	width: 97%;
	margin-right: 3%;
	margin-top: 100px;
	margin-bottom: 30px;
}

article{
	width: 100%;
	float: left;
	background: white;
	height: auto;
	border-bottom: 2px solid #c3c3c3;
}

section > article:first-child >div > h2{
	color: black;
	text-align: left;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-size: 20pt;
}

section > article:first-child > div > p{
	color: #000;
	text-align: left;
	font-weight: lighter;
	font-size: 12pt;
	padding: 0;
	margin: 0;
	line-height: 14pt;
}

section > article:first-child > div > p{
	color: #000;
	text-align: left;
	font-weight: lighter;
	font-size: 12pt;
	padding: 0;
	margin: 0;
	line-height: 14pt;
}

section > article:first-child > div{
	width: 92%;
	margin-left:4%;
	margin-right: 4%;
	margin-top: 30px;
	margin-bottom: 30px;
}


.c1{
	width: 25%;
	height: 155px;
	float: left;
}

.c2{
	width: 70% ;
	height:155px;
	float: left;
	margin-top: 1px;
	margin-right:2.5%;
	margin-left:2.5%;
	margin-bottom: 1px;
}



.imgtaza{
	background: url('../img/img1.png');
	width: 263px;
	height: 155px;
	margin: 0;
	display: block;
	padding: 0;
}

.c2 > div:first-child> h2{
	color: black;
	text-align: left;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-size: 20pt;
}

.c2 > div:second-child> p{
	color: #000;
	text-align: left;
	font-weight: lighter;
	font-size: 12pt;
	padding: 0;
	margin: 0;
	line-height: 14pt;
}

.c2 > div:last-child> h1{
	color: #261609;
	font-size: 16pt;
	letter-spacing: 1px;
	text-align: left;
	font-weight: normal;
	font-family: tahoma; 
	margin: 0;
	padding: 0;
	margin-left: 65%
}

.k0{
	width: 100%;
	height: 15px;
	float: left;
	background: #ddae76;
}

.k1{
	width: 40%;
	height: 100px;
	float: left;
	margin-top: 19px;
	margin-right:5%;
	margin-left:5%;
	margin-bottom: 19px;
}

.k2{
	width: 40%;
	height: 100px;
	float: left;
	margin-top: 19px;
	margin-right:5%;
	margin-left:5%;
	margin-bottom: 19px;
}

.k1 > div:first-child> h2{
	color: black;
	text-align: left;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-size: 20pt;
}

.k1 > div:last-child> p{
	color: #000;
	text-align: left;
	font-weight: lighter;
	font-size: 12pt;
	padding: 0;
	margin: 0;
	line-height: 14pt;
}

.k2 > div:first-child> h2{
	color: black;
	text-align: left;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-size: 20pt;
}

.k2 > div:last-child> p{
	color: #000;
	text-align: left;
	font-weight: lighter;
	font-size: 12pt;
	padding: 0;
	margin: 0;
	line-height: 14pt;
}
