@charset "utf-8";


body{
	background:#f6f8f1; 
	margin:0;
	padding:0;
	font-family: arial;

}

.contenedor{
	display: block;
	margin: auto;
	width: 50%;
	height: auto;
	background: white;
	min-height: 60px;
}

header{
	background: #b7ec89;
	width:100%;
	height:160px;
	float:left;

}

.cl1{
	width:30%;
	height:170px;
	float:left;
}

.cl2{
	width: 70%;
	height:170px;
	float:left;
}

.img1{
	background: url('../img/icon.gif');
	width:70px;
	height:70px;
	margin:auto;
	margin-top:50px;
	display: block;

}

.cl2 > div:first-child > h3{
	color:white;
	font-size:18pt;
	letter-spacing: 12px;
	text-align: left;
	font-weight:normal;
	font-family: calibri;
	margin: 0;
	padding: 0;
	margin-top:25px;
}

.cl2 > div:last-child > h1{
	color: #404246;
	text-align: left;
	font-size: 26pt;
	font-weight: bold;
	font-family:tahoma;
	padding:0;
	margin:0;

}


article{
	width:100%;
	float: left;
	background: white;
	height: auto;
	border-bottom: 1px solid #c3c3c3;
}

section > article:first-child > div > h2{
	color: black;
	text-align: left;
	font-family: calibri;
	font-weight: bold;
	padding:0;
	margin:0;
	font-size:24pt;

}

section > article:first-child > div > p{
	color:   #696c73;
	text-align: left;
	font-weight: lighter;
	padding:0;
	margin:0;
	font-size:12pt;

}

section > article:first-child > div{
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
	float-left;
	margin-top: 35px;
	margin-bottom: 40px;

} 

.cl3{
	width: 30%;
	height: auto;
	float: left;
}

.cl4{
	width: 55%;
	height:auto;
	float:left;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.img2{
	background: url('../img/article1.png');
	width:115px;
	height: 115px;
	float:right;
	margin-top: 15px;
}

.cl4 > div:first-child > p{
    color: #696c73;
	text-align: left;
	font-weight: lighter;
	padding:0;
	margin:0;
	font-size:12pt;

}

.cl4 > div:last-child >button{
	border:none;
	background: red;
	width: 45%;
	height: 40px;
	float:left;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size:14pt;

}	
