@charset "utf-8";

body{
  background:white;
  font-family:arial; 
  margin:0;
  padding:0;
}

header{
  background:#232323;
  margin:0;
  padding:0;
  height: 40px;
  width:100%;
  float:left;
}

.b1{
	width:20%;
	height:40px;
	float:left;
  border-right: 1px solid #c3c3c3;
  
}

.b2{
	width:75%;
	height:40px;
	float:left;
  
}	

.img1{
	background: url('../img/icono_purple.png');
	width:33px;
	height:22px;
	margin-top:8px;
	margin-left:4px;
	display: block;
}

#menu{
	width:100%;
	height:40px;
	float:left;
	padding:0;
	margin:0; 
  
}

#menu>li:first-child{
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(2){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(3){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(4){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(5){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(6){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(7){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}
#menu>li:nth-child(8){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(9){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(10){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:last-child{
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}
a{
  text-decoration: none;
  color:white;
  text-align: center;
  font-family: calibri;
  font-size: 10pt;
}
 
.b3{
	width:4%;
	height:40px;
	float:left;
  
}

.portada{
	width:1404%;
	height:674px;
	float:left;
}

.img2{
	background: url('../img/crecimiento2.png');
	width:1404px;
	height:674px;
	display: block;
}	
	
header>.b3>button{
	height:30px;
	border-radius: 5px;
	width:100%;
	background:#bc7bbd;
	color:white; 
	font-size: 11pt 
	margin-right:5px;
  margin-top:5px;
}


.hijo1{
	width:50%;
	height:674px;
	float:left;
}

.hijo2{
	width:50%;
	height:674px;
	float:left;
}

.im{
	background: url('../img/persona3.png');
	width:567px;
	height:498px;
	display: block;
}	

.hijo1>h1{
	color: #5f0581;
	text-align:center;
	font-family: calibri;
	font-weight: bold;
	padding:0;
	margin-left:10px;
	font-size:30pt;
	margin-top:50px;	
}

