@charset "utf-8";

body{
  background:white;
  font-family:arial; 
  margin:0;
  padding:0;
}

header{
  background:#232323;
  margin:0;
  padding:0;
  height: 40px;
  width:100%;
  float:left;
}

.b1{
	width:20%;
	height:40px;
	float:left;
  border-right: 1px solid #c3c3c3;
  
}

.b2{
	width:75%;
	height:40px;
	float:left;
  
}	

.img1{
	background: url('../img/icono_purple.png');
	width:33px;
	height:22px;
	margin-top:8px;
	margin-left:4px;
	display: block;
}

#menu{
	width:100%;
	height:40px;
	float:left;
	padding:0;
	margin:0; 
  
}

#menu>li:first-child{
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(2){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(3){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(4){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(5){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(6){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(7){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}
#menu>li:nth-child(8){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(9){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:nth-child(10){
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}

#menu>li:last-child{
  width:8.5%;
  height:33px;
  display: block;
  float:left;
  text-align: center;
  padding-top:7px;
  border-right: 1px solid #c3c3c3;
}
a{
  text-decoration: none;
  color:white;
  text-align: center;
  font-family: calibri;
  font-size: 10pt;
}
 
.b3{
	width:4%;
	height:40px;
	float:left;
  
}

.portada{
	width:1404%;
	height:674px;
	float:left;
}

.img2{
	background: url('../img/crecimiento2.png');
	width:1404px;
	height:600px;
	display: block;
}	
	
header>.b3>button{
	height:30px;
	border-radius: 5px;
	width:100%;
	background:#bc7bbd;
	color:white; 
	font-size: 11pt 
	margin-right:5px;
  margin-top:5px;
}


.hijo1{
	width:50%;
	height:600px;
	float:left;
}

.im{
	background: url('../img/persona3.png');
	width:567px;
	height:498px;
	display: block;
}

.hijo2{
	width:50%;
	height:600px;
	float:left;
}

.hijo1>h1{
	color: #5f0581;
	text-align:left;
	font-family: calibri;
	font-weight: bold;
	padding:0;
	margin-left:150px;
	font-size:30pt;
	margin-top:50px;	
}

.hijo1>p{
  color:#454343;
  font-weight: lighter;
  font-size: 14pt;
  margin-left:150px;
  margin-right:150px;
  padding: 0;
  text-align: left;
  line-height: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  
}

.hijo1>div>button{

  height: 40px;
  width: 12%;
  border-radius: 5px;
  border: 1px solid #7d0581;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 10pt;
  font-weight: lighter;
  margin-left: 10%;
  margin-top: 10px;
  color:#7d0581 ;
 
}

	
.hijo1>div>button:first-child{
  height: 40px;
  width: 12%;
  border-radius: 5px;
  border: 1px solid #7d0581;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 10pt;
  font-weight: lighter;
  margin-left: 20%;
  margin-top: 10px;
  color:#7d0581 ;
   
}

.hijo1>div>button:nth-child(2){
  height: 40px;
  width: 12%;
  border-radius: 5px;
  border: 1px solid #7d0581;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 10pt;
  font-weight: lighter;
  margin-left:2%;
  margin-top: 10px;
  color:#7d0581 ;
 
    
}

.hijo1>div>button:nth-child(3){
  height: 40px;
  width: 12%;
  border-radius: 5px;
  border: 1px solid #7d0581;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 10pt;
  font-weight: lighter;
  margin-left:2%;
  margin-top: 10px;
  color:#7d0581 ;
 
    
}

.hijo1>div>button:last-child{
  height: 40px;
  width: 12%;
  border-radius: 5px;
  border: 1px solid #7d0581;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 10pt;
  font-weight: lighter;
  margin-left:2%;
  margin-top: 10px;
  color:#7d0581 ;
   
}

.parte2{
	width:100%;
	height:500px;
	float:left;
}

#art{
    width: 100%;
    height:200px;
    margin-top: 30px;
    margin-bottom: 40px;
    float: left;
    background: #e2e2e2;   
  }

#art>div>.imagen2>.ic1{
	width: 100px;
    height: 100px;
    background: url('../img/icono5.png');
    float:left;
 }     


#art>div:first-child{
    margin-left:2%;
    width: 27%;
    height: 250px;
    float:left;   
  }

#art>div:nth-child(2){
    margin-left:2%;
    width: 27%;
    height: 250px;
    float:left;   
  } 
#art>div>.imagen2>.ic2{
	width: 100px;
    height: 100px;
    background: url('../img/icono6.png');
    float:left;
 }  

