@charset "utf-8";

body{
  background:white;
  font-family:arial; 
  margin:0;
  padding:0;
}

header{
  background:#b6640e;
  margin:0;
  padding:0;
  height: 40px;
  width:100%;
  float:left;
}

.barra1{
	width:4%;
	height:40px;
	float:left;
	border-right: 1px solid #e2a564;
}

.img1{
	background: url('../img/icono_logo.png');
	width:33px;
	height:22px;
	margin-left:10px;
	margin-top:8px;
	display: block;
}	

.barra2{
	width:94%;
	height:40px;
	float:left;
}

#menu{
	width:94%;
	height:40px;
	float:left;
}

#menu>li{
  width:12%;
  height:40px;
  display: block;
  float:left;
  text-align: center;
  border-right: 1px solid #e2a564;
}
#menu>li>a{
  text-decoration: none;
  color:black;
  text-align: center;
}

.portada{
	width:1404%;
	height:674px;
	float:left;
}
.img2{
	background: url('../img/crecimiento2.png');
	width:1404px;
	height:674px;
	display: block;
}	

.hijo1{
	width:40%;
	height:674px;
	float:left;
}
.img2a{
	background: url('../img/persona.png');
	width:567px;
	height:498px;
	display: block;
}	

.hijo2{
	width:60%;
	height:674px;
	float:left;
}

.hijo2>h1{
	color: #b6640e;
	text-align: left;
	font-family: calibri;
	font-weight: bold;
	padding:0;
	margin:0;
	font-size:30pt;
	margin-top:50px;
	
}