@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width:100%;
	background: #4351f5;
	height:50px; 
	float:left;
	
}

.child1{
	width: 55%;
	height: 50px;
	background: #629398;
	float:left;
}

.child2{
	width: 45%;
	height: 50px;
	background: #7dc5a4;
	float: left;
}

.a{
	width: 45%;
	float: left;
	height: 50px;
	background: #7dc5bd;
}

.b{
	width: 55%;
	float: left;
	height: 50px;
	background: #22766f;
}

.c{
	width: 27%;
	float: left;
	height: 50px;
	background: #da9f75;
}

.d{
	width: 19%;
	float: left;
	height: 50px;
	background: #d6a238;
}

.e{ 
	width: 27%;
	float: left;
	height: 50px;
	background: #859e77;

}

.f{ 
	width: 27%;
	float: left;
	height: 50px;
	background: #ba4a95;
}

#principal{
 	width: 100%;
	float: left;
	height:1600px;
	background:#140535;
}


 .portada{ 
 	width: 100%;
	float: left;
	height: 400px;
	background: #A3E4D7;
}

.p1{
	width: 100%;
	float: left;
	height: 40px;
	background: #45B39D;
}

#parte2{
	width: 100%;
	float: left;
	height: 450px;
	background:  #e3c2f3;
}

.p2{
    width: 25%;
	margin-left:85px;
	float: left;
	height: 450px;
	background: #10F7BB;
}

.p2a{
	width: 100%;
	float: left;
	height: 180px;
	background:#d294ef;
}

.p2b{
	width: 100%;
	height: 45px;
	float: left;
	background: #e0639a;
	
}

.p2c{
	width: 100%;
	height: 180px;
	float: left;
	background: #F9B40B;

}  
	
.p2d{ 
	width: 100%;
	height: 45px;
	float: left;
	background: #093A4B;
}
	
.p2da{
	width: 27%;
	margin-left:127px;
	float: left;
	height: 45px;
	background: #10F7BB;
}


.p3{
	width: 25%;
	margin-left:85px;
	float: left;
	height: 450px;
	background: #10F7BB;

}

.p4{
	width: 25%;
	margin-left:85px;
	float: left;
	height: 450px;
	background: #10F7BB;
}

#parte3{
	width: 100%;
	float: left;
	height: 370px;
	background: #ec7063;
}

.p3a{
	width: 50%;
    float: left;
	height: 370px;
	background: #d24b50;
}

.p3b{
	width: 50%;
    float: left;
	height: 370px;
	background:#bfbf6c;
}	

.p3b1{
	width: 100%;
    float: left;
    margin-top:80px;
	height: 60px;
	background:#001a57;
}	

.p3b1a{
	width: 45%;
    float: left;
    margin-right:50%;
    height: 60px;
	background: #ddff33;
}

.p3b2{
	width: 100%;
    float: left;
    height: 60px;
	background:#ffc433;
}

.p3b3{
	width: 100%;
    float: left;
    height: 60px;
	background: #ffa233;
}

.p3b3a{
	width: 32%;
    float: left;
    margin-left:200px;
    height: 60px;
	background:  #ff8633;
}


#parte4{	
	width: 100%;
	float: left;
	height: 400px;
	background: #ff6133;
}

.p4a{
	width: 50%;
    float: left;
    height:400px;
	background: #98b5ae;
}

.p4a1{
	width: 100%;
    float: left;
    height:80px;
	background: #a3f6e3;
}

.p4a2{
	width: 40%;
    float: left;
    margin-top: 6px;
    height:70px;
	background: #2fc6a4;
}

.p4a3{
	width:59%;
    float: left;
    margin-left:6px;
    margin-top: 6px;
    height:70px;
	background: #61f1ce;
}

.p4a4{
	width:40%;
    float: left;
    margin-top: 6px;
    height:70px;
	background: #2fc6a4;
}

.p4a5{
	width:59%;
    float: left;
    margin-left:6px;
    margin-top: 6px;
    height:70px;
	background: #61f1ce;
}

.p4a6{
	width:40%;
    float: left;
    margin-top: 6px;
    height:140px;
	background: #2fc6a4;
}

.p4a7{
	width:59%;
    float: left;
    margin-left:6px;
    margin-top: 6px;
    height:140px;
	background: #61f1ce;
}

.p4b{
	width: 50%;
    float: left;
    height:400px;
	background:#cae7e0;
}

.p4b1{
	width: 100%;
    float: left;
    margin-top:85px;
    height:70px;
	background: #2fc6a4;
}

.p4b2{
	width: 100%;
    float: left;
    margin-top:55px;
    height:70px;
	background: #2fc6a4;
}

.p4b2a{
	width: 30%;
    float: left;
    margin-left:265px;
    height:70px;
	background: #fafa76;
}

.ft{	
	width: 100%;
	float: left;
	height:350px;
	background: #6111dc;
	
}

.fta{	
	width: 30%;
	float: left;
	height:350px;
	background: #008b65;
	
}

.ftb{	
	width: 70%;
	float: left;
	height:350px;
	background: #98cfc0;
	
}

.ftb1{	
	width:100%;
	float: left;
	height:150px;
	background: #f9b4e4;
	
}

.ftb1a{		
	width:30%;
	float: left;
	margin-left:220px;
	height:60px;
	background: #20166f;	
}

.ftb1b{		
	width:15%;
	float: left;
	margin-left: 5px;
	height:60px;
	background: #20166f;	
}

.ftb1c{		
	width:15%;
	float: left;
	margin-left: 5px;
	height:60px;
	background: #20166f;	
}

.ftb1d{		
	width:15%;
	float: left;
	margin-left: 5px;
	height:60px;
	background: #20166f;	
}

.ftb2{		
	width:100%;
	float: left;
    height:200px;
	background: #a687ee;	
}


/*Ejercicio2*/

@charset "utf-8";

body{
	background:#bececd;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#barras{
	width:100%;
	background: #4351f5;
	height:85px; 
	float:left;
	
}

.info{
	width:100%;
	background:#b3b8e7;
	height:40px; 
	float:left;
		
}

.info1{
	width:22%;
	background:#676eb2;
	height:40px; 
	float:left;
	margin-left:50%;
	
}

.info1a{
	width:15%;
	background:#4d5288;
	height:40px; 
	float:left;
	
}

.info2{
	width:15%;
	background:#2b3166;
	height:40px; 
	float:left;
	
}

.info3{
	width:13%;
	background:#0e1240;
	height:40px; 
	float:left;
	
}

.menu{
	width:100%;
	background:#f782f0;
	height:85px; 
	float:left;
	
}

.logo{
	width:18%;
	background:#df53d7;
	height:85px; 
	float:left;
	
}

.home{
	width:11%;
	background:#982091;
	height:85px; 
	float:left;
	margin-left:22%;  
	
}

.about{
	width:11%;
	background:#65095f;
	height:85px; 
	float:left;
	  
}

.product{
	width:12%;
	background:#400a3c;
	height:85px; 
	float:left;
	  
}

.heavy{
	width:15%;
	background:#594157;
	height:85px; 
	float:left;
	  
}
.contact{
	width:11%;
	background:#806e7e;
	height:85px; 
	float:left;
	  
}

.borde1{
	width:100%;
	background:#81df38;
	height:10px; 
	float:left;
	  
}

.borde2{
	width:100%;
	background:#51a90c;
	height:10px; 
	float:left;	 	  
}

#portada1{
	width:100%;
	background: #91ea9d;
	height:400px; 
	float:left;
	   
}

.cuadro{
	width:40%;
	background:#6fc17b;
	height:300px; 
	float:left;
	margin-top:5%;	 	  
}

.titulo{
	width:100%;
	background: #2a8636;
	height:50px; 
	float:left;	 	  
}

.texto{
	width:100%;
	background:#5d9e66;
	height:170px; 
	float:left;	 	  
}

.boton{
	width:100%;
	background: #1a4924;
	height:79px; 
	float:left;	 	  
}

.botonm{
	width:30%;
	background: #6da87a;
	height:79px; 
	float:left;
	margin-left:60%;	 	  
}

#portada2{
	width:100%;
	background:#85cdf6;
	height:345px; 
	float:left;
	   
}

.caja{
	width:60%;
	background:#368fc2;
	height:345px; 
	float:left;
	 	  
}

.cajaa{
	width:100%;
	background:#1e668f;
	height:90px; 
	float:left;
	 	  
}

.cajab{
	width:100%;
	background: #0a3b58;
	height:165px; 
	float:left;
	 	  
}

.cajac{
	width:100%;
	background:#8ec7e7;
	height:92px; 
	float:left;
	 	  
}

.imagen{
	width:40%;
	background:#8297a4;
	height:345px; 
	float:left;
	 	  
}

#fotos{
	width:100%;
	background: #f1a709;
	height:650px; 
	float:left;
	   
}

.l1{
	width:100%;
	background:#e8b13b;
	height:315px; 
	float:left;
	 	  
}


.l1a{
	width:30%;
	background: #f9ed63;
	height:315px; 
	float:left;
	margin-left:2.5%;
	 	  
}

.l1a1{
	width:100%;
	background:#dfd234;
	height:50px; 
	float:left;
	 	  
}

.l1a2{
	width:100%;
	background:#eedd15;
	height:210px; 
	float:left;
	 	  
}

.l1a3{
	width:40%;
	background: #7a720f;
	height:55px; 
	float:left;
	margin-left:60%;
	 	  
}

	 
.l1b{
	width:30%;
	background:#f9ed63;
	height:315px; 
	float:left;
	margin-left:2.5%;
	 	  
}

.l1a1{
	width:100%;
	background:#dfd234;
	height:50px; 
	float:left;
	 	  
}

.l1a2{
	width:100%;
	background:#eedd15;
	height:210px; 
	float:left;
	 	  
}

.l1a3{
	width:40%;
	background: #7a720f;
	height:55px; 
	float:left;
	margin-left: 60%
}

.l1c{
	width:30%;
	background: #f9ed63;
	height:315px; 
	float:left;
	margin-left:2.5%;
 	  
}

.l1a1{
	width:100%;
	background:#dfd234;
	height:50px; 
	float:left;
	 	  
}

.l1a2{
	width:100%;
	background:#eedd15;
	height:210px; 
	float:left;
	 	  
}

.l1a3{
	width:40%;
	background: #7a720f;
	height:55px; 
	float:left;
	margin-left:60%;
	 	  
}

.l2{
	width:100%;
	background:#e8b13b;
	height:315px; 
	float:left;
	margin-top:1%;
 	  
}

#portada3{
	width:100%;
	background:#f091a5;
	height:345px; 
	float:left;
	   
}

.img{
	width:40%;
	background:#f05d7c;
	height:345px; 
	float:left;
	
 	  
}

.text1{
	width:30%;
	background:#bf2e4d;
	height:345px; 
	float:left;	  
}

.t1{
	width:100%;
	background:#e8cbd1;
	height:75px; 
	float:left;	  
}
.t2{
	width:100%;
	background: #ab828b;
	height:235px; 
	float:left;
	margin-top:5%; 	  
}

.text2{
	width:30%;
	background:#6f1f30;
	height:345px; 
	float:left;	  
}

.t2a{
	width:60%;
	background: #ab828b;
	height:120px; 
	float:left;
	margin-top:23%; 
	margin-left:10%; 	  
}

#contactanos{
	width:100%;
	background: #91ea9d;
	height:450px; 
	float:left;
	   
}

.caja1{
	width:60%;
	background:#195142;
	height:450px; 
	float:left;
		  
}
.cj1a{
	width:100%;
	background: #0b7155;
	height:75px; 
	float:left;
		  
}

.cj1b{
	width:20%;
	background:#eef6a3;
	height:60px; 
	float:left;
	margin-top:5%;
	margin-left: 5%; 
		  
}

.cj1c{
	width:65%;
	background: #c8d546;
	height:60px; 
	float:left;
	margin-top:5%;
	margin-left: 5%; 
		  
}

.cj1d{
	width:20%;
	background:#eef6a3;
	height:60px; 
	float:left;
	margin-top:5%;
	margin-left: 5%; 
		  
}

.cj1e{
	width:65%;
	background:#c8d546;
	height:60px; 
	float:left;
	margin-top:5%;
	margin-left: 5%; 
		  
}

.cj1f{
	width:20%;
	background:#eef6a3;
	height:100px; 
	float:left;
	margin-top:5%;
	margin-left: 5%; 
		  
}

.cj1g{
	width:65%;
	background:#c8d546;
	height:100px; 
	float:left;
	margin-top:5%;
	margin-left: 5%; 
		  
}

.caja2{
	width:40%;
	background: #57a8dd;
	height:450px; 
	float:left;
		  
}

.caja2a{
	width:20%;
	background:#eef6a3;
	height:60px; 
	float:left;
	margin-top:18%;
	margin-left: 18%; 
		  
}

.caja2b{
	width:50%;
	background:#c8d546;
	height:60px; 
	float:left;
	margin-top:18%;
	margin-left: 5%;
	 	  
}

		 
.boton{
	width:100%;
	background:#c8d546;
	height:100px; 
	float:left;
	margin-top:15%;
		  
}	

.send{
	width:40%;
	background: #861c8e;
	height:100px; 
	float:left;
	margin-left:55%;
		  
}

#final{
	width:100%;
	background:#7d90d9;
	height:345px; 
	float:left;
	   
}

.lado1{
	width:30%;
	background:#0d1c52;
	height:345px; 
	float:left;
		  
}
.lado2{
	width:70%;
	background: #1546fc;
	height:345px; 
	float:left;
		  
}
