@charset "utf-8";

body{
  background:white;
  font-family:arial; 
  margin:0;
  padding:0;
}

header{
  background: #1f3252;
  margin:0;
  padding:0;
  height: 70px;
  width:100%;
  float:left;
}

#menu{
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  float: left;
}
#menu>li{
  width:12%;
  height:45px;
  display: block;
  float:left;
  text-align: center;
  padding-top: 25px;
  border-right: 1px solid cyan;
}

#menu>li>a{
  text-decoration: none;
  color:cyan;
  text-align: center;
}

#menu>li:hover{
  background:  #4677c6;
}

#menu>li>a:hover{
  color:white;
}

#banner{
  width:100%;
  height: 520px;
  float:left;
  background:cyan;
}
#banner>.imagen{
  width:40%;
  height: 520px;
  float:left;
}

#banner>.texto{
  width: 60%;
  height: 520px;
  float:left; 
}

#banner>.imagen>.img1{
  width: 501px;
  height:501px;
  background: url('../img/img-flat.png');
  margin: auto;
  display: block;
}
#banner>.texto>div>h1{
  margin:0;
  padding: 0;
  letter-spacing: 2px;
  color:purple;
  font-size: 23pt;
  text-align: left;
  font-family: calibri;
  font-weight: bold;
  margin-top:100px;
}

#banner>.texto>div>p{
  letter-spacing: 2px;
  color:black;
  font-family: calibri;
  font-weight: lighter;
  font-size: 16pt;
  margin:0;
  padding: 0;
  text-align: left;
}

#banner>.texto>div>div>button{
  background: cyan;
  height: 50px;
  width:17%;
  border-radius:4px;
  border:1px solid purple;
  text-align: center;
  font-family: calibri;
  font-weight: lighter;
  font-size: 12pt;
  margin-left: 10%;
  margin-top: 10px;
}

#banner>.texto>div>div>button:hover{
  background: #4677c6;
  cursor: pointer;
  color:white;
}
  #art{
    width: 100%;
    height:250px;
    margin-top: 30px;
    margin-bottom: 40px;
    float: left;
    background: gray;   
  }
  
  #art>div:first-child{
    margin-left:5%;
    width: 27%;
    height: 250px;
    float:left;   
  }
  #art>div:nth-child(2){
    margin-left:5%;
    width: 27%;
    height: 250px;
    float:left;   
  } 
  
   #art>div:last-child{
    margin-left:5%;
    width: 27%;
    height: 250px;
    float:left;   
  } 
  
  #art>div>.imagen2{
    width: 30%;
    height:250px;
    float: left;
  }
  
  #art>div>.texto2{
    width: 70%;
    height: 250px;
    float:left;
  }
  
  #art>div>.imagen2>.img2{
    width: 86px;
    height: 85px;
    background: url('../img/v1.png');
    margin:auto;
    display: block;
    margin-top: 15px;
 
  #art>div>.texto2>p{
    font-family: calibri;
    color:black;
    letter-spacing: 2px;
    font-size: 12pt;
    font-
  }