@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #949dcf;
	height: 50px; 
	float:left;
	
}

.child1{
	width: 55%;
	height: 50px;
	background: #629398;
	float:left;
}

.child2{
	width: 44.6%;
	background: #e89ec1;
	float: left;
	height: 50px;
}

.a{
	width: 45%;
	float: left;
	height: 50px;
	background: #7dc5bd;
}

.b{
	width: 55%;
	float: left;
	height: 50px;
	background: #22766f;
}

.c{
	width: 27%;
	float: left;
	height: 50px;
	background: #da9f75;
}

.d{
	width: 19%;
	float: left;
	height: 50px;
	background: #d6a238;
}

.e{ 
	width: 27%;
	float: left;
	height: 50px;
	background: #859e77;

}

.f{ 
	width: 27%;
	float: left;
	height: 50px;
	background: #ba4a95;
}

 .principal{
 	width: 100%;
	float: left;
	height: 600px;
	background:#140535;
}


 .portada{ 
 	width: 100%;
	float: left;
	height: 400px;
	background: #A3E4D7;
}

.p1{
	width: 100%;
	float: left;
	height: 40px;
	background: #45B39D;
}

.parte2{
	width: 100%;
	float: left;
	height: 450px;
	background:  #e3c2f3;
}

.p2{
    width: 25%;
	margin-left:50px;
	float: left;
	height: 450px;
	background: #10F7BB;
}

.p2a{
	width: 100%;
	float: left;
	height: 202px;
	background:#d294ef;
}

.p2b{
	width: 100%;
	height: 202px;
	float: left;
	background: #F9B40B;
}

.p2c{
	width: 100%;
	height: 45px;
	float: left;
	background: #093A4B;
}

.p2d{ 
	width: 100%;
	height: 45px;
	float: left;
	background: #e0639a;
}  

