@charset "utf-8";

body{
  background:white;
  font-family:arial; 
  margin:0;
  padding:0;
}

header{
  background:#b6640e;
  margin:0;
  padding:0;
  height: 40px;
  width:100%;
  float:left;
}

.barra1{
	width:4%;
	height:40px;
	float:left;
	border-right: 1px solid #e2a564;
}

.img1{
	background: url('../img/icono_logo.png');
	width:33px;
	height:22px;
	margin-left:10px;
	margin-top:8px;
	display: block;
}	

.barra2{
	width:97%;
	height:40px;
	float:left;
}


#menu>li{
  width:12%;
  height:45px;
  display: block;
  float:left;
  text-align: center;
  border-right: 1px solid #e2a564;
}
#menu>li>a{
  text-decoration: none;
  color:black;
  text-align: center;
}

