@charset "utf-8";

body{
	background: #23e2f3;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

header{
	width: 100%;
	height: 60px;
	float: left;
	background: #fff;
}

.child1{
	width: 55%;
	height: 60px;
	float: left;
	background: #f38f23;
}

.child2{
	width: 45%;
	height: 60px;
	float: left;
	background: #9d23f3;
}

.a{
	width: 45%;
	height: 60px;
	float: left;
	background: #619498;
}

.b{
	width: 55%;
	height: 60px;
	float: left;
	background: #bcde54
}

.c{
	width: 27%;
	height: 60px;
	float: left;
	background: blue;
}

.d{
	width: 19%;
	height: 60px;
	float: left;
	background: orange;
}

.e{
	width: 27%;
	height: 60px;
	float: left;
	background: red;
}

.f{
	width: 27%;
	height: 60px;
	float: left;
	background: yellow;
}

.child3{
	width: 100%;
	height: 360px;
	float: left;
	background: pink;
	border: blue 1px solid;
}

.child4{
	width: 100%;
	height: 16px;
	float: left;
	background: lightgreen;
}

.child5{
	width: 100%;
	height: 500px;
	float: left;
	background: lightblue;
}

.g{
	width: 5.5%;
	height: 500px;
	float: left;
	background: lightblue;
	border: darkgreen 1px solid;
}

.h{
	width: 26%;
	height: 500px;
	float: left;
	background: green;
	border: darkgreen 1px solid;
}

.i{
	width: 5.5%;
	height: 500px;
	float: left;
	background: lightblue;
	border: darkgreen 1px solid;
}

.j{
	width: 26%;
	height: 500px;
	float: left;
	background: green;
	border: darkgreen 1px solid;

}

.k{
	width: 5.5%;
	height: 500px;
	float: left;
	background: lightblue;
	border: darkgreen 1px solid;

}

.l{
	width: 26%;
	height: 500px;
	float: left;
	background: green;
	border: darkgreen 1px solid;
}

.m{
	width: 5.5%;
	height: 500px;
	float: left;
	background: lightblue;
	border: darkgreen 1px solid;
}

.child1h{
	width: 100%;
	height: 220px;
	float: left;
	background: darkgreen;
	border: darkgreen 1px solid;
}

.child2h{
	width: 100%;
	height: 50px;
	float: left;
	background: gray;
	border: darkgreen 1px solid;
}

.child3h{
	width: 100%;
	height: 150px;
	float: left;
	background: brown;
	border: darkgreen 1px solid;
}

.child4h{
	width: 100%;
	height: 80px;
	float: left;
	background: purple;
	border: darkgreen 1px solid;
}

.child1j{
	width: 100%;
	height: 220px;
	float: left;
	background: darkgreen;
	border: darkgreen 1px solid;
}

.child2j{
	width: 100%;
	height: 50px;
	float: left;
	background: gray;
	border: darkgreen 1px solid;
}

.child3j{
	width: 100%;
	height: 150px;
	float: left;
	background: brown;
	border: darkgreen 1px solid;
}

.child4j{
	width: 100%;
	height: 80px;
	float: left;
	background: purple;
	border: darkgreen 1px solid;
}

.child1l{
	width: 100%;
	height: 220px;
	float: left;
	background: darkgreen;
	border: darkgreen 1px solid;
}

.child2l{
	width: 100%;
	height: 50px;
	float: left;
	background: gray;
	border: darkgreen 1px solid;
}

.child3l{
	width: 100%;
	height: 150px;
	float: left;
	background: brown;
	border: darkgreen 1px solid;
}

.child4l{
	width: 100%;
	height: 80px;
	float: left;
	background: purple;
	border: darkgreen 1px solid;
}

.alpha{
	width: 30%;
	height: 80px;
	float: left;
	background: purple;
	border: darkgreen 1px solid;
}

.beta{
	width: 40%;
	height: 80px;
	float: left;
	background: darkgreen;
	border: darkgreen 1px solid;
}

.gamma{
	width: 30%;
	height: 80px;
	float: left;
	background: purple;
	border: darkgreen 1px solid;
}

.alpha2{
	width: 30%;
	height: 80px;
	float: left;
	background: purple;
	border: darkgreen 1px solid;
}

.beta2{
	width: 40%;
	height: 80px;
	float: left;
	background: darkgreen;
	border: darkgreen 1px solid;
}

.gamma2{
	width: 30%;
	height: 80px;
	float: left;
	background: purple;
	border: darkgreen 1px solid;
}

.alpha3{
	width: 30%;
	height: 80px;
	float: left;
	background: purple;
	border: darkgreen 1px solid;
}

.beta3{
	width: 40%;
	height: 80px;
	float: left;
	background: darkgreen;
	border: darkgreen 1px solid;
}

.gamma3{
	width: 30%;
	height: 80px;
	float: left;
	background: purple;
	border: darkgreen 1px solid;
}

.padrede6y7{
	width: 100%;
	height: 360px;
	float: left;
	background: lightgreen;
}
.child6{
	width: 50%;
	height: 360px;
	float: left;
	background: lightgreen;
}

.child7{
	width: 50%;
	height: 360px;
	float: left;
	background: green;
}

.n{
	width: 100%;
	height: 60px;
	float: left;
	background: green;
	border: darkgreen 1px solid;
}

.o{
	width: 100%;
	height: 60px;
	float: left;
	background: yellow;
	border: darkgreen 1px solid;
}

.child1o{
	width: 50%;
	height: 60px;
	float: left;
	background: black;
}

.child2o{
	width: 50%;
	height: 60px;
	float: left;
	background: yellow;
}

.p{
	width: 100%;
	height: 60px;
	float: left;
	background: orange;
	border: darkgreen 1px solid;
}

.q{
	width: 100%;
	height: 60px;
	float: left;
	background: lightblue;
	border: darkgreen 1px solid;
}

.r{
	width: 100%;
	height: 120px;
	float: left;
	background: green;
	border: darkgreen 1px solid;
}

.padrede8y9{
    width: 100%;
	height: 360px;
	float: left;
	background: green;
}

.child8{
	width: 60%;
	height: 360px;
	float: left;
	background: darkgreen;
}


.s{
	width: 100%;
	height: 72px;
	float: left;
	background: darkgreen;
}

.t{
	width: 100%;
	height: 72px;
	float: left;
	background: darkgreen;
}

.child1t{
	width: 50%;
	height: 72px;
	float: left;
	background: aqua;
	border: darkgreen 1px solid;
}

.child2t{
	width: 49%;
	height: 72px;
	float: left;
	background: aqua;
	border: darkgreen 1px solid;
}

.u{
	width: 100%;
	height: 72px;
	float: left;
	background: darkgreen;
}

.child1u{
	width: 50%;
	height: 71px;
	float: left;
	background: aqua;
	border: darkgreen 1px solid;
}

.child2u{
	width: 49%;
	height: 71px;
	float: left;
	background: aqua;
	border: darkgreen 1px solid;
}

.v{
	width: 100%;
	height: 112px;
	float: left;
	background: darkgreen;
}

.child1v{
	width:50%;
	height: 112px;
	float: left;
	background: aqua;
	border: darkgreen 1px solid;
}

.child2v{
	width: 49%;
	height: 112px;
	float: left;
	background: aqua;
	border: darkgreen 1px solid;
}

.w{
    width: 100%;
	height: 32px;
	float: left;
	background: pink;
	border: darkgreen 1px solid;
}

.child9{
	width: 40%;
	height: 360px;
	float: left;
	background: lightblue;
}

.x{
	width: 100%;
	height: 72px;
	float: left;
	background: lightgreen;
	border: darkgreen 1px solid;
}

.y{
	width: 100%;
	height: 72px;
	float: left;
	background: aqua;
	border: darkgreen 1px solid;
}

.z{
	width: 100%;
	height: 30px;
	float: left;
	background: lightgreen;
	border: darkgreen 1px solid;
}

.aa{
	width: 100%;
	height: 72px;
	float: left;
	background: aqua;
	border: darkgreen 1px solid;
}

.child1aa{
	width: 55%;
	height: 72px;
	float: left;
	background: aqua;
}

.child2aa{
	width: 25%;
	height: 72px;
	float: left;
	background: darkgreen;
}

.child3aa{
	width: 20%;
	height: 72px;
	float: left;
	background: aqua;
}

.ab{
	width: 100%;
	height: 104px;
	float: left;
	background: lightgreen;
	border: darkgreen 1px solid;
}

.padrede10y11{
	width: 100%;
	height: 200px;
	float: left;
	background: purple;
}

.child10{
	width: 30%;
	height: 200px;
	float: left;
	background: purple;
}

.child11{
	width: 70%;
	height: 200px;
	float: left;
	background: green;
}

.ac{
	width: 100%;
	height: 50px;
	float: left;
	background: lightgreen;
}

.ad{
	width: 100%;
	height: 50px;
	float: left;
	background: lightgreen;
}

.ae{
	width: 100%;
	height: 100px;
	float: left;
	background: gray;
	border: darkgreen 1px solid;
}

.child1ac{
	width: 20%;
	height: 50px;
	float: left;
	background: lightgreen;
	border: darkgreen 1px solid;
}

.child2ac{
	width: 60%;
	height: 50px;
	float: left;
	background: purple;
	border: darkgreen 1px solid;
}

.child3ac{
	width: 16%;
	height: 50px;
	float: left;
	background: purple;
	margin: 2px;
	border: darkgreen 1px solid;
}

.child4ac{
	width: 4%;
	height: 50px;
	float: left;
	background: lightgreen;
	border: darkgreen 1px solid;
}

.corte1{
	width: 50%;
	height: 50px;
	float: left;
	background: purple;
	border: darkgreen 1px solid;
}
.corte2{
	width: 25%;
	height: 50px;
	float: left;
	background: purple;
	border: darkgreen 1px solid;
}.corte3{
	width: 25%;
	height: 50px;
	float: left;
	background: purple;
	border: darkgreen 1px solid;
}