@charset "utf-8";

body {
	background: yellow;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0; 
}

header {
	background: blue;
	width: 100%;
	height: 70px;
	float: left;
}

#headeruno {
	background: peru;
	width: 100%;
	height: 30px;
	float: left;
}

.hijoheader1 {
	background: peachpuff;
	width: 50%;
	height: 30px;
	float: left;
}

.hijoheader2 {
	background: indianred;
	width: 20%;
	height: 30px;
	float: left;
}

.hijoheader3 {
	background: firebrick;
	width: 11%;
	height: 30px;
	float: left;
}

.hijoheader4 {
	background: deeppink;
	width: 11%;
	height: 30px;
	float: left;
}

.hijoheader5 {
	background: lightsalmon;
	width: 8%;
	height: 30px;
	float: left;
}

#headerdos {
	background: coral;
	width: 100%;
	height: 40px;
	float: left;
}

.hijoheader11 {
	background: aquamarine;
	width: 12%;
	height: 40px;
	float: left;
}

.hijoheader22 {
	background: darkorange;
	width: 18%;
	height: 40px;
	float: left;
}

.hijoheader33 {
	background: yellow;
	width: 8%;
	height: 40px;
	float: left;
}

.hijoheader44 {
	background: papayawhip;
	width: 10%;
	height: 40px;
	float: left;
}

.hijoheader55 {
	background: moccasin;
	width: 10%;
	height: 40px;
	float: left;
}

.hijoheader66 {
	background:  lavender;
	width: 12%;
	height: 40px;
	float: left;
}

.hijoheader77 {
	background: violet;
	width: 8%;
	height: 40px;
	float: left;
}

.hijoheader88 {
	background: orchid;
	width: 10%;
	height: 40px;
	float: left;
}

.hijoheader99 {
	background: fuchsia;
	width: 12%;
	height: 40px;
	float: left;
}

#bannerbox {
	background: plum;
	width: 100%;
	height: 250px;
	float: left;
}

.banner {
	background: purple;
	width: 100%;
	height: 250px;
	float: left;
}

.left {
	background: lightblue;
	width: 55%;
	height: 250px;
	float: left;	
}

.left1 {
	background: green;
	width: 100%;
	height: 25px;
	float: left;	
}

.left1a {
	background: green;
	width: 100%;
	height: 25px;
	float: left;	
}




.left2 {
	background: darkcyan;
	width: 100%;
	height: 100px;
	float: left;	
}

.left2a {
	background: darkcyan;
	width: 100%;
	height: 100px;
	float: left;	
}

.knowus {
	background: black;
	width: 30%;
	height: 25px;
	float: left;	
}

.knowus_not {
	background: gold;
	width: 70%;
	height: 25px;
	float: left;	
}

.knowus_later {
	background: cyan;
	width: 100%;
	height: 50px;
	float: left;	
}

.bye {
	background: peachpuff;
	width: 100%;
	height: 25px;
	float: left;	
}

.bye1 {
	background: peru;
	width: 85%;
	height: 25px;
	float: left;	
}

.bye2 {
	background: black;
	width: 15%;
	height: 25px;
	float: left;	
}

.left2b {
	background: green;
	width: 100%;
	height: 65px;
	float: left;	
}

.left3b {
	background: orange;
	width: 100%;
	height: 10px;
	float: left;	
}


.left3 {
	background: midnightblue;
	width: 100%;
	height: 125px;
	float: left;	
}


.right {
	background: blue;
	width: 45%;
	height: 250px;
	float: right;
}

#sectwo {
	background: darkgreen;
	width: 100%;
	height: 150px;
	float: left;
}

.sec_one {
	background: teal;
	width: 40%;
	height: 150px;
	float: left;
}

.sec_two {
	background: aqua;
	width: 30%;
	height: 150px;
	float: left;
}

.sec_two1 {
	background: peachpuff;
	width: 15%;
	height: 150px;
	float: left;
}

.sec_two2 {
	background: peru;
	width: 70%;
	height: 150px;
	float: left;
}

.sec_two2a {
	background: olive;
	width: 100%;
	height: 15px;
	float: left;
}

.sec_two2b {
	background: darkcyan;
	width: 100%;
	height: 15px;
	float: left;
}

.beta1 {
	background: darkcyan;
	width: 45%;
	height: 15px;
	float: left;
}

.beta2 {
	background: red;
	width: 55%;
	height: 15px;
	float: left;
}

.sec_two2c {
	background: aqua;
	width: 100%;
	height: 15px;
	float: left;
}

.sec_two2d {
	background: yellowgreen;
	width: 100%;
	height: 60px;
	float: left;
}

.sec_two2e {
	background: teal;
	width: 100%;
	height: 15px;
	float: left;
}

.sec_two2f {
	background: forestgreen;
	width: 100%;
	height: 15px;
	float: left;
}

.f1 {
	background: forestgreen;
	width: 75%;
	height: 15px;
	float: left;
}

.f2 {
	background: purple;
	width: 25%;
	height: 15px;
	float: left;
}


.sec_two2g {
	background: darkseagreen;
	width: 100%;
	height: 15px;
	float: left;
}

.sec_two3 {
	background: peachpuff;
	width: 15%;
	height: 150px;
	float: left;
}


.sec_three {
	background: darkgreen;
	width: 30%;
	height: 150px;
	float: left;
}

.sec_three1 {
	background: navy;
	width: 15%;
	height: 150px;
	float: left;
}

.sec_three2 {
	background: peru;
	width: 70%;
	height: 150px;
	float: left;
}

#locion {
	background: peru;
	width: 100%;
	height: 200px;
	float: left;
}

.loc_left {
	background: lightblue;
	width: 45%;
	height: 200px;
	float: left;
}

.loc_left1 {
	background: rosybrown;
	width: 8%;
	height: 200px;
	float: left;
}

.loc_leftcenter {
	background: cyan;
	width: 84%;
	height: 200px;
	float: left;
}

.loc_centerup {
	background: sandybrown;
	width: 100%;
	height: 25px;
	float: left;
}

.loc_centercenter {
	background: cyan;
	width: 100%;
	height: 150px;
	float: left;
}

.loc_centerdown {
	background: sandybrown;
	width: 100%;
	height: 25px;
	float: left;
}

.loc_left_right {
	background: rosybrown;
	width: 8%;
	height: 200px;
	float: left;
}

.loc_right {
	background: olive;
	width: 55%;
	height: 200px;
	float: left;
}

.loc_upper {
	background: olive;
	width: 100%;
	height: 90px;
	float: left;
}

.loc_downer {
	background: teal;
	width: 100%;
	height: 110px;
	float: left;
}

#linea {
	background: moccasin;
	width: 100%;
	height: 15px;
	float: left;
}

.lineal {
	background: moccasin;
	width: 100%;
	height: 15px;
	float: left;
}

#chero {
	background: blue;
	width: 100%;
	height: 120px;
	float: left;
}

.cherin {
	background: midnightblue;
	width: 60%;
	height: 120px;
	float: left;
}

.cherin1 {
	background: brown;
	width: 33%;
	height: 120px;
	float: left;
}

.cherin2 {
	background: midnightblue;
	width: 34%;
	height: 120px;
	float: left;
}

.cherin2up {
	background: midnightblue;
	width: 10%;
	height: 10px;
	float: left;
}

.cherin2center {
	background: gray;
	width: 100%;
	height: 100px;
	float: left;
}

.cherin2down {
	background: midnightblue;
	width: 100%;
	height: 10px;
	float: left;
}

.cherin3 {
	background: brown;
	width: 33%;
	height: 120px;
	float: left;
}

.jeibu {
	background: skyblue;
	width: 20%;
	height: 120px;
	float: left;
}

.space_jeibu {
	background: yellow;
	width: 20%;
	height: 120px;
	float: left;
}

#revistas {
	background: peachpuff;
	width: 100%;
	height: 120px;
	float: left;
}

.revistas1 {
	background: deepskyblue;
	width: 33%;
	height: 120px;
	float: left;
}

.revistas2 {
	background: mediumblue;
	width: 34%;
	height: 120px;
	float: left;
}

.revistas3 {
	background: midnightblue;
	width: 33%;
	height: 120px;
	float: left;
}

#info {
	background: purple;
	width: 100%;
	height: 250px;
	float: left;
}

.info1 {
	background: purple;
	width: 100%;
	height: 30px;
	float: left;
}

.info11 {
	background: gray;
	width: 15%;
	height: 30px;
	float: right;
}

.info2 {
	background: purple;
	width: 100%;
	height: 220px;
	float: left;
}

.info21 {
	background: navy;
	width: 10%;
	height: 220px;
	float: left;
}

.info22 {
	background: blue;
	width: 25%;
	height: 220px;
	float: left;
}

.info23 {
	background: navy;
	width: 15%;
	height: 220px;
	float: left;
}

.info24 {
	background: blue;
	width: 30%;
	height: 220px;
	float: left;
}

.info25 {
	background: navy;
	width: 20%;
	height: 220px;
	float: left;
}

footer {
	background: yellowgreen;
	width: 100%;
	height: 100px;
	float: left;
}

#hitler1 {
	background: aquamarine;
	width: 40%;
	height: 100px;
	float: left;
}

.hit11 {
	background: maroon;
	width: 15%;
	height: 100px;
	float: left;
}

.hit12 {
	background: oldlace;
	width: 70%;
	height: 100px;
	float: left;
}

.hit12a {
	background: aqua;
	width: 100%;
	height: 20px;
	float: left;
}

.hit12b {
	background: navy;
	width: 100%;
	height: 40px;
	float: left;
}

.hit_a {
	background: navy;
	width: 20%;
	height: 40px;
	float: left;
}

.hit_b {
	background: orchid;
	width: 60%;
	height: 40px;
	float: left;
}

.hit_c {
	background: navy;
	width: 20%;
	height: 40px;
	float: left;
}

.hit12c {
	background: midnightblue;
	width: 100%;
	height: 25px;
	float: left;
}

.hit12d {
	background: oldlace;
	width: 100%;
	height: 15px;
	float: left;
}

.hit13 {
	background: maroon;
	width: 15%;
	height: 100px;
	float: left;
}

#hitler2 {
	background: darkolivegreen;
	width: 60%;
	height: 100px;
	float: left;
}

.hitler2a {
	background: gray;
	width: 25%;
	height: 70px;
	float: left;
}

.hitler2a1 {
	background: tan;
	width: 100%;
	height: 20px;
	float: left;
}

.hitler2a2 {
	background: sienna;
	width: 100%;
	height: 50px;
	float: left;
}

.hitler2b {
	background: lightgray;
	width: 25%;
	height: 70px;
	float: left;
}

.hitler2b1 {
	background: red;
	width: 100%;
	height: 30px;
	float: left;
}

.hitler2b2 {
	background: peachpuff;
	width: 100%;
	height: 40px;
	float: left;
}

.hitler2c {
	background: gray ;
	width: 25%;
	height: 70px;
	float: left;
}

.hitler2d {
	background: lightgray;
	width: 25%;
	height: 70px;
	float: left;
}



.hitler22 {
	background: brown;
	width: 100%;
	height: 30px;
	float: left;
}

.hitler221 {
	background: brown;
	width: 12.5%;
	height: 30px;
	float: left;
}

.hitler222 {
	background: rosybrown;
	width: 12.5%;
	height: 30px;
	float: left;
}

.hitler223 {
	background: sandybrown;
	width: 12.5%;
	height: 30px;
	float: left;
}

.hitler224 {
	background: brown;
	width: 12.5%;
	height: 30px;
	float: left;
}

.hitler225 {
	background: rosybrown;
	width: 12.5%;
	height: 30px;
	float: left;
}

.hitler226 {
	background: sandybrown;
	width: 12.5%;
	height: 30px;
	float: left;
}

.hitler227 {
	background: brown;
	width: 12.5%;
	height: 30px;
	float: left;
}

.hitler228 {
	background: rosybrown;
	width: 12.5%;
	height: 30px;
	float: left;
}