@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

#menu{
	width: 100%;
	background: #DF9D09;
	height: 60px;
	float: left;
}

.child1{
	width: 21%;
	height: 60px;
	background: #629398;
	float:left;
}

.ourpartners{
	width:15%;
	float: left;
	height: 60px;
	background: #3aa930;
}
.sing{
	width: 9%;
	float: right;
	height: 60px;
	background: #b8de35;
}
.weito{
	width: 1%;
	float: right;
	height: 60px;
	background: #3A2908;
}
.more{
	width: 10%;
	float: right;
	height: 60px;
	background: #17c772;
}
.d{
	width: 19%;
	float: left;
	height: 60px;
	background: #d6a238;
}
.g_grande{
	width: 100%;
	height: 350px;
	background: #7521cd;
}
.linea{
	width: 100%;
	height: 10px;
	background: #0ca700;
}
.productos{
	width: 100%;
	float: left;
	height: 500px;
	background: #cbb442;
}
.prod1{
	width: 25%;
	float: left;
	height: 500px;
	background: #b8de35;
	margin-left: 6.25%; 
}
.p1{
	width: 100%;
	float: left;
	height: 239px;
	background: #0385e0; 
}







