@charset "utf-8";

body{
	background: #80c3e1;
    width: 100%;
    height:auto;
    font-family: arial;
    margin: 0;
}

#menu{
	width: 100%;
	background: #c3db51;
	height: 40px;
	float:left;
}

.niño1{
	width: 40%;
	height: 40px;
	background: #629398;
	float: left;
}

.a1{
	width: 15%;
	height: 40px;
	background: #3dffb8;
	float: left;
}
.a2{
	width: 60%;
	height: 40px;
	background: #ffa73d;
	float: left;
}
.a3{
	width: 25%;
	height: 40px;
	background: #3df8ff;
	float: left;
}

.niño2{
	width: 60%;
	height: 40px;
	background: #629398;
	float: left;
}

.b1{
	width: 70%;
	height: 40px;
	background: #fff83d;
	float: left;
}
.b2{
	width: 15%;
	height: 40px;
	background: #c586ee;
	float: left;
}
.b3{
	width: 15%;
	height: 40px;
	background: #c5e9e7;
	float: left;
}

.niño3{
	width: 45%;
	height: 60px;
	background: #b8c1ec;
	float: left;
}

.c1{
	width: 15%;
	height: 60px;
	background: #b8c1ec;
	float: left;
}

.c2{
	width: 25%;
	height: 60px;
	background: #bbebb7;
	float: left;
}

.c3{
	width: 60%;
	height: 60px;
	background: #b5901d;
	float: left;
}
.niño4{
	width: 55%;
	height: 60px;
	background: #cd3939;
	float: left;
}
.d1{
	width: 13%;
	height: 60px;
	background: #cd3939;
	float: left;
}
.d2{
	width: 13%;
	height: 60px;
	background: #9fcd39;
	float: left;
}
.d3{
	width: 13%;
	height: 60px;
	background: #3ac4ce;
	float: left;
}
.d4{
	width: 13%;
	height: 60px;
	background: #3974ce;
	float: left;
}
.d5{
	width: 13%;
	height: 60px;
	background: #ddce8b;
	float: left;
}
.d6{
	width: 13%;
	height: 60px;
	background: #99de8d;
	float: left;
}
.d7{
	width: 13%;
	height: 60px;
	background: #d2de8c;
	float: left;
}
.d8{
	width: 9%;
	height: 60px;
	background: #b8c1ec;
	float: left;
}

.niño5{
	width: 100%;
	height: 5px;
	background: #daa96f;
	float: left;
}
.niño6{
	width: 100%;
	height: 250px;
	background: #fca943;
	float: left;
}
.e{
	width: 40%;
	height: 250px;
	background: #fca943;
	float: left;
}

.e1{
	width: 10%;
	height: 250px;
	background: #a4c7cb;
	float: left;
}

.e2{
	width: 80%;
	height: 250px;
	background: #fdaa44;
	float: left;
}

.f{
	width: 60%;
	height: 250px;
	background: #a4c7cb;
	float: left;
}
.f1{
	width: 95%;
	height: 250px;
	background: #9aac70;
	float: left;
}

.f2{
	width: 5%;
	height: 250px;
	background: #a4c7cb;
	float: left;
}

.niño7{
	width: 100%;
	height: 200px;
	background: #63195e;
	float: left;
}

.g{
	width: 45%;
	height: 200px;
	background: #cd41c4;
	float: left;
}


.h{
	width: 55%;
	height: 200px;
	background: #e8cfb0;
	float: left;
}


.h1{
	width: 10%;
	height: 200px;
	background: #cacd42;
	float: left;
}


.h2{
	width: 35%;
	height: 200px;
	background: #4288cd;
	float: left;
}

.h2a{
	width: 100%;
	height: 40px;
	background: #4288cd;
	float: left;
}

.h2b{
	width: 100%;
	height: 120px;
	background: #1bc6cd;
	float: left;
}

.h2c{
	width: 100%;
	height: 40px;
	background: #4288cd;
	float: left;
}
.h2c1{
	width: 50%;
	height: 40px;
	background: #cca91b;
	float: left;
}
.h2c2{
	width: 50%;
	height: 40px;
	background: #cc1b38;
	float: left;
}

.h3{
	width: 10%;
	height: 200px;
	background: #cacd42;
	float: left;
}


.h4{
	width: 35%;
	height: 200px;
	background: #4288cd;
	float: left;
}

.h4a{
	width: 100%;
	height: 40px;
	background: #4288cd;
	float: left;
}

.h4b{
	width: 100%;
	height: 120px;
	background: #1bc6cd;
	float: left;
}

.h4c{
	width: 100%;
	height: 40px;
	background: #4288cd;
	float: left;
}
.h4c1{
	width: 50%;
	height: 40px;
	background: #cca91b;
	float: left;
}
.h4c2{
	width: 50%;
	height: 40px;
	background: #cc1b38;
	float: left;
}


.h5{
	width: 10%;
	height: 200px;
	background: #cacd42;
	float: left;
}

.niño8{
	width: 100%;
	height: 10px;
	background: #8899de;
	float: left;
}
.niño9{
	width: 100%;
	height: 400px;
	background: #40c8b0;
	float: left;
}
.i{
	width: 55%;
	height: 400px;
	background: #ead440;
	float: left;
}

.i1{
	width: 5%;
	height: 400px;
	background: #941596;
	float: left;
}

.i2{
	width: 95%;
	height: 400px;
	background: #ead440;
	float: left;
}

.i2a{
	width: 100%;
	height: 180px;
	background: #ead440;
	float: left;
}
.i2a1{
	width: 60%;
	height: 180px;
	background: #ead440;
	float: left;
}
.i2a2{
	width: 40%;
	height: 180px;
	background: #40c4ea;
	float: left;
}
.i2a2a{
	width: 100%;
	height: 50px;
	background: #40c4ea;
	float: left;
}
.i2a2b{
	width: 100%;
	height: 50px;
	background: #41eab1;
	float: left;
}
.i2a2c{
	width: 100%;
	height: 80px;
	background: #5c40ea;
	float: left;
}
.i2b{
	width: 100%;
	height: 40px;
	background: #89decb;
	float: left;
}
.i2c{
	width: 100%;
	height: 180px;
	background: #ead440;
	float: left;
}
.i2c1{
	width: 40%;
	height: 180px;
	background: #40c4ea;
	float: left;
}
.i2c1a{
	width: 100%;
	height: 50px;
	background: #40c4ea;
	float: left;
}
.i2c1b{
	width: 100%;
	height: 50px;
	background: #41eab1;
	float: left;
}
.i2c1c{
	width: 100%;
	height: 80px;
	background: #5c40ea;
	float: left;
}

.i2c2{
	width: 60%;
	height: 180px;
	background: #ead440;
	float: left;
}

.j{
	width: 45%;
	height: 400px;
	background: #a2de88;
	float: left;
}
.j1{
	width: 95%;
	height: 400px;
	background: #a2de88;
	float: left;
}
.j2{
	width: 5%;
	height: 400px;
	background: #941596;
	float: left;
}
.niño10{
	width: 100%;
	height: 5px;
	background: #d4bb9c;
	float: left;
}
.niño11{
	width: 100%;
	height: 250px;
	background: #40c8b0;
	float: left;
}
.k{
	width: 35%;
	height: 250px;
	background: #c8c341;
	float: left;
}
.l{
	width: 35%;
	height: 250px;
	background: #40c8b0;
	float: left;
}
.m{
	width: 30%;
	height: 250px;
	background: #6440c8;
	float: left;
}
.niño11{
	width: 100%;
	height: 250px;
	background: #c8c341;
	float: left;
}
.n{
	width: 60%;
	height: 250px;
	background: #661f59;
	float: left;
}
.n1{
	width: 10%;
	height: 250px;
	background: #c840ae;
	float: left;
}
.n2{
	width: 80%;
	height: 250px;
	background: #661f59;
	float: left;
}
.n3{
	width: 10%;
	height: 250px;
	background: #c840ae;
	float: left;
}
.o{
	width: 40%;
	height: 250px;
	background: #c8c041;
	float: left;
}
.o1{
	width: 40%;
	height: 250px;
	background: #40c876;
	float: left;
}
.o1a{
	width: 100%;
	height: 65px;
	background: #40c876;
	float: left;
}
.o1b{
	width: 100%;
	height: 40px;
	background: #3f7dc8;
	float: left;
}
.o1c{
	width: 100%;
	height: 40px;
	background: #c8c041;
	float: left;
}
.o1d{
	width: 100%;
	height: 40px;
	background: #3f7dc8;
	float: left;
}
.o1e{
	width: 100%;
	height: 65px;
	background: #40c876;
	float: left;
}
.o2{
	width: 60%;
	height: 250px;
	background: #c840ae;
	float: left;
}

.niño12{
	width: 100%;
	height: 500px;
	background: #c8c341;
	float: left;
}
.p{
	width: 45%;
	height: 500px;
	background: #6440c8;
	float: left;
}
.p1{
	width: 15%;
	height: 500px;
	background: #c8c341;
	float: left;
}
.p2{
	width: 70%;
	height: 500px;
	background: #6440c8;
	float: left;
}
.p2a{
	width: 100%;
	height: 40px;
	background: #6440c8;
	float: left;
}
.p2b{
	width: 100%;
	height: 46px;
	background: #a640c8;
	float: left;
}
.p2c{
	width: 100%;
	height: 46px;
	background: #c741c8;
	float: left;
}
.p2d{
	width: 100%;
	height: 46px;
	background: #a640c8;
	float: left;
}
.p2e{
	width: 100%;
	height: 46px;
	background: #c741c8;
	float: left;
}
.p2f{
	width: 100%;
	height: 46px;
	background: #a640c8;
	float: left;
}
.p2g{
	width: 100%;
	height: 46px;
	background: #c741c8;
	float: left;
}
.p2h{
	width: 100%;
	height: 46px;
	background: #a640c8;
	float: left;
}
.p2i{
	width: 100%;
	height: 46px;
	background: #c741c8;
	float: left;
}
.p2j{
	width: 100%;
	height: 46px;
	background: #a640c8;
	float: left;
}
.p2k{
	width: 100%;
	height: 46px;
	background: #c741c8;
	float: left;
}
.p3{
	width: 15%;
	height: 500px;
	background: #c8c341;
	float: left;
}
.q{
	width: 55%;
	height: 500px;
	background: #409dc8;
	float: left;
}
.q1{
	width: 40%;
	height: 500px;
	background: #6cc841;
	float: left;
}
.q1a{
	width: 100%;
	height: 35px;
	background: #4158c8;
	float: left;
}
.q1b{
	width: 100%;
	height: 35px;
	background: #c89941;
	float: left;
}
.q1c{
	width: 100%;
	height: 180px;
	background: #6cc841;
	float: left;
}
.q1d{
	width: 100%;
	height: 80px;
	background: #7440c8;
	float: left;
}
.q1e{
	width: 100%;
	height: 80px;
	background: #c84940;
	float: left;
}
.q1f{
	width: 100%;
	height: 90px;
	background: #41c890;
	float: left;
}
.q2{
	width: 60%;
	height: 500px;
	background: #409dc8;
	float: left;
}
.q2a{
	width: 80%;
	height: 500px;
	background: #409dc8;
	float: left;
}
.q2b{
	width: 10%;
	height: 15px;
	background: #c0c83f;
	float: left;
}
.q2c{
	width: 10%;
	height: 15px;
	background: #40c85c;
	float: left;
}
.niño13{
	width: 100%;
	height: 250px;
	background: #3fa6c7;
	float: left;
}
.r{
	width: 40%;
	height: 250px;
	background: #ebe306;
	float: left;
}

.s{
	width: 60%;
	height: 250px;
	background: #0ec267;
	float: left;
}
