@charset "utf-8";

body{
	background: lime;
	font-family: calibri;
	margin: 0;
	padding: 0;
}

#contenedor{
	width: 50%;
	height: auto;
	margin: auto;
	display: block;
	background: white;

}

#header{
	background: #6cff90;
	width: 100%;
	height: 150px;
	float: left;
}
.cl1{
	width: 19%;
	float: left;
	height: 150px;

}

.cl2{
	width: 79%;
	float: left;
	height: 150px;
	
}

.img_center{
	margin: auto;
	display: block;
	margin-top: 40px;
}

.text_3{
	width: 100%;
	height: 25%;
	float: left;
	margin-top: 30px;

}

.text_3 > h3{
	color: white;
	font-family: tahoma;
	font-size: 14pt;
	letter-spacing: 12px;
	font-weight: normal;
	margin: 0;
	padding: 0;


}

.text_1 {
	width: 100%;
	float: left;
	height: 40px;
}

.text_1 > h1{
	color: #0e0c3a;
	font-weight: bold;
	font-size: 24pt;
	margin: 0;
	padding: 0;
}

.intro{
	width: 92%;
	float: left;
	height: 150px;
	padding: 40px 4% 40px 4%;
	background: white;
}

.intro > h2{
	font-weight: bold;
	text-align: left;
	color: black;
	font-size: 21pt;
	margin: 0;
	padding: 0;
}

.intro > p{
	font-weight: normal;
	text-align: left;
	font-size: 12pt;
	color: gray;
	margin: 0;
	padding: 0;

}