@charset "utf-8";
body{
  background: white;
  margin:0;
  padding: 0;
}
#encabezado{
  width: 100%;
  height: 50px;
  float: left;
  background: #01478d;
  padding: 0;
  margin: 0;
}
ul{
  margin:0;
  padding: 0;
}
#encabezado>div>ul>li>a{
  text-decoration: none;
  font-weight: normal;
  font-size:10pt;
  color: white;
  text-align: center;
  font-family:  -apple-system, BlinkMac SystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#encabezado>div>ul>li{
  list-style: none;
  display: block;
  float: left;
  width: 8%;
  border-right: 1px solid #0abcca;
  height: 35px;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 15px;
}
#encabezado>div>ul>li:first-child{
  width: 4%;
}
.img1{
  background: url(../img/icono_blue.png);
  width: 33px;
  height: 22px;
  margin-left: 10px;
}
a:hover{
  color: #47d6e1 !important;
}
li:hover{
  background: #082e54 !important;
}
#encabezado>div>button{
  text-decoration: none;
  border: 1px solid #86d7f5;
  background: #00a1f9;
  border-radius: 5px;
  height: 35px;
  width: 7%;
  color: white;
  margin-top: 5px;
  margin-left: 15%;
}
button:hover{
  background: #0c8dd3 !important;
}
.child1{
  width: 100%;
  height: 500px;
  float: left;
  background: white;
}
.banner{
  background: url(../img/crecimiento2.png) no-repeat;
  width: 100%;
  height: 500px;
  float: left;
}
.a{
  width: 35%;
  height: 500px;
  float: left;
}
.img2{
  background: url(../img/persona3nueva.png);
   width: 567px;
  height: 498px;
}
.b{
  width: 65%;
  height: 500px;
  float: left;
}
.b>div:first-child>h1{
  width: 100%;
  height: 50px;
  float: left;
  margin: 0;
  padding: 0;
  color: #053b81;
  font-size: 30pt;
  font-weight: bold;
  font-family:  -apple-system, BlinkMac SystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; 
  padding-top: 60px;
  padding-left: 45px;
}
.b>div:nth-child(2)>p{
  width: 67%;
  font-family: -apple-system, BlinkMac SystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; 
  text-align: left;
  letter-spacing: 2pt;
  color: black;
  line-height: 24pt;
  font-size: 14pt;
  font-weight: lighter;
  padding-left: 45px;
  padding-top: 120px;
}
.b>div:last-child>button{
  text-decoration: none;
  border: 1px solid #053381;
  height: 50px;
  border-radius: 5px;
  width: 13%;
  margin-left: 4%;
  background: white;
  text-align: center;
  margin-top: 10px;
  color: #053381;
}
.b>div:last-child{
  margin-left: 10%;
}
.child2{
  width: 100%;
  height: 400px;
  background: white;
  float: left;
}
.c{
  width: 30%;
  height: 400px;
  font-family: calibri;
  margin-left: 2%;
  float: left;
}
.img3{
  background: url(../img/icono5.png) no-repeat;
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 5%;
}
.c>div:nth-child(2)>h2{
  font-family: calibri;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 2pt;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
.c>div:last-child>p{
  font-family: calibri;
  font-size: 12pt;
  font-weight: lighter;
  letter-spacing: 2pt;
  margin: 0;
  padding: 0;
}
.d{
  width: 25%;
  height: 400px;
  font-family: calibri;
  margin-left: 2%;
  float: left;
}
.img4{
  background: url(../img/icono6.png) no-repeat;
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 5%;
}
.d>div:nth-child(2)>h2{
  font-family: calibri;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 2pt;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
.d>div:last-child>p{
  font-family: calibri;
  font-size: 12pt;
  font-weight: lighter;
  letter-spacing: 2pt;
  margin: 0;
  padding: 0;
}
.e{
  width: 25%;
  height: 400px;
  background: gray;
  font-family: calibri;
  margin-left: 2%;
  float: left;
}
.img5{
  background: url(../img/icono7.png) no-repeat;
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 5%;
}
.e>div:nth-child(2)>h2{
  font-family: calibri;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 2pt;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
.e>div:last-child>p{
  font-family: calibri;
  font-size: 12pt;
  font-weight: lighter;
  letter-spacing: 2pt;
  margin: 0;
  padding: 0;
}