@charset "utf-8";

body{
	background: #f6f8f1;
	margin: 0;
	padding: 0;
	font-family: arial;
}
.contenedor{
	display: block;
	margin: auto;
	width: 50%;
	height: auto;
	background: white;
	min-height: 60px;
}
header{
	background: #b4ff97;
	height: 170px;
	width: 100%;
	float: left;
}
.cl1{
	width: 30%;
	height: 170px;
	float: left;
}
.cl2{
	width: 70%;
	height: 170px;
	float: left;
}
.img1{
	background: url('../img/icon.gif');
	width: 70px;
	height: 70px;
	margin: auto;
	display: block;
	margin-top: 50px;
}
.cl2> div:first-child> h3{
	color: white;
	font-size: 18pt;
	letter-spacing: 12px;
	text-align: left;
	font-weight: normal;
	font-family: calibri;
	margin:0;
	padding: 0;
	margin-top: 25px;
}
.cl2 > div:last-child> h1{
	color:#17134a;
	text-align: left;
	font-size: 26pt;
	font-weight: bold;
	font-family: tahoma;
	padding: 0%;
	margin:0;

}
article{
	width:  100%;
	float: left;
	background: white;
	height: auto;
	border-bottom:1px solid #c3c3c3;
}
section > article:first-child > div > h2{
	color: black;
	text-align: left;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
	margin:0;
	font-size: 24pt;
}
section > article:first-child > div > p{
	color: 
}