@charset "utf-8";


body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;	
	margin:0;
}

#menu{
	width: 100%;
	background:#c3db51;
	height: 60px;
	float: left;
	
}

.child1{
	width: 55%;
	height: 60px;
	background: #1b88a2;
	float: left;
}

.child2{
	width: 44%;
	float: left;
	background: 1px solid green;
	height: 60px;
}

.a{
	width: 40%;
	float: left;
	height: 60px;
	background: #3aa930;
}

.b{
	width: 60%;
	float: left;
	height: 60px;
	background: #b8de35;
}

.c{
	width: 27%;
	float: left;
	height: 60px;
	background: #da9f75;
}

.d{
	width: 17%;
	float: left;
	height: 60px;
	background: #913508;
}

.e{
	width: 27%;
	float: left;
	height: 60px;
	background: #800239;
}
.pink{
	width: 100%;
	min-height: 250px;
	border: 1px solid black;
	background: pink;
}
.cont1{
	width: 100%;
	min-height: 290px;
	border-top: 10px solid green;
}
.cont1-1{
	float: left;
	width: 25%;
	min-height: 290px;
	margin-left: 6.5%;
}
.cont1-1-1{
	width: 100%;
	min-height: 145px;
	background-color: #088A68;

}
.cont1-1-2{
	width: 100%;
	min-height: 15px;
	background-color: #088A85;
}
.cont1-1-3{
	width: 100%;
	min-height: 100px;
	background-color: #FF8000;
}
.cont1-1-4{
	width: 100%;
	min-height: 30px;
}
.cont1-1-5{
	float: left;
	width: 33%;
	min-height: 30px;
	background-color: #6A0888;

}
.cont1-1-6{
	float: left;
	width: 34%;
	min-height: 30px;
	background-color: #088A29;
}	
.cont2{
	width: 100%;
	min-height: 310px;
	
}
.nada{
	width: 100%;
	min-height: 25px;
}
.cont2-1{
	float: left;
	width: 50%;
	min-height: 310px;
	background-color: #00FFFF;
}
.cont2-1-1{
	float: left;
	width: 100%;
	min-height: 65px;
	background-color: #01DF3A;
}
.cont2-1-1-1{
	float: left;
	width: 50%;
	min-height: 60px;
	background-color: #0B610B;
}
.cont2-1-1-2{
	float: left;
	width: 50%;
	min-height: 60px;
	background-color: #D7DF01;
}
.cont2-1-2{
	float: left;
	width: 100%;
	min-height: 70px;
	background-color: #F7819F;
}
.cont2-1-2-1{
	float: left;
	width: 35%;
	min-height: 60px;
	background-color: #04B486;
}
.cont2-1-2-2{
	float: left;
	width: 30%;
	min-height: 60px;
	background-color: #0489B1;
}
.cont3{
	width: 100%;
	min-height: 350px;
}
.cont3-1{
	float: left;
	width: 60%;
	min-height: 350px;
	}
.cont3-1-1{
	width: 98%;
	min-height: 50px;
	background-color: #088A29;
	border :2px solid #0B6121;
}
.cont3-1-2{
	width: 100%;
	min-height: 150px;
}
.cont3-1-2-1{
	width: 40%;
	float: left;
	min-height: 100px;
	background-color: #01DFD7;
	border :2px solid #0B6121;
}	
.cont3-1-2-2{
	float: left;
	width: 59%;
	min-height: 150px;
	
	border :2px solid #0B6121;
}

.divi{
	width: 100%;
	min-height: 65px;
	border-bottom: 1px solid black;
}
.gris
{
	float: left;
	width: 90%;
	min-height: 20px;
	background-color: #BDBDBD;
}

