@charset="utf-8";

body{
	width: 100%;
	height: auto;
	background: #bc9cac;
	margin: 0;
	font-family: arial;
}
header{
	width: 100%;
	height: auto;
	float: left;
	background: #93b0cc;
}
.hijo1{
	width: 100%;
	height: 60px;
	float: left;
	background: #4f0760;
}
.hijo2{
	width: 100%;
	height: 8 0px;
	float: left;
	background: #9933cc;
}
.a{
	width: 55%;
	height: 60px;
	float: left;
	background: #692f77;
}
.b{
	width: 45%;
	height: 60px;
	float: left;
	background: #77547f;
}
.b1{
	width: 15%;
	height: 60px;
	float: left;
	background: #7b3ec1;
}
.b2{
	width: 35%;
	height: 60px;
	float: left;
	background: #cc33cc;
}
.b3{
	width: 25%;
	height: 60px;
	float: left;
	background: #841287;
}
.b4{
	width: 25%,
	height: 60px;
	float: left;
	background: #9e1080;
}
.c{
	width: 35%;
	height: 80px;
	float: left;
	background: #bf84bf;
}
.c1{
	width: 50%;
	height: 80px;
	float: left;
	background: #695093;
}
.d{
	width: 65%;
	height: 80px;
	float: left;
	background: #505093;
}
.d1{
	width: 12%;
	height: 80px;
	float: left;
	background: 575791;
}
.d2{
	width: 12%;
	height: 80px;
	float: left;
	background: #4a1e70;
}
.d3{
	width: 27%;
	height: 80px;
	float: left;
	background: #261160;
}
.d4{
	width: 29%;
	height: 80px;
	float: left;
	background: #4a435e;
}
.d5{
	width: 20%;
	height: 80px;
	float: left;
	background: #5e4353;
}
section{
	width: 100%;
	height: auto;
	float: left;
	background: #95a3a2;
}
.hijo3{
	width: 100%;
	height: 10px;
	float: left;
	background: #649ced;
}
.hijo4{
	width: 100%;
	height: 10px;
	float: left;
	background: #0263bb;
}
.hijo5{
	width: 100%;
	height: 400px;
	float: left;
	background: #cecece;
}
.e{
	width: 50%;
	height: 400px;
	float: left;
	background: #7f7f7f;
}
.f{
	width: 50%;
	height: 400px;
	float: left;
	background: #776565;
}
.ea{
	width: 90%;
	height: 250px;
	float: left;
	background: #526f84;
	margin-left: 5%;
	margin-top: 120px; 
}
.ea1{
	width: 100%;
	height: 50px;
	float: left;
	background: #db8b5e;
}
.ea2{
	width: 100%;
	height: 160px;
	float: left;
	background: #560e89;
}
.ea3{
	width: 100%;
	height: 40px;
	float: left;
	background: #127f77;
}
.ea3a{
	width: 25%;
	height: 40px;
	float: left;
	background: #5f9b97;
	margin-left: 75%;
}
.hijo6{
	width: 100%;
	height: 5px;
	float: left;
	background: #000000
}
.hijo7{
	width: 100%;
	height: 275px;
	float: left;
	background: #0263bb;
}
.g{
	width: 65%;
	height: 275px;
	float: left;
	background: #829bbf;
}
.h{
	width: 35%;
	height: 270px;
	float: left;
	background: #cecece;
	margin-top: 5px;
}
.g1{
	width: 90%;
	height: 275px;
	float: left;
	background: #3f6b70;
	margin-left: 7%;
}
.g1a{
	width: 100%;
	height: 70px;
	float: left;
	background: #66cc66;
}
.g1b{
	width: 100%;
	height: 135px;
	float: left;
	background: #5ca0ea;
}
.g1c{
	width: 100%;
	height: 70px;
	float: left;
	background: #e2ca88;
}
.g1c1{
	width: 25%;
	height: 70px;
	float: left;
	background: #6d6935;
	margin-left: 75%;
}
.hijo8{
	width: 100%;
	height: 700px;
	float: left;
	background: #a3aec6;
}
.i{
	width: 100%;
	height: 350px;
	float: left;
	background: #3d465e;
}
.j{
	width: 100%;
	height: 350px;
	float: left;
	background: #4a7f7f;
}
.i1{
	width: 30%;
	height: 320px;
	float: left;
	background: #c68baa;
	margin-bottom: 30px;
	margin-left: 2.5%;
}
.i1a{
	width: 100%;
	height: 40px;
	float: left;
	background: #e04b53;
}
.i1b{
	width: 100%;
	height: 280px;
	float: left;
	background: #cc99cc;
}
.i1b1{
	width: 100%;
	height: 50px;
	float: left;
	background: #419997;
	margin-top: 230px;
}
.i1b1a{
	width: 30%;
	height: 50px;
	float: left;
	background: #3ecc6d;
	margin-left: 70%;
}
.i2{
	width: 30%;
	height: 320px;
	float: left;
	background: #c68baa;
	margin-bottom: 30px;
	margin-left: 2.5%;
}
.i2a{
	width: 100%;
	height: 40px;
	float: left;
	background: #e04b53;
}
.i2b{
	width: 100%;
	height: 280px;
	float: left;
	background: #cc99cc;
}
.i2b1{
	width: 100%;
	height: 50px;
	float: left;
	background: #419997;
	margin-top: 230px;
}
.i2b1a{
	width: 30%;
	height: 50px;
	float: left;
	background: #3ecc6d;
	margin-left: 70%;
}
.i3{
	width: 30%;
	height: 320px;
	float: left;
	background: #c68baa;
	margin-bottom: 30px;
	margin-left: 2.5%;
}
.i3a{
	width: 100%;
	height: 40px;
	float: left;
	background: #e04b53;
}
.i3b{
	width: 100%;
	height: 280px;
	float: left;
	background: #cc99cc;
}
.i3b1{
	width: 100%;
	height: 50px;
	float: left;
	background: #419997;
	margin-top: 230px;
}
.i3b1a{
	width: 30%;
	height: 50px;
	float: left;
	background: #3ecc6d;
	margin-left: 70%;
}
.j1{
	width: 30%;
	height: 320px;
	float: left;
	background: #c68baa;
	margin-bottom: 30px;
	margin-left: 2.5%;
}
.j1a{
	width: 100%;
	height: 40px;
	float: left;
	background: #e04b53;
}
.j1b{
	width: 100%;
	height: 280px;
	float: left;
	background: #cc99cc;
}
.j1b1{
	width: 100%;
	height: 50px;
	float: left;
	background: #419997;
	margin-top: 230px;
}
.j1b1a{
	width: 30%;
	height: 50px;
	float: left;
	background: #3ecc6d;
	margin-left: 70%;
}
.j2{
	width: 30%;
	height: 320px;
	float: left;
	background: #c68baa;
	margin-bottom: 30px;
	margin-left: 2.5%;
}
.j2a{
	width: 100%;
	height: 40px;
	float: left;
	background: #e04b53;
}
.j2b{
	width: 100%;
	height: 280px;
	float: left;
	background: #cc99cc;
}
.j2b1{
	width: 100%;
	height: 50px;
	float: left;
	background: #419997;
	margin-top: 230px;
}
.j2b1a{
	width: 30%;
	height: 50px;
	float: left;
	background: #3ecc6d;
	margin-left: 70%;
}
.j3{
	width: 30%;
	height: 320px;
	float: left;
	background: #c68baa;
	margin-bottom: 30px;
	margin-left: 2.5%;
}
.j3a{
	width: 100%;
	height: 40px;
	float: left;
	background: #e04b53;
}
.j3b{
	width: 100%;
	height: 280px;
	float: left;
	background: #cc99cc;
}
.j3b1{
	width: 100%;
	height: 50px;
	float: left;
	background: #419997;
	margin-top: 230px;
}
.j3b1a{
	width: 30%;
	height: 50px;
	float: left;
	background: #3ecc6d;
	margin-left: 70%;
}
.hijo9{
	width: 100%;
	height: 275px;
	float: left;
	background: #67407c;
}
.k{
	width: 34%;
	height: 275px;
	float: left;
	background: #f9f695;
}
.l{
	width: 66%;
	height: 275px;
	float: left;
	background: #ff9999;
}
.l1{
	width: 50%;
	height: 275px;
	float: left;
	background: #a5c161;
}
.l1a{
	width: 80%;
	height: 225px;
	float: left;
	background: #7fb1d6;
	margin-top: 25px;
	margin-left: 15%;
}
.l1a1{
	width: 100%;
	height: 40px;
	float: left;
	background: #0263bb;
}
.l1a1a{
	width: 30%;
	height: 40px;
	float: left;
	background: #e28e49;
}
.l2{
	width: 50%;
	height: 275px;
	float: left;
	background: #62bfad;
}
.l2a{
	width: 80%;
	height: 100px;
	float: left;
	background: #7fb1d6;
	margin-top: 25px;
	margin-left: 10%;
}
.hijo10{
	width: 100%;
	height: 600px;
	float: left;
	background: #777676;
}
.m{
	width: 60%;
	height: 600px;
	float: left;
	background: #3cc0c6;
}
.m1{
	width: 100%;
	height: 90px;
	float: left;
	background: #446a87;
}
.m2{
	width: 35%;
	height: 90px;
	float: left;
	background: #50935c;
	margin-top: 20px;
	margin-left: 10%;
}
.m3{
	width: 50%;
	height: 90px;
	float: left;
	background: #50935c;
	margin-top: 20px;
	margin-left: 2%;
}
.m4{
	width: 35%;
	height: 90px;
	float: left;
	background: #50935c;
	margin-top: 20px;
	margin-left: 10%;
}
.m5{
	width: 50%;
	height: 90px;
	float: left;
	background: #50935c;
	margin-top: 20px;
	margin-left: 2%;
}
.m6{
	width: 35%;
	height: 90px;
	float: left;
	background: #50935c;
	margin-top: 20px;
	margin-left: 10%;
}
.m7{
	width: 50%;
	height: 160px;
	float: left;
	background: #50935c;
	margin-top: 20px;
	margin-left: 2%;
}
.n{
	width: 40%;
	height: 600px;
	float: left;
	background: #bf9562;
}
.n1{
	width: 35%;
	height: 90px;
	float: left;
	background: #50935c;
	margin-top: 110px;
	margin-left: 5%;
}
.n2{
	width: 50%;
	height: 90px;
	float: left;
	background: #50935c;
	margin-top: 110px;
	margin-left: 2%;
}
.n3{
	width: 100%;
	height: 100px;
	float: left;
	background: #50935c;
	margin-top: 50px;
}
.n3a{
	width: 25%;
	height: 100px;
	float: left;
	background: #375e3c;
	margin-left: 67%
}
.hijo11{
	width: 100%;
	height: 275px;
	float: left;
	background: #82577c;
}
.o
