@charset  :"utf-8"; 
{
	padding: 0;
	margin: 0;
}
html{
	background: rgb(207, 205,205);
	font-family: calry, arial, tahoma;
	font-size: 20pt;
}
.contenedor {
	background: white;
	margin-left: 6%;
	margin-right: 6%;
	width: 88%;
	float: left;
	height: auto;
}
