@charset  :"utf-8"; 
{
	padding: 0;
	margin: 0;
}
html{
	background: #cfcdce;
	font-family: arial;
	font-size: 18pt;
	color: black
}
.contenedor {
	background: white;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	float: left;
	min-height: 1000px;
}
header{
	background:#ddae76;
	min-height:320px;
	width: 100%;
	float: left;

}
.icon-header{
    background: url('../img/logo-header.png');
	width: 275px;
	height: 274px;
	float: left;

}
header>div:last-child{
	width: 95%;
 	height: 214px;
 	padding-top:100px;

} 
header>div:last-child>h1{
	font-family: 60 !important;
	color:#311e10;
	font-weight: 900;
	text-align: left;
	letter-spacing: 5px;

}
.contenedor2{
	min-height: 280px;
	text-align: left;
	padding-left: 5%;
	letter-spacing: 7pt;
	padding-top: 10px; 
}