@charset "utf-8";

body{
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
	padding:0;
	background: #c3c3c3;
}

#encabezado{
	width: 100%;
	height: 60px;
	float: left;
	background: #22233D;
}

#encabezado>div>ul>li>a{
	text-decoration: none;
	font-weight: normal;
	font-size: 12pt;
	color: #AFF1D9;
	text-align: center;
}

#encabezado>div>ul>li{
	list-style: none;
	display: block;
	float: left;
	width: 13%;
	border-right: 1px solid #aff1d9;
	height: 40px;
	text-align: center;
	padding-top: 20px;
}

ul{
	margin: 0;
}

li{
	margin: 0;
}

a:hover{
	color: #282828 !important;
}

li:hover{
	background: white !important;
}

.banner{
	width: 100%;
	height: 500px;
	float: left;
	background: #aff1da;
}

.child1{
	width: 40%;
	height: 500px;
	float: left;
}

.child2{
	width: 60%;
	height: 500px;
	float: left;
}

.im1{
	background: url(../img/img-flat.png);
	width: 500px;
	height: 500px;
}

.child2>div:first-child>h1{
	width: 100%;
	height: 60px;
	float: left;
	margin: 0;
	padding: 0;
	padding-top: 100px;
	color: purple;
	font-size: 24pt;
	font-weight: bold;
	font-family: calibri;
	letter-spacing: 2pt;
}

.child2>div:nth-child(2)>p{
	font-family: calibri;
	letter-spacing: 2pt;
	text-align: left;
	color: black;
	line-height: 20pt;
	font-size: 14pt;
	width: 90%;
}


