@charset "utf-8";

body {
	background: #00ADFF;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0; 
}

#menu{
	width: 100%;
	background: #6D1FFF;
	height: 55px;
	float:left;
}

.child1{
	width: 55%;
	height: 55px;
	background: #209E7A;
	float:left;
}

.child2{
	width: 45%;
	float:left;
	background: #C5B6CC;
	height: 55px;

}

.a{
	width: 45%;
	float: left;
	height: 55px;
	background: #E8AF97;
}

.b{
	width: 55%;
	float: left;
	height: 55px;
	background: #E88EB1;
}

.c{
	width: 27%;
	float: left;
	height: 55px;
	background: #FFCE9B;
}

.d{
	width: 19%;
	float: left;
	height: 55px;
	background: #75819E;
}

.e{
	width: 27%;
	float: left;
	height: 55px;
	background: #B1C3EE;
}

.f{
	width: 27%;
	float: left;
	height: 55px;
	background: #60A7EE;
}

.g{
	width: 100%;
	float: left;
	height: 500px;
	background: #8089E8;
}

.part1{
	width: 100%;
	float: left;
	height: 500px;
	background: #FF6611;
}

.linea1{
	width: 100%;
	float: left;
	height: 20px;
	background: #6BFF4F;
}

#cafes{
	width: 100%;
	float: left;
	height: 600px;
	background: #459FFF;
}

.cafe1{
	width: 25%;
	float: left;
	height: 600px;
	background: #8C39FF;
	margin-left:6.5% 
}

.imagen1{
	width: 100%;
	float: left;
	height: 300px;
	background: #FF3E3A;
}

.titulo1{
	width: 100%;
	float: left;
	height: 50px;
	background: #FFEC39;
}

.texto1{
	width: 100%;
	float: left;
	height: 180px;
	background: #05E87F;
}

.vermas1{
	width: 100%;
	float: left;
	height: 70px;
	background: #FF974F;
}

.botonmas{
	width: 40%;
	float: left;
	height: 70px;
	background: #B44AFF;
	margin-left:30%;
	margin-right: 30%;
}

#mempleo{
	width: 100%;
	float: left;
	height:450px;
	background: #3A32E8;
}

.mempleo1{
	width: 50%;
	float: left;
	height:450px;
	background: #07E868;
}

.mempleo2{
	width: 50%;
	float: left;
	height:450px;
	background: #FF4DAD;
}


.m21{
	width: 100%;
	float: left;
	height:75px;
	background: #CDE847;
	margin-top: 100px;
}

.m211{
	width: 45%;
	float: left;
	height:75px;
	background: #E8C96A;
}


.m212{
	width: 55%;
	float: left;
	height:75px;
	background: #EC8BFF;
}


.m22{
	width: 100%;
	float: left;
	height:75px;
	background: #28C1FF;
}

.m23{
	width: 100%;
	float: left;
	height:75px;
	background: #DF77FF;
	}

.boton2{
	width: 25%;
	float: left;
	height:75px;
	background: #8CC4E8;
	margin-left: 37.5%;
	margin-right:37.5%;
		}

