@charset "utf-8";

body{
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
	background: #23e2f3;
}

header{
	width: 100%;
	height: 130px;
	float: left;
	background: #a7f323;
}

.a{
	width: 60%;
	height: 30px;
	float: left;
	background: #5c888b;
}

.b{
	width: 40%;
	height: 30px;
	float: left;
	background: #4F3D31;
}

.b_1{
	width: 20%;
	height: 30px;
	float: left;
	background: #9A7A62;
}

.b_2{
	width: 30%;
	height: 30px;
	float: left;
	background: #BF992F;
}

.b_3{
	width: 25%;
	height: 30px;
	float: left;
	background: #79906E;
}

.b_4{
	width: 25%;
	height: 30px;
	float: left;
	background: #E8CF38;
}

.c{
	width: 30%;
	height: 80px;
	float: left;
	background: #fff;
}

.c_1{
	width: 50%;
	height: 80px;
	float: left;
	background: #37459B;
}

.c_2{
	width: 50%;
	height: 80px;
	float: left;
	background: #7A509F;
}

.d{
	width: 70%;
	height: 80px;
	float: left;
	background: #000;
}

.d_1{
	width: 12.5%;
	height: 80px;
	float: left;
	background: #4EB7C4;
}

.d_2{
	width: 12.5%;
	height: 80px;
	float: left;
	background: #7ABB36;
}

.d_3{
	width: 25%;
	height: 80px;
	float: left;
	background: #9C8D6D;
}

.d_4{
	width: 30%;
	height: 80px;
	float: left;
	background: #86631D;
}

.d_5{
	width: 20%;
	height: 80px;
	float: left;
	background: #607A46;
}

.e{
	width: 100%;
	height: 10px;
	float: left;
	background: #4694D6;
}

.f{
	width: 100%;
	height: 10px;
	float: left;
	background: #305CAB;
}

.imagen{
	width: 100%;
	height: 500px;
	float: left;
	background: #43AAA6;
}

.g{
	width: 50%;
	height: 350px;
	float: left;
	margin-left: 20px;
	margin-top: 120px;
	background: #2A345E;
}

.g_1{
	width: 100%;
	height: 75px;
	float: left;
	background: #7676B9;
}

.g_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #4654A4;
}

.g_3{
	width: 100%;
	height: 75px;
	float: left;
	background: #273260;
}

.g_3_1{
	width: 30%;
	height: 75px;
	float: right;
	background: #181F41;
<<<<<<< HEAD
=======
}

.section2{
	width: 100%;
	height: 300px;
	float: left;
	background: #BEBFBF;
}

.sec_1{
	width: 75%;
	height: 300px;
	float: left;
	background: #282828;
}

.sec_1_1{
	width: 95%;
	height: 240px;
	float: left;
	margin-left: 20px;
	margin-top: 30px;
	background: #2A345E;
}

.sec_1_1_1{
	width: 100%;
	height: 60px;
	float: left;
	background: #7676B9;
}

.sec_1_1_2{
	width: 100%;
	height: 120px;
	float: left;
	background: #4654A4;
}

.sec_1_1_3{
	width: 100%;
	height: 60px;
	float: left;
	background: #273260;
}

.sec_1_1_3_1{
	width: 20%;
	height: 60px;
	float: right;
	background: #181F41;
}

.columnas{
	width: 100%;
	height: 800px;
	float: left;
	background: #1D443E;
}

.col_1{
	width: 33.33%;
	height: 400px;
	float: left;
	background: #1D443E;
}

.col_1_1_1{
	width: 91%;
	height: 350px;
	margin-top: 25px;
    margin-left: 4%;
    margin-right: 4px;
	float: left;
	background: #E600FF;
}

.col_1_1_1_1{
	width: 100%;
	height: 75px;
	float: left;
	background: #1D443E;
}

.col_1_1_1_1_1{
	width: 45%;
	height: 75px;
	float: left;
	background: #181F41;
}

.col_1_1_1_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #5B8FCF;
}

.col_1_1_1_3{
	width: 100%;
	height: 75px;
	float: left;
	background: #5B8FCF;
}

.col_1_1_1_3_1{
	width: 25%;
	height: 75px;
	float: right;
	background: #181F41;
}

.col_2{
	width: 33.33%;
	height: 400px;
	float: left;
	background: #1D443E;
}

.col_2_1_1{
	width: 91%;
	height: 350px;
	margin-top: 25px;
    margin-left: 4%;
    margin-right: 4px;
	float: left;
	background: #E600FF;
}

.col_2_1_1_1{
	width: 100%;
	height: 75px;
	float: left;
	background: #1D443E;
}

.col_2_1_1_1_1{
	width: 45%;
	height: 75px;
	float: left;
	background: #181F41;
}

.col_2_1_1_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #5B8FCF;
}

.col_2_1_1_3{
	width: 100%;
	height: 75px;
	float: left;
	background: #5B8FCF;
}

.col_2_1_1_3_1{
	width: 25%;
	height: 75px;
	float: right;
	background: #181F41;
}

.col_3{
	width: 33.33%;
	height: 400px;
	float: left;
	background: #1D443E;
}

.col_3_1_1{
	width: 91%;
	height: 350px;
	margin-top: 25px;
    margin-left: 4%;
    margin-right: 4px;
	float: left;
	background: #E600FF;
}

.col_3_1_1_1{
	width: 100%;
	height: 75px;
	float: left;
	background: #1D443E;
}

.col_3_1_1_1_1{
	width: 45%;
	height: 75px;
	float: left;
	background: #181F41;
}

.col_3_1_1_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #5B8FCF;
}

.col_3_1_1_3{
	width: 100%;
	height: 75px;
	float: left;
	background: #5B8FCF;
}

.col_3_1_1_3_1{
	width: 25%;
	height: 75px;
	float: right;
	background: #181F41;
}

.col_4{
	width: 33.33%;
	height: 400px;
	float: left;
	background: #1D443E;
}

.col_4_1_1{
	width: 91%;
	height: 350px;
	margin-top: 25px;
    margin-left: 4%;
    margin-right: 4px;
	float: left;
	background: #E600FF;
}

.col_4_1_1_1{
	width: 100%;
	height: 75px;
	float: left;
	background: #1D443E;
}

.col_4_1_1_1_1{
	width: 45%;
	height: 75px;
	float: left;
	background: #181F41;
}

.col_4_1_1_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #5B8FCF;
}

.col_4_1_1_3{
	width: 100%;
	height: 75px;
	float: left;
	background: #5B8FCF;
}

.col_4_1_1_3_1{
	width: 25%;
	height: 75px;
	float: right;
	background: #181F41;
}

.col_5{
	width: 33.33%;
	height: 400px;
	float: left;
	background: #1D443E;
}

.col_5_1_1{
	width: 91%;
	height: 350px;
	margin-top: 25px;
    margin-left: 4%;
    margin-right: 4px;
	float: left;
	background: #E600FF;
}

.col_5_1_1_1{
	width: 100%;
	height: 75px;
	float: left;
	background: #1D443E;
}

.col_5_1_1_1_1{
	width: 45%;
	height: 75px;
	float: left;
	background: #181F41;
}

.col_5_1_1_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #5B8FCF;
}

.col_5_1_1_3{
	width: 100%;
	height: 75px;
	float: left;
	background: #5B8FCF;
}

.col_5_1_1_3_1{
	width: 25%;
	height: 75px;
	float: right;
	background: #181F41;
}

.col_6{
	width: 33.33%;
	height: 400px;
	float: left;
	background: #1D443E;
}

.col_6_1_1{
	width: 91%;
	height: 350px;
	margin-top: 25px;
    margin-left: 4%;
    margin-right: 4px;
	float: left;
	background: #E600FF;
}

.col_6_1_1_1{
	width: 100%;
	height: 75px;
	float: left;
	background: #1D443E;
}

.col_6_1_1_1_1{
	width: 45%;
	height: 75px;
	float: left;
	background: #181F41;
}

.col_6_1_1_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #5B8FCF;
}

.col_6_1_1_3{
	width: 100%;
	height: 75px;
	float: left;
	background: #5B8FCF;
}

.col_6_1_1_3_1{
	width: 25%;
	height: 75px;
	float: right;
	background: #181F41;
}

.section4{
	width: 100%;
	height: 300px;
	float: left;
	background: #BEBFBF;
}

.sec_3{
	width: 25%;
	height: 300px;
	float: left;
	background: #EECBB0;
}

.sec_4{
	width: 75%;
	height: 300px;
	float: left;
	background: #282828;
}

.sec_4_1{
	width: 50%;
	height: 300px;
	float: left;
	background: #282828;
}

.sec_4_1_1{
	width: 92%;
	height: 220px;
	margin-top: 40px;
	margin-left: 4%;
    margin-right: 4px;
	float: left;
	background: #282828;
}

.sec_4_1_1_1{
	width: 40%;
	height: 50px;
	float: left;
	background: #7676B9;
}

.sec_4_1_1_2{
	width: 100%;
	height: 170px;
	float: left;
	background: #4654A4;
}

.sec_4_2{
	width: 50%;
	height: 300px;
	float: left;
	background: #282828;
}

.sec_4_2_1{
	width: 92%;
	height: 220px;
	margin-top: 40px;
	margin-left: 4%;
    margin-right: 4px;
	float: left;
	background: #282828;
}

.sec_4_2_1_1{
	width: 100%;
	height: 50px;
	float: left;
	background: #282828;
}

.sec_4_2_1_2{
	width: 40%;
	height: 100px;
	float: left;
	background: #4654A4;
}

.contacto{
	width: 100%;
	height: 550px;
	float: left;
	background: #1C191E;
}

.contacto_1{
	width: 100%;
	height: 80px;
    float: left;
    background: #1C191E;
}

.titulo{
	width: 27%;
	height: 70px;
    margin-left: 5%;
    float: left;
    margin-top: 15px;
    background: #ADE0FF;
}

.cont_1{
	width: 60%;
	height: 470px;
    float: left;
    background: #1C191E;
}

.cont_1_1{
	width: 30%;
    height: 85px;
    margin-left: 8%;
    float: left;
    margin-top: 20px;
    background: #3F87EF;
}

.name{
	width: 85%;
	height: 60px;
    margin-left: 8%;
    float: left;
    margin-top: 12px;
    background: #6CA8FF;
}

.cont_1_2{
	width: 57%;
    margin-left: 2%;
    float: left;
    margin-top: 20px;
    height: 85px;
    background: #3F87EF;
}

.placeholder_1{
	width: 90%;
    margin-left: 5%;
    float: left;
    margin-top: 12px;
    height: 60px;
    background: #6CA8FF;
}

.cont_1_3{
	width: 30%;
    margin-left: 8%;
    float: left;
    margin-top: 20px;
    height: 85px;
    background: #3F87EF;
}

.email{
	width: 85%;
    margin-left: 8%;
    float: left;
    margin-top: 12px;
    height: 60px;
    background: #6CA8FF;
}

.cont_1_4{
	width: 57%;
    margin-left: 2%;
    float: left;
    margin-top: 20px;
    height: 85px;
    background: #3F87EF;
}

.placeholder_2{
	width: 90%;
    margin-left: 5%;
    float: left;
    margin-top: 12px;
    height: 60px;
    background: #6CA8FF;
}

.cont_1_5{
	width: 30%;
    margin-left: 8%;
    float: left;
    margin-top: 20px;
    height: 85px;
    background: #3F87EF;
}

.message{
	width: 85%;
    margin-left: 8%;
    float: left;
    margin-top: 12px;
    height: 60px;
    background: #6CA8FF;
}

.cont_1_6{
	width: 57%;
    margin-left: 2%;
    float: left;
    margin-top: 20px;
    height: 180px;
    background: #3F87EF;
}

.placeholder_3{
	width: 90%;
    margin-left: 5%;
    float: left;
    margin-top: 12px;
    height: 150px;
    background: #6CA8FF;
}

.cont_2{
	width: 40%;
	height: 470px;
	float: left;
	background: #1C191E;
}

.cont_1_7{
	width: 30%;
    margin-left: 8%;
    float: left;
    margin-top: 20px;
    height: 85px;
    background: #3F87EF;
}

.phone{
	width: 85%;
    margin-left: 8%;
    float: left;
    margin-top: 12px;
    height: 60px;
    background: #6CA8FF;
}

.cont_1_8{
	width: 57%;
    margin-left: 2%;
    float: left;
    margin-top: 20px;
    height: 85px;
    background: #3F87EF;
}

.placeholder_4{
	width: 90%;
    margin-left: 5%;
    float: left;
    margin-top: 12px;
    height: 60px;
    background: #6CA8FF;
}

.send{
	width: 100%;
    float: left;
    margin-top: 19px;
    height: 100px;
    background: #6CA8FF;
}

.botton{
	width: 30%;
    margin-right: 6%;
    float: right;
    height: 100px;
    background: #3F87EF;
}

.footer{
	width: 100%;
	height: 300px;
	float: left;
	background: #1B3D6D;
}

.foo_1{
	width: 30%;
	height: 300px;
	float: left;
	background: #1B3D6D;
}

.foo_1_1{
	width: 20%;
	height: 300px;
	float: left;
	background: #1B3D6D;
}

.foo_1_2{
	width: 60%;
	height: 300px;
	float: left;
	background: #1B3D6D;
}

.logotipo{
	width: 100%;
	height: 110px;
	float: left;
	margin-top: 40px;
	background: #0066FF;
}

.r_1{
	width: 33.333%;
	height: 60px;
	float: left;
	background: #1E1E1E;
}

.r_2{
	width: 33.333%;
	height: 60px;
	float: left;
	background: #303030;
}

.r_3{
	width: 33.333%;
	height: 60px;
	float: left;
	background: #444444;
}

.foo_1_3{
	width: 20%;
	height: 300px;
	float: left;
	background: #1B3D6D;
}

.foo_2{
	width: 70%;
	height: 300px;
	float: left;
	background: #1B3D6D;
}

.menufoo{
	width: 100%;
	height: 200px;
	float: left;
	background: #1B3D6D;
}

.mf_1{
	width: 14%;
	height: 50px;
	margin-top: 40px;
	margin-left: 5%;
	float: left;
	background: #4EB7C4;
}

.mf_2{
	width: 28%;
	height: 50px;
	margin-top: 40px;
	float: left;
	background: #7ABB36;
}

.mf_3{
	width: 25%;
	height: 50px;
	margin-top: 40px;
	float: left;
	background: #9C8D6D;
}

.mf_4{
	width: 14%;
	height: 50px;
	margin-top: 40px;
	float: left;
	background: #86631D;
}

.mf_5{
	width: 14%;
	height: 50px;
	margin-top: 40px;
	float: left;
	background: #607A46;
}

.copy{
	width: 100%;
	height: 40px;
	float: left;
	background: #1B3D6D;
}

.copy_1{
	width: 35%;
	height: 40px;
	float: left;
	background: #1B3D6D;
}

.copy_2{
	width: 30%;
	height: 40px;
	float: left;
	background: #fff;
}

.copy_3{
	width: 35%;
	height: 40px;
	float: left;
	background: #1B3D6D;
}