@charset "utf-8";

body{
	background: #23e2f3;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

header{
	width: 100%;
	height: 60px;
	float: left;
	background: #a7f323;
}

.child1{
	width: 100%;
	height: 130px;
	float: left;
	background: #f38f23;
}

.a{
	width: 50%;
	height: 30px;
	float: left;
	background: #619498;
}

.b{
	width: 50%;
	height: 30px;
	float: left;
	background: #000;
}

.b_1{
	width: 10%;
	height: 30px;
	float: left;
	background: #cf1515;
}

.b_2{
	width: 25%;
	height: 30px;
	float: left;
	background: #601919;
}

.b_3{
	width: 20%;
	height: 30px;
	float: left;
	background: #0a86af;
}

.b_4{
	width: 20%;
	height: 30px;
	float: left;
	background: #1eaf0a;
}

.b_5{
	width: 25%;
	height: 30px;
	float: left;
	background: #af9e0a;
}

.c{
	width: 30%;
	height: 100px;
	float: left;
	background: #fff;
}

.c_1{
	width: 50%;
	height: 100px;
	float: left;
	background: #839d0a;
}

.c_2{
	width: 50%;
	height: 100px;
	float: left;
	background: #4f5729;
}

.d{
	width: 70%;
	height: 100px;
	float: left;
	background: #000;
}

.d_1{
	width: 14.2857%;
	height: 100px;
	float: left;
	background: #c4ee00;
}

.d_2{
	width: 14.2857%;
	height: 100px;
	float: left;
	background: #747e44;
}

.d_3{
	width: 14.2857%;
	height: 100px;
	float: left;
	background: #447e59;
}

.d_4{
	width: 14.2857%;
	height: 100px;
	float: left;
	background: #44717e;
}

.d_5{
	width: 14.2857%;
	height: 100px;
	float: left;
	background: #4a447e;
}

.d_6{
	width: 14.2857%;
	height: 100px;
	float: left;
	background: #7e4461;
}

.d_7{
	width: 14.2857%;
	height: 100px;
	float: left;
	background: #35021b;
}

.imagen{
	width: 100%;
	height: 500px;
	float: left;
	background: #010916;
}

.e{
	width: 50%;
	height: 350px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	background: #2A345E;
}

.e_1{
	width: 100%;
	height: 75px;
	float: left;
	background: #7676B9;
}

.e_1_1{
	width: 30%;
	height: 75px;
	float: left;
	background: #085ae0;
}




.e_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #4654A4;
}

.e_3{
	width: 100%;
	height: 75px;
	float: left;
	background: #273260;
}

.e_3_1{
	width: 30%;
	height: 75px;
	float: right;
	background: #181F41;
}


.columnas{
	width: 100%;
	height: 300px;
	float: left;
	background: #fff;
}

.colum_1{
	width: 33.33%;
	height: 300px;
	float: left;
	background: #ffde00;
}

.colum_2{
	width: 33.33%;
	height: 300px;
	float: left;
	background: #035a87;
}

.column_2_1{
	width: 100%;
	height: 50px;
	float: left;
	background: #7676B9;
}

.column_2_1_1{
	width: 40%;
	height: 50px;
	float: left;
	background: #085ae0;
}

.column_2_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #4654A4;
}

.column_2_3{
	width: 100%;
	height: 50px;
	float: left;
	background: #273260;
}

.column_2_3_1{
	width: 40%;
	height: 50px;
	float: right;
	background: #7ac9f2;
}

.colum_3{
	width: 33.33%;
	height: 300px;
	float: left;
	background: #0a99e3;
}

.column_3_1_1{
	width: 40%;
	height: 50px;
	float: left;
	background: #085ae0;
}

.column_3_2{
	width: 100%;
	height: 200px;
	float: left;
	background: #4654A4;
}

.column_3_3{
	width: 100%;
	height: 50px;
	float: left;
	background: #273260;
}

.column_3_3_1{
	width: 40%;
	height: 50px;
	float: right;
	background: #7ac9f2;
}

.perfume_1{
	width: 40%;
	height: 600px;
	float: left;
	background: #f5e9bf;
}

.perf_1{
	width: 98%;
	height: 550px;
	margin-top: 20px;
	margin-left: 1%;
	margin-bottom: 2px;
	background: #fff;
}

.perfume_2{
	width: 60%;
	height: 600px;
	float: left;
	background: #f5e9bf;
}

.perf_2{
	width: 98%;
	height: 265px;
	margin-top: 20px;
	margin-left: 1%;
	margin-bottom: 2px;
	background: #fff;
}

.perf_2_1{
	width: 60%;
	height: 258px;
	margin-top: 4px;
	margin-left: 1%;
	margin-right: 4px;
	float: right;
	background: #6d3745;
}

.perf_3{
	width: 98%;
	height: 265px;
	margin-top: 20px;
	margin-left: 1%;
	margin-bottom: 2px;
	background: #fff;
}

.perf_3_1{
	width: 60%;
	height: 258px;
	margin-top: 4px;
	margin-left: 1%;
	margin-right: 4px;
	float: left;
	background: #c19c96;
}

.redes{
	width: 100%;
	height: 400px;
	float: left;
	background: #242424;
}

.red_1{
	width: 50%;
	height: 400px;
	float: left;
	background: #242424;
}

.red_1_1{
	width: 50%;
	height: 295px;
	margin-top: 50px;
	margin-left: 10%;
	float: left;
	background: #6e1e21;
}

.red_1_2{
	width: 50%;
	height: 85px;
	margin-top: 150px;
	margin-left: -20%;
	float: left;
	background: #fff;
}

.red_2{
	width: 50%;
	height: 400px;
	float: left;
	background: #242424;
}

.red_2_1{
	width: 40%;
	height: 130px;
	margin-top: 130px;
	margin-left: 10%;
	float: left;
	background: #fff;
}

.red_2_1_1{
	width: 100%;
	height: 43.33px;
	background: #c40c13;
}

.red_2_1_2{
	width: 100%;
	height: 43.33px;
	background: #820509;
}

.red_2_1_3{
	width: 100%;
	height: 43.33px;
	background: #c40c13;
}

.seccion5{
	width: 100%;
	height: 43.33px;
	background: #c40c13;
}