@charset "utf-8";

body{
	background: #d1cecf;
	font-family: arial;
	margin: 0;
	padding: 0;
}

.contenedor{
	display: block;
	margin: auto;
	width: 80%;
	height: auto;
	background: white;
	min-height: 90px;
}

header{
	background: #edaf73;
	height: auto;
	float: left;
	width: 100%;
}

.a{
	width: 30%;
	height: 300px;
	float: left;
}

.b{
	width: 70%;
	height: 300px;
	float: left;
}

.img1{
	background: url('../img/logo-header.png')no-repeat;
	width: 275px;
	height: 274px;
	margin: left;
	display: block;
}

.b > h1{
	color: #282828;
	font-size: 30pt;
	text-align: center;
	font-weight: bold;
	font-family: arial black;
	padding: 0;
	margin: 0;
	margin-top: 90px;
}

.b > h3{
	color: #282828;
	font-size: 16pt;
	text-align: right;
	font-weight: lighter;
	font-family: arial;
	letter-spacing: 2px;
	padding: 0;
	margin: 0;
	margin-top: 15px;
	margin-right: 25%; 
}

.info{
	width: 100%;
	height: 200px;
	float: left;
	background: white;
}

.seccion1{
	width: 100%;
	height: 200px;
	float: left;
	background: white;
}

.know{
	width: 100%;
	height: 200px;
	float: left;
	background: white;
}

.know > h1{
	color: #282828;
	font-family: arial;
	text-align: left;
	font-weight: bold;
	font-size: 18pt;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
	margin-top: 25px;
	margin-left: 5%;
}

.know > p{
	color: #282828;
	font-family: arial;
	font-weight: normal;
	font-size: 12pt;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
	margin-top: 15px;
	margin-left: 5%;
	margin-right: 5%;
}

.seccion2{
	width: 100%;
	height: 160px;
	float: left;
	background: white;
	border: 1px;
}

.separador1 {
    width: 100%;
    float: left;
    background: #c3c3c3;
    height: 5px;
}

.c{
	width: 30%;
	height: 160px;
	float: left;
}

.d{
	width: 70%;
	height: 160px;
	float: left;
}

.img2{
	background: url('../img/img1.png')no-repeat;
	width: 263px;
	height: 155px;
	margin: left;
	display: block;
}

.d > h1{
	color: #282828;
	font-family: arial;
	text-align: left;
	font-weight: bold;
	font-size: 18pt;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
	margin-top: 25px;
}

.d > p{
	color: #282828;
	font-family: arial;
	font-weight: normal;
	font-size: 12pt;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
	margin-top: 15px;
	margin-right: 5%;
}

.d > h2{
	color: #282828;
	font-family: arial;
	font-weight: bold;
	font-size: 14pt;
	text-align: right;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
	margin-top: 15px;
	margin-right: 10%;
}

.seccion3{
	width: 100%;
	height: 155px;
	float: left;
	background: white;
	border: 1px;
}

.separador2 {
    width: 100%;
    float: left;
    background: #EDAF73;
    height: 20px;
}

.e{
	width: 50%;
	height: 170px;
	float: left;
	background: white;
}

.f{
	width: 50%;
	height: 170px;
	float: left;
	background: white;
}

.e > h1{
	color: #282828;
	font-family: arial;
	text-align: left;
	font-weight: bold;
	font-size: 18pt;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
	margin-top: 25px;
	margin-left: 10%;
}

.e > p{
	color: #282828;
	font-family: arial;
	font-weight: normal;
	font-size: 12pt;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
	margin-top: 15px;
	margin-left: 10%;
	margin-right: 15%;
}

.f > h1{
	color: #282828;
	font-family: arial;
	text-align: left;
	font-weight: bold;
	font-size: 18pt;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
	margin-top: 25px;
	margin-left: 10%;
}

.f > p{
	color: #282828;
	font-family: arial;
	font-weight: normal;
	font-size: 12pt;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
	margin-top: 15px;
	margin-left: 10%;
	margin-right: 15%;
}

.seccion5{
	width: 100%;
	height: 150px;
	float: left;
	background: white;
}

.seccion5 > h1{
	color: #282828;
	font-family: arial;
	text-align: left;
	font-weight: bold;
	font-size: 18pt;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
	margin-top: 25px;
	margin-left: 5%;
}

.seccion5 > p{
	color: #282828;
	font-family: arial;
	font-weight: normal;
	font-size: 12pt;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
	margin-top: 15px;
	margin-left: 5%;
	margin-right: 5%;
}

.footer{
	width: 100%;
	height: 120px;
	float: left;
	background: #331402;
}

.g{
	width: 10%;
	height: 120px;
	float: left;
	background: #331402;
}

.h{
	width: 20%;
	height: 120px;
	float: left;
	background: #331402;
}

.boton{
	width: 60%;
	height: 120px;
	float: left;
	background: #331402;
}

.g > h5{
	color: white;
	font-family: arial;
	text-align: left;
	font-weight: normal;
	font-size: 12pt;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
	margin-top: 80px;
	margin-left: 10%;
}

.logofooter{
	background: url('../img/logo-footer.png')no-repeat;
	width: 193px;
	height: 35px;
	float: left;
	margin: auto;
	margin-top: 60px;
}

.boton>button {
    border: none;
    font-weight: bolder;
    font-family: arial;
    font-size: 12pt;
    letter-spacing: 3px;
    height: 35px;
    width: 20%;
    background: #ddae76;
    text-align: center;
    margin-top: 50px;
    float: right;
}