@charset "utf-8";

body{
	background: #23e2f3;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

header{
	width: 100%;
	height: 60px;
	float: left;
	background: #a7f323;
}

.child1{
	width: 55%;
	height: 60px;
	float: left;
	background: #f38f23;
}

.a{
	width: 45%;
	height: 60px;
	float: left;
	background: #619498;
}

.b{
	width: 55%;
	height: 60px;
	float: left;
	background: #bcde54;
}

.child2{
	width: 45%;
	height: 60px;
	float: left;
	background: #9d23f3;
}


.c{
	width: 27%;
	height: 60px;
	float: left;
	background: #d5a080;
}

.d{
	width: 19%;
	height: 60px;
	float: left;
	background: #d1a43d;
}

.e{
	width: 27%;
	height: 60px;
	float: left;
	background: #889c79;
}

.f{
	width: 27%;
	height: 60px;
	float: left;
	background: #d0b436;
}

.g{
	width: 100%;
	height:500px;
	float: left;
	background: #e89ec1;
}

.h{
	width: 100%;
	height: 10px;
	float: left;
	background: #7bcaad;
}



.columna{
	width: 100%;
	height:500px;
	float: left;
	background: #7dc3e7;
}

.c1{
	width: 27%;
	height: 500px;
	float: left;
	margin-left:4.75%;
	background: #1fabac;
}
.c2{
	width: 27%;
	height: 500px;
	float: left;
	margin-left:4.75%;
	background: #1fabac;
}
.c3{
	width: 27%;
	height: 500px;
	float: left;
	margin-left:4.75%;
	background: #1fabac;
}

.c1_1{
	width: 100%;
	height: 250px;
	float: left;
	background: #1b9fa0;
}

.c1_2{
	width: 100%;
	height: 30px;
	float: left;
	background: #71a4a8;
}

.c1_3{
	width: 100%;
	height: 150px;
	float: left;
	background: #ae7763;
}

.c1_4{
	width: 100%;
	height: 70px;
	float: left;
	background: #3d8486;	
}

.c1_4_1{
	width: 30%;
	height: 70px;
	float: left;
	background: #7e6896;

}

.c1_4_2{
	width: 40%;
	height: 70px;
	float: left;
	background: #3d8486;
	
}

.c1_4_3{
	width: 30%;
	height: 70px;
	float: left;
	background: #7e6896;
	
}

.c2_1{
	width: 100%;
	height: 250px;
	float: left;
	background: #1b9fa0;
}

.c2_2{
	width: 100%;
	height: 30px;
	float: left;
	background: #71a4a8;
}

.c2_3{
	width: 100%;
	height: 150px;
	float: left;
	background: #ae7763;
}

.c2_4{
	width: 100%;
	height: 70px;
	float: left;
	background: #3d8486;	
}

.c2_4_1{
	width: 30%;
	height: 70px;
	float: left;
	background: #7e6896;

}

.c2_4_2{
	width: 40%;
	height: 70px;
	float: left;
	background: #3d8486;
	
}

.c2_4_3{
	width: 30%;
	height: 70px;
	float: left;
	background: #7e6896;
	
}

.c3_1{
	width: 100%;
	height: 250px;
	float: left;
	background: #1b9fa0;
}

.c3_2{
	width: 100%;
	height: 30px;
	float: left;
	background: #71a4a8;
}

.c3_3{
	width: 100%;
	height: 150px;
	float: left;
	background: #ae7763;
}

.c3_4{
	width: 100%;
	height: 70px;
	float: left;
	background: #3d8486;	
}

.c3_4_1{
	width: 30%;
	height: 70px;
	float: left;
	background: #7e6896;

}

.c3_4_2{
	width: 40%;
	height: 70px;
	float: left;
	background: #3d8486;
	
}

.c3_4_3{
	width: 30%;
	height: 70px;
	float: left;
	background: #7e6896;
	
}

.foto_descripcion{
	width: 100%;
	height: 500px;
	float: left;
	background: #0d8c8b;
}

.p_1{
	width: 50%;
	height: 500px;
	float: left;
	background: #5ebdac;
}

.p_2_1{
	width: 50%;
	height: 100px;
	float: left;
	background: #49b778;
}

.p_2_2{
	width: 25%;
	height: 100px;
	float: left;
	background: #254f5b;
}

.p_2_3{
	width: 25%;
	height: 100px;
	float: left;
	background: #95b37d;
}

.p_2_4{
	width: 50%;
	height: 100px;
	float: left;
	background: #8c777e;
}

.p_2_5{
	width: 16.66%;
	height: 100px;
	float: left;
	background: #2aada8;
}

.p_2_6{
	width: 16.66%;
	height: 100px;
	float: left;
	background: #097f90;
}

.p_2_7{
	width: 16.66%;
	height: 100px;
	float: left;
	background: #2aada8;
}

.p_2_8{
	width: 50%;
	height: 100px;
	float: left;
	background: #158244;
}

.contactos{
	width: 100%;
	height: 500px;
	float: left;
	background: #17514c;
}

.cont_1{
	width: 60%;
	height: 500px;
	float: left;
	background: #0d3a36;
}

.cont_1_1{
	width: 100%;
	height: 80px;
	float: left;
	background: #0d3a36;
}

.cont_1_2{
	width: 100%;
	height: 80px;
	float: left;
	background: #0d3a36;
}

.cont_1_2_1{
	width: 49%;
	height: 80px;
	float: left;
	margin-top: 3px;
	margin-left: 1%;
	background: #06b8eb;
}

.cont_1_2_2{
	width: 48%;
	height: 80px;
	float: left;
	margin-top: 3px;
	margin-left: 1%;
	background: #06b8eb;
}

.cont_1_3{
	width: 100%;
	height: 80px;
	float: left;
	background: #0d3a36;
}

.cont_1_3_1{
	width: 49%;
	height: 80px;
	float: left;
	margin-top: 3px;
	margin-left: 1%;
	background: #06b8eb;
}

.cont_1_3_2{
	width: 48%;
	height: 80px;
	float: left;
	margin-top: 3px;
	margin-left: 1%;
	background: #06b8eb;
}

.cont_1_4{
	width: 100%;
	height: 80px;
	float: left;
	background: #0d3a36;
}

.cont_1_4_1{
	width: 49%;
	height: 200px;
	float: left;
	margin-top: 20px;
	margin-left: 1%;
	background: #06b8eb;
}

.cont_1_4_2{
	width: 48%;
	height: 200px;
	float: left;
	margin-top: 20px;
	margin-left: 1%;
	background: #06b8eb;
}

.cont_1_4_3{
	width: 100%;
	height: 40px;
	float: left;
	background: #cc33cc;
}

.cont_2{
	width: 40%;
	height: 500px;
	float: left;
	background: #33cc99;
}

.cont_2_1{
	width: 100%;
	height: 80px;
	float: left;
	background: #33cc99;
}

.cont_2_2{
	width: 100%;
	height: 80px;
	float: left;
	background: #33cc99;
}

.cont_2_2_1{
	width: 98%;
	height: 80px;
	float: left;
	margin-top: 2px;
	margin-left: 1%;
	background: #06b8eb;
}

.cont_3_1{
	width: 100%;
	height: 30px;
	float: left;
	background: #33cc99;
}

.cont_4_2{
	width: 100%;
	height: 80px;
	float: left;
	background: #33cc99;
}

.cont_4_2_1{
	width: 98%;
	height: 80px;
	float: left;
	margin-top: 2px;
	margin-left: 1%;
	background: #06b8eb;
}

.cont_4_2_1_1{
	width: 50%;
	height: 80px;
	float: left;
	background: #06b8eb;
}

.cont_4_2_1_2{
	width: 30%;
	height: 80px;
	float: left;
	background: #663399;
}

.cont_4_2_1_3{
	width: 20%;
	height: 80px;
	float: left;
	background: #06b8eb;
}

.foo{
	width: 100%;
	height: 300px;
	float: left;
	background: #000033;
}

.foo_1{
	width: 30%;
	height: 300px;
	float: left;
	background: #333399;
}

.foo_2{
	width: 70%;
	height: 300px;
	float: left;
	background: #336666;
}

.foo_2_1{
	width: 100%;
	height: 150px;
	float: left;
	background: #003333;
}

.foo_2_2{
	width: 100%;
	height: 150px;
	float: left;
	background: #669966;
}

.foo_2_1_1{
	width: 24%;
	height: 70px;
	float: left;
	margin-left: 1px;
	background: #003333;
}

.foo_2_1_2{
	width: 24%;
	height: 70px;
	float: left;
	margin-left: 1px;
	background: #333399;
}

.foo_2_1_3{
	width: 14%;
	height: 70px;
	float: left;
	margin-left: 1px;
	background: #333399;
}

.foo_2_1_4{
	width: 14%;
	height: 70px;
	float: left;
	margin-left: 1px;
	background: #333399;
}

.foo_2_1_5{
	width: 14%;
	height: 70px;
	float: left;
	margin-left: 1px;
	background: #333399;
}

