@charset "utf-8";

body {
	background: #00ADFF;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0; 
}

#menu{
	width: 100%;
	background: #6D1FFF;
	height: 55px;
	float:left;
}

.child1{
	width: 55%;
	height: 55px;
	background: #209E7A;
	float:left;
}

.child2{
	width: 45%;
	float:left;
	background: #C5B6CC;
	height: 55px;

}

.a{
	width: 45%;
	float: left;
	height: 55px;
	background: #E8AF97;
}

.b{
	width: 55%;
	float: left;
	height: 55px;
	background: #E88EB1;
}

.c{
	width: 27%;
	float: left;
	height: 55px;
	background: #FFCE9B;
}

.d{
	width: 19%;
	float: left;
	height: 55px;
	background: #75819E;
}

.e{
	width: 27%;
	float: left;
	height: 55px;
	background: #B1C3EE;
}

.f{
	width: 27%;
	float: left;
	height: 55px;
	background: #60A7EE;
}

.g{
	width: 100%;
	float: left;
	height: 500px;
	background: #8089E8;
}

.part1{
	width: 100%;
	float: left;
	height: 500px;
	background: #FF6611;
}

.linea1{
	width: 100%;
	float: left;
	height: 20px;
	background: #6BFF4F;
}

#cafes{
	width: 100%;
	float: left;
	height: 600px;
	background: #459FFF;
}

.cafe1{
	width: 25%;
	float: left;
	height: 600px;
	background: #8C39FF;
	margin-left:6.5% 
}

.imagen1{
	width: 100%;
	float: left;
	height: 300px;
	background: #FF3E3A;
}

.titulo1{
	width: 100%;
	float: left;
	height: 50px;
	background: #FFEC39;
}

.texto1{
	width: 100%;
	float: left;
	height: 180px;
	background: #05E87F;
}

.vermas1{
	width: 100%;
	float: left;
	height: 70px;
	background: #FF974F;
}

.botonmas{
	width: 40%;
	float: left;
	height: 70px;
	background: #B44AFF;
	margin-left:30%;
	margin-right: 30%;
}

#mempleo{
	width: 100%;
	float: left;
	height:450px;
	background: #3A32E8;
}

.mempleo1{
	width: 50%;
	float: left;
	height:450px;
	background: #07E868;
}

.mempleo2{
	width: 50%;
	float: left;
	height:450px;
	background: #FF4DAD;
}


.m21{
	width: 100%;
	float: left;
	height:75px;
	background: #CDE847;
	margin-top: 100px;
}

.m211{
	width: 45%;
	float: left;
	height:75px;
	background: #E8C96A;
}


.m212{
	width: 55%;
	float: left;
	height:75px;
	background: #EC8BFF;
}


.m22{
	width: 100%;
	float: left;
	height:75px;
	background: #28C1FF;
}

.m23{
	width: 100%;
	float: left;
	height:75px;
	background: #DF77FF;
	}

.boton2{
	width: 25%;
	float: left;
	height:75px;
	background: #8CC4E8;
	margin-left: 37.5%;
	margin-right:37.5%;
		}

#contactos{
	width: 100%;
	float: left;
	height:490px;
	background: #5BD4AD;
}

.son1{
	width: 60%;
	float: left;
	height:490px;
	background: #D6D6D6;
}

.mini1{
	width: 100%;
	float: left;
	height:100px;
	background: #787FFF;
}

.mini2{
	width: 100%;
	float: left;
	height:330px;
	background: #5BD4AD;
}

.mini3{
	width: 100%;
	float: left;
	height:60px;
	background: #343749;
}

.mi1{
	width: 40%;
	float: left;
	height:330px;
	background: #CBFF5F;
}

.m1{
	width: 95%;
	float: left;
	height:70px;
	background: #61D47B;
	margin-left: 3%;
	margin-top: 10px; 
}

.m2{
	width: 95%;
	float: left;
	height:70px;
	background: #61D47B;
	margin-left: 3%;
	margin-top: 10px; 
}

.m3{
	width: 95%;
	float: left;
	height:148px;
	background: #61D47B;
	margin-left: 3%;
	margin-top: 15px; 
}



.mi2{
	width: 60%;
	float: left;
	height:330px;
	background: #CBFF5F;
}

.n1{
	width: 95%;
	float: left;
	height:70px;
	background: #61D47B;
	margin-left: 3%;
	margin-top: 10px; 
}

.n2{
	width: 95%;
	float: left;
	height:70px;
	background: #61D47B;
	margin-left: 3%;
	margin-top: 10px; 
}

.n3{
	width: 95%;
	float: left;
	height:148px;
	background: #61D47B;
	margin-left: 3%;
	margin-top: 15px; 
}




.son2{
	width: 40%;
	float: left;
	height:490px;
	background: #AFFC63;
}

.s1{
	width: 100%;
	float: left;
	height:90px;
	background: #2167FF;
	margin-top:80px;
}

.s2{
	width: 100%;
	float: left;
	height:90px;
	background: #1DDF70;
	 margin-top:50px;
}

.bt{
	width: 25%;
	float: left;
	height:90px;
	background: #DE8E21;
	 margin-left:60%;
	}

#foot{
	width: 100%;
	float: left;
	height:200px;
	background: #5047C1;
	}


.foot1{
	width: 30%;
	float: left;
	height:200px;
	background: #228B7E;
	}

.foot2{
	width: 0.6%;
	float: left;
	height:200px;
	background: #FAFFFA;
	}

.foot3{
	width: 69.4%;
	float: left;
	height:200px;
	background: #A3FFA5;
	}	

.foot3a{
	width: 100%;
	float: left;
	height:97px;
	background: #339DFF;
	}	

.foot3am{
	width: 26%;
	float: left;
	height:50px;
	background: #9532FF;
	margin-left:26%;
	}	

.foot3an{
	width: 14%;
	float: left;
	height:50px;
	background: #9532FF;
	margin-left:0.2%;
	}	

.foot3b{
	width: 100%;
	float: left;
	height:100px;
	background: #4A4B4B;
	}	


