@charset "utf-8";

body{
    background:white;
    font-family:calibri;
    margin:0;
    padding:0;
    color:black;
}

header{
    background:#292925;
    margin:0;
    padding:0;
    width:1404px;
    height:40px;
    float: left;
}

.a1{
    width:19%;
    height:40px;
    float:left;
    border-right: 1px solid #4F4F47;
}

.a1>.img1{
    width: 33px;
    height: 22px;
    background: url('../img/icono_purple.png');
    margin: 0;
    margin-top: 10px;
    margin-left: 2%;
    display: block;
}

#menu{
    width: 100%;
    height: 40px;
    float: left;
    margin: 0;
    padding: 0;
}

#menu>li{
    width: 9%;
    height:28px;
    display: block;
    float:left;
    padding-top: 12px;
    font-family: calibri;
    font-size: 10pt;
    text-align: center;
    border-right: 1px solid #4F4F47;
}

#menu>li>a{
    text-decoration: none;
    color: white;
    text-align: center;
}

#menu>li:hover{
    background: #EDB176;
}

#menu>li>a:hover{
   color: black;
}
.a2{
    width:65%;
    height:40px;
    float:left;
}

.a3{
    width:10%;
    height:40px;
    float:left;
}