@charset "utf-8";

body{
    background:white;
    font-family:calibri;
    margin:0;
    padding:0;
    color:black;
}

header{
    background:#292925;
    margin:0;
    padding:0;
    width:100%;
    height:40px;
    float: left;
}

.a1{
    width:19%;
    height:40px;
    float:left;
    border-right: 1px solid #4F4F47;
}

.a1>.img1{
    width: 33px;
    height: 22px;
    background: url('../img/icono_purple.png');
    margin: 0;
    margin-top: 10px;
    margin-left: 2%;
    display: block;
}

#menu{
    width: 100%;
    height: 40px;
    float: left;
    margin: 0;
    padding: 0;
}

#menu>li{
    width: 9%;
    height:28px;
    display: block;
    float:left;
    padding-top: 12px;
    font-family: calibri;
    font-size: 10pt;
    text-align: center;
    border-right: 1px solid #4F4F47;
}

#menu>li>a{
    text-decoration: none;
    color: white;
    text-align: center;
}

#menu>li:hover{
    background: #AB70C4;
}

#menu>li>a:hover{
   color: black;
}

.a2{
    width:70%;
    height:40px;
    float:left;
}

.a3{
    width:7%;
    height:40px;
    float:left;
}

.a3>button{
    background: #AB70C4;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #AB70C4;
    text-align: center;
    color:white;
    font-family: calibri;
    font-size: 11pt;
    font-weight: normal;
    margin-left:7%;
    margin-top:5px;
}

.a3>button:hover{
   background: #292925;
   color: white;
}

#b{
    width:100%;
    height:498px;
    float:left;
}

.b1>.img2{
    width: 1404px;
    height: 498px;
    background: url('../img/crecimiento2.png');
    margin: auto;
    display: block;
}

.ba1{
    width:57%;
    height:495px;
    margin left: 15%;
    float:left;
}


.ba1>h1{
    font-family: calibri;
    color: #8154A3;
    font-size:30pt;
    text-align: left;
    font-weight: bold;
    padding:0;
    margin:0;
    margin-top: 70px;
    margin-left: 15%;
}

.ba1>p{
  font-family: calibri;
  font-size: 18pt;
  font-weight: lighter;
  text-align: left;
  color: #35393B;
  line-height: 27pt;
  padding: 0;
  margin:0;
  margin-left: 15%;
  margin-right: 20%;
}


.ba1>div>button{
    background: white;
    height: 45px;
    width: 12%;
    border-radius: 5px;
    border: 1px solid #6D478A;
    text-align: center;
    color:#6D478A;
    font-family: arial;
    font-size: 11pt;
    font-weight: lighter;
    margin-left: 20%;
    margin-top: 5px;
}

.ba1>div>button:nth-child(2){
    background: white;
    height: 45px;
    width: 12%;
    border-radius: 5px;
    border: 1px solid #6D478A;
    text-align: center;
    color:#6D478A;
    font-family: arial;
    font-size: 11pt;
    font-weight: lighter;
    margin-left: 3%;
    margin-top: 5px;
}


.ba1>div>button:nth-child(3){
    background: white;
    height: 45px;
    width: 12%;
    border-radius: 5px;
    border: 1px solid #6D478A;
    text-align: center;
    color:#6D478A;
    font-family: arial;
    font-size: 11pt;
    font-weight: lighter;
    margin-left: 3%;
    margin-top: 5px;
}


.ba1>div>button:last-child{
    background: white;
    height: 45px;
    width: 12%;
    border-radius: 5px;
    border: 1px solid #6D478A;
    text-align: center;
    color:#6D478A;
    font-family: arial;
    font-size: 11pt;
    font-weight: lighter;
    margin-left: 3%;
    margin-top: 5px;
}
.ba2{
    width:40%;
    height:495px;
    float:left;
}

.ba2>.img3{
    width: 567px;
    height: 498px;
    background: url('../img/persona3.png');
    margin: auto;
    display: block;
}
