@charset "utf-8";

body {
	background: #96A4FF;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0; 
}

#menus1{
	width: 100%;
	height: 45px;
	background: #6BC4E8;
	float:left;
}

.contacts{
	width: 78%;
	height: 45px;
	background: #FFEBB6;
	float:left;
}

.signin{
	width: 22%;
	height: 45px;
	background: #E8927B;
	float:left;
}

.simtel{
	width: 5.5%;
	margin-left: 4%;
	height: 45px;
	background: #76E8E4;
	float:left;
}

.telefono{
	width: 18%;
	height: 45px;
	background: #8FFFD7;
	float:left;
}

.our{
	width: 15%;
	height: 45px;
	background: #F0B0FF;
	float:left;
}

.more{
	width: 60%;
	height: 45px;
	background: #79B6E8;
	float:left;
}

.in{
	width: 40%;
	height: 45px;
	background: #79E8DF;
	float:left;
}

#menus2{
	width: 100%;
	height: 85px;
	background: #6BC4E8;
	float:left;
}

.clogo{
	width: 40%;
	height: 85px;
	background: #C9B9FF;
	float:left;
}

.logo{
	width: 29%;
	margin-left:8%; 
	height: 85px;
	background: #E88AC8;
	float:left;
}

.chome{
	width: 60%;
	height: 85px;
	background: #FFD386;
	float:left;
}

.home{
	width: 12%;
	height: 85px;
	background: #FFBEC4;
	float:left;
}

.knows{
	width: 13%;
	height: 85px;
	background: #E88AC8;
	float:left;
}

.brands{
	width: 14%;
	height: 85px;
	background: #FAC4FF;
	float:left;
}

.corporate{
	width: 15%;
	height: 85px;
	background: #C8A7E8;
	float:left;
}

.blog{
	width: 9.5%;
	height: 85px;
	background: #BEB7FF;
	float:left;
}

.community{
	width: 17%;
	height: 85px;
	background: #FFC9C3;
	float:left;
}

.contact{
	width: 13%;
	height: 85px;
	background: #B3DEE8;
	float:left;
}

#pantalla{
	width: 100%;
	height: 550px;
	background: #A2E8B8;
	float:left;
}

.ctext1{
	width: 27%;
	height: 550px;
	background: #99B9E8;
	float:left;
}

.ctext2{
	width: 100%;
	height: 300px;
	margin-top: 85px;
	background: #B5FFFE;
	float:left;
}

.text1{
	width: 100%;
	height: 55px;
	background: #FFFE9D;
	float:left;
}

.text2{
	width: 100%;
	height: 245px;
	background: #FFCE9F;
	float:left;
}

.image1{
	width: 73%;
	height: 550px;
	background: #C5B4FF;
	float:left;
}

#info{
	width: 100%;
	height: 325px;
	background: #FFCE9F;
	float:left;
}

.image2{
	width: 38%;
	height: 325px;
	background: #BEE3FF;
	float:left;
}

.ctext3{
	width: 62%;
	height: 325px;
	background: #AAE8DC;
	float:left;
}

.text3{
	width: 50%;
	height: 325px;
	background: #FFDDAC;
	float:left;
}

.text4{
	width: 50%;
	height: 325px;
	background: #E8A892;
	float:left;
}

.titulo1{
	width: 100%;
	margin-top:9%;
	height: 60px;
	background: #A7CFFF;
	float:left;
}

.tex2{
	width: 100%;
	height: 150px;
	background: #9399E8;
	float:left;
}

.vermas{
	width: 100%;
	height: 65px;
	background: #C3A6FF;
	float:left;
}

.boton1{
	width: 25%;
	height: 65px;
	margin-left: 65%;
	background: #80E8E4;
	float:left;
}


.titulo2{
	width: 100%;
	margin-top:9%;
	height: 60px;
	background: #DDBAFF;
	float:left;
}

.tex3{
	width: 100%;
	height: 150px;
	background: #A8BAEC;
	float:left;
}

.vermas2{
	width: 100%;
	height: 65px;
	background: #9D94D5;
	float:left;
}

.boton2{
	width: 25%;
	height: 65px;
	margin-left: 65%;
	background: #80E8E4;
	float:left;
}

#bebidas{
	width: 100%;
	height: 580px;
	background: #ECCC7E;
	float:left;
}

.cimagenes{
	width: 60%;
	height: 580px;
	background: #80E8E4;
	float:left;
}

.ccimagenes{
	width: 100%;
	height: 580px;
	margin-left: 5%;
	background: #B493C1;
	float:left;
}

.cimag1{
	width: 100%;
	margin-top: 20px;
	height: 255px;
	background: #ECC1B6;
	float:left;
}

.image3{
	width: 57%;
	height: 255px;
	background: #ABD5EC;
	float:left;
}

.tex4{
	width: 43%;
	height: 255px;
	background: #89C1BF;
	float:left;
}

.cimag2{
	width: 100%;
	margin-top: 35px;
	height: 270px;
	background: #D5A1A2;
	float:left;
}

.tex5{
	width: 43%;
	height: 240px;
	background: #89C1BF;
	float:left;
}

.ctext4{
	width: 100%;
	margin-top: 75px;
	height: 100px;
	background: #959CC1;
	float:left;
}

.ctext5{
	width: 100%;
	margin-top: 75px;
	height: 75px;
	background: #959CC1;
	float:left;
}

.num1{
	width: 100%;
	height: 40px;
	background: #8BE8EC;
	float:left;
}

.title1{
	width: 100%;
	height: 60px;
	background: #DFC6EC;
	float:left;
}


.title2{
	width: 100%;
	margin-top: 75px;
	height: 75px;
	background: #8BE8EC;
	float:left;
}

.image4{
	width: 57%;
	height: 255px;
	background: #ABD5EC;
	float:left;
}


.vasos{
	width: 40%;
	height: 580px;
	background: #95C0D5;
	float:left;
}


.line{
	width: 100%;
	height: 10px;
	background: #ECDDC0;
	float:left;
}


#revistas{
	width: 100%;
	height: 275px;
	background: #ECCC7E;
	float:left;
}

.image5{
	width: 33%;
	height: 275px;
	background: #ECCBC5;
	float:left;
}

.titulo3{
	width: 33%;
	height: 70px;
	margin-top: 170px;
	background: #8BE8EC;
	float:left;
}

.image6{
	width: 34%;
	height: 275px;
	background: #D5A8C0;
	float:left;
}

.image7{
	width: 33%;
	height: 275px;
	background: #EC9DAF;
	float:left;
}

#redes{
	width: 100%;
	height: 275px;
	background: #D5B0A8;
	float:left;
}

.line2{
	width: 100%;
	height: 5px;
	background: #9CDCEC;
	float:left;
}

.image8{
	width: 65%;
	height: 275px;
	background: #E7C5EC;
	float:left;
}

.cimag3{
	width: 60%;
	margin-left: 7%;
	height: 275px;
	background: #A0B3EC;
	float:left;
}

.image9{
	width: 55%;
	height: 275px;
	background: #6796C1;
	float:left;
}

.text5{
	width: 100%;
	margin-top: 5px;
	height: 75px;
	background: #8986D5;
	float:left;
}


.textredes{
	width: 35%;
	height: 275px;
	background: #D5A7C8;
	float:left;
}

.tex5{
	width: 50%;
	height: 275px;
	background: #6796C1;
	float:left;
}


#moreinfo{
	width: 100%;
	height: 625px;
	background: #ECC095;
	float:left;
}

.line3{
	width: 100%;
	height: 3px;
	background: #9CDCEC;
	float:left;
}

.datos{
	width: 43%;
	height: 621px;
	background: #949ED5;
	float:left;
}

.lineasdedatos1{
	width: 100%;
	margin-top: 50px;
	height: 51.3px;
	background: #ECCCAB;
	float:left;
}

.dato1{
	width: 33%;
	margin-left: 10%;
	height: 51.3px;
	background: #C181A3;
	float:left;
}

.dato2{
	width: 27%;
	margin-left: 10%;
	height: 51.3px;
	background: #C181A3;
	float:left;
}

.dato3{
	width: 33%;
	margin-left: 10%;
	height: 51.3px;
	background: #C181A3;
	float:left;
}

.dato4{
	width: 27%;
	margin-left: 10%;
	height: 51.3px;
	background: #C181A3;
	float:left;
}

.dato5{
	width: 36%;
	margin-left: 10%;
	height: 51.3px;
	background: #C181A3;
	float:left;
}

.dato6{
	width: 33%;
	margin-left: 10%;
	height: 51.3px;
	background: #C181A3;
	float:left;
}

.dato7{
	width: 32%;
	margin-left: 10%;
	height: 51.3px;
	background: #C181A3;
	float:left;
}


.dato8{
	width: 18%;
	margin-left: 10%;
	height: 51.3px;
	background: #C181A3;
	float:left;
}

.dato9{
	width: 60%;
	margin-left: 10%;
	height: 51.3px;
	background: #C181A3;
	float:left;
}

.dato10{
	width: 70%;
	margin-left: 10%;
	height: 51.3px;
	background: #C181A3;
	float:left;
}


.lineasdedatos2{
	width: 100%;
	margin-top: 5px;
	height: 51.3px;
	background: #ECCCAB;
	float:left;
}

.info2{
	width: 57%;
	height: 621px;
	background: #B0CAEC;
	float:left;
}


.textopequeño{
	margin-left: 80%;
	width: 20%;
	height: 75px;
	background: #ECC7A5;
	float:left;
}


.ctexto{
	width: 55%;
	height: 621px;
	background: #D5ABA3;
	float:left;
}

.cctext{
	width: 100%;
	margin-top:65px;
	height: 555px;
	background: #A3ECD9;
	float:left;
}

.titulo4{
	width: 100%;
	height: 65px;
	background: #9FABEC;
	float:left;
}

.t1{
	width: 100%;
	height: 220px;
	background: #ECCCB9;
	float:left;
}

.t2{
	width: 100%;
	height:90px;
	background: #C1978E;
	float:left;
} 

.t3{
	width: 100%;
	height: 90px;
	background: #ECAEBD;
	float:left;
}

.t4{
	width: 100%;
	height: 90px;
	background: #D3AAD5;
	float:left;
}  

#pie{
	width: 100%;
	height: 230px;
	background: #C1978E;
	float:left;
}

.pie1{
	width: 30%;
	height: 230px;
	background: #9AD5D5;
	float:left;
}

.p1a{
	width: 100%;
	height: 100px;
	margin-top: 55px;
	background: #BC85C1;
	float:left;
}

.a{
	width: 45%;
	margin-left: 25%;
	height: 100px;
	background: #ECDDA1;
	float:left;
}

.p1b{
	width: 100%;
	height: 40px;
	background: #EC9FB5;
	float:left;
}

.b{
	width: 60%;
	margin-left: 15%;
	height: 40px;
	background: #A6D2EC;
	float:left;
}

.pie2{
	width: 70%;
	height: 230px;
	background: #7F86C1;
	float:left;
}

.p2a{
	width: 100%;
	height: 180px;
	background: #ECC593;
	float:left;
}

.p2a1{
	width: 40%;
	height: 180px;
	margin-left: 7%;
	background: #78BCD5;
	float:left;
}



.p2a2{
	width: 40%;
	height: 180px;
	margin-left: 7%;
	background: #78BCD5;
	float:left;
}


.p2b{
	width: 100%;
	height: 50px;
	background: #EC9FB5;
	float:left;
}

.p21{
	width: 10%;
	height: 50px;
	margin-left: 13%;
	background: #B387EC;
	float:left;
}

.p22{
	width: 13%;
	height: 50px;
	background: #B472C1;
	float:left;
}

.p23{
	width: 10%;
	height: 50px;
	background: #EC82C0;
	float:left;
}

.p24{
	width: 16%;
	height: 50px;
	background: #89D5EC;
	float:left;
}

.p25{
	width: 10%;
	height: 50px;
	background: #8DECCE;
	float:left;
}

.p26{
	width: 16%;
	height: 50px;
	background: #7480C1;
	float:left;
}

.p27{
	width: 12%;
	height: 50px;
	background: #90A7D5;
	float:left;
}



