@charset "utf-8";

body{
    background:white;
    font-family:calibri;
    margin:0;
    padding:0;
    color:black;
}

header{
    background:#292925;
    margin:0;
    padding:0;
    width:100%;
    height:40px;
    float: left;
}

.a1{
    width:19%;
    height:40px;
    float:left;
    border-right: 1px solid #4F4F47;
}

.a1>.img1{
    width: 33px;
    height: 22px;
    background: url('../img/icono_purple.png');
    margin: 0;
    margin-top: 10px;
    margin-left: 2%;
    display: block;
}

#menu{
    width: 100%;
    height: 40px;
    float: left;
    margin: 0;
    padding: 0;
}

#menu>li{
    width: 9%;
    height:28px;
    display: block;
    float:left;
    padding-top: 12px;
    font-family: calibri;
    font-size: 10pt;
    text-align: center;
    border-right: 1px solid #4F4F47;
}

#menu>li>a{
    text-decoration: none;
    color: white;
    text-align: center;
}

#menu>li:hover{
    background: #AB70C4;
}

#menu>li>a:hover{
   color: black;
}

.a2{
    width:70%;
    height:40px;
    float:left;
}

.a3{
    width:7%;
    height:40px;
    float:left;
}

.a3>button{
    background: #AB70C4;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #AB70C4;
    text-align: center;
    color:white;
    font-family: calibri;
    font-size: 11pt;
    font-weight: normal;
    margin-left:7%;
    margin-top:5px;
}

.a3>button:hover{
   background: #292925;
   color: white;
}

#b{
    width:100%;
    height:498px;
    float:left;
}

.b1>.img2{
    width: 100%;
    height: 498px;
    background: url('../img/crecimiento2.png');
    margin: auto;
    display: block;
}

.ba1{
    width:60%;
    height:495px;
    margin left: 15%;
    float:left;
}


.ba1>h1{
    font-family: calibri;
    color: #600487;
    font-size:30pt;
    text-align: left;
    font-weight: bold;
    padding:0;
    margin:0;
    margin-top: 70px;
    margin-left: 17%;
}

.ba1>p{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16pt;
  font-weight: lighter;
  text-align: left;
  color: #35393B;
  line-height: 27pt;
  padding: 0;
  margin:0;
  margin-left: 17%;
  margin-right: 20%;
}


.ba1>div>button{
    background: white;
    height: 47px;
    width: 12%;
    border-radius: 5px;
    border: 1px solid #600487;
    text-align: center;
    color:#6D478A;
    font-family: arial;
    font-size: 11pt;
    font-weight: lighter;
    margin-left: 20%;
    margin-top: 6px;
}

.ba1>div>button:nth-child(2){
    background: white;
    height: 47px;
    width: 12%;
    border-radius: 5px;
    border: 1px solid #600487;
    text-align: center;
    color:#6D478A;
    font-family: arial;
    font-size: 11pt;
    font-weight: lighter;
    margin-left: 3%;
    margin-top: 6px;
}


.ba1>div>button:nth-child(3){
    background: white;
    height: 47px;
    width: 12%;
    border-radius: 5px;
    border: 1px solid #600487;
    text-align: center;
    color:#6D478A;
    font-family: arial;
    font-size: 11pt;
    font-weight: lighter;
    margin-left: 3%;
    margin-top: 6px;
}


.ba1>div>button:last-child{
    background: white;
    height: 47px;
    width: 12%;
    border-radius: 5px;
    border: 1px solid #600487;
    text-align: center;
    color:#6D478A;
    font-family: arial;
    font-size: 11pt;
    font-weight: lighter;
    margin-left: 3%;
    margin-top: 6px;
}
.ba2{
    width:40%;
    height:495px;
    float:left;
}

.ba2>.img3{
    width: 567px;
    height: 498px;
    background: url('../img/persona3.png');
    margin: auto;
    display: block;
}

#c{
    width: 100%;
    height: 410px;
    float: left;
    background: white;
}


.c1art{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 60px;
    height: 375px;
    float: left;
    background: #F1F1F1;
}

.c1art>div:first-child{
    margin-left: 3%;
    width: 29%;
    height: 250px;
    float:left;
}

.c1art>div:nth-child(2){
    margin-left: 3%;
    width: 29%;
    height: 250px;
    float:left;
}

.c1art>div:last-child{
    margin-left: 3%;
    width: 29%;
    height: 250px;
    float:left;
}

.c1a{
    width: 40%;
    height: 130px;
    float: left;
}

.c1b{
    width: 60%;
    height: 130px;
    float: left;
}

.c1art>.c1{
    width: 40%;
    height: 410px;
    float: left;
}


.c1art>.c2{
    width: 60%;
    height: 410px;
    float: left;
}

.c1art>div>.c1>.c1a>.img4{
    width: 100px;
    height: 100px;
    background: url('../img/icono1.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}


.c1art>div>.c1>.c1a>.img5{
    width: 100px;
    height: 100px;
    background: url('../img/icono6.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}

.c1art>div>.c1>.c1a>.img6{
    width: 100px;
    height: 100px;
    background: url('../img/icono7.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}



.c1art>div>.c1>.c1b>h2{
    font-family: calibri;
    color: black;
    font-size: 20pt;
    margin:0;
    margin-top: 25px;
    font-weight: bold;
}

.c1art>div>.c2>p{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  text-align: left;
  color: #212121;
  line-height: 16pt;
  padding: 0;
  margin:0;
}


#d{
    width: 100%;
    height: 510px;
    float: left;
    background: white;
}


.d1art{
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 440px;
    float: left;
    background: #ECECED;
}

.d1art>div:first-child{
    margin-left:5%;
    margin-right: 5%;
    width: 90%;
    height: 350px;
    float:left;
}

.d1art>div:nth-child(2){
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 350px;
    float:left;
}

.d1art>div:nth-child(3){
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 350px;
    float:left;
}

.d1art>div:last-child{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 350px;
    float:left;
}

.d1a{
    width: 40%;
    height: 130px;
    float: left;
}

.d1b{
    width: 60%;
    height: 130px;
    float: left;
}

.d1art>.d1{
    width: 40%;
    height: 410px;
    float: left;
}


.d1art>.d2{
    width: 60%;
    height: 410px;
    float: left;
}

.d1art>div>.d1>.d1a>.img4{
    width: 100px;
    height: 100px;
    background: url('../img/icono1.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}

.d1art>div>.d1>.d1a>.img8{
    width: 100px;
    height: 100px;
    background: url('../img/icono6.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}

.d1art>div>.d1>.d1a>.img9{
    width: 100px;
    height: 100px;
    background: url('../img/icono7.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}

.d1art>div>.d1>.d1a>.img10{
    width: 100px;
    height: 100px;
    background: url('../img/icono8.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}

.d1art>div>.d1>.d1b>h2{
    font-family: calibri;
    color: black;
    font-size: 20pt;
    margin:0;
    margin-top: 25px;
    font-weight: bold;
}

.d1art>div>.d2>p{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  text-align: left;
  color: #212121;
  line-height: 16pt;
  padding: 0;
  margin:0;
}


#pie{
  width: 100%;
  height: 90px;
  float: left;
  background: #73104B;
}

