@charset "utf-8";

body{
	background: #D1CECF;
	margin: 0;
	padding: 0;
	font-family: colibri;
}

.contenedor{
	display: block;
	margin: auto;
	width: 79%;
	height: auto;
	background: white;
	min-height: 60px;
}

header{
	background: #EDAF73;
	height:330px;
	float: left;
	width: 100%;
}

.a1{
	width: 30%;
	height: 330px;
	float: left;
}

.a2{
	width: 70%;
	height: 330px;
	float: left;
}

.img1{
	background: url('../img/logo-header.png');
	width: 275px;
	height: 274px;
	margin: left;
	display: block;
}

.a2 > h1{
	color: #380C00;
	font-size: 32pt;
	text-align: left;
	font-weight:bold;
	font-family: arial black;
	padding: 0;
	margin: 0;
	margin-top: 100px;
}

.a2 > h3{
	color: #380C00;
	font-size: 20pt;
	text-align: left;
	font-weight:lighter;
	font-family: calibri;
	letter-spacing: 3px;
	padding: 0;
	margin: 0;
	margin-left: 33%;
	margin-top: 5px;
}

article{
	width: 100%;
	float: left;
	background: white;
	height: auto;
	border-bottom: 2px solid #c3c3c3;
}

.know{
	width: 100%;
	height: 275px;
	background: white;
	float: left;
}

.know > h2{
	color: black;
	font-size: 22pt;
	text-align: left;
	font-weight:bold;
	font-family: calibri;
	letter-spacing:2px;
	padding: 0;
	margin: 0;
	margin-top: 25px;
	margin-left: 5%;
}

.know > p{
	color: black;
	letter-spacing:2.2px;
	font-family: calibri;
	font-weight:normal;
	font-size:14pt;
	padding:0;
	margin:0;
	margin-top:13px;
	margin-left:5%;
	margin-right:5%;
}

#seccion2{
	width: 100%;
	float: left;
	background: white;
	height: auto;
	border-bottom: 2px solid #cfcdce;
}

.discovera{
	width: 30%;
	height: 155px;
	background: white;
	float: left;
}

.discoverb{
	width: 70%;
	height: 155px;
	background: white;
	float: left;
}

.img2{
	background: url('../img/img1.png');
	width: 263px;
	height: 155px;
	margin: left;
	display: block;
}

.discoverb > h2{
	color: black;
	font-size: 22pt;
	text-align: left;
	font-weight:bold;
	font-family: calibri;
	letter-spacing:2.2px;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.discoverb > p{
	color: black;
	letter-spacing:2.2px;
	font-family: calibri;
	font-weight:normal;
	font-size:14pt;
	padding:0;
	margin:0;
	margin-right: 10%;
	margin-top:5px;
}

.discoverb > h3{
	color: black;
	letter-spacing:2.2px;
	font-family: calibri;
	font-weight:bold;
	font-size:14pt;
	padding:0;
	margin:0;
	margin-left: 60%;
	margin-right: 10%;
}

#seccion3{
	width: 100%;
	float: left;
	background: white;
	height: 155px;
	border-bottom: 2px solid #cfcdce;
}

.first{
	width: 50%;
	height: 330px;
	float: left;
}

.first> h2{
	color: black;
	font-size: 22pt;
	text-align: left;
	font-weight:bold;
	font-family: calibri;
	letter-spacing:2.2px;
	padding: 0;
	margin: 0;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 15px;
}

.first > p{
	color: black;
	letter-spacing:2.2px;
	font-family: calibri;
	font-weight:normal;
	font-size:13pt;
	padding:0;
	margin:0;
	margin-right: 10%;
	margin-left: 10%;
	margin-top:5px;
}


.our{
	width: 50%;
	height: 330px;
	float: left;
}
