@charset "utf-8";

body {
	background: #B1DAEE;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0; 
}

#menu{
	width: 100%;
	background: #FFBCA5;
	height: 55px;
	float:left;
}

.child1{
	width: 55%;
	height: 55px;
	background: #8B5D9E;
	float:left;
}

.child2{
	width: 45%;
	float:left;
	background: #C5B6CC;
	height: 55px;

}

.a{
	width: 45%;
	float: left;
	height: 55px;
	background: #48819E;
}

.b{
	width: 55%;
	float: left;
	height: 55px;
	background: #CC4F5C;
}

.c{
	width: 27%;
	float: left;
	height: 55px;
	background: #48819E;
}

.d{
	width: 19%;
	float: left;
	height: 55px;
	background: #75819E;
}

.e{
	width: 27%;
	float: left;
	height: 55px;
	background: #B1C3EE;
}

.f{
	width: 27%;
	float: left;
	height: 55px;
	background: #60A7EE;
}

.g{
	width: 100%;
	float: left;
	height: 500px;
	background: #8089E8;
}

#articulos{
	width: 100%;
	background: #8CB5FF;
	height: 650px;
	float:left;
}

.h{
	width: 100%;
	float: left;
	height: 20px;
	background: #DF8CFF;
}


.i{
	width: 27%;
	float: left;
	margin-left:60px;
	height: 630px;
	background: #AB99FF;
}

.i1{
	width: 100%;
	float: left;
	margin-top: 315px;
	height: 315px;
	background: #8CDFFF;
}


