@charset "utf-8";
body{
  background:white;
  font-family:arial;
  margin:0;
  padding:0;
  width: 100%;
  height: auto;
}

.child1{
  width: 100%;
  height: 300px;
  margin-left: 0%;
  float: left;
  background: #edaf73
}
.child1a{
  width: 25%;
  height: 300px;
  float: left;
  background: #edaf73
}
.child1b{
  width: 75%;
  height: 300px;
  float: left;
  background: #edaf73
}
.child1b1{
  width: 100%;
  height: 150px;
  float: left;
  background: #edaf73
}
.child1b2{
  width: 100%;
  height: 150px;
  float: left;
  background: #edaf73
}
.img1{
  margin: left;
  display: block;
  margin-top: 0px;
}
.text_1 > h1{
  font-family: arial black;
	color: #251004;
	font-size: 50pt;
	float: center;
  margin-top: 80px;
	padding: 0;
}
.text_2 > h4{
  font-family: roboto;
  color: #251004;
  font-weight: lighter;
  float: center;
  font-size: 30pt;
  padding-left: 40%;
  margin-top:0px;
}
.child2{
  width: 100%;
  height: 250px;
  margin-left: 0%;
  float: left;
  background: white;
}
.child2a{
  width: 100%;
  height: 50px;
  float: left;
}
.text_3> h2{
  font-family: roboto;
  color: black;
  float: left;
  font-size: 30pt;
  padding-left: 3%;
 
}
.child2b{
  width: 100%;
  height: 200px;
  float: left;
}
.text_4> p{
  font-family: roboto;
  color: black;
  float: left;
  font-size: 25pt;
  padding: 15px 5% 10px 3%;
 text-align: justify;
}