@charset "utf-8";
body{
background:white;
font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
float: left;
margin:0;
padding:0;
width: 100%;
height: auto;
}
.menu{
	width: 100%;
	height: 50px;
	background: #01478d;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	float: left;
	padding: 0;
	margin: 0;
}
.imagenheader{
	width: 4%;
	height: 50px;
	float: left;
	margin:0;
	padding-top: 20px;
	padding left: 0px;
}
.textosmenu>div>ul>li{
  list-style: none;
  display: block;
  float:left;
  width: 70%;
  text-align: center;
  padding-top: 10px;
  border-right: 1px solid #d17d25;
  height: 40px;
  margin:0;
  padding: 0;
}