@charset "utf-8";

body{
	background: beige;
	width:100%;
	height:auto;
	font-family: calibri;
	margin: 0;
	padding: 0;
}
#contenedor{
	width: 50%;
	height: auto;
	margin: auto;
	display: block;
	background: white;
	min-height: 500px;
}
#header{
	background: lightgreen;
	width: 100%;
	height: 150px;
	float: left;
}
.cl1{
	width: 20%;
	float: left;
	height: 150px;
}
.cl2{
	width: 79%;
	float: left;
	height: 150px;	
}
.img_center{
	margin: auto;
	display: block;
	margin-top: 40px;
}
.img1{
	margin-top: auto;
	display: block;
	margin-top: 40px;
	background: url(..//icon.gif);
	width: 70px;
	height: 70px;
}
.img_3{
	width: 100%
	height: 25px;
	float: left;
	margin-top: 30px;
}
.text_3 > h3{
	color: white;
	font-family: tahoma;
	font-size: 14pt;
	letter-spacing: 12px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	margin-top: 25px;
}
.text_1{
	width: 100%;
	float: left;
	height: 40px;
}
.text_1 > h1{
	color: darkblue;
	font-weight: bold;
	font-size: 24pt;
	margin: 0;
	padding: 0;
}
.intro{
	width: 96%;
	float: left;
	height: 150px;
	padding: 40px 2% 40px 2%;
	background: white;
	border-bottom: 2px solid grey;
}
.intro > h2{
	font-weight: bold;
	text-align: left;
	color: black;
	font-size: 21pt;
	margin: 0;
	padding: 0;
}
.intro > p{
	font-weight: normal;
	text-align: left;
	color: grey;
	font-size: 12pt;
	margin: 0;
	padding: 0;

}
.cl4{
	width: 70%;
	height: 150;
	float: left;

}
.img2{
	margin: auto;
	display: block;
	margin-top: 5px;
	background: url(../img/article1.png);
	width: 115px;
	height: 115px;
}
.parrafo > p{
	width: 100%;
	height: 90px;
	float: left;
}
.btn{
	width: 100%;
	height: 60px;
	float: left;
}
.btn > button{
	width: 50%;
	color: white;
	height: 25px;
	float: left;
	background: red;
	padding: 10% 10px 10% 10px;
	border: none;
	font-size: 10pt;
	font-weight: bold;

}
.fondito{
	background: white;
	width: 96%;
	height: 300px;
	float: left;
	padding: 10px 2% 10px 2%;
	border-bottom: 2px solid grey;
}
.img3{
	margin: auto;
	display: block;
	background: url(../img/wide.png);
	width: 100%;
	height: 220px;

}
.carlos{
	background: white;
	height: 100%;
	height: 120px;
	float: left;
	border-bottom: 2px solid grey;
	width: 96%;
}
.carlos > p{
	color: grey;
	text-align: left;
	font-weight: normal;
	font-size: 12pt;
}