@charset "utf-8";

body{
	background: #80c3e1;
    width: 100%;
    height:auto;
    font-family: arial;
    margin: 0;
}

#menu{
	width: 100%;
	background: #c3db51;
	height: 40px;
	float:left;
}

.niño1{
	width: 60 %;
	height: 40px;
	background: #9d9413;
	float: left;
}
.a{
	width: 60%;
	float: left;
	background: #ffae14;
	height: : 64px;

}
.b{
	width: 40%;
	float: left;
	background: #e89ec1;
	height: : 40px;

}
.b1{
	width: 20%;
	float: left;
	background: #e89ec1;
	height: : 40px;

}
.b2{
	width: 10%;
	float: left;
	background: #e89ec1;
	height: : 40px;

}
.b3{
	width: 10%;
	float: left;
	background: #e89ec1;
	height: : 40px;

}
.niño2{
	width: 44.8%;
	float: left;
	background: #e89ec1;
	height: : 60px;

}

.a{
	width: 45%;
	float: left;
	height: : 60px;
	background: #3aa930;
}
