@charset "utf-8";

body{
	background: #80c3e1;
    width: 100%;
    height:auto;
    font-family: arial;
    margin: 0;
}

#menu{
	width: 100%;
	background: #9d9413;
	height: 40px;
	float:left;
}

.niño1{
	width: 100%;
	height: 40px;
	background: #9d9413;
	float: left;
} 
.a{
	width: 60%;
	height: 40px;
	background: #9d9413;
	float: left;
} 
.b{
	width: 40%;
	height: 40px;
	background: #ffae14;
	float: left;
} 