@charset "utf-8";

body{
	background: #80c3e1;
    width: 100%;
    height:auto;
    font-family: arial;
    margin: 0;
}

#menu{
	width: 100%;
	background: #c3db51;
	height: 60px;
	float:left;
}

.niño1{
	width: 55%;
	height: 60px;
	background: #629398;
	float: left;
}

.niño2{
	width: 44.8%;
	float: left;
	background: #e89ec1;
	height: : 60px;

}

.a{
	width: 45%;
	float: left;
	height: : 60px;
	background: #3aa930;
}

.b{
	width: 55%;
	float: left;
	height: 60px;
	background: #b8de35;
}

.c{
	width: 27%;
	float: left;
	height: 60px;
	background: #da9f75;
}

.d{
	width: 19%;
	float: left;
	height: 60px;
	background: #d6a238;
}

.e{
	width: 27%;
	float: left;
	height: 60px;
	background: #859e77;
}
.f{
	width: 27%;
	float: left;
	height: 60px;
	background: #cbb442;
}

.niño3{
	width: 100%;
	float: left;
	background: #ff7878;
	height: 200px;

}

.niño4{
	width: 100%;
	float: left;
	background: #809dfa;
	height: 300px;

}
.g{
	width: 100%;
	float: left;
	height: 300px;
	background: #809dfa;
}
.g1{
	width: 5%;
	float: left;
	height: 300px;
	background: #e8da3b;
}
.g2{
	width: 26.6%;
	float: left;
	height: 300px;
	background: #3be8a5;
}
.g2a{
	width: 100%;
	float: left;
	height: 150px;
	background: #3be8a5;
}
.g2b{
	width: 100%;
	float: left;
	height: 20px;
	background: #909090;
}
.g2c{
	width: 100%;
	float: left;
	height: 90px;
	background: #e2b75a;
}
.g2d{
	width: 100%;
	float: left;
	height: 40px;
	background: #9049d2;
}
.g2d1{
	width: 33.33%;
	float: left;
	height: 40px;
	background: #7b668e;
}
.g2d2{
	width: 33.33%;
	float: left;
	height: 40px;
	background: #25792f;
}
.g2d3{
	width: 33.33%;
	float: left;
	height: 40px;
	background: #7b668e;
}
.g3{
	width: 5%;
	float: left;
	height: 300px;
	background: #e8da3b;
}
.g4{
	width: 26.6%;
	float: left;
	height: 300px;
	background: #3be8a5;
}
.g4a{
	width: 100%;
	float: left;
	height: 150px;
	background: #3be8a5;
}
.g4b{
	width: 100%;
	float: left;
	height: 20px;
	background: #909090;
}
.g4c{
	width: 100%;
	float: left;
	height: 90px;
	background: #e2b75a;
}
.g4d{
	width: 100%;
	float: left;
	height: 40px;
	background: #9049d2;
}
.g4d1{
	width: 33.33%;
	float: left;
	height: 40px;
	background: #7b668e;
}
.g4d2{
	width: 33.33%;
	float: left;
	height: 40px;
	background: #25792f;
}
.g4d3{
	width: 33.33%;
	float: left;
	height: 40px;
	background: #7b668e;
}
.g5{
	width: 5%;
	float: left;
	height: 300px;
	background: #e8da3b;
}
.g6{
	width: 26.6%;
	float: left;
	height: 300px;
	background: #3be8a5;
}

.g6a{
	width: 100%;
	float: left;
	height: 150px;
	background: #3be8a5;
}
.g6b{
	width: 100%;
	float: left;
	height: 20px;
	background: #909090;
}
.g6c{
	width: 100%;
	float: left;
	height: 90px;
	background: #e2b75a;
}
.g4d{
	width: 100%;
	float: left;
	height: 40px;
	background: #9049d2;
}
.g6d1{
	width: 33.33%;
	float: left;
	height: 40px;
	background: #7b668e;
}
.g6d2{
	width: 33.33%;
	float: left;
	height: 40px;
	background: #25792f;
}
.g6d3{
	width: 33.33%;
	float: left;
	height: 40px;
	background: #7b668e;
}
.g7{
	width: 5%;
	float: left;
	height: 300px;
	background: #e8da3b;
}
.niño5{
	width: 100%;
	float: left;
	background: #c73420;
	height: 300px;

}
.h{
	width: 50%;
	float: left;
	height: 300px;
	background: #5ccac9;
}
.i{
	width: 50%;
	float: left;
	height: 300px;
	background: #b34fe7;
}
.i1{
	width: 100%;
	float: left;
	height: 60px;
	background: #4cb57c;
}
.i2{
	width: 100%;
	float: left;
	height: 60px;
	background: #254f5b;
}
.i2a{
	width: 50%;
	float: left;
	height: 60px;
	background: #254f5b;
}
.i2b{
	width: 50%;
	float: left;
	height: 60px;
	background: #95b37d;
}
.i3{
	width: 100%;
	float: left;
	height: 60px;
	background: #8b787e;
}
.i4{
	width: 100%;
	float: left;
	height: 60px;
	background: #3fa3a3;
}
.i4a{
	width: 33%;
	float: left;
	height: 60px;
	background: #3fa3a3;
}
.i4b{
	width: 34%;
	float: left;
	height: 60px;
	background: #0ed9ee;
}
.i4c{
	width: 33%;
	float: left;
	height: 60px;
	background: #3fa3a3;
}
.i5{
	width: 100%;
	float: left;
	height: 60px;
	background: #4db57a;
}
.niño6{
	width: 100%;
	float: left;
	height: 340px;
	background: #ee820e;
}
.j{
	width: 60%;
	float: left;
	height: 300px;
	background: #eeb10e;
}

.j1{
	width: 100%;
	float: left;
	height: 70px;
	background: #1b605b;
}
.j2{
	width: 100%;
	float: left;
	height: 70px;
	background: #00adc6;
}
.j3{
	width: 100%;
	float: left;
	height: 70px;
	background: #00adc6;
}
.j4{
	width: 100%;
	float: left;
	height: 90px;
	background: #00adc6;
}
.j5{
	width: 100%;
	float: left;
	height: 40px;
	background: #5c7a9e;
}
.k{
	width: 40%;
	float: left;
	height: 340px;
	background: #eb9d58;
}

.k1{
	width: 100%;
	float: left;
	height: 70px;
	background: #3eb9b4;
}
.k2{
	width: 100%;
	float: left;
	height: 70px;
	background: #02abc8;
}
.k3{
	width: 100%;
	float: left;
	height: 40px;
	background: #3eb9b4;
}
.k4{
	width: 100%;
	float: left;
	height: 70px;
	background: #02abc8;
}
.k4a{
	width: 60%;
	float: left;
	height: 70px;
	background: #02abc8;
}
.k4b{
	width: 20%;
	float: left;
	height: 70px;
	background: #604896;
}
.k4c{
	width: 20%;
	float: left;
	height: 70px;
	background: #02abc8;
}
.k5{
	width: 100%;
	float: left;
	height: 90px;
	background: #3eb9b4;
}

.niño7{
	width: 100%;
	height: 250px;
	background: #ddd119;
	float: left;
}
.l{
	width: 40%;
	float: left;
	height: 250px;
	background: #294c9d;
}
.m{
	width: 60%;
	float: left;
	height: 250px;
	background: #bcde54;
}
.m1{
	width: 100%;
	float: left;
	height: 125px;
	background: #26b891;
}
.m1a{
	width: 20%;
	float: left;
	height: 70px;
	background: #26b891;
}
.m1b{
	width: 20%;
	float: left;
	height: 70px;
	background: #31409d;
}

.m1c{
	width: 17%;
	float: left;
	height: 70px;
	background: #31409d;
}

.m1d{
	width: 17%;
	float: left;
	height: 70px;
	background: #31409d;
}

.m1e{
	width: 17%;
	float: left;
	height: 70px;
	background: #31409d;
}

.m1f{
	width: 9%;
	float: left;
	height: 70px;
	background: #26b891;
}
.m2{
	width: 100%;
	float: left;
	height: 125px;
	background: #548d7c;
}