@charset "utf-8";

body{
  background: gray;
  font-family: arial;
  margin: 0;
  padding: 0;
  color: black;
}
header{
  width: 100%;
  height:60px;
  background: #994006;
  margin: 0;
  padding: 0;
  float: left;
}
#menu{
    width: 100%;
	height: 60px;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}

#menu>li>first-child{
    width: 5%;
    height: 75px;
    float: left;
    margin: 0;
    padding: 0;
}

.img1{
    width: 33px;
    height:21px;
    background: url('../img/icono_logo.png');
    margin-left: 20%;
}

#menu>li{
    width: 10.5%;
	height:40px;
	display: block;
	float: left;
	border-right: 1px solid bisque;
	padding-top: 20px;
	text-align: center;
}
#menu>li>a{
	font-family: arial;
    font-size: 11pt;
    font-weight: normal;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
}




