@charset "utf-8";

body{
  background: white;
  font-family: arial;
  margin: 0;
  padding: 0;
  color: black;
}
header{
  width: 100%;
  height:40px;
  background: #994006;
  margin: 0;
  padding: 0;
  float: left;
}
#menu{
    width: 100%;
	height: 40px;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}

#menu>li>first-child{
    width: 5%;
    height: 75px;
    float: left;
    margin: 0;
    padding: 0;
}

.img1{
    width: 33px;
    height:21px;
    background: url('../img/icono_logo.png');
    margin-left: 20%;
}

#menu>li{
    width: 10.5%;
	height:30px;
	display: block;
	float: left;
	border-right: 1px solid bisque;
	padding-top: 10px;
	text-align: center;
}
#menu>li>a{
	font-family: arial;
    font-size: 11pt;
    font-weight: normal;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.fondo_1{
	height: 500px;
	width: 100%;
    background: url('../img/crecimiento2.png') no-repeat;
    float: left;
    margin-bottom: 20px;
}
.hjo1{
    width: 40%;
    height: 600px;
    float: left;
}
.img2{
    background: url('../img/persona.png') no-repeat;
    width: 100%;
    height:600px;
    margin-left: 10%;
}
.hjo2{
    width: 60%;
    height: 600px;
    float: left;
}
.hjo2>div>h1{
    width: 100%;
    height: 75px;
    font-family: arial;
    font-size: 24pt;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    float: left;
    color: #AB5B00;
    padding-top: 65px;
}
.hjo2>div>p{
    font-family: calibri;
    font-size: 16pt;
    font-weight:lighter;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    float: left;
    color: black;
    margin-right:30%;
    line-height: 2;
}
.hjo2>div>botton{
    text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #b6640e;
	color: #AB5B00;
	font-size: 13pt;
	border-radius: 6px;
    width: 18%;
    height: 40px;
	margin-left:2%;
	margin-top: 32px;
	float: left;
    text-align: center;
    padding-top: 15px
}
.hjo2>div>botton:hover{
    background: #D67610;
    color: white;
}
#menu>li>a:hover{
    background: #D67610;
    color: #27EBB8;
}


.parte3{
	background: white;
	width: 100%;
	height: 900px;
	float: left;
}
.parte3>div{
	width: 99%;
	height: 900px;
	margin-left: 1%

}
.parte3>div>div{
	background: #D5DEDC;
	width: 24%;
	height: 525px;
	margin-right: 1%;
	float: left;
	margin-top: 20px;
}
.parte3>div>div>div:first-child{
	width: 30%;
	height: 100px;
	float: left;
	margin:0;
  	padding:0;
	margin-left: 5%;
	margin-top: 15px;

}
.img3{
	background: url('../img/icono1.png');
	width: 100px;
	height: 100px;
}
.img4{
	background: url('../img/icono2.png');
	width: 100px;
	height: 100px;
}
.img5{
	background: url('../img/icono3.png');
	width: 100px;
	height: 100px;
}
.img6{
	background: url('../img/icono4.png');
	width: 100px;
	height: 100px;
}
.parte3>div>div>div:nth-child(2){
    width: 60%;	
	height: 100px;
	float: left;
}
.parte3>div>div>div:nth-child(2)>h2{
	font-size: 18pt;
	font-weight: bolder;
	margin: 0;
	padding: 0;
	padding-top: 20px;
}
.parte3>div>div>div:last-child{
	width: 90%;
	height: 240px;
	float: left;
	margin-left: 8%;
}
.parte3>div>div>div:last-child>p{
  font-size:11pt;
  font-weight:lighter;
  margin:0;
  padding:0;
  line-height: 2;
}


footer{
	width: 100%;
	height: 100px;
	float: left;
	background: black;
    margin-top: 250px
}
footer>div{
    color: white;
	text-align: center;
	font-weight: normal;
	font-size: 10pt;
    margin-top: 10px
}

footer>div:hover{
    color: #0BFFAF;
}

.uno1:hover{
    background: #F5FFFC;
}
.dos2:hover{
     background: #F5FFFC;
}
.tres3:hover{
     background: #F5FFFC;
}
.cuatro4:hover{
     background: #F5FFFC;
}
.cinco5:hover{
     background: #F5FFFC;
}
.seis6:hover{
     background: #F5FFFC;
}
.siete7:hover{
     background: #F5FFFC;
}
.ocho8:hover{
     background: #F5FFFC;
}






