@charset "utf-8";

body{
	background: #a8a8a8;
		width: 100%;
		height: auto;
		font-family: arial;
		margin: 0;
}
#datoz{
	width: 100%;
	background: #f5efe1;
	height: 50px;
	float:left;
}
.datoz1{
	width: 30%;
	background: #e5e5e5;
	height: 50px;
	float:left;
}
.datos2{
	width: 70%;
	background: #e5e5e5;
	height: 50px;
	float:left;
}
.tel{
	width: 15%;
	background: #5b5b5b;
	height: 50px;
	float:left;
	margin-left: 15%; 
}
.numeros{
	width: 40%;
	background: #757575;
	height: 50px;
	float:left;
}
.our{
	width: 30%;
	background: #8d8d8d;
	height: 50px;
	float:left;
}
.info{
	width: 15%;
	background: #8d8d8d;
	height: 50px;
	float:left;
	margin-left: 70%; 
}
.sign{
	width: 15%;
	background: #626262;
	height: 50px;
	float:left;
}
#menus{
	width: 100%;
	background: #f3eddd;
	height: 75px;
	float:left;
}
.m1{
	width: 40%;
	background: #ece8dd;
	height: 75px;
	float:left;
}
.m2{
	width: 60%;
	background: #dad7d1;
	height: 75px;
	float:left;
}
.log{
	width: 30%;
	background: #642323;
	height: 75px;
	float:left;
	margin-left: 11%;
}
.home{
	width: 10%;
	background: #842323;
	height: 75px;
	float:left;
}
.us{
	width: 10%;
	background: #991717;
	height: 75px;
	float:left;
}
.brands{
	width: 10%;
	background: #b72f2f;
	height: 75px;
	float:left;
}
.corporate{
	width: 20%;
	background: #d13737;
	height: 75px;
	float:left;
}
.blog{
	width: 7%;
	background: #f75b5b;
	height: 75px;
	float:left;
}
.comunity{
	width: 25%;
	background: #b15151;
	height: 75px;
	float:left;
}
.contacto{
	width: 13%;
	background: #7e3a3a;
	height: 75px;
	float:left;
}
#cuadro1{
	width: 100%;
	background: #96bcae;
	height: 600px;
	float:left;
}
.c1{
	width: 25%;
	background: #869ca8;
	height: 600px;
	float:left;
}
.c2{
	width: 75%;
	background: #ccdee8;
	height: 600px;
	float:left;
}
.titulo{
	width: 30%;
	height: 30px;
	float: left;
	background: #a6d5ef;
	margin-left: 15%;
	margin-top: 100px;
}
.parrafo{
	width: 80%;
	height: 300px;
	float: left;
	background: #394f5b;
	margin-left: 15%;
	
}
#cuadro2{
	width: 100%;
	height: 300px;
	float: left;
	background: #c49d4c;	
}
.cuadrito1{
	width: 40%;
	background: #ecc256;
	height: 300px;
	float:left;
}
.cuadrito2{
	width: 60%;
	background: #ffd467;
	height: 300px;
	float:left;
}
.hijo1{
	width: 50%;
	background: #816e3f;
	height: 300px;
	float:left;
}
.hijo2{
	width: 50%;
	background: #524527;
	height: 300px;
	float:left;
}
.h1{
	width: 100%;
	background: #cf896a;
	height: 50px;
	float:left;
}
.h2{
	width: 100%;
	background: #62524b;
	height: 200px;
	float:left;
}
.h3{
	width: 100%;
	background: #b66440;
	height: 50px;
	float:left;
}
.h31{
	width: 100%;
	background: #702f13;
	height: 50px;
	float:left;
	margin-left: 60%;
}
.hijo21{
	width: 100%;
	background: #b66440;
	height: 50px;
	float:left;
}
.hijo22{
	width: 100%;
	background: #443631;
	height: 200px;
	float:left;
}
.hijo23{
	width: 100%;
	background: #cf896a;
	height: 50px;
	float:left;
}
.hijo231{
	width: 100%;
	background: #702f13;
	height: 50px;
	float:left;
	margin-left: 60%;
}
#cuadro3{
	width: 100%;
	background: #3b7689;
	height: 600px;
	float:left;
}
.dosimagenes{
	width: 60%;
	background: #578594;
	height: 600px;
	float:left;
}
.jugo{
	width: 40%;
	background: #0d5a73;
	height: 600px;
	float:left;
}
.libro{
	width: 95%;
	background: #a2b0b4;
	height: 277.5px;
	float:left;
	margin-left: 5%;
	margin-top: 25px;
}
.compu{
	width: 95%;
	background: #a2b0b4;
	height: 250px;
	float:left;
	margin-left: 5%;
	margin-top: 25px;
}
.libro1{
	width: 60%;
	background: #a2b0b4;
	height: 277.5px;
	float:left;
}
.libro2{
	width: 40%;
	background: #94dcf4;
	height: 277.5px;
	float:left;
}
.compu1{
	width: 40%;
	background: #94dcf4;
	height: 250px;
	float:left;
}
.compu2{
	width: 60%;
	background: #a2b0b4;
	height: 250px;
	float:left;
}
.libro21{
	width: 20%;
	background: #567492;
	height: 30px;
	float:left;
	margin-left: 10%;
	margin-top: 35px;
}




#cuadro4{
	width: 100%;
	background: #c6d7dd;
	height: 250px;
	float:left;
}
.cuadrito41{
	width: 33.3%;
	background: #2338b8;
	height: 250px;
	float:left;
}
.cuadrito42{
	width: 33.3%;
	background: #3b53e1;
	height: 250px;
	float:left;
}
.cuadrito43{
	width: 33.3%;
	background: #0823c3;
	height: 250px;
	float:left;
}
#cuadro5{
	width: 100%;
	background: #918e45;
	height: 250px;
	float:left;
	margin-top: 0.5%;
}