@charset "utf-8";

body{
	background: #c3c3c3;
	margin: 0;
	padding: 0;
	font-family: calibri;
}
.contenedor{
	display: block;
	margin: auto;
	width: 85%;
	height: auto;
	background: white;
	min-height: 60px;
}

header{
	background: #87c274;
	height: 170px;
	width: 100%;
	float: left;
	float: 
}
