@charset "utf-8";

body{
  background: white;
  font-family: calibri;
  margin:0;
  padding:0;
}
 
header{
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  float: left;
  background: #cf7833;
}
.a{
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  float: left;
  background: #cf7833;
}

header>#a>.icono{
	width: 3%;
	height: 40px;
	float: left;
  border-right: 1px solid white;
}

header>#a>.barra{
  width: 96.9%;
  height: 40px;
  float: left;
}

header>#a>.icono>.camara{
	width: 32px;
    height: 23px;
    background: url('../img/icono_logo.png');
    margin: auto;
    margin-top: 10px;
    display: block;
}

header>#a>.barra>#menu{
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0;
  float: left;
  border-right: 1px solid black;
}


header>#a>.barra>#menu>li{
    width: 12%;
    height: 28px;
    display: block;
    float:left;
    font-size: 10pt;
    text-align: center;
    border-right: 1px solid #ffa156;
    padding-top: 12px;
}

header>#a>.barra>#menu>li>a{
  text-decoration: none;
  text-align: center;
  font-size: 11pt;
  color: white;
}

header>#a>.barra>#menu>li:hover{
  background:orange;
}


#banner{
  background: url('../img/crecimiento2.png');
  width: 1404px;
  height: 674px;
  float: left;
  display: block;
  margin: 0;
  padding: 0;
}

#banner>.persona{
	width: 40%;
	height: 674px;
	float: left;
}

#banner>.texto1{
	width: 60%;
	height: 674px;
	float: left;
}

#banner>div:first-child>.img{
	background: url('../img/persona.png');
	width: 567px;
	height: 498px;
	float: left;
}

#banner>div:nth-child(2)>h1{
  margin: 0;
  padding: 0;
  margin-top: 40px;
  font-size: 28pt;
  font-weight: bold;
  text-align: left;
  color: #c66e27;
  margin-top: 50px;
}

#banner>div:nth-child(2)>p{
  margin: 0;
  padding: 0;
  margin-top: 40px;
  font-size: 18pt;
  font-weight: lighter;
  text-align: left;
  color: #686767;
  line-height: 30pt;
}

#banner>div:last-child>button{
  height:48px;
  width: 22%;
  border-radius:5px;
  border: 1px solid #b26308;
  float: left;
  display: block;
  margin-top: 40px;
  text-align: center;
  font-size: 11pt;
  color: #b26308;
  background: white;
  margin-left: 3%;
 
}

#banner>div:last-child>button:hover{
  background: orange;
  color: white;
}


#s2{
  width: 100%;
  height: 900px;
  float: left;
  background: white;
  margin: 0;
  padding: 0;
}

article>#s2>.parte1{
  width: 100%;
  height: 400px;
  background: white;
}

article>#s2>.parte1>.caja1{
  width: 23.7%;
  height: 380px;
  background: #e2e2e2;
  margin-top: 10px;
  float: left;
  margin-left: 1%;
}

article>#s2>.parte1>.caja1>.hijo1{
  width: 27%;
  height: 70px;
  float: left;
}

article>#s2>.parte1>.caja1>.hijo1>.img2{
  background: url('../img/icono1.png');
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 15%;
}

article>#s2>.parte1>.caja1>.texto2{
  width: 58%;
  margin-left: 10%;
  margin-right: 5%;
  float: left;
}

article>#s2>.parte1>.caja1>.texto3{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  margin-top: 15px;
  line-height: 18pt;
}

article>#s2>.parte1>.caja1>.hijo1>.img3{
  background: url('../img/icono2.png');
  width: 100px;
  height: 100px;
    float: left;
  margin-left: 15%;
}

article>#s2>.parte1>.caja1>.hijo1>.img4{
  background: url('../img/icono3.png');
  width: 100px;
  height: 100px;
    float: left;
  margin-left: 15%;
}

article>#s2>.parte1>.caja1>.hijo1>.img5{
  background: url('../img/icono4.png');
  width: 100px;
  height: 100px;
    float: left;
  margin-left: 15%;
}

footer>div{
  width: 100%;
  height: 120px;
  float: left;
  background: black;
}

footer>div>p{
  text-align: center;
  font-size: 12pt;
  color: white;
  font-weight: normal;
  font-family: century gothic;
  margin: 0;
  padding: 0;
  margin: 10px;
}