@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%
	height: auto;
	font-family: arial;
	margin: 0;
}
#menu{
	width: 100%;
	background: #c3db51;
	height: 60px;
	float: left;
}

.child1{
	width: 55%;
	height: 60px;
	background: #46E9FF;
	float: left; 
}
.a{
	width: 45%;
	float: left;
	height: 60px;
	background: #72f7ff;
}
.b{
	width: 55%;
	float: left;
	height: 60px;
	background: #b8de35;
}

.child2{
	width: 45%;
	float: left;
	background: #e89ec1;
	height: 60px;
}
.c{
	width: 27%;
	float: left;
	height: 60px;
	background: #ff9c71;
}
.d{
	width: 19%;
	float: left;
	height: 60px;
	background: #72f7ff;
}
.e{
	width: 27%;
	float: left;
	height: 60px;
	background: #a974cc;
}
.f{
	width: 27%;
	float: left;
	height: 60px;
	background: #f07575;
}
.g{
	width: 100%;
	background: #F592E6;
	height: 400px;
	float: left;
}
.h{
	width: 100%;
	background: #90D728;
	height: 15px;
	float: left;
}
.seccion2{
	width: 100%;
	background: #86B0CF;
	height: 600px;
	float: left;
}
.i{
	width: 25%;
	margin-left:6%;
	height: 600px;
	background: #75F1DB;
	float: left;
}

.i1{
	width: 100%;
	height: 45%;
	float: left;
	background: #EEF175;
} 
.i2{
	width: 100%;
	height: 10%;
	float: left;
	background: #D79EF5;
} 
.i3{
	width: 100%;
	height: 35%;
	float: left;
	background: #F16F5D;
} 
.i4{
	width: 100%;
	height: 10%;
	float: left;
	background: #993BA7;
}
.i5{
	width: 25%;
	height: 100%;
	float: left;
	margin-left: 40%;
	background: #7CF0AD;
}

.seccion3{
	width: 100%;
	background: #444766;
	height: 400px;
	float: left;
}	
.j{
	width: 50%;
	height: 400px;
	background: #617ad3;
	float: left;
}
.j1{
	width: 50%;
	height: 400px;
	background: #7A1E6F;
	float: left;
}
.j2{
	width: 100%;
	height: 74px;
	background: #86E155;
	float: left;
}
.j3{
	width: 100%;
	height: 74px;
	background: #F3E104;
	float: left;
}
.j4{
	width: 51%;
	height: 74px;
	background: #C3FEF5;
	float: left;
}
.j5{
	width: 49%;
	height: 74px;
	background: #FEC3CF;
	float: left;
}
.j6{
	width: 100%;
	height: 74px;
	background: #F13E95;
	float: left;
}
.j7{
	width: 100%;
	height: 74px;
	background: #FEB864;
	float: left;
}
.j8{
	width: 27%;
	height: 74px;
	background: #5293FE;
	margin-left: 35%;
	float: left;
}
.j9{
	width: 100%;
	height: 107px;
	background: #E95F4C;
	float: left;
}

.seccion4{
	width: 100%;
	height:480px;
	float: left;
	background: #a47fdb;
}
.k{
	width: 57%;
	height: 450px;
	background: #fcf383;
	float: left;
}
.k1{
	width: 40%;
	height: 80px;
	background: #f7b0fc;
	float: left;
	margin-top: 10%;
	margin-left: 1%;
}
.k2{
	width: 56%;
	height: 80px;
	background: #f7b0fc;
	float: left;
	margin-top: 10%;
	margin-left: 2%;
}
.k3{
	width: 40%;
	height: 80px;
	background: #f7b0fc;
	float: left;
	margin-top: 0.5%;
	margin-left: 1%;
}
.k4{
	width: 56%;
	height: 80px;
	background: #f7b0fc;
	float: left;
	margin-top: 0.5%;
	margin-left: 2%;
}
.k5{ 
	width: 40%;
	height: 198px;
	background: #f7b0fc;
	float: left;
	margin-top: 1%;
	margin-left: 1%;
}
.k6{ 
	width: 56%;
	height: 198px;
	background: #f7b0fc;
	float: left;
	margin-top: 1%;
	margin-left: 2%;
}
.l{
	width: 43%;
	height: 500px;
	background: #90D728;
	float: left;
}
.l1{
	width: 99%;
	height: 80px;
	background: #ff9987;
	float: left;
	margin-top: 12%;
	margin-left: 1%;
}
.l2{
	width: 99%;
	height: 80px;
	background: #ff9987;
	float: left;
	margin-top: 12%;
	margin-left: 1%;
}
.l3{
	width: 25%;
	height: 80px;
	background:#87ffc7;
	float: left;
	margin-left: 55%
}





#footer

.m{
	width: 100%;
	height: 250px;
	background:#87ffc7;
	float: left;
}
.m1{
	width: 35%;
	height: 250px;
	background:#1c2247;
	float: left;
}
.m2{
	width: 97%;
	height: 250px;
	background:#ff7a63;
	float: left;
}
.m3{
	width: 65%;
	height: 120px;
	background:#7aced6;
	float: left;
}
.m4{
	width: 28%;
	height: 50px;
	background:#354f91;
	float: left;
	margin-left: 25%;
}
.m5{
	width: 12%;
	height: 50px;
	background:#354f91;
	float: left;
	margin-left: 0.5%;
}
.m6{
	width: 14%;
	height: 50px;
	background:#354f91;
	float: left;
	margin-left: 0.5%;
}
.m7{
	width: 14%;
	height: 50px;
	background:#354f91;
	float: left;
	margin-left: 0.5%;
}





EJERCICIO 2



body{
	background: #80c3e1;
	width: 100%
	height: auto;
	font-family: arial;
	margin: 0;
}
#datos{
	width: 100%;
	background: #FEADFE;
	height: 45px;
	float: left;
}
.tel{
	width: 4.5%;
	background: #FFBE0F;
	height: 45px;
	float: left;
	margin-left: 59.5%;
}
.numeros{
	width: 14%;
	background: #E60FFF;
	height: 45px;
	float: left;
}
.our{
	width: 11%;
	background: #FFBE0F;
	height: 45px;
	float: left;
}
.singin{
	width: 11%;
	background: #C70039;
	height: 45px;
	float: left;
}
#menu{
	width: 100%;
	background: #00B8C7;
	height: 110px;
	float: left;
}
.cuadro{
	width: 40%;
	background: #C70039;
	height: 110px;
	float: left;
}
.logo{
	width: 42%;
	background: #D774FF  ;
	height: 110px;
	float: left;
	margin-left: 10%;
}
.menua{
	width: 60%;
	background: #87FF74;
	height: 110px;
	float: left;
}
.home{
	width: 12%;
	background: #FDFF62;
	height: 110px;
	float: left;
}
.about{
	width: 13%;
	background: #FF6262;
	height: 110px;
	float: left;
}
.products{
	width: 25%;
	background: #00DCFF;
	height: 110px;
	float: left;
}
.experience{
	width: 30%;
	background: #F79AFF;
	height: 110px;
	float: left;
}
.contacto{
	width: 20%;
	background: #FDFF62;
	height: 110px;
	float: left;
}