@charset "utf-8";

body{
  background: white;
  font-family: arial;
  margin:0;
  padding:0;
}

header{
  background: #14254f;
  margin: 0;
  padding: 0;
  height: 70px;
  width: 100%;
  float: left;
}

#menu{
  width: 100%;
  height: 70px;
  float: left;
  padding: 0;
  margin: 0;
}

#menu>li{
  width: 12%;
  height: 45px;
  display: block;
  float: left;
  text-align: center;
  border-right: 1px solid cyan;
 padding-top: 25px;
}

#menu>li>a{
  text-decoration: none;
  color: cyan;
  text-align: center;
}
#menu>li:hover{
  background: #e696ff;
}

#menu>li>a:hover{
  color: black;
}



