@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%
	height: auto;
	font-family: arial;
	margin: 0;
}
#menu{
	width: 100%;
	background: #c3db51;
	height: 60px;
	float: left;
}

.child1{
	width: 55%;
	height: 60px;
	background: #46E9FF;
	float: left; 
}
.a{
	width: 45%;
	float: left;
	height: 60px;
	background: #3aa930;
}
.b{
	width: 55%;
	float: left;
	height: 60px;
	background: #b8de35;
}

.child2{
	width: 45%;
	float: left;
	background: #e89ec1;
	height: 60px;
}
.c{
	width: 27%;
	float: left;
	height: 60px;
	background: #da9f75;
}
.d{
	width: 19%;
	float: left;
	height: 60px;
	background: #c2effe;
}
.e{
	width: 27%;
	float: left;
	height: 60px;
	background: #859e77;
}
.f{
	width: 27%;
	float: left;
	height: 60px;
	background: #cbb442;
}
.g{
	width: 100%;
	background: #F592E6;
	height: 400px;
	float: left;
}
.h{
	width: 100%;
	background: #90D728;
	height: 50px;
	float: left;
}
.seccion2{
	width: 100%;
	background: #86B0CF;
	height: 600px;
	float: left;
}
.i{
	width: 25%;
	margin-left:6%;
	height: 600px;
	background: #75F1DB;
	float: left;
}

.i1{
	width: 100%;
	height: 45%;
	float: left;
	background: #EEF175;
} 
.i2{
	width: 100%;
	height: 10%;
	float: left;
	background: #D79EF5;
} 
.i3{
	width: 100%;
	height: 35%;
	float: left;
	background: #F16F5D;
} 
.i4{
	width: 100%;
	height: 10%;
	float: left;
	background: #993BA7;
}
.i5{
	width: 25%;
	height: 100%;
	float: left;
	margin-left: 40%;
	background: #7CF0AD;
}

.seccion3{
	width: 100%;
	background: #444766;
	height: 400px;
	float: left;
}	
.j{
	width: 50%;
	height: 400px;
	background: #617ad3;
	float: left;
}
.j1{
	width: 50%;
	height: 400px;
	background: #7A1E6F;
	float: left;
}
.j2{
	width: 100%;
	height: 76px;
	background: #86E155;
	float: left;
}
.j3{
	width: 100%;
	height: 76px;
	background: #F3E104;
	float: left;
}
.j4{
	width: 51%;
	height: 76px;
	background: #C3FEF5;
	float: left;
}
.j5{
	width: 49%;
	height: 76px;
	background: #FEC3CF;
	float: left;
}
.j6{
	width: 100%;
	height: 76px;
	background: #F13E95;
	float: left;
}
.j7{
	width: 100%;
	height: 76px;
	background: #FEB864;
	float: left;
}
.j8{
	width: 30%;
	height: 76px;
	background: #5293FE;
	margin-left: 35%;
	float: left;
}
.j9{
	width: 100%;
	height: 96px;
	background: #E95F4C;
	float: left;
}