@charset "utf-8";

body{
  background: white;
  font-family: arial;
  margin:0;
  padding:0;
}

header{
  background: #14254f;
  margin: 0;
  padding: 0;
  height: 70px;
  width: 100%;
  float: left;
}

#menu{
  width: 100%;
  height: 70px;
  float: left;
  padding: 0;
  margin: 0;
}

#menu>li{
  width: 12%;
  height: 45px;
  display: block;
  float: left;
  text-align: center;
  border-right: 1px solid cyan;
 padding-top: 25px;
}

#menu>li>a{
  text-decoration: none;
  color: cyan;
  text-align: center;
}
#menu>li:hover{
  background: #e696ff;
}

#menu>li>a:hover{
  color: black;
}

#banner{
  width: 100%;
  height: 520px;
  background: #a3f4ff;
}

#banner>.hijo1{
  width: 40%;
  height: 520px;
  float: left;
}

#banner>.hijo2{
  width: 60%;
  height: 520px;
  float: left;
}

#banner>.hijo1>.img1{
  width: 501px;
  height: 501px;
  background: url('../img/img-flat.png');
  margin: auto;
  display: block
}

#banner>.hijo2>div>h1{
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  color: purple;
  font-size: 26pt;
  text-align: left;
  font-family: calibri;
  font-weight: bold;
  margin-top: 100px;
}

#banner>.hijo2>div>p{
  letter-spacing: 2px;
  color: black;
  font-family: calibri;
  font-weight: lighter;
  font-size: 16pt;
  margin:0;
  padding: 0;
  text-align: left;
}
#banner>div>div>div>button{
  background:  #a3f4ff;
  height: 50px;
  width: 15%;
  border: 1px solid purple;
  text-align: center;
  font-family: calibri;
  font-size: 12pt;
  font-weight: lighter;
  border-radius: 2px;
  margin-left: 10%;
  margin-top: 10px;
}

#banner>div>div>div>button:hover{
  background: #1d3566;
  cursor: pointer;
  color: white;
}

#art2{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
  height: 250px;
  float: left;
  background: gray;
}

#art2>div:first-child{
  margin-left: 5%;
  width: 27%;
  height: 250px;
  float: left
}
#art2>div:nth-child(2){
  margin-left: 5%;
  width: 27%;
  height: 250px;
  float: left
}
#art2>div:last-child{
  margin-left: 5%;
  width: 27%;
  height: 250px;
  float: left
}

#art2>div>.hijo3{
  width: 30%;
  height: 250px;
  float: left;
}
#art2>div>.texto2{
  width: 70%;
  height: 250px;
  float: left;
}
#art2>div>.hijo3>.img2{
  background: url('../img/v1.png');
  width: 86px;
  height: 85px;
  display: block;
  margin-top: 15px;
}
#art2>div>.texto2>p{
  font-family: calibri;
  color: black;
  letter-spacing: 2px;
  font-size: 12pt;
  font-weight: lighter;
}

footer>div{
  width: 100%;
  height: 70px;
  float: left;
  background: purple;
}

footer>div>p{
  text-align: center;
  font-family: arial;
  font-size: 12pt;
  color: white;
  font-weight: lighter; 
}