@charset "utf-8";

body{
	background: #f6f8f1;
	margin: 0;
	padding: 0;
	font-family: arial;
}

header{
  background: black;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 100%;
  float: left;
}

#menu{
  width: 100%;
  height: 40px;
  float: left;
  padding: 0;
  margin: 0;
}

#menu>li{
  width: 8%;
  height: 40px;
  display: block;
  float: left;
  text-align: center;
  border-right: 1px solid white;

  font-size: 10pt;
  margin: 0;
  padding: 0;
    padding-top: 15px; 
}

#menu>li>a{
  text-decoration: none;
  color: white;
  text-align: center;
}

.btng>button{
  position: absolute;
  top:0;
  right: 43px;
  padding-top: 0 !important; 
  width: 8%;
  height: 40px;
  border-radius:3px;
  border: 1px solid#843893;
  float: left;
  text-align: center;
  font-size: 11pt;
  color:white;
  background: #c561d8;

}


#menu>li:hover{
  background: #843893;
  height: 25px;
}

#menu>li>a:hover{
  color: white;
}

article>#banner{
	background: url('../img/crecimiento2.png');
	width: 1404px;
	height: 674px;
	float: left;
	margin: 0;
	padding: 0;
}

.hijo1{
	width:50%;
	float: left;
	height: auto;
}


section>article>div:first-child>.hijo1>h1{
  font-size: 24pt;
  color: purple;
  margin-left: 20%;
  margin-top: 80px;
}

section>article>div:first-child>.hijo1>p{
  font-size: 12pt;
  color: black;
  margin-left: 20%;
  margin-top: 50px;
  line-height: 25pt;
  
}
section>article>div>div>button{
  width: 17%;
  height: 40px;
  border-radius:5px;
  border: 1px solid#843893;
  float: right;
  text-align: center;
  font-size: 11pt;
  color:#843893;
  background: white;
  margin-left: 5%; 
}

section>article>div:last-child>.mujer{
background: url('../img/persona3.png');
width: 567px;
height: 498px;
float: right;
}

#gris{
	width: 100%;
	height:400px;
	float: left;
	background: #ededed;
	margin-top: 20px;
}

#gris>.caja1{
	width: 30%;
	height: 400px;
}

#gris>div>.icono2{
  width: 30%;
  float: left;
}
#gris>div>.texto2{
  width: 70%;
  float: left;
}
#gris>div>.icono2>.imgg{
  background: url('../img/icono5.png');
  width: 100px;
  height: 100px;
  display: block;
  margin-top: 15px;
  margin: 5%;
}
#gris>div>.texto2>p{
  font-family: calibri;
  color: black;
  letter-spacing: 2px;
  font-size: 12pt;
  font-weight: lighter;
  margin: 5%;
}

#gris>.caja1>.texto3{
  font-family: arial;
  color: black;
  font-size: 12pt;
  font-weight: lighter;
  margin: 5%;
  padding: 0;
}

#gris>.caja1>.icono2
  background: url('../img/icono5.png');
  width: 100px;
  height: 100px;
  display: block;
  margin-top: 15px;
  margin: 5%;
}

.caja2{
	width: 30%;
	height: 400px;
}


footer>div{
  width: 100%;
  height: 100px;
  float: left;
  background: purple;
}

footer>div>p{
  text-align: center;
  font-size: 12pt;
  color: white;
}