@charset "utf-8";

body{
	background: #B2B2B2;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
header{
	width: 100%;
	height: auto;
	float: left;
	background: #D37171; 
}
.child1{
	width: 100%;
	height: 50px;
	float: left;
	background: #446BAA;
}
.a{
	width: 50%;
	height: 50px;
	float: left;
	background: #B21F1F;
}
.b{
	width: 50%;
	height: 50px;
	float: left;
	background: #B21F1F;
}
.b1{
	width: 10%;
	height: 50px;
	float: left;
	background: #6A3C75;
}
.b2{
	width: 45%;
	height: 50px;
	float: left;
	background: #3C3C75;
}
.b3{
	width: 15%;
	height: 50px;
	float: left;
	background: #3C6F75;
}
.b4{
	width: 15%;
	height: 50px;
	float: left;
	background: #3C755E;
}
.b5{
	width: 15%;
	height: 50px;
	float: left;
	background: #55753C;
}
.child2{
	width: 100%;
	height: 50px;
	float: left;
	background: #446BAA;
}
.c{
	width: 30%;
	height: 80px;
	float: left;
	background: #446BAA;
}
.c1{
	width: 30%;
	height: 80px;
	float: left;
	margin-left: 7%;
	background: #6D91C6;
}
.d{
	width: 70%;
	height: 80px;
	float: left;
	background: #95C9B1;
}
.d1{
	width: 20%;
	height: 80px;
	float: left;
	background: #E8AD28;
}
.d2{
	width: 15%;
	height: 80px;
	float: left;
	background: #628721;
}
.d3{
	width: 15%;
	height: 80px;
	float: left;
	background: #56A8A6;
}
.d4{
	width: 15%;
	height: 80px;
	float: left;
	background: #568BA8;
}
.d5{
	width: 5%;
	height: 80px;
	float: left;
	background: #646AE2;
}
.d6{
	width: 15%;
	height: 80px;
	float: left;
	background: #AB64E2;
}
.d7{
	width: 15%;
	height: 80px;
	float: left;
	background: #BA49B5;
}
section{
	width: 100%;
	height: auto;
	float: left;
	background: #A9A9AA; 
}
.child3{
	width: 100%;
	height: 500px;
	float: left;
	background: #446493;
}
.e{
	width: 60%;
	height: 500px;
	float: left;
	background: #A7B3C6;
}
.e1{
	width: 90%;
	height: 200px;
	float: left;
	margin-left: 5%;
	margin-top: 70px;
	background: #1F6321;
}
.e1a{
	width: 100%;
	height: 50px;
	float: left;
	background: #4A6340;
}
.e1b{
	width: 100%;
	height: 100px;
	float: left;
	background: #66AA88;
}
.e1c{
	width: 100%;
	height: 0px;
	float: left;
	background: #0F3F34;
}
.f{
	width: 40%;
	height: 500px;
	float: left;
	background: #294977;
}
.child4{
	width: 100%;
	height: 300px;
	float: left;
	background: #91172F;
}
.g{
	width: 40%;
	height: 300px;
	float: left;
	background: #A56A9F;
}
.h{
	width: 30%;
	height: 300px;
	float: left;
	background: #471F43;
}
.h1{
	width: 100%;
	height: 50px;
	float: left;
	background: #B59223;
}
.h2{
	width: 100%;
	height: 200px;
	float: left;
	background: #649B38;
}
.h3{
	width: 100%;
	height: 50px;
	float: left;
	background: #C6602E;
}
.h3a{
	width: 25%;
	height: 50px;
	float: left;
	margin-left: 60%;
	background: #C60E17;
}
.i{
	width: 30%;
	height: 300px;
	float: left;
	background: #471F43;
}
.i1{
	width: 100%;
	height: 50px;
	float: left;
	background: #4CBEC1;
}
.i2{
	width: 100%;
	height: 200px;
	float: left;
	background: #4D5B5B;
}
.i3{
	width: 100%;
	height: 50px;
	float: left;
	background: #3B4863;
}
.i3a{
	width: 25%;
	height: 50px;
	float: left;
	margin-left: 60%;
	background: #C60E17;
}
.child5{
	width: 100%;
	height: 510px;
	float: left;
	background: #F4E9BD;
	border-bottom: 1px solid white;
}
.j{
	width: 27%;
	height: 490px;
	float: left;
	margin-left: 2%;
	margin-top: 10px;
	background: #D691D8;
}
.k{
	width: 68%;
	height: 235px;
	float: left;
	margin-left: 2%;
	margin-top: 10px;
	background: #6B326D;
}
.k1{
	width: 50%;
	height: 235px;
	float: left;
	background: #FFFFFF;
}
.k2{
	width: 50%;
	height: 235px;
	float: left;
	background: #743B4A;
}
.l{
	width: 68%;
	height: 235px;
	float: left;
	margin-left: 2%;
	margin-top: 10px;
	background: #6B326D;
}
.l1{
	width: 50%;
	height: 235px;
	float: left;
	background: #BF9893;
}
.l2{
	width: 50%;
	height: 235px;
	float: left;
	background: #FFFFFF;
}
.m{
	width: 100%;
	height: 10px;
	float: left;
	background: #CFB97F;
}
.child6{
	width: 100%;
	height: 400px;
	float: left;
	background: #1C2023;
}
.n{
	width: 100%;
	height: 199px;
	float: left;
	background: #D691D8;
	border-bottom: 1px solid white;
}
.n1{
	width: 50%;
	height: 199px;
	float: left;
	background: #BCBCBC;
}
.n2{
	width: 50%;
	height: 199px;
	float: left;
	background: #5D5D5D;
}
.ñ{
	width: 100%;
	height: 199px;
	float: left;
	background: #6D6C6D;
}
.ñ1{
	width: 34%;
	height: 199px;
	float: left;
	background: #39203A;
}
.ñ2{
	width: 33%;
	height: 199px;
	float: left;
	background: #D4B691;
}
.ñ3{
	width: 33%;
	height: 199px;
	float: left;
	background: #B89189;
}
.child7{
	width: 100%;
	height: 500px;
	float: left;
	background: #494949;
}
.o{
	width: 100%;
	height: 500px;
	float: left;
	background: #9AE3EF;
}