@charset "utf-8";

body{
	background: #ffffff;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
header{
	width: 100%;
	height: auto;
	float:left;
	background: #d0d8f4;
}
.child1{
	width: 100%;
	height:60px;
	float: left;
	background: #010101; 
}
.a{
	width: 60%;
	height:60px;
	float: left;
	background: #4a4a4a;
}
.b{
	width: 40%;
	height:60px;
	float: left;
	background: #6793ba;
}
.b1{
	width: 10%;
	height:60px;
	float: left;
	background: #54adfd;
}
.b2{
	width: 45%;
	height:60px;
	float: left;
	background: #4791d4;
}
.b3{
	width: 25%;
	height:60px;
	float: left;
	background: #3675ae;
}
.b4{
	width: 20%;
	height:60px;
	float: left;
	background: #1f486d;
}
.child2{
	width: 100%;
	height:100px;
	float: left;
	background: #cfd5ea; 
	border-bottom: 10px solid #54adfd;
}
.c{
	width: 40%;
	height:100px;
	float: left;
	background: #92b7d9;
}
.c1{
	width: 40%;
	height:100px;
	float: left;
	margin-left: 10%;
	background: #0064ba;
}
.d{
	width: 60%;
	height:100px;
	float: left;
	background: #7f86a1;
}
.d1{
	width: 10%;
	height:100px;
	float: left;
	background: #d9fefc;
}
.d2{
	width: 15%;
	height:100px;
	float: left;
	background: #b0e5e2;
}
.d3{
	width: 20%;
	height:100px;
	float: left;
	background: #95d3d0;
}
.d4{
	width: 35%;
	height:100px;
	float: left;
	background: #76bfbb;
}
.d5{
	width: 20%;
	height:100px;
	float: left;
	background: #56a5a1;
}
section{
	width: 100%;
	height: auto;
	float:left;
	background: #ececec;
	border-top: 10px solid #0163ba;
}
.child3{
	width: 100%;
	height:500px;
	float: left;
	background: #a9a8a8; 
}
.e{
	width: 50%;
	height:500px;
	float: left;
	background: #cfcfcf;
}
.e1{
	width: 90%;
	height:300px;
	float: left;
	margin-left: 5%;
	margin-top: 170px;
	background: #453f3f;
}
.e101{
	width: 100%;
	height:62px;
	float: left;
	background: #fefefe;
}
.e102{
	width: 100%;
	height: 175px;
	float: left;
	background: #615a5a;
}
.e103{
	width: 100%;
	height:63px;
	float: left;
	background: #3f3939;
}
.e103a{
	width: 20%;
	height:50px;
	float: left;
	margin-left: 80%;
	background: #7bc9ef;
}
.f{
	width: 50%;
	height:500px;
	float: left;
	background: #cfcfcf;
}
.child4{
	width: 100%;
	height:300px;
	float: left;
	background: #888888; 
}
.g{
	width: 70%;
	height:300px;
	float: left;
	background: #0163ba;
}
.g1{
	width: 100%;
	height: 63px;
	float: left;
	background: #d5e8fa;
}
.g2{
	width: 100%;
	height: 175px;
	float: left;
	background: #0163ba;
}
.g3{
	width: 100%;
	height: 62px;
	float: left;
	background: #185d9a;
}
.g3a{
	width: 20%;
	height: 50px;
	float: left;
	margin-top: 5px;
	margin-left: 78%;
	background: #ffffff;
}
.h{
	width: 30%;
	height:300px;
	float: left;
	background: #476784;
}