@charset "utf-8";

body{
	background: #ffffff;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
header{
	width: 100%;
	height: auto;
	float:left;
	background: #d0d8f4;
}
.child1{
	width: 100%;
	height:60px;
	float: left;
	background: #010101; 
}
.a{
	width: 60%;
	height:60px;
	float: left;
	background: #4a4a4a;
}
.b{
	width: 40%;
	height:60px;
	float: left;
	background: #6793ba;
}
.b1{
	width: 10%;
	height:60px;
	float: left;
	background: #54adfd;
}
.b2{
	width: 45%;
	height:60px;
	float: left;
	background: #4791d4;
}
.b3{
	width: 25%;
	height:60px;
	float: left;
	background: #3675ae;
}
.b4{
	width: 20%;
	height:60px;
	float: left;
	background: #1f486d;
}
.child2{
	width: 100%;
	height:100px;
	float: left;
	background: #cfd5ea; 
	border-bottom: 10px solid #54adfd;
}
.c{
	width: 40%;
	height:100px;
	float: left;
	background: #92b7d9;
}
.c1{
	width: 40%;
	height:100px;
	float: left;
	margin-left: 10%;
	background: #0064ba;
}
.d{
	width: 60%;
	height:100px;
	float: left;
	background: #7f86a1;
}
.d1{
	width: 10%;
	height:100px;
	float: left;
	background: #d9fefc;
}
.d2{
	width: 15%;
	height:100px;
	float: left;
	background: #b0e5e2;
}
.d3{
	width: 20%;
	height:100px;
	float: left;
	background: #95d3d0;
}
.d4{
	width: 35%;
	height:100px;
	float: left;
	background: #76bfbb;
}
.d5{
	width: 20%;
	height:100px;
	float: left;
	background: #56a5a1;
}
section{
	width: 100%;
	height: auto;
	float:left;
	background: #ececec;
	border-top: 10px solid #0163ba;
}
.child3{
	width: 100%;
	height:500px;
	float: left;
	background: #a9a8a8; 
	border-bottom: 2px solid #000000;
}
.e{
	width: 50%;
	height:500px;
	float: left;
	background: #cfcfcf;
}
.e1{
	width: 90%;
	height:300px;
	float: left;
	margin-left: 5%;
	margin-top: 170px;
	background: #453f3f;
}
.e101{
	width: 100%;
	height:62px;
	float: left;
	background: #fefefe;
}
.e102{
	width: 100%;
	height: 175px;
	float: left;
	background: #615a5a;
}
.e103{
	width: 100%;
	height:63px;
	float: left;
	background: #3f3939;
}
.e103a{
	width: 20%;
	height:50px;
	float: left;
	margin-left: 80%;
	background: #7bc9ef;
}
.f{
	width: 50%;
	height:500px;
	float: left;
	background: #cfcfcf;
}
.child4{
	width: 100%;
	height:300px;
	float: left;
	background: #888888; 
	border-top: 2px solid #0163ba;
}
.g{
	width: 70%;
	height:300px;
	float: left;
	background: #0163ba;
}
.g1{
	width: 100%;
	height: 63px;
	float: left;
	background: #d5e8fa;
}
.g2{
	width: 100%;
	height: 175px;
	float: left;
	background: #0163ba;
}
.g3{
	width: 100%;
	height: 62px;
	float: left;
	background: #185d9a;
}
.g3a{
	width: 20%;
	height: 50px;
	float: left;
	margin-top: 5px;
	margin-left: 78%;
	background: #ffffff;
}
.h{
	width: 30%;
	height:300px;
	float: left;
	background: #476784;
}
.child5{
	width: 100%;
	height: 800px;
	float: left;
	background: #60919d; 
}
.i{
	width: 100%;
	height: 400px;
	float: left;
	background: #ffffff; 
}
.i1{
	width: 30%;
	height: 350px;
	float: left;
	margin-left: 2%;
	margin-top: 25px;
	background: #61989b; 
}
.i1a{
	width: 100%;
	height: 60px;
	float: left;
	background: #9fcbec; 
}
.i1a01{
	width: 40%;
	height: 60px;
	float: left;
	background: #0363b9; 
}
.i1b{
	width: 100%;
	height: 230px;
	float: left;
	background: #73acd7; 
}
.i1c{
	width: 100%;
	height: 60px;
	float: left;
	background: #5a93be; 
}
.i1c01{
	width: 30%;
	height: 60px;
	float: left;
	margin-left: 70%;
	background: #0163ba; 
}
.i2{
	width: 30%;
	height: 350px;
	float: left;
	margin-left: 3%;
	margin-top: 25px;
	background: #61989b; 
}
.i2a{
	width: 100%;
	height: 60px;
	float: left;
	background: #9fcbec; 
}
.i2a01{
	width: 40%;
	height: 60px;
	float: left;
	background: #0363b9; 
}
.i2b{
	width: 100%;
	height: 230px;
	float: left;
	background: #73acd7; 
}
.i2c{
	width: 100%;
	height: 60px;
	float: left;
	background: #5a93be; 
}
.i2c01{
	width: 30%;
	height: 60px;
	float: left;
	margin-left: 70%;
	background: #0163ba; 
}
.i3{
	width: 30%;
	height: 350px;
	float: left;
	margin-left: 3%;
	margin-top: 25px;
	background: #61989b; 
}
.i3a{
	width: 100%;
	height: 60px;
	float: left;
	background: #9fcbec; 
}
.i3a01{
	width: 40%;
	height: 60px;
	float: left;
	background: #0363b9; 
}
.i3b{
	width: 100%;
	height: 230px;
	float: left;
	background: #73acd7; 
}
.i3c{
	width: 100%;
	height: 60px;
	float: left;
	background: #5a93be; 
}
.i3c01{
	width: 30%;
	height: 60px;
	float: left;
	margin-left: 70%;
	background: #0163ba; 
}
.j{
	width: 100%;
	height: 400px;
	float: left;
	background: #ffffff; 
}
.j1{
	width: 30%;
	height: 350px;
	float: left;
	margin-left: 2%;
	margin-top: 25px;
	background: #61989b; 
}
.j1a{
	width: 100%;
	height: 60px;
	float: left;
	background: #9fcbec; 
}
.j1a01{
	width: 40%;
	height: 60px;
	float: left;
	background: #0363b9; 
}
.j1b{
	width: 100%;
	height: 230px;
	float: left;
	background: #73acd7; 
}
.j1c{
	width: 100%;
	height: 60px;
	float: left;
	background: #5a93be; 
}
.j1c01{
	width: 30%;
	height: 60px;
	float: left;
	margin-left: 70%;
	background: #0163ba; 
}
.j2{
	width: 30%;
	height: 350px;
	float: left;
	margin-left: 3%;
	margin-top: 25px;
	background: #61989b; 
}
.j2a{
	width: 100%;
	height: 60px;
	float: left;
	background: #9fcbec; 
}
.j2a01{
	width: 40%;
	height: 60px;
	float: left;
	background: #0363b9; 
}
.j2b{
	width: 100%;
	height: 230px;
	float: left;
	background: #73acd7; 
}
.j2c{
	width: 100%;
	height: 60px;
	float: left;
	background: #5a93be; 
}
.j2c01{
	width: 30%;
	height: 60px;
	float: left;
	margin-left: 70%;
	background: #0163ba; 
}
.j3{
	width: 30%;
	height: 350px;
	float: left;
	margin-left: 3%;
	margin-top: 25px;
	background: #61989b; 
}
.j3a{
	width: 100%;
	height: 60px;
	float: left;
	background: #9fcbec; 
}
.j3a01{
	width: 40%;
	height: 60px;
	float: left;
	background: #0363b9; 
}
.j3b{
	width: 100%;
	height: 230px;
	float: left;
	background: #73acd7; 
}
.j3c{
	width: 100%;
	height: 60px;
	float: left;
	background: #5a93be; 
}
.j3c01{
	width: 30%;
	height: 60px;
	float: left;
	margin-left: 70%;
	background: #0163ba; 
}
.child6{
	width: 100%;
	height: 300px;
	float: left;
	background: #9f7a4c; 
}
.k{
	width: 30%;
	height: 300px;
	float: left;
	background: #f3d9c8; 
}
.l{
	width: 70%;
	height: 300px;
	float: left;
	background: #9f876f; 
}
.l1{
	width: 50%;
	height: 300px;
	float: left;
	background: #0163ba; 
}
.l1a{
	width: 90%;
	height: 50px;
	float: left;
	margin-left: 4%;
	margin-top: 20px;
	background: #3583c8; 
}
.l1a01{
	width: 30%;
	height: 50px;
	float: left;
	background: #ffffff; 
}
.l1b{
	width: 90%;
	height: 200px;
	float: left;
	margin-left: 4%;
	background: #1f407a; 
}
.l2{
	width: 50%;
	height: 300px;
	float: left;
	background: #0160b3; 
}
.l2a{
	width: 40%;
	height: 100px;
	float: left;
	margin-left: 10%;
	margin-top: 75px;
	background: #ffffff; 
}
.child7{
	width: 100%;
	height: 500px;
	float: left;
	background: #262022; 
}
.m{
	width: 60%;
	height: 410px;
	float: left;
	margin-top: 40px;
	margin-left: 4%;
	background: #3c3336; 
}
.m1{
	width: 100%;
	height: 50px;
	float: left;
	background: #82bed8; 
}
.m1a{
	width: 50%;
	height: 50px;
	float: left;
	background: #2fb4e1; 
}
.m2{
	width: 15%;
	height: 50px;
	float: left;
	margin-top: 40px;
	margin-left: 5%;
	background: #ffffff; 
}
.m3{
	width: 65%;
	height: 50px;
	float: left;
	margin-top: 40px;
	margin-left: 10%;
	background: #ffffff; 
}
.m4{
	width: 15%;
	height: 50px;
	float: left;
	margin-top: 40px;
	margin-left: 5%;
	background: #ffffff; 
}
.m5{
	width: 65%;
	height: 50px;
	float: left;
	margin-top: 40px;
	margin-left: 10%;
	background: #ffffff; 
}
.m6{
	width: 15%;
	height: 50px;
	float: left;
	margin-top: 40px;
	margin-left: 5%;
	background: #ffffff; 
}
.m7{
	width: 65%;
	height: 110px;
	float: left;
	margin-top: 40px;
	margin-left: 10%;
	background: #ffffff; 
}
.n{
	width: 30%;
	height: 410px;
	float: left;
	margin-top: 40px;
	margin-left: 3%;
	background: #3c3336; 
}
.n1{
	width: 25%;
	height: 50px;
	float: left;
	margin-top: 90px;
	margin-left: 5%;
	background: #ffffff; 
}
.n2{
	width: 60%;
	height: 50px;
	float: left;
	margin-top: 90px;
	margin-left: 5%;
	background: #ffffff; 
}
.n3{
	width: 20%;
	height: 70px;
	float: left;
	margin-top: 70px;
	margin-left: 75%;
	background: #0163ba; 
}
footer{
	width: 100%;
	height: auto;
	float:left;
	background: #0063c0;
}
.o{
	width: 20%;
	height: 230px;
	float: left;
	background: #0063c0; 
}
.o1{
	width: 40%;
	height: 50px;
	float: left;
	margin-left: 30%;
	margin-top: 25px;
	background: #ffffff; 
}
.o2{
	width: 10%;
	height: 40PX;
	float: left;
	margin-left: 30%;
	margin-top: 15px;
	background: #12110d; 
}
.o3{
	width: 10%;
	height: 40px;
	float: left;
	margin-left:5%;
	margin-top: 15px;
	background: #12110d; 
}
.o4{
	width: 10%;
	height: 40px;
	float: left;
	margin-left: 5%;
	margin-top: 15px;
	background: #12110d; 
}
.p{
	width: 80%;
	height: 230px;
	float: left;
	background: #014c93; 
}
.p1{
	width: 100%;
	height: 50px;
	float: left;
	background: #063569; 
	border-bottom: 3px solid #032447;
}
.p1a{
	width: 10%;
	height: 50px;
	float: left;
	margin-left: 15%;
	background: #95cbfd; 
}
.p1b{
	width: 15%;
	height: 50px;
	float: left;
	background: #86b6e3; 
}
.p1c{
	width: 20%;
	height: 50px;
	float: left;
	background: #719ac1; 
}
.p1d{
	width: 25%;
	height: 50px;
	float: left;
	background: #5f82a2; 
}
.p1e{
	width: 15%;
	height: 50px;
	float: left;
	background: #4c677f; 
}
.p2{
	width: 100%;
	height: 50px;
	float: left;
	margin-top: 130px;
	background: #2e77bc; 
}
.p2a{
	width: 15%;
	height: 50px;
	float: left;
	margin-left: 15%;
	background: #ffffff; 
}