@charset "utf-8";

body{
	background:#22e2f3;
	width:100%;
	height: auto;
	font-family: arial;
	margin: 0;

}
header{
	width: 100%;
	height: 60px;
	float: left;
	background: #a7f323;
}

.child1{ 
	width: 55%;
	height: 60px;
	float: left;
	background: #e0592b;

}
.child2{
	width: 45%;
	height:60px;
	float: left;
	background: #973f54;
}
.a{
	width: 45%;
	height: 60px;
	float: left;
	background: #ff5200;
}
.b{
	width: 55%;
	height: 60px;
	float: left;
	background: #ecaa00;
}
.c{
	width: 27%;
	height: 60px;
	float: left;
	background: #00ce7d;
}
.d{
	width: 27%;
	height: 60px;
	float: left;
	background: #c7553b;
}
.e{
	width: 19%;
	height: 60px;
	float: left;
	background: #f0a055;
}
.f{
	width: 27%;
	height: 60px;
	float: left;
	background: #7b98ac;
}
section{
	width: 100%;
	height: 1200px;
	float: left;
	background: #c9a978;

}

.child3{
	width: 100%;
	height: 240px;
	float: left;
	background: #4b384c;

}

.child4{
	width: 100%;
	height: 10px;
	float: left;
	background: #081f2d;
}

.child5{
	width: 100%;
	height: 360px;
	float: left;
	background: #41770d;
}

.g{
	width: 25%;
	height: 360px;
	float: left;
	margin-left: 6.25%;
	background: #7ba5de;
}

.h{
	width: 25%;
	height: 360px;
	float: left;
	margin-left: 6.25%;
	background: #7ba5de;
}

.i{
	width: 25%;
	height: 360px;
	float: left;
	margin-left: 6.25%;
	background: #7ba5de;
}

.ga{
	width: 100%;
	height: 180px;
	margin-top: 180px;
	background: #ff6c00;
}

.ha{
	width: 100%;
	height: 180px;
	margin-top: 180px;
	background: #ff6c00;
}

.ia{
	width: 100%;
	height: 180px;
	margin-top: 180px;
	background: #ff6c00;
}
.ga1{
	width: 100%;
	height: 25px;
	background: #9cd64e;
}
.ga2{
	width: 100%;
	height: 105px;
	background: #ced743;
}
.ga3{
	width: 100%;
	height: 50px;
	background: #d79a43;
}

.ha1{
	width: 100%;
	height:25px;
	background: #9cd64e;
}

.ha2{
	width: 100%;
	height: 105px;
	background: #ced743;
}
.ha3{
	width: 100%;
	height: 50px;
	background: #d79a43;
}

.ia1{
	width: 100%;
	height:25px;
	background: #9cd64e;
}

.ia2{
	width: 100%;
	height: 105px;
	background: #ced743;
}
.ia3{
	width: 100%;
	height: 50px;
	background: #d79a43;
}
.ga3a{
	width: 33.333%;
	height: 100%;
	float: left;
	background: #d65d4c;
}

.ga3b{
	width: 33.333%;
	height: 100%;
	float: left;
	background: #b92a2a;
}

.ga3c{
	width: 33.333%;
	height: 100%;
	float: left;
	background: #d65d4c;
}

.ha3a{
	width: 33.333%;
	height: 100%;
	float: left;
	background: #d65d4c;
}

.ha3b{
	width: 33.333%;
	height: 100%;
	float: left;
	background: #b92a2a;
}

.ha3c{
	width: 33.333%;
	height: 100%;
	float: left;
	background: #d65d4c;
}

.ia3a{
	width: 33.333%;
	height: 100%;
	float: left;
	background: #d65d4c;
}

.ia3b{
	width: 33.333%;
	height: 100%;
	float: left;
	background: #b92a2a;
}

.ia3c{
	width: 33.333%;
	height: 100%;
	float: left;
	background: #d65d4c;
}

.child6{
	width: 100%;
	height: 240px;
	float: left;
	background: #786da9;
}

.j{
	width: 50%;
	height: 240px;
	float: left;
	background:#9994ac;
}

.k{
	width: 50%;
	height: 240px;
	float: left;
	background: #94a4ac;
}

.ka{
	width: 100%;
	height: 20%;
	float: left;
	background: #2d9ad2;
}

.kb{
	width: 100%;
	height: 17%;
	float: left;
	background: #89173d;
}

.kc{
	width: 100%;
	height: 17%;
	float: left;
	background: #2dd277;
}

.kd{
	width: 100%;
	height: 17%;
	float: left;
	background: #962dd2;
}

.ke{
	width: 100%;
	height: 29%;
	float: left;
	background: #177d89;
}

.kb1{
	width:50%;
	height:100%;
	float: left;
	background: #17896a;
}
.kb2{
	width:50%;
	height:100%;
	float: left;
	background: #178942;
}

.kd1{
	width:40%;
	height:100%;
	float: left;
	background: #5f8917;
}

.kd2{
	width:20%;
	height:100%;
	float: left;
	background: #d1a60f;
}

.kd3{
	width:40%;
	height:100%;
	float: left;
	background: #5f8917;
}

.l{
	width: 55%;
	height: 360px;
	float: left;
	background:#415464;
}

.m{
	width: 45%;
	height: 360px;
	float: left;
	background:#d09412;
}

.la{
	width: 44%;
	height: 265px;
	float: left;
	margin-top: 75px;
	margin-left: 0.5%;
	background:transparent;
}

.la1{
	width: 100%;
	height: 25%;
	float: left;
	background:#2a8d26;
}
.la2{
	width: 100%;
	height: 25%;
	float: left;
	margin-top: 5px;
	background:#1b5d18;
}

.la3{
	width: 100%;
	height: 45%;
	float: left;
	margin-top:10px;
	background:#3a5d18;
}

.lb{
	width: 53%;
	height: 265px;
	float: left;
	margin-top: 75px;
	margin-left: 1.5%;
	background:transparent;
}

.lb1{
	width: 100%;
	height: 25%;
	float: left;
	background:#d5891c;
}

.lb2{
	width: 100%;
	height: 25%;
	float: left;
	margin-top: 5px;
	background:#c46a1a;
}

.lb3{
	width: 100%;
	height: 45%;
	float: left;
	margin-top:10px;
	background:#b8410c;
}

.lc{
	width: 100%;
	height: 20px;
	float: left;
	background:#e48c8c;
}

.ma{
	width: 100%;
	height: 75px;
	float: left;
	margin-top: 75px;
	background:#b27e7e;
}

.mb{
	width: 100%;
	height: 75px;
	float: left;
	margin-top: 15px;
	background:#7e4f4f;
}

.mb1{
	width: 70%;
	height: 100%;
	float: left;
	background: #dfacac;
}

.mb2{
	width: 20%;
	height: 100%;
	float: left;
	background: #5a1f1f;
}

.mb3{
	width: 10%;
	height: 100%;
	float: left;
	background: #7b6565;
}