@charset "utf-8";
body{
	background: #003399;
	width:100%;
	height:auto;
	font-family: arial;
	margin:0;
}
header{
	background: #FF6699;
	width:100%;
	height:170px;
	float: left;
}
.child1{
	background:#9966FF;
	width: 100%;
	height:50px;
	float: left;
}
.child2{
	background:#66CC99;
	width: 100%;
	height:100px;
	float: left;
}
.a{
	background:#996699;
	width: 60%;
	height:50px;
	float: left;
}
.b{
	background:#FF33FF;
	width: 40%;
	height:50px;
	float: left;
}
.ba{
	background:#FF9933;
	width: 15%;
	height:50px;
	float: left;
}
.bb{
	background:#FF6600;
	width: 35%;
	height:50px;
	float: left;
}
.bc{
	background:#FF9933;
	width: 25%;
	height:50px;
	float: left;
}
.bd{
	background:#FF6600;
	width: 25%;
	height:50px;
	float: left;
}
.c{
	background:#CC3366;
	width: 35%;
	height:110px;
	float: left;
}
.d{
	background:#CC3333;
	width: 65%;
	height:110px;
	float: left;
}
.ca{
	background:#33FFFF;
	width: 35%;
	height:100px;
	margin-left: 10%;
	float: left;
}
.da{
	background:#66FF33;
	width: 12%;
	height:100px;
	float: left;
}
.db{
	background:#339900;
	width: 15%;
	height:100px;
	float: left;
}
.dc{
	background:#66FF33;
	width: 26%;
	height:100px;
	float: left;
}
.dd{
	background:#339900;
	width: 26%;
	height:100px;
	float: left;
}
.de{
	background:#66FF33;
	width: 21%;
	height:100px;
	float: left;
}
.child3{
	background:#000033;
	width: 100%;
	height:10px;
	float: left;
}
.child4{
	background:#660033;
	width: 100%;
	height:10px;
	float: left;
}
section{
	background:#BFA4C1;
	width: 100%;
	height:2000px;
	float: left;
}
.child5{
	background:#9E80E5;
	width: 100%;
	height:400px;
	float: left;
}

.ea1{
	background:#C7E580;
	width: 40%;
	height:250px;
	margin-left: 3%;
	margin-top: 125px;
	float: left;
}
.ea1a{
	background:#C7E950;
	width: 100%;
	height:60px;
	float: left;
}
.ea1b{
	background:#E5DB80;
	width: 100%;
	height:130px;
	float: left;
}
.ea1c{
	background:#E5A980;
	width: 100%;
	height:60px;
	float: left;
}
.ea1ca{
	background:#E28181;
	width: 20%;
	height:60px;
	margin-left: 80%;
	float: left;
}
.child6{
	background:#1A1C35;
	width: 100%;
	height:10px;
	float: left;
}
.child7{
	background:#A83F3F;
	width: 100%;
	height:250px;
	float: left;
}
.f{
	background:#3FA871;
	width: 65%;
	height:250px;
	float: left;
}
.g{
	background:#3F82A8;
	width: 35%;
	height:250px;
	float: left;
}
.fa{
	background:#4EA83F;
	width: 90%;
	height:210px;
	float: left;
	margin-left: 10%;
	margin-top: 30px;
}
.fa1{
	background:#A83F3F;
	width: 100%;
	height:40px;
	float: left;
}
.fa2{
	background:#3F46A8;
	width: 100%;
	height:125px;
	float: left;
}
.fa3{
	background:#64333F;
	width: 100%;
	height:45px;
	float: left;
}
.fa3a{
	background:#AA93A5;
	width:20%;
	height:45px;
	float: left;
	margin-left:75%;
}
.ga{
	background:#6B0352;
	width: 100%;
	height:6px;
	float: left;
}
.child8{
	background:#3B628C;
	width: 100%;
	height:700px;
	float: left;
}
.h{
	background:#89E8D6;
	width: 100%;
	height:350px;
	float: left;
}
.i{
	background:#E8E589;
	width: 100%;
	height:350px;
	float: left;
}
.ha{
	background:#E58992;
	width: 29%;
	height:330px;
	float: left;
	margin-left: 2.5%;
}
.hb{
	background:#E58992;
	width: 29%;
	height:330px;
	float: left;
	margin-left: 3.5%;
}
.hc{
	background:#E58992;
	width: 29%;
	height:330px;
	float: left;
	margin-left: 3.5%;
}
.ha1{
	background:#8992E5;
	width: 100%;
	height:60px;
	float: left;
}
.ha2{
	background:#AEE8A0;
	width: 100%;
	height:270px;
	float: left;
}
.ha2a{
	background:#FFC07B;
	width: 30%;
	height:60px;
	float: left;
	margin-top: 210px;
	margin-left: 70%;
}



