@charset "utf-8";
body{              
	background: #f2451a;
	width: 100%;
	height: auto;
	font-family: arial;
	margin:0;
}
header{
	width:100%;
	height: 90px;
	float: left;
	background: #1ab7f2; 
}
.child1{
	width:100%;
	height: 30px;
	float: left;
	background: #f28a1a;
}
.a{
	width:50%;
	height: 45px;
	float: left;
	background: #b5c761;
}
.b{
	width:50%;
	height: 45px;
	float: left;
	background: #dea12c;
}
.ba{
	width:5%;
	height: 45px;
	float: left;
	background: #470234;
}
.bb{
	width:30%;
	height: 45px;
	float: left;
	background: #024717;
}
.bc{
	width:20%;
	height: 45px;
	float: left;
	background: #473902;
}
.bd{
	width:20%;
	height: 45px;
	float: left;
	background: #021147;
}
.be{
	width:25%;
	height: 45px;
	float: left;
	background: #661431;
}
.child2{
	width:100%;
	height: 60px;
	float: left;
	background: #9e4a87;
}
.c{
	width:40%;
	height: 60px;
	float: left;
	background: #977eb2;
}
.ca{
	width:30%;
	height: 60px;
	float: left;
	margin-left: 5%;
	background: #cfa373;
}
.d{
	width:60%;
	height: 60px;
	float: left;
	background: #da6175;
}
.da{
	width:13%;
	height: 60px;
	float: left;
	background: #a7d3cd;
}
.db{
	width:13%;
	height: 60px;
	float: left;
	background: #d0a7d3;
}
.dc{
	width:13%;
	height: 60px;
	float: left;
	background: #d3b1a7;
}
.dd{
	width:22%;
	height: 60px;
	float: left;
	background: #bad3a7;
}
.de{
	width:10%;
	height: 60px;
	float: left;
	background: #8489de;
}
.df{
	width:16%;
	height: 60px;
	float: left;
	background: #a7d3cd;
}
.dg{
	width:13%;
	height: 60px;
	float: left;
	background: #c6db7f;
}
.child3{
	width:100%;
	height: 500px;
	float: left;
	background: #4fc7dc;
}
.f{
	width:50%;
	height: 500px;
	float: left;
	background: #4f74dc;
}
.fa{
	width:93%;
	height: 200px;
	float: left;
	margin-left: 5%;
	margin-top: 70px;
	background: #7a75d8;
}
.g{
	width:50%;
	height: 500px;
	float: left;
	background: #4fdcc6;
}
.fa1{
	width:100%;
	height: 30px;
	float: left;
	background: #d4df9a;
}
.fa2{
	width:100%;
	height: 140px;
	float: left;
	background: #83951c;
}
.fa3{
	width:100%;
	height: 30px;
	float: left;
	background: #bede0d;
}
.fa3a{
	width:20%;
	height: 30px;
	float: left;
	margin-left: 80%;
	background: #4f5d04;
}
.child4{
	width:100%;
	height: 300px;
	float: left;
	background: #c48223;
}
.h{
	width:40%;
	height: 300px;
	float: left;
	background: #e06342;
}
.i{
	width:60%;
	height: 300px;
	float: left;
	background: #e0de42;
}
.ia{
	width:42.5%;
	height: 300px;
	float: left;
	margin-left: 5%;
	background: #e1ba90;
}
.ib{
	width:42.5%;
	height: 300px;
	float: left;
	margin-left: 5%;
	background: #e1ba90;
}
.ia1{
	width:100%;
	height: 70px;
	float: left;
	background: #90e1ab;
}
.ia2{
	width:100%;
	height: 160px;
	float: left;
	background: #49ba6e;
}
.ia3{
	width:100%;
	height: 70px;
	float: left;
	background: #2d884b;
}
.ib1{
	width:100%;
	height: 70px;
	float: left;
	background: #90e1ab;
}
.ib2{
	width:100%;
	height: 160px;
	float: left;
	background: #49ba6e;
}
.ib3{
	width:100%;
	height: 70px;
	float: left;
	background: #2d884b;
}
.ia3a{
	width:40%;
	height: 70px;
	float: left;
	margin-left: 60%;
	background: #00ff54;
}
.ib3a{
	width:40%;
	height: 70px;
	float: left;
	margin-left: 60%;
	background: #00ff54;
}
.child5{
	width:100%;
	height: 500px;
	float: left;
	background: #f8b72c;
}
.j{
	width:42%;
	height: 480px;
	float: left;
	background: #f4d799;
}
.k{
	width:58%;
	height: 480px;
	float: left;
	background: #be850c;
}
.l{
	width:100%;
	height: 20px;
	float: left;
	background: #9c7626;
}
.ja{
	width:95%;
	height: 450px;
	float: left;
	margin-left: 2.5%;
	margin-top: 15px;
	background: #f45b5b;
}
.ka{
	width:100%;
	height: 240px;
	float: left;
	background: #e98e23;
}
.kb{
	width:100%;
	height: 240px;
	float: left;
	background: #e29e4d;
}
.ka1{
	width:95%;
	height:210px;
	float: left;
	margin-left: 2.5%;
	margin-top: 15px;
	background: #d12c2c;
}
.kb1{
	width:95%;
	height:210px;
	float: left;
	margin-left: 2.5%;
	margin-top: 15px;
	background: #4e4ee3;
}
.ka1a{
	width:50%;
	height: 210px;
	float: left;
	background: #9cd1c9;
}
.ka1b{
	width:50%;
	height: 210px;
	float: left;
	background: #08ae95;
}
.kb1a{
	width:50%;
	height: 210px;
	float: left;
	background: #9cd1c9;
}
.kb1b{
	width:50%;
	height: 210px;
	float: left;
	background: #08ae95;
}
.child6{
	width:100%;
	height: 250px;
	float: left;
	border-top: 2.5px solid white;
	border-bottom: 2.5px solid white;
	background: #aee3db;
}
.m{
	width:42%;
	height: 250px;
	float: left;
	background: #f4d799;
}
.n{
	width:58%;
	height: 250px;
	float: left;
	background: #be850c;
}
.child7{
	width:100%;
	height: 235px;
	float: left;
	background: #d33c16;
}
.o{
	width:33.3333%;
	height: 235px;
	float: left;
	background: #f36c49;
}
.p{
	width:33.3333%;
	height: 235px;
	float: left;
	background: #802914;
}
.q{
	width:33.3333%;
	height: 235px;
	float: left;
	background: #975342;
}
.child8{
	width:100%;
	height: 600px;
	float: left;
	background: #a2c403;
}
.r{
	width:40%;
	height: 600px;
	float: left;
	background: #7c7eaa;
}
.s{
	width:30%;
	height: 600px;
	float: left;
	background: #4448a9;
}
.t{
	width:30%;
	height: 600px;
	float: left;
	background: #040ca7;
}
.ra{
	width:100%;
	height: 60px;
	float: left;
	background: #e0c43f;
}
.rb{
	width:100%;
	height: 60px;
	float: left;
	background: #e0923f;
}
.rc{
	width:100%;
	height: 60px;
	float: left;
	background: #e0c43f;
}
.rd{
	width:100%;
	height: 60px;
	float: left;
	background: #e0923f;
}
.re{
	width:100%;
	height: 60px;
	float: left;
	background: #e0c43f;
}
.rf{
	width:100%;
	height: 60px;
	float: left;
	background: #e0923f;
}
.rg{
	width:100%;
	height: 60px;
	float: left;
	background: #e0c43f;
}
.rh{
	width:100%;
	height: 60px;
	float: left;
	background: #e0923f;
}
.ri{
	width:100%;
	height: 60px;
	float: left;
	background: #e0c43f;
}
.rj{
	width:100%;
	height: 60px;
	float: left;
	background: #e0923f;
}
.sa{
	width:80%;
	height: 60px;
	float: left;
	margin-left: 20%;
	margin-top: 40px;
	background: #c4e357;
}
.sb{
	width:80%;
	height: 500px;
	float: left;
	margin-left: 20%;
	background: #899f3e;
}
.ta{
	width:100%;
	height: 40px;
	float: left;
	background: #4a71e2;
}
.ta1{
	width:20%;
	height: 40px;
	float: left;
	margin-left: 80%;
	background: #234cbf;
}
footer{
	width:100%;
	height: 200px;
	float: left;
	background: #ec7a2e;
}
.child9{
	width:100%;
	height: 200px;
	float: left;
	background: #e39e6f;
}
.u{
	width:30%;
	height: 180px;
	float: left;
	background:#d4aabd;
}
.v{
	width:70%;
	height: 180px;
	float: left;
	background:#d379a1 ;
}
.w{
	width:100%;
	height: 20px;
	float: left;
	background:#c61765;
}
.ua{
	width:60%;
	height: 100px;
	float: left;
	margin-left: 20%;
	background:#6b2946;
}
.ub{
	width:60%;
	height: 50px;
	float: left;
	margin-left: 20%;
	background:#ff5ea6;
}
.va{
	width:25%;
	height: 180px;
	float: left;
	background:#5eb9ff;
}
.vb{
	width:25%;
	height: 180px;
	float: left;
	background:#2075b7;
}
.vc{
	width:25%;
	height: 180px;
	float: left;
	background:##5eb9ff;
}
.vd{
	width:25%;
	height: 180px;
	float: left;
	background:#2075b7;
}
.wa{
	width:30%;
	height: 20px;
	float: left;
	background:#20b7b5;
}
.wb{
	width:70%;
	height: 20px;
	float: left;
	background:#a1fffe;
}

