@charset "utf-8";
body{
	background: #003399;
	width:100%;
	height:auto;
	font-family: arial;
	margin:0;
}
header{
	background: #FF6699;
	width:100%;
	height:170px;
	float: left;
}
.child1{
	background:#9966FF;
	width: 100%;
	height:50px;
	float: left;
}
.child2{
	background:#66CC99;
	width: 100%;
	height:100px;
	float: left;
}
.a{
	background:#996699;
	width: 60%;
	height:50px;
	float: left;
}
.b{
	background:#FF33FF;
	width: 40%;
	height:50px;
	float: left;
}
.ba{
	background:#FF9933;
	width: 15%;
	height:50px;
	float: left;
}
.bb{
	background:#FF6600;
	width: 35%;
	height:50px;
	float: left;
}
.bc{
	background:#FF9933;
	width: 25%;
	height:50px;
	float: left;
}
.bd{
	background:#FF6600;
	width: 25%;
	height:50px;
	float: left;
}
.c{
	background:#CC3366;
	width: 35%;
	height:110px;
	float: left;
}
.d{
	background:#CC3333;
	width: 65%;
	height:110px;
	float: left;
}
.ca{
	background:#33FFFF;
	width: 35%;
	height:100px;
	margin-left: 10%;
	float: left;
}
.da{
	background:#66FF33;
	width: 12%;
	height:100px;
	float: left;
}
.db{
	background:#339900;
	width: 15%;
	height:100px;
	float: left;
}
.dc{
	background:#66FF33;
	width: 26%;
	height:100px;
	float: left;
}
.dd{
	background:#339900;
	width: 26%;
	height:100px;
	float: left;
}
.de{
	background:#66FF33;
	width: 21%;
	height:100px;
	float: left;
}
.child3{
	background:#000033;
	width: 100%;
	height:10px;
	float: left;
}
.child4{
	background:#660033;
	width: 100%;
	height:10px;
	float: left;
}
section{
	background:#BFA4C1;
	width: 100%;
	height:2010px;
	float: left;
}
.child5{
	background:#9E80E5;
	width: 100%;
	height:400px;
	float: left;
}

.ea1{
	background:#C7E580;
	width: 40%;
	height:250px;
	margin-left: 3%;
	margin-top: 125px;
	float: left;
}
.ea1a{
	background:#C7E950;
	width: 100%;
	height:60px;
	float: left;
}
.ea1b{
	background:#E5DB80;
	width: 100%;
	height:130px;
	float: left;
}
.ea1c{
	background:#E5A980;
	width: 100%;
	height:60px;
	float: left;
}
.ea1ca{
	background:#E28181;
	width: 20%;
	height:60px;
	margin-left: 80%;
	float: left;
}
.child6{
	background:#1A1C35;
	width: 100%;
	height:10px;
	float: left;
}
.child7{
	background:#A83F3F;
	width: 100%;
	height:250px;
	float: left;
}
.f{
	background:#3FA871;
	width: 65%;
	height:250px;
	float: left;
}
.g{
	background:#3F82A8;
	width: 35%;
	height:250px;
	float: left;
}
.fa{
	background:#4EA83F;
	width: 90%;
	height:210px;
	float: left;
	margin-left: 10%;
	margin-top: 30px;
}
.fa1{
	background:#A83F3F;
	width: 100%;
	height:40px;
	float: left;
}
.fa2{
	background:#3F46A8;
	width: 100%;
	height:125px;
	float: left;
}
.fa3{
	background:#64333F;
	width: 100%;
	height:45px;
	float: left;
}
.fa3a{
	background:#AA93A5;
	width:20%;
	height:45px;
	float: left;
	margin-left:75%;
}
.ga{
	background:#6B0352;
	width: 100%;
	height:6px;
	float: left;
}
.child8{
	background:#3B628C;
	width: 100%;
	height:700px;
	float: left;
}
.h{
	background:#89E8D6;
	width: 100%;
	height:350px;
	float: left;
}
.i{
	background:#E8E589;
	width: 100%;
	height:350px;
	float: left;
}
.ha{
	background:#E58992;
	width: 29%;
	height:330px;
	float: left;
	margin-left: 2.5%;
}
.hb{
	background:#E58992;
	width: 29%;
	height:330px;
	float: left;
	margin-left: 3.5%;
}
.hc{
	background:#E58992;
	width: 29%;
	height:330px;
	float: left;
	margin-left: 3.5%;
}
.ha1{
	background:#8992E5;
	width: 100%;
	height:60px;
	float: left;
}
.ha2{
	background:#AEE8A0;
	width: 100%;
	height:270px;
	float: left;
}
.ha2a{
	background:#FFC07B;
	width: 30%;
	height:60px;
	float: left;
	margin-top: 210px;
	margin-left: 70%;
}
.hb1{
	background:#8992E5;
	width: 100%;
	height:60px;
	float: left;
}
.hb2{
	background:#AEE8A0;
	width: 100%;
	height:270px;
	float: left;
}
.hb2a{
	background:#FFC07B;
	width: 30%;
	height:60px;
	float: left;
	margin-top: 210px;
	margin-left: 70%;
}
.hc1{
	background:#8992E5;
	width: 100%;
	height:60px;
	float: left;
}
.hc2{
	background:#AEE8A0;
	width: 100%;
	height:270px;
	float: left;
}
.hc2a{
	background:#FFC07B;
	width: 30%;
	height:60px;
	float: left;
	margin-top: 210px;
	margin-left: 70%;
}
.ia{
	background:#E58992;
	width: 29%;
	height:330px;
	float: left;
	margin-left: 2.5%;
}
.ib{
	background:#E58992;
	width: 29%;
	height:330px;
	float: left;
	margin-left: 3.5%;
}
.ic{
	background:#E58992;
	width: 29%;
	height:330px;
	float: left;
	margin-left: 3.5%;
}
.ia1{
	background:#8992E5;
	width: 100%;
	height:60px;
	float: left;
}
.ia2{
	background:#AEE8A0;
	width: 100%;
	height:270px;
	float: left;
}
.ia2a{
	background:#FFC07B;
	width: 30%;
	height:60px;
	float: left;
	margin-top: 210px;
	margin-left: 70%;
}
.ib1{
	background:#8992E5;
	width: 100%;
	height:60px;
	float: left;
}
.ib2{
	background:#AEE8A0;
	width: 100%;
	height:270px;
	float: left;
}
.ib2a{
	background:#FFC07B;
	width: 30%;
	height:60px;
	float: left;
	margin-top: 210px;
	margin-left: 70%;
}
.ic1{
	background:#8992E5;
	width: 100%;
	height:60px;
	float: left;
}
.ic2{
	background:#AEE8A0;
	width: 100%;
	height:270px;
	float: left;
}
.ic2a{
	background:#FFC07B;
	width: 30%;
	height:60px;
	float: left;
	margin-top: 210px;
	margin-left: 70%;
}
.child9{
	background:#E27171;
	width: 100%;
	height:250px;
	float: left;
}
.j{
	background: #E2AC71;
	width: 34%;
	height:250px;
	float: left;
}
.k{
	background: #B9E55A;
	width: 66%;
	height:250px;
	float: left;
}
.ka{
	background: #6EE585;
	width: 50%;
	height:250px;
	float: left;
}
.kb{
	background: #BB86EA;
	width: 50%;
	height:250px;
	float: left;
}
.kaa{
	background: #E5D85A;
	width: 80%;
	height:200px;
	float: left;
	margin-left: 20%;
	margin-top: 20px;
}
.ka1{
	background: #6EE5C6;
	width: 100%;
	height:40px;
	float: left;
}
.ka2{
	background: #796EE5;
	width: 100%;
	height:17.777px;
	float: left;
}
.ka3{
	background: #0086FF;
	width: 100%;
	height:17.777px;
	float: left;
}
.ka4{
	background: #796EE5;
	width: 100%;
	height:17.777px;
	float: left;
}
.ka5{
	background: #0086FF;
	width: 100%;
	height:17.777px;
	float: left;
}
.ka6{
	background: #796EE5;
	width: 100%;
	height:17.777px;
	float: left;
}
.ka7{
	background: #0086FF;
	width: 100%;
	height:17.777px;
	float: left;
}
.ka8{
	background: #796EE5;
	width: 100%;
	height:17.777px;
	float: left;
}
.ka9{
	background: #0086FF;
	width: 100%;
	height:17.777px;
	float: left;
}
.ka10{
	background: #796EE5;
	width: 100%;
	height:17.777px;
	float: left;
}
.kb1{
	background: #6EE5C6;
	width: 45%;
	height:60px;
	float: left;
	margin-left: 10%;
	margin-top: 60px;
}
.child10{
	background: #796EE5;
	width: 100%;
	height:400px;
	float: left;
}
.l{
	background: #DD3E59;
	width: 60%;
	height:400px;
	float: left;
}
.m{
	background: #4EB1F4;
	width: 40%;
	height:400px;
	float: left;
}
.la{
	background: #EFB9D5;
	width: 100%;
	height:60px;
	float: left;
}
.lb{
	background: #EFB9D5;
	width: 29%;
	height:50px;
	float: left;
	margin-top:15px; 
	margin-left:9%;
}
.lc{
	background: #EFB9D5;
	width: 60%;
	height:50px;
	float: left;
	margin-top:15px;
	margin-left: 1%;
}
.ld{
	background: #EFB9D5;
	width: 29%;
	height:50px;
	float: left;
	margin-top:35px; 
	margin-left:9%;
}
.le{
	background: #EFB9D5;
	width: 60%;
	height:50px;
	float: left;
	margin-top:35px;
	margin-left: 1%;
}
.lf{
	background: #EFB9D5;
	width: 29%;
	height:115px;
	float: left;
	margin-top:30px; 
	margin-left:9%;
}
.lg{
	background: #EFB9D5;
	width: 60%;
	height:115px;
	float: left;
	margin-top:30px;
	margin-left: 1%;
}
.ma{
	background: #9887B2;
	width: 45%;
	height:50px;
	float: left;
	margin-top: 75px;
}
.mb{
	background: #9887B2;
	width: 45%;
	height:50px;
	float: left;
	margin-top: 75px;
	margin-left: 1%;
}
.mc{
	background: #9887B2;
	width: 90%;
	height:75px;
	float: left;
	margin-top: 40px;
	margin-left: 1%;
}
.mca{
	background: #ED5D5D;
	width: 30%;
	height: 75px;
	float: left;
	margin-left: 70%;
}
footer{
	background: #161F91;
	width: 100%;
	height: 200px;
	float: left;
}
.child11{
	background: #EDCC07;
	width: 100%;
	height: 200px;
	float: left;
}
.n{
	background: #49DBB1;
	width: 25%;
	height: 200px;
	float: left;
}
.o{
	background: #DB4984;
	width: 75%;
	height: 200px;
	float: left;
}
.na{
	background: #684AD8;
	width: 50%;
	height: 70px;
	float: left;
	margin-left: 45%;
	margin-top: 20px;
}
.nb{
	background: #D64C4C;
	width: 70%;
	height: 50px;
	float: left;
	margin-left: 30%;
	
}
684AD8
