@charset"utf-8"
body{
	background: :ffffff;
	font-family: arial;
	margin: 0;
	padding:0;
}
#encabezado{
	width: 100%;
	height: 60px;
	float: left;
	background: #01478d;
	
}
#encabezado>div>ul>li>a{
	display: block;
	text-decoration: none;
	font-family: arial;
	font-weight: normal;
	font-size: 10pt;
	color: #ffffff;
	height:52px;
	padding: 18px 0;
    text-align: center;
}
#encabezado>div>ul>li:first-child{
    margin-top: 15px;
    height: 45px;
    width: 5%;
}
#encabezado>div>ul>li{
	list-style: none;
	display: inline-block;
	float: left;
	border-right: 1px solid #0abcca;
	height: 60px;
	text-align: center;
    width: 7%;
	/*padding-top:20px;	*/
}
.child3{
  width: 20%;
  height: 50px;
  float: right;
  background: #01478d;
}

.child3>div:last-child>button{
  width: 30%;
  height: 30px;
  color: white;
  float: right;
  background: #00a1f9;
  border: #86d7f5 1px solid; 
  margin-right: 10%;
  border-radius: 5px 5px 5px 5px;
  font-weight: normal;
  font-size: 10pt;
  margin-top: 10px;
  margin-bottom: 10px;
}
ul{
	margin: 0;
	padding: 0;
}
.banner{
	overflow: hidden;
	width: 100%;
	 height: 490px;
	 float: left;
	 margin-bottom: 18px;
	 background: url('../img/crecimiento2.png')no-repeat;
}
.child1{
	width: 40%;
	height: 500px;
	float: left;
}
.child2{
	width: 60%;
	height: 500px;
	float: left;
}
.img1{
	background: url('../img/persona3nueva.png')no-repeat;
	width: 501%;
	height: 500px;
}
.child2>div{
	width: 68%;
}
.child2>div:first-child>h1{
	color: #053b81;
	width: 100%;
	height: 60px;
	float: left;
	margin: 0;
	padding: 0;
	padding-top: 100px;
	font-size: 26pt;
	font-weight: bold;
	font-family: calibri;
	letter-spacing: 2pt;
	}
	.child2>div>p{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 12pt;
	line-height: 36px;	
	}
	.child2>div:last-child>button{
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #053381;
	color: #053381;
	font-size: 13pt;
	height: 50px;
	border-radius: 5px;
    width: 20%;
	margin-left: 3%;
	margin-top: 32px;
	float: left
	}
#contenido{
	width: 100%;
}
.sec2{
	background:#ffffff;
	margin: 0 auto;
	width: 100%;
	height: 240px;
}
.sec2>div>div{
	background-color: #f0f0f0;
	margin: 14px 30px;
	padding: 0 8px;
	width: 22.9%;
	height: 100%;
	float: left;
	
}
.sec2>div>div>div:first-child{
  width: 25%;
  margin-left: 5%;
  height: 110px;
  float: left;
}
.sec2>div>div>div p{
  font-family: calibri;
  font-size: 14pt;
  font-weight: lighter;
  letter-spacing: 2pt;
  line-height: 22px;
  margin-bottom: 12px;
  padding: 4px 8px;
}
.sec2>div>div>div:last-child .f{
	margin-top: 50px;
}

#contenido{
	width: 100%;
}
.sec3{
	background:#ffffff;
	margin: 0 auto;
	width: 100%;
	height: 240px;
}
.sec3>div>div{
	background-color: #f0f0f0;
	margin: 14px 5px;
	padding: 0 10px;
	width: 40%;
	height: 100%;
	float: left;
	
}
.sec3>div>div>div:first-child{
  width: 25%;
  margin-left: 5%;
  height: 110px;
  float: left;
}
.sec3>div>div>div p{
  font-family: calibri;
  font-size: 14pt;
  font-weight: lighter;
  letter-spacing: 2pt;
  line-height: 22px;
  margin-bottom: 12px;
  padding: 4px 8px;
}
.sec3>div>div>div:last-child .f{
	margin-top: 50px;
}
fff
.sec4{
	background:#ffffff;
	margin: 0 auto;
	width: 100%;
	height: 240px;
}
.sec4>div>div{
	background-color: #f0f0f0;
	margin: 14px 5px;
	padding: 0 10px;
	width: 40%;
	height: 100%;
	float: left;
	
}
.sec4>div>div>div:first-child{
  width: 25%;
  margin-left: 5%;
  height: 110px;
  float: left;
}
.sec4>div>div>div p{
  font-family: calibri;
  font-size: 14pt;
  font-weight: lighter;
  letter-spacing: 2pt;
  line-height: 22px;
  margin-bottom: 12px;
  padding: 4px 8px;
}
.sec4>div>div>div:last-child .f{
	margin-top: 50px;
}		
.img2{
  background: url('../img/icono5.png') no-repeat;
  width: 100%;
  height: 108px;
  float: left;
  margin-top: 10px;
}
.img3{
  background: url('../img/icono6.png') no-repeat;
  width: 100%;
  height: 108px;
  float: left;
  margin-top: 10px;

}
.img4{
  background: url('../img/icono5.png') no-repeat;
  width: 100%;
  height: 108px;
  float: left;
  margin-top: 10px;
}
.img5{
  background: url('../img/icono5.png') no-repeat;
  width: 100%;
  height: 108px;
  float: left;
  margin-top: 10px;
}
.img6{
  background: url('../img/icono6.png') no-repeat;
  width: 100%;
  height: 108px;
  float: left;
  margin-top: 10px;
}
.img7{
  background: url('../img/icono7.png') no-repeat;
  width: 100%;
  height: 108px;
  float: left;
  margin-top: 10px;
}
.img8{
  background: url('../img/icono8.png') no-repeat;
  width: 100%;
  height: 108px;
  float: left;
  margin-top: 10px;
}
.sec2>div>div>div:last-child>h2{
  font-family: calibri;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 2pt;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  text-align: center;
}

.sec2>div>div>div hr {
	height: 1px;
	background-color: #9a9a9a;
	width: 60%;
}
#pie{
	width: 100%;
	height: 60px;
	float: left;
	margin-top: 50px;
	background:#013968;
}
#pie>p{
	text-align: center;
	font-weight: normal;
	color: #ffffff;
	font-family: calibri;
    font-size: 14pt;
    margin: 0;
    padding: 6px 0;
}
	
