@charset"utf-8"

/* Importar fuentes de google */
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Dosis:400,500,700');

* {
    margin: 0;
    padding:0;
}

body {
    font-size: 16px;
}

#encabezado{
    width: 100%;
    height: 300px;
    background: #d6aa74 url('../img/logo-header.png') no-repeat;
}

#encabezado > h1 {
    font-family: 'Arimo',Tahoma,sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: #27160c;
    position: relative;
    letter-spacing: 1px;
    left: 30%;
    top: 120px;
    width: 70%;
}

#encabezado > h2 { 
    font-family: 'Dosis',verdana,sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #27160c;
    letter-spacing: 5px;
    position: relative; 
    left: 50%;
    top: 130px;
    width: 50%;
}

.superior{
    padding: 24px 32px;
}
.superior > h3{
    font-family: 'Arimo',Tahoma,sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.superior > p,
.superior2 p,
.columna-der p,
.columna-izq p {
    font-family: 'Dosis',verdana,sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.superior2{
    border-top: 2px solid #cfcdce;
    border-bottom: 2px solid #cfcdce;
    height: 155px;
    width: 100%;
}

.superior2 h3,
.columna-der h3,
.columna-izq h3{
    font-family: 'Arimo',Tahoma,sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 12px;
    padding-top: 24px;
}

.imagen-box{
    float: left;
    width: 24%;
}
.texto-box{
    float: left;
    width: 76%;
}
.texto-right{
    font-weight: 700;
    text-align: right;
    margin-right: 32px;
}

/* bloque de dos columnas de texto */
.dos-columnas{
    border-top: 12px solid #d6aa74;
    height: 160px;
    width: 100%;
}

.columna-der{
    float: left;
    height: 160px;
    margin-right: 12px;
    margin-left: 32px;
    width: 50%;
}

.columna-izq{
    float: left;
    height: 160px;
    margin-right: 32px;
    margin-left: 12px;
    width: 42%;
}
