@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: arial;
    height: auto;
    margin:0;
    width: 100%;
}

header {
    height:  60px;
    width:  100%;
}

footer {
    height: 180px;
    width: 100%;
}

section.top {
    height: 216px;
    overflow: hidden;
    width: 100%;
}

section.middle1 {
    height: 350px;
    width: 100%;
}

section.middle2 {
    height: 260px;
    width: 100%;
}

section.middle3 {
    height: 280px;
    width: 100%;
}

.child1 {
    float:  left;
    height: 60px;
    width: 55%;
}
    
.child2 {
    float:  right;
    height: 60px;
    width:  45%;    
}

.child3 {
    background-color: #96dcff;
    height: 350px;
    margin: auto;
    width: 100%;    
}

.child4 {
    float: left;
    height: 260px;
    width: 100%;
}

.child5 {
    float: left;
    height: 280px;
    width: 60%;
}

.child6 {
    float: right;
    height: 280px;
    width: 40%;
}

.child7 {
    float: left;
    height: 180px;
    width: 35%;
}

.child8 {
    float: right;
    height: 180px;
    width: 65%;
}

.a {
    background-color: #619498;
    float:  left;
    height: 60px;
    width:  45%;
}

.b {
    background-color:  #bcde54;
    float:  left;
    height: 60px;
    width:  55%;
}

.c {
    background-color: #ec9973;
    float:  left;
    height: 60px;
    width:  27%;
}

.d {
    background-color: #e6C006;
    float:  left;
    height: 60px;
    width:  19%;
}

.e {
    background-color: #8dab67;
    float:  left;
    height: 60px;
    width:  27%;
}
 
.f {
    background-color: #E4ce05;
    float:  left;
    height: 60px;
    width:  27%;
}

.g {
    background-color: #4aafc9;
    border: 2px solid #06661c;
    float: left;
    height: 50px;
    width: 42%;
}

.h {
    background-color: #7ad4d6;
    border: 2px solid #06661c;
    float: left;
    height: 50px;
    width: 58%;
}

.i {
    background-color: #4aafc9;
    border: 2px solid #06661c;
    float: left;
    height: 50px;
    width: 42%;
}

.j {
    background-color: #7ad4d6;
    border: 2px solid #06661c;
    float: left;
    height: 50px;
    width: 58%;
}

.k {
    background-color: #4aafc9;
    border: 2px solid #06661c;
    float: left;
    height: 100px;
    width: 42%;
}

.l {
    background-color: #7ad4d6;
    border: 2px solid #06661c;
    float: left;
    height: 100px;
    width: 58%;
}

#picture {
    background-color: #ee9ac6;
    float: left;
    height: 200px;
    width: 100%;
}

#stripe {
    background-color: #86E3AE;
    float: left;
    height: 16px;
    width: 100%;
}

.box {
    /*background-color: #FCD033;*/
    float: left;
    height: 350px;
    /* Con esta propiedad resumida para margin se logra centrar las 3 cajas .box */
    margin: 0 4% 0;
    width: 25%;
}

.top-box {
    background-color: #2cbf96;
    height: 170px;
    width: 100%;
}

.middle-box {
    background-color: #a9aacf;
    height: 20px;
    width: 100%;
}

.bottom-box {
    background-color: #F9A610;
    height: 120px;
    width: 100%;
}

.foot-box {
    /*background-color: #F9F6DC;*/
    height: 40px;
    width: 100%;
}

.leftfoot {
    background-color: #9609c3;
    float: left;
    height: 40px;
    width: 28%;
}

.centerfoot {
    background-color: #06c080;
    float: left;
    height: 40px;
    width: 35%;
}

.rightfoot {
    background-color: #9609c3;
    float: left;
    height: 40px;
    width: 37%;
}

.child-left {
    background-color: #60ccaa;
    float: left;
    height: 260px;
    width: 50%;
}

.child-right {
    /*background-color: #aa0000;*/
    float: right;
    height: 260px;
    width: 50%;
}

.top-right1 {
    background-color: #9eee00;
    height: 50px;
    width: 100%;
}

.middle-right1 {
    height: 50px;
    width: 100%;    
}

.middle1-left-content {
    background-color: #005050;
    float: left;
    height: 50px;
    width: 50%;
}

.middle1-right-content {
    background-color: #f3f0c6;
    float: right;
    height: 50px;
    width: 50%;
}

.middle-right2 {
    background-color: #ff6d60;
    float: right;
    height: 50px;
    width: 100%;
}

.middle-right3 {
    float: right;
    height: 50px;
    width: 100%;
}

.middle2-left {
    background-color: #1060a9;
    float: left;
    height: 50px;
    width: 33.33%;
}

.middle2-center {
    background-color: #fff060;
    float: left;
    height: 50px;
    width: 33.34%;
}

.middle2-right {
    background-color: #1060a9;
    float: left;
    height: 50px;
    width: 33.33%;
}

.bottom-right1 {
    background-color: #9eee00;
    float: right;
    height: 60px;
    width: 100%;
}

.child5-top {
    background-color: #06661c;
    height: 50px;
    width: 100%;
}

.child5-middle1 {
    height: 50px;
    width: 100%;
}

.child5-middle2 {
    height: 50px;
    width: 100%;
}

.child5-middle3 {
    height: 100px;
    width: 100%;
}

.child5-bottom {
    background-color: #a3acbd;
    height: 30px;
    width: 100%;
}

.child6-top {
    background-color: #66ccaa;
    height: 50px;
    width: 100%;
}

.child6-middle1 {
    background-color: #4aafc9;
    height: 50px;
    width: 100%;
}

.child6-middle2 {
    background-color: #66ccaa;
    height: 30px;
    width: 100%;
}

.child6-middle3 {
    background-color: #4aafc9;
    height: 60px;
    width: 100%;
}

.child6-bottom {
    background-color: #66ccaa;
    height: 90px;
    width: 100%;
}

.child7-left {
    background-color: #2233b6;
    height: 180px;
    width: 100%;
}

.child8-top {
    background-color: #f6ff30;
    height: 90px;
    width: 100%;
}

.child8-bottom {
    background-color: #1c9a03;
    height: 90px;
    width: 100%;
}

.nav {
    height: 60px;
    left: 18%;
    position: relative;
    top: 0;
    width: 66%;
}

.link1 {
    background-color: #2233b6;
    float: left;
    height: 60px;
    width: 33%;
}

.link2 {
    background-color: #2233b6;
    border-left: 1px;
    border-color: #f6ff30;
    border-style: solid;
    float: left;
    height: 60px;
    width: 23%;
}

.link3 {
    background-color: #2233b6;
    border-left: 1px;
    border-color: #f6ff30;
    border-style: solid;
    float: left;
    height: 60px;
    width: 22%;
}

.link4 {
    background-color: #2233b6;
    border-left: 2px;
    border-color: #f6ff30;
    border-style: solid;
    float: left;
    height: 60px;
    width: 22%;
}