@charset"utf-8"
body{
	background: :ffffff;
	font-family: arial;
	margin: 0;
	padding:0;
}
#encabezado{
	width: 100%;
	height: 60px;
	float: left;
	background: #b6640e;
	
}
#encabezado>div>ul>li>a{
	display: block;
	text-decoration: none;
	font-family: arial;
	font-weight: normal;
	font-size: 12pt;
	color: #ffffff;
	height:52px;
	padding: 18px 0;
    text-align: center;
}
#encabezado>div>ul>li:first-child{
    margin-top: 15px;
    height: 45px;
    width: 5%;
}
#encabezado>div>ul>li{
	list-style: none;
	display: inline-block;
	float: left;
	border-right: 1px solid #d17d25;
	height: 60px;
	text-align: center;
    width: 11.5%;
	/*padding-top:20px;	*/
}
ul{
	margin: 0;
	padding: 0;
}
.banner{
	overflow: hidden;
	width: 100%;
	 height: 490px;
	 float: left;
	 margin-bottom: 18px;
	 background: url('../img/crecimiento2.png')no-repeat;
}
.child1{
	width: 40%;
	height: 500px;
	float: left;
}
.child2{
	width: 60%;
	height: 500px;
	float: left;
}
.img1{
	background: url('../img/persona.png')no-repeat;
	width: 501%;
	height: 500px;
}
.child2>div{
	width: 68%;
}
.child2>div:first-child>h1{
	color: #b6640e;
	width: 100%;
	height: 60px;
	float: left;
	margin: 0;
	padding: 0;
	padding-top: 100px;
	font-size: 26pt;
	font-weight: bold;
	font-family: calibri;
	letter-spacing: 2pt;
	}
	.child2>div>p{
	font-family: calibri;
	font-size: 16pt;
	line-height: 36px;	
	}
	.child2>div:last-child>button{
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #b6640e;
	color: #b6640e;
	font-size: 13pt;
	height: 50px;
	border-radius: 5px;
    width: 20%;
	margin-left: 3%;
	margin-top: 32px;
	float: left
	}
#contenido{
	width: 100%;
}
.sec2{
	background:#ffffff;
	margin: 0 auto;
	width: 100%;
	height: 240px;
}
.sec2>div>div{
	background-color: #f0f0f0;
	margin: 14px 8px;
	width: 24%;
	height: 300px;
	float: left;
	
}
.sec2>div>div>div:first-child{
  width: 25%;
  margin-left: 5%;
  height: 110px;
  float: left;
}
.sec2>div>div>div p{
  font-family: calibri;
  font-size: 12pt;
  font-weight: lighter;
  letter-spacing: 2pt;
  margin-bottom: 12px;
  padding: 4px 8px;
}
.sec2>div>div>div:last-child .f{
	margin-top: 50px;
}
.img2{
  background: url('../img/icono1.png') no-repeat;
  width: 95%;
  height: 108px;
  float: left;
  margin-top: 10px;
}
.img3{
  background: url('../img/icono2.png') no-repeat;
  width: 95%;
  height: 108px;
  float: left;
  margin-top: 10px;

}
.img4{
  background: url('../img/icono3.png') no-repeat;
  width: 95%;
  height: 108px;
  float: left;
  margin-top: 10px;
}
.img5{
  background: url('../img/icono4.png') no-repeat;
  width: 95%;
  height: 108px;
  float: left;
  margin-top: 10px;
  }
.sec2>div>div>div:last-child>h2{
  font-family: calibri;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 2pt;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  text-align: center;
}

.sec2>div>div>div hr {
	height: 2px;
	background-color: #9a9a9a;
	width: 68%;
}

/*.sec2>div>div>div:last-child>p{
  font-family: calibri;
  font-size: 12pt;
  font-weight: lighter;
  letter-spacing: 2pt;
  margin: 0;
  padding: 0;
}*/

	#pie{
	width: 100%;
	height: 60px;
	float: left;
	background:#040108;
}
#pie>p{
	text-align: center;
	font-weight: normal;
	color: #ffffff;
	font-family: calibri;
    font-size: 14pt;
    margin: 0;
    padding: 6px 0;
}
	
