@charset"utf-8"
body{
	background: :c3c3c3;
	font-family: arial;
	margin: 0;
	padding:0;
}
#encabezado{
	width: 100%;
	height: 60px;
	float: left;
	background: #1B1D99;
	
}
#encabezado>div>ul>li>a{
	text-decoration: none;
	font-family: arial;
	font-weight: normal;
	font-size: 12pt;
	color: #aff1D9;
  text-align: center;
}
#encabezado>div>ul>li{
	list-style: none;
	display: black;
	float: left;
	width: 13%;
	border-right: 1px solid #aff1D9;
	height:40px;
	margin: 0;
	padding: 0;
	text-align: center;
	padding-top:20px;
	
}
ul{
	margin: 0;
	padding: 0;
	
}
a:hover{
	color: yellow !important;
}
li:hover{
	background: black !important;
}