@charset "utf-8";
 body{
 	background: beige;
	width:100%;
	height:auto ;
	font-family: calibri;
	margin: 0;
	padding: 0;
	}
	#contenedor{
 	background: red;
	width:50%;
	height:auto;
	
	}

#header{
	background: #cff901
	width:100%;
	height: 150px;
	float: left;
}
.cl1{
	background: #cff901
	width:28%;
	height: 150px;
	float: left;
}
.img-center{
	margin: auto;
	display: black;
	margin: top 40px;

}
.img1{
	margin-top: auto;
	display: black;
	margin: top 40px;
	background:url(..//icon.gif);
	width: 70px;
	height: 70px; 

}
.img-3{
	width: 100%;
	height: 25px;
	float: left;
	margin: top 30px; 
}
.tex_3> h3{
	color: white;
	font-family: tahoma;
	font-size: 14pt;
	letter-spacing: 12px;
	font-weight: normal;
	margin: 0;
}
.text_1{
	width: 100%;
	float: left;
	height: 40px;
}
.text_1{
	color:blue;
	font-weight: bold;
	font-size: 24pt;
	margin: 0;
	padding:0;
	}
.intro{
	width: 96%;
	float: left;
	height: 150px;
	padding: 40px 2% 40px 2%;
	background: white;

}
.intro> h2{
	font-weight: bold;
	text-align:left;
	color:black;
	font-size: 21pt;
	margin: 0;
	padding: 0;

}
.into > p{
	font-weight: normal;
	text-align:left;
	color: grey;
	font-size: 12pt;
	margin: 0;
	padding: 0;

}
.cl3{
	width: 
	height:;
	float: left;
}
.cl4{
	width: 70%;
	height: 150px;
	float: left;

}
.img2{
	margin: auto;
	display: black;
	margin: top 5px;
	background: url(../imgarticle1.png);
	width: 115%;
	height: 115px;
}
.parrafo{
	width: 100%,
	height:90px;
	float: left;
}
.btn{
	width: 100%;
	height: 60px;
	float: left;

}
.btn > bottom: {
	width: 25%;
	color: white;
	height: 50px;
	float: left;
	background:  red;
	padding: 10px 1% 10% 1%;
	border: none;
	font-weight: bold;
	font-size: 10pt;
}
.fondito{
	background: white;
	width: 96%;
	height: 240px;
	float: left;
	padding: 10px 2% 10% 2%;
	border-bottom: 2px solid grey;

}
.img3{
	margin: auto;
	display: black;
	background: url(../img/wide.png);
	width: 100%;
	height: 220px;
}
.caja{
	background: white;
	height: 120px;
	float: left;
	border-bottom:2px solid gray;
	width: 92%;
	padding: 10px 2% 10% 2%;

}
.caja > p{
color: grey;
text-align: left;
font-size: 12px;
}
