@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: arial;
    height: auto;
    margin:0;
    width: 100%;
}
header {
	border-bottom: 4px solid #6090c6;
	height: 62px;
}
.infobar {
    background-color: #000000;
	width: 100%;
	height: 18px;

}

.opc{
	/*background-color: #11fa33;*/
	float: right;
	width: 40%;
	height:18px;
}

.phone-icon{
	width: 6%;
	height: 18px;
	background-color: #11fa33;
	float: left;

}

.phone-number{
	width: 40%;
	height: 18px;
	background-color: #11aa00;
	float: left;
}

.partners {
	width: 26%;
	height: 18px;
	background-color: #48cc98;
	float: left;
}

.login {
	background-color: #48ff33;
	float: left;
	height: 18px;
	width: 28%;
}

.navigation {
	background-color: #fff;
	height: 40px;
	width: 100%;
}

.image {
    background-color: #ff5e3a;
    border-color: #007;
	float: left;
	margin: 0.21% 2%;
	height: 35px;
	width: 14%;
}

.navigation ul {
	float: right;
	height: 40px;
	width: 78%;
}

.item-menu {
	float: right;
	list-style-type: none;
	margin-right: 2%;
}

.item-menu:first-child {
    height: 40px;
    width: 8%;
}

.item-menu:nth-child(2) {
    height: 40px;
    width: 13%;
}

.item-menu:nth-child(3) {
    height: 40px;
    width: 18%;
}

.item-menu:nth-child(4) {
    height: 40px;
    width: 20%;
}

.item-menu:last-child {
    height: 40px;
    overflow: hidden;
    width: 9%;
}

.item-menu:nth-child(even) {
	background-color: #40cc50;
}

.item-menu:nth-child(odd) {
	background-color: #8fc36a;
}

section {
	border-top: 4px solid #103080;
}
/* Sección del banner */
.banner {
    border-top: 4px solid #204086;
    height: 360px;
	width: 100%;
}

.imagedesc {
    background-color: #c0c0c0;
    height: 360px;
	width: 100%;
}

.lightbox {
	background-color: rgba(0,0,0,0.66);
	height: 240px;
	left: 7.5%;
	position: absolute;
	top: 160px;
	width: 42%;
	z-index: 100px;
}

#titlelightbox {
    background-color: #c3c6c9;
    height: 32px;
    left: 16px;
    position: relative;
    top: 10px;
	width: 22%;
}

#descriptionlightbox {
    background-color: #c3c6c9;
    height: 140px;
    left: 16px;
    position: relative;
    top: 20px;
	width: 94%;
}

#linklightbox {
	background-color: #c3c6c9;
	height: 32px;
	right: -410px;
	position: relative;
    bottom: -28px;
    width: 20%;
}

/* Estilos del top content */
.topcontent {
    background-color: #c3c6c9;
    height: 260px;
    border-top: 3px solid #010a1b;
    width: 100%;
}

.bluecontent {
	background-color: #3966bb;
	height: 260px;
	width: 60%;
}

#titleblue {
    background-color: #fef2bf;
    height: 32px;
    left: 16px;
    position: relative;
    top: 10px;
    width: 25%;
}

#descriptionblue {
	background-color: #fef2bf;
	height: 160px;
	left: 16px;
	position: relative;
	top: 20px;
	width: 95%;
}

#buttonblue {
	background-color: #fef2bf;
	height: 32px;
	right: -615px;
	position: relative;
	bottom: -26px;
	width: 16%;
}

/* Estilos para la galería */

.gallerycontent {
	background-color: #183386;
	height: 614px;
	width: 100%;
}

.gallerybox {
	/*background-color: #c40018;*/
	float: left;
	height: 260px;
	margin: 24px 32px;
	width: 28%;
}

.titlegallerybox {
	background-color: #f6c667;
	height: 32px;
	width: 100%;
}

.imagegallerybox {
    background-color: #282d4f;
	height: 228px;
	width: 100%;
}

.linkgallerybox {
	background-color: #f6c667;
	height: 32px;
	right: -290px;
	position: relative;
	top: -36px;
	width: 18%;
}

/* Estilos para la sección about us */
.bottom-content {
	/*background-color: #ffa96a;*/
	height: 220px;
	width: 100%;
}

.imageabout {
    background-color: #a6a6a6;
	float: left;
	height: 220px;
	width: 28%;
}

.aboutblue {
	background-color: #ffa96a;
	float: right;
	height: 220px;
	width: 72%;
}

.aboutleft {
	float: left;
}

.abouttitle {
    background-color: #bee4d2;
    left: 60px;
    height: 32px;
    position: relative;
    top: 20px;
    width: 320px;
}

.aboutdesc {
	background-color: #bee4d2;
	left: 60px;
	height: 130px;
	position: relative;
	top: 36px;
	width: 320px;
}

.aboutright {
	float: right;
}

.abouttext {
	background-color: #bee4d2;
	height: 110px;
	left: -150px;
	position: relative;
	top: 68px;
	width: 320px;
}

/* Sección del footer */
footer {
	background-color: #f5d9d9;
	height: 450px;
	width: 100%;
}

.contactform {
	background-color: #645c84;
	height: 310px;
	overflow: hidden;
	width: 100%;
}

.labeltitle {
	/*border: 2px solid #b6b9b3;*/
	height: 14%;
	width: 100%;
}

.formtitle {
	background-color: #427996;
	height: 28px;
	position: relative;
	left: 50px;
	top: 8px;
	width: 20%;
}

.formleft {
    /*border: 2px solid #f5d9d9;*/
    float: left;
    height: 86%;
    width: 60%;
}

.formright {
    /*border: 2px solid #f5d9d9;*/
    float: right;
    height: 86%;
    width: 40%;
}

/* Campo del nombre */
.contactname {
	border: 1px solid #b6b9b3;
	position: relative;
	height: 14%;
	top: 20px;
	width: 100%;
}

.labelname {
    background-color: #427996;
    float: left;
    height: 28px;
    margin-left: 50px;
    margin-top: 4px;
    width: 20%;
}

.fieldname {
    background-color: #427996;
    float: left;
    height: 28px;
    margin-left: 50px;
    margin-top: 4px;
    width: 62%;
}

/* Campo del email */
.contactemail {
    border: 1px solid #b6b9b3;
	position: relative;
	height: 14%;
	top: 36px;
	width: 100%;
}

.labelemail {
	background-color: #427996;
    float: left;
    height: 28px;
    margin-left: 50px;
    margin-top: 4px;
    width: 20%;
}

.fieldemail {
	background-color: #427996;
    float: left;
    height: 28px;
    margin-left: 50px;
    margin-top: 4px;
    width: 62%;
}

/* Campo del mensaje */
.contactmsg {
	border: 1px solid #b6b9b3;
	position: relative;
	height: 48%;
	top: 52px;
	width: 100%;
}

.labelmsg {
	background-color: #427996;
    float: left;
    height: 28px;
    margin-left: 50px;
    margin-top: 4px;
    width: 20%;
}

.fieldmsg {
	background-color: #427996;
    float: left;
    height: 118px;
    margin-left: 50px;
    margin-top: 4px;
    width: 62%;
}

/* Campo del teléfono */
.contactphone {
	border: 1px solid #b6b9b3;
	position: relative;
	height: 14%;
	top: 20px;
	width: 100%;
}

.labelphone {
    background-color: #427996;
    float: left;
    height: 28px;
    margin-left: 50px;
    margin-top: 4px;
    width: 20%;
}

.fieldphone {
	background-color: #427996;
	float: left;
	height: 28px;
    margin-left: 50px;
    margin-top: 4px;
    width: 52%;
}

.contactsend {
	border: 1px solid #b6b9b3;
	position: relative;
	height: 68%;
	top: 36px;
	width: 100%;
}

.fieldsend {
	background-color: #ffa96a;
	position: relative;
	left: 72%;
	height: 32px;
	top: 20px;
	width: 20%;
}

/* Barra de navegación del footer */
.navfooter {
	/*border: 1px solid #645c84;
	background-color: #fff;*/
	height: 60px;
	width: 100%;	
}

.imglogo {
    background-color: #685454;
	float: left;
	margin: 0.5% 4%;
	height: 32px;
	width: 12.5%;	
}

.navfooter ul {
	float: right;
	height: 40px;
	margin-top: 0.2%;
	width: 75%;
}

.item-menu-foot {
	float: right;
	list-style-type: none;
	margin-right: 2.5%;
}

.item-menu-foot:first-child {
    height: 40px;
    width: 8%;
}

.item-menu-foot:nth-child(2) {
    height: 40px;
    width: 13%;
}

.item-menu-foot:nth-child(3) {
    height: 40px;
    width: 18%;
}

.item-menu-foot:nth-child(4) {
    height: 40px;
    width: 20%;
}

.item-menu-foot:last-child {
    height: 40px;
    overflow: hidden;
    width: 9%;
}

.item-menu-foot:nth-child(even) {
	background-color: #5f1854;
}

.item-menu-foot:nth-child(odd) {
	background-color: #3b0944;
}

/* Barra de redes sociales */
.social {
    height: 40px;
    margin-left: 5%;
    width: 95%;
}

.facebook,
.youtube,
.twitter {
	background-color: #685454;
	border-radius: 50%;
	height: 32px;
	float: left;
	list-style-type: none;
	margin-left: 0.8%;
	width: 32px;
}

.copyright {
	height: 32px;
	width: 100%;
}

.txtcopy {
	background-color: #4797b1;
	height: 32px;
	margin: 0 auto;
	width: 12.5%;
}

