@charset "utf-8";

body{
	background: white;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
header{
	width: 100%;
	height: 150px;
	float: left;
	background: indianred;
}
.espaciosuperior{
	width: 100%;
	height: 70px;
	float: left;
	background: lightcoral;
}
.espblanco{
	width: 50%;
	height: 70px;
	float: left;
	background: blue;
}
.icono{
	width: 7%;
	height: 70px;
	float: left;
	background: lightcoral;
}
.numerotel{
	width: 17%;
	height: 70px;
	float: left;
	background: tomato;
}
.ourpartners{
	width: 7%;
	height: 70px;
	float: left;
	background: orange;
}
.moreinfo{
	width: 8%;
	height: 70px;
	float: left;
	background: plum;
}
.singin{
	width: 7%;
	height: 70px;
	float: left;
	background: magenta;
}
.espacioinferior{
	width: 100%;
	height: 80px;
	float: left;
	background: blueviolet;
}
.logo{
	width: 10%;
	height: 80px;
	float: left;
	background: slateblue;
}
.espacio{
	width: 27%;
	height: 80px;
	float: left;
	background: lime;
}
.home{
	width: 9%;
	height: 80px;
	float: left;
	background: seagreen;
}
.knowus{
	width: 9%;
	height: 80px;
	float: left;
	background: teal;
}
.brands{
	width: 9%;
	height: 80px;
	float: left;
	background: steelblue;
}
.corporate{
	width: 9%;
	height: 80px;
	float: left;
	background: tan;
}
.blog{
	width: 9%;
	height: 80px;
	float: left;
	background: brown;
}
.comunity{
	width: 9%;
	height: 80px;
	float: left;
	background: gray;
}
.contact{
	width: 9%;
	height: 80px;
	float: left;
	background: turquoise;
}
