@charset "utf-8";

body{
	background: white;
	width: 100%;
	height: auto;
	font-family: calibri;
	margin: 0;
	padding: 0;
}
#header{
	width: 100%;
	height: 60px;
	background: #b6640e;
	float: left;
}
.padre{
	width: 100%;
	height: 60px;
	background: #b6640e;
	float: left;
}
.imagen{
	width: 8%;
	height: 60px;
	background: #b6640e;
	float: left;
	border-color: white;
	border-width: 1px;
	border-right-style: solid;
}
.img_center{
	width: 50%;
  display: block;
	margin-top: 5px;
	margin-left: 10px;	
}

#header>.padre>.contenedor>.menu>ul>li{
	list-style: none;
	display: block;
	float: left;
	width: 12%;
	height: 60px;
	color:white;
	border-right: 1px solid white;
	text-align: center;
	text-decoration: none;
	padding-top: 20px;
}

#header>.padre>.contenedor>.menu>ul>li>a{
	text-decoration:none;
	color: white;
	text-align: center;
	font-size: 9pt;
}
li:hover{
	background-color: slateblue !important;
}

.contenedor{
 width: 90%;
  height: 60px;
  float: left;
}

ul{
	padding: 0;
	margin: 0;
}

.menu{
	width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  float: left;	
}

.banner{
	width: 1404px;
	height: 500px;
	float: left;
	background: url('../img/crecimiento2.png');
}

.imagen1{
	width: 40%;
	height: 674px;
	float: left;
}

.text1{
	width: 60%;
	height: 100px;
	float: left;
}

.text1>h1{
  color: #b6640e;
  font-family: calibri;
  font-size: 25pt;
  font-weight: bold;
  margin-top: 55px;
  padding:0;
}

.text2{
	width: 100%;
	height: 350px;
}

.text2>h3{
	color: black;
  font-family: calibri;
  font-size: 23pt;
  font-weight: lighter;
  padding:0;
}

.juan{
	width: 17%;
	height: 60px;
	float: left;
	margin-top: 20px;
	background: white;
	border-color: #b6640e;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
}

.juan>h4{
	color: #b6640e;
  font-family: calibri;
  font-size: 14pt;
  font-weight: lighter;
  padding:0;
	margin:0;
}

.tu{
	width: 17%;
	height: 60px;
	float: left;
	margin-top: 20px;
	margin-left: 10pt;
	background: white;
	border-color: #b6640e;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
}

.tu>h4{
	color: #b6640e;
  font-family: calibri;
  font-size: 14pt;
  font-weight: lighter;
  padding:0;
	margin:0;
}

.tri{
	width: 17%;
	height: 60px;
	float: left;
	margin-top: 20px;
	margin-left: 10pt;
	background: white;
	border-color: #b6640e;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
}

.tri>h4{
	color: #b6640e;
  font-family: calibri;
  font-size: 14pt;
  font-weight: lighter;
  padding:0;
	margin:0;
}

button:hover{
	background-color: slateblue;
}

#primero{
	width: 100%;
	height: 200px;
	float: left;
}

.cuadro1{
	width: 24%;
	float: left;
	height: 450px;
	background: #f0f0f0;
	margin-left: 8px;
	margin-top: 20pt;
}

.icon{
	width: 20%;
	height: 20px;
	float: left;
}

.a{
	width: 60%;
	height: 30px;
	color: black;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
  margin-left: 125px;
}

.b{
	color: black;
  font-family: calibri;
  font-size: 13pt;
  font-weight: lighter;
  padding:0;
	margin-left: 30px;
	margin-top: 60px;
	margin-right: 20pt;
}

.cuadro2{
	width: 24%;
	float: left;
	height: 450px;
	background: #f0f0f0;
	margin-left: 20px;
	margin-top: 20pt;
}

.icono{
	width: 20%;
	height: 20px;
	float: left;
}

.c{
	width: 60%;
	height: 30px;
	color: black;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
  margin-left: 125px;
}

.d{
	color: black;
  font-family: calibri;
  font-size: 13pt;
  font-weight: lighter;
  padding:0;
	margin-left: 30px;
	margin-top: 60px;
	margin-right: 20pt;
}

.cuadro3{
	width: 24%;
	float: left;
	height: 450px;
	background: #f0f0f0;
	margin-left: 20px;
	margin-top: 20pt;
}

.icono3{
	width: 20%;
	height: 20px;
	float: left;
}

.e{
	width: 60%;
	height: 30px;
	color: black;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
  margin-left: 125px;
}

.f{
	color: black;
  font-family: calibri;
  font-size: 13pt;
  font-weight: lighter;
  padding:0;
	margin-left: 30px;
	margin-top: 60px;
	margin-right: 20pt;
}

.cuadro4{
	width: 23%;
	float: left;
	height: 450px;
	background: #f0f0f0;
	margin-left:20px;
	margin-top: 20pt;
}

.icono4{
	width: 20%;
	height: 20px;
	float: left;
}

.g{
	width: 60%;
	height: 30px;
	color: black;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
  margin-left: 125px;
}

.h{
	color: black;
  font-family: calibri;
  font-size: 13pt;
  font-weight: lighter;
  padding:0;
	margin-left: 30px;
	margin-top: 60px;
}

#segundo{
	width: 100%;
	height: 200px;
	float: left;
	margin-top:280px;
}

.cuadro5{
	width: 24%;
	float: left;
	height: 450px;
	background: #f0f0f0;
	margin-left: 8px;
	margin-top: 20pt;
}

.i{
	width: 20%;
	height: 20px;
	float: left;
}

.j{
	width: 60%;
	height: 30px;
	color: black;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
  margin-left: 125px;
}

.k{
	color: black;
  font-family: calibri;
  font-size: 13pt;
  font-weight: lighter;
  padding:0;
	margin-left: 30px;
	margin-top: 60px;
	margin-right: 20pt;
}

.cuadro6{
	width: 24%;
	float: left;
	height: 450px;
	background: #f0f0f0;
	margin-left: 20px;
	margin-top: 20pt;
}

.l{
	width: 20%;
	height: 20px;
	float: left;
}

.m{
	width: 60%;
	height: 30px;
	color: black;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
  margin-left: 125px;
}

.n{
	color: black;
  font-family: calibri;
  font-size: 13pt;
  font-weight: lighter;
  padding:0;
	margin-left: 30px;
	margin-top: 60px;
	margin-right: 20pt;
}

.cuadro7{
	width: 24%;
	float: left;
	height: 450px;
	background: #f0f0f0;
	margin-left: 20px;
	margin-top: 20pt;
}

.o{
	width: 20%;
	height: 20px;
	float: left;
}

.p{
	width: 60%;
	height: 30px;
	color: black;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
  margin-left: 125px;
}

.q{
	color: black;
  font-family: calibri;
  font-size: 13pt;
  font-weight: lighter;
  padding:0;
	margin-left: 30px;
	margin-top: 60px;
	margin-right: 20pt;
}

.cuadro8{
	width: 23%;
	float: left;
	height: 450px;
	background: #f0f0f0;
	margin-left:20px;
	margin-top: 20pt;
}

.r{
	width: 20%;
	height: 20px;
	float: left;
}

.s{
	width: 60%;
	height: 30px;
	color: black;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
  margin-left: 125px;
}

.t{
	color: black;
  font-family: calibri;
  font-size: 13pt;
  font-weight: lighter;
  padding:0;
	margin-left: 30px;
	margin-top: 60px;
}

footer{
	width: 100%;
	height: 140px;
	background: black;
	float: left;
	margin-top: 350px;
}

footer>div{
	font-family: calibri;
	font-size: 13pt;
	text-align: center;
	color: white;
	padding-top: 5px;
}
