@charset "utf-8";

body{
	background: white;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

header{
	width: 100%;
	height: 150px;
	float: left;
	background: indianred;
}

#headersuperior{
	width: 100%;
	height: 70%;
	float: left;
	background: lightcoral;
}

.espblanco{
	width: 50%;
	height: 70%;
	float: left;
	background: lightcoral;
}

.icono{
	width: 100%;
	height: 70%;
	float: left;
	background: lightcoral;
}