@charset "utf-8";

body{
	background: white;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}
header{
	width: 100%;
	height: 150px;
	float: left;
	background: indianred;
}
.espaciosuperior{
	width: 100%;
	height: 70px;
	float: left;
	background: lightcoral;
}
.espblanco{
	width: 50%;
	height: 70px;
	float: left;
	background: blue;
}
.icono{
	width: 7%;
	height: 70px;
	float: left;
	background: lightcoral;
}
.numerotel{
	width: 17%;
	height: 70px;
	float: left;
	background: tomato;
}
.ourpartners{
	width: 7%;
	height: 70px;
	float: left;
	background: orange;
}
.moreinfo{
	width: 8%;
	height: 70px;
	float: left;
	background: plum;
}
.singin{
	width: 7%;
	height: 70px;
	float: left;
	background: magenta;
}
.espacioinferior{
	width: 100%;
	height: 80px;
	float: left;
	background: blueviolet;
}
.logo{
	width: 10%;
	height: 80px;
	float: left;
	background: slateblue;
}
.espacio{
	width: 27%;
	height: 80px;
	float: left;
	background: lime;
}
.home{
	width: 9%;
	height: 80px;
	float: left;
	background: seagreen;
}
.knowus{
	width: 9%;
	height: 80px;
	float: left;
	background: teal;
}
.brands{
	width: 9%;
	height: 80px;
	float: left;
	background: steelblue;
}
.corporate{
	width: 9%;
	height: 80px;
	float: left;
	background: tan;
}
.blog{
	width: 9%;
	height: 80px;
	float: left;
	background: brown;
}
.comunity{
	width: 9%;
	height: 80px;
	float: left;
	background: gray;
}
.contact{
	width: 9%;
	height: 80px;
	float: left;
	background: turquoise;
}
#a1{
	width: 100%;
	height: 550px;
	float: left;
	background: lightcoral;
}
.banner{
	width: 100%;
	height: 550px;
	float: left;
	background: mediumaquamarine;
}
.cajaflot{
	width: 50%;
	height: 250px;
	float: left;
	background: royalblue;
	margin-left: 5%;
	margin-top: 55px;
}
.conocenos{
	width: 20%;
	height: 50px;
	float: left;
	background: rosybrown;
}
.texrell{
	width: 100%;
	height: 150px;
	float: left;
	background: goldenrod;
}
.mas{
	width: 15%;
	height: 50px;
	float: left;
	background: slategray;
	margin-left: 85%;
}
#a2{
	width: 100%;
	height: 300px;
	float: left;
	background: sienna;
}
.child1{
	width: 34%;
	height: 300px;
	float: left;
	background: peru;
}
.imagen{
	width: 100%;
	height: 300px;
	float: left;
	background: goldenrod;
}
.child2{
	width: 33%;
	height: 300px;
	float: left;
	background: darkgoldenrod;
}
.texa{
	width: 100%;
	height: 100px;
	float: left;
	background: cornflowerblue;
}
.uno{
	width: 60%;
	height: 100px;
	float: left;
	background: pink;
}
.dos{
	width: 40%;
	height: 100px;
	float: left;
	background: red;
}
.texm{
	width: 100%;
	height: 150px;
	float: left;
	background: mediumslateblue;
}
.texb{
	width: 100%;
	height: 50px;
	float: left;
	background: deepskyblue;
}
.one{
	width: 70%;
	height: 50px;
	float: left;
	background: purple;
}
.two{
	width: 30%;
	height: 50px;
	float: left;
	background: teal;
}
.child3{
	width: 33%;
	height: 300px;
	float: left;
	background: tan;
}
.arriba{
	width: 100%;
	height: 100px;
	float: left;
	background: green;
}
.juan{
	width: 60%;
	height: 100px;
	float: left;
	background: blue;
}
.tu{
	width: 40%;
	height: 100px;
	float: left;
	background: goldenrod;
}
.medio{
	width: 100%;
	height: 150px;
	float: left;
	background: springgreen;
}
.bajo{
	width: 100%;
	height: 50px;
	float: left;
	background: indigo;
}
.pedro{
	width: 70%;
	height: 50px;
	float: left;
	background: purple;
}
.jose{
	width: 30%;
	height: 50px;
	float: left;
	background: pink;
}
#lociones{
	width: 100%;
	height: 620px;
	float: left;
	background: seagreen;
}
.odin{
	width: 100%;
	height: 620px;
	float: left;
	background: palegreen;
}
.loki{
	width: 40%;
	height: 580px;
	float: left;
	background: darkcyan;
	margin-left: 1%;
	margin-top: 22px;
}
.thor{
	width: 57%;
	height: 522px;
	float: left;
	background: steelblue;
	margin-top: 22px;
	margin-left: 1%;
}
.thorcito{
	width: 100%;
	height: 270px;
	float: left;
	background: darkturquoise;
}
.thorsito2{
	width: 100%;
	height: 270px;
	float: left;
	background: blue;
	margin-top: 22px;
}