@charset "utf-8";

body{
	background: white;
	width: 100%;
	height: auto;
	font-family: calibri;
	margin: 0;
	padding: 0;
}
header{
  width: 100%;
  height: 60px;
  background: #01478d;
  float: left;
}
.father{
  width: 100%;
  height: 60px;
  float: left;
}
.logo{
  width: 6%;
	height: 60px;
	float: left;
	border-color: #0abcca;
	border-width: 2px;
	border-right-style: solid;
}
.img_center{
	width: 50%;
	height: 40px;
  display: block;
	margin-top: 7pt;
	margin-left: 4pt;
}
header>.father>.contenido>.menu>ul>li{
	list-style: none;
	display: block;
	float: left;
	width: 9%;
	height: 40px;
	border-right: 2px;
	border-right-color: #0abcca;
	border-right-style: solid;
	text-align: center;
	text-decoration: none;
	padding-top: 20px;
}
header>.father>.contenido>.menu>ul>li>a{
	text-decoration:none;
	color: white;
	text-align: center;
	font-size: 13pt;
}
li:hover{
	background-color: purple !important;
}
.contenido{
  width: 80%;
  height: 60px;
  float: left;
}
ul{
	padding: 0;
	margin: 0;
}
li{
	padding:0;
	margin: 0;
}
.boton{
	width: 13%;
	float: left;
	margin: 0;
	padding: 0;
	height: 60px;
}
.registro{
	width: 60%;
	float: left;
	height: 50px;
	background: #00a1f9;
	border-color: white;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
	margin-top: 2px;
	color: white;
}
button:hover{
	background-color: purple;
}
.banner{
	width: 1404px;
	height: 530px;
	float: left;
	background: url('../img/crecimiento2.png');
}
.imagen1{
	width: 40%;
	height: 680px;
	float: left;
}
.text1{
	width: 60%;
	height: 100px;
	float: left;
}

.text1>h1{
  color: #053b81;
  font-family: calibri;
  font-size: 32pt;
  font-weight: bold;
  margin-top: 55px;
  padding:0;
}
.text2{
	width: 100%;
	height: 350px;
}
.text2>h3{
	color: solid gray;
  font-family: calibri;
  font-size: 23pt;
  font-weight: lighter;
  padding:0;
	margin-right: 15pt;
}
.uno{
	width: 10%;
	height: 60px;
	float: left;
	margin-top: 20px;
	background: white;
	border-color: #053b81;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	color: #053b81;
}
.dos {
	width: 10%;
	height: 60px;
	float: left;
	margin-top: 20px;
	background: white;
	border-color: #053b81;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	color: #053b81;
	margin-left: 25pt;
}
.tres{
	width: 10%;
	height: 60px;
	float: left;
	margin-top: 20px;
	background: white;
	border-color: #053b81;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	color: #053b81;
	margin-left: 25pt;
}
.cuatro{
	width: 10%;
	height: 60px;
	float: left;
	margin-top: 20px;
	background: white;
	border-color: #053b81;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	color: #053b81;
	margin-left: 25pt;
}
section>article>button>h4{
	font-weight: lighter;
}
.caja1{
	width: 30%;
	height: 300px;
	float: left;
	background: #f0f0f0;
	margin-left: 35px;
}
.icon{
	width: 20%;
	height: 20px;
	float: left;
}
.t1{
	width: 60%;
	height: 30px;
	color: black;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
  margin-left: 160px;
}
.t2{
	color: black;
  font-family: calibri;
  font-size: 10pt;
  font-weight: lighter;
  padding:0;
	margin-left: 20px;
	margin-top: 60px;
	margin-right: 20pt;
}
.caja2{
	width: 30%;
	height: 300px;
	float: left;
	background: #f0f0f0;
	margin-left: 40px;
}
.icon2{
	width: 20%;
	height: 20px;
	float: left;
}
.te1{
	width: 60%;
	height: 30px;
	color: black;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
  margin-left: 160px;
}
.te2{
	color: black;
  font-family: calibri;
  font-size: 10pt;
  font-weight: lighter;
  padding:0;
	margin-left: 20px;
	margin-top: 60px;
	margin-right: 20pt;
}
.caja3{
	width: 30%;
	height: 300px;
	float: left;
	background: #f0f0f0;
	margin-left: 40px;
}
.icon3{
	width: 20%;
	height: 20px;
	float: left;
}
.tex1{
	width: 60%;
	height: 30px;
	color: black;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
  margin-left: 160px;
}
.tex2{
	color: black;
  font-family: calibri;
  font-size: 10pt;
  font-weight: lighter;
  padding:0;
	margin-left: 20px;
	margin-top: 60px;
	margin-right: 20pt;
}
.c1{
	width: 46%;
	height: 300px;
	float: left;
	background: #f0f0f0;
	margin-left: 36px;
	margin-top: 60px;
}
.icono{
	width: 20%;
	height: 20px;
	float: left;
}
.textito{
	width: 60%;
	height: 30px;
	color: black;
	font-family: calibri;
	font-weight: lighter;
	padding: 0;
  margin-left: 250px;
}
.textito2{
	color: black;
  font-family: calibri;
  font-size: 10pt;
  font-weight: lighter;
  padding:0;
	margin-left: 30px;
	margin-top: 60px;
	margin-right: 20pt;
}
.c2{
	width: 48%;
	height: 300px;
	float: left;
	background: #f0f0f0;
	margin-left: 6px;
	margin-top: 60px;
}
.icono2{
	width: 20%;
	height: 20px;
	float: left;
}
.textito3{
	width: 60%;
	height: 30px;
	color: black;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
  margin-left: 250px;
}
.textito4{
	color: black;
  font-family: calibri;
  font-size: 10pt;
  font-weight: lighter;
  padding:0;
	margin-left: 30px;
	margin-top: 60px;
	margin-right: 20pt;
}
.cajita{
	width: 46%;
	height: 300px;
	float: left;
	background: #f0f0f0;
	margin-left: 36px;
	margin-top: 20px;
}
.iconito{
	width: 20%;
	height: 20px;
	float: left;
}
.textito5{
	width: 60%;
	height: 30px;
	color: black;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
  margin-left: 250px;
}
.textito6{
	color: black;
  font-family: calibri;
  font-size: 10pt;
  font-weight: lighter;
  padding:0;
	margin-left: 30px;
	margin-top: 60px;
	margin-right: 20pt;
}
.cajita2{
	width: 48%;
	height: 300px;
	float: left;
	background: #f0f0f0;
	margin-left: 6px;
	margin-top: 20px;
}
.a{
	width: 20%;
	height: 20px;
	float: left;
}
.b{
	width: 60%;
	height: 30px;
	color: black;
	font-family: calibri;
	font-weight: bold;
	padding: 0;
  margin-left: 250px;
}
.c{
	color: black;
  font-family: calibri;
  font-size: 10pt;
  font-weight: lighter;
  padding:0;
	margin-left: 30px;
	margin-top: 60px;
	margin-right: 20pt;
}
footer{
	width: 100%;
	height: 140px;
	background: #013968;
	float: left;
	margin-top: 60px;
}

footer>div{
	font-family: calibri;
	font-size: 10pt;
	text-align: center;
	color: white;
	padding-top: 5px;
}