@charset "utf-8";

body{
	background: #cfcdce;
	width: 100%;
	height: auto;
	font-family: calibri;
	margin: 0;
	padding: 0;
}

#contenedor{
  width:75%;
  height: auto;
  background: white;
  margin: auto;
  display: block;
}

#header{
  background: #ddae76;
  width: 100%;
  height: 360px;
  float: left;
}

.imagen{
  width: 25%;
  float: left;
  height: 400px;
}

.coffee{
  margin: 0;
	display: block;
  margin-top: 2px;
  height: 300px;
}

.texto{
  width: 75%;
  float: left;
  height: 340px;
}

.texto1{
  width: 100%;
  height: 30px;
  float: left;
  margin-top: 120px;
}

.texto1>h1{
  color: #26150d;
  font-family: tahoma;
  font-size: 40pt;
  font-weight: bold;
  margin: 0;
  padding:0;
}

.texto2{
  width: 100%;
  height: 30px;
  float: left;
  margin-top: 20px;
}

.texto2>h3{
  color: #26150d;
  font-family: tahoma;
  font-size: 17pt;
  font-weight: normal;
  letter-spacing: 5px;
  margin: 0;
  padding:0;
  margin-left: 280px;
  margin-top: 20pt;
}

#art1{
  background: white;
  width: 100%;
  height: 280px;
  float: left;
}

.child1{
  width: 100%;
  background: white;
  height: 70px;
  float: left;
  margin:0;
  padding:0;
}

.child1>h2{
  color: black;
  font-family: calibri;
  font-size: 24pt;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
  padding:0;
  margin-left: 50px;
  margin-top: 18pt;
}

.child2{
  width: 100%;
  background: white;
  height: 100px;
  float: left;
  margin:0;
  padding:0;
}

.child2>h3{
  color: black;
  font-family: calibri;
  font-size: 14pt;
  font-weight: normal;
  margin: 0;
  padding:0;
  margin-left: 50px;
  margin-right: 50pt;
  margin-top: 15pt;
  text-align: justify
}

.child3{
  width: 100%;
  background: white;
  height: 100px;
  float: left;
  margin:0;
  padding:0;
}

.child3>h3{
   color: black;
  font-family: calibri;
  font-size: 14pt;
  font-weight: normal;
  margin: 0;
  padding:0;
  margin-left: 50px;
  margin-right: 50pt;
  margin-top: 10pt;
  text-align: justify
}

#art2{
  width: 100%;
  background: white;
  height: 199px;
  float: left;
}

.a{
  width: 30%;
  background: white;
  height: 200px;
}

.taza{
  margin: 0;
	display: block;
  height: 199px;
  padding: 0;
}

.b{
  width: 70%;
  background: white;
  height: 200px;
  float: left;
}



