@charset "utf-8";

body{
	background: white;
	width: 100%;
	height: auto;
	font-family: calibri;
	margin: 0;
	padding: 0;
}
#header{
	width: 100%;
	height: 60px;
	background: #b6640e;
	float: left;
}
.padre{
	width: 100%;
	height: 60px;
	background: #b6640e;
	float: left;
}
.imagen{
	width: 8%;
	height: 60px;
	background: #b6640e;
	float: left;
	border-color: white;
	border-width: 1px;
	border-right-style: solid;
}
.img_center{
	width: 50%;
  display: block;
	margin-top: 5px;
	margin-left: 10px;	
}

#header>.padre>.contenedor>.menu>ul>li{
	list-style: none;
	display: block;
	float: left;
	width: 12%;
	height: 60px;
	color:white;
	border-right: 1px solid white;
	text-align: center;
	text-decoration: none;
	padding-top: 20px;
}

#header>.padre>.contenedor>.menu>ul>li>a{
	text-decoration:none;
	color: white;
	text-align: center;
	font-size: 9pt;
}

.contenedor{
 width: 90%;
  height: 60px;
  float: left;
}

ul{
	padding: 0;
	margin: 0;
}

.menu{
	width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  float: left;	
}

.banner{
	width: 1404px;
	height: 674px;
	float: left;
	background: url('../img/crecimiento2.png');
}

.imagen1{
	width: 40%;
	height: 674px;
	float: left;
}

.text1{
	width: 60%;
	height: 100px;
	float: left;
}

.text1>h1{
  color: #b6640e;
  font-family: calibri;
  font-size: 25pt;
  font-weight: bold;
  margin-top: 55px;
  padding:0;
}

.text2{
	width: 100%;
	height: 350px;
}

.text2>h3{
	color: black;
  font-family: calibri;
  font-size: 23pt;
  font-weight: lighter;
  padding:0;
	margin:0;
}

.juan{
	width: 15%;
	height: 60px;
	float: left;
	margin-top: 20px;
	background: white;
	border-color: #b6640e;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
}

.juan>h4{
	color: #b6640e;
  font-family: calibri;
  font-size: 14pt;
  font-weight: lighter;
  padding:0;
	margin:0;
}

.tu{
	width: 15%;
	height: 60px;
	float: left;
	margin-top: 20px;
	margin-left: 10pt;
	background: white;
	border-color: #b6640e;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
}

.tu>h4{
	color: #b6640e;
  font-family: calibri;
  font-size: 14pt;
  font-weight: lighter;
  padding:0;
	margin:0;
}

.tri{
	width: 15%;
	height: 60px;
	float: left;
	margin-top: 20px;
	margin-left: 10pt;
	background: white;
	border-color: #b6640e;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
}

.tri>h4{
	color: #b6640e;
  font-family: calibri;
  font-size: 14pt;
  font-weight: lighter;
  padding:0;
	margin:0;
}