@charset "utf-8";

body{
	background: #23e2f3;
	width: 100%;
	height: auto;
	font-family: arial;
	margin: 0;
}

header{
	width: 100%;
	height: 60px;
	float: left;
	background: #a7f323;
}

.child1{
	width: 55%;
	height: 60px;
	float: left;
	background: #f38f23;
}

.child2{
	width: 45%;
	height: 60px;
	float: left;
	background: #9d23f3;
}

.a{
	width: 45%;
	height: 60px;
	float: left;
	background: #612498;
}

.b{
	width: 55%;
	height: 60px;
	float: left;
	background: #bcde54;
}

.c{
	width: 27%;
	height: 60px;
	float: left;
	background: #de9d73;
}

.d{
	width: 19%;
	height: 60px;
	float: left;
	background: #c8a553;
}

.e{
	width: 27%;
	height: 60px;
	float: left;
	background: #8b9b76;
}

.f{
	width: 27%;
	height: 60px;
	float: left;
	background: #ceb537;
}

.g{
	width: 100%;
	height: 490px;
	float: left;
	background: #e89ec1;
}

#auno{
	width: 100%;
	height: 10px;
	float: left;
	background: #41b665;
}

.h{
	width: 100%;
	height: 10px;
	float: left;
}

.separador{
	width: 7%;
	height: 700px;
	float: left;
	background: green;
}

.i{
	width: 24%;
	height: 700px;
	float: left;
	background: #1fabac;
}

.i1{
	width: 100%;
	height: 350px;
	float: left;
	background: #156e6f;
}

.i2{width: 100%;
	height: 350px;
	float: left;
	background: #5f3425;
}

.i2hijo1{
	width: 100%;
	height: 45px;
	float: left;
	background: #71a4a8;
}

.i2hijo2{
	width: 100%;
	height: 225px;
	float: left;
	background: #ae7763;
}

.i2hijo3{
	width: 100%;
	height: 80px;
	float: left;
	background: #f36936;
}

.i2hijo3tresa{
	width: 28%;
	height: 80px;
	float: left;
	background: #7a6a97;
}

.i2hijo3tresb{
	width: 39%;
	height: 80px;
	float: left;
	background: #007373;
}

.i2hijo3tresc{
	width: 33%;
	height: 80px;
	float: left;
	background: #7a6a97;
}

.separador2{
	width: 7%;
	height: 700px;
	float: left;
	background:green;
}
	
.j{
	width: 24%;
	height: 700px;
	float: left;
	background: #1fabac;
}

.j1{
	width: 100%;
	height: 350px;
	float: left;
	background: #156e6f;
}

.j2{width: 100%;
	height: 350px;
	float: left;
	background: #5f3425;
}

.j2hijo1{
	width: 100%;
	height: 45px;
	float: left;
	background: #71a4a8;
}

.j2hijo2{
	width: 100%;
	height: 225px;
	float: left;
	background: #ae7763;
}

.j2hijo3{
	width: 100%;
	height: 80px;
	float: left;
	background: #f36936;
}

.j2hijo3tresa{
	width: 28%;
	height: 80px;
	float: left;
	background: #7a6a97;
}

.j2hijo3tresb{
	width: 39%;
	height: 80px;
	float: left;
	background: #007373;
}

.j2hijo3tresc{
	width: 33%;
	height: 80px;
	float: left;
	background: #7a6a97;
}

.separador3{
	width:7%;
	height: 700px;
	float: left;
	background:green;
}

.k{
	width: 24%;
	height: 700px;
	float: left;
	background: #1fabac;
}

.k1{
	width: 100%;
	height: 350px;
	float: left;
	background: #156e6f;
}

.k2{width: 100%;
	height: 350px;
	float: left;
	background: #5f3425;
}

.k2hijo1{
	width: 100%;
	height: 45px;
	float: left;
	background: #71a4a8;
}

.k2hijo2{
	width: 100%;
	height: 225px;
	float: left;
	background: #ae7763;
}

.k2hijo3{
	width: 100%;
	height: 80px;
	float: left;
	background: #f36936;
}

.k2hijo3tresa{
	width: 28%;
	height: 80px;
	float: left;
	background: #7a6a97;
}

.k2hijo3tresb{
	width: 39%;
	height: 80px;
	float: left;
	background: #007373;
}

.k2hijo3tresc{
	width: 33%;
	height: 80px;
	float: left;
	background: #7a6a97;
}


.separador4{
	width:7%;
	height: 700px;
	float: left;
	background:green;
}

#rectangulo{
	width: 100%;
	height:500px;
	float: left;
	background: #brown;
}

.rectangulopadre{
	width: 100%;
	height: 500px;
	float: left;
	background: orange;
}

.hijo1{
	width: 50%;
	height: 500px;
	float: left;
	background: #5ccac9;
}

.hijo2{
	width: 50%;
	height: 500px;
	float: left;
	background: #e633cf;
}

.primero{
	width: 100%;
	height: 120px;
	float: left;
	background: blueviolet;
}

.segundo{
	width: 100%;
	height: 70px;
	float: left;
	background: purple;
}

.negro{
	width: 50%;
	height: 70px;
	float: left;
	background: black;
}

.amarillo{
	width: 50%;
	height: 70px;
	float: left;
	background: yellow;
}

.tercero{
	width: 100%;
	height: 70px;
	float: left;
	background: lime;
}

.cuarto{
	width: 100%;
	height: 70px;
	float: left;
	background: #52234c;
}

.verde1{
	width: 35%;
	height: 70px;
	float: left;
	background: teal;
}

.verde2{
	width: 30%;
	height: 70px;
	float: left;
	background: olive;
}

.verde3{
	width: 35%;
	height: 70px;
	float: left;
	background: seagreen;
}

.quinto{
	width: 100%;
	height: 170px;
	float: left;
	background: navy;
}

#ultimo{
	width: 100%;
	height: 500px;
	float: left;
	background: tan;
}

.base{
	width: 100%;
	height: 520px;
	float: left;
	background: dimgray;
}

.mayor{
	width: 58%;
	height: 520px;
	float: left;
	background: darkslategray;
}

.uno{
	width: 100%;
	height: 90px;
	float: left;
	background: oldlace;
}

.dos{
	width: 100%;
	height: 90px;
	float: left;
	background: maroon;
}

.mediano{
	width: 45%;
	height: 90px;
	float: left;
	background: rosybrown;
}

.pequeño{
	width: 1%;
	height: 90px;
	float: left;
	background: royalblue;
}

.mediano2{
	width: 54%;
	height: 90px;
	float: left;
	background: goldenrod;
}

.tres{
	width: 100%;
	height: 4px;
	float: left;
	background: white;
}

.cuatro{
	width: 100%;
	height: 90px;
	float: left;
	background: darkorchid;
}

.pparte{
	width: 45%;
	height: 90px;
	float: left;
	background: magenta;
}

.sparte{
	width: 1%;
	height: 90px;
	float: left;
	background: darkorange;
}

.tparte{
	width: 54%;
	height: 90px;
	float: left;
	background: orangered;
}

.cinco{
	width: 100%;
	height: 10px;
	float: left;
	background: maroon;
}

.seis{
	width: 100%;
	height: 184px;
	float: left;
	background: coral;
}

.siete{
	width: 100%;
	height: 52px;
	float: left;
	background: darkred;
}

.menor{
	width: 42%;
	height: 520px;
	float: left;
	background: darkseagreen;
}

.mitadarriba{
	width: 100%;
	height: 220px;
	float: left;
	background: darkcyan;
}

.ppedazo{
	width: 100%;
	height: 90px;
	float: left;
	background: forestgreen;
}

.spedazo{
	width: 100%;
	height: 90px;
	float: left;
	background: lime;
}

.peq{
	width: 1%;
	height: 90px;
	float: left;
	background: forestgreen;
}

.gran{
	width: 100%;
	height: 90px;
	float: left;
	background: forestgreen;
}

.tpedazo{
	width: 100%;
	height: 90px;
	float: left;
	background: forestgreen;
}

.mitadabajo{
	width: 100%;
	height: 300px;
	float: left;
	background: olivedrab;
}

.juan{
	width: 100%;
	height: 90px;
	float: left;
	background: maroon;
}

.juan1{
	width: 1%;
	height: 90px;
	float: left;
	background: forestgreen;
}

.juan2{
	width: 56%;
	height: 90px;
	float: left;
	background: lime;
}

.juan3{
	width: 28%;
	height: 90px;
	float: left;
	background: purple;
}

.juan4{
	width: 15%;
	height: 90px;
	float: left;
	background: lime;
}

.valdez{
	width: 100%;
	height: 210px;
	float: left;
	background: forestgreen;
}

#footie{
	width: 100%;
	height: 320px;
	float: left;
	background: bisque;
}

.foot1{
	width: 34%;
	height: 320px;
	float: left;
	background: darkturquoise;
}

.foot2{
	width: 66%;
	height: 320px;
	float: left;
	background: royalblue;
}

.arriba{
	width: 100%;
	height: 92px;
	float: left;
	background: steelblue;
}

.morado{
	width: 25%;
	height: 92px;
	float: left;
	background: mediumpurple;
}

.aqua{
	width: 25%;
	height: 92px;
	float: left;
	background: aqua;
}

.verde{
	width: 14%;
	height: 92px;
	float: left;
	background: seagreen;
}

.gris{
	width: 14%;
	height: 92px;
	float: left;
	background: silver;
}

.rosado{
	width: 14%;
	height: 92px;
	float: left;
	background: hotpink;
}

.morado2{
	width: 8%;
	height: 92px;
	float: left;
	background: mediumpurple;
}

.medio{
	width: 100%;
	height: 78px;
	float: left;
	background: mediumpurple;
}

.bajo{
	width: 100%;
	height: 150px;
	float: left;
	background: blueviolet;
}





