@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;	
	margin:0;
}

#menu{
	width: 100%;
	background:#c3db51;
	height: 60px;
	float: left;	
}

.hijo1{
	width: 55%;
	height: 60px;
	background: #1b88a2;
	float: left;
}

.child2{
	width: 44.6%;
	float: left;
	background: 1px solid green;
	height: 60px;
}

.a{
    width: 40%;
	width: 100%;
	float: left;
	height: 60px;
	background: #bb4949;
}

.hijo2{
	width: 45%;
	float: left;
	background: 1px solid green;
	height: 60px;
}
.b{
	width: 60%;
	width: 15%;
    float: left;
	height: 60px;
	background: #b8de35;
}

.c{
    width: 31%;
	float: left;
	height: 60px;
	background: #ce0606;
}

.d{
	float: left;
	width: 27%;
	height: 60px;
	background: #113ebd;
}

.e{
	float: left;
	width: 27%;
	height: 60px;
	background: #237276;
}
.rectangulo1{
	float: left;
	width: 100%;
	height: 100px;
    background:#b46acb;
}
.r1{
	width: 15%;
	float: left;
	height: 70px;
	margin-top: 1%;
	margin-left: 4%;
	background: #8008a8;
}
 .r2{
	width: 8%;
	float: left;
	height: 100px;
	margin-left: 25%;
	background: #9025b3;
}
.r3{
	width: 8%;
	float: left;
	height: 100px;
	background: #c786e0;
}
.r4{
	width: 15%;
	float: left;
	height: 100px;
	background: #4d2b5d;
}
.r5{
	width: 15%;
	float: left;
	height: 100px;
	background: #a93bd0;
}
.r6{
	width: 10%;
	float: left;
	height: 100px;
	background: #130e14;
}
.lineaceleste{
	width: 100%;
	float: left;
	height: 20px;
	background: #4ba6a9;
}
.lineaazul{
	width: 100%;
	float: left;
	height: 20px;
	background: #10777e;
}
.cuadrovc{
	float: left;
	width: 100%;
	height: 500px;
    background:#85b778;
}
.cuadrovo{
	float: left;
	width: 44%;
	height: 280px;
    background:#213919;
    margin-top: 15%;
	margin-left: 4%;
}
.text1{
	float: left;
	width: 40%;
	height: 40px;
    background:#020901;
    margin-top: 3%;
	margin-left: 3%;
}
.text2{
	float: left;
	width: 90%;
	height:125px;
    background:#020901;
    margin-top: 3%;
	margin-left: 3%;
}
.boton1{
	float: right;
	width: 20%;
	height:40px;
    background:#020901;
    margin-top: 3%;
    margin-right: 3%;
}

.rectangulo2{
	float: left;
	width: 100%;
	height: 300px;
    background:#85b778;
}
.cuadrorosa1{
	float: left;
	width: 60%;
	height: 300px;
    background:#7b1c3c;
}
.text11{
	float: left;
	width: 40%;
	height: 50px;
    background:#020901;
    margin-top: 3%;
	margin-left: 3%;
}
.text22{
	float: left;
	width: 90%;
	height:125px;
    background:#020901;
    margin-top: 3%;
	margin-left: 3%;
}
.boton2{
	float: right;
	width: 20%;
	height:40px;
    background:#020901;
    margin-top: 3%;
    margin-right: 3%;
}

.cuadrorosa2{
	float: left;
	width: 40%;
	height: 300px;
    background:#df823f;
}
.rectangulo3{
	float: left;
	width: 100%;
	height: 700px;
    background:#3d22d1;
}

.celeste1{
	float: left;
	width: 25%;
	height:600px;
	background: #02253e;
	margin-left: 6.25%;
	margin-bottom: 7%;
}

.c1{
	float: left;
	width: 100%;
	height:75px;
	background: #141d1c;
}

.c2{
	float: left;
	width: 100%;
	height:225px;
	background: #12a9c6;
}
.boton3{
	float: right;
	width: 30%;
	height:40px;
    background:#3f023e;
    margin-top: 55%;
}
.c3{
	float: left;
	width: 100%;
	height:75px;
	background: #141d1c;
}

.c4{
	float: left;
	width: 100%;
	height:225px;
	background: #12a9c6;	
}
.boton33{
	float: right;
	width: 30%;
	height:40px;
    background:#3f023e;
    margin-top: 55%;
}
.celeste2{
	float: left;
	width: 25%;
	height:600px;
	background: #02253e;
	margin-left: 6.25%;
	margin-bottom: 7%;
}

.cc1{
	float: left;
	width: 100%;
	height:75px;
	background: #141d1c;
}

.cc2{
	float: left;
	width: 100%;
	height:225px;
	background: #12a9c6;
}
.boton4{
	float: right;
	width: 30%;
	height:40px;
    background:#3f023e;
    margin-top: 55%;
}

.cc3{
	float: left;
	width: 100%;
	height:75px;
	background: #141d1c;
}
.cc4{
	float: left;
	width: 100%;
	height:225px;
	background: #12a9c6;
}
.boton44{
	float: right;
	width: 30%;
	height:40px;
    background:#3f023e;
    margin-top: 55%;
}
.celeste3{
	float: left;
	width: 25%;
	height:600px;
	background: #02253e;
	margin-left: 6.25%;
	margin-bottom: 7%;
}

.ccc1{
	float: left;
	width: 100%;
	height:75px;
	background: #141d1c;
}

.ccc2{
	float: left;
	width: 100%;
	height:225px;
	background: #12a9c6;
}
.boton5{
	float: right;
	width: 30%;
	height:40px;
    background:#3f023e;
    margin-top: 55%;
}
.ccc3{
	float: left;
	width: 100%;
	height:75px;
	background: #141d1c;
}

.ccc4{
	float: left;
	width: 100%;
	height:225px;
	background: #12a9c6;
}
.boton55{
	float: right;
	width: 30%;
	height:40px;
    background:#3f023e;
    margin-top: 55%;
}
.rectangulo4{
	float: left;
	width: 100%;
	height: 300px;
    background:#7b1c3c;
}
.re1{
	float: left;
	width: 33.33%;
	height: 300px;
    background:#d28652;
}
.re2{
	float: left;
	width: 33.33%;
	height: 300px;
    background:#87290f;
}
.re22{
	float: left;
	width: 40%;
	height: 40px;
    background:#3f023e;
    margin-top: 3%;
	margin-left: 3%;
}
.re23{
	float: left;
	width: 90%;
	height:125px;
    background:#3f023e;
    margin-top: 10%;
	margin-left: 3%;
}
.re3{
	float: left;
	width: 33.33%;
	height: 150px;
    background:#4b2711;
}
.re4{
	float: left;
	width: 33.33%;
	height: 150px;
    background:#b76734;
}
.rectangulo5{
	float: left;
	width: 100%;
	height:500px;
    background:#1f4a8f;
}
.verde1{
	width: 20%;
	float: left;
	height: 55px;
	margin-top: 2%;
	margin-left: 8%;
	background: #408e17;
}
.verde2{
	width: 20%;
	height: 55px;
	margin-top: 10%;
	margin-left:  3%;
	background: #408e17;
}
.verde3{
	width: 20%;
	height:55px;
	margin-top: 3%;
	margin-left:  3%;
	background: #408e17;
}
.verde4{
	width: 20%;
	height:55px;
	margin-top: 3%;
	margin-left:  3%;
	background: #408e17;
}
.verde22{
	width: 20%;
	height:55px;
	margin-top: 3%;
	margin-left:  25%;
	background: #408e17;
}









