@charset "utf-8";


body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;	
	margin:0;
}

#menu{
	width: 100%;
	background:#c3db51;
	height: 60px;
	float: left;
	
}

.child1{
	width: 55%;
	height: 60px;
	background: #1b88a2;
	float: left;
}

.child2{
	width: 44.6%;
	float: left;
	background: 1px solid green;
	height: 60px;
}

.a{
	width: 40%;
	float: left;
	height: 60px;
	background: #3aa930;
}

.b{
	width: 60%;
	float: left;
	height: 60px;
	background: #b8de35;
}

.c{
	width: 27%;
	float: left;
	height: 60px;
	background: #da9f75;
}

.d{
	width: 17%;
	float: left;
	height: 60px;
	background: #913508;
}

.e{
	width: 27%;
	float: left;
	height: 60px;
	background: #800239;
}

.cuadrorosa1{
	float: left;
	width: 100%;
	height: 240px;
    background:#fb8dc3;
}

.lineaverde{
	float: left;
	width: 100%;
	height: 15px;
    background:#0ca700;
}

.cuadro3{
	float: left;
	width: 100%;;
	background: #82c3e1;
}

.azul1{
	float: left;
	width: 25%;
	height:500px;
	background: #02253e;
	margin-left: 6.25%;
}

.a1{
	float: left;
	width: 100%;
	height:210px;
	background: #0385e0;
}

.a2{
	float: left;
	width: 100%;
	height:40px;
	background: #a5ab00;
}

.a3{
	float: left;
	width: 100%;
	height:175px;
	background: #fc8012;
}

.a4{
	float: left;
	width: 100%;
	height:75px;
	background: #880abd;
	
}

.a41{
	width: 34%;
	float: left;
	height: 75px;
	background: #06b575;
	margin-left: 32%;
}

.azul2{
	float: left;
	width: 25%;
	height:500px;
	background: #02253e;
	margin-left: 6.25%;
}

.aa1{
	float: left;
	width: 100%;
	height:210px;
	background: #0385e0;
}

.aa2{
	float: left;
	width: 100%;
	height:40px;
	background: #a5ab00;
}

.aa3{
	float: left;
	width: 100%;
	height:175px;
	background: #fc8012;
}

.aa4{
	float: left;
	width: 100%;
	height:75px;
	background: #880abd;
}

.aa41{
	width: 34%;
	float: left;
	height: 75px;
	background: #06b575;
	margin-left: 32%;
}

.azul3{
	float: left;
	width: 25%;
	height:500px;
	background: #02253e;
	margin-left: 6.25%;
}

.aaa1{
	float: left;
	width: 100%;
	height:210px;
	background: #0385e0;
}

.aaa2{
	float: left;
	width: 100%;
	height:40px;
	background: #a5ab00;
}

.aaa3{
	float: left;
	width: 100%;
	height:175px;
	background: #fc8012;
}

.aaa4{
	float: left;
	width: 100%;
	height:75px;
	background: #880abd;
}

.aaa41{
	float: left;
    width: 34%;
    height: 75px;
	background: #06b575;
	margin-left: 32%;
}

.cuadro4{
	float: left;
	width: 100%;
	height: 400px;
	background: #82c3e1;
}

.cuadrocolores{
	float: left;
	width: 50%;
	height: 400px;
	margin-left: 50%;
	background: #03811d;
}

.cc2{
	float: left;
	width: 100%;
	height:70px;
	background: #0a1310; 
	margin-top: 10%;
}

.cc3{
	float: left;
	width: 50%;
	height:70px;
	background: #ded718;
	margin-left: 50%;
}

.cc4{
	float: left;
	width: 100%;
	height:70px;
	background: #cd622d; 
}
.cc5{
	float: left;
	width: 100%;
	height:70px;
	background: #0f9a8f; 
}

.cc6{
	float: left;
	width: 33.33%;
	height:70px;
	background: #13a8d8;
	margin-left: 33.33%;
}

.cuadro5{
	float: left;
	width: 100%;
	height: 418px;
	background: #82c3e1;
}

.cuadrostodosazules{
	float: left;
	width: 60%;
	height: 418px;
	background: #095b53;		
}
.cuadrogemelos{
	float: left;
	width: 40%;
	height: 418px;
	background: #82c3e1;
}	

.cta1{
	float: left;
	width: 40%;
	height:60px;
	background: #02abc8;
	margin-left: 0.8%;
	margin-top: 11%;		
}

.cta2{
	float: left;
	width: 56%;
	height: 60px;
	background: #02abc8;
	margin-left: 2%;
	margin-top: 11%;	
}
.cta3{
	float: left;
	width: 40%;
	height: 60px;
	background: #02abc8;
	margin-left: 0.8%;
	margin-top: 1%;
}

.cta4{
	float: left;
	width: 56%;
	height: 60px;
	background: #02abc8;
	margin-left: 2%;
	margin-top: 1%;
}

.cta5{
	float: left;
	width: 40%;
	height:150px;
	background: #02abc8;
	margin-left: 0.8%;	
	margin-top: 2%;
}

.cta6{
	float: left;
	width: 56%;
	height: 150px;
	background: #02abc8;
	margin-left: 2%;
	margin-top: 2%;
}
.cta7gris{
	float: left;
	width: 100%;
	height:35px;
	background: #6176a1;
}

.cg1{
	float: left;
	width: 100%;
	height:60px;
	background: #02abc8;
	margin-left: 0.6%;
	margin-top: 16.55%;		
}
.cg2{
	float: left;
	width: 100%;
	height:60px;
	background: #02abc8;
	margin-left: 0.6%;
	margin-top: 10%;		
}

.cg22{
	float: left;
	width: 25%;
	height:60px;
	background: #604896;
	margin-left:60%;		
}
.cuadrofinal{
	float: left;
	width: 100%;
	height: 300px;
	background: #82c3e1;
}
.cuadromorado{
	float: left;
	width: 30%;
	height: 300px;
	background: #294c9d;		
}

.cuadroverde{
	float: left;
	width: 70%;
	height: 300px;
	background: #36d8af;		
}

.cuadrom1{
	float: left;
	width: 35%;
	height:60px;
	background: #294c9d;
	margin-left: 15%;		
}

.cuadrom2{
	float: left;
	width: 15%;
	height:60px;
	background: #294c9d;
	margin-left: 0.4%;		
}

.cuadrom3{
	float: left;
	width: 15%;
	height:60px;
	background: #294c9d;
	margin-left: 0.4%;		
}

.cuadrom4{
	float: left;
	width: 15%;
	height:60px;
	background: #294c9d;
	margin-left: 0.4%;		
}

.cuadroverdeoscuro{
	float: left;
	width: 100%;
	height: 150px;
	background: #364944;
	margin-top: 9.5%;			
}



