@charset "utf-8";
 
 
 body{
 	background: #80c3e1;
 	width: 100%;
 	height: auto;
 	font-family: arial;	
 	margin:0;
 }
 
 #menu{
 	width: 100%;
 	background:#c3db51;
 	height: 60px;
 	float: left;
 	
 }
 
 .hijo1{
 	width: 100%;
 	height: 60px;
 	background: #a93d0d;
 	float: left;
 }

 .a1{
 	width: 30%;
 	float: right;
 	height: 60px;
 	background: #3aa930;
 }
 
 .b1{
 	width: 10%;
 	float: left;
 	height: 60px;
 	background: #b8de35;
 }
 
 .c1{
 	width: 45%;
 	float: right;
 	height: 70px;
 	background: #da9f75;
 }
 
 .d1{
 	width: 20%;
 	float: left;
 	height: 60px;
 	background: #859e77;
 }
 
 .cuadritos{
 	float: left;
 	width: 100%;
 	height: 80px;
     background:#fb8dc3;

 }
 
 .cuadrol{
 	float: left;
 	width: 15%;
 	height: 80px;
     background:#0ca700;
}

.c2{
	width: 40%;
 	float: left;
 	height: 80px;
 	background: #800239;
}
.c3{
	width: 8.57%;
 	float: left;
 	height: 80px;
 	background: #10a805;
}
.c4{
	width: 8.57%;
 	float: left;
 	height: 80px;
 	background: #b0e71a;
}
.c5{
	width: 8.57%;
 	float: left;
 	height: 80px;
 	background: #6c8b63;
}
.c6{
	width: 8.57%;
 	float: left;
 	height: 80px;
 	background: #08a686;
}
.c7{
	width: 8.57%;
 	float: left;
 	height: 80px;
 	background: #013027;
}
.c8{
	width: 8.57%;
 	float: left;
 	height: 80px;
 	background: #343736;
}

.c9{
	width: 8.57%;
 	float: left;
 	height: 80px;
 	background: #4c3504;
}
.cuadroimagen1{
	float: left;
 	width: 100%;
 	height:600px;
     background:#81607a;
}
.imagen1{
	float: left;
 	width: 30%;
 	height:600px;
     background:#bda000;
 }

 .cajatex{
	float: left;
 	width: 100%;
 	height:300px;
     background:#6c0d08;
     margin-top: 20%;
}
    
.imagen2{
	float: left;
 	width: 70%;
 	height:600px;
     background:#0e20aa;
}

.cuadroimagen2{
	float: left;
 	width: 100%;
 	height:350px;
    background:#d4342c;
}
.ci1{
	float: left;
	width: 33.33%;
	height:350px;
    background:#4a0301;
}
.ci2{
	float: left;
	width: 33.33%;
	height:350px;
    background:#dca371;
}
.ci21{
	float: left;
	width: 100%;
	height:70px;
    background:#e3c2c1;
    margin-top: 5%;
}
.ci22{
	float: left;
	width: 100%;
	height:150px;
    background:#e3c2c1;
    margin-top: 5%;
}

.ci23{
	float: right;
	width: 30%;
	height:50px;
    background:#e3c2c1;
    margin-top: 5%;
    margin-right: 4%;
}

.ci3{
	float: left;
	width: 33.33%;
	height:350px;
    background:#ef26d0;
}

.ci31{
	float: left;
	width: 100%;
	height:70px;
    background:#3108b5;
    margin-top: 5%;
}
.ci32{
	float: left;
	width: 100%;
	height:150px;
    background:#3108b5;
    margin-top: 5%;
}

.ci33{
	float: right;
	width: 30%;
	height:50px;
    background:#3108b5;
    margin-top: 5%;
    margin-right: 4%
}

.cuadroimagen3{
	float: left;
 	width: 100%;
 	height:700px;
    background:#cd5d02;
}
.cuai1{
	float: left;
	width: 50%;
	height:300px;
    background:#6702cd;
    margin-top: 3%;
    margin-left: 2%;
}

.cuail11{
	float: left;
	width: 55%;
	height:300px;
    background:#140127;
}
.cuail12{
	float: left;
	width: 45%;
	height:100px;
    background:#f6ef25;
    margin-top:6%;
}

.cuai2{
	float: left;
	width: 50%;
	height:300px;
    background:#6702cd;
    margin-top: 3%;
    margin-left: 2%;
}
.cuail21{
	float: left;
	width: 45%;
	height:100px;
    background:#f6ef25;
    margin-top:6%;
}
.cuail22{
	float: left;
	width: 55%;
	height:300px;
    background:#140127;   
}

.imagenjugo{
	float: right;
	width: 46%;
	height:700px;
    background:#4f0000;

}
