@charset "utf-8";

body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;	
	margin:0;
}

#menu{
	width: 100%;
	background:#c3db51;
	height: 60px;
	float: left;	
}

.hijo1{
	width: 55%;
	height: 60px;
	background: #1b88a2;
	float: left;
}

.child2{
	width: 44.6%;
	float: left;
	background: 1px solid green;
	height: 60px;
}

.a{
    width: 40%;
	width: 100%;
	float: left;
	height: 60px;
	background: #3aa930;
}

.hijo2{
	width: 45%;
	float: left;
	background: 1px solid green;
	height: 60px;
}
.b{
	width: 60%;
	width: 15%;

	float: left;
	height: 60px;
	background: #b8de35;
}

.c{
    width: 27%;
	width: 20%;
	float: left;
	height: 60px;
	background: #da9f75;
}

.d{
	width: 17%;
	width: 20%;
	float: left;
	height: 60px;
	background: #913508;
}

.e{
	width: 20%;
	float: left;
	height: 60px;
	background: #31dbd9;
}

