@charset "utf-8";

body{
	background: white;
	font-family: arial;
	margin: 0;
	padding: 0;
	}
	
	header{
	background: #232323;
	margin: 0;
	padding: 0;
	height: 60px;
	width: 100%;
	float: left;
}

#menu>li>a{
	text-decoration: none;
	color: #f3f8f6;
	text-align: center;
}
#menu>li{
	margin-top:0; 
	width: 9%;
	height: 45px;
	display: block;
	float: left;
	padding-top: 25px;
	text-align: center;
	border-right: 1px solid #eaece7;
}
.boton1{
	margin-right: 50px; 
	float: right;
	width: 7%;
	height: 30px;
	color:white; 
	border:none;
	background: #bc7bbd;
} 

#icono_purple{
	float: left;
	height: 33px;
	width: 22px;
	background: url('../img/icono_purple.png');
}
#banner{
	width: 1404px;
	height:674px;
	background: url('../img/crecimiento2.png');
}
#banner1>.cl1{
	width: 100%;
	height: 50px;
	float: right;
}
.texto{
	float: left;
	color: black;
	text-align: left;
	font-family: calibri;
	font-size: 20px;
	padding: 0;
	margin: 0;
}
#banner>.cl1>.persona3{
	float: right;
	width: 567px;
	height:498px;
	background: url('../img/persona3.png');
}

	
	