@charset "utf-8";

body{
	background: white;
	font-family: arial;
	margin: 0;
	padding: 0;
	}
	
	header{
	background: #232323;
	margin: 0;
	padding: 0;
	height: 60px;
	width: 100%;
	float: left;
}
#menu>li>a{
	text-decoration: none;
	color: #f3f8f6;
	text-align: center;
}
#menu>li{
	width: 9%;
	height: 45px;
	display: block;
	float: left;
	padding-top: 25px;
	text-align: center;
	border-right: 1px solid #eaece7;
}

.icono_purple{
	margin:center;
	float: left;
	height: 33px;
	width: 22px;
	background: url('../img/icono_purple.png');
}

#banner>.cl1{
	width: 200%;
	height: 520px;
	float: right;
}
#banner2>.cl2{
	width: 60%;
	height: 520px;
	float: left;
}
#banner>.cl1>.creci{
	width: 100%;
	height: 501px;
	background: url('../img/crecimiento2.png');
}	
	