@charset "utf-8";


body{
	background: #80c3e1;
	width: 100%;
	height: auto;
	font-family: arial;	
	margin:0;
}

#menu{
	width: 100%;
	background:#c3db51;
	height: 60px;
	float: left;
	
}

.child1{
	width: 55%;
	height: 60px;
	background: #629398;
	float: left;
}

.child2{
	width: 44.6%;
	float: left;
	background: 1px solid green;
	height: 60px;
}

.a{
	width: 45%;
	float: left;
	height: 60px;
	background: #3aa930;
}

.b{
	width: 55%;
	float: left;
	height: 60px;
	background: #b8de35;
}

.c{
	width: 27%;
	float: left;
	height: 60px;
	background: #da9f75;
}

.d{
	width: 19%;
	float: left;
	height: 60px;
	background: #859e77;
}

.e{
	width: 27%;
	float: left;
	height: 60px;
	background: #800239;
}

.f{
	width: 27%;
	float: left;
	height: 60px;
	background: #cbb442;
}

.cuadrorosa1{
	float: left;
	width: 100%;
	height: 240px;
    background:#fb8dc3;
}

.lineaverde{
	float: left;
	width: 100%;
	height: 15px;
    background:#0ca700;
}

.cuadro3{
	float: left;
	width: 100%;;
	background: #82c3e1;
}

.azul1{
	float: left;
	width: 25%;
	height:500px;
	background: #02253e;
	margin-left: 6.25%;
}

.a1{
	float: left;
	width: 100%;
	height:210px;
	background: #0385e0;
}

.a2{
	float: left;
	width: 100%;
	height:40px;
	background: #a5ab00;
}

.a3{
	float: left;
	width: 100%;
	height:175px;
	background: #fc8012;
}

.a4{
	float: left;
	width: 100%;
	height:75px;
	background: #880abd;
	
}

.a41{
	width: 34%;
	float: left;
	height: 75px;
	background: #06b575;
	margin-left: 32%;
}

.azul2{
	float: left;
	width: 25%;
	height:500px;
	background: #02253e;
	margin-left: 6.25%;
}

.aa1{
	float: left;
	width: 100%;
	height:210px;
	background: #0385e0;
}

.aa2{
	float: left;
	width: 100%;
	height:40px;
	background: #a5ab00;
}

.aa3{
	float: left;
	width: 100%;
	height:175px;
	background: #fc8012;
}

.aa4{
	float: left;
	width: 100%;
	height:75px;
	background: #880abd;
}

.aa41{
	width: 34%;
	float: left;
	height: 75px;
	background: #06b575;
	margin-left: 32%;
}

.azul3{
	float: left;
	width: 25%;
	height:500px;
	background: #02253e;
	margin-left: 6.25%;
}

.aaa1{
	float: left;
	width: 100%;
	height:210px;
	background: #0385e0;
}

.aaa2{
	float: left;
	width: 100%;
	height:40px;
	background: #a5ab00;
}

.aaa3{
	float: left;
	width: 100%;
	height:175px;
	background: #fc8012;
}

.aaa4{
	float: left;
	width: 100%;
	height:75px;
	background: #880abd;
}

.aaa41{
	float: left;
    width: 34%;
    height: 75px;
	background: #06b575;
	margin-left: 32%;
}

.cuadro4{
	float: left;
	width: 100%;
	background: #82c3e1;
}

.cuadrocolores{
	float: left;
	width: 50%;
	height: 400px;
	margin-left: 50%;
	background: #03811d;
}

.cc1espacio{
	float: left;
	width: 100%;
	height:20%;

}

.cc2{
	float: left;
	width: 100%;
	height:70px;
	background: #0a1310; 
}

.cc3{
	float: left;
	width: 50%;
	height:70px;
	background: #ded718;
	margin-left: 50%;
}

.cc4{
	float: left;
	width: 100%;
	height:70px;
	background: #cd622d; 
}
.cc5{
	float: left;
	width: 100%;
	height:70px;
	background: #0f9a8f; 
}

.cc6{
	float: left;
	width: 33.33%;
	height:70px;
	background: #13a8d8;
	margin-left: 33.33%;
}

.cuadro5{
	float: left;
	width: 100%;
	background: #82c3e1;
}

.cuadrostodosazules{
	float: left;
	width: 50%;
	height: 400px;
	margin-right: 50%;
	background: #095b53;
}

.cta1espacio{
	float: left;
	width: 100%;
	height:75px;		
}

.cta2{
	float: left;
	width: 40%;
	height:75px;
	background: #02abc8;
	margin-left: 0.8%;	
}

.cta3{
	float: left;
	width: 57%;
	height: 75px;
	background: #02abc8;
	margin-left: 0.9%;
	

}


