<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tarea 3</title>
	<link rel="stylesheet" href="../../css/alexpastul_tarea3.css">
</head>
<body>
	<div id="contentar3">
		<header id="hea">
			<div class="blo1">
				<div class="imataza"></div>
			</div>
			<div class="blo2">
				<div class="coffee">
					<h1>Coffee Great Plain "GOLD"</h1>
				</div>
				<div class="our">
					<h3>our tradition is the best</h3>
				</div>
			</div>
		</header>
		<section>
			<article name="bloc2">
				<div class="block2">
					<h2>Know about our history</h2>
					<br/>
					<p>
					On December 12, 2002, the first Juan Valdez® Café store opened its doors at the El Dorado international airport in Bogotá. With a dream story and great achievements for Colombian premium coffee.
					</p>
					<br/>
					<p>
					the first international store wasw opened in the city of Washington D.C. 
					<br/>
					We are currently in New York and continue to strongly develop oru presence in and around Miami.
					</p>
				</div>
				<div class="block3">
					<div class="izq">
						<div class="imaiz"></div>
					</div>
					<div class="der">
						<h2>Discover Your Perfect Cup</h2>
						<br/>
						<p>We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.
						</p>
						<br/>
						<h3>..this is a great cafe</h3>
					</div>
				</div>
				<div class="block4">
					<div class="arib"></div>
					<div class="abaj">
						<div class="texiz">
							<h2>First Shop Origins...</h2>
							<br/>
							<p>
					In 2013 we inaugurated the first Origins store and began the development of a new experience the way for the creation of the perfect cup.
						</p>
						</div>
						<div class="texder">
							<h2>Our Design...</h2>
							<br/>
							<p>
					The design of the store and the variety of colognes of Colombian origin prepared with new mothods paved.
						</p>
						</div>
					</div>
				</div>
				<div class="block5">
					<div class="imagrand"></div>				
				</div>
				<div class="block6">
					<h2>We Are Over 3´000.000 Of Friends On Facebook</h2>
					<br/>
					<p>
					With the opening of Juan Valdez coffee shops in different countries we have consolidated a digital community connected around the world that interacts daily with the brand and motivates us to continue improving.
					</p>				
				</div>
			</article>
		</section>
		<footer>
			<article class="futer">
				<div class="futer1">
					<div class="imafuter1"></div>
				</div>
				<div class="futer2"></div>		
			</article>
		</footer>
	</div>
</body>
</html>