<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>media</title>
	<link rel="stylesheet" href="../../css/alexpastul_media.css">
	<link rel="icon" type="image/png" href="../../img/favicon.ico"/>
</head>
<body>
	<header id="encabezado">
		<div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Our Peaple</a></li>
				<li><a href="#">Servicies</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>
	<section id="cuerpo"></section>
	<footer id="pie"></footer>
</body>
</html>