<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarea 01 Analisis Dimensional</title>
	<link rel="stylesheet" href="../../css/alexpastul.css">
</head>
<body>
	<header>
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	</header>
	<section>			
		<article class="seccion1">
			<div class="barra1"></div>
			<div class="barra2"></div>
		</article>
	</section>
	<section>
		<article class="abuelo">
			<div class="papa">
				<div class="hijo1"></div>
				<div class="hijo2"></div>
				<div class="hijo3"></div>
				<div class="hijo4">
					<div class="nieto1"></div>
					<div class="nieto2"></div>
					<div class="nieto3"></div>
				</div>
			</div>
			<div class="papab">
				<div class="hijob1"></div>
				<div class="hijob2"></div>
				<div class="hijob3"></div>
				<div class="hijob4">
					<div class="nietob1"></div>
					<div class="nietob2"></div>
					<div class="nietob3"></div>
				</div>
			</div>
			<div class="papac">
				<div class="hijoc1"></div>
				<div class="hijoc2"></div>
				<div class="hijoc3"></div>
				<div class="hijoc4">
					<div class="nietoc1"></div>
					<div class="nietoc2"></div>
					<div class="nietoc3"></div>
				</div>
			</div>
		</article>
	</section>
	<section>
		<article class="seccion3">
				<div class="papa01"></div>
				<div class="papa02">
					<div class="hijo1depapa02"></div>
					<div class="hijo2depapa02">
						<div class="nieto1depapa02"></div>
						<div class="nieto2depapa02"></div>
					</div>
					<div class="hijo3depapa02"></div>
					<div class="hijo4depapa02">
						<div class="nieto3depapa02"></div>
						<div class="nieto4depapa02"></div>
						<div class="nieto5depapa02"></div>
					</div>
					<div class="hijo5depapa02"></div>
				</div>
			</article>
	</section>
	<section>
		<article class="seccion4">
			<div class="papa001">
				<div class="hijo1depapa001"></div>
				<div class="hijo2depapa001">
					<div class="nieto1depapa001"></div>
					<div class="nieto2depapa001"></div>
				</div>
				<div class="hijo3depapa001">
					<div class="nieto3depapa001"></div>
					<div class="nieto4depapa001"></div>
				</div>
				<div class="hijo4depapa001">
					<div class="nieto5depapa001"></div>
					<div class="nieto6depapa001"></div>
				</div>
				<div class="hijo5depapa001"></div>
			</div>
			<div class="papa002">
				<div class="hijo1depapa002"></div>
				<div class="hijo2depapa002">
					<div class="nieto1depapa002"></div>
				</div>
			</div>					
		</article>
	</section>		
	<footer>
		<article class="pie">
			<div class="piehijo1"></div>
			<div class="piehijo2">
				<div class="nietopie1">
					<div class="bisnieto1"></div>
					<div class="bisnieto2"></div>
					<div class="bisnieto3"></div>
					<div class="bisnieto4"></div>
				</div>
				<div class="nietopie2"></div>
			</div>
		</article>
	</footer>
</body>
</html>