<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tarea 3</title>
	<link rel="stylesheet" href="../../css/alexpastul_tarea3.css">
</head>
<body>
	<div id="contentar3">
		<header id="hea">
			<div class="blo1">
				<div class="imataza"></div>
			</div>
			<div class="blo2">
				<div class="coffee">
					<h1>Coffee Great Plain "GOLD"</h1>
				</div>
				<div class="our">
					<h3>our tradition is the best</h3>
				</div>
			</div>
		</header>
		<section>
			<article name="bloc2">
				<div class="block2">
					<h2>Know about our history</h2>
					<br/>
					<p>
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
					</p>
					<br/>
					<p>
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
					</p>
				</div>
				<div class="block3">
					<div class="izq">
						<div class="imaiz"></div>
					</div>
					<div class="der">
						<h2>Discover Your Perfect Cup</h2>
						<br/>
						<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more more more more more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</p>
						<br/>
						<h3>..this is a great cafe</h3>
					</div>
				</div>
				<div class="block4">
					<div class="arib"></div>
					<div class="abaj">
						<div class="texiz">
							<h2>First Shop Origins...</h2>
							<br/>
							<p>
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
						</p>
						</div>
						<div class="texder">
							<h2>Our Design...</h2>
							<br/>
							<p>
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
						</p>
						</div>
					</div>
				</div>
				<div class="block5">
					<div class="imagrand"></div>				
				</div>
				<div class="block6">
					<h2>We Are Over 3´000.000 Of Friends On Facebook</h2>
					<br/>
					<p>
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
					</p>				
				</div>
			</article>
		</section>
		<footer>
			<article class="futer">
				<div class="futer1">
					<div class="imafuter1"></div>
				</div>
				<div class="futer2"></div>		
			</article>
		</footer>
	</div>
</body>
</html>