<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alex Pastul Parcial</title>
	<link rel="stylesheet" href="../../css/alexpastul_parcial.css">
</head>
<body>


	<header id="hea">
	<div class="hea1">
		<div class="imag"><a href="#"><img src="../../img/icono_blue.png"></a></div>
	</div>
		<div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</header>
			<section id="contenedor">
		<article class="imagfond">
			<div class="hi1">
				<div class="image1"></div>
			</div>
			<div class="hi2">
				<div>
					<h1>We are Genius!!</h1>
				</div>
				<div>
					<p>.Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin. Al contrario del pensamiento</p>
					<p> popular, el texto de Lorem Ipsum no es simplemente.pular, el texto de Lorem Ipsum no es simplement</p>
				</div>
				<div>
					<button class="bot1">Contact us</button>
					<button class="bot2">Know more</button>
					<button class="bot3">Send us</button>
					<button class="bot3">Download</button>
				</div>
			</div>		
		</article>
		<article class="blok1">
			<div name="1">
				<div class="dad1">
					<div class="sn1">
						<img src="../../img/icono5.png" width="100px" height="100px">
					</div>
					<div class="sn2">
						<h2>IFront End</h2><hr>
					</div>
				</div>
				<div class="dad2">
					<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation.</p>
					<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation.	
					</p>
				</div>
			</div>
			<div name="2">
				<div class="dad1">
					<div class="sn1">
						<img src="../../img/icono6.png" width="100px" height="100px">
					</div>
					<div class="sn2">
						<h2>Web Services</h2><hr>
					</div>
				</div>
				<div class="dad2">
					<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation.</p>
					<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation.	
					</p>
				</div>
			</div>	
			<div name="3">
				<div class="dad1">
					<div class="sn1">
						<img src="../../img/icono7.png" width="100px" height="100px">
					</div>
					<div class="sn2">
						<h2>DataGuard</h2><hr>
					</div>
				</div>
				<div class="dad2">
					<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation.</p>
					<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation.	
					</p>
				</div>
			</div>	
			


		</article>

		</article>
		<article class="blok2">
			<div name="4">
				<div class="dad1">
					<div class="sn1">
						<img src="../../img/icono5.png" width="100px" height="100px">
					</div>
					<div class="sn2">
						<h2>IFront End</h2><hr>
					</div>
				</div>
				<div class="dad2">
					<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation.</p>
					<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation.	
					</p>
				</div>
			</div>
			<div name="5">
				<div class="dad1">
					<div class="sn1">
						<img src="../../img/icono6.png" width="100px" height="100px">
					</div>
					<div class="sn2">
						<h2>Web Services</h2><hr>
					</div>
				</div>
				<div class="dad2">
					<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation.</p>
					<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation.	
					</p>
				</div>
			</div>	
			

		</article>



	<footer>
	</footer>
</body>
</html>