<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarea 04</title>
	<link rel="stylesheet" href="../../css/alexpastul_tarea4.css">
</head>
<body>
	<header id="cabeza">
		<div class="cabeza1">
			<div class="imaico"><a href="#"><img src="../../img/icono_logo.png"></a></div>
		</div>
		<div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</header>
	<section id="conten">
		<article class="imagen">
			<div class="son1">
				<div class="imagen1"></div>
			</div>
			<div class="son2">
				<div>
					<h1>Discover Our Brand</h1>
				</div>
				<div>
					<p>Today, new technologies applied to knowledge, culture and solidarity, give us more opportunities than ever to work successfully in the transformation of society. Fundación Telefónica has been using them since 1998 to awaken these ideas through projects that fight for social development and the creation of opportunities in Europe and Latin America.</p>
				</div>
				<div>
					<button class="bot1">Know more</button>
					<button class="bot2">Contact us</button>
					<button class="bot3">Download</button>
				</div>
			</div>		
		</article>			
		<article class="block1">
			<div name="1">
				<div class="papa1">
					<div class="son1">
						<img src="../../img/icono1.png" width="100px" height="100px">
					</div>
					<div class="son2">
						<h2>IFront End</h2><hr>
					</div>
				</div>
				<div class="papa2">
					<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.</p>
					<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.	
					</p>
				</div>
			</div>	
			<div name="2">
				<div class="papa1">
					<div class="son1">
						<img src="../../img/icono2.png" width="100px" height="100px">
					</div>
					<div class="son2">
						<h2>Web Services</h2>
						<hr>
					</div>
				</div>
				<div class="papa2">
					<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.</p>
					<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.	
					</p>
				</div>
			</div>
			<div name="3">
				<div class="papa1">
					<div class="son1">
						<img src="../../img/icono3.png" width="100px" height="100px">
					</div>
					<div class="son2">
						<h2>DataGuard</h2>
						<hr>
					</div>
				</div>
				<div class="papa2">
					<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.</p>
					<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.	
					</p>
				</div>
			</div>
			<div name="4">
				<div class="papa1">
					<div class="son1">
						<img src="../../img/icono4.png" width="100px" height="100px">
					</div>
					<div class="son2">
						<h2>Tecno-In</h2>
						<hr>
					</div>
				</div>
				<div class="papa2">
					<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.</p>
					<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.	
					</p>
				</div>
			</div>
		</article>
		<article class="block1">
			<div name="1">
				<div class="papa1">
					<div class="son1">
						<img src="../../img/icono1.png" width="100px" height="100px">
					</div>
					<div class="son2">
						<h2>IFront End</h2><hr>
					</div>
				</div>
				<div class="papa2">
					<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.</p>
					<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.	
					</p>
				</div>
			</div>	
			<div name="2">
				<div class="papa1">
					<div class="son1">
						<img src="../../img/icono2.png" width="100px" height="100px">
					</div>
					<div class="son2">
						<h2>Web Services</h2>
						<hr>
					</div>
				</div>
				<div class="papa2">
					<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.</p>
					<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.	
					</p>
				</div>
			</div>
			<div name="3">
				<div class="papa1">
					<div class="son1">
						<img src="../../img/icono3.png" width="100px" height="100px">
					</div>
					<div class="son2">
						<h2>DataGuard</h2>
						<hr>
					</div>
				</div>
				<div class="papa2">
					<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.</p>
					<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.	
					</p>
				</div>
			</div>
			<div name="4">
				<div class="papa1">
					<div class="son1">
						<img src="../../img/icono4.png" width="100px" height="100px">
					</div>
					<div class="son2">
						<h2>Tecno-In</h2>
						<hr>
					</div>
				</div>
				<div class="papa2">
					<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.</p>
					<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.	
					</p>
				</div>
			</div>
		</article>
	</section>
	<footer id="piesito">
		<div><p>GP12034<br>Alex Misael Gutiérrez Pastul</p>
		</div>
	</footer>
</body>
</html>