<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 1</title>
	<link rel="stylesheet" href="../../css/alexpastul.css">
</head>
<body>
	<header>
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	</header>
	<section>
		
			<div class="seccion1">
				<div class="barra1"></div>
				<div class="barra2"></div>
			</div>
			
	</section>
		<section>
			<div class="abuelo">
				<div class="papa">
					<div class="hijo1"></div>
					<div class="hijo2"></div>
					<div class="hijo3"></div>
					<div class="hijo4">
						<div class="nieto1"></div>
						<div class="nieto2"></div>
						<div class="nieto3"></div>
					</div>
				</div>	
			</div>
		</section>

		<section>
			<div class="seccion3">
				<div class="papa01"></div>
					<div class="papa02">
							<div class="hijo1depapa02"></div>
							<div class="hijo2depapa02">
								<div class="nieto1depapa02"></div>
								<div class="nieto2depapa02"></div>
							</div>
							<div class="hijo3depapa02"></div>
						<div class="hijo4depapa02">
							<div class="nieto3depapa02"></div>
							<div class="nieto4depapa02"></div>
							<div class="nieto5depapa02"></div>
						</div>
							<div class="hijo5depapa02"></div>
					</div>
			</div>
		</section>
	



	<footer></footer>

</body>
</html>