	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Ejercicio 2 Analisis Dimensional</title>
		<link rel="stylesheet" href="../../css/alexpastul.css">
	</head>
	<body>
		<header>
			<article class="head01">

				<div class="heada">
					<div class="headahijo1"></div>
					<div class="headahijo2">
						<div class="heada1"></div>
						<div class="heada2"></div>
						<div class="heada3"></div>
						<div class="heada4"></div>
					</div>
				</div>				
			</article>
		</header>
	<section>
		<article class="headdd">
			<div class="headb">
				<div class="headbhijo1">
					<div class="headbnieto1"></div>
				</div>
			</div>
					<div class="headb1"></div>
					<div class="headb2"></div>
					<div class="headb3"></div>
					<div class="headb4"></div>
					<div class="headb5"></div>
					<div class="headb6"></div>
		
				<div class="headc"></div>
				<div class="headd"></div>

		<div class="secci01"></div>
		</article>
	</section>
		
		<footer></footer>
	</body>
	</html>