	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Ejercicio 2 Analisis Dimensional</title>
		<link rel="stylesheet" href="../../css/alexpastul.css">
	</head>
	<body>
		<header>
			<article id="head01">
				<div class="heada">
					<div class="headahijo1"></div>
					<div class="headahijo2">
						<div class="heada1"></div>
						<div class="heada2"></div>
						<div class="heada3"></div>
						<div class="heada4"></div>
					</div>
				</div>				
			</article>
		</header>
	<section>
		<article id="headdd">
			<div class="headb">
				<div class="headbhijo1">
					<div class="headbnieto1"></div>
				</div>
				<div class="headbhijo2">
					<div class="headb1"></div>
					<div class="headb2"></div>
					<div class="headb3"></div>
					<div class="headb4"></div>
					<div class="headb5"></div>
				</div>
				<div class="headc"></div>
				<div class="headd"></div>			
			</div>
		</article>
	</section>
	<section>
		<article id="bloque3">
			<div class="bloque301">
				<div class="hijoblo301">
					<div class="nietoblo301">
						<div class="bisblo301">
							<div class="bisblo3011"></div>
						</div>
						<div class="bisblo302"></div>
						<div class="bisblo303">
							<div class="bisblo3031"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="bloque302"></div>			
		</article>
	</section>
	<section>
		<article id="bloque4">
			<div class="blo401">
				<div class="blo4011">
					<div class="blo40111"></div>
				</div>
				<div class="blo4012"></div>
				<div class="blo4013">
					<div class="blo40131"></div>
				</div>
			</div>
			<div class="blo402">
				<div class="blo4021"></div>
				<div class="blo4022"></div>
			</div>
		</article>
	</section>
	<section>
		<article id="bloque5">
			<div class="blo501">
				<div class="blo5011">
					<div class="blo50111"></div>
				</div>
				<div class="blo5012">
					<div class="blo50121">
						<div class="blo501211"></div>
					</div>
				</div>
					<div class="blo5021">
					<div class="blo50211"></div>
				</div>
				<div class="blo5022">
					<div class="blo50221">
						<div class="blo502211"></div>
					</div>
				</div>
			</div>
			<div class="blo0501">
				<div class="blo05011">
					<div class="blo050111"></div>
				</div>
				<div class="blo05012">
					<div class="blo050121">
						<div class="blo0501211"></div>
					</div>
				</div>
					<div class="blo05021">
					<div class="blo050211"></div>
				</div>
				<div class="blo05022">
					<div class="blo050221">
						<div class="blo0502211"></div>
					</div>
				</div>
			</div>
			<div class="bl501">
				<div class="bl5011">
					<div class="bl50111"></div>
				</div>
				<div class="bl5012">
					<div class="bl50121">
						<div class="bl501211"></div>
					</div>
				</div>
					<div class="bl5021">
					<div class="bl50211"></div>
				</div>
				<div class="bl5022">
					<div class="bl50221">
						<div class="bl502211"></div>
					</div>
				</div>
			</div>
		</article>
	</section>
	<section>
		<article id="bloque6">
			<div class="bl61"></div>
			<div class="bl62">
				<div class="bl621">
					<div class="bl6211"></div>
					<div class="bl6212"></div>
				</div>
				<div class="bl622">
					<div class="bl6221"></div>
				</div>
			</div>
		</article>
	</section>
	<section>
		<article id="bloque7">
			<div class="bl71">
				<div class="bl711">
					<div class="bl7111"></div>
					<div class="bl7112"></div>
				</div>
				<div class="bl712">
					<div class="bl7121"></div>
					<div class="bl7122"></div>
				</div>
				<div class="bl713">
					<div class="bl7131"></div>
					<div class="bl7132"></div>
				</div>
				<div class="bl714">
					<div class="bl7141"></div>
					<div class="bl7142"></div>
				</div>
			</div>
			<div class="bl72">
				<div class="bl721">
					<div class="bl7211"></div>
					<div class="bl7212"></div>
				</div>
				<div class="bl722">
					<div class="bl7221"></div>
				</div>
			</div>
		</article>
	</section>
		<footer>
			<article id="fot">
				<div class="fot1">
					<div class="fot11">
						<div class="fot111"></div>
						<div class="fot112"></div>
						<div class="fot113"></div>
						<div class="fot114"></div>
					</div>
				</div>
				<div class="fot2">
					<div class="fot21">
						<div class="fot211"></div>
						<div class="fot212"></div>
						<div class="fot213"></div>
						<div class="fot214"></div>
						<div class="fot215"></div>
					</div>
					<div class="fot22"></div>
					<div class="fo23"></div>
				</div>
			</article>
		</footer>
	</body>
	</html>		
