	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>laboratorio</title>
		<link rel="stylesheet" href="../../css/alexpastul.css">
	</head>
	<body>
		<header>
			<article class="headlab">
				<div class="head01lab1">
					<div class="headlabhijo1"></div>
					<div class="headlabhijo2">
						<div class="nietolab1"></div>
						<div class="nietolab2"></div>
						<div class="nietolab3"></div>
						<div class="nietolab4"></div>
						<div class="nietolab5"></div>
					</div>
				</div>				
			</article>
		</header>
		
		<section>			
			<article class="seccion1">
				<div class="barra1"></div>
				<div class="barra2"></div>
			</article>
		</section>
	</body>	
		<footer>
		


		</footer>
	</body>
	</html>