	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>laboratorio</title>
		<link rel="stylesheet" href="../../css/alexpastul.css">
	</head>
	<body>
		<header>
			<article class="headlab">
				<div class="head01lab1">
					<div class="headlabhijo1"></div>
					<div class="headlabhijo2">
						<div class="nietolab1"></div>
						<div class="nietolab2"></div>
						<div class="nietolab3"></div>
						<div class="nietolab4"></div>
						<div class="nietolab5"></div>
					</div>
				</div>				
			</article>
		</header>	
		<section>			
			<article class="labseccion1">
				<div class="sec1">
					<div class="hijosec1"></div>
				</div>
				<div class="sec2">
					<div class="hijo1sec2"></div>
					<div class="hijo2sec2"></div>
					<div class="hijo3sec2"></div>
					<div class="hijo4sec2"></div>
					<div class="hijo5sec2"></div>
					<div class="hijo6sec2"></div>
					<div class="hijo7sec2"></div>

				</div>
			</article>
		</section>


		<section>
			<article class="labsec02">
				<div class="lab2abuelo1">
					<!-- div.cl+.cl2+cl3*3 -->
					<div class="lab2nieto1"></div>
					<div class="lab2nieto2"></div>
					<div class="lab2nieto3"></div>
				</div>
			</article>
		</section>

		<section>
			<article class="labsec3">
				


				
			</article>
		</section>




	</body>	
		<footer>
		


		</footer>
	</body>
	</html>