@charset "utf-8";

body{
	background-color:  #dbdbdb !important;

}
.bg-dark {
	background-color:  #0f2536 !important;

}

.section-heading:{
	font-family:myriad pro;
	letter-spacing: 2px;
	 color: #0f2536;
	 font-size: 40pt;
	 font-style: bold;
}

