@charset "utf-8";

.bg-dark {
	background-color: #024560 !important;
}
.lead {
	font-size: 1.25rem;
	font-weight: 300;
	word-wrap: break-word;	
}
.altura{
	height: 70px;
}
h1, h2, h3, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    color: #07b2d1;
 }
h4, h5, h6 {
    font-weight: bold;
    color: #024560;
 }
