<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>moises guzman</title>
	<link rel="stylesheet" href="../../css/ejercicio2moisesg.css">
</head>
<body id="bod">
	<header id="menus">
		<div class="menu1">
			<div class="men1a"></div>
			<div class="men2a">
				<div class="pho"></div>
				<div class="phone"></div>
				<div class="part"></div>
				<div class="sig"></div>
			</div>
		</div>

				<div class="menu2">
					<div class="log"></div>
			<div class="hom"></div>
			<div class="ab"></div>
			<div class="ps"></div>
			<div class="exp"></div>
			<div class="con"></div>

				</div>
			
		
	</header>
	<section>
		

		<article>
			<section>
		<div class="l1"></div>
		<div class="l2"></div>
		<article id="c">
			<div class="tc">

<div class="service"></div>
				<div class="te"></div>
				<div class="verm1">
					<div class="ma1"></div>
				</div>
			</div>
		</article>

         <div class="l3"></div>
		<article id="des">
			<div class="ctx2">
				<div class="tit1"></div>
				<div class="tex2"></div>
				<div class="cver1">
					<div class="verm1"></div>
				</div>
			</div>
			<div class="im1"></div>
	
</article>
<article id="imgdes">
			<div class="limage1">
				<div class="img1">
					<div class="tt1"></div>
					<div class="vm2"></div>
				</div>

                    <div class="imag2">
					<div class="tt1"></div>
					<div class="vm2"></div>
				</div>
			</div>
			      

			      <div class="limage2">
				<div class="img1">
					<div class="tt1"></div>
					<div class="vm2"></div>
				</div>

<div class="imag2">
					<div class="tt1"></div>
					<div class="vm2"></div>
				</div>
			</div>

			<div class="limage3">
				<div class="imag1">
					<div class="tt1"></div>
					<div class="vermas2"></div>
				</div>

               <div class="imag2">
					<div class="tt1"></div>
					<div class="vermas2"></div>
				</div>
			</div>
		</article>


<article id="abu">
			<div class="im"></div>
			<div class="txt">
				<div class="titl">
			</div>
		</article>






         
			

        
	<footer id="foot">
		<div class="foot1"></div>
		<div class ="foot2"></div>
		<div class="foot3">
			<div class="foot3a">
				<div class="foot3am"></div>
				<div class="foot3an"></div>
				<div class="foot3an"></div>
				<div class="foot3an"></div>
				
			</div>
			<div class="foot3b"></div>
		</div>


</body>
</html>