<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>moisesguzman_lab</title>
	<link rel="stylesheet" href="../../css/moisesguzman_lab.css">

</head>

<body>

	<header> 
		<div id ="menu1">
		<div class="son1"></div>
		<div class="son2"></div>
		<div class="son3"></div>
		<div class="son4"></div>
		<div class="son5"></div>
</div>

<div id="menu2">
	<div class="hi1"></div>
	<div class="hi2"></div>
	<div class="hi3"></div>
	<div class="hi4"></div>
	<div class="hi5"></div>
	<div class="hi6"></div>
	<div class="hi7"></div>
	<div class="hi8"></div>
</div>  

</header>

<section>
	<article id="azul">

		<div class="azul1">
			<div class="a">
				<div class="titu"></div>
				<div class="text"></div>
				<div class="barra">
					<div class="boton"></div>
				</div>
			</div>

		</div>
		<div class="azul2"></div>
</article>
</section>

<section>
	<article id="it">
		
	<div class="im"></div>
	<div class="t1">
		<div class="tit"></div>
		<div class="tx"></div>
		<div class="bar">
			<div class="b"></div>
		</div>
	</div>
	<div class="t2">
		<div class="tit2"></div>
		<div class="tx3"></div>
		<div class="bar4">
			<div class="b2"></div>
		
	</div>
	</article>
</section>

<section>


	<article id="mar">
		<article id="imagine">

			<div class="im1"></div>
			<div class="im2">
				<div t></div>
				<div class="imeg"></div>
			</div>
			<div class="im3"></div>
		
		</article>
	</article>

	

</section>
	
</body>
</html>