<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>moises_tarea4</title>
	<link rel="stylesheet" href="../../css/moises_tarea4.css">

</head>

<body>
	<header id="encabe">
		<div>
	          <ul>
 <li class="ima"><a href="#"><img src="../../img/icono_logo.png" width="33px" height="22px"></a>
   </li>

    <li><a href="#">Home</a></li>
		<li><a href="#">Our service</a></li>
		<li><a href="#">Our history</a></li>
		<li><a href="#">Examples</a></li>
		<li><a href="#">Documentacion</a></li>
		<li><a href="#">lets play</a></li>
		<li><a href="#">Photos</a></li>
		<li><a href="#">Contact us</a></li>	
	    </ul>
	</div>
  </header>

<section>
		<article class="son">
			<div class="img2f">
			<div class="a">
			<div class="ima3"></div>
			</div>

		<div class="erp">
					<div>
						<h1>Discover Our Brand</h1>
					</div>
					<div>
						<p>Today, new technologies applied to knowledge, culture and solidarity, give us more opportunities than ever to work succesfully in the transformation of society. Fundación Telefónica has been using them since 1998 to awaken these ideas through projects that fight for social development and the creation of opportunities in Europe and Latin America.</p>
					</div>
					      <div>
						
			<button>Know more</button>
					<button>Contact us</button>
						<button>Download</button>
					</div>
				    </div>
			        </div>
		</article>



			
	










</body>
</html>