<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>moises_parcial</title>
	<link rel="stylesheet" href="../../css/moises_parcial.css">

</head>
<body>
	<header id="enca">
		<div>
			<ul>
				<li><a href="#"><img src="../../img/icono_purple.png" width="33px" height="22px"></a>
					</li>
			<li><a href="#">Home</a></li>
			<li><a href="#">Our services</a></li>
			<li><a href="#">Our History</a></li>
			<li><a href="#">Examples</a></li>
			<li><a href="#">Documentation</a></li>
			<li><a href="#">Lets Play</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Administration</a></li>
			<li><a href="#">Delivery</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><button class="bot">ingresar</button>
				</li>
			</ul>
		</div>
	</header>

	<section id="bod">
		<article class="sec1">
			<div class="texto">
				<h2>We are Genious!!</h2>
				<br>
				<p> It had been rumored for a while that the two artits had been working on a song for Bieber´s new album Purpose, but when the tracklist of the new album was reveled it was offially confirmed.
				</p>
				<br>

				<p>	The song tells the story of a relationship, which is being destroyed by rumors and hate.As a famous singer.
					</p>
					<br>
			</div>

			<div class="fondo">
				<div class="mujer"></div>
			</div>
			
		</article>
		
	</section>
	
	
</body>
</html>