<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Moises tarea3</title>
<link rel="stylesheet" href="../../css/moises_tarea3.css">
</head>

<body>
	<div id="content">
		     <header id="enca">
			 <div class="sec1">
			<div class="imgcaf"></div>
			</div>
			<div class="sec2">
				<div class="cgp">
					<h1>Coffee Great Plain "GOLD"</h1>
				       </div>
				   <div class="otb">
					<h3>our tradition is the best</h3>
				</div>
			</div>
		</header>

		<section>
			<article name="part2">
				       <div class="p2">
					<h2>Know about our history</h2>
					<br/>
					<p>
						On December 12, 2002, the first Juan Valdez® Café store opened its doors at the El Dorado international airport in Bogotá. With a dream story and great achievements for Colombian premium coffee.
					</p>
					<br/>
					<p>
						The first international store was opened in the city of Washington D.C. 
						<br/>
						We are currently in New York and continue to strongly develop our presence in and around Miami.
					</p>
				</div>

                  <div class="p3">
					<div class="cafestile">
				<div class="imgmano"></div>
					</div>
					<div class="textri">
						<h2>Discover Your Perfect Cup</h2>
						<p>We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.
						</p>
						<h4>..this is a great cafe</h4>
					</div>
				</div>
                 <div class="p4">
					<div class="ut"></div>
					<div class="dt">
					<div class="it">
					<h2>First Shop Origins...</h2>
							<br/>
							<p>
								In 2013 we inaugurated the first Origins store and began the development of a new experience the way for the creation of the perfect cup.
							</p>
						</div>
				<div class="rt">
						<h2>Our Design...</h2>
						<br/>
						<p>
							The design of the store and the variety of colognes of Colombian origin prepared with new mothods paved.
							</p>
						</div>
			    </div>
				</div>
				<div class="p5">
				<div class="instalaciones"></div>				
				</div>
				<div class="p6">
					<h2>We Are Over 3´000.000 Of Friends On Facebook</h2>
					<br/>
					<p>
						With the opening of Juan Valdez coffee shops in different countries we have consolidated a digital community connected around the world that interacts daily with the brand and motivates us to continue improving.
					 </p>				
				   </div>
			     </article>
		          </section>
		<footer>
			<article class="pie">
				<div class="copy">
					<p>Copyright</p>
				</div>
				<div class="partf">
					<div class="imapie1"></div>
				</div>
				<div class="partf2">
					<div class="joinb">
						<button>Join now!!</button>
					</div>
				    </div>		
			       </article>
		  </footer>
	</div>
</body>
</html>

