<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>moises_parcial</title>
	<link rel="stylesheet" href="../../css/moises_parcial.css">

</head>
<body>
	<header id="enca">
		<div>
			<ul>
				<li><a href="#"><img src="../../img/icono_purple.png" width="33px" height="22px"></a>
					</li>
			<li><a href="#">Home</a></li>
			<li><a href="#">Our services</a></li>
			<li><a href="#">Our History</a></li>
			<li><a href="#">Examples</a></li>
			<li><a href="#">Documentation</a></li>
			<li><a href="#">Lets Play</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Administration</a></li>
			<li><a href="#">Delivery</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><button class="bot">ingresar</button>
				
			</li>
			</ul>
		</div>
	</header>
	
	
</body>
</html>