<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Moises tarea3</title>

<link rel="stylesheet" href="../../css/moises_tarea3.css">
</head>

<body>
	<div id="cont3">
	<header id="h">
		<div class="bl1"></div>
		<div class="imgtasa"></div>
		</div>
		<div class="b2"></div>
		<div class="coff"></div>
		<h1>Coffee Great Plain "Gold"</h1>
	</div>

<div class="otb">
<h3>our tradiction is the best</h3>
</div>
	</div>
		</header>

		<article name="bl2">
			<div class="blo2">
				<h2>know about our history</h2>	<br/>
					<p>
						On Dicember 12, 2002, the first Juan Valdez® Cafe store opeding its doors at the El Dorado international airport in  Bogotá, with a dream story and great achievements for Colombia Premium Coffee.	
					</p>
					<br/>
					<p>
						The firh international store was opened in the     city of Whashington D.C. 
						<br/>
						 We are currently in New York and continue to strongly develop our presence in and around Miami.
						</p>
					</div>

           <div class="blo3">
           	<div class="lef">
           		<div class="imz"></div>
           	</div>

           	<div class="rig">
           		<h2>Discover Your Perfect Cup</h2>
           		<p>We extend the experience to more stores, so that coffee lovers find their perfect cup enojoying the origins of espresso-based drinks.
           			</p>
           			<h4>..this is a great cafe</h4></div>
           		</div>
				<div class="blq4">
					<div class="up"></div>	
						<div class="down">
						<div class="ti"></div>
							<h2>First Shop Origins...</h2>
							<br/>
							<p>
								In 2013 we inaugurated the first Origins store and began the development of a new experience the way for the creation of the perfect cup.
							</p>
					</div>	
						<div class="td">
					<h2> Our Design...</h2>
					<br/>
					<p>
						The design of the store and the variety of colognes of Colombian origin prepared with new mothods paved.
					</p>
					</div>
				</div>
				</div>
				<div class="bl5">
					<div class="imb"></div>

					<div class="bl6">
					<h2>We Are Over 3´000.000 Of Friends On Facebook<h2> 
					<br/>	
                    <p> 

						With the opening of Juan Valdez coffee shops in different countries we have consolidated a digital community connected around the world that interacts daily with the brand and motivates us to continue improving.
						  </p>
						</div>
					</article>
						</section>
			   <footer>
			   <article class="foo">
			   	<div class="copy">
			   		<p>Copyright</p>
			   	</div>
			   	<div class="foo1">
			   		<div class="imf1"></div>	
			   	</div>
			   	<div class="foo2">
			   		<div class="bt">
			   			<button> Join Now</button>
			   		</div>
			   	</div>
			 </article>
          </footer>
	</div>
</body>
</html>