<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../../css/Moisesguzman_media.css">
</head>
<body>
	<header>
	<div>
		<ul id="menu">
			<li><a href="#">Home</a></li>
			<li><a href="#">Documentation</a></li>
			<li><a href="#">Our people</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>

     </header>
	<section>
		<article name="banner">
			<div id="banner">
				<div class="cl1">
					<div class="img1"></div>
				</div>
				<div class="cl12">
					<h1> Discovereed oru Brand</h1>
                      <br>
					<p>
						Expressive architecture encourages application and innovation. Models and optimization are defined by configuration without hard-coding. Switch between CPU and GPU by setting a single flag to train on a GPU machine then deploy to commodity clusters or mobile devices.

					</p>
					<br>
					<div>
						<button>Download</button>
						<button>Contact</button>
					</div>
				</div>
			</div>
		</article>
	    <article></article>
	</section>

</body>
</html>