<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>moises guzman</title>
	<link rel="stylesheet" href="../../css/moisesguzman.css">
</head>
<body>
	<header id="menu">
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	</header>
	<section>
		<article>
			<div class="part1"></div>
			<div class="linea1"> </div>
		</article>
		<article id="cafes">
			<div class="cafe1">
				<div class="imagen1"></div>
				<div class="titulo1"></div>
				<div class="texto1"></div>
				<div class="vermas1">
					<div class="botonmas"></div>
				</div>
			</div>
			<div class="cafe1">
				<div class="imagen1"></div>
				<div class="titulo1"></div>
				<div class="texto1"></div>
				<div class="vermas1">
					<div class="botonmas"></div>
				</div>
			</div>
			<div class="cafe1">
				<div class="imagen1"></div>
				<div class="titulo1"></div>
				<div class="texto1"></div>
				<div class="vermas1">
					<div class="botonmas"></div>
				</div>
			</div>
		</article>
        <article id="mempleo">
        	<div class="mempleo1"></div>
        	<div class="mempleo2">
        		<div class="m21">
        			<div class="m211"></div>
        			<div class="m212"></div>
        		</div>
        		<div class="m22"></div>
        		<div class="m23">
        			<div class="boton2"></div>
        		</div>
        	</div>
        </article>

        <article id="contactos">
        	<div class="son1">
        		<div class="mini1"></div>
        		<div class="mini2">
        			<div class="mi1">
        				<div class="m1"></div>
        				<div class="m2"></div>
        				<div class="m3"></div>
        			</div>
        			<div class="mi2">
        				<div class="n1"></div>
        				<div class="n2"></div>
        				<div class="n3"></div>
        			</div>
        		</div>
        		<div class="mini3"></div>
        	</div>
        	<div class="son2">
        		<div class="s1"></div>
        		<div class="s2">
        			<div class="bt"></div>
        		</div>
        	</div>
        	
        	 </article>


	</section>

	<footer id="foot">
		<div class="foot1"></div>
		<div class ="foot2"></div>
		<div class="foot3">
			<div class="foot3a">
				<div class="foot3am"></div>
				<div class="foot3an"></div>
				<div class="foot3an"></div>
				<div class="foot3an"></div>
				
			</div>
			<div class="foot3b"></div>
		</div>


</body>
</html>