<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>David Miranda Tarea 4</title>
    <link href="../../css/david_tarea4.css" rel="stylesheet" media="screen">
  </head>
  <body>
  <div class="contenedor">
    <header>
      <div id="menu">
        <ul>
          <li class="active">
              <div class="header-icono"></div>
          </li>
          <li class="active">
              <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Our Services</a>
          </li>
          <li>
            <a href="#">Our History</a>
          </li>          
          <li>
            <a href="#">Examples</a>
          </li>
          <li>
            <a href="#">Lets Play</a>
          </li>
          <li>
            <a href="#">Photos</a>
          </li>
          <li class="ultimo">
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </div>
       <hr>
      <div class="banner1">
         <div>
            <div class="banner-img"></div>
        </div>
        <div>
          <div>
            <h1>Discover Our Brand</h1>
            <br>
            <p>Today, new technologies applied to knowledge, culture and solidarity, give us more opportunities than ever to work successfully in the transformation of society. Fundaci&oacute;n Telef&oacute;nica has been using them since 1998 to awaken these ideas through projects that fight for social development and the creation of opportunites in Europe and Latin America
            </p>
          <div>
            <input type="button" value="Know more">
            <input type="button" value="Contact Us">
            <input type="button" value="Download">
            </div>
          </div>
        </div>  
      </div>
    </header>
    <section name="body">
      <article>
          <div class="body-1">
            <div class="ico1"></div>
            <h2>IFront End</h2>
            <hr>
            <p class="texto-pequeno">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p class="texto-pequeno2">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
       <article>
          <div class="body-1">
            <div class="ico2"></div>
            <h2>Web Services</h2>
            <hr>
            <p class="texto-pequeno">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p class="texto-pequeno2">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
        <article>
          <div class="body-1">
            <div class="ico3"></div>
            <h2>Data Guard</h2>
            <hr>
            <p class="texto-pequeno">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p class="texto-pequeno2">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
      <article>
          <div class="body-1">
            <div class="ico4"></div>
            <h2>Tecno-In</h2>
            <hr>
            <p class="texto-pequeno">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p class="texto-pequeno2">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
    </section>
    <section name="body">
      <article>
          <div class="body-1">
            <div class="ico1"></div>
            <h2>IFront End</h2>
            <hr>
            <p class="texto-pequeno">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p class="texto-pequeno2">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
       <article>
          <div class="body-1">
            <div class="ico2"></div>
            <h2>Web Services</h2>
            <hr>
            <p class="texto-pequeno">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p class="texto-pequeno2">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
        <article>
          <div class="body-1">
            <div class="ico3"></div>
            <h2>Data Guard</h2>
            <hr>
            <p class="texto-pequeno">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p class="texto-pequeno2">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
      <article>
          <div class="body-1">
            <div class="ico4"></div>
            <h2>Tecno-In</h2>
            <hr>
            <p class="texto-pequeno">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p class="texto-pequeno2">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
    </section>  
     <footer>CM12140
      <br>
      Mauricio David Calzadilla Miranda</footer>
  </div>
  </body>
</html>