<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mauricio Calzadilla Parcial</title>
    <link rel="stylesheet" href="../../css/david_parcial.css">
  </head>
  <body>
  <div class="contenedor">
    <header>
      <div id="menu">
        <ul>
          <li class="active">
              <div class="header-icono"></div>
          </li>
          <li class="active">
              <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Our Services</a>
          </li>
          <li>
            <a href="#">Our History</a>
          </li>          
          <li>
            <a href="#">Examples</a>
          </li>
          <li>
            <a href="#">Lets Play</a>
          </li>
          <li>
            <a href="#">Photos</a>
          </li>
          <li>
            <a href="#">Administration</a>
          </li>
          <li>
            <a href="#">Delivery</a>
          </li>
          <li class="ultimo">
            <a href="#">Contact Us</a>
          </li>
          <input class="header-boton" type="button" value="Registro">
        </ul>
      </div>
       <hr>

