<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>David Miranda</title>
	<link rel="stylesheet" type="text/css" href="../../css/david.css">		
</head>
<body>
	<header id="menu">
		<div class="child1">
		<div class="a"></div>
		<div class= "b"></div>
	</div>
	<div class="child2">
		<div class="c"></div>
		<div class="d"></div>
		<div class="e"></div>
		<div class="f"></div>
	    </div>
	</header>
	<section>
		<div class="child3">
		<div class="g"></div>	
		</div>
		<div class="child4">
		<div class="h">
			<div class="h1"></div>
			<div class="h2"></div>
			<div class="h3"></div>
			<div class="h4">
				<div class="h41"></div>
				<div class="h42"></div>
				<div class="h43"></div>
			</div>
		</div>
		<div class="i">
			<div class="i1"></div>
			<div class="i2"></div>
			<div class="i3"></div>
			<div class="i4">
				<div class="i41"></div>
				<div class="i42"></div>
				<div class="i43"></div>
		</div>
		</div>
		<div class="j">
			<div class="j1"></div>
			<div class="j2"></div>
			<div class="j3"></div>
			<div class="j4">
				<div class="j41"></div>
				<div class="j42"></div>
				<div class="j43"></div>
		</div>
		</div>

		<div class="child5">
			<div class="k"></div>
			<div class="l">
				<div class="l1"></div>
				<div class="l2">
					<div class="l21"></div>
					<div class="l22"></div>
				</div>
				<div class="l3"></div>
				<div class="l4">
					<div class="l41"></div>
					<div class="l42"></div>
					<div class="l43"></div>
				</div>
				<div class="l5"></div>
			</div>
		</div>
		<div class="child6">
			<div class="m">
				<div class="m1"></div>
				<div class="m2">
					<div class="m21">
						<div class="m21a"></div>
						<div class="m21b"></div>
					</div>
					<div class="m22">
						<div class="m22a"></div>
						<div class="m22b"></div>
					</div>
				</div>
				<div class="m3">
					<div class="m31"></div>
					<div class="m32"></div>
				</div>
				<div class="m4"></div>
			</div>
			<div class="n">
				<div class="n1"></div>
				<div class="n2"></div>
				<div class="n3"></div>
				<div class="n4">
					<div class="n4a"></div>
				</div>
				<div class="n5"></div>
			</div>
		</div>
	</section>
	<footer>
		<div class="child7"></div>
		<div class="child8">
			<div class="o">
				<div class="o1"></div>
				<div class="o2"></div>
				<div class="o3"></div>
				<div class="o4"></div>
			</div>
		</div>
	</footer>
</body>
</html>