<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" media="all" href="../../css/david_tarea3.css">
    </head>

    <body>
     <div class="top-section">
        <header>
            <div class="imagen1">
            <div name="imagen" class="imagen2"></div>
            </div>
            <div name="text" class="header-text">
                <h1>Coffee Great Plain “GOLD”</h1>
                <h4>our tradition is best</h4>
            </div>
        </header>
        <section name="mid-section">
           <article>
             <div class="mid1">
              <div name="text">
               <h3>Know about our history!</h3>
                <p>
                 On December 12, 2002, the first Juan Valdez® Café store opened its doors at the El Dorado international airport in Bogotá, with a dream story and great achievements for Colombian premium coffee.
                </p>
                <br>
                <p>
                 The first international store was opened in the city of Washington D.C.
                 We are currently in New York and continue to strongly develop our presence in and around Miami.
                </p>
             </div> 
             </div>
             </article>
             <article>
              <div class="mid2">
              <div class="mid-p1">
                <div class="mid-imagen"></div>
              </div>
              <div class="mid-p2">
                <div>
                  <h3>Discover Your Perfect Cup</h3>
                  <p>
                    We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.
                   </p>
                   <br>
                   <p>
                    ..this is a great cafe
                   </p>
                </div>
              </div>
                 </div>
            </article>
            <article class="article-barra">
              <div class="s-p3">
              <div class="mid-p3">
                <div>
                <h3>First Shop Origins...</h3>
                <p>
                    In 2013 we inaugurated the first Origins store and began the development of a new experience. the way for the creation of the perfect cup.
                </p>
                </div>
              </div>
              <div class="mid-p4">
                <div>
                  <h3>Our design...</h3>
                  <p>
                    The design of the store and the variety of colognes of Colombian origin prepared with new methods paved.
                   </p>
                </div>
              </div>
                 </div>
            </article>
            <article>
              <div class="s-p4">
                <div class="s-imagen"></div>
              </div>
            </article>
            <article>
              <div class="s-p5">
              <div class="mid-p5">
                <div>
                <h3>We Are Over 3'000.000 Of Friends On Facebook</h3>
                <p>
                 With the opening of Juan Valdez® coffee shops in different countries we have consolidated a digital community connected around the world that interacts daily with the brand and motivates us to continue improving.
                </p>
                </div>
              </div>
              </div>
            </article>
        </section>
        <footer>
            <div class="bott1">
              <p>Copyright</p>
            </div>
            <div class="bott2">
                <div class="logovaldez"></div>
            </div>
            <div class="bott3">
                <input type="button" value="Join Now!!">
            </div>
            
           </div>
         </footer>
      </div>
    </body>
  </html>


