<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mauricio Calzadilla Parcial</title>
    <link rel="stylesheet" href="../../css/david_parcial.css">
  </head>
   <body>
  <div class="contenedor">
    <header>
      <div id="menu">
        <ul>
          <li class="active">
              <div class="header-icono"></div>
          </li>
          <li class="active">
              <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Our Services</a>
          </li>
          <li>
            <a href="#">Our History</a>
          </li>          
          <li>
            <a href="#">Examples</a>
          </li>
          <li>
            <a href="#">Lets Play</a>
          </li>
          <li>
            <a href="#">Photos</a>
          </li>
          <li>
            <a href="#">Administration</a>
          </li>
          <li>
            <a href="#">Delivery</a>
          </li>
          <li class="ultimo">
            <a href="#">Contact Us</a>
          </li>
          <input class="header-boton" type="button" value="Registro">
        </ul>
      </div>
       <hr>
      <div class="banner1">
         <div>
            <div class="banner-img"></div>
        </div>
        <div>
          <div>
            <h1>We are Genius!!</h1>
            <br>
            <p>It had been rumored for a while that the two artists had been working on a son for Bieber’s new álbum Purpose, but when the tracklist of the álbum was revealead it was officially confirmed.
            </p>
            <br>
            <p>The soong tells the story of a relationship, which is being destroyed by rumors and hate. As a famous singer.
            </p>
            <div>
            <input type="button" value="Contact Us">
            <input type="button" value="Know more">
            <input type="button" value="Send more">
            <input type="button" value="Download">
            </div>
          </div>
        </div>  
      </div>
    </header>
    <section name="body">
      <article>
          <div class="body-1">
            <div class="ico5a"></div>
            <h2>IFront End</h2>
            <hr>
            <p class="texto-pequeno">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p class="texto-pequeno2">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
       <article>
          <div class="body-1">
            <div class="ico6a"></div>
            <h2>Web Services</h2>
            <hr>
            <p class="texto-pequeno">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p class="texto-pequeno2">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
        <article>
          <div class="body-1">
            <div class="ico7a"></div>
            <h2>Data Guard</h2>
            <hr>
            <p class="texto-pequeno">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p class="texto-pequeno2">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
    </section>
    <section>
      <article class="duo1a">
          <div class="body-1a">
            <div class="ico5b"></div>
            <h2>IFront End</h2>
            <hr>
            <p class="texto-pequenob">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p class="texto-pequeno2">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
       <article class="duo1b">
          <div class="body-1b">
            <div class="ico6b"></div>
            <h2> Web Services</h2>
            <hr>
            <p class="texto-pequenob">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p class="texto-pequeno2">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
    </section>
        <section>
      <article class="duo1a">
          <div class="body-1a">
            <div class="ico5c"></div>
            <h2>Data Guard</h2>
            <hr>
            <p class="texto-pequenob">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p class="texto-pequeno2">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
       <article class="duo1b">
          <div class="body-1b">
            <div class="ico6c"></div>
            <h2>Tecno-In</h2>
            <hr>
            <p class="texto-pequenob">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p class="texto-pequeno2">Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
    </section>
     <footer>CM12140
      <br>
      Mauricio David Calzadilla Miranda</footer>
  </div>
  </body>
</html>

