  <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>David Miranda- ejercicio 2</title>
	<link rel="stylesheet" href="../../css/davidejercicio2.css">
</head>
<body>
	<header id="menu">
		<div class="header-a">
			<div class="phone"></div>
			<div class="a2">
			</div>
			<div class="a3">
			</div>
			<div class="a4">
			</div>
			</div>
		</div>
		<div class="header-b">
			<div class="b1">
			</div>
			<div class="b2">
			</div>
			<div class="b3">
			</div>
			<div class="b4">
			</div>
			<div class="b5">
			</div>
			<div class="b6">
			</div>
		</div>
		<div class="header-c"></div>
		<div class="header-d"></div>
	</header>
	<section>
		<div class="section-a">
			<div class="sa1">
				<div class="sa1-1"></div>
				<div class="sa1-2"></div>
				<div class="sa1-3"></div>
			</div>
		</div>
		<div class="section-b">
			<div class="sb1">
				<div class="sb1-1"></div>
				<div class="sb1-2"></div>
				<div class="sb1-3"></div>
			</div>
			<div class="sb2"></div>
		</div>
		<div class="section-c">
			<div class="sc1">
				<div class="sc1-1">
					<div class="sc1-1a"></div>
					<div class="sc1-1b">
						<div class="sc1-1b-boton">
							<div class="sc1-1b-texto"></div>
						</div>
					</div>
				</div>
				<div class="sc1-2">
					<div class="sc1-2a"></div>
					<div class="sc1-2b">
						<div class="sc1-2b-boton">
							<div class="sc1-2b-texto"></div>
						</div>
					</div>
				</div>
				<div class="sc1-3">
					<div class="sc1-3a"></div>
					<div class="sc1-3b">
						<div class="sc1-3b-boton">
							<div class="sc1-3b-texto"></div>
					</div>
				</div>
			</div>
			<div class="sc2">
				<div class="sc2-1">
					<div class="sc2-1a"></div>
					<div class="sc2-1b">
						<div class="sc2-1b-boton">
							<div class="sc2-1b-texto"></div>
						</div>
					</div>
				</div>
				<div class="sc2-2">
					<div class="sc2-2a"></div>
					<div class="sc2-2b">
						<div class="sc2-2b-boton">
							<div class="sc2-2b-texto"></div>
						</div>
					</div>
				</div>
				<div class="sc2-3">
					<div class="sc2-3a"></div>
					<div class="sc2-3b">
						<div class="sc2-3b-boton">
							<div class="sc2-3b-texto"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-d">
			<div class="sd1"></div>
			<div class="sd2">
				<div class="sd2-1">
					<div class="sd2-1a"></div>
					<div class="sd2-1b"></div>
				</div>
				<div class="sd2-2">
					<div class="sd2-2a"></div>
				</div>
			</div>
		</div>
		<div class="section-e">
			<div class="se1">
				<div class="se1-1"></div>
			</div>
			<div class="se2">
				<div class="se2-1">
					<div class="se2-1a">
						<div class="se2-1a-texto"></div>
					</div>
					<div class="se2-1b">
						<div class="se2-1b-caja"></div>
					</div>
				</div>
				<div class="se2-2">
					<div class="se2-2a">
						<div class="se2-2a-texto"></div>
					</div>
					<div class="se2-2b">
						<div class="se2-2b-caja"></div>
					</div>
				</div>
				<div class="se2-3">
					<div class="se2-3a">
						<div class="se2-3a-texto"></div>
					</div>
					<div class="se2-3b">
						<div class="se2-3b-caja"></div>
					</div>
				</div>
			</div>
			<div class="se3">
				<div class="se3-1">
					<div class="se3-1a">
						<div class="se3-1a-texto"></div>	
					</div>
					<div class="se3-1b">
						<div class="se3-1b-caja"></div>
					</div>
				</div>
				<div class="se3-2">
					<div class="se3-2a">
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer id="footer">
		<div class="footer-1">
			<div class="f1-1">
				<div class="f1-1a"></div>
			</div>
			<div class="f1-2">
				<div class="f1-2a"></div>
				<div class="f1-2b"></div>
				<div class="f1-2c"></div>
			</div>
		</div>
		<div class="footer-2">
			<div class="f2-1">
				<div class="f2-1a"></div>
				<div class="f2-1b"></div>
				<div class="f2-1c"></div>
				<div class="f2-1d"></div>
				<div class="f2-1e"></div>
			</div>
			<div class="f2-2"></div>
		</div>
	</footer>
</body>
</html>