@charset "utf-8";

.bg-dark {
	background-color: #07132a !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 800;
	line-height: 1.2;
	color: #091756;
}
	
	h1, .h1 {
	font-size: 3.5rem !important;
}

@media (min-width: 200px){
	h1{
		font-size: 25pt !important;
	}
}


@media (min-width: 576px){
	h1{
		font-size: 35pt !important;
	}
}


@media (min-width: 576px){
	p{
		font-size: 12pt !important;
	}
}


@media (min-width: 200px){
	p{
		font-size: 12pt !important;
	}
}


