<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ejercicio2</title>
	<link rel="stylesheet" href="../../css/monica.css">
</head>
<body id="cuerpo">
	<header id="menus">
		<div class="menu1">
			<div class="m1a"></div>
			<div class="m2a">
				<div class="simtel"></div>
				<div class="tel"></div>
				<div class="partners"></div>
				<div class="signin"></div>
			</div>
		</div>
		<div class="menu2">
			<div class="clogo"></div>
			<div class="chome"></div>
			<div class="cabout"></div>
			<div class="cpys"></div>
			<div class="cheavy"></div>
			<div class="ccontact"></div>
		</div>
	</header>
	<section>
		<div class="line1"></div>
		<div class="line2"></div>
		<article id="carrusel">
			<div class="textcarru">
				<div class="ourservices"></div>
				<div class="text1"></div>
				<div class="cmore1">
					<div class="more1"></div>
				</div>
			</div>
		</article>
		<div class="line3"></div>
		<article id="descripcion">
			<div class="ctext2">
				<div class="titulo1"></div>
				<div class="text2"></div>
				<div class="cvermas1">
					<div class="vermas1"></div>
				</div>
			</div>
			<div class="image1"></div>
		</article>
		<article id="imagdescrip">
			<div></div>
		</article>
	</section>
	<footer></footer>
</body>
</html>