<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ejercicio2</title>
	<link rel="stylesheet" href="../../css/monica.css">
</head>
<body id="cuerpo">
	<header id="menus">
		<div class="menu1">
			<div class="m1a"></div>
			<div class="m2a">
				<div class="simtel"></div>
				<div class="tel"></div>
				<div class="partners"></div>
				<div class="signin"></div>
			</div>
		</div>
		<div class="menu2">
			<div class="clogo"></div>
			<div class="chome"></div>
			<div class="cabout"></div>
			<div class="cpys"></div>
			<div class="cheavy"></div>
			<div class="ccontact"></div>
		</div>
	</header>
	<section>
		<div class="line1"></div>
		<div class="line2"></div>
		<article id="carrusel">
			<div class="textcarru">
				<div class="ourservices">
					<div class="our1"></div>
				</div>
				<div class="text1">
					<div class="te1"></div>
				</div>
				<div class="cmore1">
					<div class="more1"></div>
				</div>
			</div>
		</article>
		<div class="line3"></div>
		<article id="descripcion">
			<div class="ctext2">
				<div class="titulo1">
					<div class="tit1"></div>
				</div>
				<div class="text2">
					<div class="te2"></div>
				</div>
				<div class="cvermas1">
					<div class="vermas1"></div>
				</div>
			</div>
			<div class="image1"></div>
		</article>
		<article id="imagdescrip">
			<div class="lineimage1">
				<div class="imag1">
					<div class="t1">
						<div class="titlei"></div>
					</div>
					<div class="vermas2"></div>
				</div>
				<div class="imag2">
					<div class="t1"></div>
					<div class="vermas2"></div>
				</div>
			</div>
			<div class="lineimage2">
				<div class="imag1">
					<div class="t1"></div>
					<div class="vermas2"></div>
				</div>
				<div class="imag2">
					<div class="t1"></div>
					<div class="vermas2"></div>
				</div>
			</div>
			<div class="lineimage3">
				<div class="imag1">
					<div class="t1"></div>
					<div class="vermas2"></div>
				</div>
				<div class="imag2">
					<div class="t1"></div>
					<div class="vermas2"></div>
				</div>
			</div>
		</article>
		<article id="aboutus">
			<div class="imagen"></div>
			<div class="texto">
				<div class="titulo">
				<div class="primertexto"></div>
				<div class="segundotexto"></div>
			</div>
		</article>
		<article id="contactanos">
			<div class="contac"></div>
			<div class="cname">
				<div class="con1"></div>
				<div class="descrip1"></div>
				<div class="con2"></div>
				<div class="descrip2"></div>
				<div class="con3"></div>
				<div class="descrip3"></div>
			</div>
			<div class="cphone">
				<div class="cph1"></div>
				<div class="descrip4"></div>
				<div class="cbutton">
					<div class="button"></div>
				</div>
			</div>
		</article>
	</section>
	<footer id="piedepag">
		<div class="clogotipo">
			<div class="log">
				<div class="logotipo"></div>
				<div class="credes">
					<div class="red1"></div>
					<div class="red2"></div>
                    <div class="red3"></div>
				</div>
			</div>
		</div>
		<div class="chome1">
			<div class="ccaja">
				<div class="p1"></div>
				<div class="p2"></div>
				<div class="p3"></div>
				<div class="p4"></div>
				<div class="p5"></div>
			</div>
		</div>
		<div class="ccorpiright">
			<div class="corpir">
			</div>
		</div>
	</footer>
</body>
</html>