<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Monica Lopez Laboratorio</title>
	<link rel="stylesheet" href="../../css/monica_lab.css">
</head>
<body>
	<header>
		<article id="menus1">
			<div class="contacts">
				<div class="simtel"></div>
				<div class="telefono"></div>
				<div class="our"></div>
			</div>
			<div class="signin">
				<div class="more"></div>
				<div class="in"></div>
			</div>
		</article>
		<article id="menus2">
			<div class="clogo">
				<div class="logo"></div>
			</div>
			<div class="chome">
				<div class="home"></div>
				<div class="knows"></div>
				<div class="brands"></div>
				<div class="corporate"></div>
				<div class="blog"></div>
				<div class="community"></div>
				<div class="contact"></div>
			</div>
		</article>
	</header>
	<section>
		<article id="pantalla">
            <div class="ctext1">
            	<div class="ctext2">
            		<div class="text1"></div>
            		<div class="text2"></div>
            	</div>
            </div>
			<div class="image1"></div>
		</article>
		<article id="info">
			<div class="image2"></div>
			<div class="ctext3">
				<div class="text3">
					<div class="titulo1"></div>
					<div class="tex2"></div>
					<div class="vermas">
						<div class="boton1"></div>
					</div>
				</div>
				<div class="text4">
					<div class="titulo2"></div>
					<div class="tex3"></div>
					<div class="vermas2">
						<div class="boton2"></div>
					</div>
				</div>
			</div>
		</article>
		<article id="bebidas">
			<div class="cimagenes">
				<div class="ccimagenes">
				    <div class="cimag1">
				    	<div class="image3"></div>
				    	<div class="tex4">
				    		<div class="ctext4">
				    		    <div class="num1"></div>
				    		    <div class="title1"></div>
				    		</div>
				    	</div>
				    </div>
				    <div class="cimag2">
				    	<div class="tex5">
				    		<div class="ctext5">
				    		    <div class="num1"></div>
				    		    <div class="title1"></div>
				    		</div>
				    	</div>
				    <div class="image4"></div>
				    </div>
				</div>
			</div>
		    <div class="vasos"></div>
		</article>
		<article id="revistas">
			<div class="line"></div>
			<div class="image5">
				<div class="titulo3"></div>
			</div>
			<div class="image6"></div>
			<div class="image7"></div>
		</article>
        <article id="redes">
        	<div class="line2"></div>
        	<div class="image8">
        		<div class="cimag3">
        		</div>
        	</div>
        	<div class="textredes">
        		<div class="tex5"></div>
        	</div>
        </article>
        <article id="moreinfo">
        	<div class="line3"></div>
        	<div class="datos">
        		<div class="lineasdedatos1">
        			<div class="dato1"></div>
        		</div>
        		<div class="lineasdedatos2">
        			<div class="dato2"></div>
        		</div>
        		<div class="lineasdedatos2">
        			<div class="dato3"></div>
        		</div>
        		<div class="lineasdedatos2">
        			<div class="dato4"></div>
        		</div>
        		<div class="lineasdedatos2">
        			<div class="dato5"></div>
        		</div>
        		<div class="lineasdedatos2">
        			<div class="dato6"></div>
        		</div>
        		<div class="lineasdedatos2">
        			<div class="dato7"></div>
        		</div>
        		<div class="lineasdedatos2">
        			<div class="dato8"></div>
        		</div>
        		<div class="lineasdedatos2">
        			<div class="dato9"></div>
        		</div>
        		<div class="lineasdedatos2">
        			<div class="dato10"></div>
        		</div>
        	</div>
        	<div class="info2">
        		<div class="ctexto">
        			<div class="cctext">
        				<div class="titulo4"></div>
        				<div class="t1"></div>
        				<div class="t2"></div>
        				<div class="t3"></div>
        				<div class="t4"></div>
        			</div>
        		</div>
        	</div>
        </article>
	</section>
	<footer id="pie">
		<div class="pie1">
			<div class="p1a">
					<div class="a"></div>
			</div>
			<div class="p1b">
				<div class="b"></div>
			</div>
		</div>
		<div class="pie2">
			<div class="p2a">
				<div class="p2a1"></div>
				<div class="p2a2"></div>
			</div>
			<div class="p2b">
				<div class="p21"></div>
				<div class="p22"></div>
				<div class="p23"></div>
				<div class="p24"></div>
				<div class="p25"></div>
				<div class="p26"></div>
				<div class="p27"></div>
			</div>
		</div>
	</footer>
</body>
</html>