<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Monica Lopez Laboratorio</title>
	<link rel="stylesheet" href="../../css/monica_lab.css">
</head>
<body>
	<header>
		<article id="menus1">
			<div class="contacts">
				<div class="simtel"></div>
				<div class="telefono"></div>
				<div class="our"></div>
			</div>
			<div class="signin">
				<div class="more"></div>
				<div class="in"></div>
			</div>
		</article>
		<article id="menus2">
			<div class="clogo">
				<div class="logo"></div>
			</div>
			<div class="chome">
				<div class="home"></div>
				<div class="knows"></div>
				<div class="brands"></div>
				<div class="corporate"></div>
				<div class="blog"></div>
				<div class="community"></div>
				<div class="contact"></div>
			</div>
		</article>
	</header>
	<section>
		<article id="pantalla">
            <div class="ctext1">
            	<div class="ctext2">
            		<div class="text1"></div>
            		<div class="text2"></div>
            	</div>
            </div>
			<div class="image1"></div>
		</article>
		<article id="info">
			<div class="image2"></div>
			<div class="ctext3">
				<div class="text3">
					<div class="titulo1"></div>
					<div class="tex2"></div>
					<div class="vermas">
						<div class="boton1"></div>
					</div>
				</div>
				<div class="text4">
					<div class="titulo2"></div>
					<div class="tex3"></div>
					<div class="vermas2">
						<div class="boton2"></div>
					</div>
				</div>
			</div>
		</article>
		<article id="bebidas">
			<div class="cimagenes">
				<div class="ccimagenes">
				    <div class="cimag1">
				    	<div class="image3"></div>
				    	<div class="tex4"></div>
				    </div>
				    <div class="cimag2">
				    	<div class="tex5"></div>
				    	<div class="image4"></div>
				    </div>
				</div>
			</div>
			<div class="vasos"></div>
		</article>
		<article id="revistas">
			<div class="line"></div>
			<div class="image5"></div>
			<div class="image6"></div>
			<div class="image6"></div>
		</article>

	</section>
	<footer></footer>
</body>
</html>