<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>monica_parcial</title>
	<link rel="stylesheet" href="../../css/monica_parcial.css">
</head>
<body>
	<header>
		<header>
		<div class="a1">
			<div class="img1"></div>
		</div>
		<div class="a2">
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
		<div class="a3">
			<button>Ingresar</button>
		</div>
	</header>
	<section>
		<article id="b">
			<div class="b1">
				<div class="img2">
					<div class="ba1">
					    <h1>We are Genius!!</h1>
						<br>
						<p>It had been rumored for a while that the two artists had been working on a song for Bieber's new album Purpose, but when the tracklist of the album was revealed it was officially confirmed.</p>
                        <br>
                        <br>
                        <p>The song tells the story of a relationship which is being destroyed by rumors and hate. As a famous singer.
						</p>
						<div>
							<button>Know more</button>
							<button>Contact us</button>
							<button>Download</button>
							<button>Send us</button>
						</div>
					</div>
					<div class="ba2">
						<div class="img3"></div>
					</div>
				</div>
			</div>
		</article>
		<article id="c">
			<article id="c">
			<div class="c1art">
				<div name="1">
					<div class="c1">
						<div class="c1a">
							<div class="img4"></div>
						</div>
						<div class="c1b">
						    <h2>IFrontEnd</h2>
						    <hr>
					    </div>
					</div>
					<div class="c2">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
				<div name="2">
					<div class="c1">
						<div class="c1a">
							<div class="img5"></div>
						</div>
						<div class="c1b">
						    <h2>WebServices</h2>
						    <hr>
					    </div>
					</div>
					<div class="c2">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
				<div name="3">
					<div class="c1">
						<div class="c1a">
							<div class="img6"></div>
						</div>
						<div class="c1b">
						    <h2>DataGuard</h2>
						    <hr>
					    </div>
					</div>
					<div class="c2">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
		</article>
		<article id="d">
			<div class="d1art">
				<div name="1">
					<div class="d1">
						<div class="d1a">
							<div class="img4"></div>
						</div>
						<div class="d1b">
						    <h2>IFrontEnd</h2>
						    <hr>
					    </div>
					</div>
					<div class="d2">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
			<div class="d1art">
				<div name="2">
					<div class="d1">
						<div class="d1a">
							<div class="img8"></div>
						</div>
						<div class="d1b">
						    <h2>Web Services</h2>
						    <hr>
					    </div>
					</div>
					<div class="d2">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
			<div class="d1art">
				<div name="3">
					<div class="d1">
						<div class="d1a">
							<div class="img9"></div>
						</div>
						<div class="d1b">
						    <h2>DataGuard</h2>
						    <hr>
					    </div>
					</div>
					<div class="d2">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
			<div class="d1art">
				<div name="4">
					<div class="d1">
						<div class="d1a">
							<div class="img10"></div>
						</div>
						<div class="d1b">
						    <h2>Tecno-In</h2>
						    <hr>
					    </div>
					</div>
					<div class="d2">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
		</article>
	</section>
	<footer id="pie">
	</footer>
</body>
</html>