<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Monica Tarea 3</title>
		<link rel="stylesheet" href="../../css/monica_tarea3.css">
</head>
<body>
    <div class="contenedor">
	<header name="encabezado">
	<div class="a1">
		<div class="img1"></div>
	</div>
	<div class="a2">
		<h1>Coffee Great Plain "GOLD"</h1>
		<h3>our tradition is the best</h3>
	</div>
    </header>
    <section name="cuerpo">
    	<article name="seccion1">
    		<div class="know">
    			<h2>Know about our history</h2>
				<p>On December 12, 2002, the first Juan Valdez® Café store opened its doors at the El Dorado international airport in Bogotá, with a dream story and great achievements for Colombian premium coffee.</p>
				<br>
				<p>The firts international store was opened in the city of Whashinton D.C.<br> 
                We are currently in New York and continue to strongly develop our presence in and around Miami.</p>
    		</div>
    	</article>
    	<article class="seccion2">
    		<div class="discovera">
    			<div class="img2"></div>
    		</div>
    		<div class="discoverb">
    			<h2>Discover Your Perfect Cup</h2>
				<p>We extend the experience to more stores, so that coffe lovers find their perfect cup enjoying the origins of espresso-based dinks.</p>
				<h3>...this is a great cafe</h3>
    		</div>
    	</article>
    </section>
</body>
</html>