<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>monica_parcial</title>
	<link rel="stylesheet" href="../../css/monica_parcial.css">
</head>
<body>
	<header>
		<header>
		<div class="a1">
			<div class="img1"></div>
		</div>
		<div class="a2">
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
		<div class="a3">
			<button>Ingresar</button>
		</div>
	</header>
	<section></section>
	<footer></footer>
</body>
</html>