<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Monica L. Armijo </title>
	<link rel="stylesheet" href="../../css/monica.css">
</head>
<body>
	<header id="menu">
		<div class="child1">
		    <div class="a"></div>
		    <div class= "b"></div>
        </div>
		<div class="child2">
		    <div class="c"></div>
		    <div class="d"></div>
		    <div class="e"></div>
		    <div class="f"></div>
		</div>
	</header>
	<section>
		<article>
			<div> 
                <div class="g"></div>
			</div>
		</article>
		<article id="articulos">
			<div class="h"></div>
			<div class="i">
				<div class="i1"></div>
			    <div class="i2"></div>
			    <div class="i3">
			    	<div class="i3a"></div>
			    </div>
			</div>
			<div class="i">
				<div class="i1"></div>
			    <div class="i2"></div>
			    <div class="i3">
			    	<div class="i3a"></div>
			    </div>
			</div>
			<div class="i">
				<div class="i1"></div>
			    <div class="i2"></div>
			    <div class="i3">
			    	<div class="i3a"></div>
			    </div>
			</div>
		</article>
		<article id="marca">
			<div class="j"></div>
			<div class="k">
				<div class="k1">
					<div class="k1a"></div>
					<div class="k1b"></div>
				</div>
				<div class="k2"></div>
				<div class="k3">
					<div class="k3a"></div>
				</div>
			</div>
		</article>
		<article id="contactanos">
			<div class="l">
			    <div class="l1"></div>
			    <div class="la1"></div>
			    <div class="l2"></div>
			    <div class="la2"></div>
			    <div class="l3"></div>
			    <div class="la3"></div>
			    <div class="l4"></div>
			</div>
			<div class="m">
                <div class="m1"></div>
                <div class="m2">
                	<div class="ma2"></div>
                </div>
            </div>
		</article>
	</section>
	<footer id="pie">
		<div class="piea"></div>
		<div class="pieb"></div>
		<div class="piec">
		    <div class="piec1">
		    	<div class="piec1a"></div>
		        <div class="piec1b"></div>
		        <div class="piec1b"></div>
		        <div class="piec1b"></div>
		    </div>
		    <div class="piec2"></div>
		</div>
	</footer>
</body>
</html>