<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Allan Arevalo Parcial</title>
<link rel="stylesheet" href="../../css/allan_lovo_parcial.css">
</head>
<body>
<header id="menu"> <!-- HEADER -->
  <div>
    <div class="icon"></div> <!-- IMAGEN -->
  </div>
  <div>
    <ul> <!-- MENU -->
      <li><a href="#">Home</a></li>
      <li><a href="#">Our Sevices</a></li>
      <li><a href="#">Our History</a></li>
      <li><a href="#">Examples</a></li>
      <li><a href="#">Documentation</a></li>
      <li><a href="#">Lets play</a></li>
      <li><a href="#">Photos</a></li>
      <li><a href="#">Contact Us</a></li> 
    </ul>
  </div>
  <div class="contenedor"> <!-- BOTON -->
    <button class="button1">Registro</button>
  </div>
</header>
<section>
  <!-- PRIMER ARTICULO -->
  <article id="cont_body">
    <article class="imagen">
      <div class="s1">
        <div>
          <h1>We Are Genius!!</h1>
        </div>
        <div>
          <p>It had been rumored for a while that the two artist had been working on a song for Bieber's new album Purpose, but when the tracklist of the album was revealed it was officially confirmed.
            <br><br>
          The song tells the story of a relationship, which is being destroyed by rumors and hate. As a famous singer.</p>
        </div>
        <div>
          <button class="button2">Contact Us</button>
          <button class="button2">Know More</button>
          <button class="button2">Send Us</button>
          <button class="button2">Download</button>
        </div>
      </div>
      <div class="s2"></div>
    </article>
    <!-- SECCION 2 -->
    <article id="arti2">
      <div> <!-- CAJA UNO -->
        <div>
          <div>
            <div class="img1"></div>
          </div>
          <div>
            <h1>I Front End</h1>
            <hr>
          </div>
          <div>
            <p> <br> Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
              <br>
              <br>
            Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
        </div>
        <div>
          <div>
            <div class="img2"></div>
          </div>
          <div>
            <h1>Web Services</h1>
            <hr>
          </div>
          <div>
            <p>
              <br>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
              <br>
              <br>
            Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
        </div>
        <div>
          <div>
            <div class="img3"></div>
          </div>
          <div>
            <h1>Data Guard</h1>
            <hr>
          </div>
          <div>
            <p>
              <br>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
              <br>
              <br>
            Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
        </div>
      </div>
    </article>
    <!-- SECCION 3 -->
    <article id="arti3">
      <div> <!-- CAJA UNO -->
        <div>
          <div>
            <div class="img1"></div>
          </div>
          <div>
            <h1>I Front End</h1>
            <hr>
          </div>
          <div>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
              <br>
              <br>
            Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
        </div>
        <div>
          <div>
            <div class="img2"></div>
          </div>
          <div>
            <h1>Web Services</h1>
            <hr>
          </div>
          <div>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
              <br>
              <br>
            Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
        </div>
        <div>
          <div>
            <div class="img3"></div>
          </div>
          <div>
            <h1>Data Guard</h1>
            <hr>
          </div>
          <div>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
              <br>
              <br>
            Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
        </div>
        <div>
          <div>
            <div class="img4"></div>
          </div>
          <div>
            <h1>Techo-In</h1>
            <hr>
          </div>
          <div>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
              <br>
              <br>
            Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
        </div>
      </div>
    </article>
  </article>
</section>
<footer>
  <div>AL13012</div>
  <div>Allan Paúl Arévalo Lovo</div>
</footer>
</body>
</html>