<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 1</title>
	<link rel="stylesheet" href="../../css/alln.css">
</head>
<body>
	<header>
	  <div class="alfa">
		    <div class="a"></div>
		    <div class= "b"></div>
        </div>
		<div class="beta">
		    <div class="c"></div>
		    <div class="d"></div>
		    <div class="e"></div>
		    <div class="f"></div>
		</div>
	</header>
<section>
	<article>
			<div class="gamma"></div>
	</article>
   			 <article>
    			<div class="rayita"></div>
   		 	</article>
	<article>
		    <div class="g1"></div>
            <div class="g2">
           	  	<div class="g2a"></div>
              	<div class="g2b"></div>
              	<div class="g2c"></div>
           	  	<div class="g2d">
                		<div class="g2d1"></div>
                        <div class="g2d2"></div>
                        <div class="g2d3"></div>
                </div>
            </div>
		    <div class="g3"></div>
		    <div class= "g4">
           	  	<div class="g4a"></div>
              	<div class="g4b"></div>
              	<div class="g4c"></div>
           	  	<div class="g4d">
                		<div class="g4d1"></div>
                        <div class="g4d2"></div>
                        <div class="g4d3"></div>
                 </div>
         	</div>
            <div class= "g5"></div>
	 		<div class= "g6">
           	  	<div class="g6a"></div>
              	<div class="g6b"></div>
              	<div class="g6c"></div>
           	  	<div class="g6d">
                   		<div class="g6d1"></div>
                        <div class="g6d2"></div>
                        <div class="g6d3"></div>
                    </div>
            </div>
			<div class= "g7"></div>
            
				<div class="first"></div>
				<div class="second"></div>
               	
				<div class= "third"></div>
      <div class= "fourth">
                </div>
	</article>
</section>
            
<footer>
	   
     </footer>
</body>
    </html>
    
    