<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Allan Arevalo Tarea 4</title>
	<link rel="stylesheet" href="../../css/alln_tarea4.css">
</head>
<body>
 <header>
  <div id="alpha">
    <!-- Este es el icono -->
    <div class="camara">
     <div class="icon" >
       <img src="../../img/icono_logo.png">   
     </div>
   </div>
   <!-- Aqui termina el icono -->
   <div id="beta">
     <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Our Services</a></li>
      <li><a href="#">Our History</a></li>
      <li><a href="#">Examples</a></li>
      <li><a href="#">Documentation</a></li>
      <li><a href="#">Lets Play</a></li>
      <li><a href="#">Photos</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</div>
</header>
<section>
  <!-- Articulo banner: hombre + botones  -->
  <article id="arti1">
   <div id="men">
    <div class="men_img">
     <div class="img"></div>
   </div>
   <div class="text1">
     <h1>Discover Our Brand</h1>
     <!-- AQUI ESTA EL TEXTO DEL BANNER -->
     <p>Today, new technologies applied to knowledge, culture and <br>
       solidarity, give us more opportunities than ever to work successfully <br>
       in the transformation of society. Fundacion Telefónica has been <br>
       using them since 1998 to awaken these ideas through projects that <br>
       fight fot social development and the creation of opportunities in <br>
     Europe and Latin America.</p>
     <!-- AQUI EMPIEZAN LOS BOTONES -->
     <button>Know more</button>
     <button>Contact Us</button>
     <button>Download</button>
   </div>
 </div>
</article>
<!-- termina el banner -->
<article>
  <div id="arti2">
   <div class="a1">
     <div class="b1">
      <div class="c1">
       <div class="img2"></div>
     </div>
     <div class="text2">
       <h2>IFrontEnd</h2><hr>
     </div>
     <div class="text3">
       <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
       <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
     </div>
   </div>
   <div class="b1">
    <div class="c1">
     <div class="img3"></div>
   </div>
   <div class="text2">
     <h2>IFrontEnd</h2><hr>
   </div>
   <div class="text3">
     <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
     <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
   </div>
 </div>
 <div class="b1">
  <div class="c1">
   <div class="img4"></div>
 </div>
 <div class="text2">
   <h2>IFrontEnd</h2><hr>
 </div>
 <div class="text3">
   <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
   <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
 </div>
</div>
<div class="b1">
  <div class="c1">
   <div class="img5"></div>
 </div>
 <div class="text2">
   <h2>IFrontEnd</h2><hr>
 </div>
 <div class="text3">
   <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
   <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
 </div>
</div>
</div>
<div class="a1">
 <div class="b1">
  <div class="c1">
   <div class="img2"></div>
 </div>
 <div class="text2">
   <h2>IFrontEnd</h2><hr>
 </div>
 <div class="text3">
   <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
   <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
 </div>
</div>
<div class="b1">
  <div class="c1">
   <div class="img3"></div>
 </div>
 <div class="text2">
   <h2>IFrontEnd</h2><hr>
 </div>
 <div class="text3">
   <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
   <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
 </div>
</div>
<div class="b1">
  <div class="c1">
   <div class="img4"></div>
 </div>
 <div class="text2">
   <h2>IFrontEnd</h2><hr>
 </div>
 <div class="text3">
   <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
   <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
 </div>
</div>
<div class="b1">
  <div class="c1">
   <div class="img5"></div>
 </div>
 <div class="text2">
   <h2>IFrontEnd</h2><hr>
 </div>
 <div class="text3">
   <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
   <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
 </div>
</div>
</div>
</div>
</article>
</section>	
<footer>
  <br>
  AL13012 <br> 
  Allan Paul Arévalo Lovo
</footer>	
</body>
</html>