<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 2 Allan Arevalo</title>
	<link rel="stylesheet" href="../../css/alln2.css">
</head>
<body>
	<header>
        <article id="head1"> 
        	<div class="head1padre1"></div>
            <div class="head1padre2">
            	<div class="head1hijo1"></div>
                <div class="head1hijo2"></div>
                <div class="head1hijo3"></div>
                <div class="head1hijo4"></div>
            </div>    
        </article>
        <article id="head2"> 
        	<div class="head2padre1">
               <div class="head2hijo1"></div>
               <div class="head2hijo2"></div>
               <div class="head2hijo3"></div>
           </div>
           <div class="head2padre2">
               <div class="head22hijo1"></div>
               <div class="head22hijo2"></div>
               <div class="head22hijo3"></div>
               <div class="head22hijo4"></div>
               <div class="head22hijo5"></div>
           </div> 
       </article>
   </header>
   <section>
    <article id="first">
       <div class="first1">
          <div class="first1a">
             <div class="hijo1a1">
                <div class="hijo1a1a"></div>
                <div class="hijo1a2"></div>
                <div class="hijo1a3"></div>
            </div>
        </div>
    </div>
</article>
<article id="second">
	<div class="secson1">
		<div class="sec1">
           <div class="hijosec1"></div>
       </div>
       <div class="sec2"></div>
       <div class="sec3">
        <div class="hijosec3"></div>
    </div>
</div>
<div class="secson2"></div>
</article>
<article id="third">
	<div class="thson1">
       <div class="img1">
           <div class="lorem"></div>
           <div class="realimg">
               <div class="ver"></div>
           </div>
       </div>
       <div class="img2"><div class="lorem"></div>
       <div class="realimg">
           <div class="ver"></div>
       </div></div>
       <div class="img3"><div class="lorem"></div>
       <div class="realimg">
           <div class="ver"></div>
       </div></div>
   </div>
   <div class="thson2">
    <div class="img1a"><div class="lorem"></div>
    <div class="realimg">
       <div class="ver"></div>
   </div></div>
   <div class="img2a"><div class="lorem"></div>
   <div class="realimg">
       <div class="ver"></div>
   </div></div>
   <div class="img3a"><div class="lorem"></div>
   <div class="realimg">
       <div class="ver"></div>
   </div></div>
</div>
</article>
<article id="fourth">
	<div class="prima4th"></div>
    <div class="seg4th">
       <div class="segt"></div>
       <div class="seg1"></div>
       <div class="seg2"></div>
   </div>
</article>
<article id="fifth">
    <div class="column1">
        <div class="contactenos">
            <div class="contactenos1"></div>
        </div>
        <div class="name">
            <div class="name1"></div>
            <div class="name2"></div>
        </div>
        <div class="email"><div class="name1"></div>
        <div class="name2"></div></div>
        <div class="message"><div class="name1"></div>
        <div class="name3"></div></div>
    </div>
    <div class="column2">
       <div class="phone">
          <div class="phone1"></div>
          <div class="phone2"></div>
      </div>
      <div class="send">
          <div class="sendb">
          </div>
      </div>
  </div>
</div>
</div>
</div>
</article>
</section>
<footer>
    <article id="furer1">
        <div class="logo"></div>
    </article>
    <article id="furer2">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
        <div class="line4"></div>
        <div class="line5"></div>
    </article>
    <article id="furer3">
      <div class="logo1"></div>
      <div class="logo2"></div>
      <div class="logo3"></div>
  </article>
  <article id="furer4">
    <div class="copyright"></div>
</article>
</footer>
</body>
</html>