<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 1 Allan Arevalo</title>
	<link rel="stylesheet" href="../../css/alln.css">
</head>
<body>
	<header>
   <div class="alfa">
    <div class="a"></div>
    <div class= "b"></div>
  </div>
  <div class="beta">
    <div class="c"></div>
    <div class="d"></div>
    <div class="e"></div>
    <div class="f"></div>
  </div>
</header>
<section>
	<article id="uno"> 		<!– primer fila–>
   <div class="gamma"></div>
 </article> 					
 <article id="dos">			<!– segunda fila–>
   <div class="rayita"></div>
 </article>
 <article id="tres"> 					<!– tercer fila–>
  <div class="gamma1"></div>
  <div class="gamma2">
   <div class="gamma2a"></div>
   <div class="gamma2b"></div>
   <div class="gamma2c"></div>
   <div class="gamma2d">
    <div class="gamma2d1"></div>
    <div class="gamma2d2"></div>
    <div class="gamma2d3"></div>
  </div>
</div>
<div class="gamma3"></div>
<div class= "gamma4">
 <div class="gamma4a"></div>
 <div class="gamma4b"></div>
 <div class="gamma4c"></div>
 <div class="gamma4d">
  <div class="gamma4d1"></div>
  <div class="gamma4d2"></div>
  <div class="gamma4d3"></div>
</div>
</div>
<div class= "gamma5"></div>
<div class= "gamma6">
 <div class="gamma6a"></div>
 <div class="gamma6b"></div>
 <div class="gamma6c"></div>
 <div class="gamma6d">
   <div class="gamma6d1"></div>
   <div class="gamma6d2"></div>
   <div class="gamma6d3"></div>
 </div>
</div>
<div class= "gamma7"></div>
</article>
<article id="cuatro">					<!– cuarta fila–>
  <div class="first"></div>
  <div class="second">
    <div class="second9h"></div>
    <div class="second2h"></div>
    <div class="second3h"></div>
    <div class="second4"></div>
    <div class="second5h"></div>
    <div class="second7h"></div>
    <div class="second8h"></div>
    <div class="second10h"></div>
  </div>
</article>
<article id="cinco">					<!– quinta fila–>
  <div class= "third">
    <div class="third1"></div>
    <div class="third2"></div>
    <div class="third3"></div>
    <div class="third4"></div>
    <div class="third5"></div>
    <div class="third6"></div>
    <div class="third7"></div>
    <div class="third8"></div>
  </div>
  <div class= "fourth">
    <div class="fourth2"></div>
    <div class="fourth4"></div>
    <div class="fourth5"></div>
    <div class="fourth4a"></div>
    <div class="fourth6"></div>
    <div class="fourth7"></div>
    <div class="fourth8"></div>
    </div>
  </article>
</section>
<footer>
  <article id="furer1"></article>
  <article id="furer2">
   <div class="hitler1">
     <div class="hitlerspace1"></div>
     <div class="hitler1a"></div>
     <div class="hitler1b"></div>
     <div class="hitler1c"></div>
     <div class="hitler1d"></div>
     <div class="hitlerspace2"></div>
   </div>
   <div class="hitler2"></div>
 </article>
</footer>
</body>
</html>