<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 1</title>
	<link rel="stylesheet" href="../../css/alln.css">
</head>
<body>
<----------------!primer articulo---------------->
	<header>
	  <div class="alfa">
		    <div class="a"></div>
		    <div class= "b"></div>
        </div>
		<div class="beta">
		    <div class="c"></div>
		    <div class="d"></div>
		    <div class="e"></div>
		    <div class="f"></div>
		</div>
	</header>
<section>
	<article id="uno">
			<div class="gamma"></div>
	</article>
   			 <article>
    			<div class="rayita"></div>
   		 	</article>
	<article>
		    <div class="gamma1"></div>
            <div class="gamma2">
           	  	<div class="gamma2a"></div>
              	<div class="gamma2b"></div>
              	<div class="gamma2c"></div>
           	  	<div class="gamma2d">
                		<div class="gamma2d1"></div>
                        <div class="gamma2d2"></div>
                        <div class="gamma2d3"></div>
                </div>
            </div>
		    <div class="gamma3"></div>
		    <div class= "gamma4">
           	  	<div class="gamma4a"></div>
              	<div class="gamma4b"></div>
              	<div class="gamma4c"></div>
           	  	<div class="gamma4d">
                		<div class="gamma4d1"></div>
                        <div class="gamma4d2"></div>
                        <div class="gamma4d3"></div>
                 </div>
         	</div>
            <div class= "gamma5"></div>
	 		<div class= "gamma6">
           	  	<div class="gamma6a"></div>
              	<div class="gamma6b"></div>
              	<div class="gamma6c"></div>
           	  	<div class="gamma6d">
                   		<div class="gamma6d1"></div>
                        <div class="gamma6d2"></div>
                        <div class="gamma6d3"></div>
                    </div>
            </div>
			<div class= "gamma7"></div>
            
				<div class="first"></div>
				<div class="second"></div>
               	
				<div class= "third"></div>
      <div class= "fourth">
                </div>
	</article>
</section>
            
<footer>
	   
     </footer>
</body>
    </html>
    
    