  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Allan Arevalo Ejercicio 3</title>
    <link rel="stylesheet" href="../../css/alln_tarea3.css">
  </head>
  <body>
    <header id="encabezado">
      <div class="cafecito"></div>
      <div class="cafecito2">
        <div class="tx1">
          <h1>Coffee Great Plain "GOLD"</h1>
        </div>
        <div class="tx2">
          <h3>our tradition is the best</h3>
        </div>
      </div>
    </header>
    <section>
      <!-- Aqui empieza el primer articulo -->
      <article id= "uno">
        <!-- primer texto -->
        <div class="u1">
          <h2>Know about our history</h2>
        </div>
        <!-- segundo texto -->
        <div class="u2">
          <h5>
            On December 12, 2002, the first Juan Valdez® Café store opened its doors at the El Dorado international airport in Bogotá, with a dream story and great achievements for Colombian premium coffee.
            <br><br>
            The first international store was opened in the city of Washington D.C.<br> We are currently in New York and continue to strongly develop our presence in and<br> around Miami.
          </h5>
        </div>
      </article>
      <!-- COMIENZA EL ARTICULO 2 -->
      <article id= "dos">
        <div>
          <img class="d1" src='../../img/img1.png'>
        </div>
        <div class="d2">
          <div class="d21">
            <h2>Discover Your Perfect Cup</h2>
          </div>
          <div class="d22">
            <h3>
              We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.
            </h3>
          </div>
          <div class="d23">
            <h3>..this is a great cafe</h3>
          </div>
        </div>
      </article>
      <!-- COMIENZA EL ARTICULO 3 -->
      <article id="tres">
        <div class="t1">
          <div class="t11">
            <h2>First Shop Origins...</h2>
          </div>
          <div class="t12">
            <h3>
              In 2013 we inaugurated the first Origins store and began the development of a new experience. the way for the creation of the perfect cup.
            </h3>
          </div>
        </div>
        <div class="t2">
          <div class="t21">
            <h2>Our design...</h2>
          </div>
          <div class="t22">
            <h3>
              The design of the store and the variety of colognes of Colombian origin prepared with new methods paved.
            </h3>
          </div>
        </div>
      </article>
      <!-- AQUI COMIENZA EL ARTICULO 4 -->
      <article id="cuatro">
        <img class="c1" src='../../img/article4.png'>
      </article>
      <!-- AQUI COMIENZA EL ARTICULO 5 -->
      <article id="cinco">
        <div class="ci1">
          <h2>We Are Over 3'000.000 Of Friends On Facebook</h2>
        </div>
        <div class="ci2">
          <h3>
            With the opnening of Juan Valdez® coffee shops in different countries we have consolidated a digital comunity conected around the world that itneracts daily with the brand and motivates us to continue improving. 
          </h3>
        </div>
      </article>
    </section>
    <footer id="pata">
      <div id="pata1">
        <h3>Copyright</h3>
      </div>
      <div id="pata2">
        <img src="../../img/logo-footer.png">
      </div>
      <div id="pata3">
        <div class="button"> <h3>Join Now!!</h3></div> 
      </div>       
    </footer>
  </body>
  </html>