<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Laboratorio Allan Arevalo</title>
	<link rel="stylesheet" href="../../css/laboratorio_alln_lovo.css">
</head>
<body>
	<header>
    <article id="headeruno"> 
      <div class="hijoheader1"></div>
      <div class="hijoheader2"></div>
      <div class="hijoheader3"></div>
      <div class="hijoheader4"></div>
      <div class="hijoheader5"></div>
    </article>
    <article id="headerdos"> 
      <div class="hijoheader11"></div>
      <div class="hijoheader22"></div>
      <div class="hijoheader33"></div>
      <div class="hijoheader44"></div>
      <div class="hijoheader55"></div>
      <div class="hijoheader66"></div>
      <div class="hijoheader77"></div>
      <div class="hijoheader88"></div>
      <div class="hijoheader99"></div>
    </article>
  </header>
  <section>
    <article id="bannerbox">
      <div class="banner">
        <div class="left">
          <div class="left1"></div>
          <div class="left2">
            <div class="left2a">
              <div class="knowus"></div>
              <div class="knowus_not"></div>
              <div class="knowus_later"></div>
              <div class="bye">
                <div class="bye1"></div>
                <div class="bye2"></div>
              </div>
            </div>
            <div class="left3"></div>
          </div> </div>
          <div class="right">
          </article>
          <article id="sectwo">
            <div class="sec_one"> </div>
            <div class="sec_two"> 
             <div class="sec_two1"></div>
             <div class="sec_two2">
              <div class="sec_two2a"></div>
              <div class="sec_two2b">
                <div class="beta1"></div>
                <div class="beta2"></div>
              </div> 
              <div class="sec_two2c"></div>
              <div class="sec_two2d"></div>
              <div class="sec_two2e"></div>
              <div class="sec_two2f">
                <div class="f1"></div>
                <div class="f2"></div>
              </div>
              <div class="sec_two2g"></div>
            </div>
            <div class="sec_two3"></div>
          </div>
          <div class="sec_three"> 
           <div class="sec_three1"></div>
           <div class="sec_three2">
            <div class="sec_two2a"></div>
            <div class="sec_two2b">
              <div class="beta1"></div>
              <div class="beta2"></div>
            </div> 
            <div class="sec_two2c"></div>
            <div class="sec_two2d"></div>
            <div class="sec_two2e"></div>
            <div class="sec_two2f">
              <div class="f1"></div>
              <div class="f2"></div>
            </div>
            <div class="sec_two2g"></div>
          </div>
          <div class="sec_three1"></div>
        </div>
      </article>
      <article id="locion">
        <div class="loc_left">
          <div class="loc_left1"></div>
          <div class="loc_leftcenter">
            <div class="loc_centerup"></div>
            <div class="loc_centercenter"></div>
            <div class="loc_centerdown"></div>
          </div>
          <div class="loc_left_right"></div>
        </div>
        <div class="loc_right">
          <div class="loc_upper">
          </div>
          <div class="loc_downer"></div>
        </div>
      </article>
      <article id="chero">
        <div class="cherin">
          <div class="cherin1"></div>
          <div class="cherin2">
            <div class="cherin2up"></div>
            <div class="cherin2center"></div>
            <div class="cherin2down"></div>
          </div>
          <div class="cherin3"></div>
        </div>
        <div class="jeibu"></div>
        <div class="space_jeibu"></div>
      </article>
      <article id="revistas">
        <div class="revistas1"></div>
        <div class="revistas2"></div>
        <div class="revistas3"></div>
      </article>
      <article id="info">
      </article>
    </section>
    <footer>
     <article id="hitler1"></article>
     <article id="hitler2"></article>
   </footer>
 </body>
 </html>