<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 3 Allan Arevalo</title>
	<link rel="stylesheet" href="../../css/alln-mailer.css">
</head>
<body>
<div id="contenedor">
   <header id="header">
    <div class="cl1">
      <!-- TENES QUE ESTUDIAR COMO PONER ESTA OTRA FORMA -->
       <div class="img1"></div>  
       <!-- OKEEEEEY? -->  
    </div>
    <div class="cl2">
      <div class="text_3">
        <h3>CREATING</h3>
      </div>
      <div class="text_1">
        <h1>Reponsive Email Magic</h1>
      </div>
    </div>
   </header>
  <section>
    <article name="art1">
      <div class="intro">
        <h2>WELCOME TO OUR RESPONSIVE EMAIL</h2></br>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        </p>
      </div>
    </article>
    <article></article>
    <article></article>
    <article></article>
  </section>
   <footer>
   </footer>
</div>
</body>
</html>