<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarea2</title>
	<link rel="stylesheet" type="text/css" href="../../css/susana2.css">
</head>
<body>
	<header>
		<article>
			<div class="child1">
				<div class="a"></div>
				<div class="b">
					<div class="b1"></div>
					<div class="b2"></div>
					<div class="b3"></div>
					<div class="b4"></div>
				</div>
			</div>
		</article>
		<article>
			<div class="child2">
				<div class="c">
					<div class="c1"></div>
				</div>	
				<div class="d">
					<div class="d1"></div>
					<div class="d2"></div>
					<div class="d3"></div>
					<div class="d4"></div>
					<div class="d5"></div>
				</div>
			</div>
		</article>
	</header>
	<section>
		<article>
			<div class="child3">
				<div class="e">
					<div class="e1">
						<div class="e101"></div>
						<div class="e102"></div>
						<div class="e103">
							<div class="e103a"></div>
						</div>
					</div>
				</div>
				<div class="f"></div>
			</div>
		</article>
		<article>
			<div class="child4">
				<div class="g">
					<div class="g1"></div>
					<div class="g2"></div>
					<div class="g3">
						<div class="g3a"></div>
					</div>
				</div>
				<div class="h"></div>
			</div>
		</article>
		<article>
			<div class="child5">
				<div class="i">
					<div class="i1">
						<div class="i1a">
							<div class="i1a01"></div>
						</div>
						<div class="i1b"></div>
						<div class="i1c">
							<div class="i1c01"></div>
						</div>
					</div>
					<div class="i2">
						<div class="i2a">
							<div class="i2a01"></div>
						</div>
						<div class="i2b"></div>
						<div class="i2c">
							<div class="i2c01"></div>
						</div>
					</div>
					<div class="i3">
						<div class="i3a">
							<div class="i3a01"></div>
						</div>
						<div class="i3b"></div>
						<div class="i3c">
							<div class="i3c01"></div>
						</div>
					</div>
				</div>
				<div class="j">
					<div class="j1">
						<div class="j1a">
							<div class="j1a01"></div>
						</div>
						<div class="j1b"></div>
						<div class="j1c">
							<div class="j1c01"></div>
						</div>
					</div>
					<div class="j2">
						<div class="j2a">
							<div class="j2a01"></div>
						</div>
						<div class="j2b"></div>
						<div class="j2c">
							<div class="j2c01"></div>
						</div>
					</div>
					<div class="j3">
						<div class="j3a">
							<div class="j3a01"></div>
						</div>
						<div class="j3b"></div>
						<div class="j3c">
							<div class="j3c01"></div>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="child6">
				<div class="k"></div>
				<div class="l">
					<div class="l1">
						<div class="l1a">
							<div class="l1a01"></div>
						</div>
						<div class="l1b"></div>
					</div>
					<div class="l2">
						<div class="l2a"></div>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="child7">
				<div class="m">
					<div class="m1"></div>
					<div class="m2"></div>
					<div class="m3"></div>
					<div class="m4"></div>
					<div class="m5"></div>
					<div class="m6"></div>
					<div class="m7"></div>
				</div>
				<div class="n">
					<div class="n1"></div>
					<div class="n2">
						<div class="n2a"></div>
					</div>
				</div>
			</div>	
		</article>
	</section>
	<footer>
		<div class="o">
			<div class="o1">
				<div class="o1a"></div>
				<div class="o1b"></div>
			</div>
		</div>
		<div class="p">
			<div class="p1">
				<div class="p1a"></div>
				<div class="p1b"></div>
				<div class="p1c"></div>
				<div class="p1d"></div>
				<div class="p1e"></div>
			</div>
			<div class="p2">
				<div class="p2a"></div>
			</div>
		</div>
	</footer>
</body>
</html>