<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>laboratorio</title>
	<link rel="stylesheet" href="../../css/susana_lab.css">
</head>
<body>
	<header>
		<article>
			<div class="child1">
				<div class="a"></div>
				<div class="b">
					<div class="b1"></div>
					<div class="b2"></div>
					<div class="b3"></div>
					<div class="b4"></div>
					<div class="b5"></div>
				</div>
			</div>
		</article>
		<article>
			<div class="child2">
				<div class="c">
					<div class="c1"></div>
				</div>
				<div class="d">
					<div class="d1"></div>
					<div class="d2"></div>
					<div class="d3"></div>
					<div class="d4"></div>
					<div class="d5"></div>
					<div class="d6"></div>
					<div class="d7"></div>
				</div>
			</div>
		</article>
	</header>
	<section>
		<article>
			<div class="child3">
				<div class="e">
					<div class="e1">
						<div class="e1a"></div>
						<div class="e1b"></div>
						<div class="e1c">
							<div class="e1c01"></div>
						</div>
					</div>
				</div>
				<div class="f"></div>
			</div>
		</article>
		<article>
			<div class="child4">
				<div class="g"></div>
				<div class="h">
					<div class="h1"></div>
					<div class="h2"></div>
					<div class="h3">
						<div class="h3a"></div>
					</div>
				</div>
				<div class="i">
					<div class="i1"></div>
					<div class="i2"></div>
					<div class="i3">
						<div class="i3a"></div>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="child5">
			<div class="j"></div>
			<div class="k">
				<div class="k1"></div>
				<div class="k2"></div>
			</div>
			<div class="l">
				<div class="l1"></div>
				<div class="l2"></div>
			</div>
			<div class="m"></div>
			</div>
		</article>
		<article>
			<div class="child6">
				<div class="n">
					<div class="n1"></div>
					<div class="n2"></div>
				</div>
				<div class="ñ">
					<div class="ñ1"></div>
					<div class="ñ2"></div>
					<div class="ñ3"></div>
				</div>
			</div>
		</article>
		<article>
			<div class="child7">
				<div class="o">
					<div class="o1"></div>
					<div class="o2"></div>
					<div class="o3"></div>
					<div class="o4"></div>
					<div class="o5"></div>
					<div class="o6"></div>
					<div class="o7"></div>
					<div class="o8"></div>
					<div class="o9"></div>
					<div class="o10"></div>
				</div>
				<div class="p">
					<div class="p1"></div>
					<div class="p2"></div>
				</div>
				<div class="q">
					<div class="q1">
						<div class="q1a"></div>
					</div>
				</div>
			</div>
		</article>
	</section>
	<footer>
		<div class="r">
			<div class="r1"></div>
			<div class="r2"></div>
		</div>
		<div class="s">
			<div class="s1">
				<div class="s1a"></div>
				<div class="s1b"></div>
			</div>
			<div class="s2">
				<div class="s2a"></div>
				<div class="s2b"></div>
			</div>
		</div>
		<div class="t">
			<div class="t1"></div>
			<div class="t2"></div>
			<div class="t3"></div>
			<div class="t4"></div>
			<div class="t5"></div>
			<div class="t6"></div>
			<div class="t7"></div>
		</div>
	</footer>
</body>
</html>