<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 1</title>
	<link rel="stylesheet" href="../../css/susana.css">
</head>
<body>
	<header>
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	</header>	
	<section>
		<div class="barras">
			<div class="g"></div>
			<div class="h"></div>
		</div>
		<div class="area1">
			<div class="cuadrado1">
				<div class="i"></div>
				<div class="j"></div>
				<div class="k"></div>
				<div class="l">
					<div class="l1"></div>
				</div>
			</div>
			<div class="cuadrado2">
				<div class="m"></div>
				<div class="n"></div>
				<div class="ñ"></div>
				<div class="o">
					<div class="o1"></div>
				</div>
			</div>
			<div class="cuadrado3">
				<div class="p"></div>
				<div class="q"></div>
				<div class="r"></div>
				<div class="s">
					<div class="s1"></div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="area2">
			<div class="cuadradoizquierdo"></div>
			<div class="cuadradoderecho">
				<div class="cd1">
					<div class="cd101"></div>
					<div class="cd102"></div>
				</div>
				<div class="cd2"></div>	
				<div class="cd3">
					<div class="cd301"></div>
				</div>
			</div>	
		</div>
	</section>
	<section>
		<div class="area3">
			<div class="cuadradoa">
				<div class="cuadradoa1"></div>
				<div class="cuadradoa2"></div>
				<div class="cuadradoa3"></div>
				<div class="cuadradoa4"></div>
			</div>
			<div class="cuadradob">
				<div class="cuadradob1"></div>
				<div class="cuadradob2">
					<div class="cuadradob201"></div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="piedepagina">
			<div class="redes"></div>
			<div class="info">
				<div class="info1">
					<div class="info101"></div>
					<div class="info102"></div>
					<div class="info103"></div>
					<div class="info104"></div>
				</div>
				<div class="info2">
					<div class="info201"></div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>