<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Parcial</title>
	<link rel="stylesheet" type="text/css" href="../../css/susana_parcial.css">
</head>
<body>
	<header id="header">
		<div>
			<ul>
				<li><a href="#"><img src="../../img/icono_blue.png" width="33px" height="22px"></a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
		</div>
		<div>
			<button>Registro</button>
		</div>
	</header>
	<section>
		<article class="child1">
			<div class="fondo_banner">
				<div class="a1">
					<div class="img_1"></div>
				</div>
				<div class="a2">
					<h1>We are Genius!!</h1>
					<br>
					<p>It had been rumored for a while that the two artists had been working on a song for Bieber's new album Purpose, but when the tracklist of the album was revealed it was officially confirmed.
					<br>
					<br>
					The song tells the story of a relationship which is being destroyed by rumors and hate. As a famous singer.
					</p>
					<div>
						<button>Contact us</button>
						<button>Know more</button>
						<button>Send us</button>
						<button>Download</button>
					</div>
				</div>
			</div>
		</article>
	</section>
</body>
</html>