<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarea3</title>
	<link rel="stylesheet" href="../../css/susana_tarea3.css">
</head>
<body>
	<div id="contenedor">
		<header id="header">
			<div class="a">
				<div class="img_header"></div>
			</div>
			<div class="b">
				<div class="text_1">
					<h2>Coffee Great Plain "GOLD"</h2>
				</div>
				<div class="text_2">
					<h4>our tradition is the best</h4>
				</div>
			</div>		
		</header>
		<section>
			<article name="art1">
				<div class="intro">
					<h2>Know about our history</h2>
					<br>
					<p>On December 12, 2002, the first Juan Valdez® Café store opened its doors at the El Dorado international airport in Bogotá, with a dream story and great achievements for Colombian premium coffee.<br>
						<br>The first international store was opened in the city of Washington D.C.	<br>
						We are currently in New York and continue to strongly develop our presence in and around Miami.
					</p>
				</div>
			</article>
			<article name="art2">
				<div class="parrafo2">
					<div class="c">
						<div class="img_2"></div>
					</div>
					<div class="d">
						<div class="text_3">
							<h2>Discover Your Perfect Cup</h2>
						</div>
						<div class="text_4">
							<br>
							<p>We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.
							</p>
						</div>
						<div class="text_5">
							<h4>...this is a great cafe</h4>
						</div>
					</div>
				</div>
			</article>
			<article name="art3">
				<div class="parrafo3">
					<div class="franja"></div>
					<div class="e">
						<div class="text_6">
							<h2>First Shop Origins...</h2>
						</div>
						<div class="text_7">
							<br>
							<p>In 2013 we inaugurated the first Origins store and began the development of a new experience, the way for the creation of the perfect cup.	
							</p>
						</div>
					</div>
					<div class="f">
						<div class="text_8">
							<h2>Our design...</h2>
						</div>
						<div class="text_9">
							<br>
							<p>The design of the store and the variety of colognes of Colombian origin prepared with new methods paved.	
							</p>
						</div>
					</div>
				</div>
			</article>
			<article name="art4">
				<div class="img_3">
					<img src="../../img/article4.png" width="100%" height="314px">
				</div>
			</article>
			<article name="art5">
				<div class="text_10">
					<h2>We are Over 3'000.000 Of Friends on Facebook</h2>
					<br>
					<p>With the opening with Juan Valdez® coffee shops in different countries we have consolidated a digital community connected around the world that interacts daily with the brand and motivates us to continue improving.
					</p>
				</div>
			</article>
		</section>
		<footer id="footer">
			<div class="h">
				<h5>Copyright</h5>
			</div>
			<div class="i">
				<div class="img_4"></div>
			</div>
			<div class="btn">
				<button>Join now!!</button>
			</div>
		</footer>	
	</div>	
</body>
</html>

