<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarea3</title>
	<link rel="stylesheet" href="../../css/susana_tarea3.css">
</head>
<body>
	<div id="contenedor">
		<header id="header">
			<div class="a">
				<div class="img_header"></div>
			</div>
			<div class="b">
				<div class="text_1">
					<h2>Coffeee Great Plain "Gold"</h2>
				</div>
				<div class="text_2">
					<h4>our tradition is the best"</h4>
				</div>
			</div>		
		</header>
		<section>

		</section>
	</div>
</body>
</html>