@charset "utf-8";
.bg-dark {
	background-color: #f63700 !important;
}

.lead {
	font-size: 1.25rem;
	font-weight: 300;
	word-wrap: break-word;}

	body{
		background: url('../../img/gerardo_img/fondo1.png');
		color: #044854;
		opacity: 50%;
	}

	