<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
   
  <title>PARCIAL ANDREA</title>
 
  <link rel="stylesheet" type="text/css" href="../../css/andreaperla_parcial.css">

  </head>
  <body>
  
  <div class="contenedor">
    <header>
      <div id="menu">
        
        <ul>
          <div class="clasemenu">
        </div>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Our Services</a></li>
          <li><a href="#">Our History</a></li>       
          <li><a href="#">Examples</a></li>
          <li><a href="#">Lets Play</a></li>
          <li><a href="#">Photos</a></li>
          <li><a href="#">Administration</a></li>
          <li><a href="#">Delivery</a></li>
          <li><a href="#">Contact us</a></li>
  
          <input class="elboton" type="button" value="Registro">
          
        </ul>
      </div>
      <hr>
      <div class="banner">
        <div>
            <div class="img-banner"></div>
        </div>
        <div>
         <div>
            <h1>We are Genius!!</h1>
             <h1>This is heading 1</h1> 
            <br>
            <p>It had been rumored for a while that the two artists had been working on a song for Bieber´s new album Purpose, but the tracklist of the album was revelated it was officially confirmed..</p>
            <br>
            <p>The song tells the story of a relationship, which is being destroyed by rumors and hate. As a famous singer.</p>
            <br>
            <div>
            <input type="button" value="Contact us">
            <input type="button" value="know more">
            <input type="button" value="send us">
            <input type="button" value="Download">
            </div>
          </div>
        </div>
      </div>
    </header>
    <section name="body">
      <article>
          <div class="body-1">
            
            <div class="ico1"></div>
           
            <h2>IFront End</h2>
            <hr>
          
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
       <article>
          <div class="body-1">
            <div class="ico2"></div>
            <h2> Web Services</h2>
            <hr>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
        <article>
          <div class="body-1">
            <div class="ico3"></div>
            <h2>Data Guard</h2>
            <hr>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
    </section>
    <section>
      <article class="articulodiferente">
          <div class="body-2">
            <div class="ico1"></div>
            <h2>IFront End</h2>
            <hr>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
      <article class="articulodiferente">
          <div class="body-2">
            <div class="ico2"></div>
            <h2>Web Services</h2>
            <hr>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
    </section>
    <section>
      <article class="articulodiferente">
          <div class="body-2">
            <div class="ico3"></div>
            <h2>DataGuard</h2>
            <hr>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
      <article class="articulodiferente">
          <div class="body-2">
            <div class="ico4"></div>
            <h2>Tecno-In</h2>
            <hr>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <br>
            <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
          </div>
      </article>
    </section>

    <footer>PM 14044 - Andrea Perla</footer>
  </div>
 


  </body>
</html>