<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="all" href="../../css/andrea.css"> 
</head>

<body>
  <!-- en esta sección están las 6 cajas del encabezado -->
  <header> 
    <div id="contenedor">
     <div class="caja-1"></div>
     <div class="caja-2"></div>
     <div class="caja-3"></div>
     <div class="caja-4"></div>
     <div class="caja-5"></div>
     <div class="caja-6"></div>
   </div>		 
 </header>
 <div class="banner"></div>   <!-- esta es la caja rosada estilo baner -->
 <!-- estos son los tres articulos del centro de la página -->
 <section>
  <article>
    <div class="body-cont1">
     <div class="body-cont2">
       <div class="body-cont3">
         <div class="body-cont4">
           <div class="body-cont5">                      
           </div> 
         </article>
         <article>
          <div class="body-cont1">
            <div class="body-cont2">
              <div class="body-cont3">           
                <div class="body-cont4">
                  <div class="body-cont5">
                  </div> 
                </article>
                <article>
                  <div class="body-cont1">
                    <div class="body-cont2">
                      <div class="body-cont3">
                        <div class="body-cont4">
                          <div class="body-cont5">      
                          </div>         
                        </article>
                      </section>
                      <!-- esta es la sección 2 del documento -->
                      <section>
                        <div>
                          <div class="section-1">
                            <div class="section-2">
                              <div class="box-1"></div>
                              <div class="box-2"></div>
                              <div class="box-3"></div>
                              <div class="box-4"></div>
                              <div class="box-5"></div>
                              <div class="box-6"></div>
                            </div>
                          </div>
                        </div>    
                      </section>
                      <section>
                        <div>
                          <div class="section-3">
                            <div class="box-7"></div>
                            <div class="box-8"></div>
                            <div class="box-9"></div>
                            <div class="box-10"></div>
                            <div class="box-11"></div>
                            <div class="box-12"></div>
                          </div>
                          <div class="section-4">
                            <div class="box-13"></div>
                            <div class="box-14"></div>
                            <div class="box-15"></div>
                            <div class="box-16"></div>
                          </div>
                        </div>
                        <footer>
                          <section>
                            <div>
                              <div class="section-5">
                              </div>
                              <div class="section-6">
                                <div class="box-17"></div>
                                <div class="box-18"></div>
                                <div class="box-18"></div>
                                <div class="box-18"></div>
                              </div>
                              <div class="section-7"></div>
                            </div>
                          </section>
                        </footer>


                      </body>
                      </html>