<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/andrea.css"> 
</head>

<body>
  <header> 
    <div id="contenedor">
      <div class="caja-1"></div>
      <div class="caja-2"></div>
      <div class="caja-3"></div>
      <div class="caja-4"></div>
      <div class="caja-5"></div>
      <div class="caja-6"></div>
   </div>		 
 </header>


 <section>
   <article>
     <div class="banner"></div>
       <div class="espacio"></div>
   </article>
 </section>

   <section>
    <article>
      <div class="seccion2">
       <div class="a">
         <div class="a1"></div>
         <div class="a2"></div>
         <div class="a3"></div>
         <div class="a4">
           <div class="a41"></div>
         </div>
       </div> 

       <div class="b">
         <div class="b1"></div>
         <div class="b2"></div>
         <div class="b3"></div>
         <div class="b4">
           <div class="b41"></div>
         </div>
       </div> 

       <div class="c">
         <div class="b1"></div>
         <div class="b2"></div>
         <div class="b3"></div>
         <div class="b4">
           <div class="b41"></div>
       </div>

       </div>
     
    </article>    
   </section>
   <section>
     <article>
       <div class="seccion3">
         <div class="d"></div>
         <div class="e">
           <div class="e1"></div>
           <div class="e2"></div>
           <div class="e3"></div>
           <div class="e4">
             <div class="e41"></div>
           </div>
         </div>
       </div>
     </article>
   </section>

   <section>
     <article>
       <div class="seccion4">
        <div class="subseccion1">
        <div class="f"></div>
        <div class="g">
          <div class="g1"></div>
          <div class="g2"></div>
          <div class="g3"></div>
        </div>
        <div class="h">
          <div class="h1"></div>
          <div class="h2"></div>
          <div class="h3"></div>
        </div>
        <div class="f2"></div>
        </div>
         <div class="subseccion2">
           <div class="i"></div>
           <div class="j">
             <div class="j1"></div>
           </div>
         </div>
       </div>
     </article>
   </section>

   <footer id="footer">
     <div class="y"></div>
     <div class="z">
       <div class="za">
         <div class="zaa"></div>
         <div class="zab"></div>
         <div class="zac"></div>
         <div class="zad"></div>

       </div>
     </div>
   </footer>
 


</body>
</html>