<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tarea 3</title>
	<link rel="stylesheet" href="../../css/andrea_tarea3.css">
</head>
<body>
	<div id="contenedor">
		<header id="banner">
			<div class="b1">
				<div class="imagen1"></div>
			</div>
			<div class="b2">
				<div class="titulo1">
					<h1>Coffee Great Plain "GOLD"</h1>
				</div>
				<div class="texto1">
					<h3>our tradition is the best</h3>
				</div>
			</div>
		</header>
		<section>
			<article name="bloque1">
				<div class="bloque1">
					<h2>Know about our history</h2>
					<br/>
					<p>
					On December 12, 2002, the first Juan Valdez® Café store opened its doors at the El Dorado international airport in Bogotá. With a dream story and great achievements for Colombian premium coffee.
					</p>
					<br/>
					<p>
					the first international store wasw opened in the city of Washington D.C. We are currently in New York and continue to strongly develop oru presence in and around Miami.
					</p>
				</div>
				<div class="bloque2">
					<div class="recuadro">
						<div class="imagen2"></div>
					</div>
					<div class="recuadro1">
						<h2>Discover Your Perfect Cup</h2>
						<br/>
						<p>We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.
						</p>
						<br/>
						<h3>..this is a great cafe</h3>
					</div>
				</div>
				<div class="bloque3">
					<div class="separador"></div>
					<div class="bloquea">
						<div class="texto2">
							<h2>First Shop Origins...</h2>
							<br/>
							<p>
					In 2013 we inaugurated the first Origins store and began the development of a new experience the way for the creation of the perfect cup.
						</p>
						</div>
						<div class="texto3">
							<h2>Our Design...</h2>
							<br/>
							<p>
					The design of the store and the variety of colognes of Colombian origin prepared with new mothods paved.
						</p>
						</div>
					</div>
				</div>
				<div class="bloque4">
					<div class="imagen3"></div>				
				</div>
				<div class="bloque5">
					<h2>We Are Over 3´000.000 Of Friends On Facebook</h2>
					<br/>
					<p>
					With the opening of Juan Valdez coffee shops in different countries we have consolidated a digital community connected around the world that interacts daily with the brand and motivates us to continue improving.
					</p>				
				</div>
			</article>
		</section>
		<footer>
			<article class="futer">
				<div class="footer-text">
                  <p>Copyright</p>
                   <br/>
          </div>
                <div class="footer-juanvaldez">
                	<img src="../../img/logo-footer.png">
                </div>

             <div>
                    <div class="button">
					<h3>Join now!!</h3>
				</div>

				</div>
			
			</article>
		</footer>
	</div>
</body>
</html>
