<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>laboratorio</title>
	<link rel="stylesheet" href="../../css/andrea_lab.css" >
</head>

<body>
	<heade id="menu">
		<div class=""datos">
			<div class="tel"></div>
			<div class="celarea"></div>
			<div class="parners"></div>
			<div class="info"></div>
			<div class="singin"></div>
		
		</div>
		<div class="inicio">
			<div class="logotipo"></div>
			<div class="home"></div>
			<div class="knowus"></div>
			<div class="brans"></div>
			<div class="corporate"></div>
			<div class="blog"></div>
			<div class="commiunity"></div>
			<div class="contact"></div>
			</div>
	</header>
	<section class="seccion1">
		<article class="paralax1">
			<div class="caja1">
				<div class="cajainfo"></div>
				<div class="cajatitulo"></div>
			</div>	
		</article>
		<article class="paralax2">
			
		</article>
	</section>
	
</body>
</html>