<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio2</title>
	<link rel="stylesheet" href="../../css/fer2.css">
</head>
<body>
	<header class="child1">
		<div class="a"></div>
		<div class="b">
			<div class="b_1"></div>
			<div class="b_2"></div>
			<div class="b_3"></div>
			<div class="b_4"></div>
		</div>
		<div class="c">
			<div class="c_1"></div>
			<div class="c_2"></div>
		</div>
		<div class="d">
			<div class="d_1"></div><div class="d_2"></div><div class="d_3"></div><div class="d_4"></div><div class="d_5"></div>
		</div>
		<div class="e"></div>
		<div class="f"></div>
		
	</header>
	
	<section>
	<article class="foto">
		<div class="g">
			<div class="g_1"></div>
			<div class="g_2"></div>
			<div class="g_3">
				<div class="g_3_1"></div>
			</div>
		</div>

	</article>	
	</section>

	<section>
		<article class="foto_descripcion">
			<div class="des_a">
				<div class="des_a_1">
					<div class="des_a_1_1"></div>
					<div class="des_a_1_2"></div>
					<div class="des_a_1_3">
						<div class="des_a_1_3_1"></div>
					</div>
				</div>
			</div>
			<div class="sec_2"></div>
		</article>
	</section>

	<section>
		<article class="columnas">
			<div class="col_a">
				<div class="col_a_1">
					<div class="col_a_1_1">
						<div class="col_a_1_1_1">
							<div class="col_a_1_1_1_1"></div>
						</div>
						<div class="col_a_1_1_2"></div>
						<div class="col_a_1_1_3">
							<div class="col_a_1_1_3_1"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col_b">
				<div class="col_b_1">
					<div class="col_b_1_1">
						<div class="col_b_1_1_1">
							<div class="col_b_1_1_1_1"></div>
						</div>
						<div class="col_b_1_1_2"></div>
						<div class="col_b_1_1_3">
							<div class="col_b_1_1_3_1"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col_c">
				<div class="col_c_1">
					<div class="col_c_1_1">
						<div class="col_c_1_1_1">
							<div class="col_c_1_1_1_1"></div>
						</div>
						<div class="col_c_1_1_2"></div>
						<div class="col_c_1_1_3">
							<div class="col_c_1_1_3_1"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col_d">
				<div class="col_d_1">
					<div class="col_d_1_1">
						<div class="col_d_1_1_1">
							<div class="col_d_1_1_1_1"></div>
						</div>
						<div class="col_d_1_1_2"></div>
						<div class="col_d_1_1_3">
							<div class="col_d_1_1_3_1"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col_e">
				<div class="col_e_1">
					<div class="col_e_1_1">
						<div class="col_e_1_1_1">
							<div class="col_e_1_1_1_1"></div>
						</div>
						<div class="col_e_1_1_2"></div>
						<div class="col_e_1_1_3">
							<div class="col_e_1_1_3_1"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col_f">
				<div class="col_f_1">
					<div class="col_f_1_1">
						<div class="col_f_1_1_1">
							<div class="col_f_1_1_1_1"></div>
						</div>
						<div class="col_f_1_1_2"></div>
						<div class="col_f_1_1_3">
							<div class="col_f_1_1_3_1"></div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>

	<section>
		<article class="section4">
			<div class="sec_3"></div>
			<div class="sec_4">
				<div class="sec_4_1">
					<div class="sec_4_1_1">
						<div class="sec_4_1_1_1"></div>
						<div class="sec_4_1_1_2"></div>
					</div>
				</div>
				<div class="sec_4_2">
					<div class="sec_4_2_1">
						<div class="sec_4_2_1_1"></div>
						<div class="sec_4_2_1_2"></div>
					</div>
				</div>
			</div>
		</article>
	</section>

		<section>
		<article class="contactos">
			<div class="contactos_1">
				<div class="titulo"></div>
			</div>
			<div class="cont_1">
				<div class="cont_1_a">
					<div class="name"></div>
				</div>
				<div class="cont_1_b">
					<div class="texto_1"></div>
				</div>
				<div class="cont_1_c">
					<div class="email"></div>
				</div>
				<div class="cont_1_d">
					<div class="texto_2"></div>
				</div>
				<div class="cont_1_e">
					<div class="message"></div>
				</div>
				<div class="cont_1_f">
					<div class="texto_3"></div>
				</div>
			</div>
			<div class="cont_2">
				<div class="cont_1_g">
					<div class="phone"></div>
				</div>
				<div class="cont_1_h">
					<div class="texto_4"></div>
				</div>
				<div class="send">
					<div class="botton"></div>
				</div>
			</div>
		</article>
	</section>	
</body>

<footer>
		<article class="footer">
			<div class="foot_1">
				<div class="foot_1_1"></div>
				<div class="foot_1_2">
					<div class="logo"></div>
					<div class="redes">
						<div class="red_1"></div>
						<div class="red_2"></div>
						<div class="red_3"></div>
					</div>
				</div>
				<div class="foo_1_3"></div>
			</div>
			<div class="foo_2">
				<div class="footer_menu">
					<div class="ftm_a"></div>
					<div class="ftm_b"></div>
					<div class="ftm_c"></div>
					<div class="ftm_d"></div>
					<div class="ftm_e"></div>
				</div>
			</div>
			<div class="final">
				<div class="fin_1"></div>
				<div class="fin_2"></div>
				<div class="fin_3"></div>
			</div>
		</article>
	</footer>
</html>