<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 1</title>
	<link rel="stylesheet" href="../../css/fer.css">
</head>
<body>
	<header>
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	</header>
	<section>
		<article class="foto">
			<div class="g"></div>
			<div class="h"></div>
		</article>

		<article class="columna">
			<div class="c1">
				<div class="c1_1"></div>
				<div class="c1_2"></div>
				<div class="c1_3"></div>
				<div class="c1_4">
					<div class="c1_4_1"></div>
					<div class="c1_4_2"></div>
					<div class="c1_4_3"></div>
				</div>
			</div>

			<div class="c2">
				<div class="c2_1"></div>
				<div class="c2_2"></div>
				<div class="c2_3"></div>
				<div class="c2_4">
					<div class="c2_4_1"></div>
					<div class="c2_4_2"></div>
					<div class="c2_4_3"></div>
				</div>
			</div>
			<div class="c3">
				<div class="c3_1"></div>
				<div class="c3_2"></div>
				<div class="c3_3"></div>
				<div class="c3_4">
					<div class="c3_4_1"></div>
					<div class="c3_4_2"></div>
					<div class="c3_4_3"></div>
				</div>
			</div>
		</article>
		<article class="foto_descripcion">
			<div class="p1"></div>
			<div class="p2">
				<div class="p2_a"></div>
				<div class="p2_b">
					<div class="p2_b_1"></div>
					<div class="p2_b_2"></div>
				</div>
				<div class="p2_c"></div>
				<div class="p2_d">
					<div class="p2_d_1"></div>
					<div class="p2_d_2"></div>
					<div class="p2_d_3"></div>
				</div>
				<div class="p2_e"></div>

			</div>
		</article>
	</section>
		<section>
			<article class="tablas">
				<div class="tabla_1">
					<div class="tabla_1_1"></div>
					<div class="tabla_1_2">
						<div class="tabla_1_2_a"></div>
						<div class="tabla_1_2_b"></div>
					</div>
					<div class="tabla_1_3">
						<div class="tabla_1_3_a"></div>
						<div class="tabla_1_3_b"></div>
					</div>
				</div>
				<div class="tabla_2"></div>
			</article>
		</section>
	<footer></footer>
</body>
</html>