<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="all" href="../../css/fer_parcial.css">
</head>

<body>
	
	<header>
		<div id="menu">
			<div>
				<img src="../../img/icono_blue.png">
			</div>
			<ul>
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Our Services</a>
				</li>
				<li>
					<a href="#">Our History</a>
				</li>
				<li>
					<a href="#">Examples</a>
				</li>
				<li>
					<a href="#">Lets play</a>
				</li>
				<li>
					<a href="#">Photos</a>
				</li>
				<li>
					<a href="#">Photos</a>
				</li>
				<li>
					<a href="#">administration</a>
				</li>
				<li>
					<a href="#">Delivery</a>
				</li>
				<li>
					<a href="#">Contact us</a>
				</li>
			</ul>
 <button>
 	<input type="button" value="Registro">
 </button>
		</div>
		<div class="banner">
			<div>
				<div class="banner1">
					<h1>We are genius</h1>
					<br>
					<p>It had been rumored for a while that the two artist had been working on a song for Bieber's new album Purpose, but when the tracklist of the album was revealed it was officially confirmed</p>
					<p> The song tells the story of a relationship, which is being destroyed by rumors and hate. As a famous singer.</p>
				</div>
				<div class="banner2">
					<input type="button" value="Contact us">
					<input type="button" value="Contact us">
					<input type="button" value="Know more">
					<input type="button" value="Contact us">
					
				</div>
			</div>
			<div class="bannerimg">
			</div>
		</div>
	</header>

		
	</body>

	<section name="body1">
		<article>
			<div>
				<div>
					<div class="img1">
					</div>
					<div>
						<h3>Ifront End</h3>
						<hr>

					</div>

				</div>
				<div>
					<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>
					<br>
					<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>  
				</div>
			</div>
		</article>
		<article>
			<div>
				<div>
					<div class="img2">
					</div>
					<div>
						<h3>Web Services</h3>
						<hr>

					</div>

				</div>
				<div>
					<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>
					<br>
					<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p> 
				</div>
			</div>
		</article>
		<article>
			<div>
				<div>
					<div class="img3">
					</div>
					<div>
						<h3>DataGuard</h3>
						<hr>

					</div>

				</div>
				<div>
					<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p> 
					<br>
					<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>
				</div>
			</div>
		</article>
		
	</section>

	
	<section class="body2">
		<article class="medida1">
			<div>
				<div>
					<div class="img5">
					</div>
					<div>
						<h3>Ifront End</h3>
						<hr>

					</div>

				</div>
				<div>
					<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>
					<br>
					<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p> 
				</div>
			</div>
		</article>
		<article class="medida2">
			<div>
				<div>
					<div class="img6">
					</div>
					<div>
						<h3>Web Services</h3>
						<hr>

					</div>

				</div>
				<div>
					<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>
					<br>
					<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p> 
				</div>
			</div>
		</article>

		<section class="body3">
		<article class="medida3">
			<div>
				<div>
					<div class="img7">
					</div>
					<div>
						<h3>DataGuard</h3>
						<hr>

					</div>

				</div>
				<div>
					<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>
					<br>
					<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p> 
				</div>
			</div>
		</article>
		<article>
			<div>
				<div>
					<div class="img8">
					</div>
					<div>
						<h3>Tecno-In</h3>
						<hr>

					</div>

				</div>
				<div>
					<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p> 
					<br>
					<br>
					<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>
				</div>
			</div>
		</article>
			</section>

	<footer>
		<p>BA08024<P>
			<p>Wilber Fernando Barahona Arevalo</p>
		</footer>
	</body>