<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" media="all" href="../../css/fer_tarea4.css">
</head>
<body>
	
		<header>
			<div id="menu">
				<div>
					<img src="../../img/icono_logo.png">
				</div>
				<ul>
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Our Services</a>
				</li>
				<li>
					<a href="#">Our History</a>
				</li>
				<li>
					<a href="#">Examples</a>
				</li>
				<li>
					<a href="#">Documentation</a>
				</li>
				<li>
					<a href="#">Lets Play</a>
				</li>
				<li>
					<a href="#">Photos</a>
				</li>
				<li>
					<a href="#">Contact us</a>
				</li>
				</ul>
			</div>

			<div class="banner">
				<div>
					<div class="banner1">
					<h1>Discover Our Brand</h1>
					<br>
					<p>Today, new technologies applied to knowledge, culture and solidarity, give us more opportunities than ever to work successfully in the transformation of society.</p>
					<p> Fundaci&oacute;n Telef&oacute;nica has been using that fight for social development and the creation of opportunities in Europe and Latin America.</p>
					</div>
					<div class="banner2">
					<input type="button" value="Download">
					<input type="button" value="Contact us">
					<input type="button" value="Know more">
					</div>
			    </div>
					<div class="bannerimg">
				</div>
            </div>
		</header>
		<section name="body1">
			<article>
				<div>
					<div>
						<div class="img1">
						</div>
						<div>
							<h3>Ifront End</h3>
							<hr>

						</div>

					</div>
					<div>
						<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>
						<br>
						<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>  
					</div>
				</div>
			</article>
			<article>
				<div>
					<div>
						<div class="img2">
						</div>
						<div>
							<h3>Web Services</h3>
							<hr>

						</div>

					</div>
					<div>
						<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>
						<br>
						<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p> 
					</div>
				</div>
			</article>
			<article>
				<div>
					<div>
						<div class="img3">
						</div>
						<div>
							<h3>DataGuard</h3>
							<hr>

						</div>

					</div>
					<div>
						<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p> 
						<br>
						<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>
					</div>
				</div>
			</article>
			<article>
				<div>
					<div>
						<div class="img4">
						</div>
						<div>
							<h3>Tecno-In</h3>
							<hr>

						</div>

					</div>
					<div>
						<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>
						<br>
						<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p> 
					</div>
				</div>
			</article>
		</section>
		<section name="body2">
			<article>
				<div>
					<div>
						<div class="img5">
						</div>
						<div>
							<h3>Ifront End</h3>
							<hr>

						</div>

					</div>
					<div>
						<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>
						<br>
						<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p> 
					</div>
				</div>
			</article>
			<article>
				<div>
					<div>
						<div class="img6">
						</div>
						<div>
							<h3>Web Services</h3>
							<hr>

						</div>

					</div>
					<div>
						<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>
						<br>
						<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p> 
					</div>
				</div>
			</article>
			<article>
				<div>
					<div>
						<div class="img7">
						</div>
						<div>
							<h3>DataGuard</h3>
							<hr>

						</div>

					</div>
					<div>
						<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>
						<br>
						<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p> 
					</div>
				</div>
			</article>
			<article>
				<div>
					<div>
						<div class="img8">
						</div>
						<div>
							<h3>Tecno-In</h3>
							<hr>

						</div>

					</div>
					<div>
						<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p> 
						<br>
						<br>
						<p>Include Bootstrap´s source Sass and JavaScript file via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do our build system and readme.</p>
					</div>
				</div>
			</article>
		</section>
		

	<footer>
		<p>BA08024<P>
		<p>Wilber Fernando Barahona Arevalo</p>
	    </footer>
</body>