<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Coffee</title>
	<link rel="stylesheet" href="../../css/fernando_tarea3.css">
	
	<header id="encabezado">
		<section id="primero">
			<article class="fotografia">
				<div class="im1"></div>
			</article>
			<article class="texto">
				<div class="texto2">
					<div>
					<h1>Coffee Great Plain "GOLD"</h1>
				</div>
				<div>
					<p>Our tradition is the best</p>
				</div>
			</article>
		</section>
		<section id="segundo">
			<article class="texto3">
				<div>
					<p>Know about our history</p>
				</div>
				<div>
					<p>On December 12 , 2002, the first Juan Valdéz Café store opened its doors at the Dorado internacional airport in Bogotá, with a dream story and great achivements for Colombian premium coffee
					</p>
				</div>
				<div>
					<p>The first international store was opened in the city of Washington D.C. We are currently in New York and continue to strongly develop our presence in and around Miami.
					</p>
				</div>
				
			</article>
		</section>
		<article class="banner">
			<div class="child1">
				<div class="im2"></div>
			</div>
			<div class="child2">
				<div>
					<h1>Discovered your perfect cup</h1>
				</div>
				<div>
					<p>We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks
					</p>
				</div>
				<div>
					<p>Prueba
					</p>
				</div>

				<div>
			
	
	
	</section>
	</header>
</head>

<body>
	
</body>
</html>