.bg-dark {
	background-color: #09a38c !important;
}

.altura{
	height: 100px;
}
.altura2{
	height: 70px;
}
.section-heading{
	font-weight: bolder;
	color: #bf0c2c;
	font-family: altair;
}
.lead{
	color: #02173e;

}