<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>diana parcial</title>
	<link rel="stylesheet" type="text/css" href="../../css/diana_parcial.css">
</head>
<body>
	<header>
		<div class="barra">
				<div class="img1"></div>
		</div>
		<div class="bar1">
				<ul id="menu">
					<li><a href="#">Home</a></li>
				    <li><a href="#">Our Services</a></li>
				    <li><a href="#">Our History</a></li>
				    <li><a href="#">Examples</a></li>
				    <li><a href="#">Documentation</a></li>
				    <li><a href="#">Lets Play</a></li>
				    <li><a href="#">Photos</a></li>
				    <li><a href="#">Administration</a></li>
				    <li><a href="#">Delivery</a></li>
				    <li><a href="#">Contac us</a></li>
				</ul>    
        </div>
        <div class="boton">
        	<button>ingresar</button>
        </div>
        </div>
	</header>
	<section>
		<article name="ban">
			<div class="img2"> 
					<div class="caja1">
						<h1>We are are Genius!!</h1>
						<p>Today, new technologies applied to knowledge, culture and solidarity, give us more opportunities than ever to work successfully in the transformation of society. Fundacion Telefónica has been using them since 1998 to awaken these ideas through</p>
						<br>
						<p>projects that fight fot social development and the creation of opportunities in Europe and Latin America.</p>
						<br>
						<div>					
							<button>know more</button>
							<button>Contac us</button>
							<button>Dowland</button>
							<button>Send us</button>
						</div>
					</div>	
					<div class="caja2">
					<div class="img3"></div>
				</div>
				</div>
			</article>
			<article>
				<div id="caja3">
					<div name="1">
						<div class="cl3">
							<div class="img4"></div>
						</div>
						<div class="cl4">
							<h3>IFront End</h3>
							<hr>
							<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include  and readme.</p>
							<p>Lorem Ipsum has been the industry's standard dummy text ever since </p>
						</div>
					</div>
					<div name="2">
						<div class="cl3">
							<div class="img5"></div>
						</div>
						<div class="cl4">
							<h3>Web Services</h3>
							<hr>
							<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include  and readme.</p>
							<p>Lorem Ipsum has been the industry's standard dummy text ever since </p>
						</div>
					</div>
					<div name="3">
						<div class="cl3">
							<div class="img6"></div>
						</div>
						<div class="cl4">
							<h3>Dataguard</h3>
							<hr>
							<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include  and readme.</p>
							<p>Lorem Ipsum has been the industry's standard dummy text ever since </p>
						</div>
					</div>
				</div>
			</article>
