<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>diana tarea4</title>
	<link rel="stylesheet" href="../../css/diana_tarea4.css">
</head>
<body>
	<header>
		<div class="icono">
			<div class="img1"></div>
		</div>
		<div class="barra">
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
		</div>
	</header>
	<section>
		<article>
			<div id="banner">
				<div class="bar1">
					<div class="img2"></div>
				</div>
			</div>
		</article>   
	</section>
</body>
</html>