<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>diana tarea4</title>
	<link rel="stylesheet" href="../../css/diana_tarea4.css">
</head>
<body>
	<header>
		<div class="icono">
			<div class="img1"></div>
		</div>
		<div class="barra">
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
		</div>
	</header>
	<section>
		<article>
			<div id="banner">
				<div class="bar1">
					<div class="img2">
						<div class="barr1">
							<div class="img3"></div>
						</div>
						<div class="barr2">
							<h1>Discover Our Brand</h1>
							<br>
							<p>Today, new technologies applied to knowledge, culture and solidarity, give us more opportunities than ever to work successfully in the transformation of society. Fundación Telefónica has been using them since 1998 to awaken these ideas through projects that fight for social development and the creation of opportunities in Europe and Latin America.</p>
							<br>
							<div>
								<button>Know more</button>
								<button>Contact us</button>
								<button>Dowland</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article> 
		<article id="cuatro">
			<div class="barr3">
				<div name="cuadro1">
					<div class="b1">
						<div class="b1a">
							<div class="img4"></div>
						</div>
						<div class="b1b">
						    <h2>IFrontEnd</h2>
						    <hr>
					    </div>
					</div>
					<div class="parrafo">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
			<div class="barr3">
				<div name="cuadro2">
					<div class="b1">
						<div class="b1a">
							<div class="img5"></div>
						</div>
						<div class="b1b">
						    <h2>Web Services</h2>
						    <hr>
					    </div>
					</div>
					<div class="parrafo">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
			<div class="barr3">
				<div name="cuadro3">
					<div class="b1">
						<div class="b1a">
							<div class="img6"></div>
						</div>
						<div class="b1b">
						    <h2>Web Services</h2>
						    <hr>
					    </div>
					</div>
					<div class="parrafo">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
			<div class="barr3">
				<div name="cuadro4">
					<div class="b1">
						<div class="b1a">
							<div class="img7"></div>
						</div>
						<div class="b1b">
						    <h2>Tecno-In</h2>
						    <hr>
					    </div>
					</div>
					<div class="parrafo">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
		</article> 
		<article id="ocho">
			<div class="barr3">
				<div name="cuadro1">
					<div class="b1">
						<div class="b1a">
							<div class="img4"></div>
						</div>
						<div class="b1b">
						    <h2>IFront End</h2>
						    <hr>
					    </div>
					</div>
					<div class="parrafo">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
			<div class="barr3">
				<div name="cuadro2">
					<div class="b1">
						<div class="b1a">
							<div class="img5"></div>
						</div>
						<div class="b1b">
						    <h2>Web Services</h2>
						    <hr>
					    </div>
					</div>
					<div class="parrafo">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
			<div class="barr3">
				<div name="cuadro3">
					<div class="b1">
						<div class="b1a">
							<div class="img6"></div>
						</div>
						<div class="b1b">
						    <h2>Web Services</h2>
						    <hr>
					    </div>
					</div>
					<div class="parrafo">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
			<div class="barr3">
				<div name="cuadro4">
					<div class="b1">
						<div class="b1a">
							<div class="img7"></div>
						</div>
						<div class="b1b">
						    <h2>Tecno-In</h2>
						    <hr>
					    </div>
					</div>
					<div class="parrafo">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
		</article> 
	</section>
</body>
</html>