<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>diana tarea4</title>
	<link rel="stylesheet" href="../../css/diana_tarea4.css">
</head>
<body>
	<header>
		<div class="icono">
			<div class="img1"></div>
		</div>
		<div>
			<div class="bar">
				<div id="menu">
					<li><a href="#">Home</a></li>
					<li><a href="#">Our Services</a></li>
					<li><a href="#">Our History</a></li>
					<li><a href="#">Examples</a></li>
					<li><a href="#">Documentation</a></li>
					<li><a href="#">Lets play</a></li>
					<li><a href="#">Photos</a></li>
					<li><a href="#">Contac us</a></li>
				</div>
			</div>
		</div>
		</ul>
		</div>
	</header>
	<section>
		<article id="b">
			<div class="b1">
				<div class="img2">
					<div class="ba1">
					    <div class="img3"></div>
					</div>
					<div class="ba2">
						<h1>Discover Our Brand</h1>
						<br>
						<p>Today, new technologies applied to knowledge, culture and solidarity, give us more opportunities than ever to work successfully in the transformation of society. Fundacion Telefónica has been using them since 1998 to awaken these ideas through projects that fight fot social development and the creation of opportunities in Europe and Latin America</p>
					</div>
				</div>
			</div>
		</article>
		<article id="c">
			<div id="c1art">
				<div name="1">
					<div class="ca1">
						<div class="img4"></div>
					</div>
					<div class="ca2">
						<h2>Front End</h2>
						<hr>
						<p>Include Bootstrap's source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don't include documentation, but do include our build system and readme. 
                        Include Bootstrap's source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
		</article>
	</section>
	<footer></footer>
	</header>
	<section>
		<article>
			<div id="banner">
				<div></div>
			</div>
		</article>
	</section>
</body>
</html>