<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>diana rivas </title>
	<link rel="stylesheet" href="../css/diana.css">
</head>
<body>
	<header id="menu">
	   <div class="child1">
	   	     <div class="a"></div>
	         <div class="b"></div>
	   </div>

	   <div class="child2">
	   	     <div class="c"></div>
	   	     <div class="d"></div>
	   	     <div class="e"></div>
	       	 <div class="f"></div>
	   </div>
	</header>
	<section id="cuerpo">
		<div class="hijounico"></div>

		<article id="productos">
			<div class="g"></div>
			<div class="h"></div>
			<div class="i"></div>
		</article>

		<article id="origen">
			<div class="j"></div>
		</article>
	</section>

	<footer></footer>
</body>

</html>

