<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ejercicio clase</title>
	<link rel="stylesheet" href="../../css/diana mailer.css">
</head>
<body>
	<div class="contenedor">
		<header name="encabezado">
			<div class="cl1">
				<div class="img1"></div>
			</div>
			<div class="cl2">
				<div>
					<h3>CREATING</h3>
				</div>
				<div>
					<h1>Responsive Email Magic</h1>
				</div>
			</div>		
		</header>
		 <section name="cuerpo">
		 	<article name="sec1">
		 		<div>
		 			<h2>WELCOM TO OUR RESPONSIVE EMAIL</h2>
		 			<br>
		 			<P>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, Lorem Ipsum</P>
		 		</div>
		 	</article>
		 	<article name="sec2">
		 		<div class="pl3">
		 			<div class="img2"></div>
		 		</div>
		 		<div class="pl4">
		 			<div>
		 				<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
		 			</div>
		 			<br>
		 			<div>
		 				<button>Claim yours!</button>
		 			</div>
		 		</div>
		 	</article>
		 	<article name="sec3"></article>
		 	<article name="sec4"></article>
		 </section>
    <footer name="pie"></footer>
    </div>		
</body>
</html>