<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercico 2DianaRR</title>
	<link rel="stylesheet" href="../../css/diana.css">
</head>
<body>
	<header id="dosmenu">
		<div class="hijo1">
			<div class="icono"></div>
			<div class="tel"></div>
			<div class="borde"></div>
			<div class="our"></div>
			<div class="border1"></div>
			<div class="sing"></div>
		</div>
		<div class="hijo2">
			<div class="logotipo"></div>
			<div class="home"></div>
			<div class="about"></div>
			<div class="products"></div>
			<div class="experience"></div>
			<div class="contact"></div>
		</div>
	</header>
	<section>
		<div class="bor1"></div>
		<div class="bor2"></div>
		<article id="banner1">
			<div class="text">
				<div class="titulo"></div>
				<div class="texto"></div>
				<div class="more"></div>
			</div>
		</article>
		<div class="bor3"></div>
		<article id="lorem">
			<div class="c1">
				<div class="t1"></div>
				<div class="texto1"></div>
				<div class="boton">
					<div class="boton1"></div>
				</div>
			</div>
			<div class="c2"></div>
		</article>
		<article id="imagenes">
			<div class="varias">
				<div class="imt"></div>
				<div class="imv"></div>
				<div class="imb">
					<div class="bm"></div>
				</div>
			</div>
			<div class="img2">
				<div class="imt"></div>
				<div class="imv"></div>
				<div class="imb">
					<div class="bm"></div>
				</div>
			</div>
			<div class="img3">
				<div class="imt"></div>
				<div class="imv"></div>
				<div class="imb">
					<div class="bm"></div>
				</div>
			</div>
			<div class="img4">
				<div class="imt"></div>
				<div class="imv"></div>
				<div class="imb">
					<div class="bm"></div>
				</div>
			</div>
			<div class="img5">
				<div class="imt"></div>
				<div class="imv"></div>
				<div class="imb">
					<div class="bm"></div>
				</div>
			</div>
			<div class="img6">
				<div class="imt"></div>
				<div class="imv"></div>
				<div class="imb">
					<div class="bm"></div>
				</div>
			</div>
		</article>
	</section>
</body>
</html>