<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Laboratorio</title>
	<link rel="stylesheet" href="../../css/diana_lab.css">
</head>
<body>
	<header id="menu">
			<div class="menu1">
				<div class="icono"></div>
				<div class="tel"></div>
				<div class="our"></div>
				<div class="info"></div>
				<div class="sing"></div>
			</div>
			<div class="menu2">
				<div class="logo"></div>
				<div class="home"></div>
				<div class="know"></div>
				<div class="brands"></div>
				<div class="corporate"></div>
				<div class="blog"></div>
				<div class="community"></div>
				<div class="contac"></div>
			</div>
	</header>
	<section id="banner1">
		<article >
			<div class="hijos">
				<hijos class="titulo"></hijos>
				<hijos class="parrafo"></hijos>
				<hijos class="boton">
					<div class="boton1"></div>
				</hijos>
			</div>
			<div class="hijounico"></div>
		</article>
		<article>
			<div class="hijo2"></div>
		</article>
		<article>
			<div class="hijo3">
				<div class=hijo3a></div>
				<div class="hijo3b">
					<div class="t1"></div>
					<div class="pt"></div>
					<div class="b"></div>
				</div>
				<div class="hijo3c">
					<div class="t2"></div>
					<div class="pt2"></div>
					<div class="b2"></div>
				</div>
			</div>
		</article>
		<article>
			<div class="img">
				<div class="img1"></div>
				<div class="img2">
					<div class="cuadro1"></div>
					<div class="cuadro2"></div>
				</div>
				<div class="borde"></div>
			</div>
		</article>
		<article id="conimg">
			<div class="1a"></div>
			<div class="2a"></div>
		</article>


</body>
</html>