<!DOCTYPE></!DOCTYPE>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Daryl_parcial</title>
	<link rel="stylesheet"  href="../../css/daryl_parcial.css">
</head>

<body>
	
<header id="cabecita">
<div>
<ul>
	<li><a href="#"><img src="../../img/icono_purple.png" width="33px" height"22px"></a>
	   </li>
	   <li><a href="#">Home</a></li>
	   <li><a href="#">Our Service</a></li>
	   <li><a href="#">Our History</a></li>
	   <li><a href="#">Examples</a></li>
	   <li><a href="#">Documentacion</a></li>
	   <li><a href="#">Lets Play</a></li>
	   <li><a href="#">Photos</a></li>
	   <li><a href="#">admistration</a></li>
	    <li><a href="#">delivery</a></li>
	    <li><a href="#">Contact us</a></li>
	    <li><button class="press1">Ingresar</button>
	    </li>
	   </ul>
	   </div>
	  
	  </header>
	  <section id="cuerpi">
	  	<article class="block1">
	  	<div class="text">
	  		<h2>We are genius!!</h2>
	  		<br>
	  		<p>it had rumored for a while that the two artist had been working on a song for biebe´r new album purpose, but when the tracklist of the album was revealed it was offially confirmed.
	  		<br>
	  		<br>
	  		The song tell the story of a relationship,which is being destroyed by rumors and hate.As famous singer.
	  		</p>
	  		<br>
	  		<button class="boto1">Know More</button>
	  		<button class="boto2">Contact Us</button>
	  		<button class="boto3">Download</button>
	  		<button class="boto4">Send Us</button>

	  	</div>	
	  	<div class="fondo">
	  	<div class="señora"></div>
	  	</div>

	  	</article>
	  </section>
	  <article class="sec2">
	  	<div class="hijo1sec2">
	  	<div class="sel1">
	  		<div class="sub1">
	  		<div class="ico1"></div>
	  	    </div>
	  	    <h3>IFront End</h3>
	  	   <div class="parra">
	  	   	<p>Include Boostrap source Sass And Javascript files via bower,Composer, Meteror, or npm.Package managed installs dont include documentation, but do include our build system and readme
	  	    <br>
	  	    <br>
	  	    include Boostrap source Sass And Javascript files via bower,Composer, Meteror, or npm.Package managed installs dont include documentation, but do include our build system and readme
	  	</p>
	  	   </div>
	  	</div> 


	  		<div class="sel2">
	  			<div class="sub2">
	  		<div class="ico2"></div>
	  	    </div>
	  	    <h3>Web service</h3>
	  	   <div class="parra">
	  	   	<p>Include Boostrap source Sass And Javascript files via bower,Composer, Meteror, or npm.Package managed installs dont include documentation, but do include our build system and readme
	  	    <br>
	  	    <br>
	  	    include Boostrap source Sass And Javascript files via bower,Composer, Meteror, or npm.Package managed installs dont include documentation, but do include our build system and readme
	  	</p>
	  	   </div>
	  	</div>

	  	<div class="sel3">
	  			<div class="sub3">
	  		<div class="ico3"></div>
	  	    </div>
	  	    <h3>Web service</h3>
	  	   <div class="parra">
	  	   	<p>Include Boostrap source Sass And Javascript files via bower,Composer, Meteror, or npm.Package managed installs dont include documentation, but do include our build system and readme
	  	    <br>
	  	    <br>
	  	    include Boostrap source Sass And Javascript files via bower,Composer, Meteror, or npm.Package managed installs dont include documentation, but do include our build system and readme
	  	</p>
	  	   </div>
	  	</div>
	  </div>
	  </article>
	 
	  <section id="plaza">
	  	<article class="rata"></article>
</section>	  	
	  
	 
	
</body>
</html>