<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tarea3daryl</title>
	<link rel="stylesheet"  href="../../css/daryl_tarea3.css">
</head>

<body>
<div class="caja1">
<header name="encabezado">
	<div class="box1">
		<div class="img01"></div>
	</div>
	<div class="box2">
		<div>
			<h3>Coffee Great Plain "GOLD"</h3>
			</div>
			<div>
				<h6>our tradition is the best</h6>
			</div>
		</div>
		</div>
	</header>
</header>
<section id="cuerpazo">
	<article class="seg1">
		<div>
		<h2>know About Our History</h2>
		<br>
		<p>On December 12,2012,the first Juan Valdez® café store opened its doors at the El Dorado international airport in Bogotá,with a dream story and great achievements for Colombian premium coffe.</p>
		<br>
		<p>The firts international store was opened in the city of washington D.C.
		We are currently in new Yoork and continue to strongly develop our presence in and around Miami.</p>
	</div>
	</article>
	<article class="seg2">
		<div class="imgspace">
			<div class="imgxx"></div>
		</div>
		<h2>discover Your Perfect Cup</h2>

		
	</article>
</section>	
</body>
</html>