<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>daryl</title>
	<link rel="stylesheet" href="../../css/
	daryl.css">
</head>
<body>
	<header id="menu">
		<div class="child1">
			<div class="a"></div>
		    <div class="b"></div>
		 </div>
	     <div class="child2">
	        <div class="c"></div>
	        <div class="d"></div>
	    </div>
    </header>
    <section>
	        <article class="sec2"></div>
    </article>
    </section>
     <section>
     <article class="sec3">
        	   <div class="sec31"></div>
        	   <div class="sec32">
        	   <div class="sech321"></div>
        	   <div class="sech322">
        	   <div class="secn321"></div>
        	   <div class="senn322"></div>
        	   <div class="senn323"></div>
        	  </div>
              </div>
              <div class="sec33">
               <div class="sech331"></div>
        	   <div class="sech332">
        	   <div class="secn331"></div>
        	   <div class="senn332"></div>
        	   <div class="senn333"></div>
        	</div>
            </div>
            <div class="sec34">
            <div class="sech341"></div>
        	   <div class="sech342">
        	   <div class="secn341"></div>
        	   <div class="senn342"></div>
        	   <div class="senn343"></div>
        	</div>
            </div>
            </article>
            </section>
    <section>
    	<article class="sec4">
    		<div class="sech41"></div>
    		<div class="sech42">
    		<div class="secn421"> </div>
    		<div class="secn422"></div>
    			<div class="secn423"></div>
    			<div class="secn424"></div>
    			<div class="secn425">
    				<div class="secn426"></div>
    				<div class="secn427"></div>
    			</div>
    			</div>
         </article>
     </section>
             <section>
             <article class="sec5"> 
             	<div class="sech51">
             		<div class="secn51"></div>
             		<div class="secn52">
             		<div class="secn53"></div>
             		<div class="secn54">
             	    <div class="secn55"></div>
             	    <div class="secn56">
             		<div class="secn57"></div>
             		</div>
             	    </div>
             	    </div>
             	    </div>
                     <div class="sech52">
                     	<div class="secn521"></div>
                     	<div class="secn523"></div>
                     	<div class="secn524"></div>
                     	<div class="secn525">
                     	<div class="secn526"></div>
                     </div>
                     </div>
                 </article>
            	</section>
        <footer>
        	<section>
             <article class="sec6">
             <div class="sech61"> 
             	<div class="sech612"></div>
             </div>
             <div class="sech62">
             <div class="secn61">
            <div class="minisec1"></div>
            <div class="minisec2"></div>
            <div class="minisec3"></div>
            <div class="minisec4"></div>
            </div>
            </div>
            </article>
            </section>
        </footer>	
</body>
</html>