<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>darylejer2</title>
   <link rel="stylesheet" href="../../css/daryl.css">
</head>
<body>
	<header>
		<div id="supermenu">
		<div class="hsm1"></div>
		<div class="hsm2"></div>
		<div class="hsm3"></div>
		<div class="hsm4"></div>
	    </div>
	    <div id="supermenu2">
	    	<div class="h1sm21">
	    	<div class="nsm21"></div>
	    	</div>
	    	<div class="h2sm2">
	    		<div class="n2sm2"></div>
	    	    <div class="n3sm2"></div>
	    	    <div class="n4sm2"></div>
	    	    <div class="n5sm2"></div>
	    	    <div class="n6sm2"></div>
	            </div>
	           </div>
	           </div>
            </header>
	        <section>
		<article class="supersegmento1">
			<div class="franja1"></div>
	         <div class="franja2"></div>
	         <div class="superh1"></div>
	         <div class="superh2">
	         	<div class="nie1delsuperh2">
	         		<div class="bis1superh2">
	         		<div class="bis2superh2"></div>
	         		<div class="bis3superh2"></div>
	         		<div class="bis4superh2">
	         		<div class="bis5superh2"></div>
	         		</div>
	         		</div>
	         	    </div>
	                </div>
	            <div class="niexdelsuperh2"></div>
	         	</article>
	           </section>
	<section>
	<article class="supersegmento2">
		<div class="superfran1"></div>
		<div class="hijo1delsuper2">
		<div class="nie1delsg2">
		<div class="bis1delsg2"></div>
		<div class="bis2delsg2"></div>
		<div class="bis3delsg2">
		<div class="bis4delsg2"></div>
		</div>
		</div>
		</div>
		   <div class="hijo2delsuper2"></div>
    </article>
	</section>
	<section>
		<article class="ultrasegmento">
			<div class="hijo1ultra">
				<div class="nie1ultra">
				<div class="bis1ultra">
				<div class="bis2ultra"></div>
				<div class="bis3ultra">
				<div class="bis4ultra"></div>
				</div>
				</div>
				</div>
			<div class="nie2ultra">
			<div class="bisbis1ultra">
			<div class="bisbis2ultra"></div>
			<div class="bisbis3ultra">
			<div class="bisbis4ultra"></div>
			</div>
			</div>
			</div>
			<div class="nie3ultra">
			<div class="bisbisbis1">
			<div class="bisbisbis2"></div>
			<div class="bisbisbis3">
			<div class="bisbisbis4"></div>
			</div>
			</div>
			</div>
		    </div>
		    </div>
			<div class="hijo2ultra">
				<div class="nie1ultra2">
				<div class="bis1ultra2">
				<div class="bis2ultra2"></div>
				<div class="bis3ultra2">
				<div class="bis4ultra2"></div>
				</div>
				</div>
				</div>
				<div class="nie4ultra">
			<div class="bisbis1ultra2">
			<div class="bisbis2ultra2"></div>
			<div class="bisbis3ultra2">
			<div class="bisbis4ultra2"></div>
			</div>
			</div>
			</div>
			<div class="nie5ultra">
			<div class="bisbisbis12">
			<div class="bisbisbis22"></div>
			<div class="bisbisbis32">
			<div class="bisbisbis42"></div>
			</div>
			</div>
			</div>
		    </div>
		    </div>
		 </div>
		</article>
	   </section>
	   <section>
	   	<article class="gigasegmento">
	   		<div class="gigahijo1"></div>
	   		<div class="gigahijo2">
	   		<div class="n1giga2">
	   		<div class="n2giga2">
	   		</div>
	   	    </div>
	   		<div class="n3giga2"></div>
	   		<div class="n4giga2">
	   		<div class="n5giga2">
	   		<div class="n6giga3"></div>
	   		</div>
	   		</div>

	   		
	   	</article>
	   </section>
</body>
</html>