<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>daryl_tarea4</title>
	<link rel="stylesheet"  href="../../css/daryl_tarea4.css">
</head>
<body>
	<header id="cabezaso">
		<div>
		<ul>
		<li><a href="#"><img src="../../img/icono_logo.png" width="33px" height="22px"></a>
		</li>

		<li><a href="#">Home</a></li>
		<li><a href="#">our service</a></li>
		<li><a href="#">Our history</a></li>
		<li><a href="#">Examples</a></li>
		<li><a href="#">Documentacion</a></li>
		<li><a href="#">lets play</a></li>
		<li><a href="#">Photos</a></li>
		<li><a href="#">Contact us</a></li>	
	    </ul>
		</div>
	</header>
	<section id="corpus">
		<article class="cartelazo">
		<div class="debajo">
		<div class="maitro"></div>
		</div>

			
		</article>
	    </section>

	
</body>
</html>