<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>daryl</title>
	<link rel="stylesheet" href="../../css/
	daryl.css">
</head>
<body>
	<header id="menu">
		<div class="child1">
			<div class="a"></div>
		    <div class="b"></div>
		 </div>
	     <div class="child2">
	        <div class="c"></div>
	        <div class="d"></div>
	        <div class="e"></div>
	        <div class="f"></div>
	      </div>
    </header>
    <section>
    <article>
	        <div class="sec2"></div>
    </article>

     <article>
        	<div class="sec3">
        		<div class="sec31">
        		<div class="sec32">
        		<div class="sec33">
        	   </div>
        </article>
    </section>
<
	<footer></footer>	
</body>
</html>