<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet"  href="../../css/Daryl_media.css">
</head>
<body>
	<header>
		<div>
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Our people</a></li>
				<li><a href="#">Service</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		</header>
		<section>
			<article name="banner">
				<div id="banner">
					<div class="cl1">
						<div class="img1"></div>
					</div>
					<div class="cl2">
						<div>
							<h1> Discovered Our Brand</h1>
							<br>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. 
							</p>
							<br>
						<div>
							<button>Dowload</button>
							<button>Contact Us</button>
						</div>
						</div>
				   </div>
			</article>
			<article>
				<div id="art2">
					<div name="1"></div>
					<div class="cl3">
					<div class="img2"></div>
			    </div>
			    <div class="cl4"></div>
			    <h2>front end</h2>
			    <hr>
			    <p>cus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pret</p>
			    </div>
			    </div>
			</article>
		</section>
</body>
</html>