<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tarea3daryl</title>
	<link rel="stylesheet"  href="../../css/daryl_tarea3.css">
</head>

<body>
<div class="caja1">
<header name="encabezado">
	<div class="box1">
		<div class="img01"></div>
	</div>
	<div class="box2">
		<div>
			<h3>Coffee Great Plain "GOLD"</h3>
			</div>
			<div>
				<h6>our tradition is the best</h6>
			</div>
		</div>
		</div>
	</header>
</header>
<section name="cuerpazo">
	<article name="seg1">
		<div>
		<h3>know about our history</h3>
		</div>
		<br>
		<p>fjdfohsfoidhofihdofiodhfiodofidoifdofodhfoidoifhdoifdoifoidfoidjfoijdiofdiofodijfoidjffiodjfoij.</p>
	</div>
	</article>
</section>	
</body>
</html>