<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>daryl_tarea4</title>
	<link rel="stylesheet"  href="../../css/daryl_tarea4.css">
</head>
<body>
	<header id="cabezaso">
		<div>
		<ul>
		<li><a href="#"><img src="../../img/icono_logo.png" width="33px" height="22px"></a>
		</li>

		<li><a href="#">Home</a></li>
		<li><a href="#">our service</a></li>
		<li><a href="#">Our history</a></li>
		<li><a href="#">Examples</a></li>
		<li><a href="#">Documentacion</a></li>
		<li><a href="#">lets play</a></li>
		<li><a href="#">Photos</a></li>
		<li><a href="#">Contact us</a></li>	
	    </ul>
		</div>
	</header>
	<section id="corpus">
		<article class="cartelazo">
		<div class="text">
			<h2>Discover Our Brand</h2>
			<br>
			<p>Today,new technologies applied to knowledge,culture and solidarity, give us more opportunities than ever to work succesfully in the transformation of society.Fundación Telefónica has been using them since 1998 to awaken these ideas through projects that fight for social development and the creation of opportunities in Europe and Latin America.</p>
			<br>
			<button class="pucho1">know more</button>
			<button class="pucho2">know more</button>
			<button class="pucho3">know more</button>
		
		
		</div>
		
		<div class="debajo">
		<div class="maitro"></div>
        </div>


    </article>
	    </section>

	
</body>
</html>