<!DOCTYPE></!DOCTYPE>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Daryl_parcial</title>
	<link rel="stylesheet"  href="../../css/daryl_parcial.css">
</head>

<body>
	
<header id="cabecita">
<div>
<ul>
	<li><a href="#"><img src="../../img/icono_purple.png" width="33px" height"22px"></a>
	   </li>
	   <li><a href="#">Home</a></li>
	   <li><a href="#">Our Service</a></li>
	   <li><a href="#">Our History</a></li>
	   <li><a href="#">Examples</a></li>
	   <li><a href="#">Documentacion</a></li>
	   <li><a href="#">Lets Play</a></li>
	   <li><a href="#">Photos</a></li>
	   <li><a href="#">admistration</a></li>
	    <li><a href="#">delivery</a></li>
	    <li><a href="#">Contact us</a></li>
	    <li><button class="press1">Ingresar</button>
	    </li>
	   </ul>
	   </div>
	  
	  </header>
	  <section id="cuerpi">
	  	<article class="block1">
	  	<div class="text">
	  		<h2>We are genius</h2>
	  		<br>
	  		<p>it had rumored for a while that the two artist had been working on a song for biebe´r new album purpose, but when the tracklist of the album was revealed it was offially confirmed.
	  		<br>
	  		The song tell the story of a relationship,which is being destroyed by rumors and hate.As famous singer.
	  		</p>
	  		<br>
	  		<button class="boto1">download</button>
	  		<button class="boto1">download</button>
	  		<button class="boto1">download</button>
	  		<button class="boto1">download</button>

	  	</div>	
	  	<div class="fondo">
	  	<div class="señora"></div>
	  	</div>

	  	</article>
	  </section>
	  <article>
	  	
	  </article>
	
</body>
</html>