<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>laboratotio.html</title>
	<link rel="stylesheet" href="../../css/daryllab.css">
</head>
<body>
	<header>
	<div id="supermenu1">
	<div class="hij1menu1"></div>
	<div class="hij2menu1"></div>
	<div class="hij3menu1"></div>
	<div class="hij4menu1"></div>
	<div class="hij5menu1"></div>
    </div>
    <div class="menu2">
    	<div class="hij1menu2">
    	<div class=hij2menu2></div>
        </div>
    	<div class="hij3menu2"></div>
    	<div class="hijo4menu2"></div>
    	<div class="hijo5menu2"></div>
    	<div class="hijo6menu2"></div>
    	<div class="hijo7menu2"></div>
    	<div class="hijo8menu2"></div>
    	<div class="hijo9menu2"></div>
    	</div>
    </header>
    <section>
    <article class="ultralphaseg">
    	<div class="h1ultra">
    	<div class="n1ultra">
    	<div class="n2ultra">
    	<div class="n3ultra"></div>
    	<div class="ultranie1">
    	<div class="ultranie2"></div>
    	 <div class="ultranie3"></div>
    	</div>
    	</div>
    	</div>
    	</div>
         <div class="h2ultra">
    	<div class="nie1h2ultra"></div>
        </div>
        </div>
    </article>
    </section>
<section>
	<article class="superomega">
		<div class="hi1superomega"></div>
		<div class="hi2superomega">
		<div class="ni1superomega"></div>
		<div class="ni2superomega"></div>
		<div class="ni3superomega">
		<div class="nie4superomega"></div>
	</div>
	</div>
	<div class="hi3superomega">
		<div class="ni13superomega"></div>
		<div class="ni23superomega"></div>
		<div class="ni33superomega">
		<div class="nie43superomega"></div>
	</div>
    </div>
</article>
</section>
<section>
<article class="gigalphaseg">
	<div class="hijo1gigalpha"></div>


</article>
</section>


	
</body>
</html>