<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mailer</title>
	<link rel="stylesheet"  href="../../css/darylmailer.css">
</head>
<body>
	<div class="contenedor">
<header name="encabezado">
	<div class="cl1">
		<div class="img1"></div>
	</div>
	<div class="cl2">
		<div>
			<h3>CREATINGS</h3>
			</div>
		<div>
			<h1>Responsive Email Magic</h1>
		</div>
	</div>
</header>
<section name="cuerpo">
	<article name="sec1">
		<div>
		<h2> WELCOME TO SOYAPANGO</h2>
		<br>
		<P>El lugar mas hermoso del mundo text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</P> 
		</div>
	</article>
	<article name="sec2"></article>
	<article name="sec3"></article>
	<article name="sec4"></article>
</section>
<footer name="pie"></footer>
</div>


</body>
</html>