<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alonzo Tarea 3</title>
	<link rel="stylesheet" href="../../css/alexalonzo_tarea3.css">
</head>
<body>
	<div class="container">
		<header name="cover">
			<div class="figlio1">
				<div class="imagine1"></div>
			</div>			
			<div class="figlio2">
				<h1>Coffee Great Plain "GOLD"</h1>
				<h3>our tradition is the best</h3>
			</div>		
		</header>
	<section>
		<article name="contenido1">
			<div class="testo1">
				<h2>Know about our history</h2>
		
				<p>On December 12, 2002, the first Juan Valdez® Café store opened its doors at the El Dorado International Airport in Bogota, with a dream story and great achievements for Colombian premium coffee.</p>
				<br>
				<p>The firts international store was opened in the city Whasinton D.C.<br> 
				We are currently in New York and continue to strongly develop our presence in and around Miami.</p>
	
			</div>
			<div class="testo2">
				<div class="bloquea">
					<div class="imagine2"></div>
				</div>
				<div class="bloqueb">
					<h2>Discover Your Perfect Cup</h2>

					<p>We extend the experiences to more stores, so that coffe lovers find their perfect cup enjoying the origins of espresso-based dinks.</p>
					
					<h3>...this is a great cafe</h3>
				</div>
			</div>
			<div class="testo3">
				<div class="line"></div>
				<div class="testo4">
					<h2>First Shop Origins...</h2>
					<p>In 2013 we inaugurated the first Origins store and began the development of a new experience, the way for the creation of the perfect cup.</p>
				</div>
				<div class="testo5">
					<h2>Our design...</h2>
					<p>The design of the store and the variety of colognes of Colombian origin prepared <br> with new methods paved.</p>
				</div>
			</div>	
				<div class="testo6">
					<img src="../../img/article4.png" width="100%" height="314px"></img>
					<div class="testo7">
					<h2>We Are Over 3,000.000 Of friends On Facebook</h2>
					<br>

					<p>With the opening of Juan Valdez® coffee shops in different countries we have consolidated a digital comunity connected around the world that interacts daily with the brand and motivates us to continue improving.</p>
					</div> 
				</div>	
		</article>	
	</section>
	<footer name="piede">
		<div class="testo8">
			<h4>Copyright</h4>
		</div>
		<div class="imagine4"></div>
		<div class="pulsante">
			<h5>Join now!!</h5>
		</div>
	</footer>
	</div>
</body>
</html>