<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 2 Alex</title>
	<link rel="stylesheet" href="../../css/alexalonzo.css">
</head>
<body>
	<header id="data">
		<div class="information">
			<div class="z1"></div>
			<div class="z2"></div>
			<div class="z3"></div>
			<div class="z4"></div>
		</div>
		<div class="bottom">
			<div class="zz1"></div>
			<div class="zz2"></div>
			<div class="zz3"></div>
			<div class="zz4"></div>
			<div class="zz5"></div>
			<div class="zz6"></div>
		</div>
	</header>
	<section>
		<article id="sezione1">
			<div class="bandiera">
				<div class= "testo">
					<div class="title"></div>
					<div class="piu"></div>
				</div>
			</div>
	</article>
	<article id="sezione2">
			<div class="bandiera2">
				<div class= "testo2">
					<div class="title2"></div>
					<div class="piu2"></div>
				</div>
			</div>
	</article>
	<article>
			<div class="linea"></div>
	</article>
	<article id="sezione3">
			<div class="scatola">
				<div class= "immagine">
					<div class="title3"></div>
					<div class="piu3"></div>
				</div>
				<div class= "immagine">
					<div class="title3"></div>
					<div class="piu3"></div>
				</div>
				<div class= "immagine">
					<div class="title3"></div>
					<div class="piu3"></div>
				</div>
			</div>
			<div class="scatola">
				<div class= "immagine">
					<div class="title3"></div>
					<div class="piu3"></div>
				</div>
				<div class= "immagine">
					<div class="title3"></div>
					<div class="piu3"></div>
				</div>
				<div class= "immagine">
					<div class="title3"></div>
					<div class="piu3"></div>
				</div>
			</div>
	</article>
	<article id="sezione4">
		<div class="scatola2">
				<div class= "imagine2"></div>
				<div class= "testo8">
					<div class="piu4"></div>
					<div class="title4"></div>
				</div>
				<div class= "testo9">
					<div class="title5"></div>
				</div>
		</div>
	</article>
	<article id="sezione5">
		<div class="scatola3">
			<div class="contatti"></div>
			<div class="testo3"></div>
			<div class="testo4"></div>
			<div class="testo3"></div>
			<div class="testo4"></div>
			<div class="testo3"></div>
			<div class="testo5"></div>
		</div>
		<div class="scatola4">
			<div class="testo6"></div>
			<div class="testo7"></div>
			<div class="enviare"></div>
		</div>
	</article>
	</section>
	<footer id=calci>
		<div class=pie>
			<div class="bottom">
				<div class="zz1"></div>
				<div class="zz2"></div>
				<div class="zz3"></div>
				<div class="zz4"></div>
				<div class="zz5"></div>
				<div class="zz6"></div>
			</div>
			<div class="scatola5">
				<div class="networking"></div>
				<div class="networking"></div>
				<div class="networking"></div>
			</div>
			
			<div class="duemila"></div>

		</div>

	</footer>
</body>
</html>