<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio Alex</title>
	<link rel="stylesheet" href="../../css/alexalonzo.css">
</head>
<body>
	<header id="data">
		<div class="information">
			<div class="z1"></div>
			<div class="z2"></div>
			<div class="z3"></div>
			<div class="z4"></div>
		</div>
		<div class="bottom">
			<div class="zz1"></div>
			<div class="zz2"></div>
			<div class="zz3"></div>
			<div class="zz4"></div>
			<div class="zz5"></div>
			<div class="zz6"></div>
		</div>
	<article id="sezione1">
			<div class="bandiera">
				<div class= "testo">
					<div class="title"></div>
					<div class="piu"></div>
				</div>
			</div>
	</article>
	<article id="sezione2">
			<div class="bandiera2">
				<div class= "testo2">
					<div class="title2"></div>
					<div class="piu2"></div>
				</div>
			</div>
	</article>
	<article>
			<div class="linea"></div>
	</article>
	<article id="sezione3">
			<div class="scatola">
				<div class= "immagine">
					<div class="title3"></div>
					<div class="piu3"></div>
				</div>
				<div class= "immagine">
					<div class="title3"></div>
					<div class="piu3"></div>
				</div>
				<div class= "immagine">
					<div class="title3"></div>
					<div class="piu3"></div>
				</div>
			</div>
			<div class="scatola">
				<div class= "immagine">
					<div class="title3"></div>
					<div class="piu3"></div>
				</div>
				<div class= "immagine">
					<div class="title3"></div>
					<div class="piu3"></div>
				</div>
				<div class= "immagine">
					<div class="title3"></div>
					<div class="piu3"></div>
				</div>
			</div>
	</article>
</body>
</html>