<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Laboratorio Alex</title>
	<link rel="stylesheet" href="../../css/alex_lab3.css">
</head>
<body>
	<header id="contac">
		<div class="information">
			<div class="x1"></div>
			<div class="x2"></div>
			<div class="x3"></div>
			<div class="x4"></div>
			<div class="x5"></div>
		</div>
		<div class="bottom">
			<div class="xx1"></div>
			<div class="xx2"></div>
			<div class="xx3"></div>
			<div class="xx4"></div>
			<div class="xx5"></div>
			<div class="xx6"></div>
			<div class="xx7"></div>
			<div class="xx8"></div>
		</div>
		<section>
		<article id="parte1">
			<div class="banner">
				<div class= "texto">
					<div class="title"></div>					
					<div class="more"></div>
				</div>
			</div>
		</article>
		<article id="parte2">
			<div class="b2"></div>
			<div class="b3">
				<div class= b5></div>
			</div>
			<div class="b4">
				<div class= b5></div>
			</div>
		</article>
		<article id="parte3">
			<div class="c2"></div>
			<div class="c3"></div>
			<div class="c4"></div>
		</article>
		<article id="parte4">
			<div class="d1"></div>
		</article>
		</section>
	</header>
	
</body>
</html>