<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Ejercicio 1</title>
	<link rel="stylesheet" type="text/css" href="../../css/carlos.css">
</head>
<body>
	<header>
		<div class="child1">
		     <div class="a"></div>
		     <div class="b"></div>
        </div>
        <div class="child2">
             <div class="c"></div>
             <div class="d"></div>
             <div class="e"></div>
             <div class="f"></div>
         </div>
    </header>
    <section>
        <div class="child3">
             <div class="g"></div>
             <div class="h"></div>
        </div>
    </section>
     <section>
        <div class="bloquep1">
             <div class="b1h1">
                               <div class="b1n1"></div>
                               <div class="b1n2"></div>
                               <div class="b1n3"></div>
                               <div class="b1n4">
                                                         <div class="b1s1"></div>
                                                         <div class="b1s2"></div>
                                                         <div class="b1s3"></div>
                               </div>
             </div>
             <div class="b1h2">
                               <div class="b1n5"></div>
                               <div class="b1n6"></div>
                               <div class="b1n7"></div>
                               <div class="b1n8">
                                                         <div class="b1s4"></div>
                                                         <div class="b1s5"></div>
                                                         <div class="b1s6"></div>
                               </div>
             </div>
             <div class="b1h3">
                               <div class="b1n9"></div>
                               <div class="b1n10"></div>
                               <div class="b1n11"></div>
                               <div class="b1n12">
                                                         <div class="b1s7"></div>
                                                         <div class="b1s8"></div>
                                                         <div class="b1s9"></div>
                               </div>                 
             </div>
        </div>
    </section>
     <section>
        <div class="bloque2">

             
        </div>
    </section>


    <footer></footer>

</body>
</html>