<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Ejercicio 1</title>
	<link rel="stylesheet" type="text/css" href="../../css/carlos.css">
</head>
<body>
	<header>
		<div class="child1">
		     <div class="a"></div>
		     <div class="b"></div>
        </div>
        <div class="child2">
             <div class="c"></div>
             <div class="d"></div>
             <div class="e"></div>
             <div class="f"></div>
         </div>
    </header>
    <section>
        <div class="child3">
             <div class="g"></div>
             <div class="h"></div>
        </div>
    </section>
     <section>
        <div class="bloque1">
             <div class="b1h1">
                               <div class="b1n1"></div>
                               <div class="b1n2"></div>
                               <div class="b1n3"></div>
                               <div class="b1n4">
                                                         <div class="b1s1"></div>
                                                         <div class="b1s2"></div>
                                                         <div class="b1s3"></div>
                               </div>
             </div>
             <div class="b1h2">
                               <div class="b1n5"></div>
                               <div class="b1n6"></div>
                               <div class="b1n7"></div>
                               <div class="b1n8">
                                                         <div class="b1s4"></div>
                                                         <div class="b1s5"></div>
                                                         <div class="b1s6"></div>
                               </div>
             </div>
             <div class="b1h3">
                               <div class="b1n9"></div>
                               <div class="b1n10"></div>
                               <div class="b1n11"></div>
                               <div class="b1n12">
                                                         <div class="b1s7"></div>
                                                         <div class="b1s8"></div>
                                                         <div class="b1s9"></div>
                               </div>                 
             </div>
        </div>
    </section>
     <section>
        <div class="bloque2">
                             <div class="b2h1"></div>
                             <div class="b2h2">
                                               <div class="b2n1"></div>
                                               <div class="b2n2">
                                                                 <div class="b2s1"></div>
                                                                 <div class="b2s2"></div>

                                               </div>
                                               <div class="b2n3"></div>
                                               <div class="b2n4">
                                                                 <div class="b2s3"></div>
                                                                 <div class="b2s4"></div>
                                                                 <div class="b2s5"></div>
                                               </div>
                                               <div class="b2n5"></div>
                             </div>
        </div>
    </section>
    <section>
       <div class="bloque3">
                            <div class="b3h1">
                                              <div class="b3n1"></div>
                                              <div class="b3n2">
                                                                <div class="b3s1"></div>
                                                                <div class="b3s2"></div>
                                              </div>
                                              <div class="b3n3">
                                                                <div class="b3s3"></div>
                                                                <div class="b3s4"></div>
                                              </div>
                                              <div class="b3n4">
                                                                <div class="b3s5"></div>
                                                                <div class="b3s6"></div>
                                              </div>
                                              <div class="b3n5"></div>
                            </div>
                            <div class="b3h2">
                                             <div class="b3n6"></div>
                                             <div class="b3n7"></div>
                                             <div class="b3n8"></div>
                                             <div class="b3n9">
                                                               <div class="b3s7"></div>
                                                               <div class="b3s8"></div>
                                                               <div class="b3s9"></div>
                                             </div>
                                             <div class="b3n10"></div>
                            </div>

          
       </div>
    </section>


    <footer>
       <section>
          <div class="contactos">
                                 <div class="ch1"></div>
                                 <div class="ch2">
                                                  <div class="cn1">
                                                                   <div class="cs1"></div>
                                                                   <div class="cs2"></div>
                                                                   <div class="cs3"></div>
                                                                   <div class="cs4"></div>
                                                  </div>
                                                  <div class="cn2"></div>
                                 </div>
                                 </div>
          </div>
       </section>
    </footer>

</body>
</html>