<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Carlos Tarea3</title>
	<link rel="stylesheet" type="text/css" href="../../css/carlos_tarea3.css">
</head>
<body>
	<div id="contenedor">
		<header>
			<div class="ch1">
				<div class="cfimagen"></div>
			</div>
			<div class="ch2">
				<div class="titulo">
					<h1>Coffee Great Plain "GOLD"</h1>
				</div>
				<div class="sub">
					<h3> our tradition is the best</h3>
				</div>					
			</div>
		</header>
		<section>
			<article class="art1">
				<div class="ti1">
					<h2>campeón nacional</h2>
				</div>
				<div class="tex1" /div>
					<p>12 años de trabajo junto a Juan Valdez y 31 años de pasión por el café, convirtieron a este bogotano en campeón nacional de barismo en dos oportunidades. Hoy, conmemora su más grande logro con una edición especial de café que resume su esencia y su ardua labor junto al caficultor Milton Monroy.<br>Faltan pocos minutos y bajo la mirada del jurado, Ronald prepara su bebida de autor: un espresso que resalta los aromas y sabores florales con una extracción de cáscara de café y miel que encapsula estos aromas del café en la tostión.<br>Los jueces califican la técnica, el tiempo, los métodos y hasta la creatividad y finalmente, Ronald Valero, sale campeón nacional por segunda vez.</p>
				</div>
			</article>
			<article class="art2">
				<div class="art2h1">
					<div class="art2img">
						<dir class="img1"></dir>
					</div>
					<div class="bloquetx">
						<h2>CAFÉ ORGÁNICO</h2>
						<p>Este café 100% orgánico fue cultivado y cosechado por familias cafeteras que se han acogido a principios de agricultura ecológica. Este café tiene un sabor balanceado con notas silvestres.</p>
					</div>
				</div>
				<div class="borde"></div>
			</article>
			<article class="art3">
				<div class="bloquetx1">
					<div class="bh1">
						<h2>ORIGEN TOLIMA</h2>
						<p>Entre los bosques de niebla del corazón de Colombia crece este café suave, que lleva la dulzura propia de los campos de la región tolimense. El caficultor de Tolima es una persona auténtica y natural, amante de su cultura musical, que con orgullo cultiva sus tradiciones al igual que su café.</p>
					</div>
					<div class="bh2">
						<h2>CAFÉ DEL BOSQUE</h2>
						<p>Un Café balanceado con notas de especias, producido en fincas certificadas por la adopción de principios de agricultura sostenible, que promueven la biodiversidad.</p>
					</div>
				</div>
			</article>
			<article class="art4">
				<div class="imgbanner"></div>
			</article>
			<article class="art5">
				<div class="ti2">
					<h2>CAFÉ DE LA FINCA</h2>
				</div>
				<div class="tex2" /div>
					<p>Las fincas que producen este café aplican principios sociales, económicos y ambientales para garantizar el trato justo a trabajadores y el manejo responsable de los recursos naturales.
					</p>
				</div>
			</article>
		</section>
		<footer>
			<div class="contactos"></div>
		</footer>
	</div>
</body>
</html>