<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>carlos Tarea4</title>
	<link rel="stylesheet" type="text/css" href="../../css/carlos_tarea4.css">
</head>
<body>
	<header id="menu">
		<div>
			<ul>
				<li class="iconomn"><a href="#">
					<img src="../../img/icono_logo.png">
				</a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our history</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">lets play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
		</div>
	</header>
	<section id="cuerpo">
		<article class="banner">
			<div class="imghombre">
				<img src="../../img/persona.png">
			</div>
			<div class="cajatx">
				<div class="textobnr">
					<h1>Discover Our Brand</h1>
					<p>Piensa en las personas más exitosas que conozcas. ¿Son negativas o positivas? Lo más seguro es que sean positivas, entusiastas, energéticas y felices. Esta persona elige ver lo bueno en los otros y en ella misma.<br><br>
						Para ella, los problemas son sólo oportunidades esperando ser descubiertas. Todos los días la gente es bombardeada con malos actos pero los exitosos minimizan esto y optan por llenar su mente de ideas positivas.
					</p>
					<div class="botones">
						<button>Know more</button>
						<button>Contact us</button>
						<button>Downlod</button>
					</div>
				</div>
			</div>
		</article>
		<article class="bloquestx1">
			<div class="bloq1">
				<div class="headbq1">
					<div class="icono1">
						<img src="../../img/icono1.png">
					</div>
					<div class="titulo1"><h2>IFront End</h2></div>
				</div>
				<div class="bloqtx1">
					<p>Y es que no suena nada rara la afirmación de que los colores provocan un efecto emocional en nosotros. De hecho, forma parte de nuestro lenguaje cotidiano. En otras palabras, es común hablar de colores cálidos, como el rojo, el amarillo o el naranja, que pueden suscitar distintas reacciones, desde positivas (calidez) o negativas (hostilidad y enfado). O, por contra, también solemos hablar de colores fríos, como el verde o el azul, que suelen provocar una sensación de calma pero también tristeza</p>
				</div>
			</div>
			<div class="bloq2">
				<div class="headbq2">
					<div class="icono2">
						<img src="../../img/icono2.png">
					</div>
					<div class="titulo2"><h2>Web Service</h2></div>
				</div>
				<div class="bloqtx2">
					<p>Y es que no suena nada rara la afirmación de que los colores provocan un efecto emocional en nosotros. De hecho, forma parte de nuestro lenguaje cotidiano. En otras palabras, es común hablar de colores cálidos, como el rojo, el amarillo o el naranja, que pueden suscitar distintas reacciones, desde positivas (calidez) o negativas (hostilidad y enfado). O, por contra, también solemos hablar de colores fríos, como el verde o el azul, que suelen provocar una sensación de calma pero también tristeza</p>
				</div>
			</div>
			<div class="bloq3">
				<div class="headbq3">
					<div class="icono3">
						<img src="../../img/icono3.png">
					</div>
					<div class="titulo3"><h2>DataGuard</h2></div>
				</div>
				<div class="bloqtx3">
					<p>Y es que no suena nada rara la afirmación de que los colores provocan un efecto emocional en nosotros. De hecho, forma parte de nuestro lenguaje cotidiano. En otras palabras, es común hablar de colores cálidos, como el rojo, el amarillo o el naranja, que pueden suscitar distintas reacciones, desde positivas (calidez) o negativas (hostilidad y enfado). O, por contra, también solemos hablar de colores fríos, como el verde o el azul, que suelen provocar una sensación de calma pero también tristeza</p>
				</div>
			</div>
			<div class="bloq4">
				<div class="headbq4">
					<div class="icono4">
						<img src="../../img/icono4.png">
					</div>
					<div class="titulo4"><h2>Tecno-In</h2></div>
				</div>
				<div class="bloqtx4">
					<p>Y es que no suena nada rara la afirmación de que los colores provocan un efecto emocional en nosotros. De hecho, forma parte de nuestro lenguaje cotidiano. En otras palabras, es común hablar de colores cálidos, como el rojo, el amarillo o el naranja, que pueden suscitar distintas reacciones, desde positivas (calidez) o negativas (hostilidad y enfado). O, por contra, también solemos hablar de colores fríos, como el verde o el azul, que suelen provocar una sensación de calma pero también tristeza</p>
				</div>
			</div>
		</article>
		<article class="bloquestx2">
			<div class="bloq1">
				<div class="headbq1">
					<div class="icono1">
						<img src="../../img/icono1.png">
					</div>
					<div class="titulo1"><h2>IFront End</h2></div>
				</div>
				<div class="bloqtx1">
					<p>Y es que no suena nada rara la afirmación de que los colores provocan un efecto emocional en nosotros. De hecho, forma parte de nuestro lenguaje cotidiano. En otras palabras, es común hablar de colores cálidos, como el rojo, el amarillo o el naranja, que pueden suscitar distintas reacciones, desde positivas (calidez) o negativas (hostilidad y enfado). O, por contra, también solemos hablar de colores fríos, como el verde o el azul, que suelen provocar una sensación de calma pero también tristeza</p>
				</div>
			</div>
			<div class="bloq2">
				<div class="headbq2">
					<div class="icono2">
						<img src="../../img/icono2.png">
					</div>
					<div class="titulo2"><h2>Web Service</h2></div>
				</div>
				<div class="bloqtx2">
					<p>Y es que no suena nada rara la afirmación de que los colores provocan un efecto emocional en nosotros. De hecho, forma parte de nuestro lenguaje cotidiano. En otras palabras, es común hablar de colores cálidos, como el rojo, el amarillo o el naranja, que pueden suscitar distintas reacciones, desde positivas (calidez) o negativas (hostilidad y enfado). O, por contra, también solemos hablar de colores fríos, como el verde o el azul, que suelen provocar una sensación de calma pero también tristeza</p>
				</div>
			</div>
			<div class="bloq3">
				<div class="headbq3">
					<div class="icono3">
						<img src="../../img/icono3.png">
					</div>
					<div class="titulo3"><h2>DataGuard</h2></div>
				</div>
				<div class="bloqtx3">
					<p>Y es que no suena nada rara la afirmación de que los colores provocan un efecto emocional en nosotros. De hecho, forma parte de nuestro lenguaje cotidiano. En otras palabras, es común hablar de colores cálidos, como el rojo, el amarillo o el naranja, que pueden suscitar distintas reacciones, desde positivas (calidez) o negativas (hostilidad y enfado). O, por contra, también solemos hablar de colores fríos, como el verde o el azul, que suelen provocar una sensación de calma pero también tristeza</p>
				</div>
			</div>
			<div class="bloq4">
				<div class="headbq4">
					<div class="icono4">
						<img src="../../img/icono4.png">
					</div>
					<div class="titulo4"><h2>Tecno-In</h2></div>
				</div>
				<div class="bloqtx4">
					<p>Y es que no suena nada rara la afirmación de que los colores provocan un efecto emocional en nosotros. De hecho, forma parte de nuestro lenguaje cotidiano. En otras palabras, es común hablar de colores cálidos, como el rojo, el amarillo o el naranja, que pueden suscitar distintas reacciones, desde positivas (calidez) o negativas (hostilidad y enfado). O, por contra, también solemos hablar de colores fríos, como el verde o el azul, que suelen provocar una sensación de calma pero también tristeza</p>
				</div>
			</div>
		</article>
	</section>
	<footer id="pie">
		<div class="contactos">
			<div class="datosalm">
				<p>FR12042<br><br>Carlos Fuentes</p>
			</div>
		</div>
	</footer>
</body>
</html>