<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>carlos Tarea4</title>
	<link rel="stylesheet" type="text/css" href="../../css/carlos_parcial.css">
</head>
<body>
<header id="mn">
	<div>
		<ul>
			<li><a href="#">
				<img src="../../img/icono_blue.png" alt="">
			</a></li>
			<li><a href="#">Home</a></li>
			<li><a href="#">Our Services</a></li>
			<li><a href="#">Our history</a></li>
			<li><a href="#">Examples</a></li>
			<li><a href="#">lets play</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Administration</a></li>
			<li><a href="#">Delivery</a></li>
			<li><a href="#">Contact us</a></li>		
		</ul>
	</div>
	<div>
		 <button>Registro</button>
		</div>
</header>
<section id="cuerpo">
	<article class="banner">
		<div class="imgpr3">
			<img src="../../img/persona3nueva.png">
		</div>
		<div class="ctx">
			<div class="textbnr">
			<h1>We are Genius!!</h1>
			<p>Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color hex.<br><br>No recuerdo los 140 nombres de colores HTML? Tenemos todo lo que ecesitas, échale un vistazo a nuestra guía para obtener una referencia rápida de todos los nombres de colores HTML agrupadas por colores.</p>
			<div class="botones">
				<button>Contact us</button>
				<button>Know more</button>
				<button>Send us</button>
				<button>Downlod</button>
			</div>
			</div>
		</div>
	</article>
	<article class="bloque1">
		<div class="b1h1">
			<div class="b1n1"></div>
			<div class="b1n2">
				<h3> Colors Black </h3>
			</div>
			<div class="b1h1tx">
				<p>Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color hex.</p>
			</div>
		</div>
		<div class="b1h2">
			<div class="b1n3"></div>
			<div class="b1n4">
				<h3> Colors Black </h3>
			</div>
			<div class="b1h2tx">
				<p>Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color hex.</p>
			</div>
		</div>
		<div class="b1h3">
			<div class="b1n5"></div>
			<div class="b1n6">
				<h3> Colors Black </h3>
			</div>
			<div class="b1h3tx">
				<p>Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color hex.</p>
			</div>
		</div>
	</article>
</section>
<footer id="pie"></footer>
</body>
</html>