<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>carlos Tarea4</title>
	<link rel="stylesheet" type="text/css" href="../../css/carlos_tarea4.css">
</head>
<body>
<header id="menu">
	<div>
		<ul>
			<li><a href="#">icono</a></li>
			<li><a href="#">Home</a></li>
			<li><a href="#">Our Services</a></li>
			<li><a href="#">Our history</a></li>
			<li><a href="#">Examples</a></li>
			<li><a href="#">Documentation</a></li>
			<li><a href="#">lets play</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Contact us</a></li>
		</ul>
	</div>
</header>
<section id="cuerpo">
	<article class="banner">
		<div class="imghombre">
			<img src="../../img/persona.png">
		</div>
		</div>
	</article>
</section>
<footer id="pie"></footer>
</body>
</html>