<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Carlos Tarea3</title>
	<link rel="stylesheet" type="text/css" href="../../css/carlos_tarea3.css">
</head>
<body>
	<div id="contenedor">
		<header>
			<div class="ch1">
				<div class="cfimagen"></div>
			</div>
			<div class="ch2">
				<div class="titulo">
					<h1>Coffee Great Plain "GOLD"</h1>
				</div>
				<div class="sub">
					<h3> our tradition is the best</h3>
				</div>					
			</div>
		</header>
		<section>
			<article class="art1">
				<div class="ti1">
					<h2>campeón nacional</h2>
				</div>
				<div class="tex1" /div>
					<p>12 años de trabajo junto a Juan Valdez y 31 años de pasión por el café, convirtieron a este bogotano en campeón nacional de barismo en dos oportunidades. Hoy, conmemora su más grande logro con una edición especial de café que resume su esencia y su ardua labor junto al caficultor Milton Monroy.<br>Faltan pocos minutos y bajo la mirada del jurado, Ronald prepara su bebida de autor: un espresso que resalta los aromas y sabores florales con una extracción de cáscara de café y miel que encapsula estos aromas del café en la tostión.<br>Los jueces califican la técnica, el tiempo, los métodos y hasta la creatividad y finalmente, Ronald Valero, sale campeón nacional por segunda vez.</p>
					</div>
				</article>
			</section>
			<footer></footer>
		</div>
	</body>
	</html>