<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>carlos parcial</title>
	<link rel="stylesheet" type="text/css" href="../../css/carlos_parcial.css">
</head>
<body>
	<header id="mn">
		<div>
			<ul>
				<li><a href="#">
					<img src="../../img/icono_blue.png" alt="">
				</a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our history</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">lets play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact us</a></li>		
			</ul>
		</div>
		<div>
			<button>Registro</button>
		</div>
	</header>
	<section id="cuerpo">
		<article class="banner">
			<div class="imgpr3">
				<img src="../../img/persona3nueva.png">
			</div>
			<div class="ctx">
				<div class="textbnr">
					<h1>We are Genius!!</h1>
					<p>Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color hex.<br><br>No recuerdo los 140 nombres de colores HTML? Tenemos todo lo que ecesitas, échale un vistazo a nuestra guía para obtener una referencia rápida de todos los nombres de colores HTML agrupadas por colores.</p>
					<div class="botones">
						<button>Contact us</button>
						<button>Know more</button>
						<button>Send us</button>
						<button>Downlod</button>
					</div>
				</div>
			</div>
		</article>
		<article class="bloque1">
			<div class="b1h1">
				<div class="b1n1">
					<div class="b1s1">
						<img src="../../img/icono5.png">
					</div>
					<div class="b1s2">
						<h2>IFront End</h2>
					</div>
				</div>
				<div class="b1n2">
					<p>Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color.<br><br>
						Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color.
					</p>
				</div>
			</div>
			<div class="b1h2">
				<div class="b1n3">
					<div class="b1s3">
						<img src="../../img/icono6.png">
					</div>
					<div class="b1s4">
						<h2>Web Services</h2>
					</div>
				</div>
				<div class="b1n4">
					<p>Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color.<br><br>
						Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color.
					</p>
				</div>
			</div>
			<div class="b1h3">
				<div class="b1n5">
					<div class="b1s5">
						<img src="../../img/icono7.png">
					</div>
					<div class="b1s6">
						<h2>DataGuard</h2>
					</div>
				</div>
				<div class="b1n6">
					<p>Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color.<br><br>
						Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color.
					</p>
				</div>
			</div>
		</article>
		<article class="bloque2">
			<div class="b2h1">
				<div class="b2n1">
					<div class="b2s1">
						<img src="../../img/icono5.png">
					</div>
					<div class="b2s2">
						<h2>IFront End</h2>
					</div>
				</div>
				<div class="b2n2">
					<p>Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color.<br><br>
						Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color.
					</p>
				</div>
			</div>
			<div class="b2h2">
				<div class="b2n3">
					<div class="b2s3">
						<img src="../../img/icono6.png">
					</div>
					<div class="b2s4">
						<h2>Web Services</h2>
					</div>
				</div>
				<div class="b2n4">
					<p>Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color.<br><br>
						Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color.
					</p>
				</div>
			</div>
		</article>
		<article class="bloque3">
			<div class="b3h1">
				<div class="b3n1">
					<div class="b3s1">
						<img src="../../img/icono7.png">
					</div>
					<div class="b3s2">
						<h2>IFront End</h2>
					</div>
				</div>
				<div class="b3n2">
					<p>Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color.<br><br>
						Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color.
					</p>
				</div>
			</div>
			<div class="b3h2">
				<div class="b3n3">
					<div class="b3s3">
						<img src="../../img/icono8.png">
					</div>
					<div class="b3s4">
						<h2>Web Services</h2>
					</div>
				</div>
				<div class="b3n4">
					<p>Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color.<br><br>
						Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color.
					</p>
				</div>
			</div>
		</article>
	</section>
	<footer id="pie">
		<div class="contactos">
			<div class="datosalm">
				<p>FR12042<br><br>Carlos Fuentes</p>
			</div>
		</div>
	</footer>
</body>
</html>