<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>carlos Tarea4</title>
	<link rel="stylesheet" type="text/css" href="../../css/carlos_parcial.css">
</head>
<body>
<header id="mn">
	<div>
		<ul>
			<li class="mnicono"><a href="#">
				<img src="../../img/icono_blue.png" alt="">
			</a></li>
			<li><a href="#">Home</a></li>
			<li><a href="#">Our Services</a></li>
			<li><a href="#">Our history</a></li>
			<li><a href="#">Examples</a></li>
			<li><a href="#">lets play</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Administration</a></li>
			<li><a href="#">Delivery</a></li>
			<li><a href="#">Contact us</a></li>
			<li>
				<button class="btmn">Registro</button>
			</li>
		</ul>
	</div>
</header>
<section id="cuerpo">
	<article class="banner">
		<div class="imgpr3">
			<img src="../../img/persona3.png">
		</div>
		</div>
	</article>
</section>
<footer id="pie"></footer>
</body>
</html>