<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title> Ejercicio 2</title>
	<link rel="stylesheet" type="text/css" href="../../css/carlosejercicio2.css">
</head>
<body>
	<header>
		<article class="m1">
			<div class="m1h1"></div>
			<div class="m1h2">
				<div class="m1n1"></div>
				<div class="m1n2"></div>
				<div class="m1n3"></div>
				<div class="m1n4"></div>
			</div>
		</article>
		<article class="m2">
			<div class="m2h1">
				<div class="m2n1"></div>	
			</div>
			<div class="m2h2">
				<div class="m2n2"></div>
				<div class="m2n3"></div>
				<div class="m2n4"></div>
				<div class="m2n5"></div>
				<div class="m2n6"></div> 		
			</div>
		</article>
	</header>
	<section>
		<article class="banner">
			<div class="bh1"></div>
			<div class="bh2"></div>
			<div class="bh3">
				<div class="bn1">
					<div class="bs1"></div>
					<div class="bs2"></div>
					<div class="bs3">
						<div class="bsh"></div>
					</div>
					<div class="bs4"></div>
				</div>
			</div>
		</article>
		<article class="bloque1">
			<div class="b1h1">
				<div class="b1n1"></div>
				<div class="b1n2"></div>
				<div class="b1n3">
					<div class="b1s1"></div>
				</div>
			</div>
			<div class="b1h2"></div>
		</article>
		<article class="bloque2">
			<div class="b2h1">
				<div class="b2n1">
					<div class="margen1"></div>
				</div>
				<div class="b2n2">
					<div class="b2s1"></div>
				</div>
				<div class="b2n3">
					<div class="margen2"></div>
				</div>
				<div class="b2n4">
					<div class="b2s2"></div>
				</div>
				<div class="b2n5"></div>
			</div>
			<div class="b2h2">
				<div class="b2n6">
					<div class="margen3"></div>
				</div>
				<div class="b2n7">
					<div class="b2s3"></div>
				</div>
				<div class="b2n8">
					<div class="margen4"></div>
				</div>
				<div class="b2n9">
					<div class="b2s4"></div>
				</div>
				<div class="b2n10"></div>
			</div>
			<div class="b2h3">
				<div class="b2n11">
					<div class="margen5"></div>
				</div>
				<div class="b2n12">
					<div class="b2s5"></div>
				</div>
				<div class="b2n13">
					<div class="margen6"></div>
				</div>
				<div class="b2n14">
					<div class="b2s6"></div>
				</div>
				<div class="b2n15"></div>
			</div>
		</article>
		<article class="bloque3">
			<div class="b3h1"></div>
			<div class="b3h2">
				<div class="b3n1">
					<div class="b3s1"></div>
					<div class="b3s2"></div>
					<div class="b3s3"></div>
					<div class="b3s4"></div>
				</div>
				<div class="b3n2">
					<div class="b3s5"></div>
					<div class="b3s6"></div>
					<div class="b3s7"></div>
					<div class="b3s8"></div>
				</div>
			</div>
		</article>
		<article class="bloque4">
			<div class="b4h1">
				<div class="b4n1"></div>
				<div class="b4n2"></div>
				<div class="b4n3"></div>
			</div>
			<div class="b4h2">
				<div class="b4n4">
					<div class="b4s1"></div>
					<div class="b4s2">
						<div class="b4t1"></div>
						<div class="b4t2"></div>
						<div class="b4t3"></div>
						<div class="b4t4"></div>
						<div class="b4t5"></div>
						<div class="b4t6"></div>
					</div>
					<div class="b4s3"></div>
					<div class="b4s4">
						<div class="b4t7"></div>
						<div class="b4t8"></div>
						<div class="b4t9"></div>
						<div class="b4t10"></div>
						<div class="b4t11"></div>
						<div class="b4t12"></div>
					</div>
				</div>
				<div class="b4n5">
					<div class="b4s5"></div>
					<div class="b4s6"></div>
					<div class="b4s7"></div>
					<div class="b4s8"></div>					
				</div>
			</div>
		</article>
	</section>
	<footer>
		<article class="contactos"> 
			<div class="ch1"></div>
			<div class="ch2">
			</div>
	</article>
	</footer>
</body>
</html>