<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title> Ejercicio 2</title>
	<link rel="stylesheet" type="text/css" href="../../css/carlosejercicio2.css">
</head>
<body>
	<header>
		<div class="m1">
			<div class="m1h1"></div>
			<div class="m1h2">
				<div class="m1n1"></div>
				<div class="m1n2"></div>
				<div class="m1n3"></div>
				<div class="m1n4"></div>
			</div>
		</div>
		<div class="m2">
			<div class="m2h1">
				<div class="m2n1"></div>	
			</div>
			<div class="m2h2">
				<div class="m2n2"></div>
				<div class="m2n3"></div>
				<div class="m2n4"></div>
				<div class="m2n5"></div>
				<div class="m2n6"></div>
			</div>		
		</div>
	</header>
	<section>
		<article class="banner">
			<div class="bh1"></div>
			<div class="bh2"></div>
			<div class="bh3">
				<div class="bn1">
					<div class="bs1"></div>
					<div class="bs2"></div>
					<div class="bs3">
						<div class="bsh"></div>
					</div>
					<div class="bs4"></div>
				</div>
			</div>
		</article>
	</section>
	<section>
		<article class="bloque1">
			<div class="b1h1">
				<div class="b1n1"></div>
				<div class="b1n2"></div>
				<div class="b1n3">
					<div class="b1s1"></div>
				</div>
			</div>
			<div class="b1h2"></div>
		</article>
	</section>
	<section>
		<article class="bloque2">
			<div class="b2h1">
				<div class="b2n1"></div>
				<div class="b2n2">
					<div class="b2s1"></div>
				</div>
				<div class="b2n3"></div>
				<div class="b2n4">
					<div class="b2s2"></div>
				</div>
				<div class="b2n5"></div>
			</div>
			<div class="b2h2">
				<div class="b2n6"></div>
				<div class="b2n7">
					<div class="b2s3"></div>
				</div>
				<div class="b2n8"></div>
				<div class="b2n9">
					<div class="b2s4"></div>
				</div>
				<div class="b2n10"></div>
			</div>
			<div class="b2h3">
				<div class="b2n11"></div>
				<div class="b2n12">
					<div class="b2s5"></div>
				</div>
				<div class="b2n13"></div>
				<div class="b2n14">
					<div class="b2s6"></div>
				</div>
				<div class="b2n15"></div>
			</div>
		</article>
	</section>
	<section>
		<article class="bloque3">
		<div class="b3h1"></div>
		<div class="b3h2">
			<div class="b3n1">
				<div class="b3s1"></div>
				<div class="b3s2"></div>
				<div class="b3s3"></div>
				<div class="b3s4"></div>
			</div>
			<div class="b3n2">
				<div class="b3s5"></div>
				<div class="b3s6"></div>
				<div class="b3s7"></div>
				<div class="b3s8"></div>
			</div>
		</div>
		</article>
	</section>
	<footer></footer>
</body>
</html>