<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>carlos laboratorio</title>
<link rel="stylesheet" type="text/css" href="../../css/carlos_lab.css">
</head>
<body>
<header>
	<div class="menu1">
    <div class="m1h1"></div>
    <div class="m1h2"></div>
    <div class="m1h3"></div>
    <div class="m1h4"></div>
    <div class="m1h5"></div>
    <div class="m1h6"></div>
 </div>
</header>
<section>
  <article class="menu2">
    <div class="m2h1"><div class="logo"></div></div>
    <div class="m2h2"></div>
    <div class="m2h3"></div>
    <div class="m2h4"></div>
    <div class="m2h5"></div>
    <div class="m2h6"></div>
    <div class="m2h7"></div>
    <div class="m2h8"></div>
 </article> 
</section>
<section>
  <article class="banner">
    <div class="bh">
      <div class="ct1"></div>
      <div class="ct2"></div>
      <div class="ct3"></div>
      <div class="ct4"></div>
    </div>
  </article>
</section>
<section>
  <article class="bloque1">
    <div class="b1h1"></div>
    <div class="b1h2">
      <div class="b1n1"></div>
       <div class="b1n2"></div>
        <div class="b1n3">
          <div class="b1s1"></div>
        </div>
    </div>
    <div class="b1h3">
      <div class="b1n4"></div>
       <div class="b1n5"></div>
        <div class="b1n6">
          <div class="b1s2"></div>
        </div>
    </div>
  </article>
</section>
<section>
  <article class="bloque2">
    <div class="b2h1">
      <div class="b2n1">
        <div class="b2s1"></div>
        <div class="b2s2"></div>
        <div class="b2s3"></div>
      </div>
      <div class="b2n2">
        <div class="b2s4"></div>
        <div class="b2s5">
          <div class="b2p1">
            <div class="b2c1"></div>
          </div>
          <div class="b2p2"></div>
          <div class="b2p3">
            <div class="b2c2"></div>
          </div>
        </div>
        <div class="b2s6"></div>
      </div>
    </div>
  </article>
</section>
<footer></footer>
</body>
</html>