<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Carlos Mailer</title>
	<link rel="stylesheet" type="text/css" href="../../css/carlosmailer.css">
</head>
<body>
	<div id="contenedor">
		<header id="header">
			<div class="cl1">
				<div class="img1"></div>
			</div>
			<div class="cl2">
				<div class="tex_3">
					<h3>CREATING</h3>
				</div>
				<div class="tex_1">
					<h1>Responsive Email Magic</h1>
				</div>
			</div>
		</header> 
		<section>
			<articel name="art1">
				<div class="intro">
					<h2> WELCOME TO OUR  RESPONSIVE EMAIL!</h2>
					<br/>
					<p>Buscando algunas ya grandes combinaciones? Nuestras tabla de color con colores de diseño de planos, Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color hex. </p>
				</div>
			</articel>
			<articel name="art2">
				<div class="cl3">
					<div class="img2"></div>
				</div>
				<div class="cl4">
					<div class="parrafo">
						<p>Esquema de diseño de Materiales de Google y la red clásica paleta de colores segura, todos con códigos de color hex.
						</p>
					</div>
					<div class="btn">
						<button>Claim yours!</button>
					</div>
				</div>
			</articel>
			<articel></articel>
			<articel></articel>
		</section>
		<footer></footer>
	</div>
</body>
</html>