<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>adilene_parcial</title>
	<link rel="stylesheet"  href="../../css/adilene_parcial.css">
</head>


<body>
	<header>
		<div>
			<ul id="menu">
				<div class="loguito"></div>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our service</a></li>
				<li><a href="#">Our history</a></li>
				<li><a href="#">Example</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Let´s play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Adiministración</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contactus</a></li>





				
			</ul>
		</div>
		
	</header>
</body>
</html>