<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>adilen_tarea3</title>
	<link rel="stylesheet" href="../../css/adilene_tarea3.css">
</head>

<body>
	<div class="encajonado">
		<header name="encabezado">
			<div class="en1">
				<div class="imagen1"></div>
			</div>
			<div class="en2">
				<div>
					<h1>Coffe Great Plain "GOLD"</h1>
				</div>
				<div>
					<h3>our tradition is the best</h3>
				</div>
			</div>
		</header>

		<section name="contenido">
			<article name="one">
				<div>
					<h2>Know about our history</h2>
					<br>
					<p>On December 12, 2002, the first Juan Valdez. Cafè store opened its doors at the El Dorado international airport in Bogotà, with a dream story and great achievements for colombian premium coffee.
						<br>
						<br>
						The first international store was opened in the city of Washington D.C
						<br>
						We are currelly in New York and continue to strongly devolop our presence in and around Miami.	
					</p>
				</div>
			</article>

			<article name="two">
				<div class="t1">
					<div class="vaso"></div>
				</div>
				<div class="t2">
					<div>
						<h2>Discover Your Perfect Cup</h2>
						<p>We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.	
						</p>
						<h3>..this is a great cafe</h3>
					</div>
				</div>
			</article>

			<article name="three">
				<div class="f1">
					<div>
						<h2>Discover Your Perfect Cup</h2>
						<p>We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.	
						</p>
					</div>
				</div>
				<div class="f2"></div>
				
			</article>


		</section>


	</div>
	

</body>
</html>