<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>adilene_tarea4</title>
	<link rel="stylesheet"  href="../../css/adilene_tarea4.css">
</head>

<body>
	<header>
		<div>
			<ul id="encabezado">
				<div class="imagen1"></div>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact us</a></li>
				</div>
			</ul>
		</div>
	</header>

	<section>
		<article name="seccion1">
			<div class="a1">
				<div class="persona"></div>
			</div>
			<div class="a2"></div>
			
		</article>
	</section>
	
</body>
</html>