<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>adilene_tarea4</title>
	<link rel="stylesheet"  href="../../css/adilene_tarea4.css">
</head>

<body>
	<header>
		<div>
			<ul id="encabezado">
				<div class="imagen1"></div>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact us</a></li>
			</div>
		</ul>
	</div>
</header>

<section>
	<article name="seccion1">
		<div class="a1">
			<div class="persona"></div>
		</div>
		<div class="a2">
			<div>
				<h2>Discover Our Brand</h2>	
				<br>
				<br>
				<p>Today, new technologies applied to knowledge, culture and solidary, give us more opportunities than ever to work successfully in the transformation of society. Fundatión Telefonica has been using them since 1998 to awaken thense ideas through projects that fight for social development and the creation of opportunities in Europe and Latin America.
				</p>
			</div>
			<div>
				<button>Know more</button>
				<button>Contact us</button>
				<button>Donwload</button>
			</div>
		</div>	
	</article>
</section>

<section class="seccion2">
	<div class="sec1">
		<div class="hijo1">
			<div class="s1">
				<div class="libro"></div>
			</div>
			<div class="s2">
				<h3>IFront End</h3>	
			</div>
		</div>
		<div class="hijo2">
			<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our build system and readme</p>
			<br>
			<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our build system and readme</p>
		</div>
	</div>

	<div class="sec2">
		<div class="hijo3">
			<div class="t1">
				<div class="tabla"></div>
			</div>
			<div class="t2">
				<h3>Web Service</h3>	
			</div>
		</div>
		<div class="hijo4">
			<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our build system and readme</p>
			<br>
			<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our build system and readme</p>
		</div>
	</div>

	<div class="sec3">
		<div class="hijo5">
			<div class="u1">
				<div class="personitas"></div>
			</div>
			<div class="u2">
				<h3>Data Guard</h3>	
			</div>
		</div>
		<div class="hijo6">
			<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our build system and readme</p>
			<br>
			<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our build system and readme</p>
		</div>
	</div>

	<div class="sec4">
		<div class="hijo7">
			<div class="v1">
				<div class="notas"></div>
			</div>
			<div class="v2">
				<h3>Data Guard</h3>	
			</div>
		</div>
		<div class="hijo8">
			<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our build system and readme</p>
			<br>
			<p>Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our build system and readme</p>
		</div>
	</div>


</section>


</body>
</html>