<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>adilene_parcial</title>
	<link rel="stylesheet"  href="../../css/adilene_parcial.css">
</head>


<body>
	<header>
		<div>
			<ul id="menu">
				<div class="loguito"></div>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our service</a></li>
				<li><a href="#">Our history</a></li>
				<li><a href="#">Example</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Let´s play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Adiministración</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact us</a></li>
				<div>
					<button>Ingresar</button>
				</div>	
			</ul>
		</div>	
	</header>

  <section>
  	<article namme="secccion1">
  		<div class="roca2">
  			<div class="persona3"></div>
  		</div>
  		<div class="roca1">
  			<div>
  				<h2>We are genius!!</h2>
  			<br>
  			<br>
  			<p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
  			<br>
  			<br>
  			<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
  			</div>	
  			<div>
  				<button>Know more</button>
  				<button>Contact us</button>
  				<button>Dowload</button>
  				<button>Send us</button>
  			</div>	
  		</div>
  	</article>

  	<section class="seccion2">
  		<div class="toca1">
  				<div class="icono5"></div>
  				<div>
  					<h3>Ifrond End</h3>
  				</div>		
  			</div>
  			<div></div>
  		</div>
  		<div class="toca2">
  			<div class="icono6"></div>		
  		</div>
  		<div class="toca3">
  			<div class="icono7"></div>
  		</div>
  	</section>
  </section>

</body>
</html>

<div>
  					<p>orem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.
  					</p>
  					<br>
  					<p>t was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
  					</p>
  				</div>