<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>adilene ejercicio2</title>
	<link rel="stylesheet" href="../../css/2adilene.css">
</head>

<body>
	<header id="menu">
		<div class="datos">
			<div class="cel"></div>
			<div class="celarea"></div>
			<div class="socios"></div>
			<div class="inicio"></div>
		</div>
		<div class="page">
				<div class="casa"></div>
				<div class="sobrenosotros"></div>
				<div class="productos"></div>
				<div class="experiencia"></div>
				<div class="contacto"></div>
			<div class="logotipo"></div>	
		</div>		
	</header>

	<section class="largos">
		<article>
			<div class="larguito1"></div>
			<div class="larguito2"></div>
		</article>
	</section>

	<section class="seccion1">
		<article class="paralax1">
			<div class="a">
			<div class="a1">
				<div class="a1name"></div>
				<div class="a2texto"></div>
				<div class="a3">
					<div class="a3pie"></div>
				</div>	
			</div>	
			</div>	
		</article>
		<article class="paralax2"></article>
	</section>

	<section class="seccion2">
		<article>
			<div class="larguito3"></div>
			<div class="box">
				<div class="box1">
					<div class="box1titulo"></div>
				</div>
				<div class="box2"></div>
				<div class="box3">
					<div class="box3pie"></div>	
				</div>
			</div>
			<div class="box4"></div>	
		</article>
	</section>

	<section class="seccion3">
		<article>
			<div class="d">
				<div class="d1">
					<div class="d1texto"></div>
				</div>
				<div class="d2"></div>	
				<div class="d3">
					<div class="d3pie"></div>
				</div>
			</div>
			<div class="e">
				<div class="e1">
					<div class="e1texto"></div>
				</div>
				<div class="e2"></div>	
				<div class="e3">
					<div class="e3pie"></div>
				</div>
			</div>
			<div class="f">
				<div class="f1">
					<div class="f1texto"></div>
				</div>
				<div class="f2"></div>	
				<div class="f3">
					<div class="f3pie"></div>
				</div>
			</div>

			<div class="g">
				<div class="g1">
					<div class="g1texto"></div>
				</div>
				<div class="g2"></div>	
				<div class="g3">
					<div class="g3pie"></div>
				</div>
			</div>
			<div class="h">
				<div class="h1">
					<div class="h1texto"></div>
				</div>
				<div class="h2"></div>	
				<div class="h3">
					<div class="h3pie"></div>
				</div>
			</div>
			<div class="i">
				<div class="i1">
					<div class="i1texto"></div>
				</div>
				<div class="i2"></div>	
				<div class="i3">
					<div class="i3pie"></div>
				</div>
			</div>
		</article>
	</section>

 	<section class="seccion4">
 		<article>
 			<div class="imagen"></div>
 			<div class="cuadro2">
 				<div class="j2">
 					<div class="j2titulo"></div>
 				</div>
 				<div class="textos">
 				<div class="texto1"></div>	
 				<div class="texto2"></div>
 				</div>
 			</div>
 		</article>
 	</section>
	
	<section class="seccion5">
		<article>
			<div class="hijo51">
				<div class="titulo51"></div>
				<div class="contenedor1">
					<div class="con1"></div>
					<div class="con2"></div>	
					<div class="con3"></div>
					<div class="con4"></div>
					<div class="con5"></div>
					<div class="con6"></div>
				</div>
			</div>
			<div class="hijo52">
				<div class="contenedor2">
					<div class="conte1">
						<div class="conte2"></div>
					</div>
					<div class="conte3">
						<div class="conte4"></div>
					</div>
				</div>
			</div>
		</article>	
	</section>		
	
</body>
</html>