<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>laboratorio</title>
	<link rel="stylesheet"  href="../../css/adilene_lab.css">
</head>

<body>
	<header id="menu">
		<div class="datos">
			<div class="cel"></div>
			<div class="celarea"></div>
			<div class="compadres"></div>
			<div class="info"></div>
			<div class="singin"></div>
		</div>
		<div class="inicio">
			<div class="logotipo"></div>
			<div class="casa"></div>
			<div class="sobrenosotros"></div>
			<div class="brands"></div>
			<div class="corporate"></div>
			<div class="blog"></div>
			<div class="comunity"></div>
			<div class="contacto">
		</div>		
	</header>


	<section class="seccion1">
		<article class="ade1" >
			<div class="caja1">
				<div class="caja1titulo"></div>
				<div class="caja1texto"></div>
				<div class="caja1boton"></div>
			</div>		
		</article>
		<article class="ade2">
		</article>
	</section>
	

	<section class="seccion2">
		<article>
			<div class="imagen" ></div>
			<div class="cajalarga">
				<div class="a">
					<div class="a1"></div>
					<div class="a2"></div>
					<div class="a3"></div>		
				</div>
				<div class="a">
					<div class="a1"></div>
					<div class="a2"></div>
					<div class="a3"></div>		
				</div>
			</div>	
		</article>	
	</section>


	<section class="seccion3">
		<article>
			<div class="hijo1">
				<div class="perfume"></div>
			</div>
			<div class="hijo2">
				<div class="h1">
					<div class="hh1"></div>
				</div>
				<div class="h2">
					<div class="hh2"></div>
				</div>
			</div>
			
		</article>
	</section>



</body>
</html>