<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mailer</title>
	<link rel="stylesheet" href="../../css/adilenemailer.css">
</head>

<body>
	<div class="contenedor">
		<header name="encabezado"/>
		<div class="cl1">
			<div class="img1"></div>
		</div>
		<div class="cl2">
			<div>
				<h3>CREATINGS</h3>
			</div>
			<div>
				<h1>Responsive Email Magic</h1>
			</div>
		</div>
	</header>

	<section name="cuerpo">
		<article name="sec1">
			<div>
				<h2>WELCOME TO OUR RESPONSIVE EMAIL</h2>
				<br>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.
				</p>
			</div>
		</article>

		<article name="sec2">
			<div class="pl3">
				<div class="img2"></div>
			</div>
			<div class="pl4">
				<div>
					<p>GitHub is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside 28 million developers.
					</p>
				</div>
				<div>
					<button>Clain yours</button>
				</div>
			</div>
		</article>

		<article name="sec3">
			<div class="contenido">
				<div class="img3"></div>
			</div>
		</article>

		<article name="sec4">
			<div class="parrafito">
				<div>
					<p>Lorem ipsum dolor sit amert, consectetur adipiscing elit,. Sed quis varius lorem. Aenean tempus porta dolor in interdum. Nullam molestie, dolor ver tristique ulticies, velit justo varius diam, at convalliss ligula mauris sed lacus.
					</p>
				</div>
				<div>
				</article>
			</section>

			<footer id="footer">
				<div class="nl1">
					<p>Someone, somewhere 3013
						<br/>
						<u>Unscribe</u> from this newletter.
					</p>
				</div>
				<div class="nl2">
					<div class="img5"></div>
				</div>
				<div class="nl3">
					<div class="img4"></div>
				</div>
			</footer>
		</div>
	</body>
	</html>