<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../css/adilene_media.css">
</head>
<body>
	<header>
		<div>
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Our People</a></li>
				<li><a href="#">Service</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>

	<section>
		<article name="banner">
			<div id="banner">
				<div class="cl1">
					<div class="img1"></div>
				</div>
				<div class="cl2">
					<div>
						<h1>Discovered our brand</h1>
						<br/>
						<p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
						</p>
						<br/>
					</div>
						<div>
							<button>Donwload</button>
							<button>Contact us</button>
						</div>
					</div>
				</div>
		</article>
</section>
</body>
</html>