<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Beatriz</title>
	<link rel="stylesheet" href="../css/Beatriz.css">
</head>
<body>
      <header id="menu">
      	   <div class="child1">
      	   	   <div class="a"></div>
      	   	   <div class="b"></div>
      	   </div>
      	   <div class="child2">
      	   	    <div class="c"></div>
      	   	    <div class="d"></div>
      	   	    <div class="e"></div>
      	   	    <div class="f"></div>
      	   </div>
      </header>
      <section>
            <article id="carrusel">
                  <div class="g"></div>
            </article>
            <article id="apartado1">
                  <div class="child3">
                        <div class="c1"></div>
                        <div class="c1a">
                              <div class="c1aa"></div>
                              <div class="c1ab"></div>
                              <div class="c1ac">
                                    <div class="c1ac1"></div>
                                    <div class="c1ac2"></div>
                                    <div class="c1ac3"></div>
                              </div>
                        </div>
                  </div>
                  <div class="child4">
                        <div class="c2"></div>
                        <div class="c2a">
                              <div class="c2aa"></div>
                              <div class="c2ab"></div>
                              <div class="c2ac">
                                    <div class="c2ac1"></div>
                                    <div class="c2ac2"></div>
                                    <div class="c2ac3"></div>
                              </div>
                        </div>
                  </div>
                  <div class="child5">
                        <div class="c3"></div>
                        <div class="c3a">
                              <div class="c3aa"></div>
                              <div class="c3ab"></div>
                              <div class="c3ac">
                                    <div class="c3ac1"></div>
                                    <div class="c3ac2"></div>
                                    <div class="c3ac3"></div>
                              </div>
                        </div>
                  </div>
            </article>     

            <article id="apartado2">
                        <div class="child6">
                              <div class="ch6a"></div>
                        </div>
                        <div class="child7">
                              <div class="ch7a">
                                    <div class="ch7a1"></div>
                                    <div class="ch7a2"></div>
                              </div>
                              <div class="ch7b"></div>
                              <div class="ch7c">
                                   <div class="ch7b1"></div>
                                   <div class="ch7b2"></div>
                                   <div class="ch7b3"></div> 
                              </div>
                        </div>
                  </div>      
             </article>  

             <article id="apartado3">
                  <div class="child8">
                        <div class="ch8a"></div>
                        <div class="ch8b"></div>
                        <div class="ch8c"></div>
                        <div class="ch8d"></div>
                        <div class="ch8e"></div>
                        <div class="ch8f"></div>
                        <div class="ch8g"></div>
                        <div class="ch8h"></div>

                  </div>
                  <div class="child9">
                        <div class="ch9a"></div>
                        <div class="ch9b">
                              <div class="ch9b1"></div>
                        </div>
                  </div>
     
             </article>                 
                       
            </article>

            </article>
      </section>
      <footer>
            <footer id="fin">
                  <div class="child10"></div>
                  <div class="child11">
                        <div class="ch11a">
                              <div class="ch11a1"></div>
                              <div class="ch11a2"></div>
                              <div class="ch11a3"></div>
                              <div class="ch11a4"></div>

                        </div>
                  </div>
                  
            </footer>
      </footer>	
</body>
</html>
