<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Beatriz</title>
	<link rel="stylesheet" href="../css/Beatriz.css">
</head>
<body>
      <header id="menu">
      	   <div class="child1">
      	   	   <div class="a"></div>
      	   	   <div class="b"></div>
      	   </div>
      	   <div class="child2">
      	   	    <div class="c"></div>
      	   	    <div class="d"></div>
      	   	    <div class="e"></div>
      	   	    <div class="f"></div>
      	   </div>
      </header>
      <section>
            <article id="carrusel">
                  <div class="g"></div>
            </article>
            <article id="apartado1">
                  <div class="child3">
                        <div class="c1"></div>
                        <div class="c1a">
                              <div class="c1aa"></div>
                              <div class="c1ab"></div>
                              <div class="c1ac">
                                    <div class="c1ac1"></div>
                                    <div class="c1ac2"></div>
                                    <div class="c1ac3"></div>
                              </div>
                        </div>
                  </div>
                  <div class="child4">
                        <div class="c2"></div>
                        <div class="c2a">
                              <div class="c2aa"></div>
                              <div class="c2ab"></div>
                              <div class="c2ac">
                                    <div class="c2ac1"></div>
                                    <div class="c2ac2"></div>
                                    <div class="c2ac3"></div>
                              </div>
                        </div>
                  </div>
                  <div class="child5">
                        <div class="c3"></div>
                        <div class="c3a">
                              <div class="c3aa"></div>
                              <div class="c3ab"></div>
                              <div class="c3ac">
                                    <div class="c3ac1"></div>
                                    <div class="c3ac2"></div>
                                    <div class="c3ac3"></div>
                              </div>
                        </div>
                  </div>

             </article>
      </section>
      <footer></footer>	
</body>
</html>
