<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>daryl</title>
	<link rel="stylesheet" href="../css/
	daryl.css">
</head>
<body>
	<header id="menu">
		<div class="child1">
			<div class="a"></div>
		    <div class="b"></div>
		 </div>
	     <div class="child2">
	        <div class="c"></div>
	        <div class="d"></div>
	        <div class="e"></div>
	        <div class="f"></div>
	      </div>
	      <div class="m2">
	      </div>
	      <div class="m3">
	      	<div class="m3a"></div>
	      	<div class="m3b"></div>
	      	<div class="m3b1"></div>
	      	<div class="m3c"></div>
	      	<div class="m3d"></div>
	      	</div>
	      	<div class="m4">

	      	

	      </div>


	  </header>

	<section></section>

	<footer></footer>	
</body>
</html>