<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Grecia Martínez</title>
	<link rel="stylesheet" href="../css/GreciaMartínez.css">
</header>
<body>
     <header id="menu">
     	 <div class="child1">
     	 	<div class="a"></div>
     	 	<div class="b"></div>
     	 </div>
     	 <div class="child2">
     	    <div class="c"></div>
     	    <div class="d"></div>
     	    <div class="e"></div>
     	    <div class="f"></div>
          </div>
     </header>

     <section>
          <section id="padre">
               <div class="general">
                    <div class="child3"></div>
               </div>
               <div class="child4">
                    <div class="hijo1"></div>
                    <div class="hijo2"></div>
</div>


         
    </section>

     <footer></footer>	
</body>
</html>