<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 2</title>
	<link rel="stylesheet" href="../../css/michellec2.css">
</head>
<body>
	<header>
		<article>
			<div class="hijo1">
				<div class="a"></div>
				<div class="b">
					<div class="b1"></div>
					<div class="b2"></div>
					<div class="b3"></div>
					<div class="b4"></div>
				</div>
			</div>
		</article>
		<article>
			<div class="hijo2">
				<div class="c">
					<div class="c1"></div>
				</div>
				<div class="d">
					<div class="d1"></div>
					<div class="d2"></div>
					<div class="d3"></div>
					<div class="d4"></div>
					<div class="d5"></div>
				</div>
			</div>
		</article>
	</header>
	<section>
		<article>
			<div class="hijo3"></div>
			<div class="hijo4"></div>
			<div class="hijo5">
				<div class="e">
					<div class="ea">
						<div class="ea1"></div>
						<div class="ea2"></div>
						<div class="ea3">
							<div class="ea3a"></div>
						</div>
					</div>
				</div>
				<div class="f"></div>
			</div>
		</article>
		<article>
			<div class="hijo6"></div>
			<div class="hijo7">
				<div class="g">
					<div class="g1">
						<div class="g1a"></div>
						<div class="g1b"></div>
						<div class="g1c">
							<div class="g1c1"></div>
						</div>
					</div>
				</div>
				<div class="h"></div>
			</div>
		</article>
		<article>
			<div class="hijo8">
				<div class="i">
					<div class="i1"></div>
					<div class="i2"></div>
					<div class="i3"></div>
				</div>
				<div class="j">
					<div class="j1"></div>
					<div class="j2"></div>
					<div class="j3"></div>
				</div>
			</div>
		</article>
	</section>
</body>
</html>