<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 2</title>
	<link rel="stylesheet" href="../../css/michellec2.css">
</head>
<body>
	<header>
		<article>
			<div class="hijo1">
				<div class="a"></div>
				<div class="b">
					<div class="b1"></div>
					<div class="b2"></div>
					<div class="b3"></div>
					<div class="b4"></div>
				</div>
			</div>
		</article>
		<article>
			<div class="hijo2">
				<div class="c">
					<div class="c1"></div>
				</div>
				<div class="d">
					<div class="d1"></div>
					<div class="d2"></div>
					<div class="d3"></div>
					<div class="d4"></div>
					<div class="d5"></div>
				</div>
			</div>
		</article>
	</header>
	<section>
		<article>
			<div class="hijo3"></div>
			<div class="hijo4"></div>
			<div class="hijo5">
				<div class="e">
					<div class="e1"></div>
					<div class="e2"></div>
					<div class="e3">
						<div class="e3a"></div>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="hijo6"></div>
			<div class="hijo7">
				<div class="f">
					<div class="f1">
						<div class="f1a"></div>
						<div class="f1b"></div>
						<div class="f1c">
							<div class="f1c1"></div>
						</div>
					</div>
				</div>
				<div class="g"></div>
			</div>
		</article>
	</section>
</body>
</html>