<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 2</title>
</head>
<body>
	<header>
		<div class="hijo1">
			<div class="1a"></div>
			<div class="1b">
				<div class="1b1"></div>
				<div class="1b2"></div>
				<div class="1b3"></div>
				<div class="1b4"></div>
			</div>
		</div>
		<div class="hijo2">
			<div class="2a">
				<div class="2a1"></div>
				<div class="2a2"></div>
			</div>
			<div class="2b">
				<div class="2b1"></div>
				<div class="2b2"></div>
				<div class="2b3"></div>
				<div class="2b4"></div>
				<div class="2b5"></div>
			</div>
		</div>
	</header>
</body>
</html>