<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Laboratorio</title>
	<link rel="stylesheet" href="../../css/michellec_lab.css">
</head>
<body>
	<header>
		<article>
			<div class="child1">
				<div class="a"></div>
				<div class="b">
					<div class="b1"></div>
					<div class="b2"></div>
					<div class="b3"></div>
					<div class="b4"></div>
					<div class="b5"></div>
				</div>
			</div>
		</article>
		<article>
			<div class="child2">
				<div class="c">
					<div class="c1"></div>
				</div>
				<div class="d">
					<div class="d1"></div>
					<div class="d2"></div>
					<div class="d3"></div>
					<div class="d4"></div>
					<div class="d5"></div>
					<div class="d6"></div>
					<div class="d7"></div>
				</div>
			</div>
		</article>
	</header>
	<section>
		<article>
			<div class="child3">
				<div class="e">
					<div class="e1">
						<div class="e1a"></div>
						<div class="e1b"></div>
						<div class="e1c">
							<div class="e1c1"></div>
						</div>
					</div>
				</div>
				<div class="f"></div>
			</div>
		</article>
		<article>
			<div class="child4">
				<div class="g"></div>
				<div class="h">
					<div class="h1">
						<div class="h1a"></div>
						<div class="h1b"></div>
						<div class="h1c">
							<div class="h1c1"></div>
						</div>
					</div>
					<div class="h2">
						<div class="h2a"></div>
						<div class="h2b"></div>
						<div class="h2c">
							<div class="h2c1"></div>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="child5">
				<div class="i">
					<div class="i1"></div>
				</div>
				<div class="j">
					<div class="j1">
						<div class="j1a">
							<div class="j1a1"></div>
							<div class="j1a2"></div>
						</div>
					</div>
					<div class="j2">
						<div class="j2a">
							<div class="j2a1"></div>
							<div class="j2a2"></div>
						</div>
					</div>
				</div>
				<div class="k"></div>
			</div>
		</article>
		<article>
			<div class="child6">
				<div class="l"></div>
				<div class="m"></div>
			</div>
		</article>
		<article>
			<div class="child7">
				<div class="n"></div>
				<div class="ñ"></div>
				<div class="o"></div>
			</div>
		</article>
		<article>
			<div class="child8">
				<div class="p">
					<div class="p1"></div>
					<div class="p2"></div>
					<div class="p3"></div>
					<div class="p4"></div>
					<div class="p5"></div>
					<div class="p6"></div>
					<div class="p7"></div>
					<div class="p8"></div>
					<div class="p9"></div>
					<div class="p10"></div>
				</div>
				<div class="q">
					<div class="q1">
						<div class="q1a"></div>
					</div>
				</div>
				<div class="r">
					<div class="r1">
						<div class="r1a"></div>
					</div>
				</div>
			</div>
		</article>
	</section>
	<footer>
		<div class="child9">
			<div class="s">
				<div class="s1">
					<div class="s1a"></div>
				</div>
				<div class="s2">
					<div class="s2a"></div>
				</div>
			</div>
			<div class="t">
				<div class="t1"></div>
				<div class="t2"></div>
			</div>
		</div>
	</footer>
</body>
</html>