<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Michelle Córdova</title>
	<link rel="stylesheet" href="../../css/michellec_mailer.css">
</head>
<body>
<div id="contenedor">
	<header id="header">
		<div class="cl1">
			<img src="../../img/icon.gif" class="img_center" width="70" height="70" alt="">
		</div>
		<div class="cl2">
			<div class="text_3">
				<h3>CREATING</h3>
			</div>
			<div class="text_1">
				<h1>Responsive Email Magic</h1>
			</div>
		</div>
	</header>
	<section>
		<article name="art1">
			<div class="intro">
				<h2>WELCOME TO OUR RESPONSIVE EMAIL!</h2>
				<br/>
				<p>
					It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 
				</p>
			</div>
		</article>
		<article class="intro" name="art2">
			<div class="cl3">
				<div class="img2"></div>
			</div>
			<div class="cl4">
				<div class="parrafo">
					<p>
						It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has.
					</p>
				</div>
				<div class="btn">
					<button>Claim yours!</button>
				</div>
			</div>
		</article>
		<article name="art3">
			<div class="fondo">
				<div class="img3"></div>
			</div>
		</article>
		<article name="art4">
			<div class="caja_de_texto">
				<p>
					It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has.
				</p>
			</div>
		</article>
	</section>
	<footer id="footer">
		<div class="cl5">
			<p>
				Someone, Somewhere 2013
				<br/>
				<u>Unscribe</u> from this newletter
			</p>
		</div>	
		<div class="cl6">
			<div class="hijo">
				<div class="img4"></div>
			</div>
			<div class="hijo2">
				<div class="img5"></div>
			</div>
		</div>
	</footer>
</div>
</body>
</html>