<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Michelle Córdova</title>
	<link rel="stylesheet" href="../../css/michellec_tarea3.css">
</head>
<body>
	<div id="contenedor">
		<header id="encabezado">
			<div class="child1">
				<div class="img1"></div>
			</div>
			<div class="child2">
				<div class="texto1">
					<h1>Coffee Great Plain "GOLD"</h1>
				</div>
				<div class="texto2">
					<p>our tradition is the best</p>
				</div>
			</div>
		</header>
		<section></section>
		<footer></footer>
	</div>
</body>
</html>