<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 1</title>
	<link rel="stylesheet" href="../../css/michellec.css">
</head>
<body>
	<header>
		<div class="child1"> 
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	</header>
	<section>
		<article>
			<div class="child3"></div>
			<div class="child4"></div>
		</article>
		<article>
			<div class="child5">
				<div class="g">
					<div class="g1"></div>
					<div class="g2">
						<div class="g2a"></div>
						<div class="g2b"></div>
						<div class="g2c">
							<div class="g2c1"></div>
						</div>
					</div>
				</div>
				<div class="h">
					<div class="h1"></div>
					<div class="h2">
						<div class="h2a"></div>
						<div class="h2b"></div>
						<div class="h2c">
							<div class="h2c1"></div>
						</div>
					</div>
				</div>
				<div class="i">
					<div class="i1"></div>
					<div class="i2">
						<div class="i2a"></div>
						<div class="i2b"></div>
						<div class="i2c">
							<div class="i2c1"></div>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="child6">
				<div class="j"></div>
				<div class="k">
					<div class="k1">
						<div class="k1a"></div>
						<div class="k1b"></div>
					</div>
					<div class="k2"></div>
					<div class="k3">
						<div class="k3a"></div>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="child7">
				<div class="l">
					<div class="l1"></div>
					<div class="l2"></div>
					<div class="l3"></div>
					<div class="l4"></div>
					<div class="l5"></div>
					<div class="l6"></div>
					<div class="l7"></div>
				</div>
				<div class="m">
					<div class="m1"></div>
					<div class="m2">
						<div class="m2a"></div>
					</div>
				</div>
			</div>
		</article>
	</section>
	<footer>
		<div class="child8">
			<div class="n"></div>
			<div class="o"></div>
		</div>
	</footer>
</body>
</html>