<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MichelleC Parcial</title>
	<link rel="stylesheet" href="../../css/michellec_parcial.css">
</head>
<body>
	<header id="encabezado">
		<div>
			<ul>
				<li><a href="#"><div class="img1"></div></a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
		<div>
			<button>Registro</button>
		</div>
	</header>
	<section></section>
	<footer></footer>
</body>
</html>