<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MichelleC Parcial</title>
	<link rel="stylesheet" href="../../css/michellec_parcial.css">
</head>
<body>
	<header id="encabezado">
		<div>
			<ul>
				<li><a href="#"><div class="img1"></div></a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
		<div>
			<button>Registro</button>
		</div>
	</header>
	<section>
		<article  class="child1">
			<div class="banner">
				<div class="a">
					<div class="img2"></div>
				</div>
				<div class="b">
					<div>
						<h1>We are Genius!!</h1>
					</div>
					<div>
						<p>It had been rumored for a while that the two artists had been working on a song for Bieber's new album
							<br>
						Purpose, but when the tracklistof the album was revelead it was oficially confirmed <br>
					The songs tell the story of the relationship, wich is being destoyed by rumors and hate. As a famous singer.</p>
					</div>
				</div>
			</div>
		</article>
		<article></article>
		<article></article>
		<article></article>
	</section>
	<footer></footer>
</body>
</html>