<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarea 4</title>
	<link rel="stylesheet" href="../../css/michellec_tarea4.css">
</head>
<body>
	<header id="menú">
		<div>
			<ul>
				<li><a href="#"><div class="img1"></div></a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</header>
	<section>
		<article class="child1">
			<div class="fondoimg2">
				<div class="a">
					<div class="img3"></div>
				</div>
				<div>
					<div class="texto1"></div>
				</div>
			</div>
		</article>
	<article></article>
	</section>
	<footer></footer>
</body>
</html>