<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>alexandra</title>
	<link rel="stylesheet" href="../../css/alexandra.css">
</head>
<body>
	 <header id="menu">
	 	<div class="child1">
	 		<div clss="a"></div>
	 	    <div class="b"> </div>
	 	</div>
	 	<div class="child2">
	 		<div class="c"></div>
	 		<div class="d"></div>
	 		<div class="e"></div>
	 		<div class="f"></div>
	 	</div>
	 	
	 </header>
		<section>
			<div class="chi3"></div>
			<div class="chi4"></div>
		</section>
		<section>
		<div class="chi5">
			<div class="g">
				<div class="chig"></div>
		        <div class="chig1"></div>
		        <div class="chig2"></div>
		        <div class="chig3">

		        	<div class="al"></div>
		        	<div class="ex"></div>
		        	

		        </div>
		    </div>   
			<div class="h">
			    <div class="chi1h"></div>
		        <div class="chi2h"></div>
		        <div class="chi3h"></div>
		            <div class="chi4h">
		        	<div class="al1"></div>
		        	<div class="ex1"></div>
		        	
		        </div>
		    </div>
		    <div class="i">
			    <div class="chii"></div>
		        <div class="chi2i"></div>
		        <div class="chi3i"></div>
		        <div class="chi4i">
		        	<div class="al2"></div>
		        	<div class="ex2"></div>
		        	
		        </div>
		    </div>    
		</div>	
		</section>

		  <section>
			<div class="raiz">
		<article>
		    	<div class="hi6">
		    	</div>
		</article>
		<article>
		    	<div class="hi7">
			   	 <div class="j"></div>
		       	 <div class="k">
		    	 	   <div class="chi1k"></div>
		          	  <div class="chi2k"></div>
		       	 </div>
		       	 <div class="l"></div>
		        	<div class="m"></div>
		       		<div class="n"></div>
			</div>
		</article>
		</div>
					</section>





