<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>alexandra</title>
	<link rel="stylesheet" href="../../css/tarea1.css">
</head>
<body>
	<header>
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	</header>

	 <section>
			<div class="chi3"></div>
			<div class="chi4"></div>
		</section>
		<section>
		<div class="chi5">
			<div class="g">
				<div class="chig"></div>
		        <div class="chig1"></div>
		        <div class="chig2"></div>
		        <div class="chig3">
		        	<div class="al"></div>
		        	<div class="ex"></div>
		        	<div class="an"></div>
		        </div>
		    </div>   
			<div class="h">
			    <div class="chih"></div>
		        <div class="chih1"></div>
		        <div class="chih2"></div>
		        <div class="chih3">
		        	<div class="al1"></div>
		        	<div class="ex1"></div>
		        	<div class="an1"></div>
		        </div>
		    </div>
			<div class="i">
			    <div class="ch1i"></div>
		        <div class="ch2i"></div>
		        <div class="ch3i"></div>
		        <div class="ch4i">
		        	<div class="al2"></div>
		        	<div class="ex2"></div>
		        	
		        </div>
		    </div>    
		</div>	
		</section>
		<section>
			<div class="raiz">
		<article>
		    	<div class="ch6">
		    	</div>
		</article>
		<article>
		    	<div class="ch7">
			   	 <div class="j"></div>
		       	 <div class="k">
		    	 	   <div class="chk"></div>
		          	  <div class="chk1"></div>
		       	 </div>
		       	 <div class="chk2"></div>
		        	<div class="chk3"></div>
		       		<div class="chk4"></div>
			</div>
		</article>
		</div>
					</section>
								<section>
		    <div class="raices">
        	<article>
	        <div class="ra1">
	    	<div class="ra2"></div>
		     <div class="ra3">
		          <div class="ra4"></div>
		           <div class="ra5"></div>
		        	</div>   
		        	    <div class="ra6">
		        	    <div class="ra7"></div>
		            	<div class="ra8"></div>
		        	    </div>    
		        	    <div class="r">
		        	    <div class="r1"></div>
		        	    <div class="r2"></div>
	            	</div>
	            	<div class="r3"></div>
	        </div>  
	    </article>
	    <article>
  		        <div class="s1">
			    <div class="s2"></div>
			    <div class="s3"></div>
			    <div class="s4"></div>
		    	<div class="s5">
			        <div class="s6"></div>
			        <div class="s7"></div>
			        <div class="s8"></div>
                </div>

                    <div class="ja "></div>
		           </div>
		           </article>
	               </div>
			       </section>

              
			
	<footer>
		<div class="oraices">
		    <div class="o1"></div>
		    <div class="o2">
			    <div class="o3">
			        <div class="o4"></div>
			        <div class="o5">
			         <div class="pie"></div>
			        	<div class="pie1"></div>
			        	<div class="pie2"></div>
			            </div>
			        <div class="o6"></div>
			   	    <div class="o7 "></div>
         	      </div>
				<div class="pie3"></div>
				<div class="pie4"></div>
			</div>
		</div>
	</footer>












</body>
</html>




	 
