<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alexandraosegueda_parcial</title>
	<link rel="stylesheet" href="../../css/alexandraosegueda_parcial.css">
</head>
<body>
	<header>
		<div class="icon">
			<div class="img1"></div>
			
		</div>
		<div>

			<ul id="menu">

				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</header>

	<section>
		<article>

			<div class="grande">
			<div class="img2">

			<div class="cl2">
					<div>
						<h1>We are Genius!!</h1>
						
						<p>
							It had been rumored for a while Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
							<br><br>
							 Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

						</p>
						<br>
						<div><button>Know more</button>
							<button>Contact Us</button>
							<button>Download</button>
							<button>send Us</button>
						</div>
					</div>
				</div>
				<div class="mujer">
			    <div class="img3"></div>
		</div>
		</div>
		</div>
	</article>
	</section>

	<section>
		<article>
			<div class="papa">
				<div claa="hijo">
					
				</div>
			</div>
		</article>
	</section>
</body>
</html>