<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>alexandra</title>
	<link rel="stylesheet" href="../../css/alexandra.css">
</head>
<body>
	 <header id="menu">
	 	<div class="child1">
	 		<div clss="a"></div>
	 	    <div class="b"> </div>
	 	</div>
	 	<div class="child2">
	 		<div class="c"></div>
	 		<div class="d"></div>
	 		<div class="e"></div>
	 		<div class="f"></div>
	 	</div>
	 	
	 </header>
		<section>
			<div class="chi3"></div>
			<div class="chi4"></div>
		</section>
		<section>
		<div class="chi5">
			<div class="g">
				<div class="chig"></div>
		        <div class="chig1"></div>
		        <div class="chig2"></div>
		        <div class="chig3">

		        	<div class="al"></div>
		        	<div class="ex"></div>
		        	

		        </div>
		    </div>   
			<div class="h">
			    <div class="chi1h"></div>
		        <div class="chi2h"></div>
		        <div class="chi3h"></div>
		            <div class="chi4h">
		        	<div class="al1"></div>
		        	<div class="ex1"></div>
		        	
		        </div>
		    </div>
		    <div class="i">
			    <div class="chii"></div>
		        <div class="chi2i"></div>
		        <div class="chi3i"></div>
		        <div class="chi4i">
		        	<div class="al2"></div>
		        	<div class="ex2"></div>
		        	
		        </div>
		    </div>    
		</div>	
		</section>

		  <section>
			<div class="raiz">
		<article>
		    	<div class="hi6">
		    	</div>
		</article>
		<article>
		    	<div class="hi7"> 
			   	 <div class="j"></div>
		       	 <div class="k">
		    	 	   <div class="hi1k"></div>
		          	  
		       	 </div>
		    

		       	 <div class="l"></div>
		        	<div class="m"></div>
		       		<div class="n"></div>
			</div>
		</article>
		</div>
					</section>
		<section>
		<div class="grande">
        	<article>
	        <div class="hi8">
	    	    <div class="o"></div>
		       		<div class="p">
		            	<div class="hip"></div>
		            	<div class="hi1p"></div>
		        	</div>   
		        	<div class="q">
		        	    <div class="hiq"></div>
		            	<div class="hiq1"></div>
		        	</div>    
				<div class="r">
		        	    <div class="hir"></div>
		        	    <div class="hir2"></div>
	            	</div>
	            	<div class="s"></div>
	        </div>  
	    </article>
	    <article>
  		    <div class="hinu">
			    <div class="t"></div>
			    <div class="u"></div>
			    <div class="v"></div>
		    	<div class="w">
			      
			        
			        <div class="hiw2"></div>

			            <div class="x"></div>
		    </div>
		    </article>
	</div>
			 </section>

	<footer>
		<div class="raai">
		    <div class="ra1"></div>
		    <div class="ra2">
			    <div class="y">

			    	
			        <div class="ni1"></div>
			        <div class="ni2">
			        	<div class="sec1"></div>
			        	<div class="sec2"></div>
			        	<div class="sec3"></div>
			        </div>
			        <div class="ni3"></div>
			   	    <div class="ni4"></div>
         	   </div>
				<div class="z"></div>
				<div class="z1"></div>
			</div>
		</div>
	</footer>
</body>
</html>









https://htmlcolorcodes.com/es/selector-de-color/