<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alexandraosegueda_parcial</title>
	<link rel="stylesheet" href="../../css/alexandraosegueda_parcial.css">
</head>
<body>
	<header>
		<div class="icon">
			<div class="img"></div>
			
		</div>
		<div>

			<ul id="menu">

				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</header>

	<section>
		<article>

			<div class="grande">
			<div class="img2">

			<div class="cl2">
					<div>
						<h1>We are Genius!!</h1>
						
						<p>
							It had been rumored for a while Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
							<br><br>
							 Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

						</p>
						<br>
						<div><button>Know more</button>
							<button>Contact Us</button>
							<button>Download</button>
							<button>send Us</button>
						</div>
					</div>
				</div>
				<div class="mujer">
			    <div class="img3"></div>
		</div>
		</div>
		</div>
	</article>
	</section>

	<section>
		<article>
			<div id="art2">
				<div name="1">
					<div class="cl3">
						<div class="img2"></div>
					</div>
						<div class="cl4">
							<h2>IFrontEnd</h2>
							<hr>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
							<br><br> 
								usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo.
                            </p>
						</div>
					</div>
				<div name="2">
					<div class="cl3">
						<div class="img3"></div>
					</div>
						<div class="cl4">
							<h2>Web Service</h2>
							<hr>
							<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
							<br><br> usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo.
                            </p>
						</div>
					</div>
             <div name="3">
					<div class="cl3">
						<div class="img4"></div>
					</div>
						<div class="cl4">
							<h2>DataGuard</h2>
							<hr>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <br><br>
								 usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo.
                            </p>
						</div>
					</div>
					
				</div>
			
				
		</article>
	</section>
</body>
</html>