<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>laboratorio</title>
	<link rel="stylesheet" href="../../css/alexandra_lab.css">
</head>
<body>
<header>
<div class="inicio">
	<div class="in1"></div>
	<div class="in2"></div>
	<div class="in3"></div>
	<div class="in4"></div>
	<div class="in5"></div>
	

</div>

    <div class="inicio2">
	<div class="in6"></div>
	<div class="in7"></div>
	<div class="in8"></div>
	<div class="in9"></div>
	<div class="in10"></div>
	<div class="in11"></div>
	<div class="in12"></div>
	<div class="in13"></div>
	<div class="in14"></div>

</div>
</header>
<section>
	<div class="caja"> 
	<div class="ca1"></div>
	<div class="ca2"></div>
	<div class="ca3"></div>
	<div class="ca4"></div>


	</div>
</section>
<section>
 <div class="caja2">
 <div class="c1"></div>
 <div class="c2">

 <div class="hijoc2"></div>
 <div class="hijoc3"></div>
 <div class="hijoc4">
 <div class="hijodc4"></div>
 </div></div>
 <div class="c3">
 <div class="hijo1"></div>
 <div class="hijo2"></div>
 <div class="hijo3">
 <div class="hijo4"></div>
 </div></div>
 </div>

 <section>
 	<article>
 		<div class="grande">
 			<div class="gran">
 			<div class="sep"></div>
 			<div class="cua1"></div>
 			<div class="cua2">
 			<div class="hcua2">
 			<div class="hcuaa">
 			<div class="haa"></div>
 			<div class="hay"></div>
 			</div>
 			<div class="hayi"></div>
 			<div class="hayi1"></div>
 			<div class="hayi2">
 			<div class="hayi3"></div>
 			<div class="hayi4"></div>
 				
 			</div>
 			</div>	
 			</div>	
 			</div>
 		    </div>
 		

 	</article>
 </section>
 <section>
 	<article>
 		<div class="sec4">
 	    <div class="sec5"></div>
 	    <div class="sec6"></div>
 	    <div class="sec7"></div>
 			

 		</div>
 	</article>
 </section>




 	
    
 	
 	</div>


	
</section>


	
</body>
</html>