<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tarea4_alexandra</title>
	<link rel="stylesheet" href="../../css/tarea4_alexandra.css">
</head>
<body>
	<header>
		<div class="cam">
			<div class="img1"></div>
			
		</div>
		<div>

			<ul id="menu">

				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact Us</a></li>
				</ul>
	</header>

	<section>
		<article>
			<div class="fot">
			<div class="img2">
				<div class="hombre">
			    <div class="img3">
				</div>
				</div>
				<div class="cl2">
					<div>
						<h1>Discover Our Brand</h1>
						
						<p>
							It had been rumored for a while Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
							<br><br>
							 Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
							 Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

						</p>
						<br>
						<div><button>Know more</button>
							<button>Contact Us</button>
							<button>Download</button>
				</div>			
				</div>
				</div>
		</article>
	</section>
           <section>
           	<article>
           		
             <div id="ar1">
             	<div class="arti1">
				<div name="se1">
					<div class="cla">
					<div class="cle">
					<div class="img4"></div>
						</div>
						<div class="cli">
						    <h2>IFrontEnd</h2>
						    <hr>
					    </div>
					</div>

                  		<div class="clo">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
			             <br><br>
						<p> is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>


             	</div>
             	</div>
             	</div>

             	<div class="arti1">
				<div name="se2">
					<div class="cla">
					<div class="cle">
					<div class="img5"></div>
						</div>
						<div class="cli">
						    <h2>Web Services</h2>
						    <hr>
					    </div>
					</div>

                  		<div class="clo">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
			            <br><br>
						<p> is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>


             	</div>
             	</div>
             	</div>
                    
                    <div class="arti1">
				<div name="se3">
					<div class="cla">
					<div class="cle">
					<div class="img6"></div>
						</div>
						<div class="cli">
						    <h2>DataGuard</h2>
						    <hr>
					    </div>
					</div>

                  		<div class="clo">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
			            <br><br>
						<p> is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>


             	</div>
             	</div>
             	</div>
                   
                   <div class="arti1">
				<div name="se4">
					<div class="cla">
					<div class="cle">
					<div class="img7"></div>
						</div>
						<div class="cli">
						    <h2>Tecno-In</h2>
						    <hr>
					    </div>
					</div>

                  		<div class="clo">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
			            <br><br>
						<p> is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>


             	</div>
             	</div>
             	</div>


             	</div>
             <section>
           	<article>
           		
             <div id="ar1">
             	<div class="arti1">
				<div name="se1">
					<div class="cla">
					<div class="cle">
					<div class="img4"></div>
						</div>
						<div class="cli">
						    <h2>IFrontEnd</h2>
						    <hr>
					    </div>
					</div>

                  		<div class="clo">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
			             <br><br>
						<p> is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>


             	</div>
             	</div>
             	</div>

             	<div class="arti1">
				<div name="se2">
					<div class="cla">
					<div class="cle">
					<div class="img5"></div>
						</div>
						<div class="cli">
						    <h2>Web Services</h2>
						    <hr>
					    </div>
					</div>

                  		<div class="clo">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
			            <br><br>
						<p> is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>


             	</div>
             	</div>
             	</div>
                    
                    <div class="arti1">
				<div name="se3">
					<div class="cla">
					<div class="cle">
					<div class="img6"></div>
						</div>
						<div class="cli">
						    <h2>DataGuard</h2>
						    <hr>
					    </div>
					</div>

                  		<div class="clo">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
			            <br><br>
						<p> is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>


             	</div>
             	</div>
             	</div>
                   
                   <div class="arti1">
				<div name="se4">
					<div class="cla">
					<div class="cle">
					<div class="img7"></div>
						</div>
						<div class="cli">
						    <h2>Tecno-In</h2>
						    <hr>
					    </div>
					</div>

                  		<div class="clo">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
			            <br><br>
						<p> is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>


             	</div>
             	</div>
             	</div>


             	</div>
	<footer id="fo">
		<p>OP11001
			<br>
			Alexandra Maria Osegueda Parada
			
		</p>
			
						    
			
	
	</footer>
	
</body>
</html>