<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tarea4_alexandra</title>
	<link rel="stylesheet" href="../../css/tarea4_alexandra.css">
</head>
<body>
	<header>
		<div class="cam">
			<div class="img1"></div>
			
		</div>
		<div>

			<ul id="menu">

				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact Us</a></li>
				</ul>
	</header>

	<section>
		<article>
			<div class="fot">
			<div class="img2">
				<div class="hombre">
			    <div class="img3">
				</div>
				</div>
				</div>
				</div>
		</article>
	</section>
	
</body>
</html>