<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>oseguedaalexandra</title>
	<link rel="stylesheet" href="../../css/tarea3.css">
</head>

<body>

<div id="contenedor">
<header id="header">
 <div class="cl1">
  <!-- PRIMERA FORMA -->

    <img src="../../img/logo-header.png" class="img_center" width="200" height="200">
  <!-- SEGUNDA FORMA -->
  
 </div>
 <div class="cl2">
 	<div class="text_3">
    <h2>Coffe Great Plain "GOLD"</h2>
  </div>
       <div class="text_1">
   <h5>our tradition is the best</h5> 
     </div>
 </div>
</header>
<section>
 <article name="art1">
  <div class="intro">
   <h4>Know about our history</h4>
   <br/>
   <p>
    On December 12,2002, the first Juan Valdez café store  opened its doors at the El Dorado international airport in Bogotá, with a dream story and great achievements for colombian premium coffe.
    <br/>
    <br/>
    the first international store was opened in the city of washington D.C<br/> we are currently in New York and continue to strongly develop our presence in and around Miami. 
   </p>
     </div>
     </article>

     <article id= "ardos">
        <div>
          <img class="cf1" src='../../img/img1.png'>
        </div>
        <div class="cf2">

                  <div class="cf3">
            <h2>Discover Your Perfect Cup</h2>
          </div>
          <div class="cf4">
            <h3>
              We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.
            </h3>
          </div>
          <div class="cf5">
            <h5>..this is a great cafe</h5>
          </div>
        </div>
       </article>

       <article id="ar3">
       	<div class="l1">
       	<div class="l2">
       		<h2>First Shop Origins...</h2>
       		</div>
       		<div class="l3">
       		<h4>
       			In 2013 we inaugurate the first origins
       			store and began the development of a new
       			experience. The way for the creation of the
       			perfect cup.
       		</h4>
       			</div>
       		    </div>

       		    <div class="te1">
       		    <div class="te2">
       		    	<h2>Our design...</h2>	
       		    </div>
       		    <div class="te3">
       		    	<h4>
       		    		The design of the store and the variety of colognes of Colombian origin prepared with new methods paved.
       		    	</h4>
       		    	
       		    </div>
       		    </div>
       
       </article>






 
	
</body>
</html>