<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tarea2ale</title>
	<link rel="stylesheet" href="../../css/alexandra.css">
</head>
<body>
 <header> 
	 	<div class="cd1">
	 		<div class="a1"></div>
			<div class="b2">
				
	 		    <div class="be"></div>
	 		    <div class="bi"></div>
	 		    <div class="bo"></div>
                   </div>
		         </div>

	 	    	 	   
	 	<div class="child2">
	 		    <div class="chi3"></div>
	 		    <div class="chi4"></div>
	 		    <div class="chi5"></div>
	 		    <div class="chi6"></div>
	 		    <div class="chi7"></div>
	 		    <div class="chi8"></div>
	 		    <div class="chi9"></div>
	 		    <div class="chi10"></div>
</div>
	 	
	 </header>
	         <div class="fran1"></div>
	         <div class="fran2"></div>
 
 	        <section>
	  	     <article> 
	  	     <div class="chd">
	  	     <div class="chd1">
	  	     <div class="hchd1"></div>
	  	     <div class="hchd2"></div>
	  	     <div class="chd2"></div>
	  	     </div>
	  	     <div class="chd3"></div>
	  	     </div>
	  	   </article>
           </section>

           <section>
	  	     <article> 
	  	     
	  	     <div class="chd4">
	  	     <div class="chd5">
	  	     <div class="chd6"></div>
	  	     <div class="chd7"></div>
	  	     <div class="chd8"></div>
	  	     <div class="chd9"></div>
	  	     <div class="chd10"></div>
	  	     <div class="chd11"></div>
	  	     <div class="chd12"></div>
	         </div>
	  	     </div>
	  	     
	  	    
	       </article>
           </section>

           <section>
	  	     <article>
	  	     	    <div class="chili">
	  	     		 <div class="chili1"></div>
	 		         <div class="chili2"></div>
	 		         <div class="chili3"></div>
	 		         <div class="chili4">
	 		         	<div class="chili5">
	 		         	<div class="chili51"></div>
	 		         	<div class="chili52"></div>
	 		         	</div>
	 		         	<div class="chili6">
	 		         	<div class="chili7"></div>
	 		         	<div class="chili71"></div>
	 		         	</div>
                        <div class="chili8">
                         <div class="chili9"></div>
                          <div class="chili10"></div>
                          </div>
                         
                          <div class="franji">
                           <div class="franji1"></div>
                            <div class="franji2"></div>
                             <div class="franji3"></div>
                             </div>
                             <div class="frar">
                             	<div class="chili5">
	 		         	        <div class="chili51"></div>
	 		         	        <div class="chili52"></div>
	 		         	        </div>

	 		         	<div class="chili6">
	 		         	<div class="chili7"></div>
	 		         	<div class="chili71"></div>
	 		         	</div>
	 		         	

	 		         	  <div class="chili8">
                          <div class="chili9"></div>
                          <div class="chili10"></div>
                          </div>
                          <div class="gra">
                          <div class="gra1"></div>
                          <div class="gra2">
                          <div class="gra3"></div>
                          <div class="gra4"></div>
                          <div class="gra5"></div>
                          <div class="gra6"></div>
                          </div>
                          </div>
                          <div class="gra7">
                          <div class="gra8"></div>
                          <div class="gra9"></div>	
                          </div>
                           <div class="lin">
                           	<div class="lin1"></div>
                           	<div class="lin2"></div>
                           	<div class="lin3"></div>
                           	<div class="lin4"></div>
                           	<div class="lin5"></div>
                           </div>
                           <div class="lin6"></div>





                          	
                  
                          </div>
                          </div>
                          </div>
                          
                          	
	 		         	  
                         </article>
	  	     	         </section>
                          
                          <section>
                          	<article>
                          	

                          	</article>
                          </section>
	  	     	         

	 		         	 

	 		             
	 		         
	 		                
	  	     	        

	  	     	         
	  	                   
	  	                   	        


	
</body>
</html>