<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tarea2ale</title>
	<link rel="stylesheet" href="../../css/alexandra.css">
</head>
<body>
 <header> 
	 	<div class="child1">
	 		<div class="a"></div>
			<div class="b">
				
	 		    <div class="be"></div>
	 		    <div class="bi"></div>
	 		    <div class="bo"></div>
                   </div>
		         </div>

	 	    	 	   
	 	<div class="child2">
	 		    <div class="chi3"></div>
	 		    <div class="chi4"></div>
	 		    <div class="chi5"></div>
	 		    <div class="chi6"></div>
	 		    <div class="chi7"></div>
	 		    <div class="chi8"></div>
	 		    <div class="chi9"></div>
	 		    <div class="chi10"></div>
</div>
	 	
	 </header>
 
 	<section>
	  	     <article> 
	  	     <div class="chd">
	  	     <div class="chd1">
	  	     <div class="chd2"></div>
	  	     </div>
	  	     </div>
	  	   </article>
           </section>

           <section>
	  	     <article> 
	  	     <div class="chd3">
	  	     <div class="chd5"></div>
	  	     <div class="chd6">
	  	     <div class="chd7"></div>
	         </div>
	  	     </div>
	  	     
	  	    
	       </article>
           </section>

           <section>
	  	     <article>
	  	     	<div class="chili">
	  	     		 <div class="chili1"></div>
	 		         <div class="chili2"></div>
	 		         <div class="chili3"></div>
	 		         <div class="chili4"></div>
	 		         	<div class="chili5"></div>
	 		         	<div class="chili6"></div>
	 		         	<div class="chili7"></div>
	 		         	</div>
	 		         	
               
               
	 		         <div class="chili8">
	 		         <div class="chili9"></div>
	 		         <div class="chili10"></div>
	 		         <div class="chili11"></div>
	 		         </div>
	 		                <div class="chili12"></div>
	 		         	    <div class="chili13"></div>
	 		         		<div class="chili14"></div>
	 		         		<div class="chili15"></div> 
	 		         				
	  	     	         </article>
	  	     	         </section>

	  	     	         <section>
	  	                 <article>  
	  	     	            <div class="pa"></div>
	  	     	         	
                         </article>
	  	     	         </section>
                          
	  	                   
	  	                   	        


	
</body>
</html>