<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Damaris_Tarea 4</title>
	<link rel="stylesheet"  href="../../css/damaris_tarea 4.css">
</head>

<body>
	<header>
		<div>
			<ul id="contenido1">
				<div class="imag1"></div>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact us</a></li>
				</div>
			</ul>
		</div>
	</header>

	<section>
		<article name="contenido2">
			<div class="c1">
				<div class="hombre"></div>
			</div>
			<div class="c2"></div>
			<div>
				<h2>Discover Our Brand</h2>	
					<br>
					<br>
					<p>Today, new technologies applied to knowledge, culture and solidary, give us more opportunities than ever to work successfully in the transformation of society. Fundatión Telefonica has been using them since 1998 to awaken thense ideas through projects that fight for social development and the creation of opportunities in Europe and Latin America.
					</p>
				</div>
				<div>
					<button>Know more</button>
					<button>Contact us</button>
					<button>Donwload</button>
				</div>
			</article>
		</section>

		<section class="contenido3">
		<div class="c3"></div>
		<div></div>
		<div></div>
		<div></div>
			
		
	</section>
	
</body>
</html>