<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Damaris_Tarea 4</title>
	<link rel="stylesheet"  href="../../css/damaris_tarea 4.css">
</head>

<body>
	<header>
		<div>
			<ul id="contenido1">
				<div class="imag1"></div>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact us</a></li>
				</div>
			</ul>
		</div>
	</header>