<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Parcial</title>
	<link rel="stylesheet" href="../../css/damaris_parcial.css">
</head>
<body>
	<header>
		<div class="seccion1">
			<ul id="menu">
				<li><a herf="#"></a><div class="logo"></div></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
				<button>Ingresar</button>
			</ul>
		</div>
	</header>
	<section id="imagengrande">
		<article class="imagen1">
			<div class="imagh1">
				<div class="imag"></div>
			</div>
			<div class="imagh2">
			</div>
			<div>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
			</div>
		</article>

	
	




	
</body>
</html>