<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>damaris_guiado</title>

	<link rel="stylesheet" type="text/css" href="../../css/damaris/bootstrap.css">
	<link rel="stylesheet" href="../../css/damaris/style_guiado.css">


	<style>
		#toTop{
			display: none;
			text-decoration: none;
			position: fixed;
			bottom: 14px;
			right: 3%;
			overflow: hidden;
			width: 40px;
			height: 40px;
			border: none;
			text-indent: 100%;
			background: url("../../img/to-top1.png") no-repeat 0px 0px;
		}
	</style>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark
		 bg-dark">
			<a class="navbar-brand" href="#">
				<img src="../../img/damaris_img/Logo_vector_blanco.png">
			<button class="navbar-toggler" type="button" 
			data-toggle="collapse" 
			data-target="#navbarNav" 
			aria-controls="navbarNav" 
			aria-expanded="false" 
			aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse float right" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#seccion1">3D</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#seccion2">UV MAPPING</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#seccion3">ILUSTRACION DIGITAL</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#seccion4">MASTER CLASS</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<section>
		<article name="carousel">
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" src="../../img/damaris_img/Carrusel4.png" alt="First slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="../../img/damaris_img/Carrusel1.png" alt="Second slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="../../img/damaris_img/Carrusel5.png" alt="Third slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="../../img/damaris_img/Carrusel2.png" alt="Quarter slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="../../img/damaris_img/Carrusel6.png" alt="Fifth slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="../../img/damaris_img/Carrusel3.png" alt="Sixth slide">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</article>
		<br>
		<article class="container" id="seccion1">
			<div class="row">
			<div class="col-lg-7">
				<hr>
				<h1 class="section-heading">3D</h1>
				<br>
				<p class="lead">Se puede visualizar como una imagen bidimensional mediante un proceso llamado renderizado 3D o utilizar en una simulación por computadora de fenómenos físicos. El modelo también se puede crear físicamente usando dispositivos de impresión 3D.
				Los modelos pueden ser creados automática o manualmente. El proceso manual de preparar la información geométrica para los gráficos 3D es similar al de las artes plásticas y la escultura.
				</p>
				<p class="lead">Los modelos 3D representan un objeto tridimensional usando una colección de puntos en el espacio dentro de un espacio 3D, conectados por varias entidades geométricas tales como triángulos, líneas, superficies curvas, etc. Siendo una colección de datos (puntos y otro tipo de información), los modelos 3D pueden ser hechos a mano, a través de algoritmos o bien escaneados.
				</p>
			</div>
			<div class="col-lg-5">
				<img src="../../img/damaris_img/PQ3.png" class="img-fluid">
			</div>
		</div>
	</article>

	<article class="container" id="seccion2">
			<div class="row">
				<div class="col-lg-5">
				<img src="../../img/damaris_img/PQ2.png" class="img-fluid">
			</div>
			<div class="col-lg-7">
				<hr>
				<h1 class="section-heading">UV MAPPING</h1>
				<br>
				<p class="lead">El mapeado de texturas establece cómo se sitúa la textura sobre el objeto al momento de proyectarse. Algunas texturas son tridimensionales y por lo general no necesitan un mapeado detallado ya que no se verán exactamente deformaciones o imperfectos. Cuando hay texturas de imagen bidimensionales existen una serie de inconvenientes. Cuando la textura es plana, el objeto no lo es. Se debe colocar de alguna manera esa figura “plana” sobre una superficie. Las técnicas de mapeado de texturas pueden ser de dos tipos:</p>

				<p class="lead">Coordenadas Ortogonales: éstas utilizan las propias coordenadas 3D de los objetos proyectados de forma automática. Aparentemente esta es la más sencilla ya que no necesita ninguna configuración adicional. Mapeado UV: se asigna una coordenada para cada vértice del objeto que más adelante se va a interponer.
				</p>
			</div>

	<article class="container" id="seccion3">
			<div class="row">
			<div class="col-lg-7">
				<hr>
				<h1 class="section-heading">ILUSTRACIÓN DIGITAL</h1>
				<br>
				<p class="lead">La ilustración digital es aquel trabajo de ilustración gráfica que ha sido creado usando tecnologías informáticas. Para ello el ilustrador usa ordenadores u otros dispositivos electrónicos con herramientas que le permiten dibujar como ratones, lápices ópticos, tabletas gráficas o pantallas táctiles, además de programas adecuados que le permiten crear una imagen que se guarda en un dispositivo digital de almacenamiento. No consiste en corregir una imagen o digitalizar y editar dibujos creados previamente con técnicas gráficas analógicas sino de crear directamente una imagen, si acaso tomando un boceto como punto de partida, en el entorno digital.
				</p>
				<p class="lead">La Ilustración digital se utiliza en casi todos los aspectos de diseño gráfico. Tanto para el diseño de web y software, como en la creación de carteles, camisetas, animación, y anuncios. Y pese a ello, ocasionalmente también suele mezclarse con las técnicas tradicionales, sobre todo en los libros y los cómics. También encontramos ilustraciones 3D, realizando un boceto previo, ilustración en 2D y renderizado en 3D. 
				</p>
			</div>
			<div class="col-lg-5">
				<img src="../../img/damaris_img/PQ1.png" class="img-fluid">
			</div>
		</div>
	</article>
		
			
		</div>
	</article>


	</section>
	<footer>
		<div >
			<div class="imagen">
				<img class="d-block w-100" src="../../img/damaris_img/footer_img.png">
			</div>
		</div>
		<div class="container-fluid bg-dark">
			<div class="row">
				<div class="col-lg-12">
					<br>
					<p class="text-white text-center"> Damaris Martínez ML14040
					</p>
				</div>
			</div>
		</div>
		<div name="top">
			<a href="#" id="toTop" style="display: block">
				<span id="toTopHover" style="opacity: 1"></span>
			</a>
		</div>  
	</footer>


<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/smooth-scroll.polyfills.js"></script>

<!--funcion de transicion parallax-->
<script>
	var scroll = new smooth-scroll('a[href*="#"]');
</script>

<!--funcion de carrusel-->
<script>
	$('.carousel').carousel({
  interval: 2000
})
</script>
	
</body>
</html>