<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Parcial</title>
	<link rel="stylesheet" href="../../css/damaris_parcial.css">
</head>
<body>
	<header>
		<div class="seccion1">
			<ul id="menu">
				<li><a herf="#"></a><div class="logo"></div></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
				<button>Ingresar</button>
			</ul>

		</div>
	</header>



	
</body>
</html>