<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>damaris_tarea 4</title>
	<link rel="stylesheet" href="../..css/damaris_tarea4.css">
</head>


<body>
	<header>
		<div>
			<ul id="cuadrouno">
				<div class="img1"></div>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our history</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact us</a></li>
	
</body>
</html>