<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarea_3_Damaris</title>
	<link rel="stylesheet" href="../../css/damaris_tarea3.css">
</head>
<body>
	<div class="cuadroprincipal">
		<header name="cuadroamarillo">
			<div class="let1">
				<div class="img1"></div>
			</div>
			<div class="let2">
				<h1>Coffe Great Plain "GOLD"</h1>
				<h3>our tradition is the best</h3>
			</div>
		</header>
		<section name="cuadrosecundario">
			<article name="seccion1">
				<div class="conocer">
					<h2>Know about our history</h2>
					<p>On december 12, 2002, the first Juan Valdez® Café store opened its doors at the El Dorado international airport in Bogotá, with a dream story and great achievements for Colombian premium coffee.</p>
					<br>
					<p>The firts international store was opened in the city of Whashinton D.C.<br>
				We are currently in New York and continue to strongly develop our presence in and around Miami.</p>
			</div>
		</article>
		<article id="seccion2">
			<div class="descubrir">
				<div class="img2"></div>
			</div>
			<div class="descubrirp">
				<h2>Discover Your Perfect Cup</h2>
				<p>We extend the experience to more stores, so that coffe lovers find their perfect cup enjoying the origins of espresso-based dinks.</p>
				<h3>...this is a great coffee</h3>
			
			</div>
		</article>
		<article id="seccion3">
			<div class="separador"></div>
			<div class="first">
				<h2>First Shop Origins...</h2>
				<p>
			<div class="our">
				<h2>Our design...</h2>
				<p>The design of the store and the variety of colognes of Colombian origin prepared with new methods paved.</p>
			</div>
		</article>
		<article id="seccion4">
			<img src="../../img/<article4.png" width="100%" height="325px">
		</article>
		<article id="seccion5">
			<div class="we">
				<h2>We Are Over 3'000.000 Of Friends On Facebook</h2>
				<p>With the opnening of Juan Valdez® coffee shops in different countries we have consolidated a digital comunity conected around the world that itneracts daily with the brand and motivates us to continue improving.</p>
			</div>


	
</body>
</html>