<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio2</title>
	<link rel="stylesheet" href="../../css/damaris_ejercicio2.css">
</head>
<body>

	<header id="menu">
		<div class="menu1">
			<div class="telefono"></div>
			<div class="numero"></div>
			<div class="compañeros"></div>
			<div class="entrar"></div>
		</div>

		<div class="menu2">
			<div class="home"></div>
			<div class="aboutus"></div>
			<div class="prodservic"></div>
			<div class="oilexperience"></div>
			<div class="contact"></div>
			<div class="log"></div>
		</div>
	</header>

	<section class="cintios">
		<article>
			<div class="cintio1"></div>
			<div class="cintio2"></div>
		</article>
	</section>
			

	
</body>
</html>