<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>framework_damaris</title>

	<link rel="stylesheet" type="text/css" href="../../css/damaris/bootstrap.css">
	<link rel="stylesheet" href="../../css/damaris/style.css">


	<style>
		#toTop{
			display: none;
			text-decoration: none;
			position: fixed;
			bottom: 14px;
			right: 3%;
			overflow: hidden;
			width: 40px;
			height: 40px;
			border: none;
			text-indent: 100%;
			background: url("../../img/to-top1.png") no-repeat 0px 0px;
		}
	</style>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<section></section>
	<footer></footer>


<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/smooth-scroll.polyfills.js"></script>
	
</body>
</html>