<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lab1_Damaris</title>
	<link rel="stylesheet" href="../../css/damarislab1.css">
</head>
<body>
	<header id="menu">
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
			<div class="c"></div>
			<div class="d"></div>
			<dic class="e"></dic>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	
	</header>
</head>

<body>
	
</body>
</html>