<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mailer</title>
	<link rel="stylesheet" href="../../css/damarismailer.css">
</head>
<body>
	<div class="contenedor">
		<header name="encabezado">
			<div class="cl1">
				<div class="img1"></div>
			</div>
			<div class="cl2">
				<div>
					<h3>CREATINGS</h3>
				</div>
				<div>
					<h1>Responsive Email Magic</h1>
				</div>
			</div>
		</header>		
		<section name="cuerpo">
			<article name="sec1">
				<div>
					<h2>WELCOME TO OUR RESPONSIVE EMAIL!</h2>
					<br>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</article>
			<article name="sec2">
				<div class="p13">
					<div class="img2"></div>
				</div>
				<div class="p14">
					<div>
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p> 
				</div>
			    <div>
			         <button>Clain Yours!</button>
			    </div>
			</div>

			</article>
			<article name="sec3"></article>
			<article name="sec4"></article>
		</section>
	

		<footer name="pie"></footer>

	</div>
	
</body>
</html>