<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>arturo_parcial</title>
	<link rel="stylesheet" href="../../css/arturo_parcial.css">
</head>
<body>
	<header>
		<div>
			<ul id="menu">
				<li><a>  <img src="../../img/icono_purple.png" height="22px" width="33px"></a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our service</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
				<button>Ingresar</button>
			</ul>
		</div>
	</header>
	<section>
		<article>
			  <div class="img1">
				<div class="texto">
					    <h2>We Are Genius!!</h2>
						<p>
						We extend the experience to more stores, so that coffe lovers find.
                        <br>
						their perfect cup enjoying the origins of espresso-based drinks.
						We extend the experience to more stores, so that coffe lovers find.
                        <br/>
						their perfect cup enjoying the origins of espresso-based drinks.
							We extend the experience to more stores, so that coffe lovers find.
                        <br>
						their perfect cup enjoying the origins of espresso-based drinks.
					    </p>
			    <div>
			    <button id="1">Know More</button>
			    <button id="1">Contact Us</button>
			    <button id="1">Download</button>
			    <button id="1">Send Us</button>
			    </div>
			    </div>
			    <div class="mujer">
			    	<div class="img2"></div>
			    </div>
			     
			     </div>
		</article>
		<article>
			<div id="art2">
				<div name="1">
						<div class="cl3">
							<div class="img3"></div>
						</div>
						<div class="cl4">
							<h2>IFront End</h2>
							<hr>
							<p>
								their perfect cup enjoying the origins of espresso-based drinks.
						We extend the experience to more stores, so that coffe lovers find.
							</p>
							<br>
						</div>
				</div>
				<div name="2">
						<div class="cl3">
							<div class="img4"></div>
						</div>
						<div class="cl4">
							<h2>Web Services</h2>
							<hr>
							<p>
								their perfect cup enjoying the origins of espresso-based drinks.
							We extend the experience to more stores, so that coffe lovers find. . 
						</div>
				</div>
				<div name="3">
						<div class="cl3">
							<div class="img5"></div>
						</div>
						<div class="cl4">
							<h2>Data Guard</h2>
							<hr>
							<p>
							We extend the experience to more stores, so that coffe lovers find. . 
								luctus pulvinar, hendrerit id, lorem. 
							</p>
						</div>
				</div>
		</article>
		<br>
		<article>
			<div class="art3">
			<div name="4">
						<div class="cl5">
							<div class="img6"></div>
						</div>
						<div class="cl4">
							<h2>Data Guard</h2>
							<hr>
							<p>
							We extend the experience to more stores, so that coffe lovers find. . 
								luctus pulvinar, hendrerit id, lorem. 
							</p>
						</div>
				</div>
				</div>
				<div name="5">
						<div class="cl5">
							<div class="img7"></div>
						</div>
						<div class="cl4">
							<h2>Data Guard</h2>
							<hr>
							<p>
							We extend the experience to more stores, so that coffe lovers find. . 
								luctus pulvinar, hendrerit id, lorem. 
							</p>
						</div>
				</div>
				<div name="6">
						<div class="cl5">
							<div class="img8"></div>
						</div>
						<div class="cl4">
							<h2>Data Guard</h2>
							<hr>
							<p>
							We extend the experience to more stores, so that coffe lovers find. . 
								luctus pulvinar, hendrerit id, lorem. 
							</p>
						</div>
				</div>
		</article>
	</section>
	<footer>
		<div>
			<p>SC13055</p>
			<div>
			<p>José Arturo Sánchez Castillo</p>
		</div>
		</div>
		</footer>
