<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>arturo_parcial</title>
	<link rel="stylesheet" href="../../css/arturo_parcial.css">
</head>
<body>
	<header>
		<div>
			<ul id="menu">
				<li><a>  <img src="../../img/icono_purple.png" height="22px" width="33px"></a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our service</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
				<button>Ingresar</button>
			</ul>
		</div>
	</header>
	<section>
		<article>
			  <div class="img1">
				<div>
					    <h2>We Are Genius!!</h2>
					    <br>
						<p>
						We extend the experience to more stores, so that coffe lovers find their perfect cup enjoying the origins of espresso-based drinks.
					    </p>
					    <br>
			    </div>
			    <div>
			    <button>Know More</button>
			    <button>Contact Us</button>
			    <button>Download</button>
			    <button>Send Us</button>
			    </div>
			    <div class="img2"></div>
			    </div>
		</article>
		<article>
			<div id="art2">
				<div name="1">
						<div class="cl3">
							<div class="img2"></div>
						</div>
						<div class="cl4">
							<h2>FrontEnd</h2>
							<hr>
							<p>
								luctus pulvinar, hendrerit id, lorem. 
							</p>
						</div>
				</div>
				<div name="2">
						<div class="cl3">
							<div class="img2"></div>
						</div>
						<div class="cl4">
							<h2>FrontEnd</h2>
							<hr>
							<p>
								luctus pulvinar, hendrerit id, lorem. 
							</p>
						</div>
				</div>
				<div name="3">
						<div class="cl3">
							<div class="img2"></div>
						</div>
						<div class="cl4">
							<h2>FrontEnd</h2>
							<hr>
							<p>
								luctus pulvinar, hendrerit id, lorem. 
							</p>
						</div>
				</div>
			</div>
		</article>
	</section>
