<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>arturomedia</title>
	<link rel="stylesheet" href="../../css/arturo_tarea3.css">
</head>
<body>
	<div class="contenedor">
	<header> 
		<div id="bannermenu">
			<div class="cl1">
			<div class="img1"></div>
			</div>
			<div class="cl2">
				<div>
					<h3>Coffee Great Plain "GOLD"</h3>
					<p>Our tradition is the best</p>
				</div>
			</div>
		</div>
	</header>
	<section>
		<article id="bannerbanner">
			<div class="cl3">
					<div>
						<h1>Know about our history</h1>
						<p>
							On December 12,2002, the first Juan Valdez Café store opened its doors at the El Dorado 
							International airport in Bogotá, with a dream story and great achievements for Colombian
							premium coffee.</p>
							<div class="cl3-2">
							<p>
							The first international store was opened in the city of Washinton D.C.
							We are currently in New York and
							continue to strongly develop our presence in and around Miami.
							</p>
							</div>
						</div>
					</div>
		</article>
		<article id="disco">
			<div class="cl4">
				<div class="cl5">
					<div class="img2"></div>
				</div>
						<h2>Discover Your Perfect Cup</h2>
						<p>We extend the experience to more stores, so that coffe lovers find their perfect cup enjoying the origins of espresso-based drinks.</p>
				</div>
			</div>
		</article>
	</section>
	<footer>
		<div class="pie">
			<div class="cl9">
				<div class="img4"></div>
			</div>
			<div class="cl10">
				<button>Join Now!</button>
			</div>
		</div>
	</footer>
	</div>
</body>
</html>