<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Arturo Sánchez Castillo</title>
	<link rel="stylesheet" href="../../css/Arturo.css">
</head>
<body>
	<header id="menu">
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	</header>
	<section>
		<div id="banner"></div>
		<div class="banner2"></div>
	</section>
	<section>
		<div id="seccion3">
			<div class="g">
				<div class="g1"></div>
				<div class="g2"></div>
				<div class="g3"></div>
				<div class="g4">
					<div class="gg1"></div>
				</div>
			</div>
			<div class="g">
				<div class="g1"></div>
				<div class="g2"></div>
				<div class="g3"></div>
				<div class="g4">
					<div class="gg1"></div>
				</div>
			</div>
			<div class="g">
				<div class="g1"></div>
				<div class="g2"></div>
				<div class="g3"></div>
				<div class="g4">
					<div class="gg1"></div>
				</div>
		</div>
	</section>
	<section>
		<div id="seccion4">
			<div class="h1">
			</div>
			<div class="h2">
				<div class="hh1"></div>
				<div class="hh2"></div>
				<div class="hh3"></div>
				<div class="hh4"></div>
				<div class="hh5"></div>
			</div>
		</div>
	</section>
	<footer></footer>
</body>
</html>