<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>arturomedia</title>
	<link rel="stylesheet" href="../../css/arturo_tarea3.css">
</head>
<body>
	<div class="contenedor">
	<header> 
		<div id="BannerMenu">
			<div class="cl1">
			<div class="img1"></div>
			</div>
			<div class="cl2">
				<div>
					<h3>Coffee Great Plain "GOLD"</h3>
					<p>Our tradition is the best</p>
				</div>
			</div>
		</div>
	</header>
	<section>
		<article></article>
	</section>
	<footer></footer>
	</div>
</body>
</html>