<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>arturomedia</title>
	<link rel="stylesheet" href="../../css/arturo_tarea3.css">
</head>
<body>
	<div class="contenedor">
	<header> 
		<div class="cl1">
			<div class="img1"></div>
		</div>
		<div class="cl2">
			<h3>Coffee Great Plain "GOLD"</h3>
			<p>Our tradition is the best</p>
		</div>
	</header>
	<section>
		<article id="bannerbanner">
			<div class="cl3">
						<h1>Know about our history</h1>
						<p>
							On December 12,2002, the first Juan Valdez Café store opened its doors at the El Dorado 
							International airport in Bogotá, with a dream story and great achievements for Colombian
							premium coffee.</p>
						<p>
							The first international store was opened in the city of Washinton D.C. <br>
							We are currently in New York and
							continue to strongly develop our presence in and around Miami.
						</p>
			</div>
		</article>
		<article id="disco">
				<div class="cl4">
					<div class="img2"></div>
				</div>
			
				<div class="cl4-2">
					<div>
					    <h2>Discover Your Perfect Cup</h2>
						<p>
						We extend the experience to more stores, so that coffe lovers find their perfect cup enjoying the origins of espresso-based drinks.
					    </p>
					    <h3>...this is a great cafe</h3>
					 </div>
				</div>
		</article>
			<article>
				<div class="barrita"></div>
					<div class="cl5">
							<h2> First shop Origins... </h2>
							<br>
							<p>In 2003 we inaugurated the first origins store and began the develoment of a new experience. the way for the creation of the perfect cup.</p>
					</div>
					<div class="cl5-2">
							<h2> Our desing... </h2>
							<br>
							<p>The design of the store and the varietyof colognes of Colombian origin prepared with new mothods paved</p>
					</div>
			</article>
			<article >
	 <div class="img3">
	     <img src="../../img/article4.png" height="314px" width="100%">
	  </div>		
</article>
<article>
		<div class="cl6">
			<h2>We Are Over 3'000.000 Of Friends On Facebook</h2>
			<br>
			<p>With the opening of Juan Valdez® coffee shops in different countries we have consolidated a digital community connected around the world that interacts daily with the brand and motivates us to continue improving.
			</p>
		</div>
</article>
	</section>
<footer>
	<div class="cl7">
		<h4>Copyright</h4>
	</div>
	<div class="cl8">
		<div class="img4"></div>
	</div>
	<div class="cl9">
		<button>Join now!!</button>	
	</div>	
</footer>
</div>
</body>
</html>