<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>arturo_parcial</title>
	<link rel="stylesheet" href="../../css/arturo_parcial.css">
</head>
<body>
	<header>
		<div>
			<ul id="menu">
				<li><a href="#">Home</></li>
				<li><a href="#">Our service</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</header>
