<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>arturo_tarea4</title>
	<link rel="stylesheet" href="../../css/arturo_tarea4.css">
</head>
<body>
	<header>
		<div id="menu">
			<div class="camarita">
				<div class="camara"></div>
			</div>
			<div class="principal">
				<ul id="principalesbotones">
					<li><a href="/">Home</a></li>
				    <li><a href="/">Our Services</a></li>
				    <li><a href="/">Our History</a></li>
				    <li><a href="/">Examples</a></li>
				    <li><a href="/">Documentation</a></li>
				    <li><a href="/">Lets Play</a></li>
				    <li><a href="/">Photos</a></li>
				    <li><a href="/">Contact us</a></li>	
                </ul>
				</div>
		</div>
	</header>
</body>