<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>arturo_tarea4</title>
	<link rel="stylesheet" href="../../css/arturo_tarea4.css">
</head>
<body>
	<header>
		<div id="menu">
			<div class="camarita">
				<div class="camara"></div>
			</div>
			<div class="principal">
				<ul id="principalesbotones">
					<li><a href="/">Home</a></li>
				    <li><a href="/">Our Services</a></li>
				    <li><a href="/">Our History</a></li>
				    <li><a href="/">Examples</a></li>
				    <li><a href="/">Documentation</a></li>
				    <li><a href="/">Lets Play</a></li>
				    <li><a href="/">Photos</a></li>
				    <li><a href="/">Contact us</a></li>	
                </ul>
				</div>
		</div>
	</header>
	<section>
		<article id="articulo1">
			<div id="banner">
				<div class="hombre">
					<div class="img1"></div>
				</div>
				<div class="txt">
					<h1>Discover Our Brand</h1>
					<p>Today, new technologies applied to knowledge, culture and<br>
						solidarity, give us more opportunities than ever to work successfully<br>
						in the transformation of society. Fundacion telefonica has been<br>
						using them since 1998 to awaken these ideas through projects that<br>
						fight for social development and the creation of opportunities in<br>
						Europe and Latin america.</p>
						<button>Know More</button>
						<button>Contact Us</button>
						<button> Download</button>
				</div>
			</div>
		</article>
		<article>
			<div id="seccion2">
				<div class="area1de4cajas">
					<div class="cuadro1">
						<div class="caja1">
							<div class="img2"></div>
						</div>
					<div class="texto 2">
						<h2>IFront End</h2>
					</div>
					<div class="texto 3">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p> 

						<p> quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Aenean massa.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
					</div>
				</div>
                <div class="cuadro1">
						<div class="caja1">
							<div class="img3"></div>
						</div>
					<div class="texto 2">
						<h2>IFront End</h2>
					</div>
					<div class="texto 3">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p> 

						<p> quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Aenean massa.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
					</div>
				</div>
                <div class="cuadro1">
						<div class="caja1">
							<div class="img4"></div>
						</div>
					<div class="texto 2">
						<h2>IFront End</h2>
					</div>
					<div class="texto 3">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p> 

						<p> quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Aenean massa.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
					</div>
				</div>
				<div class="cuadro1">
						<div class="caja1">
							<div class="img5"></div>
						</div>
					<div class="texto 2">
						<h2>IFront End</h2>
					</div>
					<div class="texto 3">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p> 

						<p> quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Aenean massa.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
					</div>
				</div>
				</div>
			</div>
		</article>
	</section>
</body>