<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>arturo sanchez laboratorio 1</title>
	<link rel="stylesheet" href="../../css/arturo_lab.css">
</head>
<body>
	<header id="menu1">
		<div class="menus">
		<div class="hijo1"></div>
		<div class="hijo2"></div>
		<div class="hijo3"></div>
		<div class="hijo4"></div>
		<div class="hijo5"></div>
		</div>
		<div id="menu2">
			<div class="hijo1menu2"></div>
			<div class="logo"></div>
			<div class="hijo2menu2"></div>
			<div class="hijo3menu2"></div>
			<div class="hijo4menu2"></div>
			<div class="hijo5menu2"></div>
			<div class="hijo6menu2"></div>
			<div class="hijo7menu2"></div>
			<div class="hijo8menu2"></div>
		</div>
	</header>
	<section>
		<article class="bannerpadre">
			<div class="hijo1bannerpadre">
				<div class="hijobanner1"></div>
				<div class="hijobanner2"></div>
				<div class="hijobanner3"></div>
				<div class="hijobanner4"></div>
			</div>
			<div class="hijo2bannerpadre"></div>
		</article>
	</section>
</body>
</html>