<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>arturomailer</title>
	<link rel="stylesheet" href="../../css/arturomailer.css">
</head>
<body>
	<div class="contenedor">
	<header name="encabezado">
		<div class="cl1">
			<div class="img1"></div>
		</div>
		<div class="cl2">
			<div>
				<h3>CREATINGS</h3>
			</div>
			<div>
				<h1>Responsive Email Magic</h1>
			</div>
		</div>
	</header>
	<section name="cuerpo">
		<article name="sec1">
			<div>
				<h2>WELCOME TO OUR RESPONSIVE EMAIL!</h2>
				<br>
				<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form
				</p>
			</div>
		</article>
		<article name="sec2">
				<div class="pl3">
					<div class="imag2"></div>
				</div>
				<div class="pl4">
					<div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis varius lorem. Aenean tempus porta dolor in interdum. Nullam molestie, dolor vel tristique ultricies, velit justo varius diam, at convallis ligula mauris sed lacus.
						</p>
					</div>
					<div>
						<button>Claim yours!</button>
					</div>
				</div>
		</article>
		<article name="sec3"></article>
		<article name="sec4"></article>
	</section>
	<footer name="pie"></footer>
	</div>
</body>
</html>