<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ejercicio2</title>
	<link rel="stylesheet" href="../../css/GreciaMartínez.css">
</head>
<body>
<header>
	<article id="fran1">
         <div class="icono1"></div>
          <div class="telefono"></div>
        <div class="ourpartners"></div>
      </article>
      <article id="fran2">
            <div class="logo"></div>
      <div class="home"></div>
           <div class="aboutus"></div>
             <div class="products"></div>
              <div class="experience"></div>
               <div class="contact"></div>
                <div class="linea1"></div>
                 <div class="linea2"></div>
     </article>
	</header>
<section>
           <article id="part1">
              <div class="ourservices">
             <div class="titulo"></div>
           <div class="texto"></div>
            <div class="more"></div>
        </div>
</article>

<article id="parte2">
   <div class="cajacontexto">
       <div class="titulo2"></div>
        <div class="texto2"></div>
         <div class="vermas">
         <div class="boton"></div>
         </div>          

</article>

<article id="galeria">
  <div class="imagen"></div>
</article>
      


</section>
	
</body>
</html>