<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>grecia_parcial</title>
	<link rel="stylesheet" href="../../css/grecia_parcial.css">
</head>
<body>
	<header>
		<div id="caja1">
			<div class="icono">
            <div class="img1"></div>
			</div>
			<ul class="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Let´s Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
			<div class="boton">
				<button>Ingresar</button>
			</div>
		</div>
		
	</header>
	<section></section>
	<footer></footer>
	
</body>
</html>