<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>grecia_tarea4</title>
	<link rel="stylesheet" href="../../css/grecia_tarea4.css">
</head>
<body>
	<header>
		<div id="caja">
			<div class="icono">
				<div class="img1"></div>
			</div>
			<ul class="menu">
			<li><a href="#">Home</a></li>
			<li><a href="#">Our Services</a></li>
			<li><a href="#">Our History</a></li>
			<li><a href="#">Examples</a></li>
			<li><a href="#">Documentation</a></li>
			<li><a href="#">Let´s Play</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Contact us</a></li>
			</ul>
		</div>
	</header>
<section>
	<article id="sec1">
		<div class="banner">
		<div class="img2">
			<div class="hombre">
					<div class="img3"></div>
				</div>
			<div class="texto">
                <h1>Discover Our Brand</h1>
				<p>Today, new technologies applied to knowledge,
					culture and solidarity, give us more opportunities than ever to work succesfully in the transformation of society. 
                    Fundación Telefónica has been using them since 1998 to awaken these ideas through projects that fight for social develpment and the creation of opportunities in Europe and Latin America.</p>
                    <div>
						<button>Know more</button>
						<button>Contact us</button>
						<button>Download</button>
					</div>
				</div>
		</div>
		</div>
	</article>
	<article id="sec2">
     <div name="1">
     	<div class="gris">
				<div class="clas1">
					<div class="img4"></div>
					</div>
					<div  class="t1">
						<h2>IFront End</h2>
						<hr>
					</div>
					<div class="text1">
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
				</div>
			</div>
			</div>
			<div name="2">
				<div class="gris">
				<div class="clas1">
					<div class="img5"></div>
					</div>
					<div  class="t1">
						<h2>WebServices</h2>
						<hr/>
					</div>
					<div class="text1">
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
				</div>
			</div>
			</div>		
			<div name="3">
				<div class="gris">
				<div class="clas1">
					<div class="img6"></div>
					</div>
					<div  class="t1">
						<h2>DataGuard</h2>
						<hr>
					</div>
					<div class="text1">
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
				</div>
				</div>
			</div>
			<div name="4">
				<div class="gris">
				<div class="clas1">
					<div class="img7"></div>
					</div>
					<div  class="t1">
						<h2>Tecno-In</h2>
						<hr>
					</div>
					<div class="text1">
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
				</div>
			</div>
			</div>						
	</article>
</section>
<footer></footer>
</body>
</html>
