<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Grecia Martínez</title>
	<link rel="stylesheet" href="../../css/GreciaMartínez.css">
</header>
<body>
     <header id="menu">
     	 <div class="child1">
     	 	<div class="a"></div>
     	 	<div class="b"></div>
     	 </div>
     	 <div class="child2">
     	    <div class="c"></div>
     	    <div class="d"></div>
     	    <div class="e"></div>
     	    <div class="f"></div>
          </div>
     </header>

<section>
     <section id="información">

          <div class="slideshowrosa"></div>

     <article id="premium">
          <div class=hijo1>
               <div class="dentrodehijo1">
               <div class="dentrodehijo12">
               <div class="dentrodehijo13">
               <div class="dentrodehijo14">
               <div class="dentrodehijo15">
     </div>
     </div>     
     </div>
     </div>
     </div>
     </div>
          <div class="hijo2">
          <div class="dentrodehijo21"> 
          <div class="dentrodehijo22">
          <div class="dentrodehijo23">
          <div class="dentrodehijo24">
          <div class="dentrodehijo25">
     </div>
     </div>
     </div>          
     </div>     
     </div>
     </div>
          <div class="hijo3">
          <div class="dentrodehijo31">
          <div class="dentrodehijo32">
          <div class="dentrodehijo33">
          <div class="dentrodehijo34">
          <div class="dentrodehijo35">
               
     </div>
     </div>          
     </div>          
     </div>
     </div>
     </div>

     <article id="banner">
          <div class="hijoa"> </div>
          <div class="hijob"></div>
          <div class="hijoc">
          <div class="dentrodehijoc">
     </div>
     </div>
       <div class="hijod"></div>
       <div class="hijoe">
       <div class="dentrodehijoe">
</div>     
</div>
       <div class="hijof"></div>
          
     </article>

<article id="contácto">
     <div class="hijoa1">
     <div class="dentrodehijo1">
     <div class="hijoa2"></div>
  
     </div>     
     </div>
     
</article>

         

</article>
     
         
    </section>

     <footer></footer>	
</body>
</html>