<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Grecia Martínez</title>
	<link rel="stylesheet" href="../../css/GreciaMartínez.css">
</header>
<body>
     <header id="menu">
     	 <div class="child1">
     	 	<div class="a"></div>
     	 	<div class="b"></div>
     	 </div>
     	 <div class="child2">
     	    <div class="c"></div>
     	    <div class="d"></div>
     	    <div class="e"></div>
     	    <div class="f"></div>
          </div>
     </header>

<section>
     <section id="información">

          <div class="slideshowrosa"></div>

     <article id="premium">
          <div class=hijo1>
               <div class="dentrodehijo1">
               <div class="dentrodehijo12">
               <div class="dentrodehijo13">
               <div class="dentrodehijo14">
               <div class="dentrodehijo15">
     </div>
     </div>     
     </div>
     </div>
     </div>
     </div>
          <div class="hijo1">
               <div class="dentrodehijo1">
               <div class="dentrodehijo12">
               <div class="dentrodehijo13">
               <div class="dentrodehijo14">
               <div class="dentrodehijo15">
     </div>
     </div>
     </div>          
     </div>     
     </div>
     </div>
          <div class="hijo1">
               <div class="dentrodehijo1">
               <div class="dentrodehijo12">
               <div class="dentrodehijo13">
               <div class="dentrodehijo14">
               <div class="dentrodehijo15">       
     </div>
     </div>          
     </div>          
     </div>
     </div>
     </div>
     <article id="banner">
          <div class="hijoa"> </div>
          <div class="hijob"></div>
          <div class="hijoc">
          <div class="dentrodehijoc">
     </div>
     </div>
       <div class="hijod"></div>
       <div class="hijoe">
       <div class="dentrodehijoe">
</div>     
</div>
       <div class="hijof"></div>
     </article>   
     <article id="contacto">
          <div class="hijoa1">
               <div class="nietoa1"></div>
               <div class="nietoa2"></div>
               <div class="nietoa3"></div>
               <div class="nietoa4"></div>
               <div class="nietoa5"></div>
               <div class="nietoa6"></div>
          </div>
          <div class="hijoa2">
               <div></div>
               <div></div>
          </div>
     </article>     
    </section>
     <footer></footer>	
</body>
</html>