<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Grecia Martínez</title>
	<link rel="stylesheet" href="../../css/GreciaMartínez.css">
</header>
<body>
     <header id="menu">
     	 <div class="child1">
     	 	<div class="a"></div>
     	 	<div class="b"></div>
     	 </div>
     	 <div class="child2">
     	    <div class="c"></div>
     	    <div class="d"></div>
     	    <div class="e"></div>
     	    <div class="f"></div>
          </div>
     </header>

<section>
     <section id="información">

          <div class="slideshowrosa"></div>

     <article id="premium">
          <div class=hijo1>
               <div class="dentrodehijo1">
               <div class="dentrodehijo12">
               <div class="dentrodehijo13">
               <div class="dentrodehijo14">
               <div class="dentrodehijo15">
     </div>
     </div>
     </div>
     </div>
     </div>
     </div>
          <div class="hijo1">
               <div class="dentrodehijo1">
               <div class="dentrodehijo12">
               <div class="dentrodehijo13">
               <div class="dentrodehijo14">
               <div class="dentrodehijo15">
     </div>
     </div>
     </div>          
     </div>     
     </div>
     </div>
          <div class="hijo1">
               <div class="dentrodehijo1">
               <div class="dentrodehijo12">
               <div class="dentrodehijo13">
               <div class="dentrodehijo14">
               <div class="dentrodehijo15">       
     </div>
     </div>          
     </div>          
     </div>
     </div>
     </div>


     <article id="banner">
          <div class="hijoa"></div>
          <div class="hijob">
               <div class="texto1"></div>
               <div class="texto2"></div>
               <div class="texto3"></div>
               <div class="texto4">
               <div class="boton"></div>
               </div>
           </div>
     
      </article>

<article id="contacto">
    <div class="izquierda">
         <div class="franja"></div>
         <div class="izquierda1">
         <div class="nombre"></div> 
         <div class="email"></div>
         <div class="mensaje"></div>   
         </div>

            <div class="izquierda2">
               <div class="hijoi1"></div>
               <div class="hijoi2"></div>
               <div class="hijoi3"></div>
               </div>
               <div class="franja2"></div>
               </div>
  <div class="derecha">
               <div class="derecha1"></div>
               <div class="derecha2">
                      <div class="derecha3"></div>
                    </div>
                    </div>
</article>

    
     </section>
     <footer id="pie">
          <div class="pie1"></div>
          <div class="pie2">
               <div class="h1">
               <div class="j1"></div>
               <div class="j2"></div>
               <div class="j2"></div>
               <div class="j2"></div>
               </div>
               <div class="h2"></div>
          </div>
          <div></div>
          <div></div>
          
     </footer>	
</body>
</html>