<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>grecia_tarea3</title>
	<link rel="stylesheet" href="../../css/grecia_tarea3.css">
</head>
<body>
	<header>
	<div class="contenedor">
	<header name="encabezado">
		<div class="a1">
		<div class="img1"></div>
	</div>
<div class="a2">
	<div>
		<h1>Coffe  Great  Plain  "GOLD"</h1>
	</div>
	<br>
	<div>
		<h3>our tradition is the best</h3>
	</div>
</div>
	</div>
		</header>
	<section name="cuerpo">
		<article name="sect1">
			<div class="titulo">
				<h2>Know about our history</h2>
				<br>
				<p>On December 12, 2002, the first Juan Valdez Café store opened its doors at the El Dorado	
				international airport in Bogotá, whit a dream story and great achievements for Colombian
				<br> 
				premium coffee.
                <br>
                <br>
                The first international store was opened in the city of Washintong D.C
                <br> 
                We are currently in New York and continue to strongly develop our presence in and 
                <br>   
                around Miami.
				</p>
			</div>
             <div class="sec2">
				<div class="ac">
					<div class="img2"></div>
				</div>
			<div class="ad">
				<h2>Discover Your Perfect Cup</h2>
				<p>We extend the experience to more stores, so that coffee lovers
				<br> 
				find their perfect cup enjoying the origins of espresso-based 
				<br>
				drinks
				</p>
				<h4>...this is a great cafe</h4>
			    </div>
			</div>
             <div class="rectangulo"></div>
             <div class="sec3">
             	<div class="first">
             		<h2>First Shop Origins...</h2>
             		<p>In 2013 we inagurated the first Origins 
                    <br>
             		store and began the development of a new experience. the way for the creation of the perfect cup </p>    
             	</div>
             	<div class="our">
             		<h2>Our design...</h2>
             		<p>The design of the store and the variety of
             		<br>
             		colognes of Colombian origin prepared
                    <br>
             		with new methods paved</p>
             	</div>
             </div>
             <div class="af">
             	<img src="../../img/article4.png" width="100%" height="314px"> 
             </div>
            <div class="texto3">
            <h2>We Are Over 3´000.000 Of Friends On Facebook</h2>
            <p>With the opening of Juan Valdez coffee shops in different countries we have consolidated
            <br> 
            a digital community connected around the world that interacts daily with the brand and
            <br> 
            motivates us to continue improving.</p>
             </div>
         </div>
   </article>
</section>
<footer>
	<article id="pie">
		<div class="copyright">
			<h5>Copyright</h5>
		</div>
	<div class="plogo">
		 <div class="img4"></div>
	</div>
      <div class="boton">
      	<button>Join now!!</button>
      </div>
	</article>
</footer>
</body>
</html>