<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>grecia_parcial</title>
	<link rel="stylesheet" href="../../css/grecia_parcial.css">
</head>
<body>
	<header>
		<div id="caja1">
			<div class="icono">
            <div class="img1"></div>
			</div>
			<ul class="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Let´s Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
			<div class="boton">
				<button>Ingresar</button>
			</div>
		</div>
	 </header>
	<section>
		<article id="sec1">
			<div class="banner">
				<div class="img2">
				<div class="texto">
					<h1>We are Genius!!</h1>
					<br>
					<p>It had been rumored for a while that the two artist had
					been working in a song for Bieber's new album
					Purpose, but when the tracklist of the album was revealed it 
					was oficially confirmed.

					The song tells the story of a relationship, which is 
					being destroyed by rumors and hate.As a famous singer.</p> 
					<div>
					<button>Know more</button>
					<button> Contact us</button>
					<button> Download</button>
					<button> Send us</button>
				</div>
			</div>
			<div class="mujer">
					<div class="img3"></div>
				</div>
		</div>   
		</article>
	</section>
	<footer></footer>
	
</body>
</html>