<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>grecia_tarea4</title>
	<link rel="stylesheet" href="../../css/grecia_tarea4.css">
</head>
<body>
	<header>
	    <div class="img">
	    	<div class="img1"></div>
	    </div>
        <div>
        <ul id="menu">
			<li><a href="#">Home</a></li>
			<li><a href="#">Our Services</a></li>
			<li><a href="#">Our History</a></li>
			<li><a href="#">Examples</a></li>
			<li><a href="#">Documentation</a></li>
			<li><a href="#">Let´s Play</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Contact us</a></li>
	    </ul>
	    </div>
		</header>
	
</body>
</html>