<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>laboratorio</title>
	<link rel="stylesheet" href="../../css/grecia_lab.css">
</head>
<body>
	<header id="menu">
	  <div class="hijo1">
		 <div class="iconotel"></div>
		 <div class="tel"></div>
		 <div class="ourpartners"></div>
		 <div class="moreinfo"></div>
		 <div class="signin"></div>	
		</div>
   
      <div class="hijo2">
      	 <div class="logo"></div>
    	  <div class="home"></div>
    	   <div class="knowus"></div>
    	    <div class="brands"></div>
    	     <div class="corporate"></div>
    	      <div class="blog"></div>
    	        <div class="comunity"></div>
    	          <div class="contact"></div>
            </div>
            </header>

<section>
	<article id="contenedor1">
	  <div class="hijoa">
	 	 <div class="margen"></div>
	 	   <div class="caja">
	 	 	 <div class="cajatexto">
	 	       <div class="titulo"></div>
	 	       <div class="text"></div>
	 	     <div class="contiene">
	 	     	  <div class="more"></div>
	 	     </div>
	 	  </div>
	    </div>
	  </div>
</article>
</section>

<article id="contenedor2">
  <div class="img"></div>
   <div class="cajasdetexto">
   	<div class="cajatexto1">
   	 <div class="titul">
   	 	<div class="titular"></div>
   	 </div>	
   	  <div class="texto"></div>
   	  <div class="franjaboton">
   	  <div class="vermas"></div>
   	  </div>
   	</div>
   	 <div class="cajatexto2">
   	 	<div class="titul2">
   	 	<div class="titular2"></div>
   	 	</div>
   	 	<div class="texto2"></div>
   	 	<div class="franjaboton2"></div>
   	 </div>

   </div>
 </article>



	
</body>
</html>