<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>tarea2g</title>
		<link rel="stylesheet" href="../../css/GreciaMartínez.css">
	</head>
	<body>
		<header id="menu">
			<div class="franja1">
			<div class="hijoa"></div>
			<div class="hijob"></div>
            <div class="hijoc"></div>
            <div class="hijod"></div>				
       </div>

       <div class="logo"></div>
       <div class="home"></div>
       <div class="aboutus"></div>
       <div class="productandservices"></div>
       <div class="experience"></div>
       <div class="contact"></div>

       <div class="borde1"></div>
       <div class="borde2"></div>
</header>

       <section>
       	



       </section>
		
	</body>
	</html>	