@charset "utf-8";

.bg-dark {
	background-color: #260e3b !important;
}

.lead {
	font-size: 1.25rem;
	font-weight: 300;
	word-break: break-all !important;
}

#secciones{
	background: url('../../img/rosmery_img/FONDO.png');
	color: white;
}
.col-lg-6{
	margin-top: 50px;
	line-height: 35px;
}

.section-heading{
	font-family: Ginora Sans;
}