<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Yasmin ejercicio2</title>
	<link rel="stylesheet" type="text/css" href="../../css/yasmin2.css">
</head>
<body>
<header id="menu">
		<div class="hijo1">
		<div class="a"></div>
	</div>
		<div class="hijo2">
		<div class="b"></div>
		<div class="c"></div>
		<div class="d"></div>
		<div class="e"></div>
		</div>	
	</header>
	<section>
		<div class="rectangulo1">
	    <div class="r1"></div>
	    <div class="r2"></div>
	    <div class="r3"></div>
	    <div class="r4"></div>
	    <div class="r5"></div>
	    <div class="r6"></div>
	</div>
	</section>
	<section>
		<div class="lineaceleste"></div>
		<div class="lineaazul"></div>
	<article>
		<div class="cuadrovc">
		<div class="cuadrovo">
		<div class="text1"></div>
		<div class="text2"></div>
		<div class="boton1"></div>
    </div>	
    </div>
	</article>
	<section>
		<div class="rectangulo2">
		<div class="cuadrorosa1">
		<div class="text11"></div>
		<div class="text22"></div>
        <div class="boton2"></div>
	</div>
		<div class="cuadrorosa2"></div>
	</div>
    </section>
	<section>
		<div class="rectangulo3">
		<div class="celeste1">
		<div class="c1"></div>
		<div class="c2">
		<div class="boton3"></div>
	</div>
		<div class="c3"></div>
		<div class="c4">
		<div class="boton33"></div>
	</div>
    </div>
	    <div class="celeste2">
	    <div class="cc1"></div>
		<div class="cc2">
		<div class="boton4"></div>
	</div>
		<div class="cc3"></div>
		<div class="cc4">
		<div class="boton44"></div>
	</div>
	</div>
         <div class="celeste3">
         <div class="ccc1"></div>
		 <div class="ccc2"> 
		 <div class="boton5"></div>
	</div>
		 <div class="ccc3"></div>
		 <div class="ccc4">
		 <div class="boton55"></div>
	</div>
	</div>
	<section>
	<article>
	    <div class="rectangulo4">
		<div class="re1"></div>
		<div class="re2"></div>
		<div class="re3"></div>
		<div class="re4"></div>
		</div>
	</section>
	<section>
		<div class="rectangulo5">
		<div class="verde1"></div>	
		<div class="verde2"></div>
		<div class="verde22"></div>		
		<div class="verde3"></div>
		<div class="verde4"></div>		

		</div>
		</section>
	</article>
		</div>
		</section>
		</section>
	</section>
	<section>



</body>
	