<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Yasmin ejercicio2</title>
	<link rel="stylesheet" type="text/css" href="../../css/yasmin2.css">
</head>
<body>
<header id="menu">
		<div class="hijo1">
		<div class="a"></div>
	</div>
		<div class="hijo2">
		<div class="b"></div>
		<div class="c"></div>
		<div class="d"></div>
		<div class="e"></div>
		</div>	
	</header>
	<section>
		<div class="rectangulo1">
	    <div class="r1"></div>
	    <div class="r2"></div>
	    <div class="r3"></div>
	    <div class="r4"></div>
	    <div class="r5"></div>
	    <div class="r6"></div>
		</div>
		</section>
	<section>
			<div class="lineaceleste"></div>
			<div class="lineaazul"></div>
		<article>
		<div class="cuadrovc">
		<div class="cuadrovo">
		<div class="text1"></div>
		<div class="text2"></div>
		<div class="boton1"></div>
        </div>	
		</div>
		</article>
		<section>
		<div class="rectangulo2">
		<div class="cuadrorosa1">
		<div class="text11"></div>
		<div class="text22"></div>
         <div class="boton2"></div>
		</div>
		<div class="cuadrorosa2"></div>
		</div>
		<section>
		<div class="rectangulo3">	
		</section>
	</section>
	<section>



</body>
	