<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Laboratorioyasminvalencia</title>
	<link rel="stylesheet" type="text/css" href="../../css/yasmin_lab.css">
</head>
<body>
	<header id="menu">
		<div class="hijo1">
		<div class="a"></div>
		<div class="b"></div>
	</div>
	<div class="hijo2">
		<div class="c"></div>
		<div class="d"></div>
		<div class="e"></div>
		<div class="f"></div>
	</div>
	<header>
		<section>
		<div class="cuadritos">
		<div class="cuadro1"></div>
		<div class="c2"></div>
		<div class="c3"></div>
		<div class="c4"></div>
		<div class="c5"></div>
		<div class="c6"></div>
		<div class="c7"></div>
		<div class="c8"></div>
     </div>
		</section>
	<section>
	</header>
		
	</header>
	
</body