<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Yasmin Valencia</title>
	<link rel="stylesheet" type="text/css" href="../../css/yasmin.css">
</head>
<body>
	<header id="menu">
		<div class="child1">
		<div class="a"></div>
		<div class="b"></div>
	</div>
		<div class="child2">
		<div class="c"></div>
		<div class="d"></div>
		<div class="e"></div>
		<div class="f"></div>
		</div>
	</header>
	<section>
		<div class="cuadrorosa1"></div>
		</section>
	<section>
			<div class="lineaverde"></div>
	</section>
	<section>
		<div class="cuadro3"></div>
			<div class="azul1">
				<div class="a1"></div>
				<div class="a2"></div>
				<div class="a3"></div>
				<div class="a4">
					<div class="a41"></div>
				</div>
            </div>
			<div class="azul2">
			    <div class="aa1"></div>
				<div class="aa2"></div>
				<div class="aa3"></div>
				<div class="aa4">
					<div class="aa41"></div>
				</div>
		    </div>
              <div class="azul3">
              	<div class="aaa1"></div>
				<div class="aaa2"></div>
				<div class="aaa3"></div>
				<div class="aaa4">
					<div class="aaa41"></div>

				</div>
            </div>
            <section>
            	<div class="cuadro4">	
            	<div class="cuadrocolores">
            		<div class="cc2">
            		<div class="cc3"></div>
            	</div>
            		<div class="cc4"></div>
                    <div class="cc5">
            		<div class="cc6"></div>
            	</div>
            	</div>
            	</div>
            <article>
            	<div class="cuadro5">	
            	<div class="cuadrostodosazules">
            		<div class="cta1"></div>
            		<div class="cta2"></div>
            		<div class="cta3"></div>
            		<div class="cta4"></div>
            		<div class="cta5"></div>
            		<div class="cta6"></div>
            		<div class="cta7gris"></div>
                </div>
            	<div class="cuadrogemelos">
            		<div class="cg1"></div>
            		<div class="cg2">
            		<div class="cg22"></div>
            	    </div>
                </div>  
                </div>
            </section>
	    </div>
	</section>
	<footer>
	<div class="cuadrofinal">
	<div class="cuadromorado"></div>
	</div>	
	</footer>
</body>
</html>