<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>framework_yasmin</title>
	<link rel="stylesheet" type="text/css" href="../../yasmin/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../../css/yasmin/style.css">
	<style>
	#toTop{
		display: none;
		text-decoration: none;
		position: fixed;
		bottom: 14px;
		right: 3%;
		overflow:hidden;
		width: 40px;
		height: 40px;
		border: none;
		text-indent: 100%;
		background: url("../../img/to-top1.png") no-repeat 0px 0px;
      }
	 </style>

	
</head>
<body>
	
</body>
</html>