<!DOCTYPE html>
  <html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<title>yasmin_unidad2</title>
  	<link rel="stylesheet" type="text/css" href="../../css/yasmin/bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="../../css/yasmin/style.css">
  	<style>
  	#toTop{
      display: none;
      text-decoration: none;
      position: fixed;
      bottom: 14px;
      right: 3%;
      overflow:hidden;
      width: 40px;
      height: 40px;
      border: none;
      text-indent: 100%;
      background: url("../../img/to-top1.png") no-repeat 0px 0px;
       }
  </style>
  <header>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Portafolio Personal</a>
    <button class="navbar-toggler"
    type="button" 
    data-toggle="collapse" 
    data-target="#navbarNav" 
    aria-controls="navbarNav"
    aria-expanded="false" 
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span 
          class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ilustración</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">3D</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Fotografía</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Contactame</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<section>