<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Yasmin_tarea3</title>
<link rel="stylesheet" href="../../css/yasmin_tarea3.css">
</head>

<body>

<div class="contenedor">
	<header>
		<div class="taza"></div>

        <div>
			<h1>Coffee Great Plain "GOLD"</h1>
			<h3>our tradition is the best</h3>
		</div>

	</header>
	<section name="sec1">
		<article>

			<div class="divtext1">
				<h1>Know about our history</h1>
				<br>
				<p> On December 12, 2002, the first Juan Valdez® Caf&eacute store opened  its doors at the El Dorado international airport in Bogot&aacute, with a dream story and great achievements for Colombian premium coffee.
				<br><br>
				The first international store was opened in the city of Washington D.C.
				We are currently in New York and continue to strongly develop our presence in and around Miami.</p>
				</div>	