<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Yasmin_parcial</title>
	<link rel="stylesheet" type="text/css" href="../../css/yasmin_parcial.css">
</head>
<body>
	<header>
		<div>
			<ul id="menu">
				<li><a href="">Home</a></li>
				<li><a href="">Our Services</a></li>
				<li><a href="">Our History</a></li>
				<li><a href="">Examples</a></li>
				<li><a href="">Lest Play</a></li>
				<li><a href="">Photos</a></li>
				<li><a href="">Administration</a></li>
				<li><a href="">Delibey</a></li>
				<li><a href="">Contact Us</a></li>
			</ul>
		</div>
<body>
	
</body>
</html>