<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio3</title>
	<link rel="stylesheet" href="../../css/yasminmailer.css">
</head>
<body>
<div class="contenedor">
		<header name="inicio">
		<div class="cl1">
		<div class="img1"></div>
		</div>
		<div class="cl2">
		<div>
			<h3>CREATINGS</h3>
		</div>
		<div>
			<h1>Reponsive Email Magic</h1>
        </div>
        </div>
</header>
<section name="cuerpo">
<article name="sec1">
	<div>
		<h2>WELCOME TO RESPONSIVE EMAIL </h2>
		<p>consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
	</div>
</article>
<article name="sec2"></article>
<article name="sec3"></article>
<article name="sec4"></article>
</section>
<footer name="pie"></footer>
</div>
</body>
</head>
</html>