<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Yasmin_parcial</title>
	<link rel="stylesheet" type="text/css" href="../../css/yasmin_parcial.css">
</head>
<body>
	<header>
		<div class="icono_purple"></div>
		<div>
			<ul id="menu">
				<li><a href="">Home</a></li>
				<li><a href="">Our Services</a></li>
				<li><a href="">Our History</a></li>
				<li><a href="">Examples</a></li>
				<li><a href="">Lest Play</a></li>
				<li><a href="">Photos</a></li>
				<li><a href="">Administration</a></li>
				<li><a href="">Delibey</a></li>
				<li><a href="">Contact Us</a></li>
			</ul>
			<div>
			</header>
			<section>
		<article name="banner1">
			<div id="banner">
				<div class="cl1">
				<div  class="creci"></div>
			</div>
			<div class="texto">
				<div>
					<h1> We are Genius!!</h1>
					<br/>
					<p> Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde 

					años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original.</p>
					<br/>
					</div>
					<div>
			<button>Know More</button>
			<button>Contact Us</button>
			<button>Download</button>
			<button>Send Us</button>
		 <div>
			</header>
			<section>
<body>
	
</body>
</html>