<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>nestorhtmlmedia</title>
<link rel="stylesheet" type="text/css" href="../../css/nestor_tarea3.css">
<link rel="icon" type="image/png" href="../../img/favicon.ico"/>
</head>	
<body>
<header id="encabezado">
	<div class="img1"></div>
	<img src="../../img/logo-header.png" class="img1" width="275" height="274">

	<div class="txt">
		<div class="text_1">
			<h1>Coffee Great Plain "GOLD"</h1>
		</div>
		<div class="text_2"></div>
			<h4>our tradition is the best</h4>
	</div>