<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet" type="text/css" href="../../css/nestor_parcial.css">
</head>
<body>
	<header id="menu">
	<div class="child1">
		<div class="img1"></div>
	</div>
	<div class="child2">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Our Services</a></li>
			<li><a href="#">Our History</a></li>
			<li><a href="#">Examples</a></li>
			<li><a href="#">Let´s Play</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Administration</a></li>
			<li><a href="#">Delivery</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>
	<div class="child3">
		<div class="boton">
			<button>Registro</button>
		</div>
	</div>
</header>
<section>
	<article>
		<div class="banner">
		<div class="img2">
			<div class="chera"></div>
		
		<div class="textosbanner">
			<div class="text1">We are Genius!!</div>
			<div class="text2">
				<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				</p>
				<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
				<p>
				</div>
				<div class="botones">
				<button>Contact Us</button>
				<button>Know more</button>
				<button>Send Us</button>
				<button>Download</button>
		</div>
		</div>
		</div>
		</div>
	</article>
	<article class="contenedor">
		<div name="casilla1">
					<div class="gran1">
						<div>
							<div class="imagen">
								<div class="img4"></div>
							</div>
							<div class="titulo">IFront End</div>
						</div>
						<div class="parrafo">
							<p>
							There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum
							</p>
						</div>
						<div class="parrafo">
							<p>
							There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum
							</p>
						</div>
					</div>
				</div>
	</article>
</section>

</body>
</html>