<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>nestorhtmlmedia</title>
<link rel="stylesheet" type="text/css" href="../../css/nestor_tarea3.css">
</head>	
	<header id="encabezado">
	<div class="child1">
	<div class="child1a">
		<div class="img1"></div>
		<img src="../../img/logo-header.png" class="img1" width="275" height="274">
	</div>
	<div class="child1b">
		<div class="child1b1">
		<div class="txt">
		<div class="text_1">
			<h1>Coffee Great Plain "GOLD"</h1>
		</div>
		</div>
		</div>
		<div class="child1b2">
		<div class="text_2">
			<h4>our tradition is the best</h4>
		</div>
		</div>
	</div>
	</header>
	<body>
		<article>
			<div class="child2">
				<div class="child2a">
				<div class="txt2">
					<div class="text_3">
					<h2>Know about our history</h2>
				</div>
				</div>
				</div>
				<div class="child2b">
				<div class="txt2">
					<div class="text_4">
						<p>
						The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
					</p>
				</div>
				</div>
				</div>
			</div>
		</article>
		<article>
			
		</article>

	</body>