<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../../css/nestor_parcial.css">
</head>
<body>
	<header>
		<div class="menu">
			<div class="imagenheader"><img src="../../img/icono_blue.png" class="img1" width="33" height="22"></div>
		</div>
		<div class="textosmenu">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Let's Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		<div class="son2"></div>
		</div>
	</header>
	<section>
		<article></article>
	</section>
	
</body>
</html>