<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Ejercicio 1</title>
<link rel="stylesheet" type="text/css" href="../../css/nestor_lab1.css">
</head>

<header>
<div class="child1">
	<div class="a"></div>
	<div class="b">
		<div class="b1"></div>
		<div class="b2"></div>
		<div class="b3"></div>
		<div class="b4"></div>
		<div class="b5"></div>
		<div class="b6"></div>
	</div>
	<div class="child2">
		<div class="c">
			<div class="c1"></div>
			<div class="c2"></div>
		</div>
		<div class="d">
			<div class="d1"></div>
			<div class="d2"></div>
			<div class="d3"></div>
			<div class="d4"></div>
			<div class="d5"></div>
			<div class="d6"></div>
			<div class="d7"></div>
			<div class="d8"></div>
		</div>

	</div>
</header>
<body>
	<article>
		<div class="e">
			<div class="e1"></div>
		</div>
		<div class="f">
			<div class="f1"></div>
		</div>
	</article>
	<article>
		<div class="g">
			<div class="g1"></div>
			<div class="g2">
				<div class="g21"></div>
				<div class="g22">
					<div class="g22a">
						<div class="g22a1"></div>
						<div class="g22a2"></div>
						<div class="g22a3"></div>
						<div class="g22a4"></div>
						<div class="g22a5"></div>
					</div>
					<div class="g22b">
						<div class="g22b1"></div>
						<div class="g22b2"></div>
						<div class="g22b3"></div>
						<div class="g22b4"></div>
						<div class="g22b5"></div>
					</div>
				</div>
				
			</div>
		</div>
	</article>
	<article>
		<div class="child3">
			<div class="child3a"></div>
			<div class="child3b">
				<div class="child3b1">
					<div class="child3b11"></div>
					<div class="child3b12"></div>
				</div>
				<div class="child3b2">
					<div class="child3b21"></div>
					<div class="child3b22"></div>
				</div>
			</div>
		</div>
	</article>
	<article>
		<div class="child4">
			<div class="child4a">
				<div class="child4a1"></div>
				<div class="child4a2"></div>
				<div class="child4a3"></div>
			</div>
			<div class="child4b">
				<div class="child4b1"></div>
				<div class="child4b2"></div>
				<div class="child4b3"></div>
			</div>
		</div>
	</article>
	<article>
		<div class="child5">
			<div class="child5a">
				<div class="child5a1"></div>
				<div class="child5b1">
					<div class="child5b11"></div>
					<div class="child5b12">
						<div class="child5a1b"></div>
						<div class="child5a2"></div>
						<div class="child5a3"></div>
						<div class="child5a4"></div>
						<div class="child5a5"></div>
						<div class="child5a6"></div>
						<div class="child5a7"></div>
						<div class="child5a8"></div>
						<div class="child5a9"></div>
						<div class="child5a10"></div>
					</div>
					<div class="child5b13"></div>
				</div>
			</div>
			<div class="child5b"></div>
			<div class="child5c"></div>
			<div class="child5d">
				<div class="child5d1"></div>
				<div class="child5d2"></div>
			</div>
		</div>
	</article>
	<footer>
		<div class="child6">
			<div class="child6a">
				<div class="child6a1"></div>
				<div class="child6a2"></div>
			</div>
			<div class="child6b"></div>
			<div class="child6c"></div>
		</div>
	</footer>