<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>media</title>
	<link rel="stylesheet" href="../../css/nestor_tarea4.css">
</head>
<body>
	<header id="encabezado">
				<div class="menu1"> <img src="../../img/icono_logo.png" class="img0" width="33" height="22"></div>
				<div class="menu2"><h6>Home</h6></div>
				<div class="menu2"><h6>Our Services</h6></div>
				<div class="menu2"><h6>Our History</h6></div>
				<div class="menu2"><h6>Examples</h6></div>
				<div class="menu2"><h6>Documentation</h6></div>
				<div class="menu2"><h6>Let's Play</h6></div>
				<div class="menu2"><h6>Photos</h6></div>
				<div class="menu2"><h6>Contact Us</h6></div>
				
		</div>
		
	</header>
	<article>
		<div class="fondo">
			<img src="../../img/crecimiento2.png" class="img1" width="1404" height="674">
		</div>
	</article>
</body>