<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../../css/nestor_parcial.css">
</head>
<body>
		<header id="menu">
		<div class="childa">
			<div class="img1"></div>
		</div>
		<div class="child2">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Let´s Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
		<div class="child3">
			<div class="boton">
				<button>Registro</button>
			</div>
		</div>
	</header>
	<section>
		<article>
			<div class="img2"></div>
		</article>
	</section>
	
</body>
</html>