<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tarea 4</title>
	<link rel="stylesheet" href="../../css/nestor_tarea4.css">
</head>
<body>
	<header id="encabezado">
		<div>
			<ul>
				<li>
					<img src="../../img/icono_logo.png" alt="icono">
				</li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</header>
	<section id="banner">
		<article class="banner">
			<div class="child1">
				<div class="img1"></div>
			</div>
			<div class="child2">
				<div>
				<h1>Discover Our Brand</h1>
				</div>
				<div>
					<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will</p>
				</div>
				<div>
					<button class="btn1">Know More</button>
					<button class="btn2">Contact Us</button>
					<button class="btn2">Download</button>
				</div>
			</div>
			</div>
			</div>
		</article>
	</section>
	<section id="contenido">
		<article class="sec2">
			<div>
				<div tema="1">
					<div>
						<div class="img2"></div>
					</div>
					<div>
						<h2>IFront end</h2>
						<hr>
						<p class="f">
							which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
						</p>
						<p>
							which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
						</p>

					</div>
				</div>
				<div tema="2">
					<div>
						<div class="img3"></div>
					</div>
					<div>
						<h2>Web Services</h2>
						<hr>
						<p class="f">
							which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
						</p>
						<p>
							which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
						</p>

					</div>
				</div>
				<div tema="3">
					<div>
						<div class="img4"></div>
					</div>
					<div>
						<h2>DataGuard</h2>
						<hr>
						<p class="f">
							which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
						</p>
						<p>
							which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
						</p>

					</div>
				</div>
			<div tema="4">
					<div>
						<div class="img5"></div>
					</div>
					<div>
						<h2>Tecno-In</h2>
						<hr>
						<p class="f">
							which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
						</p>
						<p>
							which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
						</p>

					</div>
			</div>
		</div>

		</article>
		<article class="sec2">
			<div>
				<div tema="1">
					<div>
						<div class="img2"></div>
					</div>
					<div>
						<h2>DataGuard</h2>
						<hr>
						<p class="f">
							which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
						</p>
						<p>
							which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
						</p>

					</div>
				</div>
				<div tema="2">
					<div>
						<div class="img3"></div>
					</div>
					<div>
						<h2>Web Services</h2>
						<hr>
						<p class="f">
							which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
						</p>
						<p>
							which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
						</p>

					</div>
				</div>
				<div tema="3">
					<div>
						<div class="img4"></div>
					</div>
					<div>
						<h2>DataGuard</h2>
						<hr>
						<p class="f">
							which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
						</p>
						<p>
							which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
						</p>

					</div>
				</div>
			<div tema="4">
					<div>
						<div class="img5"></div>
					</div>
					<div>
						<h2>Tecno-In</h2>
						<hr>
						<p class="f">
							which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
						</p>
						<p>
							which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
						</p>

					</div>
			</div>
		</div>

		</article>
	</section>
			<footer id="footer">
		<p>CR06018<br>Néstor Oswaldo Cuéllar Recinos</p>
	</footer>
</body>
</html>