<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>media</title>
	<link rel="stylesheet" href="../../css/nestor_tarea4.css">
</head>
<body>
	<header id="inicio">
				<div>
					<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Our Services</a></li>
					<li><a href="#">Our History</a></li>
					<li><a href="#">Examples</a></li>
					<li><a href="#">Documentation</a></li>
					<li><a href="#">Let's Play</a></li>
					<li><a href="#">Photos</a></li>
					<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
	</header>
	<article>
		<div class="fondo">
			<img src="../../img/crecimiento2.png" class="img1" width="1404" height="674">
		</div>
	</article>
</body>