<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Ejercicio 1</title>
<link rel="stylesheet" type="text/css" href="../../css/nestor2.css">
</head>

<header>
<div class="child1">
	<div class="a"></div>
	<div class="b">
		<div class="b1"></div>
		<div class="b2"></div>
		<div class="b3"></div>
		<div class="b4"></div>
</div>
<div class="child2">
	<div class="child21"></div>
	<div class="child22"></div>
	<div class="child23"></div>
	<div class="child24"></div>
	<div class="child25"></div>
	<div class="child26"></div>
	<div class="child27"></div>
	<div class="child28"></div>
</div>
</header>
<body>
	<article>
		<div class="child3"></div>
		<div class="child4"></div>
		<div class="child5">
			<div class="child51">
				<div class="child511"></div>
				<div class="child512"></div>
				<div class="child513"></div>
				<div class="child514"></div>
			</div>
			<div class="child52"></div>
			<div class="child6"></div>
		</div>
	</article>
	<article>
		<div class="child7">
			<div class="child71">
				<div class="child711">
					<div class="child7111"></div>
				</div>
				<div class="child712"></div>
				<div class="child713">
					<div class="child7131"></div>
				</div>
			</div>
			<div class="child72"></div>
		</div>
	</article>
	<article>
		<div class="child8">
			<div class="child81">
				<div class="child811">
					<div class="child81a"></div>
					<div class="child81b"></div>
					<div class="child81c"></div>
					<div class="child81d">
						<div class="child81d1"></div>
						<div class="child81d2"></div>
					</div>
					<div class="child81g"></div>
				</div>
			</div>
		</div>
	</article>