<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Ejercicio 1</title>
<link rel="stylesheet" type="text/css" href="../../css/nestor2.css">
</head>

<header>
<div class="child1">
	<div class="a"></div>
	<div class="b">
		<div class="b1"></div>
		<div class="b2"></div>
		<div class="b3"></div>
		<div class="b4"></div>
</div>
<div class="child2">
	<div class="child21"></div>
	<div class="child22"></div>
	<div class="child23"></div>
	<div class="child24"></div>
	<div class="child25"></div>
	<div class="child26"></div>
	<div class="child27"></div>
	<div class="child28"></div>
</div>
</header>
<body>
	<article>
		<div class="child3"></div>
		<div class="child4"></div>
		<div class="child5">
			<div class="child51">
				<div class="child511"></div>
				<div class="child512"></div>
				<div class="child513"></div>
				<div class="child514"></div>
			</div>
			<div class="child52"></div>
			<div class="child6"></div>
		</div>
	</article>
	<article>
		<div class="child7">
			<div class="child71">
				<div class="child711">
					<div class="child7111"></div>
				</div>
				<div class="child712"></div>
				<div class="child713">
					<div class="child7131"></div>
				</div>
			</div>
			<div class="child72"></div>
		</div>
	</article>
	<article>
		<div class="child8">
			<div class="child81">
				<div class="child811">
					<div class="child81a"></div>
					<div class="child81b"></div>
					<div class="child81c"></div>
					<div class="child81d">
						<div class="child81d1">
							<div class="child81d2"></div>
						</div>
						<div class="child81d11"></div>
					</div>
					<div class="child81g"></div>
				</div>
			</div>
			<div class="child82">
				<div class="child821">
					<div class="child82a"></div>
					<div class="child82b"></div>
					<div class="child82c"></div>
					<div class="child82d">
					<div class="child82d1">
						<div class="child82d2"></div>
					</div>
						<div class="child82d11"></div>
					</div>
					<div class="child82g"></div>
				</div>
			</div>
			<div class="child83">
				<div class="child831">
					<div class="child83a"></div>
					<div class="child83b"></div>
					<div class="child83c"></div>
					<div class="child83d">
					<div class="child83d1">
						<div class="child83d2"></div>
					</div>
					<div class="child83d11"></div>
					</div>
					<div class="child83g"></div>
				</div>
			</div>
			<div class="child91">
				<div class="child911">
					<div class="child91a"></div>
					<div class="child91b"></div>
					<div class="child91c"></div>
					<div class="child91d">
						<div class="child91d1">
							<div class="child91d2"></div>
						</div>
						<div class="child91d11"></div>
					</div>
					<div class="child91g"></div>
				</div>
			</div>
			<div class="child92">
				<div class="child921">
					<div class="child92a"></div>
					<div class="child92b"></div>
					<div class="child92c"></div>
					<div class="child92d">
					<div class="child92d1">
						<div class="child92d2"></div>
					</div>
						<div class="child92d11"></div>
					</div>
					<div class="child92g"></div>
				</div>
			</div>
			<div class="child93">
				<div class="child931">
					<div class="child93a"></div>
					<div class="child93b"></div>
					<div class="child93c"></div>
					<div class="child93d">
					<div class="child93d1">
						<div class="child93d2"></div>
					</div>
					<div class="child93d11"></div>
					</div>
					<div class="child93g"></div>
				</div>
			</div>
		</div>
	</article>