<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset ="UTF-8">
	<title>Michelle Panameño</title>
	<link rel="stylesheet" href="../../css/michellepana_tarea3.css">
</head>
<body>
	<div class="contenedor">
	 <header>
	 	<div>
	 		<div class="icon-header"></div>
	 	</div>
	 	<div>
	 		<h1>Coffe Great Plain "GOLD"</h1>
	 		<h3>our tradition is the best</h3>
	 	</div>
	 	</header>
	 	<section name="body">
	 		<article>
	 		<div class="cuadro1">
	 			<h1>Know about our history</h1>
	 			<br>
	 			<p>On december 12, 2002 the first Juan Valdez® cafe store opened its doors at the El Dorado international airport in Bogota, with a dream story and great achievement for colombian premium coffee.
	 			<br><br>
	 			
	 			The first international store was opened in the city of Washington D.C.
				We are currently in New York and continue to strongly develop our presence in and around Miami.</p>	
	 		</div>	
	 		</section>
	 	</article>

	 	<article>
	 		<div class=" picture2">
	 			<div></div>
	 		<div>
	 			<h1>Discover Your Perfect Cup</h1>
	 			<p>We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.</p>
	 			<br>
	 			<h2>...this is a great cafe</h2>
	 			</div>
	 		</div>
	 	    </article>
	 		<article></article>




	 		

	 	</article>


			



		</header>
		
	</div>

	


















</body>










