<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset ="UTF-8">
	<title>Michelle Panameño</title>
	<link rel="stylesheet" href="../../css/michellepana_tarea3.css">
</head>
<body>
	<div class="contenedor">
	 <header>
	 	<div>
	 		<div class="icon-header"></div>
	 	</div>
	 	<div>
	 		<h1>Coffe Great Plain "GOLD"</h1>
	 		<P>our tradition is the best</P>
	 	</div>
	 	</header>
	 	<section name="body">
	 		<article>
	 		<div class="contenedor2">
	 			
	 		</div>	
	 		</article>
	 	</section>


			



		</header>
		
	</div>

	


















</body>










