<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MichellePanaparcial</title>
	<link rel="stylesheet" type="text/css" href="../../css/michellepana.css">
</head>
<body>
	<head>
		<div>
			<ul id="menu">
				<div ></div>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Service</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact us</a></li>
</body>
</html>