<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mailer</title>
	<link rel="stylesheet" href="../../css/michellemailer.css">
</head>
<body>
	<div class="contenedor">
	<header name="encabezado">
	<div class="cl1">
		<div class="img1"></div>
	</div>
	<div class="cl2">
		<div>
		 <h3>CREATINGS</h3>
	</div>
	<div>
		 <h1>Responsive Email Magic</h1>
	   </div>
	 </div>
   </header>
   <section name="cuerpo">
   	<article name="sec1">
   		<div> 
   			<h2>WELCOME TO OUR RESPONSIVE EMAIL!</h2>
   			
   			<P>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. </P>
   		</div>
   	</article>
   	<article name="sec2"></article>
   	<article name="sec3"></article>
   	<article name="sec4"></article>
   </section>
   <footer name="pie"></footer>
     </div>
</body>
</head>
</html>