@charset "utf-8";

.bg-dark {
	background-color: #aa1018 !important;
}

@font-face{
	font-family: ElegantLux-Mager ;
	src:url(../../fonts/ElegantLux-Mager.otf);
}

.portafolio1{
	font-family: ElegantLux-Mager;
    font-size: 18pt;
	color: white;

}

.navbar-nav>li:hover{
    background: #dc1822;
}

.nav-item1{
	background-color: #aa1018 !important;
	margin-right: %;
	}