@charset "utf-8";

.bg-dark {
	background-color: #aa1018 !important;
}

@font-face{
	font-family: ElegantLux-Mager ;
	src:url(../../fonts/ElegantLux-Mager.otf);
}

.porta1{
	font-family: ElegantLux-Mager;
    font-size: 18pt;
	color: white !important;

}

.navbar-nav>li:hover{
    background: #dc1822;
}


h1{
   font-family: Elegantlux-Mager;
   color: black;
   text-align: center;
}

p{
   font-family: Elegantlux-Mager;
   color: gray;
   text-align: center;
}

.pie1{
	background: #801d20;
}

.pie2{
	background: black;
}