@charset "utf-8";

.bg-dark {
	background-color: #aa1018 !important;
}

@font-face{
	font-family: ElegantLux-Mager ;
	src:url(../../fonts/ElegantLux-Mager.otf);
}

.portafolio1{
	font-family: ElegantLux-Mager;
    font-size: 18pt;
	color: white;

}

.navbar-nav>li:hover{
    background: #dc1822;
}

.row{
    background: #aa1018;
}

.l1{
    background: white !important;
}

h1{
   font-family: Elegantlux-Mager;
   color: white;
   text-align: center;
}

p{
   font-family: Elegantlux-Mager;
   color: gray;
   text-align: center;
}

h2{
   font-family: Elegantlux-Mager;
   color: black;
   text-align: center;
}
