<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../css/
	frank2.css" media="screen"/>
	<title>Tarea 2</title>
</head>
<body>
	<div class="contenedor">
		<header>
		</header>
			<div class="header">
				<div class="head_1"></div>
				<div class="head_2"></div>
				<div class="head_3"></div>
				<div class="head_4"></div>
				<div class="head_5"></div>
				<div class="head_6"></div>
			</div>
			<div class="fino_1"></div>
			<div class="fino_2"></div>
				<div class="cuadro">
					<div class="cuadro_1"></div>
				</div>
			<div class="linea"></div>
				<div class="franjazul">

					<div class="cuadrogris"></div>
					<div class="cuadrito"></div>
				</div>
				<div class="recuadroblanco">
					<div class="recuadrito_1">
						<div class="recuadritohijo1"></div>
					</div>
					<div class="recuadrito_2">
						<div class="recuadritohijo2"></div>
					</div>
					<div class="recuadrito_3">
						<div class="recuadritohijo3"></div>
					</div>
					<div class="recuadrito_4">
						<div class="recuadritohijo4"></div>
					</div>
					<div class="recuadrito_5">
						<div class="recuadritohijo5"></div>
					</div>
					<div class="recuadrito_6">
						<div class="recuadritohijo6"></div>
					</div>
					<div class="recuadrito_7"></div>
					<div class="recuadrito_8"></div>
				</div>
			<footer>
					<div class="footer_1_1"></div>
					<div class="footer_1_2"></div>
					<div class="footer_1_3"></div>
					<div class="footer_1_4"></div>
					<div class="footer_1_5"></div>
			</footer>
	</div>
</body>
</html>