<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../css/frank1.css" media="screen"/>
	<title>Tarea 1</title>
</head>
<body>
	<div class="contenedor">
		<header>
			<div class="head_1"></div>
			<div class="head_2"></div>
			<div class="head_3"></div>
			<div class="head_4"></div>
		</header>
			<div class="linea_1"></div>
			<div class="cuadro"></div>
			<div class="linea_2"></div>
			<div class="cuadro_2"></div>
			<div class="cuadro_3"></div>
			<div class="cuadro_4"></div>
			<div class="cuadrito_1"></div>
			<div class="cuadrito_2"></div>
			<div class="cuadrito_3"></div>
			<div class="rectangulo"></div>
			<div class="linea_3"></div>

			<footer>
					<div class="footer_1_1"></div>
					<div class="footer_1_2"></div>
					<div class="footer_1_3"></div>
					<div class="footer_1_4"></div>
					<div class="footer_1_5"></div>
			</footer>
</div>
</body>
</html>
