<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>tarea 3</title>
<link rel="stylesheet" type="text/css" href="css/franks.css" media="screen"/>
<body>
<div id="contenedor">
<header>
<div class="ch1">
<div class="salto"><img src="images/3.png" width="274px"></img></div>
</div>
<div class="ch2">
<div class="titulo">
<h1>Coffee Great Plain "GOLD"</h1>
</div>
<div class="sub">
<h3> our tradition is the best</h3>
</div>
</div>
</header>
<section>
<article class="art1">
<div class="ti1">
<h2>Know about our history</h2>
</div>
<div class="tex1" /div>
	<p>Juan Valdez Café is a multinational coffeehouse chain based in Colombia that specializes in coffee retail. Its purpose is to become a member of the worldwide coffee restaurant business, and promote Colombian coffee. It was created by Colombia's National Federation of Coffee Growers through Procafecol S.A.; the latter being a company established in 2002. It was named after Juan Valdez, Colombia's longtime coffee icon and a household name in the United States.</p>
</div>
</article>
<article class="art2">
<div class="art2h1">
<div class="art2img">

</div>
<div class="bloquetx">
	<div class="taza"><img src="images/2.png" width="25%"></img></div>
<h2>AROMATIC COOFFE</h2>
<p>The founding of Juan Valdez Café fulfilled the aspirations of Colombian coffee makers, who for decades advocated for the creation of a national brand. During the 1960s and 1970s, the Colombian Coffee Federation opened some outlets in Argentina and Spain, but those were closed before 1985.</p>
</div>
</div>
<div class="borde"></div>
</article>
<article class="art3">
<div class="bloquetx1">
<div class="bh1">
<h2>NATURAL ORIGIN</h2>
<p>However, as early as 2000, the situation was different: market prices for green coffee beans were low[citation needed], and coffee had become popular everywhere, allowing for the rapid growth of coffeehouses. This opportunity was seized by Colombia's Federación Nacional de Cafeteros de Colombia in September 2002, when they established Juan Valdez Café. </p>
</div>
<div class="bh2">
<h2>RELAX COFFEE</h2>
<p>The National Federation of Coffee Growers of Colombia established the Juan Valdez cafés as part of a marketing campaign to promote fair trade coffee. Consumers automatically support the farmers when they patronize the store. In Colombia, the coffee industry accounts for over 8% of the GDP, employing directly and indirectly more than a million.</p>
</div>
</div>
</article>
<article class="art4">
<div class="banner"><img src="images/1.png" width="100%"></img></div>
</article>
<article class="art5">
<div class="ti2">
<h2>COFFEE ADRESS</h2>
</div>
<div class="tex2"></div>
<p>Since 1960, the federation has spent $600 million building the Juan Valdez brand. However, its advertising campaign went dark in 2001 as coffee prices hit all-time lows[citation needed]. The federation plans to spend $75 million in the next five years to reposition itself as an upscale specialty-coffee region with a diverse line.
</p>
</div>
</article>
</section>
<footer>
<div class="contactos">
<div class="corp">
<h3>copyright</h3>
</div>
<div class="boton">
<button>Join now!!</button>
</div>
</div>
</footer>
</div>
</body>
</html>