<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/frank.css" media="screen"/>
	<title>EXAMEN PARCIAL</title>
</head>
<body>
	<div class="contenedor">
		<header>
		</header>
			<div class="header">
				<div class="head_1"></div>
				<div class="head_2"></div>
				<div class="head_3"></div>
				<div class="head_4"></div>
			</div>
			<div class="fino_1"></div>
			    <div class="cuadro">
					<div class="cuadro_1"></div>
			<div class="linea"></div>
				<div class="franblanca">
                    <div class="cuadrogris"></div>
					<div class="cuadrito"></div>
				</div>
				<div class="recuadroblanco">
						<div class="recuadritohijo1"></div>
						<div class="recuadritohijo2"></div>
					    <div class="recuadritohijo3"></div>
					    <div class="recuadritohijo4"></div>
				</div>
			<footer>
				<div class="nombre">
					<h2> francisco henriquez </h2>
					<div class="carnet">
						<h3> hr08052 </h3>
		
			</footer>
	</div>
</body>
</html>