<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>media2</title>
	<link rel="stylesheet" href="../../css/fran_media.css">
</head>
<body>
	<header>
		<div>
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Our People</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>
	<section>
		<article name="banner">
			<div id="banner">
				<div class="cl1">
				 <div class="img1"></div> 
				<!--metodo para colacar imagenes con tamaños a gusto del cliente 	
					<img src="../../img/img-flat.png" height="400px" width="400px" alt=""> -->
				</div>
				<div class="cl2">
					<div>
						<h1>Discovered our Brand</h1>
						<br/>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis paLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
						<br/>
						<div>
							<button>Download</button>
							<button>Contact Us</button>
						</div>
					</div>
				</div>
			</div>		
		</article>
		<article></article>
	</section>
	<footer></footer>
</body>
</html>