<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> fatima ejercicio 3 </title>
<link rel="atylesheet" href="../../css/fatima_tarea3.css 
">
</head>
<body> 
   <header id="inicio de pagina"> 
	<article class="inicio2">
	<div class:"imagen1"></div> 
	<img src="../../img/logo-header.png" class="img1" width="320" height="300">
	<div class="latte"></div>  
	<div class="capuchino"> 
		<div class="text_1"> 
			<h3>Coffe Great Plain "GOLD" </h3> 
		</div> 
		<div class="text_2">
			<h1>our tradition is the best</h1>  
		 	</div> 
		  </div> 

</header> 

<section>  
	<article name="art1"> 
		<div class="biografia">
			<h2> Know about our history </h2> 
			<br> 
			<p> 
				Why do we use it?

				on december 12,2002, the firts Juan Valdez Café store opened its doors at the El Dorado international airport in Bogotá, with a dream story and great achievements for colombian premium coffe.  

				
			</p>  
		<div class="btn"
		     <button>The first international store was opened in the city of washinton D.C 
				We are currebtly in New York and continue to strongly develop our presence in and around Miami.</button>
		</div>
		</article>







	</article>




	</header>



</div>
	
</body>
</html>