<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> fatima ejercicio 3 </title>
<link rel="stylesheet" href="../../css/fatima_tarea3.css">
</head>
<body> 
<div class="contenedor">
   <header id="iniciodepagina">
   <div> 
	<div class="img1"></div>  
</div>
	<div class="capuchino"> 
		<div class="text_1"> 
			<h1>Coffe Great Plain "GOLD" </h1> 
		</div> 
		<div class="text_2">
			<h3>our tradition is the best</h3>  
		 	</div> 
     </div> 

   </header> 

<section>  
	<article name="art1"> 
		<div class="biografia">
			<h2> Know about our history </h2> 
			<p> 
				Why do we use it?

				On December 12,2002, the firts Juan Valdez Café store opened its doors at the El Dorado international airport in Bogotá, with a dream story and great achievements for colombian premium coffe.  
			</p>
				
		     <p>The first international store was opened in the city of washinton D.C 
				We are currebtly in New York and continue to strongly develop our presence in and around Miami.</p>
		</div>
		</article>
	
	</section>
	<footer name="pie"></footer>
</body>
</html>
