<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 1</title> 
	<link rel="stylesheet" 
	href="../../css/fatima.css">
</head>
<body>
    <header>
    	<div class="child1">
    	    <div class="a"></div> 
    	    <div class="b"></div>
    	</div>
    	<div class="child2"> 
    	<div class="c"></div>
    	<div class="d"></div> 
        <div class="e"></div> 
        <div class="f"></div> 

        </div>         
        <div class="child3"></div> 
        <div class="child4"></div> 
        <div class="child5"></div> 
        <div class="child6"></div> 
        <div class="g"></div> 
        <div class="h"> 
            <div class="child1h"></div> 
            <div class="child2h"></div> 
            <div class="child3h"></div> 
            <div class="child4h"></div>  
        </div>
    </header>
    <section></section>	
    <footer></footer>
</body>
</html>








