<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> fatima ejercicio 4 </title>
<link rel="stylesheet" href="../../css/fatima_tarea4.css">
</head>
<body>  	 
	<header id="piedepagina">
		<div class="fulanito">
			<div class="img1"></div>
		</div>
		<div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Let´s Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		<div class="menganito"></div>
		</div>
	</header>

	<section>
		<article>
			<div class="banner">
				<div class="sutanito">
					<div class="img2"></div>
				</div>
				<div class="chela">
					<div>
						<h1>Discover Our Brand</h1>
					</div>
					<div class="texto">
						<p>Muy lejos, más allá de las montañas de palabras, alejados de los países de las vocales y las consonantes, viven los textos simulados. Viven aislados en casas de letras, en la costa de la semántica, un gran océano de lenguas.</p>
					</div>
					<div class="botones">
						<button>Know more
					</button><button>Contact us
					</button><button>Download
					</button>
					</div>
				</div>
			</div>
		</article>
		<article class="contenedor">
			<div>
				<div name="bloque1">
					<div class="parte1">
						<div>
							<div class="imagen">
								<div class="img4"></div>
							</div>
					<div class="encabesado"><h2>IFront End</h2></div>
				</div>
					<div class="texto"><p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. </p>
				</div>
					<div class="texto"><p> Cum sociis natoque penatibus et magnis dis parturient montes,s sem.</p>
						</div>
					</div>
					<div class="parte2">
						<div>
							<div class="imagen">
								<div class="img4"></div>
							</div>
						<div class="titulo"><h2>IFront End</h2></div>
					</div>
						<div class="texto"><p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.</p>
					</div>
						<div class="texto"><p> Cum sociis natoque penatibus et magnis dis parturient montes,s sem.</p>
						</div>
					</div>
				</div>
				<div name="bloque2">
					<div class="parte3">
						<div>
							<div class="imagen">
								<div class="img5"></div>
					</div>
						<div class="titulo"><h2>Web Services</h2></div>
					</div>
						<div class="texto"><p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.</p>
					</div>
						<div class="texto"><p> Cum sociis natoque penatibus et magnis dis parturient montes,s sem.</p>
						</div>
					</div>
						<div class="parte4">
						<div>
							<div class="imagen">
								<div class="img5"></div>
				</div>
					<div class="titulo"><h2>Web Services</h2></div>
						</div>
					<div class="texto"><p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.</p>
						</div>
						<div class="texto"><p> Cum sociis natoque penatibus et magnis dis parturient montes,s sem.</p>
						</div>
					</div>
				</div>
				<div name="bloque3">
					<div class="parte5">
						<div>
							<div class="imagen">
								<div class="img6"></div>
					</div>
						<div class="titulo"><h2>Data Guard</h2></div>
					</div>
						<div class="texto"><p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.</p>
					</div>
						<div class="texto"><p> Cum sociis natoque penatibus et magnis dis parturient montes,s sem.</p>
					</div>
					</div>
					<div class="parte6">
						<div>
							<div class="imagen">
								<div class="img6"></div>
							</div>
							<div class="titulo"><h2>Data Guard</h2></div>
					</div>
						<div class="texto"><p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.</p>
					</div>
						<div class="texto"><p> Cum sociis natoque penatibus et magnis dis parturient montes,s sem.</p>
						</div>
					</div>
				</div>
				<div name="bloque4">
					<div class="parte7">
						<div>
							<div class="imagen">
								<div class="img7"></div>
							</div>
							<div class="titulo"><h2>Techno-In</h2></div>
					</div>
						<div class="texto"><p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. </p>
					</div>
						<div class="texto"><p> Cum sociis natoque penatibus et magnis dis parturient montes,s sem.</p>
					</div>
					</div>
					<div class="parte8">
						<div>
							<div class="imagen">
								<div class="img7"></div>
							</div>
							<div class="titulo"><h2>Techno-In</h2></div>
					</div>
						<div class="texto"><p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. </p>
					</div>
						<div class="texto"><p> Cum sociis natoque penatibus et magnis dis parturient montes,s sem.</p>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
	<footer id="pie">
		<p>N° de carnet: BM13012</p>
		<p>Nombre de estudiante: Fátima Guadalupe Baños Muñoz</p>
	</footer>
</body>
</html>
			
			