<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> ejercicio 3 </title>
<link rel="atylesheet" href="../../css/fatima3.css 
">
</head>
<body> 
<div id="contenedor">   
	<header id=" header"> 
	<div class="Cl1"> 
		<img src="../../img/icon.gif" class="img_center" 
		width="70" height="70" alt="">   
		<div class"img1></div> 
	</div> 
	<div class="cl2"> 
		<div class="text_3"> 
			<h3>CREATING</h3> 
		</div> 
		<div class="text_1">
			<h1>Responsive Email Magic</h1>  
		 	</div> 
		  </div> 








</header>




	</header>



</div>
	
</body>
</html>