<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>fatima_parcial</title>
<link rel="stylesheet" type="text/css" href="../../css/fatima_parcial.css">
</head>
<body>
	<header id="comienso">
				<div class="hijo1">
					<div class="img1"></div>
				</div>
		<div class="child2">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Let´s Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
		<div class="hijo3">
			<div class="boton">
				<button>Registro</button>
			</div>
		</div>
	</header>
	<section>
		<article>
			<div class="banner">
				<div class="hijo4">
					<div class="img2"></div>
				</div>
				<div class="hijo5">
					<div>
						<h1>We Are Genius</h1>
					</div>
					<div class="textofalso">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Donec quam felis, ultricies nec, pellentesque eu.</p>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean</p>
					</div>
					<div class="botones">
						<button>Contact Us</button>
						<button>Know more</button>
						<button>Send Us</button>
						<button>Download</button>
					</div>
				</div>
			</div>
		</article>
		<article class="paquete">
			<div>
				<div name="parte1">
					<div class="gran1">
						<div>
							<div class="imagen">
								<div class="img4"></div>
							</div>
							<div class="titulo"><h2>IFront End</h2></div>
						</div>
						<div class="parrafo"><p>Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus. </p>
						</div>
						<div class="parrafo"><p> Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus.</p>
						</div>
					</div>
				</div>
				<div name="casilla2">
					<div class="gran2">
						<div>
							<div class="imagen">
								<div class="img5"></div>
							</div>
							<div class="titulo"><h2>Web Services</h2></div>
						</div>
						<div class="texto"><p>Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus. </p>
						</div>
						<div class="texto"><p> Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus.</p>
						</div>
					</div>
				</div>
				<div name="casilla3">
					<div class="gran3">
						<div>
							<div class="imagen">
								<div class="img6"></div>
							</div>
							<div class="titulo"><h2>Data Guard</h2></div>
						</div>
						<div class="texto"><p>Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus.</p>
						</div>
						<div class="texto"><p> Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus.</p>
						</div>
					</div>
				</div>							
		</article>
		<article class="paquete2">
			<div>
				<div name="parte4">
					<div class="gran1">
						<div>
							<div class="imagen">
								<div class="img4"></div>
							</div>
							<div class="titulo"><h2>IFront End</h2></div>
						</div>
						<div class="texto"><p>Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus. </p>
						</div>
						<div class="texto"><p> Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus.</p>
						</div>
					</div>
				</div>
				<div name="parte2">
					<div class="gran2">
						<div>
							<div class="imagen">
								<div class="img5"></div>
							</div>
							<div class="titulo"><h2>Web Services</h2></div>
						</div>
						<div class="texto"><p>Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus. </p>
						</div>
						<div class="texto"><p> Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus.</p>
						</div>
					</div>
				</div>					
		</article>
		<article class="parte2">
			<div>
				<div name="parte4">
					<div class="gran1">
						<div>
							<div class="imagen">
								<div class="img6"></div>
							</div>
							<div class="titulo"><h2>Data Guard</h2></div>
						</div>
						<div class="texto"><p>Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus. </p>
						</div>
						<div class="texto"><p> Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus.</p>
						</div>
					</div>
				</div>
				<div name="parte2">
					<div class="gran2">
						<div>
							<div class="imagen">
								<div class="img7"></div>
							</div>
							<div class="titulo"><h2>Tecno-In</h2></div>
						</div>
						<div class="texto"><p>Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus. </p>
						</div>
						<div class="texto"><p> Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus.</p>
						</div>
					</div>
				</div>					
		</article>
	</section>
	<footer id="pie">
		<p>N° de carnet: MB10004</p>
		<p>Nombre de estudiante: Fatima Guadalupe Baños Muñoz</p>
	</footer>
</body>
</html>