<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> fatima ejercicio 3 </title>
<link rel="stylesheet" href="../../css/fatima_tarea3.css">
</head>
<body> 
<div class="contenedor">
   <header id="iniciodepagina">
   <div> 
	<div class="img1"></div>  
</div>
	<div class="capuchino"> 
		<div class="text_1"> 
			<h3>Coffe Great Plain "GOLD" </h3> 
		</div> 
		<div class="text_2">
			<h1>our tradition is the best</h1>  
		 	</div> 
     </div> 

   </header> 

<section>  
	<article name="art1"> 
		<div class="biografia">
			<h2> Know about our history </h2> 
			<br> 
			<p> 
				Why do we use it?

				On December 12,2002, the firts Juan Valdez Café store opened its doors at the El Dorado international airport in Bogotá, with a dream story and great achievements for colombian premium coffe.  
			</p>
		</div>
				
		 
		<div class="biografia2">
		     <p>The first international store was opened in the city of washinton D.C 
				We are currebtly in New York and continue to strongly develop our presence in and around Miami.</p>
		</div>
		</article>
		<article name="sec2">
			<div class="pl3">
				<div class="img2"></div>
			</div>
			<div class="pl4">
				<div>
					<p> <b><u>Lorem ipsum</u></b> dolor sit amet, consectetur adipiscing elit. Sed quis varius lorem. Aenean tempus porta dolor in interdum. Nullam molestie, dolor vel tristique ultricies, velit justo varius diam, at convallis ligula mauris sed lacus.</p>
				</div>
				<br>
				<div>
					<button>Claim yours!</button>
				</div>
			</div>
		</article>
		<article name="sec3"></article>
		<article name="sec4"></article>
	</section>
	<footer name="pie"></footer>
</div>
</body>
</html>
