<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> fatima ejercicio 4 </title>
<link rel="stylesheet" href="../../css/fatima_tarea4.css">
</head>
<body>  	 
	<header id= menuinicial">
	<div class="fulanito"> 
		<div class="img1"></div>  
			
			</div>
			<div>  
			   <ul>  
			   		<li><a href="#">Home</a></li>
					<li><a href="#">Our Services</a></li>
					<li><a href="#">Our History</a></li>
					<li><a href="#">Examples</a></li>
					<li><a href="#">Documentation</a></li>
					<li><a href="#">Let´s Play</a></li>
					<li><a href="#">Photos</a></li>
					<li><a href="#">Contact Us</a></li>  

				</ul>  
	<div class="sutanito"></div>
			</div>
	</header>
			<section>
		<article>
			<div class="banner">
	<div class="menganito">
		<div class="img2"></div>
			</div> 
	<div class="chela">
					<div>
						<h1>Discover Our Brand</h1>
					</div>
					<div class="texto">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
					</div>
					<div class="pulsadores">
						<button>Know more
					</button><button>Contact us
					</button><button>Download
				</button>
					</div>

				</div> 
		</article>
		<article class="contenedor">
			<div>
				<div name="cuadro1">
					<div class="gran1">
						<div>
							<div class="imagen">
								<div class="img4"></div>
							</div>
							<div class="titulo"><h2>IFront End</h2></div>
						</div>
						<div class="parrafo"><p>Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. </p>
						</div>
						<div class="parrafo"><p> Cum sociis natoque penatibus et magnis dis parturient montes,s sem.</p>
						</div>
					</div>
					<div class="gran2">
						<div>
							<div class="imagen">
								<div class="img4"></div>
							</div>
							<div class="titulo"><h2>IFront End</h2></div>
						</div>
						<div class="parrafo"><p>Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. </p>
						</div>
						<div class="parrafo"><p> Cum sociis natoque penatibus et magnis dis parturient montes,s sem.</p>
						</div>
					</div>
				</div>
				<div name="casilla2">
					<div class="gran3">
						<div>
							<div class="imagen">
								<div class="img5"></div>
							</div>
							<div class="titulo"><h2>Web Services</h2></div>
						</div>
						<div class="parrafo"><p>Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. </p>
						</div>
						<div class="parrafo"><p> Cum sociis natoque penatibus et magnis dis parturient montes,s sem.</p>
						</div>
					</div>
					<div class="gran4">
						<div>
							<div class="imagen">
								<div class="img5"></div>
							</div>
							<div class="titulo"><h2>Web Services</h2></div>
						</div>
						<div class="parrafo"><p>Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. </p>
						</div>
						<div class="parrafo"><p> Cum sociis natoque penatibus et magnis dis parturient montes,s sem.</p>
						</div>
					</div>
				</div>
				<div name="casilla3">
					<div class="gran5">
						<div>
							<div class="imagen">
								<div class="img6"></div>
							</div>
							<div class="titulo"><h2>Data Guard</h2></div>
						</div>
						<div class="parrafo"><p>Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. </p>
						</div>
						<div class="parrafo"><p> Cum sociis natoque penatibus et magnis dis parturient montes,s sem.</p>
						</div>
					</div>
					<div class="gran6">
						<div>
							<div class="imagen">
								<div class="img6"></div>
							</div>
							<div class="titulo"><h2>Data Guard</h2></div>
						</div>
						<div class="parrafo"><p>Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. </p>
						</div>
						<div class="parrafo"><p> Cum sociis natoque penatibus et magnis dis parturient montes,s sem.</p>
						</div>
					</div>
				</div>
				<div name="casilla4">
					<div class="gran7">
						<div>
							<div class="imagen">
								<div class="img7"></div>
							</div>
							<div class="titulo"><h2>Techno-In</h2></div>
						</div>
						<div class="parrafo"><p>Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. </p>
						</div>
						<div class="parrafo"><p> Cum sociis natoque penatibus et magnis dis parturient montes,s sem.</p>
						</div>
					</div>
					<div class="gran8">
						<div>
							<div class="imagen">
								<div class="img7"></div>
							</div>
							<div class="titulo"><h2>Techno-In</h2></div>
						</div>
						<div class="parrafo"><p>Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. </p>
						</div>
						<div class="parrafo"><p> Cum sociis natoque penatibus et magnis dis parturient montes,s sem.</p>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
	<footer id="pie">
		<p>N° de carnet: BM13012</p>
		<p>Nombre de estudiante: Fátima Guadalupe Baños Muñoz</p>
	</footer>
</body>
</html>
		
		</div>
	</div> 
	</header> 
	<section> 
	</section> 
	<footer> 
	</footer> 
</body> 
</html>