@charset "utf-8";
body{
	background: white;
	font-family: arial;
	margin: 0;
	padding: 0;
}
header{
 	background: #232323;
 	height: 40px;
 	width: 100%;
 	margin: 0;
 	padding: 0;
 	float: left;
 }
.record{
	width: 4%;
	height: 40px;
	float: left;
	border-right: 1px solid #7d0582;
}
.imagine1{
	background: url('../img/icono_blue.png');
	width: 33px;
	height: 22px;
	margin-left: 10px;
	margin-top: 8px;
	display: block;
}
.record:hover{
	background: #7d0582;
	color: white;
}
.sezioni{
	width: 95%;
	height:40px;
	float: left;
}
#pulsanti{
	width: 90%;
	height: 40px;
	float: left;
	padding: 0;
	margin: 0;
}
#pulsanti>li{
	width: 10%;
	height: 30px;
	display: block;
	text-align: center;
	border-right: 1px solid #7d0582;
	padding-top:  10px;
	font-family: calibri;
	color: white;
	font-weight: lighter;
	font-size: 12pt;
	float: left;
}
#pulsanti>li>a{
	text-decoration: none;
	color: white;
	text-align: center;
}
#pulsanti>li:hover{
	background: #7d0582;
}
#pulsanti>li>ahover{
	color: white;
}
.botom{
	width: 10%;
	height: 40px;
	float: left;
}
.botom>button{
	background: #9f51a5;
	height: 30px;
	width: auto;
	border: 1px solid #7d0582;
	border-radius: 4px;
	text-align: center;
	font-family: calibri;
	color: white;
	font-weight: lighter;
	font-size: 12pt;
	margin-left: 10%;
	margin-top: 5px;
}
.botom>button:hover{
	background: #7d0582;
	cursor: pointer;
	color: white;
}
.ritratto{
	width: 1404%;
	height: 498px;
	float: left;
}
#imagine2{
	background: url('../img/crecimiento.png');
	width: auto;
	height: 498px;
	padding-top: 40px;
	display: block;
}
.contenitore1{
	width: 40%;
	height: 498px;
	float: left;
}
.imagine3{
	background: url('../img/persona3.png');
	width: 567px;
	height: 498px;
	display: block;
}
.contenitore2{
	width: 50%;
	height: 498px;
	float: left;
}
.contenitore2>h1{
	color: #7d0582;
	text-align: left;
	font-family: arial black;
	font-weight: lighter;
	padding: 0;
	margin: 0;
	font-size: 30pt;
	margin-top: 50px;
	margin-left: 40px;
}
.contenitore2>p{
	letter-spacing: 2px;
	line-height: 20pt;
	color: black;
	font-family: calibri;
	font-weight: lighter;
	font-size: 12pt;
	margin: 0;
	padding: 0;
	text-align: justify;
	margin-left: 40px;
}
.contenitore2>div>button:hover{
	background: #7d0582;
	cursor: pointer;
	color: white;
}
.contenitore3{
	width: 100%;
	height: 375px;
	background: white;
	float: left;
}
.caja{
	width: 100%;
	height: 375px;
	background: white;
	float: left;
}
.caja{
	width: 33.33%
	margin-top: 25px;
	margin-bottom: 25px;
	height: 350px;
	float: left;
	background: #ececed;
}
.caja>div:first-child{
	margin-left: 4%;
	margin-right: 4%;
	width: 92%;
	height: 350px;
	float: left;
}
.caja>div:nth-child(2){
	margin-left: 4%;
	margin-right: 4%;
	width: 92%;
	height: 350px;
	float: left;
}
.caja>div:nth-child(3){
	margin-left: 4%;
	margin-right: 4%;
	width: 92%;
	height: 350px;
	float: left;
}
.caja>div:last-child{
	margin-left: 4%;
	margin-right: 4%;
	width: 92%;
	height: 350px;
	float: left;
}
.caja1{
	width: 40%;
	height: 130px;
	float: left;
}
.caja2{
	width: 60%;
	height:130px;
	float: left;
}
..caja>.vacio1{
    width: 40%;
    height: 410px;
    float: left;
}
.caja>.vacio2{
    width: 60%;
    height: 410px;
    float: left;
}
.caja>div>.vacio1>.caja1>.img4{
    width: 100px;
    height: 100px;
    background: url('../img/icono5.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}
.caja>div>.vacio1>.caja1>.img5{
    width: 100px;
    height: 100px;
    background: url('../img/icono6.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}
.caja>div>.vacio1>.caja1>.img6{
    width: 100px;
    height: 100px;
    background: url('../img/icono7.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}
.caja>div>.vacio1>.caja2>h2{
	text-align: right;
    font-family: calibri;
    color: black;
    font-size: 20pt;
    margin:0;
    margin-top: 25px;
    font-weight: bold;
}
.caja>div>.vacio2>p{
  font-family: calibri;
  font-size: 12pt;
  font-weight: normal;
  text-align: justify;
  color: #212121;
  margin-left: 5%;
  line-height: 16pt;
  padding: 0;
  margin:0;
}
.contenedore4{
    width: 100%;
    height: 375px;
    background: white;
    font-family: helvetica;
    float: left;
}
.caja3{
    width: 20%;
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 25px;
    height: 350px;
    float: left;
    background: #ECECED;
}
.caja3>div:first-child{
    margin-left:4%;
    margin-right: 4%;
    width: 92%;
    height: 350px;
    float:left;
}
.caja3>div:nth-child(2){
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
    height: 350px;
    float:left;
}
.caja3>div:nth-child(3){
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
    height: 350px;
    float:left;
}
.caja3>div:last-child{
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
    height: 350px;
    float:left;
}
.caja1{
    width: 40%;
    height: 130px;
    float: left;
}
.caja2{
    width: 60%;
    height: 130px;
    float: left;
}
.caja3>.vacio1{
    width: 40%;
    height: 410px;
    float: left;
}
.caja3>.vacio2{
    width: 60%;
    height: 410px;
    float: left;
}
.caja3>div>.vacio1>.caja1>.img7{
    width: 100px;
    height: 100px;
    background: url('../img/icono5.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}
.caja3>div>.vacio1>.caja1>.img8{
    width: 100px;
    height: 100px;
    background: url('../img/icono6.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}
.caja3>div>.vacio1>.caja1>.img9{
    width: 100px;
    height: 100px;
    background: url('../img/icono7.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}
.caja3>div>.vacio1>.caja1>.img10{
    width: 100px;
    height: 100px;
    background: url('../img/icono8.png');
    margin: 0;
    margin-top: 20px;
    display: block;
}
.caja3>div>.vacio1>.caja2>h2{
    text-align: right;
    font-family: calibri;
    color: black;
    font-size: 20pt;
    margin:0;
    margin-top: 25px;
    font-weight: bold;
}
.caja3>div>.vacio2>p{
  font-family: calibri;
  font-size: 12pt;
  font-weight: normal;
  text-align: justify;
  color: #212121;
  margin-left: 5%;
  line-height: 16pt;
  padding: 0;
  margin:0;
}
#pie{
  width: 100%;
  height: 90px;
  float: left;
  background: #710843;
}
#pie>p{
  text-align: center;
  font-weight: normal;
  color:white;
  font-family: calibri;
  font-size: 12pt;
  margin:0;
  margin-top: 25px;
}

