@charset "utf-8";
.bg-dark {
	background-color: black !important;
}

.lead {
	font-size: 1.25rem;
	font-weight: 300;
	word-wrap: break-word;}

	body{
		background: url('../../img/beatriz_img/fondo5.png');
		color: white;
	}

