<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Parcial Katherine</title>
	<link rel="stylesheet" type="text/css" href="../../css/katherine_parcial.css">
</head>
<body>
	<header>
		<div class="b1">
				<div class="img1"></div>
		</div>
		<div class="b2">
				<ul id="menu">
					<li><a href="#">Home</a></li>
				    <li><a href="#">Our Services</a></li>
				    <li><a href="#">Our History</a></li>
				    <li><a href="#">Examples</a></li>
				    <li><a href="#">Documentation</a></li>
				    <li><a href="#">Lets Play</a></li>
				    <li><a href="#">Photos</a></li>
				    <li><a href="#">Administration</a></li>
				    <li><a href="#">Delivery</a></li>
				    <li><a href="#">Contact us</a></li>
			
				</ul> 			
		</div>		   
        <div class="b3">
        	<button>Ingresar</button>	
        </div>
	</header>
	<section>
			<article name=portada>
				<div class="img2">
					<div class="hijo1">
						<h1>We are Genius!!</h1>
						
					</div>
					<div class="hijo2">
						<div class="im"></div>
					</div>
						

                </div>
    </article>
	
</body>
</html>