<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Katherine tarea 4</title>
	<link rel="stylesheet" type="text/css" href="../../css/katherine_tarea4.css">
</head>
<body>
	<header>
		<div class="barra1">
			<div class="img1"></div>
		</div>
		<div class="barra2">
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contac us</a></li>
			</ul>
        </div>
	</header>
	<section>
		<article name=portada>
				<div class="img2">
					<div class="hijo1">
						<div class="img2a"></div>

					</div>		
					<div class="hijo2">
						<h1>Discover Our Brand</h1>
						<br>
						<p>Contrary to popular belief,Lorem Ipsum not simply random text. It has roots in
						 piece of classical Latin literature from 45 BC, making it over 200 years old. Richard McClintock a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem and going through the cites of the word in classical literature, discovered the undoubtable source.</p>				
				    <div>
						<button>Know more</button>
						<button>Contact us</button>
						<button>Download</button>
				
				    </div>
				</div>	
		</article>	
		<article>
			<div id="parte2">
				<div name="1">
					<div class="icono">
						<div class="icn2"></div>
				    </div>
				    	<div class="texto">
				    		<h2>IFront End</h2>
				    		<hr>
				    		<p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin is not simply random text. It has roots in a piece of classical Latin literature.<br>
				      		<br>	
				    		Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin is not simply random text. It has roots in a piece of classical Latin literature</p>
				    	    
				        </div>
				</div> 
				<div name="2">
					<div class="icono">
						<div class="icn3"></div>
				    </div>
				    	<div class="texto">
				    		<h2>Web Services</h2>
				    		<hr>
				    		<p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin is not simply random text.It has roots in a piece of classical Latin literature. <br>
				      		<br>	
				    		Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin is not simply random text. It has roots in a piece of classical Latin literature</p>
				        </div>
				</div>           	
				<div name="3">
					<div class="icono">
						<div class="icn4"></div>
				    </div>
				    	<div class="texto">
				    		<h2>DataGuard</h2>
				    		<hr>
				    		<p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin is not simply random text.It has roots in a piece of classical Latin literature. <br>
				      		<br>	
				    		Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin is not simply random text. It has roots in a piece of classical Latin literature</p>
				        </div>
				</div> 
				<div name="4">
					<div class="icono">
						<div class="icn5"></div>
				    </div>
				    	<div class="texto">
				    		<h2>Tecno-In</h2>
				    		<hr>
				    		<p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin is not simply random text. It has roots in a piece of classical Latin literature. <br>
				      		<br>	
				    		Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin is not simply random text. It has roots in a piece of classical Latin literature</p>
				        </div>
				</div>           	          			
			</div>

		</article>
				<article>
			<div id="parte2">
				<div name="1">
					<div class="icono">
						<div class="icn2"></div>
				    </div>
				    	<div class="texto">
				    		<h2>IFront End</h2>
				    		<hr>
				    		<p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin is not simply random text. It has roots in a piece of classical Latin literature.<br>
				      		<br>	
				    		Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin is not simply random text. It has roots in a piece of classical Latin literature</p>
				    	    
				        </div>
				</div> 
				<div name="2">
					<div class="icono">
						<div class="icn3"></div>
				    </div>
				    	<div class="texto">
				    		<h2>Web Services</h2>
				    		<hr>
				    		<p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin is not simply random text.It has roots in a piece of classical Latin literature. <br>
				      		<br>	
				    		Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin is not simply random text. It has roots in a piece of classical Latin literature</p>
				        </div>
				</div>           	
				<div name="3">
					<div class="icono">
						<div class="icn4"></div>
				    </div>
				    	<div class="texto">
				    		<h2>DataGuard</h2>
				    		<hr>
				    		<p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin is not simply random text.It has roots in a piece of classical Latin literature. <br>
				      		<br>	
				    		Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin is not simply random text. It has roots in a piece of classical Latin literature</p>
				        </div>
				</div> 
				<div name="4">
					<div class="icono">
						<div class="icn5"></div>
				    </div>
				    	<div class="texto">
				    		<h2>Tecno-In</h2>
				    		<hr>
				    		<p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin is not simply random text. It has roots in a piece of classical Latin literature. <br>
				      		<br>	
				    		Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin is not simply random text. It has roots in a piece of classical Latin literature</p>
				        </div>
				</div>           	          			
			</div>

		</article>
	</section>

	
	<footer>
		<div>
			<p>GM12069 <br>
			KATHERINE LARISSA GARCIA</p>
		</div>	
	</footer>

</body>
</html>