<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Katherine tarea 4</title>
	<link rel="stylesheet" type="text/css" href="../../css/katherine_tarea4.css">
</head>
<body>
	<header>
		<div class="barra1">
			<div class="img1"></div>
		</div>
		<div class="barra2">
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contac us</a></li>
			</ul>
        </div>

			
	

	</header>
	<section></section>
	<article></article>
	<footer></footer>

	
</body>
</html>