<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Parcial Katherine</title>
	<link rel="stylesheet" type="text/css" href="../../css/katherine_parcial.css">
</head>
<body>
	<header>
		<div class="b1">
				<div class="img1"></div>
		</div>
		<div class="b2">
				<ul id="menu">
					<li><a href="#">Home</a></li>
				    <li><a href="#">Our Services</a></li>
				    <li><a href="#">Our History</a></li>
				    <li><a href="#">Examples</a></li>
				    <li><a href="#">Documentation</a></li>
				    <li><a href="#">Lets Play</a></li>
				    <li><a href="#">Photos</a></li>
				    <li><a href="#">Administration</a></li>
				    <li><a href="#">Delivery</a></li>
				    <li><a href="#">Contact us</a></li>
			
				</ul> 			
		</div>		   
        <div class="b3">
        	<button>Ingresar</button>	
        </div>
	</header>
	<section>
			<article name=portada>
				<div class="img2">
					<div class="hijo1">
						<h1>We are Genius!!</h1>

						<p>Lorem Ipsum es simplemente el 
						texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.</p>
						<br>
						<p>cuando un impresor desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especiment.</p>
						<br>
					
					<div>
						<button>Know more</button>
						<button>Contact us</button>
						<button>Download</button>
						<button>Send us</button>
					</div>
					</div>	

					<div class="hijo2">
						<div class="im"></div>
					</div>
                </div> 
    </section>                 
            </article>
            <article>
			<div id="art">
				<div name="1">
					<div class="imagen2">
						<div class="ic1"></div>
				    </div>
				    	<div class="texto2">
				    		<h2>FrontEnd</h2>
				    		<hr>
				    		<p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin.</p>
				        </div>
				</div> 
				<div name="2">
					<div class="imagen2">
						<div class="ic2"></div>
				    </div>
				    	<div class="texto2">
				    		<h2>FrontEnd</h2>
				    		<hr>
				    		<p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin.</p>
				        </div>
				</div>  
				         	


            	
            </article>

    



	
</body>
</html>