<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Katherine Garcia</title>
	<link rel="stylesheet" href="../../css/Katherine.css">
</head>
<body>
	<header id="menu">
		    <div class="child1">
		    	 <div class="a"></div>
		    	<div class="b"> </div>
		    </div>

		    <div class="child2">
		    <div class="c"></div>
		    <div class="d"></div>
		    <div class="e"></div>
		    <div class="f"></div>
		 
		  </div>
	</header>
	<section id="principal"> 
		<div class="portada"></div>
		<div class="p1"></div>

	</section>
	    <div class="parte2">
	    <div class="p2">
	    	<div class="p2a"></div>
	    	<div class="p2b"></div>
	    	<div class="p2c"></div>
	    	<div class="p2d"></div>
	    
	    	 
	    
	   
	    
	    
	 </div> 
	      	

	<footer></footer>
</body>
</html>

