<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarea 3 Katherine</title>
	<link rel="stylesheet" href="../../css/katherine_tarea3.css">
</head>
<body>
<div class="contenedor">
	<header name="portada">
		<div class="hijo1">
			<div class="img1"></div>
		</div>
		<div class="hijo2">
			<h1>Coffee Great Plain "GOLD"</h1>
				
			<h3>our tradition is the best</h3>
			
		</div>
		
	</header>
	<section>
		<article name="contenido1">
			<div class="t1">
				<h2>Know about our history</h2>
		
				<p>On December 12, 2002, the first Juan Valdez® Café store opened its doors at the El Dorado International Airport in Bogota, with a dream story and great achievements for Colombian premium coffee.</p>
				<br>
				<p>The firts international store was opened in the city Whasinton D.C.<br> 
                We are currently in New York and continue to strongly develop our presence in and around Miami.</p>
	
			</div>
			<div class="t2">
				<div class="a">
					<div class="img2"></div>
				</div>
				<div class="b">
					<h2>Discover Your Perfect Cup</h2>

					<p>We extend the experiences to more stores, so that coffe lovers find their perfect cup enjoying the origins of espresso-based dinks.</p>
					
					<h3>...this is a great cafe</h3>




				</div>
	
			</div>
		</article>	
	</section> 
	<footer></footer>
</div>
	
</body>
</html>