<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Katherine Garcia</title>
	<link rel="stylesheet" href="../../css/Katherine.css">
</head>
<body>
	<header id="menu">
		<div class="child1">
			<div class="a"></div>
			<div class="b"> </div>
		</div>

		<div class="child2">
		    <div class="c"></div>
		    <div class="d"></div>
		    <div class="e"></div>
		    <div class="f"></div>
		</div>
	</header>
	<section id="principal"> 
		<div class="portada"></div>
		<div class="p1"></div>

	
	    <article id="parte2">
	    	<div class="p2">
	    		<div class="p2a"></div>
	    		<div class="p2b"></div>
	    		<div class="p2c"></div>
	    		<div class="p2d">
	    			<div class="p2da"></div>
	    		</div>
	    	</div>
	        <div class="p3">
	        	<div class="p2a"></div>
	        	<div class="p2b"></div>
	        	<div class="p2c"></div>
	        	<div class="p2d">
	        		<div class="p2da"></div>
	        	</div>
	        </div>
	        <div class="p4">
	            <div class="p2a"></div>
	        	<div class="p2b"></div>
	        	<div class="p2c"></div>
	        	<div class="p2d">
	        		<div class="p2da"></div>
	        	</div>	
	        </div>	
        </article>

            <article id="parte3">
            	<div class="p3a"></div>
        	    <div class="p3b">
        	    	<div class="p3b1">
        	    		<div class="p3b1a"></div>
        		</div>	
        		    <div class="p3b2"></div>
        		    <div class="p3b3">
        		    	<div class="p3b3a"></div>
        		    </div>
        </article>	
        <article id="parte4">
        	<div class="p4a">
        		<div class="p4a1"></div>
        		<div class="p4a2"></div>
        		<div class="p4a3"></div>
        		<div class="p4a4"></div>
        		<div class="p4a5"></div>
        		<div class="p4a6"></div>
        		<div class="p4a7"></div>
        	</div>
        	<div class="p4b">
        		<div class="p4b1"></div>
        		<div class="p4b2">
        			<div class="p4b2a"></div>
        	</div>
        </article>
    </section>
    <footer>
    	<div class="ft">
    		<div class="fta"></div>
    		<div class="ftb">
    			<div class="ftb1">
    				<div class="ftb1a"></div>
    				<div class="ftb1b"></div>
    				<div class="ftb1c"></div>
    				<div class="ftb1d"></div>
    			</div>	
    			<div class="ftb2"></div>		
    </footer>
</body>
</html>

