<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Katherine Garcia laboratorio</title>
		<link rel="stylesheet" href="../../css/katherine_lab.css">
	</head>
	<body>
		<header>
		   <article id="info">
			<div class="caja1"></div>
			<div class="caja2">
				<div class="icono">
			</div>
			<div class="caja3"></div>
			<div class="caja4"></div>
			<div class="caja5"></div>	

		  </article>

		  <div class="menu">
		  	<div class="logo"></div>
		  	<div class="cajavacia"></div>
		    <div class="home"></div>
		  	<div class="know"></div>
		  	<div class="brands"></div>
		  	<div class="corporate"></div>
		  	<div class="blog"></div>
		  	<div class="comunity"></div>
		  	<div class="contact"></div>
		  </div>
		</header>
		<section>
			<article id="portada">
				<div class="portada1">
					<div class="portada1a">
		</article> 
		</section>	
		
	</body>
	</html>	
