<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>media</title>
	<link rel="stylesheet" type="text/css" href="../../css/katherine_media.css">
</head>
<body>
	<header>
		<div>
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Our People</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>	
	</header>
	<section>
		<article name="banner">
			<div id="banner">
				<div class="imagen">
					<div class="img1"></div>
				</div>

				<div class="texto">
					<div>
						<h1>Discovered our Brand</h1>
						<br>
						<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</p>
						<br>
						<div>
							<button>Download</button>
							<button>Contact Us</button>
					    </div>
				    </div>
				</div>
			</div>	
		</article>
		<article></article>
	</section>
	<footer></footer>	

	
</body>
</html>