<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ejercicio 1</title>
    <link rel="stylesheet" href="../../css/victoria.css">
    <!-- <link rel="stylesheet" href="css/nuevoestilo.css"> -->
</head>
<body>
<header>
    <div class="child1">
        <div class="a"></div>
        <div class="b"></div>
    </div>
    <div class="child2">
        <div class="c"></div>
        <div class="d"></div>
        <div class="e"></div>
        <div class="f"></div>
    </div>
</header>
<section class="top">
    <div id="picture"></div>
    <div id="stripe"></div>
</section>
<section class="middle1">
    <div class="child3">
        <div class="box">
            <div class="top-box"></div>
            <div class="middle-box"></div>
            <div class="bottom-box"></div>
            <div class="foot-box">
                <div class="leftfoot"></div>
                <div class="centerfoot"></div>
                <div class="rightfoot"></div>
            </div>
        </div>
        <div class="box">
            <div class="top-box"></div>
            <div class="middle-box"></div>
            <div class="bottom-box"></div>
            <div class="foot-box">
                <div class="leftfoot"></div>
                <div class="centerfoot"></div>
                <div class="rightfoot"></div>
            </div>
        </div>
        <div class="box">
            <div class="top-box"></div>
            <div class="middle-box"></div>
            <div class="bottom-box"></div>
            <div class="foot-box">
                <div class="leftfoot"></div>
                <div class="centerfoot"></div>
                <div class="rightfoot"></div>
            </div>
        </div>
</section>
<section class="middle2">
    <div class="child4">
        <div class="child-left"></div>
        <div class="child-right">
            <div class="top-right1"></div>
            <div class="middle-right1">
                <div class="middle1-left-content"></div>
                <div class="middle1-right-content"></div>
            </div>
            <div class="middle-right2"></div>
            <div class="middle-right3">
                <div class="middle2-left"></div>
                <div class="middle2-center"></div>
                <div class="middle2-right"></div>
            </div>
            <div class="bottom-right1"></div>
        </div>
    </div>
</section>
<section class="middle3">
    <div class="child5">
        <div class="child5-top"></div>
        <div class="child5-middle1">
            <div class="g"></div>
            <div class="h"></div>
        </div>
        <div class="child5-middle2">
            <div class="i"></div>
            <div class="j"></div>
        </div>
        <div class="child5-middle3">
            <div class="k"></div>
            <div class="l"></div>
        </div>
        <div class="child5-bottom"></div>
    </div>
    <div class="child6">
        <div class="child6-top"></div>
        <div class="child6-middle1"></div>
        <div class="child6-middle2"></div>
        <div class="child6-middle3"></div>
        <div class="child6-bottom"></div>
    </div>
</section>
<footer></footer>
</body>
</html>