<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ejercicio 2</title>
    <link rel="stylesheet" href="../../css/victoria2.css">
</head>
<body>
<header>
<div class="infobar">
		<div class="opc">
			<div class="phone-icon"></div>
			<div class="phone-number"></div>
			<div class="partners"></div>
			<div class="login"></div>
		</div>
	</div>
	<nav class="navegation">
		<div class="image"></div>
		<ul>
			<li class="item-menu"></li>
			<li class="item-menu"></li>
			<li class="item-menu"></li>
			<li class="item-menu"></li>
			<li class="item-menu"></li>
		</ul>
	</nav>
</header>

<section>
	<!-- Banner principal -->
	<div class="banner">
		<div class="imagebg"></div>
		<div class="imagedesc"></div>
	    <div class="lightbox">
	    	<div id="titlelightbox"></div>
	    	<div id="descriptionlightbox"></div>
	    	<div id="linklightbox"></div>
	    </div>
	</div>
	<!-- Fin banner principal -->

	<!-- Top content -->
	<article class="topcontent">
		<div class="bluecontent">
			<div id="titleblue"></div>
			<div id="descriptionblue"></div>
			<div id="buttonblue"></div>
		</div>
	</article>
	<!-- Fin del top content -->

	<!-- Gallery -->
	<article class="gallerycontent">
		<div class="gallerybox">
			<div class="titlegallerybox"></div>
			<div class="imagegallerybox"></div>
			<div class="linkgallerybox"></div>
		</div>
		<div class="gallerybox">
			<div class="titlegallerybox"></div>
			<div class="imagegallerybox"></div>
			<div class="linkgallerybox"></div>
		</div>
		<div class="gallerybox">
			<div class="titlegallerybox"></div>
			<div class="imagegallerybox"></div>
			<div class="linkgallerybox"></div>
		</div>
		<div class="gallerybox">
			<div class="titlegallerybox"></div>
			<div class="imagegallerybox"></div>
			<div class="linkgallerybox"></div>
		</div>
		<div class="gallerybox">
			<div class="titlegallerybox"></div>
			<div class="imagegallerybox"></div>
			<div class="linkgallerybox"></div>
		</div>
		<div class="gallerybox">
			<div class="titlegallerybox"></div>
			<div class="imagegallerybox"></div>
			<div class="linkgallerybox"></div>
		</div>
	</article>
	<!-- Fin de gallery -->

	<!-- About us -->
	<article class="bottom-content">
	    <div class="imageabout"></div>
		<div class="aboutblue">
		    <div class="aboutleft">
		    	<div class="abouttitle"></div>
		    	<div class="aboutdesc"></div>
		    </div>
		    <div class="aboutright">
		    	<div class="abouttext"></div>
		    </div>
	    </div>
	</article>
	<!-- Fin del about us -->
</section>
<footer>
	<!-- Formulario de contacto -->
</footer>
</body>
</html>