<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>media</title>
	<link rel="stylesheet" href="../../css/victoriamedia.css">
	 <link rel="icon" type = "imge/png" href="../../img/favicon.ico">
</head>
<body>
	<header id="encabezado">
		<div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Our People</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>
	<section id="cuerpo">
		<article class="banner">
			<div class="child1">
				<div class="im1"></div>
			</div>
			<div class="child2"></div>
			<div>
				<h1>Discovered our Brand</h1>
			</div>
			<div>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
				</p>
			</div>
			<div>
			<button class="btn1">Donwload</button>
			<button class="btn2">Contact us</button>
			</div>
		</article>
		<article class="sec2"></article>
	</section>
	<footer id="pie"></footer>
</body>
</html>