<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Coffe</title>
	<link rel="stylesheet" href="../../css/victoria_tarea3.css">
	<link href="https://fonts.googleapis.com/css?family=Arimo:400,700|Dosis:400,500,700" rel="stylesheet">
</head>
<body>
<header id="encabezado">
	<h1>Coffee Great plain "GOLD"</h1>
	<h2>our tradition is the best</h2>
</header>
<section id="contenido">
	<article class="superior">
		<h3>know abaut our history</h3>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magni Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magni Cum sociis natoque penatibus et magni Cum sociis natoque penatibus et magni</p>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magni Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magni Cum sociis natoque penatibus et magni Cum sociis natoque penatibus et magni</p>
	</article>
	<article class="superior2">
		<div class="imagen-box">
			<img src="../../img/img1.png">
		</div>
		<div class="texto-box">
			<h3>Discover your perfect cup</h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magni Cum sociis natoque penatibus et magni Cum sociis natoque penatibus et magni Cum sociis natoque penatibus et</p>
			<p class="texto-right">...this is a great cafe</p>
		</div>
	</article>
	<article class="dos-columnas">
		<div class="columna-der">
			<h3>Firts shop origins</h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
		</div>
		<div class="columna-izq">
			<h3>Our desing</h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
		</div>
	</article>
	<article class="imagen">
		<div>
			<img src="../../img/article4.png">
		</div>
	</article>
	<article class="inferior">
		<h3>We Are Over 3'00.0000 Of Friends On Faceboo.</h3>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magni Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magni consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magni</p>
	</article>
</section>
<footer id="footer">
	<div class="copy">
        <p>Copyright <img src="../../img/logo-footer.png"></p>
	</div>
	<div>
		<button class="joinbutton">Join now ! !</button>
	</div>
</footer>
</body>
</html>