<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>victoria_parcial</title>
	<link rel="stylesheet" href="../../css/victoria_parcial.css">
</head>
<body>
	<header id="encabezado">
		<div>
			<ul>
				<li>
					<img src="../../img/icono_blue.png" alt="icono">
				</li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contac Us</a></li>
			</ul>
		</div>

<div class="child3">
			<div class="boton">
				<button>Registro</button>
			</div>
		</div>

	</header>
	<section id="c-banner">
		<article class="banner">
			<div class="child1">
				<div class="img1"></div>
			</div>
			<div class="child2">
				<div>
				<h1>We Are Geniuss!!</h1>
				</div>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis vel, aliquet nec.</p>

					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing vel, aliquet nec vel, aliquet necvel, aliquet nec.</p>
				</div>
				<div>
					<button class="btn1">Contact Us</button>
					<button class="btn2">Know More</button>
					<button class="btn3">Send us</button>
					<button class="btn4">Download</button>
				</div>
			</div>
			</div>
			</div>
		</article>
	</section>
	<section id="contenido">
		<article class="sec2">
			<div>
				<div tema="1">
					<div>
						<div class="img2"></div>
					</div>
					<div>
						<h2>IFront end</h2>
						<hr>
						<p class="f">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget Aenean commodo ligula.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget  Aenean commodo ligula.
						</p>

					</div>
				</div>
				<div tema="2">
					<div>
						<div class="img3"></div>
					</div>
					<div>
						<h2>Web Services</h2>
						<hr>
						<p class="f">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget  Aenean commodo ligula.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget Aenean commodo ligula.
						</p>

					</div>
				</div>
				<div tema="3">
					<div>
						<div class="img4"></div>
					</div>
					<div>
						<h2>DataWuard</h2>
						<hr>
						<p class="f">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget  Aenean commodo ligula.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula  Aenean commodo ligula.
						</p>

					</div>
				</div>
				</section>
			</article>

<section id="contenido2">
		<article class="sec3">
			<div>

				<div tema="3">
					<div>
						<div class="img5"></div>
					</div>
					<div>
						<h2>DataWuard</h2>
						<hr>
						<p class="f">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
						</p>

					</div>
				</div>
				<div tema="3">
					<div>
						<div class="img6"></div>
					</div>
					<div>
						<h2>DataWuard</h2>
						<hr>
						<p class="f">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
						</p>

					</div>
				</div>
				

			</div>
</section>
<section id="contenido2">
		<article class="sec4">
			<div>

				<div tema="3">
					<div>
						<div class="img7"></div>
					</div>
					<div>
						<h2>DataWuard</h2>
						<hr>
						<p class="f">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
						</p>

					</div>
				</div>
				<div tema="3">
					<div>
						<div class="img8"></div>
					</div>
					<div>
						<h2>DataWuard</h2>
						<hr>
						<p class="f">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
						</p>

					</div>
				</div>
				

			</div>
</section>
	<footer id="pie">
		<p>PE-12011<br>  Victoria Argentina Ponce Escobar</p>
	</footer>
</body>
</html>

