<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ejercicio 2</title>
	<link rel="stylesheet" href="../../css/jimmy.css">
</head>
<body>
	<header>
		<div class="cabeza">
			<div class="cabezah1"></div>
			<div class="cabezah2">
				<div class="icono"></div>
				<div class="cabezah2n1"></div>
				<div class="separador1"></div>
				<div class="cabezah2n2"></div>
				<div class="separador2"></div>
				<div class="cabezah2n3"></div>
			</div>
		</div>
	<header>
		<div class="menu">
			<div class="caja1">
				<div class="caja1h"></div>
				<div class="caja2h">
					<div class="loguito"></div>
				</div>
				<div class="caja3h"></div>
			</div>
			<div class="caja2">
				<div class="caja2h1"></div>
				<div class="caja2h2"></div>
				<div class="caja2h3"></div>
				<div class="caja2h4"></div>
				<div class="caja2h5"></div>
			</div>
		</div>	
	</header>
    <section>
    	<article class="imagen">
    		<div class="fila1"></div>
    		<div class="fila2"></div>
    		<div class="fila3">
    			<div class="fila3h1">
    				<div class="fila3h1n">
    					<div class="our"></div>
    				</div>
    				<div class="fila3h2n"></div>
    				<div class="fila3h3n">
    					<div class="vermas">
    						<div class="botonn"></div>
    					</div>
    				</div>
    		</div>
    	</article>
    </section>
    <section>
    	<article class="loren">
    		<div class="loren1"></div>
    		<div class="loren2">
    			<div class="loren2n1"></div>
    			<div class="loren2n2"></div>
    			<div class="loren2n3"></div>
    			<div class="loren2n4"></div>	
    		</div>
    	</article>
    </section>
    <section>
    	<article>
    		<div class="loremipsum">
    			<div class="loremipsum1"></div>
    			<div class="loremipsum2"></div>
    			<div class="loremipsum3"></div>
    			<div class="loremipsumimg1">
    				<div class="loremipsumimg1n1"></div>
    			</div>
    			<div class="loremipsumimg2">
    				<div class="loremipsumimg1n2"></div>
    			</div>
    			<div class="loremipsumimg3">
    				<div class="loremipsumimg1n3"></div>
    			</div>
    			<div class="loremipsum4"></div>
    			<div class="loremipsum5"></div>
    			<div class="loremipsum6"></div>
    			<div class="loremipsumimg4">
    				<div class="loremipsumimg1n4"></div>
    			</div>
    			<div class="loremipsumimg5">
    				<div class="loremipsumimg1n5"></div>
    			</div>
    			<div class="loremipsumimg6">
    				<div class="loremipsumimg1n6"></div>
    			</div>
    		</div>
    	</article>
    </section>
    <section>
    	<article>
    		<div class="ultimaseccion">
    			<div class="maquina"></div>
    			<div class="about">
    				<div class="about1">
    					<div class="ut"></div>
    				</div>
    				<div class="about2">
    					<div class="bou"></div>
    				</div>
    				<div class="about3">
    					<div class="bou1"></div>
    				</div>
    			</div>
    		</div>
    	</article>
    </section>
    <section>
    	<article>
    		<div class="contactos">
    			<div class="contactos1">
    				<div class="contactos1h1"></div>
    			</div>
    			<div class="contactos2">
    				<div class="con2h1"></div>
    				<div class="con2h2"></div>
    				<div class="con2h3"></div>
    				<div class="con2h4"></div>
    				<div class="con2h5"></div>
    				<div class="con2h6"></div>
    			</div>
    			<div class="contactos3">
    				<div class="con3h1"></div>
    				<div class="con3h2"></div>
    				<div class="con3h3"></div>
    			</div>
    		</div>
    	</article>
    </section>
    <footer>
    	<div class="footer">
    		<div class="fooleft">
    			<div class="foo1">
    				<div class="foo1h1"></div>
    				<div class="foo1h2"></div>
    				<div class="foo1h3"></div>
    				<div class="foo1h4"></div>
    			</div>
    		</div>
    		<div class="foorigth">
    			<div class="foo2h1"></div>
    			<div class="foo2h2"></div>
    			<div class="foo2h3"></div>
    			<div class="foo2h4"></div>
    			<div class="foo2h5"></div>
    			<div class="foo2h6"></div>
    			<div class="foo2h7"></div>
    		</div>
    	</div>
    </footer>

   
</body>
</html>