<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jimmy Lopez</title>
	<link rel="stylesheet" href="../../css/jimmy_tarea3.css">
</head>
<body>
<div id="contenedor">
	<header id="header">
		<div class="h1">
			<div class="img1"></div>
		</div>
		<div class="h2">
			<div class="text_2">
				   <h1>Coffee Great Plain “GOLD”</h1>
			</div>
		</div>
		<div class="h3">
			<div class="text_3">
				<h5>our tradition is the best</h5>
			</div>
		</div>
	</header>
	<seccion>
		<article class="kw">
			<div class="text_4">
				<h4>know about our history</h4>
			</div>	
			<div class="text_5">
				<p>
					On Dicember 12, 2002, the first Juan Valdez® Cafe store opeding its doors at the El Dorado international airport in  Bogotá, with a dream story and great achievements for Colombia Premium Coffee.	
				<p/>
				<br/>
				<p>
					The firh international store was opened in the     city of Whashington D.C. 
				</p>	
				<p>
				    We are currently in New York and continue to strongly develop our presence in and around Miami.
				</p>
			</div>
		</article>
		<article class="cup">
			<div class="fila1">
				<div class="imagen">
					<div class="img2"></div>
				</div>
			    <div class="cont">
			    	<div class="text_6">
			    		<h2>Discover Your Perfect Cup</h2>
			    		<p>
			    			We extend the experience to more estore, so that coffe lovers find their perfect cup enjoying the origins of espresso-based drinks.
			    		</p>
			    	<div class="text_7">
			    		<p>
			    			...this is a great cafe
			    		</p>
			        </div>
			    	
			    </div>
			</div>
		</article>
		<article class="fso">
			<div class="fso1"></div>
			<div class="fso2">
				<div class="text8">
					<h2>Firsh Shop Origins...</h2>
					<br/>
					<p>
						In 2013 we inaugurate the first Origins store and began the development of a new experience. the way for the creation of the perfect cup.  
					</p>
				</div>
				<div class="text9">
					<h2>Our desing...</h2>
					<br/>
					<p>
						The desing of the storeand the variety of colognes of Colombian origin prepared with new methods paved.  
					</p>
				</div>
			</div>
		</article>
		<article>
			<div class="baner">
				<div class="b1">
					<div class="img3"></div>
				</div>
				<div class="text10">
					<h2>
						We are over 3´000.000 Of Friends On Facebook
					</h2>
					<br/>
					<p>
						With the opening of Juan Valdes® coffee shops in different countries we have consolidated a digital community connected around the world that interacts daily with the brand and motivates us to continue improving.
					</p>
				</div>
			</div>
		</article>
	</seccion>
	<footer>
		<div class="footer">
			<div class="text11">
				<h4>Copyright:</h4>
			</div>
			<div class="ft">
				<div class="img4"></div>
			</div>
			<div class="boton">
				<button >Join now!!</button>
			</div>
		</div>
	</footer>
</div>
 	
</body>
</html>