<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>jimmytarea4</title>
	<link rel="stylesheet"  href="../../css/jimmy_tarea4.css">
	
</head>
<body>
	<header>
		<div>
			<ul id="menu">
				<li><a href="#"><div class="logo"></div></a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Service</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lest play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
		</div>
	</header>
	<section>
		<article>
			<div class="fondo">
				<div class="baner">
					<div class="b1">
						<div class="img1"></div>
					</div>
					<div class="b2">
						<h2>
							Discobey Our Brand
						</h2>
						<br>
						<p>
							HTML, sigla en inglés de HyperText Markup Language (lenguaje de marcas de hipertexto), hace referencia al lenguaje de marcado para la elaboración de páginas web. Es un estándar que sirve de referencia del software que conecta
							con la elaboración de páginas web en sus diferentes versiones, define una estructura 
						</p>

						<button class="bot1">Know</button>
						<button class="bot2">Contact us</button>
						<button class="bot3">Donwload</button>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div id="art1">
				<div class="ca1">
					<div class="img2"></div>
					<div class="text1">
						<h1>
							IFront End
						</h1>
						<hr>
						<br>
						<P>
							En países como Estados Unidos o Canadá, los ensayos se han convertido en una parte importante de la educación. Así, a los estudiantes de secundaria se les enseña formatos estructurados de ensayo para 
						</P>
						<br>
						<p>
							mejorar sus habilidades de escritura, o en humanidades y ciencias sociales se utilizan a menudo los ensayos como una forma de evaluar el conocimiento de los estudiantes en los exámenes finales, o ensayos de admisión son utilizados por universidades en la selección de sus alumnos.
						</p>
					</div>
				</div>
				<div class="ca1">
					<div class="img3"></div>
					<div class="text1">
						<h1>
							Web Services
						</h1>
						<hr>
						<br>
						<P>
							En países como Estados Unidos o Canadá, los ensayos se han convertido en una parte importante de la educación. Así, a los estudiantes de secundaria se les enseña formatos estructurados de ensayo para 
						</P>
						<br>
						<p>
							mejorar sus habilidades de escritura, o en humanidades y ciencias sociales se utilizan a menudo los ensayos como una forma de evaluar el conocimiento de los estudiantes en los exámenes finales, o ensayos de admisión son utilizados por universidades en la selección de sus alumnos.
						</p>
					</div>
				</div>
				<div class="ca1">
					<div class="img4"></div>
					<div class="text1">
						<h1>
							Data Guard
						</h1>
						<hr>
						<br>
						<P>
							En países como Estados Unidos o Canadá, los ensayos se han convertido en una parte importante de la educación. Así, a los estudiantes de secundaria se les enseña formatos estructurados de ensayo para 
						</P>
						<br>
						<p>
							mejorar sus habilidades de escritura, o en humanidades y ciencias sociales se utilizan a menudo los ensayos como una forma de evaluar el conocimiento de los estudiantes en los exámenes finales, o ensayos de admisión son utilizados por universidades en la selección de sus alumnos.
						</p>
					</div>
				</div>
				<div class="ca1">
					<div class="img5"></div>
					<div class="text1">
						<h1>
							Tecno-in
						</h1>
						<hr>
						<br>
						<P>
							En países como Estados Unidos o Canadá, los ensayos se han convertido en una parte importante de la educación. Así, a los estudiantes de secundaria se les enseña formatos estructurados de ensayo para 
						</P>
						<br>
						<p>
							mejorar sus habilidades de escritura, o en humanidades y ciencias sociales se utilizan a menudo los ensayos como una forma de evaluar el conocimiento de los estudiantes en los exámenes finales, o ensayos de admisión son utilizados por universidades en la selección de sus alumnos.
						</p>
					</div>
				</div>	
			</div>
		</article>		
	</section>
	<footer></footer>
	
</body>
</html>