<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>jimmytarea4</title>
	<link rel="stylesheet"  href="../../css/jimmy_tarea4.css">
	
</head>
<body>
	<header>
		<div>
			<ul id="menu">
				<li><a href="#"><div class="logo"></div></a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Service</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lest play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
		</div>
	</header>
	<section>
		<article>
			<div class="fondo">
				<div class="baner">
					<div class="b1">
						<div class="img1"></div>
					</div>
					<div class="b2">
						<h2>
							Discobey Our Brand
						</h2>
						<br>
						<p>
							HTML, sigla en inglés de HyperText Markup Language (lenguaje de marcas de hipertexto), hace referencia al lenguaje de marcado para la elaboración de páginas web. Es un estándar que sirve de referencia del software que conecta
						</p>
						<br>
						<p>
							con la elaboración de páginas web en sus diferentes versiones, define una estructura básica y un código (denominado código HTML) para la definición de contenido de una página web, como texto, imágenes, videos, juegos, entre otros. 
						</p>

						<button class="bot1">Know</button>
						<button class="bot2">Contact us</button>
						<button class="bot3">Donwload</button>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div id="art1">
				<div class="ca1">
					<div class="img2"></div>
					<div class="text1"></div>
				</div>
				<div class="ca2">
					<div class="img3"></div>
				</div>
				<div class="ca3">
					<div class="img"></div>
				</div>
				<div class="ca4">
					<div class="img"></div>
				</div>
			</div>
			<div id="art2">
				<div class="ca1">
					<div class="img2"></div>
					<div class="text1"></div>
				</div>
				<div class="ca2">
					<div class="img3"></div>
				</div>
				<div class="ca3">
					<div class="img"></div>
				</div>
				<div class="ca4">
					<div class="img"></div>
				</div>
			</div>
		</article>		
	</section>
	<footer></footer>
	
</body>
</html>