<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 1</title>
	<link rel="stylesheet" href="../../css/jimmy.css">

</head>
<body>
	<header>
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
		    <div class="c"></div>
		    <div class="d"></div>
		    <div class="e"></div>
		    <div class="f"></div>
		</div>
	</header>
	<section>
		<article class="imagen">
			<div class="g"></div>
			<div class="h"></div>
	   </article>		
	</section>
	<section>
		<article class="torre1">
			<div class="t1">
				<div class="t1h1"></div>
				<div class="t1h2"></div>
				<div class="t1h3"></div>
				<div class="t1h4">
					<div class="t1h4n"></div>
				</div>
			</div>	
			<div class="t2">
				<div class="t2h1"></div>
				<div class="t2h2"></div>
				<div class="t2h3"></div>
				<div class="t2h4">
					<div class="t2h4n"></div>
				</div>
			</div>
			<div class="t3">
				<div class="t3h1"></div>
				<div class="t3h2"></div>
				<div class="t3h3"></div>
				<div class="t3h4">
					<div class="t3h4n"></div>
				</div>
			</div>
		</article> 
		<article>
			<div class="caja3">
				<div class="cajaderecha"></div>
				<div class="cajaizquierda">
					<div class="cajita1"></div>
					<div class="cajita2"></div>
					<div class="cajita3"></div>
					<div class="cajita4">
						<div class="cajita4n"></div>
					</div>
			    </div>
			</div>    	
		</article>
		<article>
			<div class="seccion4">
				<div class="cuadrito1"></div>
				<div class="cuadrito2">
					<div class="cuadtito2h1"></div>
					<div class="cuadrito2h2">
						<div class="cuadrito2h2n">
							<div class="cuadrito2h2nbn"></div>
						</div>
					</div>
				</div>
				<div class="cuadrito3"></div>
			</div>
		</article>
	</section>
	<footer>
		<div class="ultimo">
			<div class="ultimo1"></div>
			<div class="ultimo2"></div>
			<div class="ultimo3"></div>
		</div>
	</footer>
</body>
</html>