<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>jimmt parcial</title>
	<link rel="stylesheet" href="../../css/jimmy_parcial.css">
</head>
<body>
	<header id="cabeza">
		  <div>
			  <ul class="menu">
				 <li><a href="#"><div class="logo"></div></a></li>
				 <li><a href="#">Home</a></li>
				 <li><a href="#">Our Service</a></li>
				 <li><a href="#">Our History</a></li>
				 <li><a href="#">Examples</a></li>
				 <li><a href="#">Documentation</a></li>
				 <li><a href="#">Lest play</a></li>
				 <li><a href="#">Photos</a></li>
				 <li><a href="#">Contact us</a></li>
			   </ul>
		  </div>
	</header>
	
</body>
</html>