<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jimmy Lopez</title>
	<link rel="stylesheet" href="../../css/jimmy_tarea3.css">
</head>
<body>
<div id="contenedor">
	<header id="header">
		<div class="h1">
			<div class="img1"></div>
		</div>
		<div class="h2">
			<div class="text_2">
				   <h1>Coffee Great Plain “GOLD”</h1>
			</div>
		</div>
		<div class="h3">
			<div class="text_3">
				<h5>our tradition is the best</h5>
			</div>
		</div>
	</header>
		
</div>
 	
</body>
</html>