<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>jimmy lopez portafolio</title>
	<link rel="stylesheet" type="text/css" href="../../css/jimmy/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../../css/jimmy/style.css">
	<link rel="icon" type="image/png" href="../../img/jimmy_img/icon.ico">
	<style type="text/css">

	#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../../img/to-top1.png") no-repeat 0px 0px;
	}
	</style>



</head>
<body>
	<div class="container-fluid nopadding">
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="#"></a>
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" 
				data-target="#responsive" 
				aria-controls="navbarNav" 
				aria-expanded="false" 
				aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse float-right" id="responsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Features</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Pricing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#">Disabled</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<section></section>
		<footer></footer>
    </div>

	
</body>
</html>