<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>jimmt parcial</title>
	<link rel="stylesheet" href="../../css/jimmy_parcial.css">
</head>
<body>
	<header>
		 <div>
			<ul id="menu">
				<li><a href="#"><div class="logo"></div></a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Service</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lest play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#"><button>registro</button></a></li>
			</ul>
		</div>
	</header>
	<section>
		<article>
			<div class="fondo">
				<div class="baner">
					<div class="b1">
						<div class="img1"></div>
					</div>
					<div class="b2">
						<h2>
							We Are Geniaus!! 
						</h2>
						<br>
						<p>
							Facebook (pronunciación AFI: [feɪsbʊk]) (NASDAQ: FB) es una compañía estadounidense que ofrece servicios de redes sociales y medios sociales en línea con sede en Menlo Park, California. Su sitio web fue lanzado el 4 de febrero de 2004 por Mark Zuckerberg, junto con otros estudiantes de la Universidad de Harvard y compañeros de habitación, Eduardo Saverin, Andrew McCollum, Dustin Moskovitz y Chris  
						</p>

						<button class="bot1">Contact us</button>
						<button class="bot2">krow More</button>
						<button class="bot3">Seud us</button>
						<button class="bot4">Download</button>
					</div>
				</div>
			</div>
		</article>
	</section>
	
</body>
</html>