<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>jimmy lopez</title>
	<link rel="stylesheet"  href="../../css/jimmy_tarea4.css">
	
</head>
<body>
	<header>
		<div>
             <div class="logo">
             	<div> <a class="img" href="#"></a></div>
             </div> 
             <div>  
			    <ul id="menu"> 	
				    <li><a href="#">Home</a></li>
				    <li><a href="#">Our Services</a></li>
				    <li><a href="#">Our History</a></li>
				    <li><a href="#">Examples</a></li>
				    <li><a href="#">Documentation</a></li>
				    <li><a href="#">lets play</a></li>
				    <li><a href="#">Photos</a></li>
				    <li><a href="#">Contact us</a></li>
				</div>
				<div>
					<div class="fin"></div>
				</div> 
			</ul>
			
		</div>
	</header>
	<section></section>
	<footer></footer>
	
</body>
</html>