<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LAB-2</title>
	<link rel="stylesheet" href="../../css/jimmy_lab.css">
</head>
<body>
	<head>
		<div class="head1">
			<div class="hea1"></div>
			<div class="hea2">
				<div class="hea2h1"></div>
				<div class="hea2h2"></div>
				<div class="hea2h3"></div>
				<div class="hea2h4"></div>
				<div class="hea2h5"></div>
			</div>
        </div>
        <div class="head2">
			<div class="headh1">
				<div class="logo"></div>
			</div>
			<div class="headh2">
				<div class="hijo1"></div>
				<div class="hijo2"></div>
				<div class="hijo3"></div>
				<div class="hijo4"></div>
				<div class="hijo5"></div>
				<div class="hijo6"></div>
				<div class="hijo7"></div>
			</div>
		</div>	
	</head>
	<section>
		<article>
			<div class="imagen">
				<div class="imagenh">
					<div class="imgh1"></div>
				    <div class="imgh2"></div>
				    <div class="imgh3"></div>   
				</div>
			</div>
		</article>
	</section>
	<section>
		<article>
			<div class="lorem">
				<div class="lor1"></div>
				<div class="lor2">
					<div class="lor2h1">
						<div class="lor2hin1"></div>
						<div class="lor2hin2"></div>
					</div>
					<div class="lor2h2"></div>
					<div class="lor2h3">
						<div class="lor2hin3"></div>
						<div class="lor2hin4"></div>
					</div>
				</div>
				<div class="lor3">
					<div class="lor3h1">
						<div class="lor3h1n1"></div>						
						<div class="lor3h1n2"></div>	
					    </div>
					<div class="lor3h2"></div>
					<div class="lor3h3">
						<div class="lor3h3n1"></div>
						<div class="lor3h3n2"></div>	
					</div>
				</div>
			</div>
		</article>
	</section>
	<section>
		<article>
			<div class="perfumes">
				<div class="per1">
					<div class="ca1"></div>
					<div class="ca2"></div>
					<div class="ca3"></div>
				</div>
				<div class="per2"></div>

			</div>
		</article>
	</section>
</body>
</html>