<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>jimmy lopez</title>
	<link rel="stylesheet" href="../../css/jimmy_mailer.css">
</head>
<body>
<div id="contenedor">
	<header id="header">
		<div class="cl1">
			<img src="../../img/icon.gif" class="img_center" width="70" heigth="70">
				
		</div>
		<div class="cl2">
			<div class="text_3">
					<h3>CREATING</h3>
			</div>	
			<div class="text_1"</div>
				<h1>Responsive email magic</h1>
			</div>	
        </div>
	</header>
	<section></section>
	<footer></footer>
</div>	
</body>
</html>