<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>jimmy lopez</title>
	<link rel="stylesheet" href="../../css/jimmy_mailer.css">
</head>
<body>
<div id="contenedor">
	<header id="header">
		<div class="cl1">
			<div class="img1"></div>				
		</div>
		<div class="cl2">
			<div class="text_3">
					<h3>CREATING</h3>
			</div>	
			<div class="text_1">
				<h1>Responsive Email Magic</h1>
			</div>	
        </div>
	</header>
	<section>
		<article class="art1">
			<div class="intro">
			    <h2>WELCOME TO OUR RESPONSIVE EMAIL!</h2>
			    <br/>
			    <p>
			    	No obstante, este tipo de definiciones no nos dice mucho porque la definición es técnica. Para algunas personas al leer esto, piensan que HTML incluye el diseño gráfico de las páginas web, sin embargo, eso no es cierto ya que HTML sólo sirve para indicar como va ordenado el contenido de una página web. Esto lo hace por medio de las marcas de hipertexto las cuales son etiquetas conocidas en inglés como tags.
			    </p>
			</div>
		</article>
		<article class="intro" name="art2">
			<div class="cl3">
				<div class="img2"></div>
			</div>
			<div class="cl4">
				<div class="parrafo">
					<p>
						No obstante, este tipo de definiciones no nos dice mucho porque la definición es técnica. Para algunas personas al leer esto, piensan que HTML incluye el diseño gráfico de las páginas web, sin embargo, eso no es cierto ya que HTML sólo sirve para indicar como va ordenado el contenido de una página web.
					</p>
				</div>
				<div class="btn">
					<button>Claim yours!</button>
				</div>
			</div>
		</article>
		<article name="art3">
			<div class="fondito">
				<div class="img3"></div>
			</div>
		</article>
		<article name="art4">
			<div class="caja">
				<p>
					It is a <b><u>long</u></b> established fact that a reader <u>will</u> be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal 
				</p>
			</div>
		</article>
	</section>
	<footer></footer>
</div>	
</body>
</html>