<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>media</title>
	<link rel="stylesheet" href="../../css/jimmy_media.css">
	<link rel="icon" type="image/png" href="../../img/favicon.ico">
</head>
<body>
	<header id="encabezado">
		<div>
			<ul>
				<li><a href="#">home</a></li>
				<li><a href="#">documentation</a></li>
				<li><a href="#">our peolpe</a></li>
				<li><a href="#">services</a></li>
				<li><a href="#">contacts</a></li>	
			</ul>
		</div>
	</header>
	<section id="cuerpo"></section>
	<footer id="pie"></footer>
</body>
</html>