<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>media</title>
	<link rel="stylesheet" href="../../css/jimmy_media.css">
	<link rel="icon" type="image/png" href="../../img/favicon.ico">
</head>
<body>
	<header id="encabezado">
		<div>
			<ul>
				<li><a href="#">home</a></li>
				<li><a href="#">documentation</a></li>
				<li><a href="#">our peolpe</a></li>
				<li><a href="#">services</a></li>
				<li><a href="#">contacts</a></li>	
			</ul>
		</div>
	</header>
	<section id="cuerpo">
		<article class="banner">
			<div class="child1">
				<div class="img1"></div>
			</div>
			<div class="chid2">
				<div>
					<h1>Discober our brand</h1>
				</div>
				<div>
					<p>
						Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó 
					</p>
				</div>
				<div>
					<button class="btn1">Download</button>
					<button class="btn2">Contact us</button>
				</div>
			</div>
		</article>
		<article class="sec2">
		</article>
		<sec2></sec2>
	</section>
	<footer id="pie"></footer>
</body>
</html>