<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 2</title>
	<link rel="stylesheet" href="../../css/moises2.css">
</head>
<body>
	<header class="child1">
		<div class="a"></div>
		<div class="b">
			<div class="b_1"></div>
			<div class="b_2"></div>
			<div class="b_3"></div>
			<div class="b_4"></div>
		</div>
		<div class="c">
			<div class="c_1"></div>
			<div class="c_2"></div>
		</div>
		<div class="d">
			<div class="d_1"></div>
			<div class="d_2"></div>
			<div class="d_3"></div>
			<div class="d_4"></div>
			<div class="d_5"></div>
		</div>
		<div class="e"></div>
		<div class="f"></div>
	</header>
	<section>
		<article class="imagen">
			<div class="g">
				<div class="g_1"></div>
				<div class="g_2"></div>
				<div class="g_3">
					<div class="g_3_1"></div>
				</div>
			</div>
		</article>
	</section>
</body>
</html>