<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Media</title>
	<link rel="stylesheet" href="../../css/moimartinezmedia.css">
	<link rel="icon" type="image/png" href="../../img/favicon.ico"/>
</head>
<body>
	<header id="encabezado">
		<div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Our People</a></li>
				<li><a href="#">Service</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>
	<section id="cuerpo">
		<article class="banner">
			<div class="child1">
				<div class="im1"></div>
			</div>
			<div class="child2">
				<div>
					<h1>Discover Our Brand</h1>
				</div>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
				</div>
				<div>
					<button class="btn1">Download</button>
					<button class="btn2">Contact Us</button>
				</div>
			</div>
		</article>
		<article class="sec2">
			<div>
				<div>
					<div>
						<div class="img2"></div>
					</div>
					<div>
						<h2>Ifront End</h2>
						<hr>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
						</p>
					</div>
				</div>
			</div>
		</article>
	</section>
	<footer id="pie"></footer>
</body>
</html>