<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 1</title>
	<link rel="stylesheet" href="../../css/moises.css">
</head>
<body>
	<header>
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	</header>
	<section>
		<article class="imagen">
			<div class="g"></div>
			<div class="h"></div>
		</article>

		<article class="columna">
			<div class="c1">
				<div class="c1_1"></div>
				<div class="c1_2"></div>
				<div class="c1_3"></div>
				<div class="c1_4">
					<div class="c1_4_1"></div>
					<div class="c1_4_2"></div>
					<div class="c1_4_3"></div>
				</div>
			</div>

			<div class="c2">
				<div class="c2_1"></div>
				<div class="c2_2"></div>
				<div class="c2_3"></div>
				<div class="c2_4">
					<div class="c2_4_1"></div>
					<div class="c2_4_2"></div>
					<div class="c2_4_3"></div>
				</div>
			</div>
			<div class="c3">
				<div class="c3_1"></div>
				<div class="c3_2"></div>
				<div class="c3_3"></div>
				<div class="c3_4">
					<div class="c3_4_1"></div>
					<div class="c3_4_2"></div>
					<div class="c3_4_3"></div>
				</div>
			</div>
		</article>
		<article class="foto_descripcion">
			<div class="p_1"></div>
			<div class="p_2">
				<div class="p_2_1"></div>
				<div class="p_2_2"></div>
				<div class="p_2_3"></div>
				<div class="p_2_4"></div>
				<div class="p_2_5"></div>
				<div class="p_2_6"></div>
				<div class="p_2_7"></div>
				<div class="p_2_8"></div>
			</div>
		</article>
		<article class="contactos">
			<div class="cont_1">
				<div class="cont_1_1"></div>
				<div class="cont_1_2">
					<div class="cont_1_2_1"></div>
					<div class="cont_1_2_2"></div>
				</div>
				<div class="cont_1_3">
					<div class="cont_1_3_1"></div>
					<div class="cont_1_3_2"></div>
				</div>
				<div class="cont_1_4">
					<div class="cont_1_4_1"></div>
					<div class="cont_1_4_2"></div>
					<div class="cont_1_4_3"></div>
				</div>
			</div>
			<div class="cont_2">
				<div class="cont_2_1"></div>
				<div class="cont_2_2">
					<div class="cont_2_2_1"></div>
				</div>
				<div class="cont_3_1"></div>
				<div class="cont_4_2">
					<div class="cont_4_2_1">
						<div class="cont_4_2_1_1"></div>
						<div class="cont_4_2_1_2"></div>
						<div class="cont_4_2_1_3"></div>
					</div>
				</div>
			</div>
		</article>
	</section>
	<footer>
		<section>
			<article class="foo">
				<div class="foo_1"></div>
				<div class="foo_2">
					<div class="foo_2_1">
						<div class="foo_2_1_1"></div>
						<div class="foo_2_1_2"></div>
						<div class="foo_2_1_3"></div>
						<div class="foo_2_1_4"></div>
						<div class="foo_2_1_5"></div>
					</div>
					<div class="foo_2_2"></div>
				</div>
			</article>
		</section>
	</footer>
</body>
</html>