<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarea 4 - Moisés Martínez</title>
	<link rel="stylesheet" href="../../css/moisesmartinez_tarea4.css">
</head>
<body>
	<header id="menu">
		<div>
			<ul>
				<li><a href="#"><img src="../../img/icono_logo.png" width="33px" height="22px"></a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Sevices</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</header>

	<section id="cuerpo">
		<article class="banner"></article>
	</section>

	<footer></footer>
</body>
</html>