<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarea 3 - Moi Martínez</title>
	<link rel="stylesheet" href="../../css/moisesmartinez_tarea3.css">
</head>
<body>
	<div class="contenedor">
		<header name="slide1">
			<div class="a">
				<div class="img1"></div>
			</div>
			<div class="b">
				<h1>Coffee Great Plain "GOLD"</h1>
				<h3>Our tradition is the best</h3>
			</div>
		</header>

		<section name="info">
			<article class="seccion1">
				<div class="know">
					<h1>Know about our story</h1>
					<p>On December 12, 2002, the first Juan Valdez® Café store opened its doors at the El Dorado international airport in Bogotá, with a dream story and great achievements for Colombian premium coffee.</p>
					<br>
					<p>The firts international store was opened in the city of Whashinton D.C.
					<br>
					We are currently in New York and continue to strongly develop our presence in and around Miami.</p>
				</div>
			</article>
			<article class="seccion2">
				<div class="separador1"></div>
				<div class="c">
					<div class="img2"></div>
				</div>
				<div class="d">
					<h1>Discover your perfect cup</h1>
					<p>We extended the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.</p>
					<h2>...this is a great cafe</h2>
				</div>
			</article>
			<article class="seccion3">
				<div class="separador2"></div>
				<div class="e">
					<h1>First shop origins...</h1>
					<p>In 2013 we inaugurated the first Origins store and began the development of a new experience. the way for the creation of the perfect cup.</p>
				</div>
				<div class="f">
					<h1>Our design...</h1>
					<p>The design of the store and the variety of colognes of Colombian origin prepared with new methods paved.</p>
				</div>
			</article>
			<article class="seccion4">
				<img src="../../img/article4.png" width="100%" height="325px">
			</article>
			<article class="seccion5">
				<h1>We Are Over 3'000.000 Of Friends On Facebook</h1>
					<p>With the opnening of Juan Valdez® coffee shops in different countries we have consolidated a digital comunity conected around the world that itneracts daily with the brand and motivates us to continue improving.</p>
			</article>
		</section>

		<footer>
			<article class="footer">
				<div class="g">
					<h5>Copyright</h5>
				</div>
				<div class="h">
					<div class="logofooter"></div>
				</div>
				<div class="boton">
					<button>Join Now!</button>
				</div>
			</article>
		</footer>
	</div>
</body>
</html>