<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Moisés Martínez - Parcial</title>
	<link rel="stylesheet" href="../../css/moimartinez/moisesmartinez_parcial.css">
</head>
<body>

	<header id="menu">
		<div>
			<div class="logo"></div>
		</div>
		<div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Sevices</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact Us</a></li>
				
			</ul>
		</div>
		<div>
			<button class="btn1">Ingresar</button>
		</div>
	</header>

	<section id="cuerpo">
		<article class="banner">
			<div class="child1">
				<div>
					<h1>We Are Genius!!</h1>
				</div>
				<div>
					<p>It had been rumored for a while that the two artist had been working on a song for Bieber's new album Purpose, but when the tracklist of the album was revealed it was officially confirmed.
					<br>
					<br>
					The song tells the story of a relationship, which is being destroyed by rumors and hate. As a famous sibger.</p>
				</div>
				<div>
					<button class="btn1">Know More</button>
					<button class="btn1">Contact Us</button>
					<button class="btn1">Download</button>
					<button class="btn1">Send Us</button>
				</div>
			</div>
			<div class="child2"></div>
		</article>

		<article id="sec2">
			<div name="c1">
				
				<div class="cl1">
					<div>
						<div class="img1"></div>
					</div>
					<div>
						<h1>I Front End</h1>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
						<br>
						<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
				<div class="cl1">
					<div>
						<div class="img2"></div>
					</div>
					<div>
						<h1>Web Services</h1>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
						<br>
						<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
				<div class="cl1">
					<div>
						<div class="img3"></div>
					</div>
					<div>
						<h1>Data Guard</h1>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
						<br>
						<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
		</article>

		<article id="sec3">
			<div name="c1">
				
				<div class="cl1">
					<div>
						<div class="img1"></div>
					</div>
					<div>
						<h1>I Front End</h1>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
						<br>
						<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
				<div class="cl1">
					<div>
						<div class="img2"></div>
					</div>
					<div>
						<h1>Web Services</h1>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
						<br>
						<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
				<div class="cl1">
					<div>
						<div class="img3"></div>
					</div>
					<div>
						<h1>Data Guard</h1>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
						<br>
						<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
				<div class="cl1">
					<div>
						<div class="img4"></div>
					</div>
					<div>
						<h1>Techo-In</h1>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
						<br>
						<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
		</article>

	</section>

	<footer>
		<article id="foo">
			<div class="carné">MS12035</div>
			<div class="nombre">Moisés Alejandro Martínez Salas</div>
		</article>
	</footer>

</body>
</html>