<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarea 4 - Moisés Martínez</title>
	<link rel="stylesheet" href="../../css/moisesmartinez_tarea4.css">
</head>
<body>
	<header id="menu">
		<div>
			<ul>
				<li><a href="#"></a><div class="logo"></div></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Sevices</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</header>
	<section id="cuerpo">
		<article class="banner">
			<div class="child1"></div>
			<div class="child2">
				<div>
					<h1>Discover Our Brand</h1>
				</div>
				<div>
					<p>Today, new technologies applied to knowledge, culture and solidarity, give us more opportunities than ever to work successfully in the transformation of society. Fundation Telefónica has been using them since 1998 to aweken these ideas through projects that fight for social development and the creation of opportunities in Europe and Latin America.</p>
					<button class="btn1">Know More</button>
					<button class="btn1">Contact Us</button>
					<button class="btn1">Download</button>
				</div>
			</div>
		</article>
		<article id="sec2">
			<div name="c1">

				<div class="cl1">
					<div>
						<div class="img1"></div>
					</div>
					<div>
						<h1>I Front End</h1>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
						<br>
						<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
				<div class="cl1">
					<div>
						<div class="img2"></div>
					</div>
					<div>
						<h1>Web Services</h1>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
						<br>
						<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
				<div class="cl1">
					<div>
						<div class="img3"></div>
					</div>
					<div>
						<h1>Data Guard</h1>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
						<br>
						<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
				<div class="cl1">
					<div>
						<div class="img4"></div>
					</div>
					<div>
						<h1>Data Guard</h1>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
						<br>
						<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
				<div class="cl1">
					<div>
						<div class="img1"></div>
					</div>
					<div>
						<h1>I Front End</h1>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
						<br>
						<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
				<div class="cl1">
					<div>
						<div class="img2"></div>
					</div>
					<div>
						<h1>Web Services</h1>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
						<br>
						<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
				<div class="cl1">
					<div>
						<div class="img3"></div>
					</div>
					<div>
						<h1>Data Guard</h1>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
						<br>
						<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
				<div class="cl1">
					<div>
						<div class="img4"></div>
					</div>
					<div>
						<h1>Data Guard</h1>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.
						<br>
						<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>

			</div>
		</article>
		<article>
			<div id="foo">
			<div class="carné">MS12035</div>
			<div class="nombre">Moisés Alejandro Martínez Salas</div>
		</div>
		</article>
	</section>

	<footer>
		<article id="foo">
			<div class="carné">MS12035</div>
			<div class="nombre">Moisés Alejandro Martínez Salas</div>
		</article>
	</footer>

</body>
</html>