@charset "utf-8";

.bg-dark {
	background-color: #647b83 !important;
}

.lead {
	font-size: 1.25rem;
	font-weight: 300;
	word-wrap:  break-word;
}
.altura{
	height: 50px;
}
h1{
 color: #5e223c;
    font-family: 'jelytta';
    font-size: 3em;
}

