<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercico 1</title>
	<link rel="stylesheet" href="../../css/jose.css">
</head>
<body>
    <header>
    	<div class="child1">
    		<div class="a"></div>
    	    <div class="b"></div>
    	</div>
    	<div class="child2">
    		<div class="c"></div>
    		<div class="d"></div>
    		<div class="e"></div>
    		<div class="f"></div>
        </div>
    </header>
    <section class="cajarosa"></section>
    <div class="cajaturqueza"></div>
    <section class="celeste">
        <article class="p1"></article>
        <article class="p2"></article>
        <article class="p3"></article>
    </section>	
    <footer></footer>
</body>
</html>