<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tarea 3</title>
	<link rel="stylesheet" href="../../css/jose_tarea3.css">
</head>
<body>
	<div id="contenedor">
		<header id="header">
			<div class="cl1">
				<div class="imagen_1"></div>
			</div>
			<div class="cl2">
				<div class="texto_1">
					<h2>Coffee Great Plain "GOLD"</h2>
				</div>
				<div class="texto_2">
					<h5>our tradition is the best</h5>
				</div>
			</div>
		</header>
		<section id="cuerpo">
		    <article class="bloque1">
			    <div class="texto_3">
				    <div>
					<h3>Know about our history</h3>
				    </div>
				    <br>
				    <div>
					<p>
						On December 12, 2002, the first Juan Valdez® Café store opened its doors at the El Dorado international airport in Bogotá, with a dream story and great achievements for Colombian premium coffee.
				    <br>
				    <br>
				    The first international store was opened in the city of Washington D.C.
				    <br>
				    We are currently in New York and continue to strongly develop our presence in and around Miami.
				    </p>
				    </div>
			    </div>
		    </article>
		    <article class="bloque2">
		    	<div class="texto_4">
		    		<div class="child1">
		    			<div class="imagen_2"></div>
		    		</div>
		    		<div class="child2">
		    		    <h3>Discover Your Perfect Cup</h3>
					    <p>
					        We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.
					    </p>
					    <h2>...this is a great cafe</h2>
		    		</div>
		    	</div>
		    </article>
	</section>
	</div>
</body>
</html>