<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tarea 3</title>
	<link rel="stylesheet" href="../../css/jose_tarea3.css">
</head>
<body>
	<div id="contenedor">
		<header id="header">
			<div class="cl1">
				<div class="imagen_1"></div>
			</div>
			<div class="cl2">
				<div class="texto_1">
					<h2>Coffee Great Plain "GOLD"</h2>
				</div>
				<div class="texto_2">
					<h5>our tradition is the best</h5>
				</div>
			</div>
		</header>
		<section id="cuerpo">
			<article class="bloque1">
				<div class="texto_3">
					<div>
						<h3>Know about our history</h3>
					</div>
					<br>
					<div>
						<p>
							On December 12, 2002, the first Juan Valdez® Café store opened its doors at the El Dorado international airport in Bogotá, with a dream story and great achievements for Colombian premium coffee.
							<br>
							<br>
							The first international store was opened in the city of Washington D.C.
							<br>
							We are currently in New York and continue to strongly develop our presence in and around Miami.
						</p>
					</div>
				</div>
			</article>
			<article class="bloque2">
				<div class="texto_4">
					<div class="child1">
						<div class="imagen_2"></div>
					</div>
					<div class="child2">
						<h3>Discover Your Perfect Cup</h3>
						<p>
							We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.
						</p>
						<h2>...this is a great cafe</h2>
					</div>
				</div>
			</article>
			<article class="bloque3">
				<div class="block"></div>
				<div class="texto_5">
					<h3>First Shop Origins...</h3>
					<p>
						In 2013 we inaugurated the first Origins store and began the development of a new experience the way for the creation of the perfect cup.
					</p>
				</div>
				<div class="texto_6">
					<h3>Our design...</h3>
					<p>
						7The design of the store and the variety of colognes of Colombian origin prepared with new methods paved.
					</p>
				</div>
			</article>
			<article class="bloque4">
				<div class="imagen_3"></div>
				<div class="texto_7">
					<h3>We are Over 3´000.000 Of Friends on Facebook</h3>
					<br>
					<p>
						With the opening with Juan Valdez® coffee shops in different countries we have consolidated a digital community connected around the world that interacts daily with the brand and motivates us to continue improving.
					</p>
				</div>
			</article>
		</section>
		<footer>
			<div class="bloque5">
				<div class="bl1">
					<h5>Copyright</h5>
				</div>
				<div class="bl2">
					<div class="logo"></div>
				</div>
				<div class="boton">
					<button>Join now!!</button>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>