<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jose Parcial</title>
	<link rel="stylesheet" href="../../css/jose_parcial.css">
</head>
<body>
	<header id="menu">
		<div>
			<ul>
		  		<li><a href=""><div class="imagen1"></div></a></li>
				<li><a href="">Home</a></li>
				<li><a href="">Our Services</a></li>
				<li><a href="">Our History</a></li>
				<li><a href="">Examples</a></li>
				<li><a href="">Lets Play</a></li>
				<li><a href="">Photos</a></li>
				<li><a href="">Administration</a></li>
				<li><a href="">Delivery</a></li>
				<li><a href="">Contact us</a></li>
			</ul>
		</div>
		<div>
			<button>Registro</button>
		</div>
	</header>
	<section>
		<article class="banner">
			<div class="a">
				<div class="imagen2"></div>
			</div>
			<div class="b">
				<div class="texto2">
					<div>
						<h1>We are Genius!!!</h1>
					</div>
					<div>
						<p>
						It had been rumored for a while that the two artists had been working on a song for Bieber´s new album Purpose, but when the tracklist of the album was revealed it was officialy confirmed.
						<br>
						<br>
						The song tells the story of a relationship, which is being destroyed by rumors and hate. As a famous singer.
					    </p>
					</div>
					<div>
						<button>Contact us</button>
						<button>Know more</button>
						<button>Send us</button>
						<button>Download</button>
					</div>
				</div>
			</div>
		</article>
		<article class="banner2">
				<div class="b1">
					<div class="b1a">
						<div class="imagen3"></div>
						<div>
							<h2>I From End</h2>
						</div>
					</div>
					<div class="b1b">
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
							<br>
							quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
						</p>
					</div>
				</div>
				<div class="b2"></div>
				<div class="b3"></div>
		</article>
	</section>
	<footer></footer>
</body>
</html>