<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jose Parcial</title>
	<link rel="stylesheet" href="../../css/jose_parcial.css">
</head>
<body>
	<header id="menu">
		<div>
			<ul>
		  		<li><a href=""><div class="imagen1"></div></a></li>
				<li><a href="">Home</a></li>
				<li><a href="">Our Services</a></li>
				<li><a href="">Our History</a></li>
				<li><a href="">Examples</a></li>
				<li><a href="">Lets Play</a></li>
				<li><a href="">Photos</a></li>
				<li><a href="">Administration</a></li>
				<li><a href="">Delivery</a></li>
				<li><a href="">Contact us</a></li>
			</ul>
		</div>
		<div>
			<button>Registro</button>
		</div>
	</header>
	<section>
		<article class="banner">
			<div class="a">
				<div class="imagen2"></div>
			</div>
			<div class="b">
				<div class="texto2">
					<div>
						<h1>We are Genius!!!</h1>
					</div>
					<div>
						<p>
						It had been rumored for a while that the two artists had been working on a song for Bieber´s new album Purpose, but when the tracklist of the album was revealed it was officialy confirmed.
						<br>
						<br>
						The song tells the story of a relationship, which is being destroyed by rumors and hate. As a famous singer.
					    </p>
					</div>
					<div>
						<button>Contact us</button>
						<button>Know more</button>
						<button>Send us</button>
						<button>Download</button>
					</div>
				</div>
			</div>
		</article>
	</section>
	<footer></footer>
</body>
</html>