<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Jose Tarea 4</title>
	<link rel="stylesheet" href="../../css/jose_tarea4.css">
</head>
<body>
	<header id="menu">
		<div>
		  	<ul>
		  		<li><a href=""><div class="imagen1"></div></a></li>
				<li><a href="">Home</a></li>
				<li><a href="">Our Services</a></li>
				<li><a href="">Our History</a></li>
				<li><a href="">Examples</a></li>
				<li><a href="">Documentation</a></li>
				<li><a href="">Lets Play</a></li>
				<li><a href="">Photos</a></li>
				<li><a href="">Contact us</a></li>
			</ul>
		</div>
	</header>
	<section>
		<article class="bloque1">
			<div class="fondo">
				<div class="ba">
					<div class="imagen2"></div>
				</div>
				<div class="bb">
					<div>
						<h1>Discover Our Brand</h1>
					</div>
					<div>
						<p>
						Today, new technologies applied to knowledge, culture and solidarity, give us more opportunities than ever to work successfully in the transformation of society. Fundación Telefónica has been using them since 1998 to awaken these ideas through projects that fight for social development and the creation of opportunities in Europe and Latin America.
						</p>
					</div>
					<div>
						<button>Know more</button>
						<button>Contact us</button>
						<button>Download</button>
					</div>
				</div>
			</div>
		</article>
		<article class="bloque2">
			<div class="bc">
				<div class="cuadro1"></div>
				<div class="cuadro2"></div>
				<div class="cuadro3"></div>
				<div class="cuadro4"></div>
				<div class="cuadro5"></div>
				<div class="cuadro6"></div>
				<div class="cuadro7"></div>
				<div class="cuadro8"></div>
			</div>
		</article>
	</section>
	<footer></footer>
</body>
</html>