<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>joselab2</title>
	<link rel="stylesheet" href="../../css/jose_lab.css">
</head>
<body>
	<header>
		<article>
			<div class="child">
				<div class="a"></div>
				<div class="b">
					<div class="b1"></div>
					<div class="b2"></div>
					<div class="b3"></div>
					<div class="b4"></div>
					<div class="b5"></div>
				</div>
			</div>
		</article>
		<article>
			<div class="child1">
				<div class="c">
				<div class="c1"></div>
				</div>
				<div class="d">
					<div class="d1"></div>
					<div class="d2"></div>
					<div class="d3"></div>
					<div class="d4"></div>
					<div class="d5"></div>
					<div class="d6"></div>
					<div class="d7"></div>
				</div>
			</div>
		</article>
	</header>
	<section>
		<article>
			<div class="child2">
				<div class="e">
					<div class="e1"></div>
				</div>
				<div class="f"></div>
			</div>
		</article>
		<article>
			<div class="child3">
				<div class="g"></div>
				<div class="h">
					<div class="h1">
						<div class="h1a"></div>
						<div class="h1b"></div>
						<div class="h1c"></div>
					</div>
					<div class="h2">
						<div class="h2a"></div>
						<div class="h2b"></div>
						<div class="h2c"></div>
					</div>
				</div>
			</div>
		</article>
	</section>
</body>
</html>