<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Media</title>
	<link rel="stylesheet" href="../../css/josemedia.css">
	<link rel="icon" type="image/png" href="../../img/favicon.ico">
</head>
<body>
	<header id="encabezado">
		<div>
		  	<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Our people</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
		  	</ul>
		</div>
	</header>
	<section id="cuerpo">
		<article class="banner">
			<div class="child1">
				<div class="im1"></div>
			</div>
			<div class="child2">
				<div>
					<h1> Discovered our Brand</h1>
				</div>
				<div>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>
				</div>
				<div>
					<button class="btn1">Download</button>
					<button class="btn2">Contact us</button>
				</div>
			</div>
		</article>
		<article class="sec2">
			<div>
				<div name="1">
					<div>
				        <div class="img2"></div>
			        </div>
			        <div>
				        <h2> I From End</h2>
				        <hr>
			    	    <p>
					    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				        </p>
				    </div>
				</div>
			</div>
		</article>
	</section>
</body>
</html>