<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Ejercicio 2</title>
	<link rel="stylesheet" href="../../css/jose2.css">
</head>
<body>
	<header>
		<div class="child">
			<div class="a">
				<div class="a1"></div>
				<div class="a2">
					<div class="a2a"></div>
					<div class="a2b"></div>
					<div class="a2c"></div>
					<div class="a2d"></div>
				</div>
			</div>
			<div class="b">
				<div class="b1">
					<div class="b1a"></div>
				</div>
				<div class="b2">
					<div class="b2a"></div>
					<div class="b2b"></div>
					<div class="b2c"></div>
					<div class="b2d"></div>
					<div class="b2e"></div>
				</div>
			</div>
		</div>
		<div class="c"></div>
		<div class="d"></div>
	</header>
	<section>
		<article>
			<div class="child1">
				<div class="e"></div>
				<div class="f"></div>
			</div>
		</article>
	</section>
</body>
</html>