<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>beatriz_tarea3</title>
	<link rel="stylesheet" href="../../css/beatriz_tarea3.css">
</head>
<body>
	<div class="contenedor">
	<header name="encabezado">
		<div class="clase1">
			<div class="img1"></div>
	</div>
	<div class="clase2">
		<div>
			<h1>Coffee Great Plain "GOLD"</h1>
		</div>
		<div>
		   <h3>our tradition is the best</h3>
		</div>
	</div>
	</header>
	<section name="cuerpo">
		<article name="apartado1">
			<div>
				<h2>Know about our history</h2>
				
				<p>On December 12, 2002, the first Juan Valdez® Café store opened its doors at the El Dorado international airport in Bogotá, with a dream story and great achievements for colombian premium coffee.</p>
				<br>
			    <p>The first international store was opened in hte city of Washington D.C.</p>
			    <p>We are currently kin New York and continue to strongly develop our presence in and around Miami.</p>
			</div>
		</article>
		<article id="apartado2">
			<div class="foto2">
				<div class="imagen2"></div>
			</div>
			<div class="texto2">
				<h2>Discover Your Perfect cup</h2>
				<p>We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.</p>
				<h3>...this is a great cafe</h3>
			</div>
		<article id="apartado3">
			<div class="espacio"></div>
			<div class="colum1">
				<h2>First Shop Origins..</h2>
				<p>In 2013 we inaugurated the first origins store y begans the development of a new experience. The way for the creation of perfect cup.</p>
			</div>
			<div class="colum2">
				<h2>Our design...</h2>
				<p>The design of the store and the variety of colognes of colombian origins prepared with new methods paved. </p>
			</div>
		</article>
		<article id="apartado4">
			<img src="../../img/article4.png" width="100%" height="330px">
		</article>
		<article id="apartado5">
			<div class="texto5">
				<h2>We are over 3'000.000 Of Friends On Facebook</h2>
				<p>With the opening of Juan Valdez® coffee shops in different countries we have consolidated a digital community conected around the world that interacts daily with the brand and motivatesus to continue improving.</p>
			</div>
		</article>
	</section>
	<footer name="fin">
		<div class="cop">
			<h4>Copyright</h4>
		</div>
		<div class="imagenss"></div>
		<div class= "botonsss">
			<h5>Join Now!!</h5>
		</div>	
	</footer>				
</body>
</html>