<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>beatriz_tarea4</title>
	<link rel="stylesheet" href="../../css/beatriz_tarea4.css">
</head>
<body>
	<header>
		<div class="icono">
			<div class="img"></div>
		</div>
		<div class="letras">
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		   </div>
	
	    </div>
    </div>
	</header>
	<section>
		<article>
			<div class="seccion1">
				<div class="banner">
					<div class="img4">
						<div class="imagenhombre">
							<div class="img3"></div>
						</div>
						<div class="texto">
					    	<h2>Discover Our Brand</h2>
					    	<br>
					    	<p>Today, new technologies aply to knowledge, culture and solidarity, give us more opportunities than ever two work successfully in the transformation of society. Fundación Telefónica has been using them since 1998 to awken these ideas through projects that fight for social development and the creation of opportunities in Europe and Latin America.
					        </p>

					        <div class="botones">
					        	<button>Now more</button>
					            <button>Cantact Us</button>
					            <button>Download</button>
					       
					      </div>
					  </div>
		</article>
		<article id="padre">
			<div class="pad1">
				<div name="A">
					<div class="padA">
						<div class="pad2">
							<div class="imagenFolder"></div>
						</div>
						<div class="pad3">
						    <h2>IFront End</h2>
						    <hr>
					    </div>
					</div>
					<div class="padB">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
			<div class="pad1">
				<div name="B">
					<div class="padA">
						<div class="pad2">
							<div class="imagenClip"></div>
						</div>
						<div class="pad3">
						    <h2>Our Services</h2>
						    <hr>
					    </div>
					</div>
					<div class="padB">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
			<div class="pad1">
				<div name="C">
					<div class="padA">
						<div class="pad2">
							<div class="imagenPer"></div>
						</div>
						<div class="pad3">
						    <h2>DataGuard</h2>
						    <hr>
					    </div>
					</div>
					<div class="padB">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
			<div class="pad1">
				<div name="D">
					<div class="padA">
						<div class="pad2">
							<div class="imagenLapiz"></div>
						</div>
						<div class="pad3">
						    <h2>Tecno-In</h2>
						    <hr>
					    </div>
					</div>
					<div class="padB">
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
			</div>
		</article>

	</section>
	<footer id="piedpag">
		<p>IA13002
			<br>
		Karla Beatriz Iraheta Alas</p>
	</footer>
		
</body>
</html>

