<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>beatriz_tarea4</title>
	<link rel="stylesheet" href="../../css/beatriz_tarea4.css">
</head>
<body>
	<header>
		<div class="icono">
			<div class="img"></div>
		</div>
		<div class="letras">
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	
		</div>
		</div>
	</header>
	
</body>
</html>

