<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>beatriz_tarea3</title>
	<link rel="stylesheet" href="../../css/beatriz_tarea3.css">
</head>
<body>
	<div class="contenedor">
	<header name="encabezado">
		<div class="clase1">
			<div class="img1"></div>
	</div>
	<div class="clase2">
		<div>
			<h1>Coffee Great Plain "GOLD"</h1>
		</div>
		<div>
		   <h3>our tradition is the best</h3>
		</div>
	</div>
	</header>
	<section name="cuerpo">
		<article name="apartado1">
			<div>
				<h2>Know about our history</h2>
				
				<p>On December 12, 2002, the first Juan Valdez Café store opened its doors at the El Dorado international airport in Bogotá, with a dream story and great achievements for colombian premium coffee.</p>
				<br>
			    <p>The first international store was opened in hte city of Washington D.C.</p>
			    <p>We are currently kin New York and continue to strongly develop our presence in and around Miami.</p>
			</div>
		</article>
		<article name="sec2">
			<div class="pl3">
				<div class="img2"></div>
			</div>
			<div class="pl4">
				<div>
				<h2>Discover Your Perfect Cup</h2>
				<p>We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.</p>

				<h3>...is a great</h3>
				
			</div>
				
</body>
</html>