<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ejercicio2beatriz</title>
	<link rel="stylesheet" href="../../css/Beatriz.css">
</head>
<body>
	<header>
		<article id="contactos">
			<div class="hijo1" >
				<div class="solo"></div>
				<div class="datos"></div>
			</div>
			<div class="hijo2" ></div>
		</article>

	</header>
	<section>
		<article id="primeraimagen"></article>
		<article id="art1"></article>
		<article id="art2"></article>
		<article id="art3"></article>
		<article id="art4"></article>
	</section>	    
	<footer>
		<footer id="pie"></footer>
	</footer>	
</body>
</html>
