<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ejercicio2beatriz</title>
	<link rel="stylesheet" href="../../css/Beatriz.css">
</head>
<body>
	<header>
		<article id="contactos">
			<div class="hijo1" >
				<div class="solo"></div>
				<div class="datos">
					<div class="signin"></div>
					<div class="ourP"></div>
					<div class="num"></div>
				</div>
			</div>
			<div class="hijo2" >
				<div class="logo"></div>
				<div class="home"></div>
				<div class="about"></div>
				<div class="products"></div>
				<div class="heavy"></div>
				<div class="contact"></div>
			</div>
		</article>

	</header>
	<section>
		<article id="primeraimagen">
			<div class="linea1"></div>
			<div class="linea2"></div>
			<div class="imagenc">
				<div class="imagenc1">
					<div class="ventana">
						<div class="cuadro1"></div>
						<div class="cuadro2"></div>
						<div class="cuadro3">
							<div class="more"></div>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article id="art1">
			<div class="lorem">
				<div class="ipsum"></div>
				<div class="textoc"></div>
				<div class="botonver">
					<div class="b-ver"></div>
				</div>
			</div>
			<div class="imag"></div>
		</article>

		<article id="art2">
			<div class="fila1">
				<div class="f1-img1">
					<div class="f1-a"></div>
					<div class="f1-b"></div>
					<div class="f1-c">
						<div class="botonvm"></div>
					</div>
				</div>
				<div class="f1-img2"></div>
				<div class="f1-img3"></div>
				
			<div class="fila2">
				<div class="f2-img1">
					<div class="f2-a"></div>
					<div class="f2-b"></div>
					<div class="f2-c">
						<div class="botonvm2"></div>
					</div>
				</div>
				<div class="f2-img2"></div>
				<div class="f2-img3"></div>
			</div>
		</article>
		<article id="art3"></article>
		<article id="art4"></article>
	</section>	    
	<footer>
		<footer id="pie"></footer>
	</footer>	
</body>
</html>
