<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>laboratorioBea</title>
	<link rel="stylesheet" href="../../css/bealab.css">
</head>
<body>
	<header id="encabezado">
		<div class="contacto">
			<div class="num"></div>
			<div class="our"></div>
			<div class="more"></div>
			<div class="sign"></div>
		</div>
		<div class="menu">
			<div class="logo"></div>
			<div class="datos">
				<div class="d1"></div>
				<div class="d2"></div>
				<div class="d3"></div>
				<div class="d4"></div>
				<div class="d5"></div>
				<div class="d6"></div>
				<div class="d7"></div>
			</div>

		</div>
	</header>
	<section>
		<article id="carrusel">
			<div class="know">
				<div class="ventana">
					<div class="ven1"></div>
					<div class="ven2"></div>
					<div class="ven3">
						<div class="ven3a"></div>
					</div>
				</div>
			</div>
			<div class="solo"></div>

		</article>
		<article id="lorem">
			<div class="foto"></div>
			<div class="letra">
				<div class="letra1">
					<div class="let1">
						<div class="let1a"></div>
					</div>
					<div class="let2"></div>
					<div class="let3">
						<div class="let3a"></div>
					</div>
				</div>
				<div class="letra2"></div>

			</div>

		</article>
		<article id="eternity">
			<div class="et1"></div>
			<div class="et2"></div>
			<div class="et3"></div>
		</article>
		<article id="debajo"></article>
		<article id="redes">
			<div class="redes1"></div>
			<div class="redes2"></div>
		</article>
			
		</article>
		<article id="imagenes">
			<div class="im1"></div>
			<div class="im2"></div>
			<div class="im3"></div>
		</article>
		<article id="info">
			<div class="info1"></div>
			<div class="info2"></div>
		</article>
	</section>
	<footer id="pie">
		<div class="pie1"></div>
		<div class="pie2"></div>
	</footer>
	
</body>
</html>