<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 1</title>
	<link rel="stylesheet" 
	href="../../css/kevin.css">
</head>
<body>
	<header>
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	</header>
		<section>
			<div class="child3"></div>
			<div class="child4"></div>
		</section>
		<section>
		<div class="child5">
			<div class="g">
				<div class="child1g"></div>
		        <div class="child2g"></div>
		        <div class="child3g"></div>
		        <div class="child4g">
		        	<div class="alpha"></div>
		        	<div class="beta"></div>
		        	<div class="gamma"></div>
		        </div>
		    </div>   
			<div class="h">
			    <div class="child1h"></div>
		        <div class="child2h"></div>
		        <div class="child3h"></div>
		        <div class="child4h">
		        	<div class="alpha2"></div>
		        	<div class="beta2"></div>
		        	<div class="gamma2"></div>
		        </div>
		    </div>
			<div class="i">
			    <div class="child1i"></div>
		        <div class="child2i"></div>
		        <div class="child3i"></div>
		        <div class="child4i">
		        	<div class="alpha3"></div>
		        	<div class="beta3"></div>
		        	<div class="gamma3"></div>
		        </div>
		    </div>    
		</div>	
		</section>
		<section>
			<div class="padrede6y7">
		<article>
		    	<div class="child6">
		    	</div>
		</article>
		<article>
		    	<div class="child7">
			   	 <div class="j"></div>
		       	 <div class="k">
		    	 	   <div class="child1k"></div>
		          	  <div class="child2k"></div>
		       	 </div>
		       	 <div class="l"></div>
		        	<div class="m"></div>
		       		<div class="n"></div>
			</div>
		</article>
		</div>
					</section>
					<section>
		<div class="padrede8y9">
        	<article>
	        <div class="child8">
	    	    <div class="o"></div>
		       		<div class="p">
		            	<div class="child1p"></div>
		            	<div class="child2p"></div>
		        	</div>   
		        	<div class="q">
		        	    <div class="child1q"></div>
		            	<div class="child2q"></div>
		        	</div>    
		        	<div class="r">
		        	    <div class="child1r"></div>
		        	    <div class="child2r"></div>
	            	</div>
	            	<div class="s"></div>
	        </div>  
	    </article>
	    <article>
  		    <div class="child9">
			    <div class="t"></div>
			    <div class="u"></div>
			    <div class="v"></div>
		    	<div class="w">
			        <div class="child1w"></div>
			        <div class="child2w"></div>
			        <div class="child3w"></div>
                </div>
			    <div class="x"></div>
		    </div>
		    </article>
	</div>
			 </section>

	<footer>
		<div class="padrede10y11">
		    <div class="child10"></div>
		    <div class="child11">
			    <div class="y">
			        <div class="child1y"></div>
			        <div class="child2y">
			        	<div class="corte1"></div>
			        	<div class="corte2"></div>
			        	<div class="corte3"></div>
			        </div>
			        <div class="child3y"></div>
			   	    <div class="child4y"></div>
         	   </div>
				<div class="z"></div>
				<div class="aa"></div>
			</div>
		</div>
	</footer>
</body>
</html>