<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 1</title>
	<link rel="stylesheet" 
	href="../../css/kevin.css">
</head>
<body>
	<header>
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	</header>
	<section>
		<article>
			<div class="child3"></div>
			<div class="child4"></div>
		</article>
		<div class="child5">
		    <div class="g"></div>
			<div class="h">
				<div class="child1h"></div>
		        <div class="child2h"></div>
		        <div class="child3h"></div>
		        <div class="child4h">
		        	<div class="alpha"></div>
		        	<div class="beta"></div>
		        	<div class="gamma"></div>
		        </div>
		    </div>   
			<div class="i"></div>
			<div class="j">
			    <div class="child1j"></div>
		        <div class="child2j"></div>
		        <div class="child3j"></div>
		        <div class="child4j">
		        	<div class="alpha2"></div>
		        	<div class="beta2"></div>
		        	<div class="gamma2"></div>
		        </div>
		    </div>
			<div class="k"></div>
			<div class="l">
			    <div class="child1l"></div>
		        <div class="child2l"></div>
		        <div class="child3l"></div>
		        <div class="child4l">
		        	<div class="alpha3"></div>
		        	<div class="beta3"></div>
		        	<div class="gamma3"></div>
		        </div>
		    </div>    
			<div class="m"></div>
		</div>
		<div class="child6">
		</div>
		<div class="child7">
			<div class="n"></div>
		    <div class="o">
		    	<div class="child1o"></div>
		        <div class="child2o"></div>
		    </div>
		    <div class="p"></div>
		    <div class="q"></div>
		    <div class="r"></div>

		</div>
	    <div class="child8">
	    	<div class="s"></div>
		    <div class="t">
		        <div class="child1t"></div>
		        <div class="child2t"></div>
		    </div>   
		    <div class="u">
		        <div class="child1u"></div>
		        <div class="child2u"></div>
		    </div>    
		    <div class="v">
		        <div class="child1v"></div>
		        <div class="child2v"></div>
	        </div>
	        <div class="w"></div>
	    </div>    
		<div class="child9">
			<div class="x"></div>
			<div class="y"></div>
			<div class="z"></div>
			<div class="aa">
			    <div class="child1aa"></div>
			    <div class="child2aa"></div>
			    <div class="child3aa"></div>
            </div>
			<div class="ab"></div>
		</div>
 </section>
	<footer>
		<div class="child10"></div>
		<div class="child11">
			<div class="ac">
			    <div class="child1ac"></div>
			    <div class="child2ac"></div>
			    <div class="child3ac"></div>
			    <div class="child4ac"></div>
            </div>
			<div class="ad"></div>
			<div class="ae"></div>
		</div>
	</footer>
</body>
</html>