<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>kevin_parcial</title>
<link rel="stylesheet" type="text/css" href="../../css/kevin_parcial.css">
</head>
<body>
	<header id="inicio">
		<div class="child1">
			<div class="img1"></div>
		</div>
		<div class="child2">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Let´s Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
		<div class="child3">
			<div class="boton">
				<button>Registro</button>
			</div>
		</div>
	</header>
	<section></section>
	<footer></footer>
</body>
</html>