<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>kevin_tarea3</title>
<link rel="stylesheet" type="text/css" href="../../css/kevin_tarea3.css">
</head>
<body>
	<header>
		<article class="banner">
			<div class="child1">
				<div class="img1"></div>
			</div>
			<div class="child2">
				<div>
				<h1>Cofee Great Plain "Gold"</h1>
				</div>
				<div>
					<p>our tradition is the best</p>
				</div>
			</div>
		</article>
	<section>
		<article>
			<div class="child3">
				<div>
				<h2>Know about our history</h1>
				</div>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
				</div>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
				</div>
			</div>
		</article>
		<article class="vaso">
			<div class="child4">
				<div class="img2"></div>
			</div>
			<div class="child5">
				<div>
				<h2>Discover Your Perfect Cup</h2>
				</div>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa.  nascetur ridiculus mus..</p>
				</div>
				<div>
					<h3>..this is a great cafe</h3>
				</div>
			</div>
			<div class="franja"></div>
		</article>
		<article class="info">
			<div class="child6">
				<div>
				<h2>First Shop Origins...</h2>
				</div>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa.  nascetur ridiculus mus..</p>
				</div>
			</div>
		<div class="child7">
				<div>
				<h2>Our Design...</h2>
				</div>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa.  nascetur ridiculus mus..</p>
				</div>
			</div>
		</article>
		<article class=megabaner>
				<div class=img3>
				</div>
			</div>
		</article>
		<article class="prefooter">
			<div class="child8">
				<h2>We Are Over 3'000.000 Of Friends On Facebook</h2>
			</div>
			<div class="child9">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
				</p>
			</div>
		</article>
	</section>
	<footer>
		<article class="pie">
			<div class="child10">
				<p>copyright</p>
			</div>
			<div class="child11">
				<h3>Juan Valdez
				</h3>
			</div>
			<div class="child12">
					<button>Join now!
					</button>
			</div>
		</article>
	</footer>
</body>
</html>