<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 1</title>
	<link rel="stylesheet" 
	href="../../css/kevin.css">
</head>
<body>
	<header>
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
		<div class="child3"></div>
		<div class="child4"></div>
		<div class="child5"></div>
		<div class="child6">
		    <div class="g"></div>
			<div class="h">
				<div class="child1h"></div>
		        <div class="child2h"></div>
		        <div class="child3h"></div>
		        <div class="child4h">
		        	<div class="alpha"></div>
		        	<div class="beta"></div>
		        	<div class="gamma"></div>
		        </div>
		    </div>   
			<div class="i"></div>
			<div class="j">
			    <div class="child1j"></div>
		        <div class="child2j"></div>
		        <div class="child3j"></div>
		        <div class="child4j">
		        	<div class="alpha2"></div>
		        	<div class="beta2"></div>
		        	<div class="gamma2"></div>
		        </div>
		    </div>
			<div class="k"></div>
			<div class="l">
			    <div class="child1l"></div>
		        <div class="child2l"></div>
		        <div class="child3l"></div>
		        <div class="child4l">
		        	<div class="alpha3"></div>
		        	<div class="beta3"></div>
		        	<div class="gamma3"></div>
		        </div>
		    </div>    
			<div class="m"></div>	
		</div>

	</header>
	<section></section>
	<footer></footer>
</body>
</html>