<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>laboratirio</title>
	<link rel="stylesheet" 
	href="../../css/kevin.css">
</head>
<body>
	<header>
		<article>
			<div class="dad1">
				<div class="son1"></div>
				<div class="son2">
					<div class="grandson1"></div>
					<div class="grandson2"></div>
					<div class="grandson3"></div>
					<div class="grandson4"></div>
				</div>
			</div>
		</article>
		<article>
			<div class="dad2">
				<div class="son3">
					<div class="grandson5"></div>
					<div class="grandson6"></div>	
				</div>
				<div class="son4">
					<div class="grandson7"></div>
					<div class="grandson8"></div>
					<div class="grandson9"></div>
					<div class="grandson10"></div>
					<div class="grandson11"></div>
					<div class="grandson12"></div>
					<div class="grandson13"></div>	
				</div>
			</div>
		</article>
	</header>
	<section>
		<div class="banner1"></div>
	</section>
	<article>
		<div class="dad3">
			<section>
				<div class="son5"></div>
			</section>
			<section>
				<div class="son6">
					<div class="grandson14"></div>
					<div class="grandson15"></div>
					<div class="grandson16"></div>
					</div>
			</section>
			<section>
				<div class="son7">
					<div class="grandson17"></div>
					<div class="grandson18"></div>
					<div class="grandson19"></div>
				</div>
			</section>
		</div>
	</article>
	<article>
		<div class="dad04">
			<section>
				<div class="son8">
					<div class="grandson20"></div>
				</div>
			</section>
			<section>
				<div class="son9">
					<div class="grandson21"></div>
					<div class="grandson22"></div>
					
				</div>
			</section>
		</div>
	</article>
	<footer></footer>
</body>
</html>