<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>media</title>
	<link rel="stylesheet" href="../../css/kevinmedia.css">
	<link rel="icon" type="image/png" href="../../img/favicon.ico"/>
</head>
<body>
	<header id="encabezado">
		<div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Our People</a></li>
				<li><a href="#">Service</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>
	<section id="cuerdo">
		<article class="banner">
			<div class="child1">
				<div class="img1"></div>
			</div>
			<div class="child2">
				<div>
				<h1>Discover Our Brand</h1>
				</div>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
				</div>
				<div>
					<button class="btn1">Download</button>
					<button class="btn2">Contact Us</button>
				</div>
			</div>
		</article>
		<article class="sec2"></article>
	</section>
	<footer id="pie"></footer>
	
</body>
</html>