<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tarea 2</title>
	<link rel="stylesheet" 
	href="../../css/kevin.css">
</head>
<body>
	<header>
		<div class="papi1">
			<div class="kev1">
			</div>
			<div class="kev2">
			</div>
			<div class="kev3">
			</div>
			<div class="kev4">
			</div>
		</div>
		<div class="papi2">
			<div class="kev5">
				<div class="nietillo1">
				</div>
			</div>
			<div class="kev6">
			</div>
			<div class="kev7">
			</div>
			<div class="kev8">
			</div>
			<div class="kev9">
			</div>
			<div class="kev10">
			</div>
		</div>
	</header>
	<section>
		<div class="banner01">
			<div class="texto01"></div>
		</div>
		<article>
			<div class="papi3">
				<div class="kev11">
					<div class="nietillo2"></div>
					<div class="nietillo3"></div>
					<div class="nietillo4">
						<div class="tatara1"></div>
						<div class="tatara2"></div>
					</div>
				</div>
				<div class="kev12">
				</div>
			</div>
		</article>
		<article>
			<div class="papi4">
				<section>
					<div class="kev13">
						<div class="nietillo5">
							<div class="tatara3"></div>
							<div class="tatara4"></div>
							<div class="tatara5">
								<div class="visco1"></div>
								<div class="visco2"></div>
							</div>
						</div>
						<div class="nietillo6">
							<div class="tatara6"></div>
							<div class="tatara7"></div>
							<div class="tatara8">
								<div class="visco3"></div>
								<div class="visco4"></div>
							</div>
						</div>
					</div>
				</section>
				<section>
					<div class="kev14">
						<div class="nietillo7">
							<div class="tatara9"></div>
							<div class="tatara10"></div>
							<div class="tatara11">
								<div class="visco5"></div>
								<div class="visco6"></div>
							</div>
						</div>
						<div class="nietillo8">
							<div class="tatara12"></div>
							<div class="tatara13"></div>
							<div class="tatara14">
								<div class="visco7"></div>
								<div class="visco8"></div>
							</div>
						</div>
					</div>
				</section>
				<section>
					<div class="kev15">
					<div class="nietillo9">
							<div class="tatara15"></div>
							<div class="tatara16"></div>
							<div class="tatara17">
								<div class="visco9"></div>
								<div class="visco10"></div>
							</div>
						</div>
						<div class="nietillo10">
							<div class="tatara18"></div>
							<div class="tatara19"></div>
							<div class="tatara20">
								<div class="visco11"></div>
								<div class="visco12"></div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</article>
		<article>
			<div class="papi5">
				<div class="kev16"></div>
				<div class="kev17">
					<div class=" nietillo11"></div>
					<div class=" nietillo12"></div>
					<div class=" nietillo13"></div>
				</div>
			</div>
		</article>
	</section>
	<footer>
		<div class="contactanos"></div>
		<article>
			<div class="papi6">
				<div class=" hijastro1">
					<div class="kev18">
						<div class="nietillo14"></div><div class="nietillo15"></div>
					</div>
					<div class="kev19"></div>
					<div class="kev20">
						<div class="nietillo16"></div>
						<div class="nietillo17"></div>
					</div>
					<div class="kev21"></div>
					<div class="kev22">
						<div class="nietillo18"></div>
						<div class="nietillo19"></div>
					</div>
					<div class="kev23"></div>
				</div>
			<div class=" hijastro2">
			</div>
			</div>
		</article>
		<article>
		</article>
	</footer>
</body>
</html>