<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ejercicio2gerardo</title>
	<link rel="stylesheet" href="../../css/
	gerardo2.css">
</head>
<body>
	<header id="inicio">
		<div class="inicio1">
			<div class="a1"></div>
			<div class="a2"></div>
			<div class="a3"></div>
			<div class="a4"></div>
			<div class="a5"></div>
			<div class="a6"></div>
		</div>
		<div class="inicio2">
			<div class="b1"></div>
			<div class="b2"></div>
			<div class="b3"></div>
			<div class="b4"></div>
			<div class="b5"></div>
			<div class="b6"></div>
		</div>
	</header>

		<div class="barra1"></div>
		<div class="barra2"></div>

	 	<div class="sec1">
 			<div class="cajatexto1">
 				<div class="cajatexto2">
 					<div class="boton1"></div>
 				</div>
 				<div class="cajatexto3"></div>
 				<div class="cajatexto4">
 					<div class="boton2"></div>
 				</div>
 			</div>
  		</div>

  		<div class="barra3"></div>

  		<div class="sec2">
  			<div class="cajatexto5">
 				<div class="cajatexto6">
 					<div class="boton3"></div>
 				</div>
 				<div class="cajatexto7"></div>
 				<div class="cajatexto8">
 					<div class="boton4"></div>
 				</div>
 			</div>
 			<div class="imagen1"></div>
  		</div>

  		<div class="sec3">
  			<div class="cajatexto9">
 				<div class="cajatexto10">
 					<div class="cajatexto11"></div>
 				</div>
 				<div class="imagen2"></div>
 				<div class="cajatexto12">
 					<div class="boton5"></div>
 				</div>
 			</div>

 			<div class="cajatexto13">
 				<div class="cajatexto14">
 					<div class="cajatexto15"></div>
 				</div>
 				<div class="imagen3"></div>
 				<div class="cajatexto16">
 					<div class="boton6"></div>
 				</div>
 			</div>

 			<div class="cajatexto17">
 				<div class="cajatexto18">
 					<div class="cajatexto19"></div>
 				</div>
 				<div class="imagen4"></div>
 				<div class="cajatexto20">
 					<div class="boton7"></div>
 				</div>
 			</div>

 			<div class="cajatexto21">
 				<div class="cajatexto22">
 					<div class="cajatexto23"></div>
 				</div>
 				<div class="imagen5"></div>
 				<div class="cajatexto24">
 					<div class="boton8"></div>
 				</div>
 			</div>

 			<div class="cajatexto25">
 				<div class="cajatexto26">
 					<div class="cajatexto27"></div>
 				</div>
 				<div class="imagen6"></div>
 				<div class="cajatexto28">
 					<div class="boton9"></div>
 				</div>
 			</div>

 			<div class="cajatexto29">
 				<div class="cajatexto30">
 					<div class="cajatexto31"></div>
 				</div>
 				<div class="imagen7"></div>
 				<div class="cajatexto32">
 					<div class="boton10"></div>
 				</div>
 			</div>

  		</div>

  		<div class="sec4">
  			<div class="cajatexto33">
 				<div class="cajatexto34">
 					<div class="boton11"></div>
 				</div>
 				<div class="cajatexto35"></div>
 				<div class="cajatexto36">
 					<div class="boton12"></div>
 				</div>
 			</div>
 			<div class="imagen8"></div>
  		</div>
</body>