<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>gerardo</title>
	<link rel="stylesheet" href="../../css/
	gerardo.css">
</head>
<body>
	<header id="menu">
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
		
	</header>

	<section>
		<div class="g"></div>
		<div class="h"></div>
	</section>
		
	<section>
		<div class=secc2>
			<div class="i">
				<div class="i1"></div>
				<div class="i2"></div>
				<div class="i3"></div>
				<div class="i4">
					<div class="i5"></div>
				</div>
			</div>

			<div class="j">
				<div class="j1"></div>
				<div class="j2"></div>
				<div class="j3"></div>
				<div class="j4">
					<div class="j5"></div>
				</div>
			</div>

			<div class="k">
				<div class="k1"></div>
				<div class="k2"></div>
				<div class="k3"></div>
				<div class="k4">
					<div class="k5"></div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="l">
			<div class="l1">
				<div class="l2"></div>
				<div class="l3">
					<div class="l7"></div>
					<div class="18"></div>
				</div>
				<div class="l4"></div>
				<div class="l5">
					<div class="l9"></div>
				</div>
				<div class="l6"></div>
			</div>
		</div>
	</section>

	<section>
		<div class="m1">
			<div class="m2">
				<div class="m3"></div>
				<div class="m4">
					<div class="m5">
						<div class="m6"></div>
						<div class="m7"></div>
					</div>
					<div class="m8">
						<div class="m9"></div>
						<div class="m10"></div>
					</div>
					<div class="m11">
						<div class="m12"></div>
						<div class="m13"></div>
					</div>

				</div>
			</div>
		</div>
	</section>
		
	<section>
		<div class="n1"></div>
	</section>
	
	<footer></footer>
</body>
</html>