<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gerardo_parcial</title>
		<link rel="stylesheet" href="../../css/gerardo_parcial.css">
</head>

<body>
	<div class="contenedor">
		<header name="menu">
			<ul id= "menu1">
				<li><a href="#"></a><div class="logo"></div></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photo</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
				<button>Ingresar</button>
			</ul>
		</header>

		<section>
			<article id="g">
			<div class="g1">
				<div class="imagen1">
					<div class="ga1">
					    <h1>We are Genius!!</h1>
						<br>
						<p>It had been rumored for a while that the two artists had been working on a song for Bieber's new album Purpose, but when the tracklist of the album was revealed it was officially confirmed.</p>
                        <br>
                        <p>The song tells the story of a relationship which is being destroyed by rumors and hate. As a famous singer.
						</p>
						<div>
							<button>Know more</button>
							<button>Contact us</button>
							<button>Download</button>
							<button>Send us</button>
						</div>
					</div>
					<div class="ga2">
						<div class="imagen2"></div>
					</div>
				</div>
			</div>
		</article>
	</section>
		</section>
	</div>
</body>