<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gerardo_parcial</title>
		<link rel="stylesheet" href="../../css/gerardo_parcial.css">
</head>

<body>
	<div class="contenedor">
		<header name="menu">
			<div name= bloque1>
				<div class="logo"></div>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photo</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
				<button>Ingresar</button>
			</div>			
		</header>
	</div>
</body>