<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Laboratorio</title>
	<link rel="stylesheet" type="text/css" href="../../css/gerardo_lab.css">
</head>

<body>
	<header id="menu">
		<div class="child1">
			<div class="cellimage"></div>
			<div class="cellphone"></div>
			<div class="ourpartners"></div>
			<div class="moreinfo"></div>
			<div class="signin"></div>
		</div>
		<div class="child2">
			<div class="freelogo"></div>
			<div class="home"></div>
			<div class="knowsus"></div>
			<div class="brands"></div>
			<div class="corporate"></div>
			<div class="blog"></div>
			<div class="community"></div>
			<div class="contact"></div>
		</div>
	</header>		
	
 	<div class="seccion1">
 		<article class="ge1">
 		<div class="cajatexto2">
 			<div class="cajatexto3">
 				<div class="cajaboton1"></div>
 			</div>
 			<div class="cajatexto4"></div>
 			<div class="cajatexto5">
 				<div class="cajaboton2"></div>
 			</div>
 			</article>
 		</div>	
 		<article class="ge2">
 		</article>
 	</div>

 	

 	<div class="seccion2">
 		<div class="imagen1"></div>
 		<div class="cajatexto6">
 			<div class="cajaboton3"></div>
 			<div class="cajatexto7"></div>
 			<div class="cajaboton4"></div>
 		</div>
 		<div class="cajatexto10">
 			<div class="cajaboton5"></div>
 			<div class="cajatexto11"></div>
 			<div class="cajaboton6"></div>
 		</div>
 	</div>

 	<div class="seccion3">
 		<div class="caja1">
 		<div class="imagen2"></div>
 		</div>		

 		<div class="caja2">
 			<div class="caja3"></div>
 		</div>	
 		<div class="caja4">
 			<div class="caja5"></div>
 		</div>
 	</div>

 	<div class="seccion4">
 		<div class="caja6"></div>
 		
 	</div>

 	<div class="seccion5">
 		
 	</div>

</body>
</html>