@charset "utf-8";


h1 {
	font-family: hype;
	font-weight: bolder;
}
p{
	font-weight: lighter;
}
.bg-dark {
	background-color: #505a72 !important;
}
.altura{
	height: 65px;
}
.internos{
	text-decoration: none;
	border: 1px solid gray;
	height: 30px;
	border-radius: 5px;
	width: 15%;
	background: white;
	text-align: center;
	margin-left: 85%;
	font-family: calibri;
	margin-bottom: 20px;
}
button:hover{
	background: #cccccc !important;
}
@media (min-width: 200px){
	h1{
		font-size: 24pt;
	}
}
@media (min-width: 200px){
	.internos{
		width: 25%;
		margin-left: 70%;
		height: 40px;
		font-size: 10pt;
	}
}
