<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>rosmery ejercicio2</title>
<link rel="stylesheet" href="../../css/Rosmery.css">		
</head>
<body>
	<header id="datos">
		<div class="tel"></div>
		<div class="numeros"></div>
        <div class="our"></div>
        <div class="singin"></div>
	</header>

	<section id="menu">
		<div class="cuadro">
			<div class="logo"></div>
		</div>
		<div class="menub">
			 <div class="home"></div>
			 <div class="about"></div>
			 <div class="products"></div>
             <div class="experience"></div>
             <div class="contacto"></div>
		</div>
	</section>

	<section id="barras">
		<div class="barra1"></div>
		<div class="barra2"></div>
	</section>	

	<section id="seccion1">
		<div class="a">
			<div class="a1">
				<div class="a2"></div>
				<div class="a3"></div>
				<div class="a4">
					<div class="a5"></div>
				</div>
			</div>
		</div>
	</section>

	<section id="seccion2">
		<div class="cajab">
			<div class="cajab1"></div>
			<div class="cajab2"></div>
			<div class="cajab3">
				<div class="cajab4"></div>
			</div>
		</div>

		<div class="cajac"></div>
	</section>


	<section id="seccion3">
		


	</section>
	
</body>
</html>