<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>rosmery ejercicio2</title>
<link rel="stylesheet" href="../../css/Rosmery.css">		
</head>
<body>
	<header id="datos">
		<div class="tel"></div>
		<div class="numeros"></div>
        <div class="our"></div>
        <div class="singin"></div>


	    <div id="menua">
		     <div class="cuadro">
			      <div class="logo"></div>
		     </div>
		     <div class="menub">
			      <div class="home"></div>
			      <div class="about"></div>
			      <div class="products"></div>
                  <div class="experience"></div>
                  <div class="contacto"></div>
		    </div>
	   </div>
  </header>

	<section id="barras">
	  <article>
		<div class="barra1"></div>
		<div class="barra2"></div>
	  </article>
	</section>	

	<section id="seccion1">
	  <article>	
		 <div class="cajaa">
			<div class="a1">
				<div class="a2"></div>
				<div class="a3"></div>
				<div class="a4">
					<div class="a5"></div>
				</div>
			</div>
		</div>
	  </article>
	</section>

	<section id="seccion2">
	        <article>	
		         <div class="cajab">
			          <div class="cajab1"></div>
			          <div class="cajab2"></div>
			          <div class="cajab3">
				          <div class="cajab4"></div>
			          </div>
		        </div>
                <div class="cajac"></div>
	        </article>
	</section>


	<section id="seccion3">
		<article>
			<div class="cajad">
				 <div class="cajad1"></div>
				 <div class="cajad2"></div>
				 <div class="cajad3">
				 	  <div class="cajad4"></div>
				 </div>

				 <div class="cajad5"></div>
				 <div class="cajad6"></div>
				 <div class="cajad7">
				 	  <div class="cajad8"></div>
				 </div>
			</div>


			<div class="cajad">
				 <div class="cajad1"></div>
				 <div class="cajad2"></div>
				 <div class="cajad3">
				 	  <div class="cajad4"></div>
				 </div>

				 <div class="cajad5"></div>
				 <div class="cajad6"></div>
				 <div class="cajad7">
				 	  <div class="cajad8"></div>
				 </div>
			</div>


			<div class="cajad">
				 <div class="cajad1"></div>
				 <div class="cajad2"></div>
				 <div class="cajad3">
				 	  <div class="cajad4"></div>
				 </div>

				 <div class="cajad5"></div>
				 <div class="cajad6"></div>
				 <div class="cajad7">
				 	  <div class="cajad8"></div>
				 </div>
			</div>

		</article>
	</section>
	
</body>
</html>