<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>rosmery ejercicio2</title>
	<link rel="stylesheet" href="../../css/Rosmery.css">		
</head>
<body>
	<header id="datos">
		<div class="tel"></div>
		<div class="numeros"></div>
		<div class="our"></div>
		<div class="singin"></div>

		<div id="menua">
			<div class="cuadro">
				<div class="logo"></div>
			</div>
			<div class="menub">
				<div class="home"></div>
				<div class="about"></div>
				<div class="products"></div>
				<div class="experience"></div>
				<div class="contacto"></div>
			</div>
		</div>
	</header>

	<section id="barras">
		<article>
			<div class="barra1"></div>
			<div class="barra2"></div>
		</article>
	</section>	

	<section id="seccion1">
		<article>	
			<div class="cajaa">
				<div class="a1">
					<div class="a2">
						<div class="aaa"></div>
					</div>
					<div class="a3"></div>
					<div class="a4">
						<div class="a5"></div>
					</div>
				</div>
			</div>
		</article>
	</section>

	<section id="seccion2">
		<article>	
			<div class="cajab">
				<div class="cajab1">
					<div class="cajabb1"></div>
				</div>
				<div class="cajab2"></div>
				<div class="cajab3">
					<div class="cajab4"></div>
				</div>
			</div>
			<div class="cajac"></div>
		</article>
	</section>


	<section id="seccion3">
		<article>
			<div class="cajad">
				<div class="cajad1">
					<div class="cajadd"></div>
				</div>
				<div class="cajad2"></div>
				<div class="cajad3">
					<div class="cajad4"></div>
				</div>

				<div class="cajad5">
					<div class="cajaddd"></div>
				</div>
				<div class="cajad6"></div>
				<div class="cajad7">
					<div class="cajad8"></div>
				</div>
			</div>


			<div class="cajad">
				<div class="cajad1">
					<div class="cajadd"></div>
				</div>
				<div class="cajad2"></div>
				<div class="cajad3">
					<div class="cajad4"></div>
				</div>

				<div class="cajad5">
					<div class="cajaddd"></div>
				</div>
				<div class="cajad6"></div>
				<div class="cajad7">
					<div class="cajad8"></div>
				</div>
			</div>


			<div class="cajad">
				<div class="cajad1">
					<div class="cajadd"></div>
				</div>
				<div class="cajad2"></div>
				<div class="cajad3">
					<div class="cajad4"></div>
				</div>

				<div class="cajad5">
					<div class="cajaddd"></div>
				</div>
				<div class="cajad6"></div>
				<div class="cajad7">
					<div class="cajad8"></div>
				</div>
			</div>
		</article>
	</section>



	<section id="seccion4">
		<article>
			<div class="cajae"></div>
			<div class="cajaf">
				<div class="cajaf1">
					<div class="cajaff"></div>
				</div>
				<div class="cajaf2">
					<div class="cajaf3"></div>
					<div class="cajaf4"></div>
				</div>
			</div>
		</article>
	</section>



	<section id="seccion5">
		<article>
			<div class="cajag">
				<div class="cajag1"></div>
				<div class="cajag2">
					<div class="cajag3"></div>
					<div class="cajag4"></div>
					<div class="cajag5"></div>
					<div class="cajag6"></div>
					<div class="cajag7"></div>
					<div class="cajag8"></div>
				</div>
			</div>

			<div class="cajah">
				<div class="cajah2">
					<div class="cajah3">
						<div class="cajah4"></div>
						<div class="cajah5"></div>
					</div>

					<div class="cajah6">
						<div class="cajah7"></div>
					</div>
				</div>
				
			</div>
		</article>
	</section>


	<footer id="fu">
		<div class="cajai">
			<div class="cajai1">
				<div class="cajai1a"></div>
			</div>
			<div class="cajai2">
				<div class="cajai3"></div>
				<div class="cajai4"></div>
				<div class="cajai5"></div>
			</div>
		</div>


		<div class="cajaj">
			<div class="cajaj1">
				<div class="cajaj2"></div>
				<div class="cajaj3"></div>
				<div class="cajaj4"></div>
				<div class="cajaj5"></div>
				<div class="cajaj6"></div> 
			</div>

			<div class="cajak">
				<div class="cajak1">
					<div class="cajak2"></div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
