<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>laboratorio</title>
<link rel="stylesheet" href="../../css/Rosmery.css">
</head>
<body>
	<header>
		<div id="menulab">
			<div class="menu1">
				<div class="la1"></div>
				<div class="la2"></div>
				<div class="la3"></div>
				<div class="la4"></div>
				<div class="la5"></div>
			</div>
			<div class="menu2">
			   <div class="hijo1">
			   	    <div class="la6"></div>
			   </div>
			 <div class="hijo2">
				<div class="la7"></div>
				<div class="la8"></div>
				<div class="la9"></div>
				<div class="la10"></div>
				<div class="la11"></div>
				<div class="la12"></div>
				<div class="la13"></div>
			</div>
			</div>
		</div>
	</header>

	<section>
         <article id="section1">
         	<div class="ch1">
         		<div class="ch2"></div>
         		<div class="ch3"></div>	
         	</div>
         </article>

         <article id="section2">
         	<div class="ch4"></div>
         	<div class="ch5">
         		<div class="chh1"></div>
         		<div class="chh2"></div>
         		<div class="chh3">
         			<div class="chh4"></div>
         		</div>
         	</div>
         	<div class="ch6">
         		<div class="chh5"></div>
         		<div class="chh6"></div>
         		<div class="chh7">
         			<div class="chh8"></div>
         		</div>
         	</div>
         </article>

         <article id="section3">
          <div class="ch7">	
         	<div class="ch8">
         		<div class="chh9"></div>
         		<div class="chh10"></div>
         	</div>
            <div class="ch9">
         		<div class="chh11">
         			<div class="chh12">
         				<div class="chh13"></div>
         			</div>
         			<div class="chh14"></div>
         		</div>
         		<div class="chh15"></div>
         	</div>
         	</div>
            <div class="ch10"></div>
         </article>

         <article class="section4">
            <div class="ch11"></div>
            <div class="ch12"></div>
            <div class="ch13"></div>
         </article>

         <article id="section5">
            <div class="ch14">
               <div class="chh16">
                  <div class="chh17"></div>
               </div>
            </div>
            <div class="ch15"></div>
         </article>
   </section>
</body>
</html>