<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>laboratorio1</title>
<link rel="stylesheet" href="../../css/Rosmery.css">
</head>
<body>
	<header>
		<div id="menulab">
			<div class="menu1">
				<div class="la1"></div>
				<div class="la2"></div>
				<div class="la3"></div>
				<div class="la4"></div>
				<div class="la5"></div>
			</div>
			<div class="menu2">
			   <div class="hijo1">
			   	    <div class="la6"></div>
			   </div>
			 <div class="hijo2">
				<div class="la7"></div>
				<div class="la8"></div>
				<div class="la9"></div>
				<div class="la10"></div>
				<div class="la11"></div>
				<div class="la12"></div>
				<div class="la13"></div>
			</div>
			</div>
		</div>
	</header>
	
</body>
</html>