<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mailer</title>
    <link rel="stylesheet" href="../../css/rosmerymailer.css">
</head>
<body>
	<div class="contenedor">
	<header name="encabezado">
		<div class="cl1">
			<div class="img1"></div>
		</div>
		<div class="cl2">
			<div>
				<h3>CREATINGS</h3>
			</div>
			<div>
				<h1>Responsive Email Magic</h1>
			</div>
		</div>
	</header>
    <section name="cuerpo"></section>
    <footer name="pie"></footer>
    </div>	
</body>
</html>