<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>rosmery_media</title>
		<link rel="stylesheet" href="../../css/rosmery_media.css">
</head>
<body>
	<header>
		<div>
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Our People</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>
	<section>
		<article name="banner">
			<div id="banner">
				<div class="hijo1">
					<div class="img1"></div>
				</div>
				<div class="hijo2">
					<div name="texto">
						<h1>Discovered our Brand</h1>
						<br>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis paLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
						<br>
						<div>
							<button>Download</button>
							<button>Contactos</button>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div id="art2">
			  <div name="1">
				<div class="hijo3">
					<div class="img2"></div>
				</div>
				<div class="texto2">
					<h2>FrontEnd</h2>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
				</div>
			 </div>

			 <div name="2">
				<div class="hijo3">
					<div class="img2"></div>
				</div>
				<div class="texto2">
					<h2>FrontEnd</h2>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
				</div>
			 </div>

			  <div name="3">
				<div class="hijo3">
					<div class="img2"></div>
				</div>
				<div class="texto2">
					<h2>FrontEnd</h2>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
				</div>
			 </div>
			</div>
		</article>
	</section>
<footer>
	<div class="pie">
		<h4>Examen Preparcial</h4>
	</div>
</footer>
</body>
</html>