<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>rosmery_parcial</title>
	<link rel="stylesheet" href="../../css/rosmery_parcial.css">
</head>
<body>
	<header>
		<div>
		     <ul  id="menu">
		     	<li><a href="#"><img src="../img/" alt=""></a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivey</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">
					<button>Ingresar</button>
				</a></li>
		 </ul>
		</div>
	</header>

	<section>
		<div id="banner">
			<div class="hijo1">
				<h1>We are Genius!!</h1>
				<p>In publishing and graphic design, lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document without relying on meaningful content 
			    <br>
			    In publishing and graphic design, lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document without relying on meaningful content
				</p>
			</div>
			<div class="mujer">
				<div class="img1"></div>
			</div>
		</div>
	</section>
	
</body>
</html>