<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>rosmery_tarea3</title>
<link rel="stylesheet" href="../../css/rosmery_tarea3.css">
</head>

<body>
<div class="contenedor">
<header name="encabezado">
	<div class="a1">
		<div class="img1"></div>
	</div>
	<div class="a2">
	      <h1>Coffe Great Plain "GOLD"</h1>
	      <h3>our tradition is the best</h3>
    </div>
</header>

<section name="cuerpo">
	<article name="seccion1">
		<div>
			<h2>Know about our history</h2>
			<p>On December 12, 2002, the first Juan Valdez® Café store openend ist door at the El Dorado international airport in Bogotá, with a dream story and great achievements for Colombian premium coffee.</p>
			<br>
			<p>
				The firts international store was opened in the city of Whashinton D.C. 
			<br>
			We are currently in New York and continue to strongly develop our presence in and around Miami.
		</p>
		</div>
	</article>
</section>

<article name="seccion2">
		<div class="a4">
			<div class="img2"></div>
		</div>
		<div class="texto">
			<h2>Discover Your Perfect Cup</h2>
		<p>
			We extend the experience to more stores, so that coffe lovers find their perfect cup enjoying the origins of espresso-based dinks.
		</p>
			<h3>...this is a great cafe</h3></p>	
		</div>
	</article>

	<article name="seccion3">
		<div class="espacio"></div>
	</article>

	<article name="seccion4">
		<div>
			<h2>First Shop Origins...</h2>
			<br>
			<p>
				In 2013 we inaugurated the first Origins store and began the development of a new experience the way for the creation of the perfect cup.
			</p>
		</div>
		<div>
			<h2>Our Design...</h2>
			<br>
			<p>The design of the store and the variety of colognes of Colombian origin prepared with new mothods paved.
			</p>
		</div>
	</article>

	<article name="seccion5">
	     <div>
	     	<div class="img3">
	     </div>		
	</article>

	<article name="seccion6">
		<div>
			<h2>We Are Over 3´000.000 Of Friends On Facebook</h2>
			<br>
			<p>With the opening of Juan Valdez® coffee shops in different countries we have consolidated a digital community connected around the world that interacts daily with the brand and motivates us to continue improving.
			</p>
		</div>
	</article>
</section>

<footer>
	<div>
		<h4>Copyright</h4>
	</div>
	<div>
		<div class="img4"></div>
	</div>
	<div>
		<button>Join now!!</button>	
	</div>	
</footer>
</div>
</body>
</html>