<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>rosmery_tarea3</title>
    <link rel="stylesheet" href="../../css/rosmery_tarea3.css">
</head>
<body>
	<div class="contenedor">
	<header name="encabezado">
		<div class="a1">
			<div class="img1"></div>
		</div>
		<div class="a2">
		<h1>Coffe Great Plain "GOLD"</h1>
		<h3>our tradition is the best</h3>
		</div>
	</header>

    <section name="cuerpo">
    	<article name="seccion1">
    		<div>
    			<h2>Know about our history</h2>
    			<p>On December 12, 2002, the first Juan Valdez</p>
    		</div>
    	</article>
    </section>