<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>rosmery_parcial</title>
	<link rel="stylesheet" href="../../css/rosmery_parcial.css">
</head>
<body>
	<header>
		<div>
		     <ul  id="menu">
		     	<li class="icono">
		     		<img src="../../img/icono_purple.png" height="22px" width="33px" alt=""></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivey</a></li>
				<li><a href="#">Contact Us</a></li>
				<li class="btng">
					<button>Ingresar</button>
				</li>
		 </ul>
		</div>
	</header>

	<section>
	   <article id="a">
		<div id="banner">
			<div class="hijo1">
				<h1>We are Genius!!</h1>
				<p>In publishing and graphic design, lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document without relying on meaningful content
					<br>
					In publishing and graphic design, lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document without relying on meaningful content
				</p>
				<button id="1">Know more</button>
				<button id="1">Contact usd</button>
				<button id="1">Download</button>
				<button id="1">Send us</button>
			</div>
			<div class="mujer">
				<div class="img1"></div>
			</div>
		</div>
	   </article>

	   <article id="gris">
             <div class="caja1">
				<div class="icono2">
					<div class="imgg"></div>
				</div>
				<div class="texto2">
					<h2>FrontEnd</h2>
					<hr>
				</div>
				<div class="texto3">
					<p>In publishing and graphic design, lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document without relying on meaningful contentbr <br>
					In publishing and graphic design, lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document without relying on meaningful content
					</p>
				</div>
			 </div>


	   </article>
	</section>
<footer>
	<div class="pie">
		<p>DH14002 <br>
		   Alicia Rosmery De León
		</p>
	</div>
</footer>
</body>
</html>