<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>rosmery_tarea3</title>
    <link rel="stylesheet" href="../../css/rosmery_tarea3.css">
</head>
<body>
	<div class="contenedor">
	<header name="encabezado">
		<div class="a1">
			<div class="img1"></div>
		</div>
		<div class="a2">
		<h1>Coffe Great Plain "GOLD"</h1>
		<h3>our tradition is the best</h3>
		</div>
	</header>

    <section name="cuerpo">
    	<article name="seccion1">
    		<div>
    			<h2>Know about our history</h2>
    			<p>On December 12, 2002, the first Juan Valdez® Café store openend ist door at the El Dorado international airport in Bogotá, with a dream story and great achievements for Colombian premium coffee.</p>
    			<br>
    			<p>The firts international store was opened in the city of Whashinton D.C. <br>
    			We are currently in New York and continue to strongly develop our presence in and around Miami.</p>
    		</div>
    	</article>

    	<article name="seccion2">
    		<div class="a2">
    			<div class="img2"></div>
    		</div>
    		<div class="texto">
    			<h2>Discover Your Perfect Cup</h2>
    			<p>We extend the experience to more stores, so that coffe lovers find their perfect cup enjoying the origins of espresso-based dinks.</p>
				<h3>...this is a great cafe</h3></p>	
    		</div>
    	</article>

    	<article name="seccion3">
    		<div class="espacio"></div>
    	</article>
    </section>