<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../css/paulamailer.css">
</head>
<body>
	<div class="contenedor">
	<header name="cabeza">
		<div class="cl1">
			<div class="img1"></div>
		</div>
		<div class="cl2">
			<div>
				<h3>CREATINGS</h3>
			</div>
			<div>
				<h1>Responsive Email Magic</h1>
			</div>
		</div>
	</header>
	<section name="cuerpo">
			<article name="sec1">
				<div>
					<h2> WELCOME TO OUR RESPONSIVE EMAIL!</h2>
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</article>
			<article name="sec2">
				<div class="pl3">
					<div class="img2"></div>
				</div>
				<div class="pl4">
					<div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<br>
                <div>
                	<button> Claim yours! </button>
                </div>
                </div>
			</article>
			<article name="sec3"></article>
			<article name="sec4"></article>
	</section>
	<footer mame="pie"></footer>
</div>
</body>
</html>