<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Paulaparcial</title>
  <link rel="stylesheet" href="../../css/paula/paulaparcial.css">
</head>
<body>
  <header>
    <div>
      <ul id="menu">
        <div class= "img1"></div>
          <img src="../../img/icono_purple.png"'></img>
      <li> <a href="#">Home</a></li> 
      <li> <a href="#">Our Services</a></li>
      <li> <a href="#">Our History</a></li>
      <li> <a href="#">Examples</a></li>
      <li> <a href="#">Doumentation</a></li>
      <li> <a href="#">Lets Play</a></li>
      <li> <a href="#">Photos</a></li>
      <li> <a href="#">Administration</a></li>
      <li> <a href="#">Delivery</a></li>
      <li> <a href="#">Contact us</a></li>
      </ul>
    </div>
  </header>
  <section>
    <article name="banner">
      <div id= "banner">
        <div class="cl1 ">
          <div class= "img1">
            <img src="../../img1/1.jpg">
            <h1>We are genius<h1>
            <br>
            <p>It had been rumored for a while that the two artist had been working on a song for Bieber's new album Purpose, but when the tracklist of the album was revealed it was oficially confirmed.
            The songs telss the story of a relationship, wich is being destroyed by rumors and hate. As a famous singer.</p>

          </div>
           <div>
          </div>
        </div>
        <div class="cl2 ">
           <button>Know more</button>
           <button>Contact Us</button>
           <button>Download Us</button>
           <button>Send Us</button>
          </div>
    </article>
  </section>
</body>
</html>