<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Paula Rivera</title>
	<link rel="stylesheet" href="../../css/Paula.css">
</head>
<body>
	<header id="menu">
		<div class="niño1">
		<div class="a"></div>
		<div class="b"></div>
	</div>
	<div class="niño2">
		<div class="c"></div>
		<div class="d"></div>
		<div class="e"></div>
		<div class="f"></div>
	    </div>
	</header>
	<section>
<div class="niño3"></div>
<div class="niño4">
		<div class="g">
			<div class="g1"></div>
			<div class="g2">
				<div class="g2a"></div>
				<div class="g2b"></div>
				<div class="g2c"></div>
				<div class="g2d">
					<div class="g2d1"></div>
					<div class="g2d2"></div>
					<div class="g2d3"></div>
				</div>
			</div>
			<div class="g3"></div>
			<div class="g4"></div>
			<div class="g5"></div>
			<div class="g6"></div>
			<div class="g7"></div>
		</div>  
	    </div>
		<div class="g4">
				<div class="g4a"></div>
				<div class="g4b"></div>
				<div class="g4c"></div>
				<div class="g4d">
					<div class="g4d1"></div>
					<div class="g4d2"></div>
					<div class="g4d3"></div>
				</div>
			<div class="g5"></div>
			<div class="g6"></div>
			<div class="g7"></div>
		</div>  
	    </div>
 </section>
	</div>

	<footer></footer>
</body>
</html>