<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>media</title>
	<link rel="stylesheet" href="../../css/paula_media.css">
</head>
<body>
	<header>
		<div>
			<ul id="menu">
			<li> <a href="#">Home</a></li> 
			<li> <a href="#">Documentation</a></li>
			<li> <a href="#">Our people</a></li>
			<li> <a href="#">Services</a></li>
			<li> <a href="#">Contact</a></li>
			</ul>
		</div>
	</header>
	<section>
		<article name="banner">
			<div id= "banner">
				<div class="cl1 ">
					<div class= "img1"></div>
					<img src="../../img/img-flat.png" height: "400px" width: "400px" alt="">
				</div>
				<div class="cl2 ">
					<div>
						<h1> Discovered our Brand <h1>
						<br>
						<p>Lorem ipsum dolor sit amet consectetur adipiscing, elit dis massa netus a bibendum risus, malesuada primis nullam odio venenatis. Litora mattis himenaeos porttitor montes ornare cursus ad magnis, tincidunt porta turpis duis in vitae scelerisque mus etiam, nec ridiculus ante dapibus sed tortor conubia. Molestie risus commodo curae aliquet potenti odio accumsan, platea faucibus leo venenatis montes.</p>
						</br>
					</div>
					 <button>Download</button>
					 <button>Contact Us</button>
					</div>
				</div>
			</div>
		</div>
		</article>
	</section>
</body>
</html>