<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>actividad4</title>
	<link rel="stylesheet" href=" ../../css/paula/paula_tarea4.css">
</head>
<body>
	<header>
		<div>
			<ul id="menu">
			<li> <a href="#"></a><div class="pic1"></div></li>
			<li> <a href="#">Home</a></li> 
			<li> <a href="#">Our services</a></li>
			<li> <a href="#">Our history</a></li>
			<li> <a href="#">Examples</a></li>
			<li> <a href="#">Documentation</a></li>
			<li> <a href="#">Lets play</a></li>
			<li> <a href="#">Photos</a></li>
			<li> <a href="#">Contact us</a></li>
			</ul>
		</div>
	</header>
	<section>
			<section id="backg">
		    <article class="pic2"></div>
			<div class="hijo1">
			<article class="pic3"></div>
				</div>
			<div class="hijo2">
				<h1> Discovered Our Brands </h1>
					<p>Today our technologies applied to knowledge, culture and solidarity, give us more opportunities than ever to work succesfully in the transformation of society. Fundation Telefónica has been using them since 1998 to awaken these ideas through projects that fight for social development and the creation of opportunities in Europe and Latin America.</p>
				 <div>
					 <button>Know more</button>
					 <button>Contact Us</button>
					 <button>Download</button>
				</div>
			</div>	
			</article>
		    </article>
		    <article class="hijo3">
		    	<div class="hijo3a">
		    		<div class="a1">
		    			<div class="cuad1">
		    				<div class="cuad1a">
		    					<article class="pic4"></article>
		    				</div>
		    				<div class="cuad1b">
		    						<h2> IFront End 
		    						<hr>
		    					   </h2>
		    				</div>
		    				<div class="cuad1c">
		    					<p>Include Bootstrap's source Sass and JavaScript files via Bowe, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
		    					<br>
		    				    <br>
		    				    Include Bootstrap's source Sass and JavaScript files via Bowe, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
		    				</div>
		    		        </div>
		    		</div>
		    		<div class="a2">
		    			<div class="cuad2">
		    				<div class="cuad2a">
		    				<article class="pic5"></article>
		    			</div>
		    			<div class="cuad2b">
		    						<h3> Web Services 
		    						<hr>
		    					   </h3>
		    				</div>
		    				<div class="cuad2c">
		    					<p>Include Bootstrap's source Sass and JavaScript files via Bowe, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
		    					<br>
		    				    <br>
		    				    Include Bootstrap's source Sass and JavaScript files via Bowe, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
		    				</div>
		    		</div>
		    		</div>
		    		<div class="a3">
		    			<div class="cuad3">
		    				<div class="cuad3a">
		    				<article class="pic6"></article>
		    			</div>
		    				<div class="cuad3b">
		    						<h4> Data Guard
		    						<hr>
		    					   </h4>
		    				</div>
		    				<div class="cuad3c">
		    					<p>Include Bootstrap's source Sass and JavaScript files via Bowe, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
		    					<br>
		    				    <br>
		    				    Include Bootstrap's source Sass and JavaScript files via Bowe, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="a4">
		    			<div class="cuad4">
		    				<div class="cuad4a">
		    				<article class="pic7"></article>
		    			</div>
		    				<div class="cuad4b">
		    						<h5> Techno In
		    						<hr>
		    					   </h5>
		    				</div>
		    				<div class="cuad4c">
		    					<p>Include Bootstrap's source Sass and JavaScript files via Bowe, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
		    					<br>
		    				    <br>
		    				    Include Bootstrap's source Sass and JavaScript files via Bowe, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
		    				</div>
		    			</div>
		    		</div>
		    		</div>
		    		</div>
 	<div class="hijo3b">
		    		<div class="a5">
		    			<div class="cuad5">
		    				<div class="cuad5a">
		    					<article class="pic8"></article>
		    				</div>
		    				<div class="cuad5b">
		    						<h6> IFront End 
		    						<hr>
		    					   </h6>
		    				</div>
		    				<div class="cuad5c">
		    					<p>Include Bootstrap's source Sass and JavaScript files via Bowe, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
		    					<br>
		    				    <br>
		    				    Include Bootstrap's source Sass and JavaScript files via Bowe, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
		    				</div>
		    		        </div>
		    		</div>

		    		<div class="a6">
		    			<div class="cuad6">
		    				<div class="cuad6a">
		    					<article class="pic9"></article>
		    				</div>
		    				<div class="cuad6b">
		    						<h7> Web Services 
		    						<hr>
		    					   </h7>
		    				</div>
		    				<div class="cuad6c">
		    					<p>Include Bootstrap's source Sass and JavaScript files via Bowe, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
		    					<br>
		    				    <br>
		    				    Include Bootstrap's source Sass and JavaScript files via Bowe, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="a7">
		    			<div class="cuad7">
		    				<div class="cuad7a">
		    					<article class="pic10"></article>
		    				</div>
		    					<div class="cuad7b">
		    						<h8> Data Guard 
		    						<hr>
		    					   </h8>
		    				</div>
		    				<div class="cuad7c">
		    					<p>Include Bootstrap's source Sass and JavaScript files via Bowe, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
		    					<br>
		    				    <br>
		    				    Include Bootstrap's source Sass and JavaScript files via Bowe, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="a8">
		    			<div class="cuad8">
		    				<div class="cuad8a">
		    					<article class="pic11"></article>
		    				</div>
		    				<div class="cuad8b">
		    						<h9> Techno In
		    						<hr>
		    					   </h9>
		    				</div>
		    				<div class="cuad8c">
		    					<p>Include Bootstrap's source Sass and JavaScript files via Bowe, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
		    					<br>
		    				    <br>
		    				    Include Bootstrap's source Sass and JavaScript files via Bowe, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
		    				</div>
		    			</div>
		    		</div>
		    		</div>
		    <div class="footer"></div> 		
		    </article>  
	</section>
		<footer id="foot">
		<p>LR10015
		<br>
		Paula Rivera</p>
	</footer>
</body>
</html>