@charset "utf-8";

header{
	border-bottom: 3px solid #9ec8c8 !important;
}

.bg-dark{
  background-color: #212b2b !important;
}

@media(min-width: 768px){
	a{
		color: #9ec8c8;
	}
}

.col-lg-7{
  background-color: #353839 !important;
}

.row{
	background-color: #16181b;
	

}

	