@charset "utf-8";

.bg-light{
  background-color: #d8c3a7 !important;
}

.lead {
	font-size: 1.25rem;
	font-weight: 300;
  word-wrap: break-word;
}

header{
	border-bottom: 3px solid #5f473d !important;
}

.btn-outline-success {
	color: #7c7e7d;
    background-color: transparent;
    background-image: none;
    border-color: #181a18;

}