<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ejercicio2</title>
	<link rel="stylesheet" href="../../css/Ricardo.css">
</head>
<body>
	<header id="datoss">
		<div class="iconotel"></div>
		<div class="numers"></div>
		<div class="ours"></div>
		<div class="signin"></div>

		<div id="elmenu">
			<div class="menu1">
				<div class="logo"></div>
			</div>
			<div class="menu2">
				<div class="home"></div>
				<div class="about"></div>
				<div class="service"></div>
				<div class="experi"></div>
				<div class="contact"></div>
			</div>
		</div>
	
	<section>
		<div class="linea1"></div>
		<div class="linea2"></div>
	</section>

	<section>
		<div id="ourservices">
			<div class="our1">
				<div class="uno">
					<div class="uno1">
						<div class="ourserv"></div>
					</div>
					<div class="uno2">
						<div class="letras"></div>
					</div>
					<div class="uno3">
						<div class="more"></div>
					</div>
					
				</div>
			</div>
			<div class="our2"></div>
		</div>

	</section>
	<section>
		<div class="linea3"></div>
	</section>

	<section>
		<div id="seccion4">
			<div class="cuatro1"></div>
			<div class="cuatro2"></div>
		</div>
	</section>

		</div>
    </header>
</body>


</html>