<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ejercicio2</title>
	<link rel="stylesheet" href="../../css/Ricardo.css">
</head>
<body>
	<header id="datoss">
		<div class="iconotel"></div>
		<div class="numers"></div>
		<div class="ours"></div>
		<div class="signin"></div>

		<div id="elmenu">
			<div class="menu1">
				<div class="logo"></div>
			</div>
			<div class="menu2">
				<div class="home"></div>
				<div class="about"></div>
				<div class="service"></div>
				<div class="experi"></div>
				<div class="contact"></div>
			</div>
		</div>
	
	<section>
		<div class="linea1"></div>
		<div class="linea2"></div>
	</section>

	<section>
		<div id="ourservices">
			<div class="our1">
				<div class="uno">
					<div class="uno1">
						<div class="ourserv"></div>
					</div>
					<div class="uno2">
						<div class="letras"></div>
					</div>
					<div class="uno3">
						<div class="more"></div>
					</div>
					
				</div>
			</div>
			<div class="our2"></div>
		</div>

	</section>
	<section>
		<div class="linea3"></div>
	</section>

	<section>
		<div id="seccion4">
			<div class="cuatro1">
				<div class="ipsum">
					<div class="ip"></div>
				</div>
				<div class="letras2">
					<div class="leter"></div>
				</div>
				<div class="vermas">
					<div class="ver"></div>
				</div>
			</div>
			<div class="cuatro2"></div>
		</div>
	</section>
	
	<section>
		<div id="seccion5">
			<div class="image1">
				<div class="im1">
					<div class="im11">
					</div>
					<div class="im22">
						<div class="mas1"></div>
					</div>
				</div>
				<div class="im2">
					<div class="im223"></div>
					<div class="im224">
						<div class="mas2"></div>
					</div>
				</div>
				<div class="im3">
					<div class="im33"></div>
					<div class="im333">
						<div class="mas3"></div>
					</div>
				</div>
			</div>
			<div class="image2">
				<div class="im4">
					<div class="im44"></div>
					<div class="im444">
						<div class="mas4"></div>
					</div>
				</div>
				<div class="im5">
					<div class="im55"></div>
					<div class="im555">
						<div class="mas5"></div>
					</div>
				</div>
				<div class="im6">
					<div class="im66"></div>
					<div class="im666">
						<div class="mas6"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div id="seccion6">
			<div class="section6"></div>
			<div class="section66">
				<div class="letras3">
					<div class="le31"></div>
					<div class="le32"></div>
				</div>
				<div class="letras4">
					<div class="le4"></div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div id="seccion7">
			<div class="sec1">
				<div class="sec11"></div>
				<div class="sec21">
					<div class="sec211">
						<div class="name"></div>
						<div class="email"></div>
						<div class="masage"></div>
					</div>
					<div class="sec221"></div>
				</div>
			</div>
			<div class="sec2"></div>
		</div>
	</section>

		</div>
    </header>
</body>


</html>