<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ejercicio2</title>
	<link rel="stylesheet" href="../../css/Ricardo.css">
</head>
<body>
	<header id="datoss">
		<div class="iconotel"></div>
		<div class="numers"></div>
		<div class="ours"></div>
		<div class="signin"></div>

		<div id="elmenu">
			<div class="menu1">
				<div class="logo"></div>
			</div>
			<div class="menu2">
				<div class="home"></div>
				<div class="about"></div>
				<div class="service"></div>
				<div class="experi"></div>
				<div class="contact"></div>
			</div>
		</div>
	</header>
	<section id="lineas">
		<article>
			<div class="linea1"></div>
			<div class="linea2"></div>
		</article>
	</section>
		</div>
    </header>
</body>


</html>