<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>laboratorio</title>
	<link rel="stylesheet" href="../../css/Ricardo_lab.css">
</head>
<body>
	<header id="datoz">
		<div class="datoz1">
			<div class="tel"></div>
			<div class="numeros"></div>
			<div class="our"></div>
		</div>
		<div class="datos2">
			<div class="info"></div>
			<div class="sign"></div>
		</div>
		<div id="menus">
			<div class="menu1">
				<div class="logo"></div>
			</div>
			<div class="menu2">
				<div class="m1">
					<div class="log"></div>
				</div>
				<div class="m2">
					<div class="home"></div>
					<div class="us"></div>
					<div class="brands"></div>
					<div class="corporate"></div>
					<div class="blog"></div>
					<div class="comunity"></div>
					<div class="contacto"></div>
				</div>
			</div>
		</div>

		<section>
			<div id="cuadro1">
				<div class="c1">
					<div class="titulo"></div>
					<div class="parrafo"></div>
				</div>
				<div class="c2"></div>
			</div>
		</section>

		<section>
			<div id="cuadro2">
				<div class="cuadrito1"></div>
				<div class="cuadrito2">
					<div class="hijo1"></div>
					<div class="hijo2"></div>
				</div>
			</div>
		</section>
		
	
    </header>
		
	
   
	
</body>
</html>