<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>media</title>
	<link rel="stylesheet" href="../../css/ricardo_media.css">
</head>
<body>
	<header>
		<div>
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Domentation</a></li>
				<li><a href="#">Our People</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>
	<section>
		<article name="banner">
			<div id="banner">
				<div class="cl1">
					<div class="img1"></div>
				</div>
				<div class="cl2">
					<div>
						<h1>Discovered our Brand</h1>
						<br>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
						<br>
						<div>
							<button>Downloand</button>
							<button>Contact Us</button>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div id="art2">
				<div name="1">
					<div class="cl3">
						<div class="img2"></div>
					</div>
					<div class="cl4">
						<h2>FrontEnd</h2>
						<hr>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
					</div>
				</div>
				<div name="2">
					<div class="cl3">
						<div class="img2"></div>
					</div>
					<div class="cl4">
						<h2>FrontEnd</h2>
						<hr>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
					</div>
				</div>
				<div name="3">
					<div class="cl3">
						<div class="img2"></div>
					</div>
					<div class="cl4">
						<h2>FrontEnd</h2>
						<hr>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
					</div>
				</div>
			</div>
		</article>
	</section>
</body>
</html>