<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tarea4</title>
	<link rel="stylesheet" href="../../css/ricardo_tarea4.css">
</head>
<body>
	<header>
		<div>
			<ul id="menu">
				<li><a href="#"></a><div class="img1"></div></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Exaples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</header>
	<section id="fondo">
		<article class="fondo_1">
			<div class="hjo1">
				<div class="img2"></div>
			</div>
			<div class="hjo2">
				<div>
				<h1>Discover Our Brand</h1>
				</div>
				<div>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget.</p>
				</div>
				<div>
					<botton class="b1">Know more</botton>
					<botton class="b2">contact us</botton>
					<botton class="b3">Dowload</botton>
				</div>

			</div>
		</article>
	</section>

	<section id="cuadrosecciones">
		<article class="secciones">
			<div>
				<div name="uno1">
					<div>
						<div class="img3"></div>
					</div>
					<div>
						<h2>IFront End</h2>
						<hr>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						<br>
						<br>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						</p>
					</div>
				</div>
                    <div name="dos2">
					<div>
						<div class="img4"></div>
					</div>
					<div>
						<h2>Web Services</h2>
						<hr>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						<br>
						<br>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						</p>
					</div>
				</div>
				<div name="tres3">
					<div>
						<div class="img5"></div>
					</div>
					<div>
						<h2>DataGuard</h2>
						<hr>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						<br>
						<br>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						</p>
					</div>
				</div>
				<div name="cuatro4">
					<div>
						<div class="img6"></div>
					</div>
					<div>
						<h2>Tecno-In</h2>
						<hr>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						<br>
						<br>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						</p>
					</div>
				</div>
			    <div name="cinco5">
			 		<div>
						<div class="img6"></div>
					</div>
					<div>
						<h2>IFront End</h2>
						<hr>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						<br>
						<br>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						</p>
					</div>
				</div>
				<div name="seis6">
					<div>
						<div class="img6"></div>
					</div>
					<div>
						<h2>Web Services </h2>
						<hr>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						<br>
						<br>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						</p>
					</div>
				</div>
				<div name="siete7">
					<div>
						<div class="img6"></div>
					</div>
					<div>
						<h2>DataGuard</h2>
						<hr>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						<br>
						<br>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						</p>
					</div>
				</div>
				<div name="ocho8">
					<div>
						<div class="img6"></div>
					</div>
					<div>
						<h2>Tecno-In</h2>
						<hr>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						<br>
						<br>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						</p>
					</div>
				</div>
			</div>
			
			
			










</body>
</html>