<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tarea3</title>
	<link rel="stylesheet" href="../../css/ricardo_3.css">
</head>
<body>
	<div class="contenedor">
		<header name="cabeza">
			<div class="hijo1">
				<div class="img1"></div>
			</div>
			<div class="hijo2">
				<div class="tex1">
					<h1>Coffee Great Plain "GOLD"</h1>
				</div>
				<div class="tex2">
					<h4>our tradition is the best</h4>
				</div>
			</div>
		</header>
		<section>
			<article name="parrafo1">
				<div class="introduccion">
					<h2>Know about our history</h2>
					<br>
					<p>On December 12, 2002, the first Juan Valdez® Café store opened its doors at the El Dorado international airport in Bogotá, with a dream story and great achievements for Colombian premium coffee.<br>
						<br>The first international store was opened in the city of Washington D.C.	<br>
						We are currently in New York and continue to strongly develop our presence in and around Miami.
					</p>
				</div>
			</article>
			<article name="cuadro2">
				<div class="parrafo2">
					<div class="hijo3">
						<div class="img2"></div>
					</div>
					<div class="tex3">
						<h2>Discover Your Perfect Cup</h2>
						<br>
						<p>We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.
						</p>
						<h4>...this is a great cafe</h4>
					</div>
				</div>
			</article>
			<article name="cuadro3">
				<div class="parrafo3">
					<div class="borde"></div>
					<div class="tex4">
						<h2>First Shop Origins...</h2>
						<br>
						<p>In 2013 we inaugurated the first Origins store and began the development of a new experience, the way for the creation of the perfect cup.	
						</p>
					</div>
					<div class="tex5">
						<h2>Our Design...</h2>
						<br>
						<p>The design of the store and the variety of colognes of Colombian origin prepared with new methods paved.	
						</p>
					</div>
				</div>
			</article>
			<article name="cuadro4">
				<div class="img3">
					<img src="../../img/article4.png" width="100%" height="400px">
				</div>
			</article>
			<article name="cuadro5">
				<div class="tex6">
					<h2>We are Over 3'000.000 Of Friends on Facebook</h2>
					<br>
					<p>With the opening with Juan Valdez® coffee shops in different countries we have consolidated a digital community connected around the world that interacts daily with the brand and motivates us to continue improving.
					</p>
				</div>
			</article>
		</section>
		<footer id="pie">
			<div class="hijo4">
				<h5>Copyright</h5>
			</div>
			<div class="hijo5">
				<div class="img4"></div>
			</div>
			<div class="botton">
				<button>Join now!!</button>
			</div>
		</footer>			
	</div>
</body>
</html>