<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ricardo Guevara</title>
	<link rel="stylesheet" href="../../css/Ricardo.css">
</head>
<body>
	<header id="menu">
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
		    <div class="d"></div>
		    <div class="e"></div>
		    <div class="f"></div>
		</div>
    </header>
	<section>
		<div class="cuadroverde">
			<div class="cuadrosa"></div>
		</div>
		<div class="cuadroceleste">
			<div class="celeste1"></div>
			<div class="celeste2">
			<div class="c1"></div>
			<div class="c2"></div>
			<div class="c3"></div>
			<div class="c4">
				<div class="c41"></div>
				<div class="c42"></div>
				<div class="c43"></div>
		</div>
		</div>
		    <div class="celeste3"></div>
		    <div class="celeste4">
			<div class="c5"></div>
			<div class="c6"></div>
			<div class="c7"></div>
			<div class="c8">
				<div class="c81"></div>
				<div class="c82"></div>
				<div class="c83"></div>
		</div>
		</div>
		    <div class="celeste5"></div>
            <div class="celeste6">
			<div class="c9"></div>
			<div class="c10"></div>
			<div class="c11"></div>
			<div class="c12">
				<div class="c121"></div>
				<div class="c122"></div>
				<div class="c123"></div>
        </div>
        </div>
		    <div class="celeste7"></div>
		 <div>
		 <div>
			<div class="cuadroacua">
			<div class="acua1"></div>
				<div class="acua2">
				<div class="a21"></div>
				<div class="a22">
					<div class="a221"></div>
				    <div class="a222"></div>
				</div>
				<div class="a23"></div>
				<div class="a24">
					<div class="a241"></div>
				    <div class="a242"></div>
				    <div class="a243"></div>
				</div>
				<div class="a25"></div>
				</div>
			</div>
		    <div>
			<div class="cuaverde">
				<div class="verde1">
					<div class="v1"></div>
					<div class="v2">
						<div class="v21">
							<div class="v211"></div>
				            <div class="v212"></div>
				            <div class="v213"></div>
					    </div>
				        <div class="v22">
				        	<div class="v221"></div>
				            <div class="v222"></div>
				            <div class="v223"></div>
				        </div>
					</div>
					<div class="v3"></div>
				</div>
				    <div class="verde2">
				            <div class="v31"></div>
				            <div class="v32">
				            <div class="v321"></div>
				        </div>
				    </div>
				 </div>
	</section>
	<footer>
		  <div class="ultimocuadro"></div>
	     </div>
	</footer>
</body>
</html>