<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>parcial</title>
	<link rel="stylesheet" href="../../css/ricardo_parcial.css">
</head>
<body>
	<header>
		<div>
			<ul id="menus">
				<li><a href="#"></a><div class="img1"></div></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Exaples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact us</a></li>
				<button>Ingresar</button>
			</ul>
		</div>
	</header>

	<section id="fondo">
		<article class="fondo_1">
			<div class="son1">
				<h1>We are Genius!!</h1>
				<br>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
				<br> 
				<p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut.
				</p>
				<div>
					<button class="b1">Know more</button>
					<button class="b2">contact us</button>
					<button class="b3">Dowload</button>
					<button class="b4">Send us</button>
				</div>
			</div>
			<div class="son2">
				<div class="img2"></div>
			</div>
		</article>
	</section>

	<section id="parte3">
		<article class="part3">
			<div class="part3_1">
			<h2>IFront End</h2>
		         <br>
			     <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
				<br>
				<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
			</div>
		</article>
	</section>
	<section id="parte3">
		<article class="part3">
			<div class="part3_2">
			<h2>IFront End</h2>
		         <br>
			     <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
				<br>
				<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
			</div>
		</article>
	</section>
	<section id="parte3">
		<article class="part3">
			<div class="part3_3">
			<h2>IFront End</h2>
		         <br>
			     <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
				<br>
				<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
			</div>
		</article>
	</section>

</body>
</html>