<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Laboratorio</title>
	<link rel="stylesheet" href="../../css/tatiana_lab.css">
</head>
<body>
	<header>
		<article>
			<div class="child1">
				<div class="a"></div>
				<div class="b">
					<div class="ba"></div>
					<div class="bb"></div>
					<div class="bc"></div>
					<div class="bd"></div>
					<div class="be"></div>
				</div>
			</div>  
		</article>
		<article>
			<div class="child2">
				<div class="c">
					<div class="ca"></div>
				</div>
				<div class="d">
					<div class="da"></div>
					<div class="db"></div>
					<div class="dc"></div>
					<div class="dd"></div>
					<div class="de"></div>
					<div class="df"></div>
					<div class="dg"></div>
				</div>
			</div>
		</article>
	</header>
	
</body>
</html>