<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tatiana López</title>
	<link rel="stylesheet" href="../../css/tatiana3.css">
</head>
<body>
	<div id="contenedor">
	<header id="header">
		<div class="cl1">
			<img src="../../img/icon.gif" class="img_center" width="70" height="70">
		</div>
		<div class="cl2">
			<div class="text_3">
				<h3>CREATING</h3>
			</div>
			<div class="text_1">
				<h1>Responsive Email Magic</h1>
			</div>
		</div>
	</header>
	<section>
		<article name="art1">
			<div class="intro">
				<h2>WELCOME TO OUR RESPONSIVE EMAIL!</h2>
				<br>
				<p>
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
				</p>
			</div>
		</article>
		<article name="art2">
			<div class="cl3">
				<div class="img2"></div>
			<div class="cl4">
				<div class="parrafo">
					<p>
						Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
					</p>
				<div class="btn">
					<button>Claim yours!</button>
				</div>
				</div>
			</div>
			</div>
		</article>
	</section>
	</div>
	
</body>
</html>