<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Media</title>
	<link rel="stylesheet" href="../../css/tatianamedia.css">
	<link rel="icon" type="image/png" href="../../img/favicon.ico">
</head>
<body>
	<header id="encabezado">
		<div>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">Documentation</a></li>
				<li><a href="">Our people</a></li>
				<li><a href="">Services</a></li>
				<li><a href="">Contact</a></li>
			</ul>
		</div>
		
	</header>
	<section id="cuerpo">
		<article class="banner">
			<div class="child1">
				<div class="im1"></div>
			</div>
			<div class="child2">
				<div>
					<h1>Discovered our Brand</h1>
				</div>
				<div>
					<p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. </p>
				</div>
				<div>
					<button class="btn1">Download</button>
					<button class="btn2">Contact us</button>
				</div>
			</div>
		</article>
		<article class="sec2"></article>
	</section>
	<footer id="pie"></footer>
</body>
</html>