<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tatiana Tarea 4</title>
	<link rel="stylesheet" href="../../css/tatiana_tarea4.css">
</head>
<body>
	<header id="cabeza">
		<div>
			<ul>
				<li><a href=""><div class="imagen1"></div></a></li>
				<li> <a href="">Home</a></li>
				<li><a href="">Our Services</a></li>
				<li><a href="">Our History</a></li>
				<li><a href="">Examples</a></li>
				<li><a href="">Documentation</a></li>
				<li><a href="">Lets Play</a></li>
				<li><a href="">Photos</a></li>
				<li><a href="">Contact us</a></li>
			</ul>
		</div>
	</header>
	<section>
		<article class="child1">
			<div class="fondo">
				<div class="a1">
					<div class="imagen2"></div>
				</div>
				<div class="a2">
					<div>
						<h1>Discover Our Brand</h1>
					</div>
					<div>
						<p>Today, new technologies applied to knowledge, culture and solidarity, give us more opportunities than ever to work successfully in the transformation of society. Fundación Telefónica has been using them since 1998 to awaken these ideas through projects that fight for social development and the creation of opportunities in Europe and Latin America.</p>
					</div>
					<div>
						<button class="boton1">Know more</button>
						<button class="boton2">Contact us</button>
						<button class="boton3">Download</button>
					</div>
				</div>
			</div>
		</article>
		<article class="child2">
			<div class="b">
				<div class="uno">
					<div>
						<div class="imagenb1"></div>
					</div>
					<div><h2>IFront End</h2>

						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower,  Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
							<br>
							<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. </p>
					</div>
				</div>
				<div class="dos">
					<div>
						<div class="imagenb2"></div>
					</div>
					<div><h2>Web Services</h2>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.  
							<br>
							<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. </p>
					</div>					
				</div>
				<div class="tres">
					<div>
						<div class="imagenb3"></div>
					</div>
					<div><h2>Data Guard</h2>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
							<br>
							<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. </p>
					</div>
				</div>
				<div class="cuatro">
					<div>
						<div class="imagenb4"></div>
					</div>
					<div><h2>Tecno-In</h2>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
							<br>
							<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. </p>
					</div>
				</div>
				<div class="cinco">
					<div>
						<div class="imagenb1"></div>
					</div>
					<div><h2>IFront End</h2>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
							<br>
							<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. </p>
					</div>
				</div>
				<div class="seis">
					<div>
						<div class="imagenb2"></div>
					</div>
					<div><h2>Web Services</h2>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
							<br>
							<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					</div>
				</div>
				<div class="siete">
					<div>
						<div class="imagenb3"></div>
					</div>
					<div><h2>Data Guard</h2>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
							<br>
							<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. </p>
					</div>
				</div>
				<div class="ocho">
					<div>
						<div class="imagenb4"></div>
					</div>
					<div><h2>Tecno-In</h2>
						<hr>
					</div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
							<br>
							<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. </p>
					</div>
				</div>
			</div>
		</article>
	</section>
	<footer id="pie">
		<div>LM14025</div>
		<div>Tatiana Milena López Martínez</div>

	</footer>
</body>
</html>