<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tatiana Parcial</title>
	<link rel="stylesheet" href="../../css/tatiana_parcial.css">
</head>
<body>
	<header id="cabeza">
		<div>
			<ul>
				<li><a href=""><div class="im1"></div></a></li>
				<li><a href="">Home</a></li>
				<li><a href="">Our Services</a></li>
				<li><a href="">Our History</a></li>
				<li><a href="">Examples</a></li>
				<li><a href="">Lets Play</a></li>
				<li><a href="">Photos</a></li>
				<li><a href="">Administration</a></li>
				<li><a href="">Delivery</a></li>
				<li><a href="">Contact us</a></li>
			</ul>
		</div>
		<div>
			<button id="boton">Registro</button>
		</div>
	</header>
	<section>
		<article class="hijo1">
			<div class="fondo">
				<div class="a1">
					<div class="im2"></div>
				</div>
				<div class="a2">
					<div><h1>We are Genius!!</h1></div>
					<div>
						<p>It had been rumored for a while that the two artists had been working on a song for Bieber´s new album <br>Purpose, but when the tracklist of the album was revelead it was officially confirmed <br><br>The songs tells the story of the relationship, wich is being destroyed by rumors and hate. As a famous singer.</p>
					</div>
					<div>
						<button class="boton1">Contact us</button>
						<button class="boton2">Know more</button>
						<button class="boton3">Send us</button>
						<button class="boton4">Download</button>
					</div>
				</div>
			</div>
		</article>
		<article class="hijo2">
			<div class="caja">
				<div class="uno">
					<div class="imagenuno"></div>
					<div><h2>IFront End</h2><hr></div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower,  Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
							<br>
							<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. </p>
					</div>
				</div>
				<div class="dos">
					<div class="imagendos"></div>
					<div><h2>IFront End</h2><hr></div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower,  Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
							<br>
							<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. </p>
					</div>
				</div>
				<div class="tres">
					<div class="imagentres"></div>
					<div><h2>IFront End</h2><hr></div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower,  Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
							<br>
							<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. </p>
					</div>
				</div>
			</div>
		</article>
		<article class="hijo3">
			<div>
				<div class="h3uno">
					<div class="imagenuno"></div>
					<div><h2>IFront End</h2><hr></div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower,  Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
							<br>
							<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. </p>
					</div>	
				</div>
				<div class="h3dos">
					<div class="imagendos"></div>
					<div><h2>IFront End</h2><hr></div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower,  Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
							<br>
							<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. </p>
					</div>	
				</div>
				<div class="h3tres">
					<div class="imagentres"></div>
					<div><h2>IFront End</h2><hr></div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower,  Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
							<br>
							<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. </p>
					</div>	
				</div>
				<div class="h3cuatro">
					<div class="imagencuatro"></div>
					<div><h2>IFront End</h2><hr></div>
					<div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower,  Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. 
							<br>
							<br>
						Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme. </p>
					</div>	
				</div>
			</div>
		</article>
	</section>
	<footer id="pie">
		<div>LM14025</div>
		<div>Tatiana Milena López Martínez</div>
	</footer>
</body>
</html>