<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ejercicio 2</title>
	<link rel="stylesheet" href="../../css/tatiana2.css">
</head>
<body>
	<header>
		<div class="child1">
			<div class="a"></div>
			<div class="b">
				<div class="ba"></div>
				<div class="bb"></div>
				<div class="bc"></div>
				<div class="bd"></div>
			</div>
		</div>
		<div class="child2">
			<div class="c">
				<div class="ca"></div>
			</div>
			<div class="d">
				<div class="da"></div>
				<div class="db"></div>
				<div class="dc"></div>
				<div class="dd"></div>
				<div class="de"></div>
			</div>
		</div>
		<div class="child3"></div>
		<div class="child4"></div>
	</header>
	<section>
		<article>
			<div class="child5">
					<div class="ea1">
						<div class="ea1a"></div>
						<div class="ea1b"></div>
						<div class="ea1c">
							<div class="ea1ca"></div>
						</div>
					</div>
			</div>
		</article>
		<article>
			<div class="child6"></div>
		</article>
		<article>
			<div class="child7">
				<div class="f">
					<div class="fa">
						<div class="fa1"></div>
						<div class="fa2"></div>
						<div class="fa3">
							<div class="fa3a"></div>
						</div>
					</div>
				</div>
				<div class="g">
					<div class="ga"></div>
				</div>
			</div>
		</article>
		<article>
			<div class="child8">
				<div class="h">
					<div class="ha">
						<div class="ha1"></div>
						<div class="ha2">
							<div class="ha2a"></div>
						</div>
					</div>
					<div class="hb">
						<div class="hb1"></div>
						<div class="hb2">
							<div class="hb2a"></div>
						</div>
					</div>
					<div class="hc">
						<div class="hc1"></div>
						<div class="hc2">
							<div class="hc2a"></div>
						</div>
					</div>
				</div>
				<div class="i">
					<div class="ia">
						<div class="ia1"></div>
						<div class="ia2">
							<div class="ia2a"></div>
						</div>
					</div>
					<div class="ib">
						<div class="ib1"></div>
						<div class="ib2">
							<div class="ib2a"></div>
						</div>
					</div>
					<div class="ic">
						<div class="ic1"></div>
						<div class="ic2">
							<div class="ic2a"></div>
						</div>
					</div>
				</div>
		</article>
		<article>
			<div class="child9">
				<div class="j"></div>
				<div class="k">
					<div class="ka">
						<div class="kaa">
							<div class="ka1"></div>
							<div class="ka2"></div>
							<div class="ka3"></div>
							<div class="ka4"></div>
							<div class="ka5"></div>
							<div class="ka6"></div>
							<div class="ka7"></div>
							<div class="ka8"></div>
							<div class="ka9"></div>
							<div class="ka10"></div>
						</div>
					</div>
					<div class="kb">
						<div class="kb1"></div>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="child10">
				<div class="l">
					<div class="la"></div>
					<div class="lb"></div>
					<div class="lc"></div>
					<div class="ld"></div>
					<div class="le"></div>
					<div class="lf"></div>
					<div class="lg"></div>
				</div>
				<div class="m">
					<div class="ma"></div>
					<div class="mb"></div>
					<div class="mc">
						<div class="mca"></div>
					</div>
				</div>
			</div>
		</article>
	</section>
	<footer>
		<div class="child11">
			<div class="n">
				<div class="na"></div>
				<div class="nb"></div>
			</div>
			<div class="o">
				<div class="oa"></div>
				<div class="ob"></div>
				<div class="oc"></div>
				<div class="od"></div>
				<div class="oe"></div>
				<div class="of"></div>
			</div>
		</div>
	</footer>

</body>
</html>