<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tarea 3</title>
	<link rel="stylesheet" href="../../css/tatiana_tarea3.css">
</head>
<body>
	<div id="bloque">
	<header id="cabeza" >
		<div class="clasea">
			<div class="imagen1"></div>
		</div>
		<div class="claseb">
			<div class="texto1">
				<h2>Coffee Great Plain "GOLD"</h2>
			</div>
			<div class="texto2">
				<h5>our tradition is the best</h5>
			</div>
		</div>
	</header>
	<section></section>
	<footer></footer>
	</div>
</body>
</html>