<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tatiana Parcial</title>
	<link rel="stylesheet" href="../../css/tatiana_parcial.css">
</head>
<body>
	<header id="cabeza">
		<div>
			<ul>
				<li><a href=""><div class="im1"></div></a></li>
				<li><a href="">Home</a></li>
				<li><a href="">Our Services</a></li>
				<li><a href="">Our History</a></li>
				<li><a href="">Examples</a></li>
				<li><a href="">Lets Play</a></li>
				<li><a href="">Photos</a></li>
				<li><a href="">Administration</a></li>
				<li><a href="">Delivery</a></li>
				<li><a href="">Contact us</a></li>
			</ul>
		</div>
		<div>
			<button>Registro</button>
		</div>
	</header>
	<section>
		<article class="hijo1">
			<div>
				<div class="a1">
					<div class="im2"></div>
				</div>
				<div class="a2">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</article>
		<article class="hijo2"></article>
		<article class="hijo3"></article>
	</section>
</body>
</html>