<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tatiana Tarea 4</title>
	<link rel="stylesheet" href="../../css/tatiana_tarea4.css">
</head>
<body>
	<header id="cabeza">
		<div>
			<ul>
				<li><a href=""><div class="imagen1"></div></a></li>
				<li> <a href="">Home</a></li>
				<li><a href="">Our Services</a></li>
				<li><a href="">Our History</a></li>
				<li><a href="">Examples</a></li>
				<li><a href="">Documentation</a></li>
				<li><a href="">Lets Play</a></li>
				<li><a href="">Photos</a></li>
				<li><a href="">Contact us</a></li>
			</ul>
		</div>
	</header>
	<footer></footer>
</body>
</html>