<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tarea 3</title>
	<link rel="stylesheet" href="../../css/tatiana_tarea3.css">
</head>
<body>
	<div id="bloque">
		<header id="cabeza" >
			<div class="clase1">
				<div class="imagen1"></div>
			</div>
			<div class="clase2">
				<div class="texto1">
					<h1>Coffee Great Plain "GOLD"</h1>
				</div>
				<div class="texto2">
					<h4>our tradition is the best</h4>
				</div>
			</div>
		</header>
		<section id="cuerpo">
			<article class="art1">
				<div class="parrafo1">
					<div>
						<h3>Know about our history</h3>
					</div>
					<p>On December 12, 2002, the first Juan Valdez® Café store opened its doors at the El Dorado international airport in Bogotá, with a dream story and great achievements for Colombian premium coffee.
						<br>
						<br>The first international store was opened in the city of Washington D.C.
						<br>
						We are currently in New York and continue to strongly develop our presence in and around Miami.
					</p>
					<h6>On December</h6>
				</div>
			</article>
			<article class="art2">
				<div class="parrafo2">
					<div class="clasec">
						<div class="imagen2"></div>
					</div>
					<div class="clased">
						<h3>Discover Your Perfect Cup</h3>
						<p>We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.</p>
						<h2>...this is a great cafe</h2>
					</div>
				</div>
			</article>
			<article class="art3">
				<div class="barra"></div>
				<div class="parrafo3">
					<h3>First Shop Origins...</h3>
					<p>In 2013 we inaugurated the first Origins store and began the development of a new experience the way for the creation of the perfect cup.</p>
				</div>
				<div class="parrafo4">
					<h3>Our design...</h3>
					<p>The design of the store and the variety of colognes of Colombian origin prepared with new methods paved.</p>
				</div>
			</article>
			<article class="art4">
				<div class="imagen3">
					<img src="../../img/article4.png" width="100%" height="314px">
				</div>
				<div class="parrafo5">
					<h3>We are Over 3´000.000 Of Friends on Facebook</h3>
					<br>
					<p>With the opening with Juan Valdez® coffee shops in different countries we have consolidated a digital community connected around the world that interacts daily with the brand and motivates us to continue improving.</p>
				</div>
			</article>
		</section>
		<footer>
			<div class="pie">

				<div class="childpie1">
					<h5>Copyright</h5>
				</div>
				<div class="childpie2">
					<div class="imagenmarca"></div>
				</div>
				<div class="boton">
					<button>Join now!!</button>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>