<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 1</title>
	<link rel="stylesheet" href="../../css/tatiana.css">
</head>
<body> 
	<header>
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	</header>

	<section>
		<article>
			<div class="child3"></div>
		</article>

		<article>
			<div class="child4"></div>		
		</article>

		<article>
			<div class="child5">
				<div class="g">
					<div class="ga">
						<div class="ga1"></div>
						<div class="ga2"></div>
						<div class="ga3">
							<div class="ga3a"></div>
							<div class="ga3b"></div>
							<div class="ga3c"></div>
						</div>
					</div>
				</div>
				<div class="h">
					<div class="ha">
						<div class="ha1"></div>
						<div class="ha2"></div>
						<div class="ha3">
							<div class="ha3a"></div>
							<div class="ha3b"></div>
							<div class="ha3c"></div>
						</div>
					</div>
				</div>	
				<div class="i">
					<div class="ia">
						<div class="ia1"></div>
						<div class="ia2"></div>
						<div class="ia3">
							<div class="ia3a"></div>
							<div class="ia3b"></div>
							<div class="ia3c"></div>
						</div>
					</div>
				</div>	
			</div>
		</article>
		<article>
			<div class="child6">
				<div class="j"></div>
				<div class="k"></div>
			</div>
		</article>
	</section>

	<footer></footer>

</body>
</html>