<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ejercicio 2</title>
	<link rel="stylesheet" href="../../css/tatiana2.css">
</head>
<body>
	<header>
		<div class="child1">
			<div class="a"></div>
			<div class="b">
				<div class="ba"></div>
				<div class="bb"></div>
				<div class="bc"></div>
				<div class="bd"></div>
			</div>
		</div>
		<div class="child2">
			<div class="c">
				<div class="ca"></div>
			</div>
			<div class="d">
				<div class="da"></div>
				<div class="db"></div>
				<div class="dc"></div>
				<div class="dd"></div>
				<div class="de"></div>
			</div>
		</div>
		<div class="child3"></div>
		<div class="child4"></div>
	</header>
	<section>
		<article>
			<div class="child5">
					<div class="ea1">
						<div class="ea1a"></div>
						<div class="ea1b"></div>
						<div class="ea1c">
							<div class="ea1ca"></div>
						</div>
					</div>
			</div>
		</article>
		<article>
			<div class="child6"></div>
		</article>
		<article>
			<div class="child7">
				<div class="f">
					<div class="fa">
						<div class="fa1"></div>
						<div class="fa2"></div>
						<div class="fa3">
							<div class="fa3a"></div>
						</div>
					</div>
				</div>
				<div class="g">
					<div class="ga"></div>
				</div>
			</div>
		</article>
		<article>
			<div class="child8">
				<div class="h">
					<div class="ha">
						<div class="ha1"></div>
						<div class="ha2">
							<div class="ha2a"></div>
						</div>
					</div>
					<div class="hb"></div>
					<div class="hc"></div>
				</div>
				<div class="i"></div>
			</div>
		</article>
	</section>

</body>
</html>