<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>aliciapineda</title>
	<link rel="stylesheet" href="../../css/alicia_tarea3.css">
</head>
<body>
	<div id="box">
	<header id="header">
		<div class="cont1">
			<img src="../../img/logo-header.png" class="img_center"
			width="300" height="300">
		</div>
		<div class="cont2">
			<div class="texto_1">
				<h1>Coffee Great Plain "GOLD"</h1>
			</div>
			<div class="texto_2">
				<h3>our tradition is the best</h3>
			</div>
		</div>
	</header>
	<section>
		<article name="text">
			<div class="historia">
				<h2>Know about our history</h2>
				<p>
					On December 12, 2002,the firts Juan Valdez Café store opened its doors at the El Dorado
					International airport in Bogotá, with a dream story and great achievements for Colombian
					premiun coffee.
				</p>
				<p>
					The firts international store was opened in the city Whasinton D.C.
					We are currently in New York and continue to strongly develop our presence in and
					around Miami. 
				</p>
			</div>
		</article>
		
	</section>
	<footer>
		
	</footer>
	</div>

</body>
</html>	
