<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>aliciapineda</title>
	<link rel="stylesheet" href="../../css/alicia_tarea3.css">
</head>
<body>
	<div id="box">
		<header id="header">
			<div class="cont1">
				<img src="../../img/logo-header.png" class="img_center"
				width="300" height="300">
			</div>
			<div class="cont2">
				<div class="texto_1">
					<h1>Coffee Great Plain "GOLD"</h1>
				</div>
				<div class="texto_2">
					<h3>our tradition is the best</h3>
				</div>
			</div>
		</header>
		<section>
			<article name="text">
				<div class="historia">
					<h2>Know about our history</h2>
					<p>
						On December 12, 2002,the firts Juan Valdez Café store opened its doors at the El Dorado
						International airport in Bogotá, with a dream story and great achievements for Colombian
						premiun coffee.
					</p>
					<p>
						The firts international store was opened in the city Whasinton D.C.
						We are currently in New York and continue to strongly develop our presence in and
						around Miami. 
					</p>
				</div>
			</article>
		</section>
		<section>
			<article id=art2 name="text2">
				<div class="descrip">
					<div class="img1"></div>
				</div>
				<div class="texto2">
					<div class="calidad">
						<h2>Discover your Perfect Cup</h2>
					</div>
					<p>
						We extend the experiences to more stores, so that coffe lovers find their perfect cup enjoying the origins of espresso-based dinks.
					</p>
					<h3>...this is a great cafe</h3>
				</div>
			</article>
		</section>
		<section>
			<article>
				<div class="caracteristica">
					<div class="color"></div>
					<div class="tiendadiseño">
						<div class="shop">
							<h3> First Shop Origins...</h3>
							<p>
								In 2013 we inaugurated the first Origins store and began the development of a new experience the way for the creation of the perfect cup.
							</p>
						</div>
						<div class="design">
							<h3> Our Deseign...</h3>
							<p>
							The design of the store and the variety of colognes of Colombian origin prepared with new mothods paved.
						   </p>
						</div>
					</div>
				</div>
			</article>
		</section>
		<section>
			<article>
				<div class="bannerimg">
					<div class="imge"></div>
				</div>
			</article>
		</section>
		<section>
			<article>
				<div class="facebook">
					<h3>We Are Over 3´000.000 Of Friends On Facebook</h3>
					<p>
						With the openingn of Juan Valdez coffe shops in different countries we have consolidated a digital community connected around the world that interacts daily with brand and motivates us to continue improving.
					</p>
				</div>
			</article>
		</section>
		<footer>
			<div class="info">
				<div class="derechos">
					<h2>Copyright:</h2>
				</div>
				<div class="logo">
					<div class="juanvaldez"></div>
				</div>
				<div class="acceso">
					<div class="boton-acceso">
						<button>Join now!!</button>
					</div>
				</div>
			</div>
		</footer>	
	</div>
</body>
</html>	
