<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>aliciatarea4</title>
	<link rel="stylesheet" href="../../css/alicia_tarea4.css">
</head>
<body>
	<header id="titular">
		<div>
			<ul>
				<li><a href="#"><img src="../../img/icono_logo.png" width="33px" height="22px"></a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Service</a></li>
				<li><a href="#">Our history</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentación</a></li>
				<li><a href="#">Lets play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
		</div>
	</header>
	<section> 
		<article id="caja1">
		 <div class="vista">
			<div class="hijo1">
				<div class="im1"></div>
			</div>
			<div class="text">
				<div>
					<h1>Discover Our brand</h1>
				</div>
				<div>
					<p>
					Today, new tecnologies applied to knowledge, culture and solidarity, give us more opportubities then ever to work successfully in the transformation of society. fundación Telefónica has been using then since 1998 to awaken these ideas through projecsts that fight for social develpment and the creation of opportunities in Europe and Latin America.
				</p>
				</div>
				<div>
					<button class="bt1">Know more</button>
					<button class="bt2">Contact us</button>
					<button class="bt3">Download</button>
				</div>
			</div>
		</div>
		</article>
	</section>
	<section>
		<article id="caja2">
			<div class="informacion">
				<div class="cuadro1">
					<div class="fig1"></div>
					<div class="tex1">
						<div>
						<h2>IFront End</h2>	
						</div>
						<div>
							<p>
								Include Boostrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentacion, but do include our build system and readme.
							</p>
							<p>
								Include Boostrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentacion, but do include our build system and readme.
							</p>
						</div>
					</div>
				</div>
				<div class="cuadro2">
					<div class="fig2"></div>
					<div class="tex2">
						<div>
						<h2>IFront End</h2>	
						</div>
						<div>
							<p>
								Include Boostrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentacion, but do include our build system and readme.
							</p>
							<p>
								Include Boostrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentacion, but do include our build system and readme.
							</p>
						</div>
					</div>
				</div>
				<div class="cuadro3">
					<div class="fig3"></div>
					<div class="tex3">
						<div>
						<h2>IFront End</h2>	
						</div>
						<div>
							<p>
								Include Boostrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentacion, but do include our build system and readme.
							</p>
							<p>
								Include Boostrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentacion, but do include our build system and readme.
							</p>
						</div>
					</div>
				</div>
				<div class="cuadro4">
					<div class="fig4"></div>
					<div class="tex4">
						<div>
						<h2>IFront End</h2>	
						</div>
						<div>
							<p>
								Include Boostrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentacion, but do include our build system and readme.
							</p>
							<p>
								Include Boostrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentacion, but do include our build system and readme.
							</p>
						</div>
					</div>
				</div>
				<div class="cuadro5">
					<div class="fig5"></div>
					<div class="tex5">
						<div>
						<h2>IFront End</h2>	
						</div>
						<div>
							<p>
								Include Boostrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentacion, but do include our build system and readme.
							</p>
							<p>
								Include Boostrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentacion, but do include our build system and readme.
							</p>
						</div>
					</div>
				</div>
				<div class="cuadro6">
					<div class="fig6"></div>
					<div class="tex6">
						<div>
						<h2>IFront End</h2>	
						</div>
						<div>
							<p>
								Include Boostrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentacion, but do include our build system and readme.
							</p>
							<p>
								Include Boostrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentacion, but do include our build system and readme.
							</p>
						</div>
					</div>
				</div>
				<div class="cuadro7">
					<div class="fig7"></div>
					<div class="tex7">
						<div>
						<h2>IFront End</h2>	
						</div>
						<div>
							<p>
								Include Boostrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentacion, but do include our build system and readme.
							</p>
							<p>
								Include Boostrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentacion, but do include our build system and readme.
							</p>
						</div>
					</div>
				</div>
				<div class="cuadro8">
					<div class="fig8"></div>
					<div class="tex8">
						<div>
						<h2>IFront End</h2>	
						</div>
						<div>
							<p>
								Include Boostrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentacion, but do include our build system and readme.
							</p>
							<p>
								Include Boostrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentacion, but do include our build system and readme.
							</p>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>

</body>
</html>