<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 2</title>
	<link rel="stylesheet" href="../../css/aliciaejercicio2.css">
</head>
<body>
	<header>
		<div class="caja1">
			<div class="caj1"></div>
			<div class="caj11">
				<div class="cajahija1"></div>
				<div class="cajahija2"></div>
				<div class="cajahija3"></div>
				<div class="cajahija4"></div>
			</div> 
		</div>
		<div class="caja2">
			<div class="caj2">
				<div class="ca2"></div>
			</div>
			<div class="caj22">
				<div class="cajita1"></div>
				<div class="cajita2"></div>
				<div class="cajita3"></div>
				<div class="cajita4"></div>
				<div class="cajita5"></div>
			</div>
		</div>
	</header>
	<section>
		<article class="imag">
			<div class="box1">
				<div class="hijobox1"></div>
				<div class="hijobox2"></div>
				<div class="hijobox3"></div>
			</div>
		</article>
	</section>
	<section>
		<article class="seccion2">
			<div class="hijaseccion1">
				<div class="secc1"></div>
				<div class="secc2"></div>
				<div class="secc3"></div>
			</div>
			<div class="hijaseccion2"></div>
		</article>
	</section>
	<section>
		<article class="contenido">
			<div class="contenid1"></div>
			<div class="contenid2"></div>
		</article>
	</section>
	<section>
		<article class="seccion3">
			<div class="sec1"></div>
			<div class="sec2">
				<div class="seccion2a"></div>
				<div class="seccion2b">
					<div class="secb1"></div>
					<div class="secb2"></div>
				</div>
			</div>
		</article>
	</section>
	<section >
		<article>
			<div class="seccion4">
				<div class="cajita6">
					<div class="cajitahija4"></div>
					<div class="cajitahija5">
						<div class="hija5"></div>
						<div class="hija55"></div>
					</div>
					<div class="cajitahija6">
						<div class="hija6"></div>
						<div class="hija66"></div>
					</div>
					<div class="cajitahija7">
						<div class="hija7"></div>
						<div class="hija77"></div>
					</div>
					<div class="cajitahija8"></div>
				</div>
				<div class="cajita7">
					<div class="hij7"></div>
					<div class="hij77">
						<div class="hijita7"></div>
					</div>
				</div>
			</div>
		</article>
	</section>
	<footer>
		<div class="footerbox1">
			<div class="fbox1"></div>
			<div class="fbox2">
				<div class="log1"></div>
				<div class="log2"></div>
				<div class="log3"></div>
			</div>
		</div>
		<div class="footerbox2">
			<div class="ftbox1">
				<div class="b1"></div>
				<div class="b2"></div>
				<div class="b3"></div>
				<div class="b4"></div>
				<div class="b5"></div>
			</div>
			<div class="ftbox2">
				<div class="b6"></div>
				<div class="b7"></div>
			</div>
		</div>
	</footer>
</body>
</html>