<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>aliciamedia</title>
	<link rel="stylesheet" href="../../css/alicia_media.css">
	<link rel="icon" type="image/png" href="../../favicon.ico">
</head>
<body>
	<header id="encabezado">
		<div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Our people</a></li>
				<li><a href="#">Servicies</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>
	<section></section>
	
	</footer></footer>
</body>
</html>