<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>aliciatarea4</title>
	<link rel="stylesheet" href="../../css/alicia_tarea4.css">
</head>
<body>
	<header id="titular">
		<div>
			<ul>
				<li><a href="#"><img src="../../img/icono_logo.png" width="33px" height="22px"></a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Service</a></li>
				<li><a href="#">Our history</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentación</a></li>
				<li><a href="#">Lets play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
		</div>
	</header>
	<section> 
		<article id="caja1">
			<div class="vista">
				<div class="hijo1">
					<div class="im1"></div>
				</div>
				<div class="text">
					<div>
						<h1>Discover Our Brand</h1>
					</div>
					<div>
						<p>
							Today, new tecnologies applied to knowledge, culture and solidarity, give us more opportubities then ever to work successfully in the transformation of society. fundación Telefónica has been using then since 1998 to awaken these ideas through projecsts that fight for social develpment and the creation of opportunities in Europe and Latin America.
						</p>
					</div>
					<div>
						<button class="bt1">Know more</button>
						<button class="bt2">Contact us</button>
						<button class="bt3">Download</button>
					</div>
				</div>
			</div>
		</article>
	</section>
	<section>
		<article id="caja2">
			<div class="info1">
				<div class="cuadro1">
					<div class="fig">
						<img src="../../img/icono1.png" width="100px" height="100px">
					</div>
					<div class="tex1">
						<h2>IFront End</h2><hr>
					</div>
					<div class="tex2">
						<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.</p>
						<p>
							Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.	
						</p>
					</div>
				</div>
			</div>
			<div class="info1">
				<div class="cuadro1">
					<div class="fig">
						<img src="../../img/icono2.png" width="100px" height="100px">
					</div>
					<div class="tex1">
						<h2>Web Services</h2><hr>
					</div>
					<div class="tex2">
						<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.</p>
						<p>
							Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.	
						</p>
					</div>
				</div>
			</div>
			<div class="info1">
				<div class="cuadro1">
					<div class="fig">
						<img src="../../img/icono3.png" width="100px" height="100px">
					</div>
					<div class="tex1">
						<h2>DataGuard</h2><hr>
					</div>
					<div class="tex2">	
						<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.</p>
						<p>
							Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.	
						</p>
					</div>				
				</div>
			</div>
			<div class="info1">
				<div class="cuadro1">
					<div class="fig">
						<img src="../../img/icono4.png" width="100px" height="100px">
					</div>
					<div class="son2">
						<h2>Tecno-In</h2>
						<hr>
						<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.</p>
						<p>
							Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.	
						</p>
					</div>
				</div>
			</div>		
		</article>
	</section>
		<article id="caja2">
			<div class="info1">
				<div class="cuadro1">
					<div class="fig">
						<img src="../../img/icono1.png" width="100px" height="100px">
					</div>
					<div class="tex1">
						<h2>IFront End</h2><hr>
					</div>	
					<div class="tex2">
						<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.</p>
						<p>
							Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.	
						</p>
					</div>
				</div>
			</div>
			<div class="info1">
				<div class="cuadro1">
					<div class="fig">
						<img src="../../img/icono2.png" width="100px" height="100px">
					</div>
					<div class="tex1">
						<h2>Web Services</h2><hr>
					</div>
					<div class="tex2">
						<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.</p>
						<p>
							Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.	
						</p>
					</div>
				</div>
			</div>
			<div class="info1">
				<div class="cuadro1">
					<div class="fig">
						<img src="../../img/icono3.png" width="100px" height="100px">
					</div>
					<div class="tex1">
						<h2>DataGuard</h2><hr>
					</div>
					<div class="tex2">
						<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.</p>
						<p>
							Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.	
						</p>
					</div>
				</div>
			</div>
			<div class="info1">
				<div class="cuadro1">
					<div class="fig">
						<img src="../../img/icono4.png" width="100px" height="100px">
					</div>
					<div class="tex1">
						<h2>Tecno-In</h2><hr>
					</div>
					<div class="tex2">
						<p>
						Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.</p>
						<p>
							Include Bootstrap´s source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don´t include documentation, but do include our buld system and readme.	
						</p>
					</div>
				</div>
			</div>
		</article>
			<footer id="foofet">
				<div><p>LP12018<br>Fatima Alicia Landaverde Pineda</p>
				</div>
			</footer>
		</body>
		</html>





