<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>alicia parcial</title>
	<link rel="stylesheet"  href="../../css/alicia_parcial.css">
</head>
<body>
	<header id="contenedor">
		<div>
			<ul>
				<li><a href="#"><img src="../../img/icono_blue.png" width="33px" height="22px"></a></li>
				<li><a href="">Home</a></li>
				<li><a href="">Our Services</a></li>
				<li><a href="">Our History</a></li>
				<li><a href="">Examples</a></li>
				<li><a href="">Lests play</a></li>
				<li><a href="">Photos</a></li>
				<li><a href="">Admistration</a></li>
				<li><a href="">Delivery</a></li>
				<li><a href="">Contact us</a></li>
				<input class="bton" type="button" value="Registro">
			</ul>
		</div>		
	</header>
	<section>
		<article id="info">
			<div class="banner">
				<div class="hijo1">
					<div class="imagenmujer"></div>
				</div>
				<div class="tex1">
					<div>
						<h1>We are Genius!!</h1> 
					</div>
					<div>
						<p>It had been rumored for a while that the two artists had been working on a song for Bieber´s new album Purpose, but the tracklist of the album was revelated it was officially confirmed..</p>
						<br>
						<p>The song tells the story of a relationship, which is being destroyed by rumors and hate. As a famous singer.</p>
						<br>
					</div>
					<div>
						<button class="bot1">Contact us</button>
						<button class="bot2">Know more</button>
						<button class="bot3">Send us</button>
						<button class="bot3">Downlaod</button>
					</div>
				</div>
			</div>
		</article>
		<section name="body">
			<article>
				<div class="caja1">
					<div class="cont1"></div>
					<h2>IFront End</h2>
					<hr>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					<br>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
				</div>
			</article>
			<article>
				<div class="caja1">
					<div class="cont2"></div>
					<h2> Web Services</h2>
					<hr>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					<br>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
				</div>
			</article>
			<article>
				<div class="caja1">
					<div class="cont3"></div>
					<h2>Data Guard</h2>
					<hr>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					<br>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
				</div>
			</article>
		</section>
		<section>
			<article class="sec">
				<div class="caja2">
					<div class="cont1"></div>
					<h2>IFront End</h2>
					<hr>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					<br>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
				</div>
			</article>
			<article class="sec">
				<div class="caja2">
					<div class="cont2"></div>
					<h2>Web Services</h2>
					<hr>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					<br>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
				</div>
			</article>
		</section>
		<section>
			<article class="sec2">
				<div class="caja2">
					<div class="cont3"></div>
					<h2>DataGuard</h2>
					<hr>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					<br>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
				</div>
			</article>
			<article class="sec2">
				<div class="caja2">
					<div class="cont4"></div>
					<h2>Tecno-In</h2>
					<hr>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
					<br>
					<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
				</div>
			</article>
		</section>

		<footer>Lp12018 - Fatima Landaverde</footer>
	</div>
	

</section>

</body>
</html>




