<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 1</title>
	<link rel="stylesheet" href="../../css/alicia2.css">
</head>
<body>
	<header>
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	</header>
	<section>
		<article class="bisabuelo">
			<div class="hijo1"></div>
			<div class="hijo2"></div>
		</article>
	</section>
	<section>
		<article class="papa">
			<div class="primerhijo">
				<div class="nieto1"></div>
				<div class="nieto2"></div>
				<div class="nieto3"></div>
				<div class="nieto4">
					<div class="binieto1"></div>
					<div class="binieto2"></div>
					<div class="binieto3"></div>
				</div>
			</div>
			<div class="segundohijo">
				<div class="nieto5"></div>
				<div class="nieto6"></div>
				<div class="nieto7"></div>
				<div class="nieto8">
					<div class="binieto4"></div>
					<div class="binieto5"></div>
					<div class="binieto6"></div>
				</div>
			</div>
			<div class="tercerhijo">
				<div class="nieto9"></div>
				<div class="nieto10"></div>
				<div class="nieto11"></div>
				<div class="nieto12">
					<div class="binieto7"></div>
					<div class="binieto8"></div>
					<div class="binieto9"></div>
				</div>
			</div>
		</article>
	</section>
	<section>
		<article class="seccion3">
			<div class="caja1"></div>
			<div class="caja2">
				<div class="cajita1"></div>
				<div class="cajita2">
					<div class="cajitahija1"></div>
					<div class="cajitahija2"></div>
				</div>
				<div class="cajita3"></div>
				<div class="cajita4">
					<div class="cajitahija3"></div>
				</div>
				<div class="cajita5"></div>
			</div>
		</div>
	</article>
</section>
<section >
	<article>
		<div class="seccion4">
			<div class="cajita6">
				<div class="cajitahija4"></div>
				<div class="cajitahija5">
					<div class="hija5"></div>
					<div class="hija55"></div>
				</div>
				<div class="cajitahija6">
					<div class="hija6"></div>
					<div class="hija66"></div>
				</div>
				<div class="cajitahija7">
					<div class="hija7"></div>
					<div class="hija77"></div>
				</div>
				<div class="cajitahija8"></div>
			</div>
			<div class="cajita7">
				<div class="hij7"></div>
				<div class="hij77">
					<div class="hijita7"></div>
				</div>
			</div>
		</div>
	</article>
</section>

<footer></footer>
</body>
</html>