<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>laboratorio</title>
	<link rel="stylesheet" href="../../css/alicia-lab01.css">
</head>
<body>
	<header>
		<div class="caja1"></div>
		<div class="caja2">
			<div class="a"></div>
			<div class="b"></div>
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
		</div>
	</header>
	<section>
		<article>
			<div class="caja3">
				<div class="hijo1"></div>
				<div class="hijo2"></div>
			</div>
			<div class="caja4">
				<div class="f"></div>
				<div class="g"></div>
				<div class="h"></div>
				<div class="i"></div>
				<div class="j"></div>
				<div class="k"></div>
				<div class="l"></div>
			</div>
		</article>
	</section>
	<section>
		<article>
			<div class="caja5">
				<div class="primero">
					<div class="one"></div>
					<div class="two">
						<div class="primer"></div>
					</div>
					<div class="three"></div>
					<div class="four">
						<div class="segund"></div>
					</div>
					<div class="five"></div>
				</div>
				<div class="segundo"></div>
			</div>
		</article>
	</section>
	<footer></footer>
</body>
</html>