<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 2</title>
	<link rel="stylesheet" href="../../css/xiomara_ej2.css">
</head>
<body>
	<header>
		<article>
			<div class="head1">
				<div class="hijo1"></div>
				<div class="hijo2">
					<div class="telefono">
						<div class="icono"></div>
					</div>
					<div class="partners"></div>
					<div class="singin"></div>
				</div>
			</div>
		</article>
		<article>
			<div class=head2">
				<div class="parte1">
					<div class="logotipo"></div>
				</div>
				<div class="parte2">
					<div class="home"></div>
					<div class="about"></div>
					<div class="ps"></div>
					<div class="oil"></div>
					<div class="contact"></div>
				</div>
			</div>
		</article>
	</header>
