<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 2</title>
	<link rel="stylesheet" href="../../css/xiomara_ej2.css">
</head>
<body>
	<header>
		<article>
			<div class="head1">
				<div class="hijo1"></div>
				<div class="hijo2">
					<div class="telefono">
						<div class="icono"></div>
					</div>
					<div class="partners"></div>
					<div class="singin"></div>
				</div>
			</div>
		</article>
		<article>
			<div class=head2">
				<div class="parte1">
					<div class="logotipo"></div>
				</div>
				<div class="parte2">
					<div class="home"></div>
					<div class="about"></div>
					<div class="ps"></div>
					<div class="oil"></div>
					<div class="contact"></div>
				</div>
			</div>
		</article>
	</header>
	<section>
		<article>
			<article id="delgadito"></article>
			<article id="delgadito2"></article>
		</article>
		<article>
			<article id="banner">
				<div class="cajanegra">
					<div class="part1">
						<div class="services"></div>
					</div>
					<div class="part2">
						<div class="texto"></div>
					</div>
					<div class="part3">
						<div class="more"></div>
					</div>
				</div>
			</article>
		</article>
		<article>
			<article id="loren">
				<div class="par1">
					<div class="a">
						<div class="tex"></div>
					</div>
					<div class="b">
						<div class="trelleno"></div>
					</div>
					<div class="c">
						<div class="vermas"></div>
					</div>
				</div>
				<div class="par2"></div>
			</article>
		</article>
		<article>
			<article id="imagenes">
				<div class="vertical">
					<div class="d">
						<div class="d1"></div>
						<div class="d2">
							<div class="cuadrito"></div>
						</div>					
					</div>
					<div class="e">
						<div class="e1"></div>
						<div class="e2">
							<div class="cuadrito2"></div>
						</div>
					</div>
				</div>
				<div class="vertical2">
					<div class="f">
						<div class="f1"></div>
						<div class="f2">
							<div class="cuadrito3"></div>
						</div>
					</div>
					<div class="g">
						<div class="g1"></div>
						<div class="g2">
							<div class="cuadrito4"></div>
						</div>
					</div>
				</div>
				<div class="vertical3">
					<div class="h">
						<div class="h1"></div>
						<div class="h2">
							<div class="cuadrito5"></div>
						</div>
					</div>
					<div class="i">
						<div class="i1"></div>
						<div class="i2">
							<div class="cuadrito6"></div>
						</div>
					</div>
				</div>
			</article>
		</article>
		<article>
			<article id="about">
				<div class="grua"></div>
				<div class="textito">
					<div class="j">
						<div class="mayust"></div>
						<div class="info"></div>
					</div>
					<div class="k">
						<div class="texpeque"></div>
					</div>
				</div>
			</article>
		</article>
		<article>
			<article id="negro">
				<div class="partei">
					<div class="contactanos"></div>
					<div class="name">
						<div class="l"></div>
						<div class="m"></div>
					</div>
					<div class="email">
						<div class="n"></div>
						<div class="o"></div>
					</div>
					<div class="mensaje">
						<div class="p"></div>
						<div class="q"></div>
					</div>
				</div>
				<div class="parteii">
					<div class="arriba">
						<div class="phone"></div>
						<div class="rectangulo"></div>
					</div>
					<div class="abajo">
						<div class="send"></div>
					</div>
				</div>
			</article>
		</article>
	</section>
</body>
<footer>
	<div class="foot1">
		<div class="child">
			<div class="logo"></div>
		</div>
		<div class="child2">
			<div class="face"></div>
			<div class="yout"></div>
			<div class="twitter"></div>
		</div>
	</div>
	<div class="foot2">
		<div class="child3">
			<div class="r"></div>
			<div class="s"></div>
			<div class="t"></div>
			<div class="u"></div>
			<div class="v"></div>
			<div class="w"></div>
		</div>
		<div class="child4">
			<div class="x"></div>
		</div>
	</div>
</footer>
