<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>xiomaralab2</title>
	<link rel="stylesheet" href="../../css/xiomara_lab.css">
</head>
</body>
</html>
<header>
	<div class="espaciosuperior">
		<div class="espblanco"></div>
		<div class="icono"></div>
		<div class="numerotel"></div>
		<div class="ourpartners"></div>
		<div class="moreinfo"></div>
		<div class="singin"></div>
	</div>
	<div class="espacioinferior">
		<div class="logo"></div>
		<div class="espacio"></div>
		<div class="home"></div>
		<div class="knowus"></div>
		<div class="brands"></div>
		<div class="corporate"></div>
		<div class="blog"></div>
		<div class="comunity"></div>
		<div class="contac"></div>
	</div>
</header>
<body>
	<section>
		<article>
			<article id="a1">
				<div class="banner">
					<div class="cajaflot">
						<div class="conocenos"></div>
						<div class="texrell"></div>
						<div class="mas"></div>
					</div>
				</div>
		</article>
		<article>
			<article id="a2">
				<div class="child1">
					<div class="imagen"></div>
				</div>
				<div class="child2">
					<div class="texa">
						<div class="uno"></div>
						<div class="dos"></div>
					</div>
					<div class="texm"></div>
					<div class="texb">
						<div class="one"></div>
						<div class="two"></div>
					</div>
				</div>
				<div class="child3">
					<div class="arriba">
						<div class="juan"></div>
						<div class="tu"></div>
					</div>
					<div class="medio"></div>
					<div class="bajo">
						<div class="pedro"></div>
						<div class="jose"></div>
					</div>
				</div>
			</article>
			<article>
				<article id="lociones">
				<div class="odin">
					<div class="loki"></div>
					<div class="thor">
						<div class="thorcito">
							<div class="textillo">
								<div class="hijito1"></div>
								<div class="hijito2"></div>
								<div class="hijito3"></div>
								<div class="hijito4"></div>
							</div>
							<div class="image"></div>
						</div>
						<div class="thorsito2">
							<div class="imagenloca"></div>
							<div class="textoloco">
								<div class="text"></div>
								<div class="text2"></div>
								<div class="text3"></div>
								<div class="text4"></div>
							</div>
						</div>
					</div>
				</div>
				</article>
			</article>
			<article>
				<article id="rectangulito"></article>
			</article>
			<article>
				<article id="feisbu">
					<div class="parte1"></div>
					<div class="parte2"></div>
					<div class="parte3"></div>
				</article>
			</article>
	</section>
	