<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>xiomaralab2</title>
	<link rel="stylesheet" href="../../css/xiomara_lab.css">
</head>
</body>
</html>
<header>
	<div class="espaciosuperior">
		<div class="espblanco"></div>
		<div class="icono"></div>
		<div class="numerotel"></div>
		<div class="ourpartners"></div>
		<div class="moreinfo"></div>
		<div class="singin"></div>
	</div>
	<div class="espacioinferior">
		<div class="logo"></div>
		<div class="espacio"></div>
		<div class="home"></div>
		<div class="knowus"></div>
		<div class="brands"></div>
		<div class="corporate"></div>
		<div class="blog"></div>
		<div class="comunity"></div>
		<div class="contac"></div>
	</div>
</header>
<body>
	