<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 3</title>
	<link rel="stylesheet" href="../../css/xiomara_tarea3.css">
</head>
<body>
	<div id="contenedor">
		<header id="header">
			<div class="imagen">
				<img src="../../img/logo-header.png" class="coffee">
			</div>
			<div class="texto">
				<div class="texto1">
					<h1>Coffee Great Plain "GOLD"</h1>
				</div>
				<div class="texto2">
					<h3>our tradition is the best</h3>
				</div>
			</div>
		</header>
		<section>
			<article id= "art1">
				<div class="child1">
					<h2>Know about our history</h2>
				</div>
				<div class="child2">
					<h3>
						On December 12, 2002, the first Juan Valdez® Café store opened its door at the El Dorado international airport in Bogotá, with a dream story and great achievements for Colombian premium coffee.
					</h3>
				</div>
				<div class="child3">
					<h3>
						The first international store was opened in the city of Washington D.C. We are currently in New York and continue to strongly develop our presence in and aorund Miami.
					</h3>
				</div>
			</article>
			<article id= "art2">
				<div class="a">
					<img src="../../img/img1.png">
				</div>
				<div class="b">
					<div class="hijo1">
						<h2>Discover Your Perfect Cup</h2>
					</div>
					<div class="hijo2">
						<h3>
							We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.
						</h3>
					</div>
					<div class="hijo3">
						<h3>..this is a great cafe</h3>
					</div>
				</div>
			</article>
			<article id="art3">
				<div class="c">
					<div class="one">
						<h2>First Shop Origins...</h2>
					</div>
					<div class="two">
						<h3>
							In 2013 we inaugurated the first Origins store and began the development of a new experience. the way for the creation of the perfect cup.
						</h3>
					</div>
				</div>
				<div class="d">
					<div class="tittle">
						<h2>Our design...</h2>
					</div>
					<div class="content">
						<h3>
							The design of the store and the variety of colognes of Colombian origin prepared with new methods paved.
						</h3>
					</div>
				</div>
			</article>
			<article id="art4">
				<div class="e">
					<img src="../../img/article4.png" width="100%" height="400px">
				</div>
			</article>
			<article id="art5">
				<div class="f">
					<div>
						<h2>We Are Over 3'000.000 Of Friends On Facebook</h2>
					</div>
					<div>
						<h3>
							With the opnening of Juan Valdez® coffee shops in different countries we have consolidated a digital comunity conected around the world that itneracts daily with the brand and motivates us to continue improving. 
						</h3>
					</div>
				</div>
			</article>
		</section>
		<footer>
			<div></div>
			<div></div>
			<div></div>
		</footer>
	</div>
</body>
</html>
			