<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarea 4</title>
	<link rel="stylesheet" href="../../css/xiomara_tarea4.css">
</head>
<body>
	<header id="header">
		<div class="padre">
			<div class="imagen">
				<img src="../../img/icono_logo.png" class="img_center">
			</div>
			<div class="contenedor">
			<div class="menu">
			<ul>		
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Sevices</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact Us</a></li>
		</ul>
			</div>
			</div>
		</div>
	</header>
	<section>
		<div class="banner">
			<div class="imagen1">
				<img src="../../img/persona.png">
			</div>
			<div class="text1">
				<h1>Discover Our Brand</h1>
			</div>
			<div class="text2">
				<p>
					<h3><br><br><br>Today, new technologies applied to knowledge, culture and solidarity, give us more opportunitiesthan ever to work successfully in the transformation of society. Fundación Telefónica has been using them since 1998 to awaken these ideas through proyects that fight for social development and the creation of opportunities in Europe and Latin America.</h3>
				</p>
			</div>
			<button class="juan">
				<h4>Know more</h4>
			</button>
			<button class="tu">
				<h4>Contact us</h4>
			</button>
			<button class="tri">
				<h4>Download</h4>
			</button>
		</div>
		</div>
	</section>
</body>
<footer>
</footer>
</html>