<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 3</title>
	<link rel="stylesheet" href="../../css/xiomara_tarea3.css">
</head>
<body>
	<div id="contenedor">
		<header id="header">
			<div class="imagen">
				<img src="../../img/logo-header.png" class="coffee">
			</div>
			<div class="texto">
				<div class="texto1">
					<h1>Coffee Great Plain "GOLD"</h1>
				</div>
				<div class="texto2">
					<h3>our tradition is the best</h3>
				</div>
			</div>
		</header>
		<section>
			<article id= "art1">
				<div class="child1">
					<h2>Know about our history</h2>
				</div>
				<div class="child2">
					<h3>
						On December 12, 2002, the first Juan Valdez® Café store opened its door at the El Dorado international airport in Bogotá, with a dream story and great achievements for Colombian premium coffee.
					</h3>
				</div>
				<div class="child3">
					<h3>
						The first international store was opened in the city of Washington D.C. We are currently in New York and continue to strongly develop our presence in and aorund Miami.
					</h3>
				</div>
			</article>
			<article id= "art2">
				<div class="a">
					<img src="../../img/img1.png" class="taza">
				</div>
				<div class="b">
					<div class="hijo1">
						<h2>Discover Your Perfect Cup</h2>
					</div>
					<div class="hijo2">
						<h3>
							We extend the experience to more stores, so that coffee lovers find their perfect cup enjoying the origins of espresso-based drinks.
						</h3>
					</div>
					<div class="hijo3">
						<h3>..this is a great cafe</h3>
					</div>
				</div>
			</article>
			<article id="art3"></article>
			<article id="art4"></article>
		</section>
		<footer>
			
		</footer>
	</div>
</body>
</html>
			