<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Parcial</title>
	<link rel="stylesheet" href="../../css/xiomara_parcial.css">
</head>
<body>
	<header id="barra">
		<div class="father">
			<div class="logo">
				<img src="../../img/icono_purple.png">
			</div>
			<div class="contenido">
				<div class="menu">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Our Services</a></li>
					<li><a href="">Our History</a></li>
					<li><a href="#">Examples</a></li>
					<li><a href="#">Lets Play</a></li>
					<li><a href="#">Photos</a></li>
					<li><a href="#">Administration</a></li>
					<li><a href="#">Delivery</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>
				</div>
			</div>
			<div class="boton">
				<button id="Registro"></button>
			</div>
		</div>
	</header>
</body>
<footer>
</footer>
</html>