<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 1</title>
	<link rel="stylesheet" href="../../css/xiomara.css">
</head>
<body>
	<header>
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	</header>
<body>
	<section>
		<article>
			<div>
				<div class="g"></div>
			</div>
		</article>	
		<article>
			<article id="auno">
				<div class="h"></div>
			</article>
			<div>
				<div class="separador"></div>
				<div class="i">
					<div class="i1"></div>
					<div class="i2">
						<div class="i2hijo1"></div>
						<div class="i2hijo2"></div>
						<div class="i2hijo3">
							<div class="i2hijo3uno"></div>
							<div class="i2hijo3dos"></div>
							<div class="i2hijo3tres">
								<div class="i2hijo3tresa"></div>
								<div class="i2hijo3tresb"></div>
								<div class="i2hijo3tresc"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="separador2"></div>
				<div class="j">
					<div class="j1"></div>
					<div class="j2">
						<div class="j2hijo1"></div>
						<div class="j2hijo2"></div>
						<div class="j2hijo3">
							<div class="j2hijo3uno"></div>
							<div class="j2hijo3dos"></div>
							<div class="j2hijo3tres">
								<div class="j2hijo3tresa"></div>
								<div class="j2hijo3tresb"></div>
								<div class="j2hijo3tresc"></div>
							</div>
						</div>  
					</div>  
				</div>
			</div>
			<div>
				<div class="separador3"></div>
				<div class="k">
					<div class="k1"></div>
					<div class="k2">
						<div class="k2hijo1"></div>
						<div class="k2hijo2"></div>
						<div class="k2hijo3">
							<div class="k2hijo3uno"></div>
							<div class="k2hijo3dos"></div>
							<div class="k2hijo3tres">
								<div class="k2hijo3tresa"></div>
								<div class="k2hijo3tresb"></div>
								<div class="k2hijo3tresc"></div>
							</div>
						</div>  
					</div>  
				</div>
				
			</div>
			<div>
				<div class="separador4"></div>
			</div>
			<div>
	</article>
	<article>
		<article id="rectangulo">
		<div class="rectangulopadre">
			<div class="hijo1"></div>
			<div class="hijo2">
				<div class="primero"></div>
				<div class="segundo">
					<div class="negro"></div>
					<div class="amarillo"></div>
				<div class="tercero"></div>
				<div class="cuarto">
					<div class="verde1"></div>
					<div class="verde2"></div>
					<div class="verde3"></div>
					<div class="quinto"></div>
				</div>
				</div>
			</div>
		</div>
		</article>
	</article>
		<article>
			<article id="ultimo">
				<div class="base">
					<div class="mayor">
						<div class="uno"></div>
						<div class="dos">
							<div class="mediano"></div>
							<div class="pequeño"></div>
							<div class="mediano2"></div>
						</div>
						<div class="tres"></div>
						<div class="cuatro">
							<div class="pparte"></div>
							<div class="sparte"></div>
							<div class="tparte"></div>
						</div>
						<div class="cinco"></div>
						<div class="seis">
							<div class="cuadro"></div>
							<div class="cuadrito"></div>
							<div class="cuadrog"></div>
						</div>
						<div class="siete"></div>
					</div>
					<div class="menor">
						<div class="mitadarriba">
							<div class="ppedazo"></div>
							<div class="spedazo">
								<div class="peq"></div>
								<div class="gran"></div>
							</div>
							<div class="tpedazo"></div>
						</div>
						<div class="mitadabajo">
							<div class="juan">
								<div class="juan1"></div>
								<div class="juan2"></div>
												<div class="juan3"></div>
								<div class="juan4"></div>
							</div>
							<div class="valdez"></div>
						</div>
					</div>
				</div>
			</article>
	</section>
</body>
<footer>
	<article>
		<article id="footie">
			<div class="foot1"></div>
			<div class="foot2">
				<div class="arriba">
					<div class="morado"></div>
					<div class="aqua"></div>
					<div class="verde"></div>
					<div class="gris"></div>
					<div class="rosado"></div>
					<div class="morado2"></div>
				</div>
				<div class="medio"></div>
				<div class="bajo"></div>
			</div>
		</article>
</footer>
</html>
						