<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PARCIAL</title>
	<link rel="stylesheet" href="../../css/ingrid_parcial.css">
</head>
<body>
	<header>
		<div class="cl1">
					<div class="img1"></div>
		</div>
		<div>
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
		</div>
		<div>
			<button>Ingresar</button>
		</div>
	</header>
<section>
	<article name="banner">
			<div id="banner">
				<div class="cl2">
					<div class="img2"></div>
				</div>
				<div>
					<div class="cl3">
						<div>
							<h1>We are Genius!!</h1>
							<br>
							<p>sdfmsjdfkls djfdskl jfsdkl dasdsd  sfjdsklfjsdlkfjsdklfjsdklfjs dklfsjdk lfjds klfsdfmlksdj sdklfjsdm  sdffsc akdsjmvklds fvmfdlkfvsdvm  dfs fsd  sfkdfmvlfdmvdsñvkmdvmksdvsñlf vb ssdad kmkvmlsdmvdlñvmlsdl ñkmvamskjcskcnds lañkdmvlsadkmsdklvdms ada asda v</p>
							<br>
							<p>sdfmsjdfkls djfdskl jfsdkl dasdsd  sfjdsklffjsdm  sdffsc akdsjmvklds fvmfdlkfvsd  sfkd fm lfayudaaaaaaD: asdaakdsjmvklds fvmfdlkf v</p>
							<br>
							<div>
								<button>Know more</button>
								<button>Contact us</button>
								<button>Download</button>
								<button>Send Us</button>
							</div>
						</div>
					</div>
					<div class="cl4">
						<div class="img3"></div>
					</div>
				</div>
			</div>
	</article>

	<article>
			<div id="art2">
				<div name="1">
					<div class="cl5">
						<div class="img4"></div>
					</div>
					<div class="cl4">
						<h2> FontEnd</h2>
						<hr>
						<p>mfdlkfvsdvm  dfs fsd  sfkdfmvlfdmvdsñvkmdvmksdvsñlf vb ssdad kmkvmlsdmvdlñ</p>
						<br>
						<p>mfdlkfvsdvm  dfs fsd  sfkdfmvlfdmvdsñvkmdvmksdvsñlf vb ssdad kmkvmlsdmvdlñ</p>
					</div>
				</div>
				<div name="2">
					<div class="cl6">
						<div class="img5"></div>
					</div>
					<div class="cl7">
						<h2> FontEnd</h2>
						<hr>
						<p>mfdlkfvsdvm  dfs fsd  sfkdfmvlfdmvdsñvkmdvmksdvsñlf vb ssdad kmkvmlsdmvdlñ</p>
					</div>
				</div>
				<div name="3">
					<div class="cl3">
						<div class="img4"></div>
					</div>
					<div class="cl4">
						<h2> FontEnd</h2>
						<hr>
						<p>mfdlkfvsdvm  dfs fsd  sfkdfmvlfdmvdsñvkmdvmksdvsñlf vb ssdad kmkvmlsdmvdlñ</p>
					</div>
				</div>
			</div>
		</article>
</section>

</body>
</html>


























