<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ingrid Barillas</title>
	<link rel="stylesheet" href="../../css/ingridbarillas.css">
</head>
<body>
	<header id="menu">
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	</header>
	<section>
		<div class="g_grande"></div>
	</section>
	<section>
		<div class="linea"></div>
	</section>
	<section>
		<div class="productos"></div>
	</section>

	<footer></footer>
</body>
</html>