<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TREA 4</title>
	<link rel="stylesheet" href="../../css/ingrid_tarea4.css">
</head>
<body>
	<header>
		<div class="cl1">
					<div class="img1"></div>
		</div>
		<div>
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
		</div>
	</header>
	<section>
	<article name="banner">
			<div id="banner">
				<div class="cl2">
					<div class="img2"></div>
				</div>
				<div>
				<div class="cl3">
					<div>
						<h1>Discover Our Brand</h1>
						<br>
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestibulum, duis arcu vestibulum id facilisi eu venenatis, semper non condimen di ullamcorper nascetur suspendisse, morbi leo pede quisque varius dui. Lectus potenti hac enim, euismod ornare nunc tortor aenean, curae suspendisse.</p>
						<br>
						<div>
							<button>Know more</button>
							<button>Contact us</button>
							<button>Download</button>
						</div>
					</div>
				</div>
				</div>
			</div>
	</article>
	<article>
			<div id="art2">
				<div name="1">
					<div class="cl4">
						<div class="img3"></div>
					</div>
					<div class="cl5">
						<h2>IFontEnd</h2>
						<hr>
					</div>
					<div class="p1">
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestiNeque habitasse vitae fringilla suspendisse integer nam, velit tempor sed wisi eget ac, vel gnis.buetur id, tristique at tincidunt ac elementum pede vivamus.</p>
					</div>
					<div class="p3">
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestiNeque habitasse vitae fringilla suspendisse integer nam, velit tempor sed wisi eget ac, vel gnis.buetur id, tristique at tincidunt ac elementum pede vivamus.</p>
					</div>
				</div>
				<div name="2">
					<div class="cl4">
						<div class="img4"></div>
					</div>
					<div class="cl5">
						<h2>IFontEnd</h2>
						<hr>
					</div>
					<div class="p1">
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestiNeque habitasse vitae fringilla suspendisse integer nam, velit tempor sed wisi eget ac, vel gnis.buetur id, tristique at tincidunt ac elementum pede vivamus.</p>
					</div>
					<div class="p3">
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestiNeque habitasse vitae fringilla suspendisse integer nam, velit tempor sed wisi eget ac, vel gnis.buetur id, tristique at tincidunt ac elementum pede vivamus.</p>
					</div>
				</div>
				<div name="3">
					<div class="cl4">
						<div class="img5"></div>
					</div>
					<div class="cl5">
						<h2>IFontEnd</h2>
						<hr>
					</div>
					<div class="p1">
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestiNeque habitasse vitae fringilla suspendisse integer nam, velit tempor sed wisi eget ac, vel gnis.buetur id, tristique at tincidunt ac elementum pede vivamus.</p>
					</div>
					<div class="p3">
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestiNeque habitasse vitae fringilla suspendisse integer nam, velit tempor sed wisi eget ac, vel gnis.buetur id, tristique at tincidunt ac elementum pede vivamus.</p>
					</div>
				</div>
				<div name="4">
					<div class="cl4">
						<div class="img4"></div>
					</div>
					<div class="cl5">
						<h2>IFontEnd</h2>
						<hr>
					</div>
					<div class="p1">
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestiNeque habitasse vitae fringilla suspendisse integer nam, velit tempor sed wisi eget ac, vel gnis.buetur id, tristique at tincidunt ac elementum pede vivamus.</p>
					</div>
					<div class="p3">
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestiNeque habitasse vitae fringilla suspendisse integer nam, velit tempor sed wisi eget ac, vel gnis.buetur id, tristique at tincidunt ac elementum pede vivamus.</p>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div id="art3">
				<div name="1">
					<div class="cl4">
						<div class="img3"></div>
					</div>
					<div class="cl5">
						<h2>IFontEnd</h2>
						<hr>
					</div>
					<div class="p1">
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestiNeque habitasse vitae fringilla suspendisse integer nam, velit tempor sed wisi eget ac, vel gnis.buetur id, tristique at tincidunt ac elementum pede vivamus.</p>
					</div>
					<div class="p3">
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestiNeque habitasse vitae fringilla suspendisse integer nam, velit tempor sed wisi eget ac, vel gnis.buetur id, tristique at tincidunt ac elementum pede vivamus.</p>
					</div>
				</div>
				<div name="2">
					<div class="cl4">
						<div class="img4"></div>
					</div>
					<div class="cl5">
						<h2>IFontEnd</h2>
						<hr>
					</div>
					<div class="p1">
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestiNeque habitasse vitae fringilla suspendisse integer nam, velit tempor sed wisi eget ac, vel gnis.buetur id, tristique at tincidunt ac elementum pede vivamus.</p>
					</div>
					<div class="p3">
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestiNeque habitasse vitae fringilla suspendisse integer nam, velit tempor sed wisi eget ac, vel gnis.buetur id, tristique at tincidunt ac elementum pede vivamus.</p>
					</div>
				</div>
				<div name="3">
					<div class="cl4">
						<div class="img5"></div>
					</div>
					<div class="cl5">
						<h2>IFontEnd</h2>
						<hr>
					</div>
					<div class="p1">
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestiNeque habitasse vitae fringilla suspendisse integer nam, velit tempor sed wisi eget ac, vel gnis.buetur id, tristique at tincidunt ac elementum pede vivamus.</p>
					</div>
					<div class="p3">
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestiNeque habitasse vitae fringilla suspendisse integer nam, velit tempor sed wisi eget ac, vel gnis.buetur id, tristique at tincidunt ac elementum pede vivamus.</p>
					</div>
				</div>
				<div name="4">
					<div class="cl4">
						<div class="img4"></div>
					</div>
					<div class="cl5">
						<h2>IFontEnd</h2>
						<hr>
					</div>
					<div class="p1">
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestiNeque habitasse vitae fringilla suspendisse integer nam, velit tempor sed wisi eget ac, vel gnis.buetur id, tristique at tincidunt ac elementum pede vivamus.</p>
					</div>
					<div class="p3">
						<p>Lorem ipsum dolor sit amet, vel id vitae vivamus. In vestiNeque habitasse vitae fringilla suspendisse integer nam, velit tempor sed wisi eget ac, vel gnis.buetur id, tristique at tincidunt ac elementum pede vivamus.</p>
					</div>
				</div>
			</div>
		</article>


		
	</section>
<footer>
		<p>BM14003</p>
		<p>Ingrid Barillas</p>
	</footer>
</body>
</html>













