<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PARCIAL</title>
	<link rel="stylesheet" href="../../css/ingrid_parcial.css">
</head>
<body>
	<header>
		<div class="cl1">
					<div class="img1"></div>
		</div>
		<div>
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our History</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
		</div>
		<div>
			<button>Ingresar</button>
		</div>
	</header>
<section>
	<article name="banner">
			<div id="banner">
				<div class="cl1">
					<div class="img1"></div>
				</div>
				<div class="cl2">
					<div>
						<h1>Discovered our Brand</h1>
						<br>
						<p>sdfmsjdfkls djfdskl jfsdkl dasdsd  sfjdsklfjsdlkfjsdklfjsdklfjs dklfsjdk lfjds klfsdfmlksdj sdklfjsdm  sdffsc akdsjmvklds fvmfdlkfvsdvm  dfs fsd  sfkdfmvlfdmvdsñvkmdvmksdvsñlf vb ssdad kmkvmlsdmvdlñvmlsdl ñkmvamskjcskcnds lañkdmvlsadkmsdklvdms ada asda v</p>
						<br>
						<div>
							<button>Download</button>
							<button>Contact us</button>
						</div>
					</div>
				</div>
			</div>
	</article>
</section>

</body>
</html>


























