<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ingrid Barillas</title>
	<link rel="stylesheet" href="../../css/ingridbarillas.css">
</head>
<body>
	<header id="menu">
		<div class="child1">
			<div class="a"></div>
			<div class="b"></div>
		</div>
		<div class="child2">
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
		</div>
	</header>
	<section>
		<article>
			<div class="g_grande"></div>
		</article>	
	</section>
	<section>
		<article>
			<div class="linea"></div>
		</article>
	</section>
	<section>
		<article>
			<div class="productos">
				<div class="prod1">
					<div class="p1"></div>
					<div class="p2"></div>
					<div class="p3"></div>
					<div class="p4">
						<div class="p4a"></div>
				</div>
			</div>
			<div class="prod2">
				<div class="p1b"></div>
				<div class="p2b"></div>
				<div class="p3b"></div>
				<div class="p4b">
					<div class="p4ba"></div>
				</div>
			</div>
			<div class="prod3">
				<div class="p1c"></div>
				<div class="p2c"></div>
				<div class="p3c"></div>
				<div class="p4c">
					<div class="p4ca"></div>
				</div>
			</div>
		</div>
		</article>
	</section>

	<section>
		<article>
			<div class="cuadro3">
				<div class="c3izq"></div>
				<div class="c3der">
					<div class="cder1"></div>
					<div class="cder2">
						<div class="primer">
							<div class="cder2aa"></div>
							<div class="cder2ab"></div>
						</div>	
						<div class="segund"></div>
						<div class="tercer">
							<div class="hijo"></div>
						</div>
					</div>
					<div class="cder3"></div>
				</div>
			</div>
		</article>
	</section>	

	<section>
		<article>
			<div class="cuadro4">
				<div class="ciz">
					<div class="cuadrogr">
						<div class="c01"></div>
						<div class="c02"></div>
						<div class="c03"></div>
						<div class="c04"></div>
						<div class="c05"></div>
						<div class="c06"></div>
					</div>
					<div class="cuadrochic"></div>
				</div>
				<div class="prim"></div>
				<div class="seg">
					<div class="pqtt"></div>
				</div>
			</div>
		</article>
	</section>
		<footer class="pie">
			<div class="iz1"></div>
				<div class="parriba">
					<div class="hij1"></div>
					<div class="hij2"></div>
					<div class="hij3"></div>
					<div class="hij4"></div>
				</div>
				<div class="pabajo"></div>
		</footer>
</body>
</html>