<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarea 3</title>
	<link rel="stylesheet" href="../../css/ingrid_tarea3.css">
</head>
<body>
	<div id="cont"> 
	<header name="encabezado">
		<div class="cl1">
			<div class="img1"></div>
		</div>
		<div class="cl2">
			<div>
				<h1>Coffee Great Plain "GOLD"</h1>
			</div>
			<div>
				<p>our tradition is the best</p>
			</div>
		</div>
	</header>

	<section name="cuerpo">
		<article name=parte1>
			<div>
				<h2>know about our history</h2>
			</div>
			<div>
			<p>
				On December 12 2002, the first Juan Valdez® Café store opened its doors at El Dorado International Airport in Bogota. This was the beginning of a process that intended to introduce more and more people to premium Colombian coffee.</p> <br>
				<p>We opened our first international store in Washington D.C. in 2004. Today we are also in New York and Miami, where we are actively expanding our presence. We are continuing with the process of international expansion.</p>
				<br><br>
			</div>
		</article>

		<article>
			<div class="c2">
				<div class="cl3">
					<div class="img2"></div>
				</div>
				<div class="cl4">
						<h2>Discover Your Perfect Cup</h2>
						<p>We extend the experience to more stores, so that coffee lovers find their  perfect cup enjoying the origins of espresso-based drinks.</p>
					<br>
					<div>
						<p>..this is a great cafe</p>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="linea1"></div>
		</article>
		<article>
			<div class="c3">
				<div class="first">
					<h2>First Shop Origins...</h2>
					<br>
						<p>In 2013 we inaugurated the first Origins store and began the development of a new experience. The way for the creation of the perfect cup.</p>
				</div>
			</div>
			<div class="c4">
				<div class="our">
					<h2>Our Design...</h2>
					<br>
						<p>The design of the store and the variety of colognes of Colombian origin prepared with new methods paved</p>
				</div>
			</div>
		</article>
		<article name="banner">
		<div id="banner">
				<div class="cl1">
					<div class="img1"></div>
				</div>
		</article>
	</section>
	<footer name="pie"></footer>
</div>
</body>
</html>