<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>laboratorio</title>
	<link rel="stylesheet" href="../../css/laboratorioingrid.css">
</head>
<body>
	<header id="menu">
		<div class="child1"></div>
		<div class="ourpartners"></div>
		<div class="sing"></div>
		<div class="weito"></div>
		<div class="more"></div>
	</header>
	<section>
		<div class="defree"></div>
		<div class="cont"></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</section>
</body>

</html>