<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>laboratorio</title>
	<link rel="stylesheet" href="../../css/laboratorioingrid.css">
</head>
<body>
	<header id="menu">
		<div class="child1"></div>
		<div class="ourpartners"></div>
		<div class="sing"></div>
		<div class="weito"></div>
		<div class="more"></div>
	</header>
	<section>
		<article>
		<div class="defree">
			<div class="cont1"></div>
			<div class="cont2"></div>
			<div class="cont3"></div>
			<div class="cont4"></div>
			<div class="cont5"></div>
			<div class="cont6"></div>
			<div class="cont7"></div>
			<div class="logo"></div>
		</div>
		<div class="c_grande">
			<div class="texto"></div>
			<div class="imagen"></div>
		</div>
		<div class="tres">
			<div class="imaizq"></div>
			<div class="tex1"></div>
			<div class="tex2"></div>
		</div>
		</article>
	</section>
</body>

</html>