<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EJERCICIO 3</title>
	<link rel="stylesheet" href="../../css/ingrid_media.css">
</head>
<body>
	<header>
		<div>
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Our People</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>
	<section>
		<article name="banner">
			<div id="banner">
				<div class="cl1">
					<div class="img1"></div>
				</div>
				<div class="cl2">
					<div>
						<h1>Discovered our Brand</h1>
						<br>
						<p>sdfmsjdfkls djfdskl jfsdkl dasdsd  sfjdsklfjsdlkfjsdklfjsdklfjs dklfsjdk lfjds klfsdfmlksdj sdklfjsdm  sdffsc akdsjmvklds fvmfdlkfvsdvm  dfs fsd  sfkdfmvlfdmvdsñvkmdvmksdvsñlf vb ssdad kmkvmlsdmvdlñvmlsdl ñkmvamskjcskcnds lañkdmvlsadkmsdklvdms ada asda v</p>
						<br>
						<div>
							<button>Download</button>
							<button>Contact us</button>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div id="art2">
				<div name "1">
					<div class="cl3">
						<div class="img2"></div>
					</div>
					<div class="cl4">
						<h2> FontEnd</h2>
						<hr>
						<p>mfdlkfvsdvm  dfs fsd  sfkdfmvlfdmvdsñvkmdvmksdvsñlf vb ssdad kmkvmlsdmvdlñ</p>
					</div>
				</div>
				<div name "2">
					<div class="cl3">
						<div class="img3"></div>
					</div>
					<div class="cl4">
						<h2> FontEnd</h2>
						<hr>
						<p>mfdlkfvsdvm  dfs fsd  sfkdfmvlfdmvdsñvkmdvmksdvsñlf vb ssdad kmkvmlsdmvdlñ</p>
					</div>
				</div>
				<div name "3">
					<div class="cl3">
						<div class="img4"></div>
					</div>
					<div class="cl4">
						<h2> FontEnd</h2>
						<hr>
						<p>mfdlkfvsdvm  dfs fsd  sfkdfmvlfdmvdsñvkmdvmksdvsñlf vb ssdad kmkvmlsdmvdlñ</p>
					</div>
				</div>
			</div>
		</article>
	</section>
	<footer></footer>
</body>
</html>