<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EJERCICIO 3</title>
	<link rel="stylesheet" href="../../css/ingrid_media.css">
</head>
<body>
	<header>
		<div>
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Our People</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>
	<section>
		<article></article>
		<article></article>
	</section>
	<footer></footer>
</body>
</html>