<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarea 2</title>
	<link rel="stylesheet" href="../../css/ingridbarillas2.css">
</head>
<body>
	<header id="menu">
		<div class="menuarriba">
			<div class="icono"></div>
			<div class="tel"></div>
			<div class="li1"></div>
			<div class="our"></div>
			<div class="li2"></div>
			<div class="sing"></div>
		</div>
		<div class="menuabajo">
			<div class="logo"></div>
			<div class="home"></div>
			<div class="about"></div>
			<div class="prod"></div>
			<div class="the"></div>
			<div class="contact"></div>
		</div>
		<div class="celeste"></div>
		<div class="azul"></div>
	</header>
	<section>
		<article>
			<div class="cuadro1">
				<div class="cgris">
					<div class="tit"></div>
					<div class="tex"></div>
					<div class="more"></div>
				</div>
			</div>
			<div class="lineanegra"></div>
		</article>
	</section>

	<section>
		<article>
			<div class="cuadro2">
				<div class="tit2"></div>
				<div class="tex2"></div>
				<div class="more2"></div>
			</div>
		</article>
	</section>
	<section>
		<article>
			<div class="cuadro3">
				<div class="h1">
					<div class="n1"></div>
					<div class="n2"></div>
					<div class="n3"></div>
				</div>
				<div class="h2">
					<div class="n4"></div>
					<div class="n5"></div>
					<div class="n6"></div>
				</div>
				<div class="h3">
					<div class="n7"></div>
					<div class="n8"></div>
					<div class="n9"></div>
				</div>
				<div class="h4">
					<div class="n10"></div>
					<div class="n11"></div>
					<div class="n12"></div>
				</div>
				<div class="h5">
					<div class="n13"></div>
					<div class="n14"></div>
					<div class="n15"></div>
				</div>
				<div class="h6">
					<div class="n16"></div>
					<div class="n17"></div>
					<div class="n18"></div>
				</div>
			</div>
		</article>
	</section>
	<section>
		<article>
			<div class="cuadro4">
				<div class="imagen"></div>
				<div class="dereazul">
					<div class="titulo"></div>
					<div class="parra1"></div>
					<div class="parra2"></div>
				</div>
			</div>
		</article>
	</section>
	<section>
		<article>
			<div class="cuadro5">
				<div class="contactanoss"></div>
				<div class="nombre"></div>
				<div class="c1"></div>
				<div class="mail"></div>
				<div class="c2"></div>
				<div class="mens"></div>
				<div class="c3"></div>
				<div class="phon"></div>
				<div class="c4"></div>
				<div class="send"></div>
			</div>
		</article>
	</section>
</body>
</html>