<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarea 2</title>
	<link rel="stylesheet" href="../../css/ingridbarillas2.css">
</head>
<body>
	<header id="menu">
		<div class="menuarriba">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="menuabajo">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</header>
	<section>
		<article>
			<div></div>
		</article>
	</section>
</body>
</html>