<!DOCTYPE html>
<html lang="en">
<head>
	 <meta charset="UTF-8">
	 <title>Carloscruz</title>
	 <link rel="stylesheet" href="../../css/karlos_parcial.css">
</head>
<body>
	<div class="contenedor">
		<header name="encabezado">
			<div name="caja1">
				<div class="imglogo"></div>
				<li><a href="#">Home </a></li>
				<li><a href="#">Our Services </a></li>
				<li><a href="#">Our history </a></li>
				<li><a href="#">Examples </a></li>
				<li><a href="#">Documentation </a></li>
				<li><a href="#">lets Play </a></li>
				<li><a href="#">Photos </a></li>
				<li><a href="#">Administration </a></li>
				<li><a href="#">Delivery </a></li>
				<li><a href="#">Contact Us </a></li>
				<button>Ingresar</button>
			</div>

		</header>
	</div>
</body>
</html>