<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>carloscruz</title>
		<link rel="stylesheet" href="../../css/karlos_tarea3.css">
</head>

<body>
	 <div class="contenedor">
      	 <header name="encabezado">
			<div class="caja1">
				<div class="imglogo"></div>
			</div>

			<div class="caja2">
			<div>
				<h4>Coffee Great Plain "GOLD"</h4>
				<h1>Our tradition is the best</h1>
		 	</div>
			</div>
		 </header>

		 <section name="cuerpo">
		 	<article name="Parte1">
		 		<div>
				<h2> Know about our history</h2>
				<br>
				<p>On December 12, 2002, the first Juan Valdez Café store opened its doors at the El Dorado international airport in Bogota, with a dream story and great achievement for colombian premium coffee. </p>
				<br>
				<p>The first international sotre was opened in the city of Washington D.C. We are currently in New York and continue to strongly develop our presence in and around Miami.</p>
				</div>
		 	</article>

 			<article name="Parte2">
 				<div class="c1">
				<div class="imgtaza"></div>
			    </div>
			    <div class="c2">
			    	<div>
			    	<h2>Discover Your Perfect Cup</h2>
			    	</div>
			    	<div>
					<p> we extend the experience to more stores, so that collee lovers lind their perfect cup enjoying the oring ol expresso-based drinks.
					</p>
					</div>
					<div>
					<h1>
					...this is a great cafe
					</h1>
			    	</div>
			    </div> 

			 </article> 
		    	
 			 <article name="Parte3">
 			 		 <div class="k0"></div>
 			 		 <div class="k1">
 			 		 	
 			 		 	 <div>
				 		 <h2>First Shop Origins...</h2>
				 		 </div>
						 <div>
					 	 <p>In 2013 we inagurated the first origins store and began the development of a new experience the way for the creation of the perfect cup.
						 </p>
						 </div>
						
			    	 </div>

 			 	     <div class="k2">
 			 	     	 <div>
			    	 	 <h2>Our design...</h2>
 			 	     	 </div>
 			 	     	 <div>
					 	 <p>The design of the store and the variety of colognes of colombian orign prepared with new method paved
						 </p>
 			 	     	 </div>
 			 	     	 </div>
 				
 			 </article>
			
			 <article name="parte4">
 				<div class="im">
 					<div class="imgjuan"></div>
 				</div>
 			 <article>
 				
 			 </article name="parte5">
 			 	<div class="cc">
 			 			 <div>
			    	 		 <h2>We Are Over 3'000.000 Of Friend On Facebook</h2>
 			 	     	 </div>
 			 	     	 <div>
					 	 	<p>With the opening of Juan Valdez coffee shops in different countries we hace consolidated a digital community connected arround the world that interacts daily with the brand and motivates us to continue improving.
						 	</p>
 			 	     	 </div>
 			 	</div>
		 	 </section>


		 	 <footer name=pie>
		 	 	<div class="f">
		 	 		<div class="ff">
		 	 			<h1>Copyright</h1>
		 	 		</div>
		 	 		<div class="ff1">
		 	 			<div class="imglog1"></div>
		 	 		</div>

		 	 		<div class="ff2">
		 	 			<button>Join now</button>
		 	 		</div>
		 	 	</div>
		 	 </footer>
	</div>
</body>