<!DOCTYPE html>
<html lang="en">
<head>
	 <meta charset="UTF-8">
	 <title>Carloscruz</title>
	 <link rel="stylesheet" href="../../css/karlos_tarea4.css">
</head>
<body>
	<div class="contenedor">
	         <header id="encabezado">
		 		<div id="menu">
				<li><a href="#"><div class="imgl"></div></a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our history</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact Us</a></li>
			    </div>
	         </header>	