<!DOCTYPE html>
<html lang="en">
<head>
	 <meta charset="UTF-8">
	 <title>Carloscruz</title>
	 <link rel="stylesheet" href="../../css/karlos_parcial.css">
</head>
<body>
	<div class="contenedor">
		<header name="encabezado">
			<<div id="menu">
				<li><a href="#"></a><div class="imglogo"></div></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our history</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Administration</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Contact Us</a></li>
				<button>Ingresar</button>
			</div>	


		</header>

		<article id="pa1">
			<div id="k">
			<div class="imgm">
			<div class="k1">
				 <h4>We are Genius!!</h4>
					<br>
				 <p>It had been rumored for a while that the two artist had beeen working on a song for biebers new album ppose, but when the tracklist of the album was reveañed ot was officially confirmed.</p>
					<br>
				 <p>The song tells the story of a relatioship, which is eing destroyed y rummor and hate. As a famous singer.</p>

				 <div>
				 	<button>Know more</button>
				 	<button>Contact Us</button>
				 	<button>Download</button>
				 	<button>Send us</button>
				 </div>
			</div>
			<div class="k2">
			<div class="imgm2"></div>
			</div>
			</div>

			</div>

			
		</article>
	</div>
</body>
</html>