<!DOCTYPE html>
<html lang="en">
<meta @charset= "utf-8">
 <head>
 	 <title>Carloscruz</title>
 	 <link rel="stylesheet" href="../../css/Karlos.css">
 </head>
 	<body>
 		<header id="encabezado">
 			<div class="hijo1">
 				<div class="z1"></div>
 				<div class="z2"></div>
 				<div class="z3"></div>
 			</div>
			

 			<div class="hijo2"> 

				<div class="y1"></div>
				<div class="y2"></div>
				<div class="y3"></div>
			</div>

 		</header>

 		<section class="Secc2">
 			<div class="x1"></div>
 			<div class="x2"></div>

 		</section>



 		<section class="Secc3">
 			<div class="w">
 			<div class="w1"> </div>
 			<div class="w2"> </div>
 			<div class="w3"> </div>
 			<div class="w4">
 				<div class="ww1"> </div>
 			 </div>
 			 </div>

 			 <section>
 			 	<div class="v">
 			<div class="v1"> </div>
 			<div class="v2"> </div>
 			<div class="v3"> </div>
 			<div class="v4">
 				<div class="vv1"> </div>
 			 </div>
 			 </div>

 			 </section>

 			  <section>
 			  	<div class="u">
 			 <div class="u1"> </div>
 			 <div class="u2"> </div>
 			 <div class="u3"> </div>
 			 <div class="u4">
 			 	<div class="uu1"> </div>
 			  </div>
 			  </div>

 			  </section>

 		</section>
 			
 			<section class="Secc4">
 				<div class="t1"></div>
 				<div class="t2"></div>

 			</section>

 	
 	</body> 