<!DOCTYPE html>
<html lang="en">
<head>
	 <meta charset="UTF-8">
	 <title>Carloscruz</title>
	 <link rel="stylesheet" href="../../css/karlos_tarea4.css">
</head>
<body>
	<div class="contenedor">
	         <header id="encabezado">
		 		<div id="menu">
				<li class="hhh"><a href="#"><div class="imglogo"></div></a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Our history</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">lets Play</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Contact Us</a></li>
			    </div>
	         </header>

	         <article id="seccion1">
			 <div id="s1">
			 <div class="imgfondo">
			 <div class="ps">
			 <div class="imgman"></div>
			 </div>
			 <div class="px">
				 <h4>Discover Our Brand</h4>
				 <br>
				 <p>Today, new technologies applied to knowledge, culture and solidarity, give us more opportunities than ever to work successfull in the transformation of society. Fundacion Telefonica has been using them since 1998 to awaken these ideas through projects that fight for social development and the creation of opportunities in europe and latin america.</p>
				 <br>
				 <div>
				 	<button>Know more</button>
				 	<button>Contact Us</button>
				 	<button>Download</button>
				 </div>
			</div>
			</div>
			</div>
			 </article>


			 <article id="seccion2">
				 <div class="a">
						<div class="a1">
						<div class="aa">
						<div class="imga1">
						<h2>IFront End</h2>
						</div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						</div>
					    </div>

				 		<div class="b1">
						<div class="bb">
						<div class="imgb1">
						<h2>Web Services</h2>
						</div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						</div>
						</div>

						<div class="c1">
						<div class="cc">
						<div class="imgc1">
						<h2>DataGuard</h2>
						</div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						</div>
						</div>

						<div class="d1">
						<div class="dd">
						<div class="imgd1">
						<h2>Tecno-In</h2>
						</div>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						<br>
						<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer Meteor or npm. Package managed installs don't include documentation, but do include our build system and readme.</p>
						</div>
						</div>


				 </div>


 				 </div>
			 </article>

				 