<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>portafolio-carloscruz</title>
	<link rel="stylesheet " type="text/css" href="../../css/karlos/bootstrap.css">
	<link rel="stylesheet" href="../../css/karlos/Style_porta.css">

<style>
		#topTop{
			display: none;
			text-decoration: none;
			position: fixed;
			bottom: 14px
			right:14px;
			overflow: hidden;
			width: 30px;
			height: 30px;
			border:none;
			text-indent: 100%;
			background: url("../../img/c1.png") no-repeat: 0px 0px;
		}
	</style>
</head>
<body>
	<header>
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">
				<div class="logotipo">
				<img src="../../img/karlos_img/logo.png" class="logo-fluid">
			    </div>
			</a>
			<a class="portafolio1 disabled" href="#">Portafolio Personal</a>

			<button class="navbar-toggler" type="button" 
			data-toggle="collapse" 
			data-target="#navbarNav" 
			aria-controls="navbarNav" 
			aria-expanded="false" 
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse float-right" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				  <li class="nav-item active">
				    <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#sec1">Inicio</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#">Perfil</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#">Ilustracion</a>
				  </li>

				   <li class="nav-item">
				    <a class="nav-link" href="#">Animacion</a>
				  </li>

				   <li class="nav-item">
				    <a class="nav-link" href="#">Brading</a>
				  </li>

				   <li class="nav-item">
				    <a class="nav-link" href="#">Contactame</a>
				  </li>


				</ul>
				</div>
			</nav>
			</header>

</body>
</html>

