<!DOCTYPE html>
<html lang = "en">
<meta @charset = "utf-8">
<head>

	 <title>carloscruz</title>
     <link rel="stylesheet" href="../../css/karloslab.css">

</head>

<body>
 		<header id="menlab">

 			<div class="m">

 				<div class="m1"></div>
 				<div class="m2"></div>
 				<div class="m3"></div>
 				<div class="m4"></div>

 			</div>

 			<div class="mm"> 

 				<div class="mm1"></div>
 				<div class="mm2"></div>
 				<div class="mm3"></div>
 				<div class="mm4"></div>
 				<div class="mm5"></div>
 				<div class="mm6"></div>
 				<div class="mm7"></div>
 				<div class="mm8"></div>

 			</div>

         </header>

 		<section class="l">

 			<div class="l1">
 				<div class="ll1">
 					 <div class="ll2"></div>
 				 </div>
 					 <div class="lc"></div>
 					 <div class="lc1">
 							<div class="lc2"></div>
 					 </div>
 			</div>
 						

 		</section>


 		<section class="k">
 			
 			<div class=" k1"></div>

 			<div class=" k2">
 				<div class="kk">
 					<div class="kk1"></div>
 					<div class="kk2"></div>
 					<div class="kk3">
 						<div class="kkk"></div>
 					 </div>
			    </div>

			 <div class="kp">
 					<div class="kp1"></div>
 					<div class="kp2"></div>
 					<div class="kp3">
 						<div class="kkp">
 							<div class="kkpp"></div>
 						</div>

 					</div>

 		</section>

		 <section class="y">

		 		<div class="y1">
		 			
		 			<div class="yy"></div>

		 			<div class="yy1">
		 				<div class="yya1"></div>
		 				<div class="yyb1"></div>
		 			</div>

		 			<div class="yy2">
		 				<div class="yya2"></div>
		 				<div class="yyb2"></div>
		 			</div>


		 		</div>

			

		 </section>

