<!DOCTYPE html>
<html lang = "en">
<meta @charset = "utf-8">
<head>

	 <title>carloscruz</title>
     <link rel="stylesheet" href="../../css/karloslab.css">

</head>

<body>
 		<header id="menlab">

 			<div class="m">

 				<div class="m1"></div>
 				<div class="m2"></div>
 				<div class="m3"></div>
 				<div class="m4"></div>

 			</div>

 			<div class="mm"> 

 				<div class="mm1"></div>
 				<div class="mm2"></div>
 				<div class="mm3"></div>
 				<div class="mm4"></div>
 				<div class="mm5"></div>
 				<div class="mm6"></div>
 				<div class="mm7"></div>
 				<div class="mm8"></div>

 			</div>

         </header>

 		<section class="l">

 			<div class="l1">
 				<div class="ll1">
 					 <div class="ll2"></div>
 				 </div>
 					 <div class="lc"></div>
 					 <div class="lc1">
 							<div class="lc2"></div>
 					 </div>
 			</div>
 						

 		</section>


 		<section class="k">
 			
 			<div class=" k1"></div>

 			<div class=" k2">
 				<div class="kk">
 					<div class="kk1"></div>
 					<div class="kk2"></div>
 					<div class="kk3">
 						<div class="kkk"></div>
 					 </div>
			    </div>

			 <div class="kp">
 					<div class="kp1"></div>
 					<div class="kp2"></div>
 					<div class="kp3">
 						<div class="kkp">
 							<div class="kkpp"></div>
 						</div>

 					</div>

 		</section>

		 <section class="y">

		 		<div class="y1">
		 			
		 			<div class="yy"></div>

		 			<div class="yy1">
		 				<div class="yya1"></div>
		 				<div class="yyb1"></div>
		 			</div>

		 			<div class="yy2">

		 				<div class="yya2"></div>
		 				<div class="yyb2"></div>

		 			</div>

		 			<div class="yyy"></div>


		 		</div>

		 </section>


		 <section class="pc">

		 	<div class="pc1"></div>
		 	
		 </section>


		 <section class="i">

		 	<div class="i1"></div>
		 	<div class="i2"></div>
		 	<div class="i3"></div>
			
		 </section>


		 <section class="w">
		 	
		 	<div class="w1">

		 		<div class="ww1">
		 			<div class="www1"></div>
		 		</div>
		 		<div class="ww2">
		 			<div class="www2"></div>
		 		</div>
		 		<div class="ww3">
		 			<div class="www3"></div>
		 		</div>
		 		<div class="ww4">
		 			<div class="www4"></div>
		 		</div>
		 		<div class="ww5">
		 			<div class="www5"></div>
		 		</div>
		 		<div class="ww6">
		 			<div class="www6"></div>
		 		</div>
				<div class="ww7">
					<div class="www7"></div>
				</div>
		 		<div class="ww8">
		 			<div class="www8"></div>
		 		</div>
		 		<div class="ww9">
		 			<div class="www9"></div>
		 		</div>
		 		<div class="ww10">
		 			<div class="www10"></div>
		 		</div>


		 	</div>


		 	<div class="w2">
		 		
		 		<div class="wa2"></div>
		 		<div class="wb2"></div>
		 		<div class="wc2"></div>
		 		<div class="wd2"></div>
		 		<div class="we2"></div>

		 	</div>



		 	<div class="w3">
		 		
		 		<div class="wz">
		 			<div class="wy"></div>
		 		</div>
		 		<div class="wx"></div>
		 	</div>


		 </section>



		<footer class="pie">
			
			<div class="f">
				<div class="f1">
					<div class="fa1"></div>
					<div class="fb1"></div>
				</div>
			</div>


			<div class="ff">
				<div class="ff1">
					<div class="fq">
						<div class="fq1"></div>
						<div class="fq2"></div>
						<div class="fq3"></div>
						<div class="fq4"></div>
					</div>
				</div>
				<div class="ff2">
					<div class="fw"></div>
				</div>
			</div>






		</footer>
